Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

ci: use "prepare-environment" action
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/performance-test-base.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/theme-builder-pr.yml
  .github/workflows/theme-builder.yml
  .github/workflows/typescript-coverage.yml
  .github/workflows/versionate-docs.yml
Due: none

ci: delete old version cypress workflows
  .github/workflows/cypress-ct-17.yml
  .github/workflows/cypress-ct.yml
Due: none

ci: refactoring performance test workflow
  .github/workflows/performance-test-pr.yml
Due: none

chore: add comment why can't use parallel run performance testing
  .github/workflows/performance-test-pr.yml
Due: none

ci: create reusable workflow for cypress test
  .github/actions/prepare-environment/action.yml
  .github/workflows/cypress-common.yml
  .github/workflows/cypress.yml
Due: none

feat(plasma-tokens-utils): Add support new format tokens value to generate
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/plasma-tokens-utils/src/functions.ts
  utils/plasma-tokens-utils/src/generators/generateTokenSet.ts
  utils/plasma-tokens-utils/src/types.ts
  utils/plasma-tokens-utils/src/utils/objectToCSSVariables.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Update `src` directory with new tokens
  packages/plasma-tokens/src/brands/asdk/index.ts
  packages/plasma-tokens/src/themes/asdk__dark.ts
  packages/plasma-tokens/src/themes/asdk__light.ts
  packages/plasma-tokens/src/themes/index.ts
Due: eslint --fix, prettier --write

fix(plasma-core): Add promise resolve for forceUpdate method in `Popup` and `Tooltip` components
  packages/plasma-core/src/components/Popup/Popup.tsx
  packages/plasma-hope/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, prettier --write, stylelint

ci: disable rebase for renovate
  renovate.json
Due: prettier --write --parser json

ci: delete unnecessary examples workflows
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/examples-pr.yml
  .github/workflows/examples.yml
Due: none

docs: delete unnecessary mention in readme files
  packages/plasma-tokens/README.md
  website/plasma-ui-docs/docs/design/tokens.mdx
  website/plasma-web-docs/docs/design/tokens.mdx
Due: prettier --write --parser markdown

feat(plasma-tokens-native): Add generate complex gradient for iOS
  utils/plasma-tokens-native/src/generator/formatters/colorIosSwift.ts
  utils/plasma-tokens-native/src/generator/transformers/gradientSwift.ts
  utils/plasma-tokens-native/src/types.ts
Due: eslint --fix, prettier --write

ci: delete unnecessary unit test/lint workflow
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/release.yml
Due: none

ci: extend unit test/lint workflow
  .github/workflows/tests.yml
Due: none

feat(plasma-tokens): Add theme ASDK
  packages/plasma-tokens/data/themes/asdk.json
Due: prettier --write --parser json

ci: delete workflow for react 17
  .github/workflows/tests-17.yml
Due: none

ci: add change detection logic
  .github/workflows/change-detection.yml
  .github/workflows/cypress.yml
Due: none

feat(plasma-tokens): Add theme plasmab2cstyles
  packages/plasma-tokens/data/themes/plasmab2cstyles.json
Due: prettier --write --parser json

ci: skip workflow "perftest" if nothing changes from components
  .github/workflows/performance-test-base.yml
  .github/workflows/performance-test-pr.yml
Due: none

ci: change detection as js script
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/cypress.yml
Due: eslint --fix, prettier --write

ci: dele temp
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/cleanup-cache-pr.yml
  .github/workflows/cypress-common.yml
  .github/workflows/cypress.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/release-mq.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .github/workflows/theme-builder-pr.yml
  .github/workflows/theme-builder.yml
  .github/workflows/typescript-coverage.yml
  .github/workflows/versionate-docs.yml
Due: none

ci: 1
  .github/processing-scope.js
  .github/workflows/change-detection.yml
Due: eslint --fix, prettier --write

ci: w1
  .github/workflows/performance-test-pr.yml
Due: none

ci: test
  website/plasma-ui-docs/docs/components/Button.mdx
Due: none

fix: release workflow
  .github/workflows/release.yml
Due: none

fix: release workflow
  .github/workflows/release.yml
  package.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
