Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

fix(plasma-new-hope): improved disabled
  packages/plasma-new-hope/src/components/Button/_disabled/base.ts
Due: eslint --fix, prettier --write

fix(plasma-new-hope): fix .gitignore
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/styled-components/package.json
Due: prettier --write --parser json

refactor(plasma-b2c): Button: add shift / fix contentPadding
  packages/plasma-b2c/src/components/Button/Button.config.ts
  packages/plasma-b2c/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c, plasma-web): rename Popup to Popover
  packages/plasma-b2c/src/components/Calendar/Calendar.stories.tsx
  packages/plasma-b2c/src/components/Dropdown/index.ts
  packages/plasma-b2c/src/components/Popover/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/src/components/Popover/Popover.tsx
  packages/plasma-core/src/components/Popover/index.ts
  packages/plasma-core/src/hooks/index.ts
  packages/plasma-core/src/hooks/useFocusTrap.ts
  packages/plasma-core/src/index.ts
  packages/plasma-core/src/utils/focusManager.ts
  packages/plasma-core/src/utils/scopeTab.ts
  packages/plasma-core/src/utils/tabbable.ts
  packages/plasma-hope/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownMenu.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownPopover.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownUncontrolled.tsx
  packages/plasma-hope/src/components/Dropdown/index.ts
  packages/plasma-hope/src/components/Dropdown/keyboardNavigation/useKeyboardNavigation.ts
  packages/plasma-hope/src/components/Dropdown/withAssistiveDropdown.tsx
  packages/plasma-hope/src/components/Popover/index.ts
  packages/plasma-hope/src/hooks/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-web/src/components/Calendar/Calendar.stories.tsx
  packages/plasma-web/src/components/Dropdown/index.ts
  packages/plasma-web/src/components/Popover/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web, plasma-b2c, plasma-ui): basic non-block Popup
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Popup/Popup.stories.tsx
  packages/plasma-b2c/src/components/Popup/index.ts
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/Popup/Popup.tsx
  packages/plasma-core/src/components/Popup/PopupContext.tsx
  packages/plasma-core/src/components/Popup/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/Popup/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Popup/Popup.stories.tsx
  packages/plasma-web/src/components/Popup/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

chore(plasma-web-docs): use "NODE_OPTIONS=--openssl-legacy-provider"
  website/plasma-web-docs/package.json
Due: prettier --write --parser json

chore(plasma-web-docs): add path to "plasma-hope" for parse
  website/plasma-web-docs/docusaurus.config.js
Due: eslint --fix, prettier --write

fix(plasma-tokens): Update gradient tokens in `stylesSalute` scheme for ios and android platforms
  packages/plasma-tokens/data/themes/stylesSalute.json
Due: prettier --write --parser json

ci: fix perftest metrics sending
  scripts/perftool-send-report.js
Due: eslint --fix, prettier --write

ci("Main Documentation and Storybook"): checkout to "master" branch
  .github/workflows/documentation-main.yml
Due: none

fix(plasma-web, plasma-b2c): new Popup in Notification
  packages/plasma-b2c/src/components/Popup/Popup.stories.tsx
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/Popover/Popover.tsx
  packages/plasma-core/src/components/Popup/Popup.tsx
  packages/plasma-core/src/components/Popup/PopupContext.tsx
  packages/plasma-hope/src/components/Notification/NotificationsPopup.tsx
  packages/plasma-hope/src/components/Notification/NotificationsProvider.tsx
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
  packages/plasma-web/src/components/Popup/Popup.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json

Update versions
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-tokens-native/package-lock.json
  utils/plasma-tokens-native/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore(auto): fix upload-assets plugin order
  .autorc.json
  package.json
Due: prettier --write --parser json

fix(plasma-core): refactoring Popover, Popup
  packages/plasma-core/src/components/Popover/Popover.tsx
  packages/plasma-core/src/components/Popup/Popup.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add generate css files with color tokens
  packages/plasma-tokens/.gitignore
  packages/plasma-tokens/lib/creators/createCSSStyles.ts
  packages/plasma-tokens/lib/creators/index.ts
  packages/plasma-tokens/lib/generate.ts
  packages/plasma-tokens/package.json
  utils/plasma-tokens-utils/src/generators/generateFile.ts
  utils/plasma-tokens-utils/src/generators/generateThemes.ts
  utils/plasma-tokens-utils/src/generators/generateThemesCSS.ts
  utils/plasma-tokens-utils/src/generators/getThemeData.ts
  utils/plasma-tokens-utils/src/generators/index.ts
  utils/plasma-tokens-utils/src/types.ts
  utils/plasma-tokens-utils/src/utils/attachToThemesMode.ts
  utils/plasma-tokens-utils/src/utils/index.ts
  utils/plasma-tokens-utils/src/utils/jsToCss.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add generate css files with typo tokens
  packages/plasma-tokens/lib/creators/createCSSStyles.ts
  packages/plasma-tokens/lib/generate.ts
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/plasma-tokens-utils/src/generators/generateFile.ts
  utils/plasma-tokens-utils/src/generators/generateTyposCSS.ts
  utils/plasma-tokens-utils/src/generators/index.ts
  utils/plasma-tokens-utils/src/types.ts
  utils/plasma-tokens-utils/src/utils/getMediaQuery.ts
  utils/plasma-tokens-utils/src/utils/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Update css vars in web themes from `src` directory
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
  packages/plasma-tokens/src/themes/sberHealth__dark.ts
  packages/plasma-tokens/src/themes/sberHealth__light.ts
  packages/plasma-tokens/src/themes/sbermarket__dark.ts
  packages/plasma-tokens/src/themes/sbermarket__light.ts
  packages/plasma-tokens/src/themes/sbermarket_business__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_business__light.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__light.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__light.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__light.ts
  packages/plasma-tokens/src/themes/sberonline__dark.ts
  packages/plasma-tokens/src/themes/sberonline__light.ts
  packages/plasma-tokens/src/themes/sberprime__dark.ts
  packages/plasma-tokens/src/themes/sberprime__light.ts
  packages/plasma-tokens/src/themes/stylesSalute__dark.ts
  packages/plasma-tokens/src/themes/stylesSalute__light.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens-utils): Add kebab case for css vars in web themes
  packages/plasma-tokens/lib/creators/createThemes.ts
  utils/plasma-tokens-utils/src/utils/objectToCSSShadowVariables.ts
  utils/plasma-tokens-utils/src/utils/objectToCSSVariables.ts
  utils/plasma-tokens-utils/src/utils/other.ts
Due: eslint --fix, prettier --write

feat(plasma-typo): Add extract typo objects and types
  packages/plasma-typo/src/archetypes/index.ts
  packages/plasma-typo/src/archetypes/mage.ts
  packages/plasma-typo/src/archetypes/plasma.ts
  packages/plasma-typo/src/archetypes/ruler.ts
  packages/plasma-typo/src/archetypes/sage.ts
  packages/plasma-typo/src/archetypes/sbermarket.ts
  packages/plasma-typo/src/archetypes/soulmate.ts
  packages/plasma-typo/src/compatible.ts
  packages/plasma-typo/src/helpers.ts
  packages/plasma-typo/src/index.ts
  packages/plasma-typo/src/mixins/applyHyphens.ts
  packages/plasma-typo/src/types.ts
Due: eslint --fix, prettier --write

feat: Update plasma theme-builder workflow
  .github/workflows/theme-builder-pr.yml
  .github/workflows/theme-builder.yml
Due: none

fix(plasma-theme-builder): Fix edit not default tokens in custom groups and routers
  website/plasma-theme-builder/src/components/App.tsx
  website/plasma-theme-builder/src/components/TokenForm/TokenForm.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json

Update versions
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json
