Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-ui): add cypress snapshots
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- Keyboard support -- Double slider.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- _disabled.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default focus.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with single.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop without onChange.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- with portal.snap.png
Due: none

feat(plasma-web): re-export SliderThumb from plasma-hope
  packages/plasma-web/src/components/Slider/Slider.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): add cypress test symlink
  packages/plasma-ui/src/components/Slider/Slider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export slider component
  packages/plasma-b2c/src/components/Slider/Slider.stories.tsx
  packages/plasma-b2c/src/components/Slider/Slider.tsx
  packages/plasma-b2c/src/components/Slider/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): add SliderThumb
  packages/plasma-hope/src/components/Slider/Slider.tsx
  packages/plasma-hope/src/components/Slider/index.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): slider move to core
  packages/plasma-b2c/src/components/Slider/Slider.stories.tsx
  packages/plasma-b2c/src/components/Slider/index.ts
  packages/plasma-b2c/src/components/Slider/types.ts
  packages/plasma-core/src/components/Slider/Double.tsx
  packages/plasma-core/src/components/Slider/Handle.tsx
  packages/plasma-core/src/components/Slider/Single.tsx
  packages/plasma-core/src/components/Slider/Slider.component-test.tsx
  packages/plasma-core/src/components/Slider/Slider.tsx
  packages/plasma-core/src/components/Slider/SliderBase.tsx
  packages/plasma-core/src/components/Slider/ThumbBase.tsx
  packages/plasma-core/src/components/Slider/index.ts
  packages/plasma-core/src/components/Slider/types.ts
  packages/plasma-core/src/components/Slider/utils.ts
  packages/plasma-core/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): add cypress tests symlink [Editable]
  packages/plasma-b2c/src/components/Editable/Editable.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export "Editable" component
  packages/plasma-b2c/src/components/Editable/Editable.stories.tsx
  packages/plasma-b2c/src/components/Editable/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): re-export "Editable" component
  packages/plasma-web/src/components/Editable/Editable.stories.tsx
  packages/plasma-web/src/components/Editable/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): add selectText, clearSelection methods
  packages/plasma-hope/src/utils/clearSelection.ts
  packages/plasma-hope/src/utils/index.ts
  packages/plasma-hope/src/utils/selectText.ts
Due: eslint --fix, prettier --write

feat(plasma-hope): add "Editable" component
  packages/plasma-hope/src/components/Editable/Editable.component-test.tsx
  packages/plasma-hope/src/components/Editable/Editable.tsx
  packages/plasma-hope/src/components/Editable/index.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add cypress tests symlink [Editable]
  packages/plasma-web/src/components/Editable/Editable.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add cypress Editable snapshots
  cypress/snapshots/web/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- empty.snap.png
  cypress/snapshots/web/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onBlur and onFocus.snap.png
  cypress/snapshots/web/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onChange.snap.png
  cypress/snapshots/web/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onPaste.snap.png
  cypress/snapshots/web/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- simple.snap.png
Due: none

feat(plasma-b2c): add cypress Editable snapshots
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- empty.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onBlur and onFocus.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onChange.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- onPaste.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-hope Editable -- simple.snap.png
Due: none

feat(plasma-b2c): delete unnecessary cypress Editable snapshots
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- empty.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onBlur and onFocus.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onChange.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- onPaste.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.component-test.tsx/plasma-b2c Editable -- simple.snap.png
Due: none

docs(plasma-web): Modal: add onClose to example
  website/plasma-web-docs/docs/components/Modal.mdx
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

feat: add api reports after re-export Editable component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  reports/plasma-hope-diff.diff
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-web-docs/versionsArchived.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat(plasma-b2c): re-export "AudioPlayer" component
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.component-test.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/index.ts
  packages/plasma-b2c/src/components/AudioPlayer/utils.test.tsx
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): add "AudioPlayer" component
  packages/plasma-hope/src/components/AudioPlayer/AudioPlayer.component-test.tsx
  packages/plasma-hope/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-hope/src/components/AudioPlayer/index.ts
  packages/plasma-hope/src/components/AudioPlayer/utils.test.tsx
  packages/plasma-hope/src/components/AudioPlayer/utils.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): add cypress tests symlink [AudioPlayer]
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): re-export "AudioPlayer" component
  packages/plasma-web/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/plasma-web/src/components/AudioPlayer/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add cypress AudioPlayer snapshots
  cypress/snapshots/web/components/AudioPlayer/AudioPlayer.component-test.tsx/plasma-hope AudioPlayer -- _isPlaying.snap.png
  cypress/snapshots/web/components/AudioPlayer/AudioPlayer.component-test.tsx/plasma-hope AudioPlayer -- _isSelected.snap.png
  cypress/snapshots/web/components/AudioPlayer/AudioPlayer.component-test.tsx/plasma-hope AudioPlayer -- simple.snap.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
