Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-*): Bump react-script version to 4.0.3
  package-lock.json
  package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  reports/plasma-hope-diff.diff
Due: prettier --write --parser json

feat: Update API
  reports/plasma-hope-diff.diff
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-core/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

feat: add api reports after change slider types
  packages/plasma-core/api/plasma-core.api.md
Due: prettier --write --parser markdown

fix(plasma-core): rework slider types
  packages/plasma-core/src/components/Slider/Double.tsx
  packages/plasma-core/src/components/Slider/Single.tsx
  packages/plasma-core/src/components/Slider/Slider.tsx
  packages/plasma-core/src/components/Slider/SliderBase.tsx
  packages/plasma-core/src/components/Slider/index.ts
  packages/plasma-core/src/components/Slider/types.ts
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

feat(plasma-web-docs): describe typography components
  website/plasma-web-docs/docs/components/Typography.mdx
Due: none

feat(plasma-web): processing new typography in story
  packages/plasma-web/src/components/Typography/Typography.stories.mdx
  packages/plasma-web/src/components/Typography/Typography.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): processing new typography
  packages/plasma-web/.storybook/preview.js
Due: eslint --fix, prettier --write

feat(plasma-web-docs): describe typography.mdx
  website/plasma-web-docs/docs/design/typography.mdx
Due: none

feat(plasma-web-docs): use standard from "plasma-typo"
  website/plasma-web-docs/docs/intro.mdx
Due: none

feat(plasma-web-docs): describe typography-legacy.mdx
  website/plasma-web-docs/docs/design/typography-legacy.mdx
Due: none

feat(plasma-web-docs): describe typography-legacy components
  website/plasma-web-docs/docs/components/Typography-legacy.mdx
Due: none

chore(plasma-web-docs): add @salutejs/plasma-typo
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json

feat(plasma-web-docs): processing bew typography logic
  website/plasma-web-docs/src/theme/Playground/index.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json

feat: add api reports
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  reports/plasma-hope-diff.diff
Due: prettier --write --parser markdown

feat(plasma-web): handling height constraint
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/plasma-web/src/components/Dropdown/DropdownList.tsx
  packages/plasma-web/src/components/Dropdown/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): handling height constraint
  packages/plasma-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownList.tsx
  packages/plasma-hope/src/components/Dropdown/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): [snapshot] handling height constraint
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- handling dropdown menu height.snap.png
Due: none

feat(plasma-web-docs): handling height constraint for Dropdown component
  website/plasma-web-docs/docs/components/Dropdown.mdx
Due: none

feat(plasma-web): [cypress] handling height constraint
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): [snapshot] handling height constraint
  cypress/snapshots/b2c/components/Dropdown/DropdownBase.component-test.tsx/plasma-web Dropdown -- handling dropdown menu height.snap.png
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

build: update package-locks
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json

fix(plasma-colors): empty npm tar
  packages/plasma-colors/package.json
Due: prettier --write --parser json
