Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

fix(*): fix icon in checkbox and docs
  packages/plasma-b2c/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-b2c/src/components/Table/Table.config.ts
  packages/plasma-giga/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-giga/src/components/Table/Table.config.ts
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.tsx
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.types.ts
  packages/plasma-new-hope/src/components/Checkbox/IconsSvg.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tokens.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.outline.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Table/Table.config.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/Table/Table.config.ts
  packages/sdds-clfd-auto/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-cs/src/components/Table/Table.config.ts
  packages/sdds-dfa/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-dfa/src/components/Table/Table.config.ts
  packages/sdds-finportal/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-finportal/src/components/Table/Table.config.ts
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-insol/src/components/Combobox/Combobox.config.ts
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.stories.tsx
  packages/sdds-insol/src/components/Table/Table.config.ts
  packages/sdds-serv/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-serv/src/components/Table/Table.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(sdds-insol): edit radiobox config
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
Due: eslint --fix, prettier --write

feat(*): add handlerPlacement and fullscreen example storybook
  packages/plasma-b2c/src/components/Sheet/Sheet.config.tsx
  packages/plasma-b2c/src/components/Sheet/Sheet.stories.tsx
  packages/plasma-giga/src/components/Sheet/Sheet.config.tsx
  packages/plasma-giga/src/components/Sheet/Sheet.stories.tsx
  packages/plasma-new-hope/src/components/Sheet/Sheet.styles.ts
  packages/plasma-new-hope/src/components/Sheet/Sheet.tokens.ts
  packages/plasma-new-hope/src/components/Sheet/Sheet.tsx
  packages/plasma-new-hope/src/components/Sheet/Sheet.types.ts
  packages/plasma-new-hope/src/components/Sheet/variations/_handlePlacement/base.ts
  packages/plasma-new-hope/src/components/Sheet/variations/_handlePlacement/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Sheet/Sheet.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Sheet/Sheet.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Sheet/Sheet.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Sheet/Sheet.stories.tsx
  packages/plasma-web/src/components/Sheet/Sheet.config.tsx
  packages/plasma-web/src/components/Sheet/Sheet.stories.tsx
  packages/sdds-clfd-auto/src/components/Sheet/Sheet.config.tsx
  packages/sdds-clfd-auto/src/components/Sheet/Sheet.stories.tsx
  packages/sdds-cs/src/components/Sheet/Sheet.config.tsx
  packages/sdds-cs/src/components/Sheet/Sheet.stories.tsx
  packages/sdds-dfa/src/components/Sheet/Sheet.config.tsx
  packages/sdds-dfa/src/components/Sheet/Sheet.stories.tsx
  packages/sdds-finportal/src/components/Sheet/Sheet.config.tsx
  packages/sdds-finportal/src/components/Sheet/Sheet.stories.tsx
  packages/sdds-insol/src/components/Sheet/Sheet.config.tsx
  packages/sdds-insol/src/components/Sheet/Sheet.stories.tsx
  packages/sdds-serv/src/components/Sheet/Sheet.config.tsx
  packages/sdds-serv/src/components/Sheet/Sheet.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(sdds-insol): Add `TextSlim` component in typography
  packages/sdds-insol/src/components/Typography/Text.config.ts
  packages/sdds-insol/src/components/Typography/Typography.stories.tsx
  packages/sdds-insol/src/components/Typography/Typography.tsx
  packages/sdds-insol/src/components/Typography/index.ts
  website/sdds-cs-docs/docs/components/Typography.mdx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-themes): Update `sdds_insol` theme
  packages/themes/sdds-themes/src/css/sdds_insol.module.css
  packages/themes/sdds-themes/src/css/sdds_insol__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol/index.ts
Due: eslint --fix, prettier --write

fix(tokens): use correct token package
  packages/sdds-finportal/src/tokens/index.ts
Due: eslint --fix, prettier --write

feat(sdds): remove stacking in Toast
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.tsx
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ToastNew/ToastNew.stories.tsx
  packages/sdds-cs/src/components/ToastNew/ToastNew.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): fix Button ref
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-cs/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-clfd-auto/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-clfd-auto/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(sdds-cs): used forwardRef for Button
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-cs/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): Fix `size` for configSlim
  packages/sdds-insol/src/components/Typography/Text.config.ts
  packages/sdds-insol/src/components/Typography/Typography.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-clfd-auto/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

chore: Update CHANGELOG.md [skip ci]
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-giga/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-insol/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
Due: prettier --write --parser markdown

chore(plasma-giga): delete unnecessary @emotion package
  packages/plasma-giga/.gitignore
  packages/plasma-giga/.storybook/main.ts
  packages/plasma-giga/emotion/package.json
  packages/plasma-giga/package-lock.json
  packages/plasma-giga/package.json
  packages/plasma-giga/scripts/replace-st_emotion.sh
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(website): update Combobox docs
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-giga-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/sdds-cs-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-serv-docs/docs/components/Combobox.mdx
Due: none

feat(plasma, sdds): export ComboboxItemOption everywhere
  packages/plasma-b2c/src/components/Combobox/Combobox.tsx
  packages/plasma-b2c/src/components/Combobox/index.ts
  packages/plasma-giga/src/components/Combobox/Combobox.tsx
  packages/plasma-giga/src/components/Combobox/index.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/index.ts
  packages/plasma-new-hope/src/components/Combobox/index.ts
  packages/plasma-web/src/components/Combobox/Combobox.tsx
  packages/plasma-web/src/components/Combobox/index.ts
  packages/sdds-clfd-auto/src/components/Combobox/Combobox.tsx
  packages/sdds-clfd-auto/src/components/Combobox/index.ts
  packages/sdds-cs/src/components/Combobox/Combobox.tsx
  packages/sdds-cs/src/components/Combobox/index.ts
  packages/sdds-dfa/src/components/Combobox/Combobox.tsx
  packages/sdds-dfa/src/components/Combobox/index.ts
  packages/sdds-finportal/src/components/Combobox/Combobox.tsx
  packages/sdds-finportal/src/components/Combobox/index.ts
  packages/sdds-insol/src/components/Combobox/Combobox.tsx
  packages/sdds-insol/src/components/Combobox/index.ts
  packages/sdds-serv/src/components/Combobox/Combobox.tsx
  packages/sdds-serv/src/components/Combobox/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(sdds-insol): delete unnecessary @emotion package
  packages/sdds-insol/.gitignore
  packages/sdds-insol/.storybook/main.ts
  packages/sdds-insol/emotion/package.json
  packages/sdds-insol/package-lock.json
  packages/sdds-insol/package.json
  packages/sdds-insol/scripts/replace-st_emotion.sh
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: add bootstrap alies
  package.json
Due: prettier --write --parser json

docs(core): update template textfield
  packages/plasma-new-hope/src/components/TextField/TextField.template-doc.mdx
Due: none

docs(core): fix templates issues
  packages/plasma-new-hope/src/components/Accordion/Accordion.template-doc.mdx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.template-doc.mdx
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.template-doc.mdx
  packages/plasma-new-hope/src/components/Combobox/Combobox.template-doc.mdx
  packages/plasma-new-hope/src/components/Combobox/ComboboxOld/Combobox.doc.mdx
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.template-doc.mdx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.template-doc.mdx
  packages/plasma-new-hope/src/components/Flow/Flow.template-doc.mdx
  packages/plasma-new-hope/src/components/Notification/Notification.template-doc.mdx
  packages/plasma-new-hope/src/components/NumberFormat/NumberFormat.template-doc.mdx
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.template-doc.mdx
  packages/plasma-new-hope/src/components/Range/Range.template-doc.mdx
  packages/plasma-new-hope/src/components/Segment/Segment.template-doc.mdx
  packages/plasma-new-hope/src/components/Select/Select.template-doc.mdx
  packages/plasma-new-hope/src/components/Slider/Slider.template-doc.mdx
  packages/plasma-new-hope/src/components/Switch/Switch.template-doc.mdx
  packages/plasma-new-hope/src/components/Table/Table.template-doc.mdx
  packages/plasma-new-hope/src/components/Tabs/Tabs.template-doc.mdx
  packages/plasma-new-hope/src/components/TextArea/TextArea.template-doc.mdx
  packages/plasma-new-hope/src/components/Toast/Toast.template-doc.mdx
  packages/plasma-new-hope/src/components/Tooltip/Tooltip.template-doc.mdx
  packages/plasma-new-hope/src/components/Tree/Tree.template-doc.mdx
Due: none

docs(giga): improved docs
  website/plasma-giga-docs/docs/components/Accordion.mdx
  website/plasma-giga-docs/docs/components/Checkbox.mdx
  website/plasma-giga-docs/docs/components/Combobox.mdx
  website/plasma-giga-docs/docs/components/DatePicker.mdx
  website/plasma-giga-docs/docs/components/Dropdown.mdx
  website/plasma-giga-docs/docs/components/Flow.mdx
  website/plasma-giga-docs/docs/components/Note.mdx
  website/plasma-giga-docs/docs/components/NumberFormat.mdx
  website/plasma-giga-docs/docs/components/Overlay.mdx
  website/plasma-giga-docs/docs/components/Popover.mdx
  website/plasma-giga-docs/docs/components/Portal.mdx
  website/plasma-giga-docs/docs/components/Radiobox.mdx
  website/plasma-giga-docs/docs/components/Range.mdx
  website/plasma-giga-docs/docs/components/Slider.mdx
  website/plasma-giga-docs/docs/components/Switch.mdx
  website/plasma-giga-docs/docs/components/Tabs.mdx
  website/plasma-giga-docs/docs/components/TextArea.mdx
  website/plasma-giga-docs/docs/components/Toast.mdx
  website/plasma-giga-docs/docs/components/Tooltip.mdx
Due: none

docs(giga): improved docs for textfield
  website/plasma-giga-docs/docs/components/TextField.mdx
Due: none

docs(sdds-insol-docs): add Card examples
  website/sdds-insol-docs/docs/components/Card.mdx
Due: none

docs(sdds-insol): delete emotion
  website/sdds-insol-docs/docs/intro.mdx
Due: none

feat(plasma-new-hope): refactor DatePicker types
  packages/plasma-new-hope/src/components/Calendar/Calendar.tsx
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/hoc/withRange.tsx
  packages/plasma-new-hope/src/components/Calendar/store/reducer.ts
  packages/plasma-new-hope/src/components/Calendar/utils/calendarGridHelper.ts
  packages/plasma-new-hope/src/components/Calendar/utils/calendarRangeHelper.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.types.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/hooks/useDatePicker.ts
  packages/plasma-new-hope/src/components/DatePicker/utils/valueFormatter.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): refactor datepicker input validation
  packages/plasma-new-hope/src/components/Calendar/Calendar.tsx
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/store/reducer.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/hooks/useDatePicker.ts
  packages/plasma-new-hope/src/components/DatePicker/hooks/useKeyboardNavigation.ts
  packages/plasma-new-hope/src/components/DatePicker/utils/dateHelper.ts
  packages/plasma-new-hope/src/components/DatePicker/utils/delimiterHelper.ts
  packages/plasma-new-hope/src/components/DatePicker/utils/formatHelper.ts
  packages/plasma-new-hope/src/components/DatePicker/utils/monthFullNameFormatter.ts
  packages/plasma-new-hope/src/components/DatePicker/utils/valueFormatter.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-*): update DatePicker stories and configs
  packages/sdds-clfd-auto/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-clfd-auto/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-finportal/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): update DatePicker stories and tests
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop input date from calendar.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop input date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop input masked date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- controlled datepicker reset date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop input date, double calendar.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop input date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePicker -- [PLASMA-T1783] DatePicker select day in popover.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePicker -- prop onToggle, outside click.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop input date from calendar.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop input date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- controlled datepicker reset date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop input date, double calendar.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop input date.snap.png
  packages/plasma-b2c/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-b2c/src/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-b2c/src/components/DatePicker/DatePicker.update-test.component-test.tsx
  packages/plasma-giga/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-giga/src/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-themes): Update `sdds_serv` theme
  packages/themes/sdds-themes/src/css/sdds_serv.module.css
  packages/themes/sdds-themes/src/css/sdds_serv__dark.css
  packages/themes/sdds-themes/src/css/sdds_serv__light.css
  packages/themes/sdds-themes/src/themes/sdds_serv__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_serv__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_serv/index.ts
Due: eslint --fix, prettier --write

fix(plasma-themes): Update `plasma_giga` and `plasma_giga_app` themes
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/css/plasma_giga_app.module.css
  packages/themes/plasma-themes/src/css/plasma_giga_app__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga_app__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/themes/plasma_giga_app__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga_app__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga_app/index.ts
Due: eslint --fix, prettier --write
