Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): update Radiobox view variant
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(plasma-*,sdds-*): update Radiobox configs & stories
  packages/plasma-b2c/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-b2c/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-giga/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-giga/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-cs/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-dfa/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-dfa/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-finportal/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-finportal/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-insol/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-serv/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-serv/src/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update Radiobox docs
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Radiobox.mdx
  website/plasma-giga-docs/docs/components/Radiobox.mdx
  website/plasma-web-docs/docs/components/Radiobox.mdx
  website/sdds-dfa-docs/docs/components/Radiobox.mdx
  website/sdds-insol-docs/docs/components/Radiobox.mdx
  website/sdds-serv-docs/docs/components/Radiobox.mdx
Due: none

chore(plasma-*, sdds-*): Popover box-shadow ported
  packages/plasma-b2c/src/components/Popover/Popover.config.ts
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-b2c/src/components/Popover/style.css
  packages/plasma-giga/src/components/Popover/Popover.config.ts
  packages/plasma-giga/src/components/Popover/Popover.stories.tsx
  packages/plasma-giga/src/components/Popover/style.css
  packages/plasma-web/src/components/Popover/Popover.config.ts
  packages/plasma-web/src/components/Popover/Popover.stories.tsx
  packages/plasma-web/src/components/Popover/style.css
  packages/sdds-cs/src/components/Popover/Popover.config.ts
  packages/sdds-cs/src/components/Popover/Popover.stories.tsx
  packages/sdds-cs/src/components/Popover/style.css
  packages/sdds-dfa/src/components/Popover/Popover.config.ts
  packages/sdds-dfa/src/components/Popover/Popover.stories.tsx
  packages/sdds-dfa/src/components/Popover/style.css
  packages/sdds-finportal/src/components/Popover/Popover.config.ts
  packages/sdds-finportal/src/components/Popover/Popover.stories.tsx
  packages/sdds-finportal/src/components/Popover/style.css
  packages/sdds-insol/src/components/Popover/Popover.config.ts
  packages/sdds-insol/src/components/Popover/Popover.stories.tsx
  packages/sdds-insol/src/components/Popover/style.css
  packages/sdds-serv/src/components/Popover/Popover.config.ts
  packages/sdds-serv/src/components/Popover/Popover.stories.tsx
  packages/sdds-serv/src/components/Popover/style.css
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Popover box-shadow added
  packages/plasma-new-hope/src/components/Popover/Popover.styles.ts
  packages/plasma-new-hope/src/components/Popover/Popover.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/style.css
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/style.css
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/sdds-insol/api/sdds-insol.api.md
Due: prettier --write --parser markdown

feat(sdds-insol): add Segment accent view
  packages/sdds-insol/src/components/Segment/Segment.stories.tsx
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add custom bg color property for Drawer
  packages/plasma-new-hope/src/components/Drawer/Drawer.tsx
  packages/plasma-new-hope/src/components/Drawer/Drawer.types.ts
  packages/plasma-new-hope/src/components/Panel/Panel.styles.ts
  packages/plasma-new-hope/src/components/Panel/Panel.tokens.ts
  packages/plasma-new-hope/src/components/Panel/Panel.tsx
  packages/plasma-new-hope/src/components/Panel/Panel.types.ts
  packages/plasma-new-hope/src/components/Panel/ui/PanelHeader/PanelHeader.styles.ts
  packages/plasma-new-hope/src/components/Panel/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Panel/Panel.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Dropzone/Dropzone.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Panel/Panel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(sdds-*): update Drawer stories
  packages/sdds-cs/src/components/Drawer/Drawer.stories.tsx
  packages/sdds-dfa/src/components/Drawer/Drawer.stories.tsx
  packages/sdds-finportal/src/components/Drawer/Drawer.stories.tsx
  packages/sdds-insol/src/components/Drawer/Drawer.stories.tsx
  packages/sdds-serv/src/components/Drawer/Drawer.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): update Drawer stories & tests
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- props customBackgroundColor, customContentBackgroundColor.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- props customBackgroundColor, customContentBackgroundColor.snap.png
  packages/plasma-b2c/src/components/Drawer/Drawer.component-test.tsx
  packages/plasma-b2c/src/components/Drawer/Drawer.stories.tsx
  packages/plasma-giga/src/components/Drawer/Drawer.stories.tsx
  packages/plasma-web/src/components/Drawer/Drawer.component-test.tsx
  packages/plasma-web/src/components/Drawer/Drawer.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-tokens): fix sdds-cs tokens
  packages/plasma-tokens/data/themes/sdds_cs.json
Due: prettier --write --parser json

feat(plasma-{tokens, theme-builder}): add Data tokens
  packages/plasma-tokens/data/themes/default.json
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/data/themes/plasma_giga.json
  packages/plasma-tokens/data/themes/plasma_web.json
  packages/plasma-tokens/data/themes/sberHealth.json
  packages/plasma-tokens/data/themes/sbermarket.json
  packages/plasma-tokens/data/themes/sbermarket_business.json
  packages/plasma-tokens/data/themes/sbermarket_metro.json
  packages/plasma-tokens/data/themes/sbermarket_selgros.json
  packages/plasma-tokens/data/themes/sbermarket_wlbusiness.json
  packages/plasma-tokens/data/themes/sberonline.json
  packages/plasma-tokens/data/themes/sberprime.json
  packages/plasma-tokens/data/themes/sdds_cs.json
  packages/plasma-tokens/data/themes/sdds_dfa.json
  packages/plasma-tokens/data/themes/sdds_finportal.json
  packages/plasma-tokens/data/themes/sdds_insol.json
  packages/plasma-tokens/data/themes/sdds_os.json
  packages/plasma-tokens/data/themes/sdds_serv.json
  packages/plasma-tokens/data/themes/stylesSalute.json
  utils/plasma-tokens-utils/src/types.ts
  website/plasma-theme-builder/src/_new/tokens/color/default/android.ts
  website/plasma-theme-builder/src/_new/tokens/color/default/ios.ts
  website/plasma-theme-builder/src/_new/tokens/color/default/meta.ts
  website/plasma-theme-builder/src/_new/tokens/color/default/web.ts
  website/plasma-theme-builder/src/builder/createTheme.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/data/getDataYellowMinorTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/data/getDataYellowTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/data/getDataYellowTransparentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/data/index.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/index.ts
  website/plasma-theme-builder/src/types/builder.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): update Checkbox view variant
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.template-doc.mdx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update Checkbox docs
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Checkbox.mdx
  website/plasma-giga-docs/docs/components/Checkbox.mdx
  website/plasma-web-docs/docs/components/Checkbox.mdx
  website/sdds-dfa-docs/docs/components/Checkbox.mdx
  website/sdds-insol-docs/docs/components/Checkbox.mdx
  website/sdds-serv-docs/docs/components/Checkbox.mdx
Due: none

feat(plasma-*,sdds-*): update Checkbox configs & stories
  packages/plasma-b2c/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-b2c/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-giga/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-giga/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-cs/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-dfa/src/components/Checkbox/Checkbox.config.tsx
  packages/sdds-dfa/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-finportal/src/components/Checkbox/Checkbox.config.tsx
  packages/sdds-finportal/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.tsx
  packages/sdds-insol/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-serv/src/components/Checkbox/Checkbox.config.tsx
  packages/sdds-serv/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add support `intersections` in component configs
  packages/plasma-new-hope/src/engines/emotion.tsx
  packages/plasma-new-hope/src/engines/linaria.tsx
  packages/plasma-new-hope/src/engines/styled-components.tsx
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-new-hope/src/engines/utils.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
