Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(cypress): skip flaky test
  packages/plasma-new-hope/src/components/Pagination/Pagination.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): update TimePickerGrid utils with range step parameter and roundToMultiplicity
  packages/plasma-new-hope/src/components/TimePickerGrid/utils/index.ts
Due: eslint --fix, prettier --write

feat(new-hope): add multiplicity Minutes/Seconds props to TimePickerGrid and TimePicker
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.types.ts
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.types.ts
Due: eslint --fix, prettier --write

feat(new-hope): integrate multiplicity props into TimePickerGrid component
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): pass multiplicity props through TimePicker to TimePickerGrid
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add Cypress component tests for TimePickerGrid multiplicity
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add API type-check test for TimePicker multiplicity props
  utils/api-tests/src/components/TimePicker/TimePicker.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-homeds.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-os.json
  website/plasma-website/public/data/sdds-platform-ai.json
  website/plasma-website/public/data/sdds-sbcom.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser json

feat(new-hope): add stories for TimePicker with multiplicity examples
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  utils/plasma-sb-utils/src/components/TimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/TimePicker/meta.ts
Due: eslint --fix, prettier --write, stylelint

chore: add sdds-dfa package for cypress testing
  .github/config-ci.json
  package.json
  scripts/cy-cli.js
  utils/plasma-cy-utils/lib/CypressDecorator.js
  utils/plasma-cy-utils/src/CypressDecorator.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore(sbcom): updated button config
  packages/sdds-sbcom/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

chore(sbcom): updated iconbutton
  packages/sdds-sbcom/src/components/IconButton/IconButton.config.ts
  packages/sdds-sbcom/src/components/IconButton/IconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sbcom): fixed styled for tooltip
  packages/sdds-sbcom/src/components/Tooltip/Tooltip.config.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): add tabIndex for Safari
  packages/plasma-new-hope/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): update Segment size
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1350] Segment size=l, orientation=horizontal.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1351] Segment size=m, pilled, hasBackground, contentLeft=icon, contentRight=text.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1352] Segment size=s, contentLeft=icon.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1354] Segment orientation=vertical.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1355] Segment disabled.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1667] Segment segmentItemView=secondary, stretch, contentLeft=icon, contentRight=counter.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1964] Segment singleSelectedRequired.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-] Segment controlled change.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- _maxItemWidth.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1350] Segment size=l, orientation=horizontal.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1351] Segment size=m, pilled, hasBackground, contentLeft=icon, contentRight=text.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1352] Segment size=s, contentLeft=icon.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1354] Segment orientation=vertical.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1355] Segment disabled.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1667] Segment segmentItemView=secondary, stretch, contentLeft=icon, contentRight=counter.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1964] Segment singleSelectedRequired.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-] Segment controlled change.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- _maxItemWidth.snap.png
  packages/sdds-insol/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write

feat(sdds-cs): add m size for TextField
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.stories.tsx
  packages/sdds-cs/src/components/TextField/TextField.config.ts
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  utils/plasma-sb-utils/src/components/Button/meta.ts
  utils/plasma-sb-utils/src/components/TextField/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat: update Button, IconButton, TextField snaps
  cypress/snapshots/cs/chromium/Button/Button -- view=accent, size=m, stretching=auto.snap.png
  cypress/snapshots/cs/chromium/Button/Button -- view=clear, size=sr, stretching=fixed.snap.png
  cypress/snapshots/cs/chromium/Button/Button -- view=secondary, size=s, stretching=filled.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=default, size=m appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=default, size=m.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=negative, size=s appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=negative, size=s.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=accent, size=m, stretching=auto.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=clear, size=sr, stretching=fixed.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=secondary, size=s, stretching=filled.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=default, size=m appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=default, size=m.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=negative, size=s appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=negative, size=s.snap.png
Due: none

feat(plasma-new-hope): separate clear & transparent to appearance
  packages/plasma-new-hope/src/components/Avatar/Avatar.types.ts
  packages/plasma-new-hope/src/components/Badge/Badge.types.ts
  packages/plasma-new-hope/src/components/Badge/variations/_clear/tokens.json
  packages/plasma-new-hope/src/components/Badge/variations/_pilled/tokens.json
  packages/plasma-new-hope/src/components/Badge/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Badge/variations/_transparent/tokens.json
  packages/plasma-new-hope/src/components/Badge/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/components/Badge/Badge.clear.config.ts
  packages/plasma-new-hope/src/examples/components/Badge/Badge.config.common.ts
  packages/plasma-new-hope/src/examples/components/Badge/Badge.config.ts
  packages/plasma-new-hope/src/examples/components/Badge/Badge.stories.tsx
  packages/plasma-new-hope/src/examples/components/Badge/Badge.transparent.config.ts
  packages/plasma-new-hope/src/examples/components/Badge/Badge.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs: update Badge docs
  packages/plasma-new-hope/src/components/Badge/Badge.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Badge.mdx
  website/plasma-giga-docs/docs/components/Badge.mdx
  website/plasma-web-docs/docs/components/Badge.mdx
  website/sdds-bizcom-docs/docs/components/Badge.mdx
  website/sdds-cs-docs/docs/components/Badge.mdx
  website/sdds-dfa-docs/docs/components/Badge.mdx
  website/sdds-finai-docs/docs/components/Badge.mdx
  website/sdds-insol-docs/docs/components/Badge.mdx
  website/sdds-netology-docs/docs/components/Badge.mdx
  website/sdds-platform-ai-docs/docs/components/Badge.mdx
  website/sdds-scan-docs/docs/components/Badge.mdx
  website/sdds-serv-docs/docs/components/Badge.mdx
Due: none

feat(): add hover and active colors for scrollbar thumb
  packages/plasma-b2c/src/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-giga/src/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-homeds/src/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-new-hope/src/examples/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-new-hope/src/mixins/addScrollbar.ts
  packages/plasma-web/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-dfa/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-netology/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-os/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-platform-ai/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-sbcom/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-scan/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-serv/src/components/Scrollbar/Scrollbar.config.ts
Due: eslint --fix, prettier --write

chore(sbcom): added new view for modal
  packages/sdds-sbcom/src/components/Modal/Modal.config.ts
  packages/sdds-sbcom/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(sbcom): updated textField
  packages/sdds-sbcom/src/components/TextField/TextField.search.config.ts
Due: eslint --fix, prettier --write

feat: resolve LinkButton conflict
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

chore(plasma-hope): remove unused storeon dependency (T1)
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
Due: prettier --write --parser json

refactor(plasma-hope): delete unused Badge, Cell, List, Price, Switch, Slider (T2)
  packages/plasma-hope/src/components/Badge/Badge.tsx
  packages/plasma-hope/src/components/Badge/index.ts
  packages/plasma-hope/src/components/Card/CardBadge.tsx
  packages/plasma-hope/src/components/Cell/Cell.tsx
  packages/plasma-hope/src/components/Cell/index.ts
  packages/plasma-hope/src/components/List/List.tsx
  packages/plasma-hope/src/components/List/ListItem.tsx
  packages/plasma-hope/src/components/List/index.ts
  packages/plasma-hope/src/components/Price/Price.tsx
  packages/plasma-hope/src/components/Price/index.ts
  packages/plasma-hope/src/components/Slider/Slider.tsx
  packages/plasma-hope/src/components/Slider/index.ts
  packages/plasma-hope/src/components/Switch/Switch.tsx
  packages/plasma-hope/src/components/Switch/index.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-hope): delete unused Editable, Dropdown, Select (T3)
  packages/plasma-hope/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-hope/src/components/Dropdown/DropdownItem.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownList.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownMenu.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownPopup.tsx
  packages/plasma-hope/src/components/Dropdown/DropdownUncontrolled.tsx
  packages/plasma-hope/src/components/Dropdown/index.ts
  packages/plasma-hope/src/components/Dropdown/keyboardNavigation/index.ts
  packages/plasma-hope/src/components/Dropdown/keyboardNavigation/useKeyboardNavigation.ts
  packages/plasma-hope/src/components/Dropdown/keyboardNavigation/useOnComboType.ts
  packages/plasma-hope/src/components/Dropdown/keyboardNavigation/useSearchString.ts
  packages/plasma-hope/src/components/Dropdown/keyboardNavigation/utils.ts
  packages/plasma-hope/src/components/Dropdown/withAssistiveDropdown.tsx
  packages/plasma-hope/src/components/Editable/Editable.component-test.tsx
  packages/plasma-hope/src/components/Editable/Editable.tsx
  packages/plasma-hope/src/components/Editable/index.ts
  packages/plasma-hope/src/components/Select/Select.tsx
  packages/plasma-hope/src/components/Select/Select.utils.ts
  packages/plasma-hope/src/components/Select/SelectButton.tsx
  packages/plasma-hope/src/components/Select/SelectDropdown.tsx
  packages/plasma-hope/src/components/Select/SelectGroup.tsx
  packages/plasma-hope/src/components/Select/SelectView.tsx
  packages/plasma-hope/src/components/Select/index.ts
  packages/plasma-hope/src/components/Select/types.ts
  packages/plasma-hope/src/components/Select/views/b2c/SelectButton.tsx
  packages/plasma-hope/src/components/Select/views/b2c/SelectDropdown.tsx
  packages/plasma-hope/src/components/Select/views/b2c/SelectView.tsx
  packages/plasma-hope/src/components/Select/views/web/SelectView.tsx
  packages/plasma-hope/src/components/Select/withMultiSelect.tsx
  packages/plasma-hope/src/components/Select/withSingleSelect.tsx
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-hope): replace Typography imports with plasma-core; delete Typography (T4)
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-hope/src/components/Typography/Body/index.ts
  packages/plasma-hope/src/components/Typography/Button/index.ts
  packages/plasma-hope/src/components/Typography/Caption/index.ts
  packages/plasma-hope/src/components/Typography/Footnote/index.ts
  packages/plasma-hope/src/components/Typography/Headline/index.ts
  packages/plasma-hope/src/components/Typography/Paragraph/index.ts
  packages/plasma-hope/src/components/Typography/Subtitle/index.ts
  packages/plasma-hope/src/components/Typography/Underline/index.ts
  packages/plasma-hope/src/components/Typography/index.ts
  packages/plasma-hope/src/components/Upload/UploadMessage.tsx
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-hope): use plasma-core Button in ModalView; delete hope Button (T5)
  packages/plasma-hope/src/components/Button/Button.props.ts
  packages/plasma-hope/src/components/Button/Button.tsx
  packages/plasma-hope/src/components/Button/index.tsx
  packages/plasma-hope/src/components/Button/types.ts
  packages/plasma-hope/src/components/Button/views/b2c/ButtonB2C.tsx
  packages/plasma-hope/src/components/Button/views/web/ButtonWeb.tsx
  packages/plasma-hope/src/components/Modal/ModalView.tsx
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
