Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

chore(plasma-new-hope): bump "vite" to 4.5.0
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

chore(plasma-web): bump "vite" to 4.5.0
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

chore(plasma-web): fix vulnerabilities: high, critical
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

chore(plasma-new-hope): fix vulnerabilities: high, critical
  packages/plasma-new-hope/package-lock.json
Due: prettier --write --parser json

chore(plasma-b2c): fix vulnerabilities: high, critical
  packages/plasma-b2c/package-lock.json
Due: prettier --write --parser json

chore(plasma-b2c): bump "@microsoft/api-extractor" to 7.38.3
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json

chore(plasma-web): bump "@microsoft/api-extractor" to 7.38.3
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

chore(plasma-hope): bump "@microsoft/api-extractor" to 7.38.3
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
Due: prettier --write --parser json

chore(plasma-asdk): bump "vite" to 4.5.0
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
Due: prettier --write --parser json

chore(plasma-asdk): bump "@microsoft/api-extractor" to 7.38.3
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
Due: prettier --write --parser json

chore(plasma-asdk): fix vulnerabilities: high, critical
  packages/plasma-asdk/package-lock.json
Due: prettier --write --parser json

chore(plasma-asdk): bump "default-browser-id" to 2.0.0
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
Due: prettier --write --parser json

chore(plasma-b2c): bump "default-browser-id" to 2.0.0
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json

chore(plasma-web): bump "default-browser-id" to 2.0.0
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

chore(plasma-new-hope): bump "default-browser-id" to 2.0.0
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

feat(plasma-asdk): remove plasma-hope dep
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
  packages/plasma-asdk/src/components/List/List.tsx
  packages/plasma-asdk/src/components/List/ListItem.tsx
  packages/plasma-asdk/src/components/List/index.ts
  packages/plasma-asdk/src/components/SSRProvider/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore: add plasma-asdk to eslint ignore
  .eslintignore
Due: none

feat(plasma-new-hope): export tokens from asdk
  packages/plasma-asdk/.gitignore
  packages/plasma-asdk/README.md
  packages/plasma-asdk/README.stories.mdx
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
  packages/plasma-asdk/src/themes/index.ts
  packages/plasma-asdk/src/tokens/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

docs(plasma-asdk): change docs
  packages/plasma-asdk/README.md
  packages/plasma-asdk/README.stories.mdx
  packages/plasma-asdk/api/plasma-asdk.api.md
Due: prettier --write --parser markdown

Update versions
  packages/plasma-asdk/package.json
Due: prettier --write --parser json

chore: update package-locks
  packages/plasma-asdk/package-lock.json
Due: prettier --write --parser json

docs(plasma-web/b2c): generate api
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

docs: remove old libs
  README.md
Due: prettier --write --parser markdown

ci: pass ref to publish-common workflow [no ci]
  .github/workflows/publish-common.yml
Due: none

ci: clean up by close pull_request_target [no ci]
  .github/workflows/clean-pr-documentation.yml
  .github/workflows/cleanup-cache-pr.yml
Due: none

ci(docs): handle external pull request [no ci]
  .github/workflows/documentation-pr.yml
Due: none

ci(publish-canary): handle external pull request [no ci]
  .github/workflows/publish-canary.yml
Due: none

ci: pass ref to "Change detection" workflow [no ci]
  .github/workflows/change-detection.yml
Due: none

ci(publish-rc): handle external pull request [no ci]
  .github/workflows/publish-rc.yml
Due: none

ci(performance-testing): handle external pull request
  .github/workflows/performance-test-pr.yml
Due: none

chore(plasma-core): fix vulnerabilities: high, critical
  packages/plasma-core/package-lock.json
Due: prettier --write --parser json

chore(plasma-core): bump "@microsoft/api-extractor" to 7.38.3
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
Due: prettier --write --parser json
