Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

docs(website): fix UI issues
  website/plasma-website/components/changelog/404.tsx
  website/plasma-website/components/changelog/ChangelogHeader.styles.tsx
  website/plasma-website/components/changelog/ChangelogListContent.tsx
  website/plasma-website/components/changelog/ChangelogPullRequestLink.styles.tsx
  website/plasma-website/components/changelog/ChangelogVersionsList.styles.tsx
  website/plasma-website/components/changelog/HistoryNavigation.tsx
  website/plasma-website/components/changelog/index.tsx
  website/plasma-website/pages/changelog.tsx
  website/plasma-website/utils/groupVersionsByMonth.ts
Due: eslint --fix, prettier --write, stylelint

feat(core-themes): Add support new breakpoints for `sdds_insol`
  packages/themes/core-themes/src/creators/createTypographyTokens.ts
  packages/themes/core-themes/src/generate.ts
  packages/themes/core-themes/src/generators/generateCSSModuleThemes.ts
  packages/themes/core-themes/src/generators/generateCSSThemes.ts
  packages/themes/core-themes/src/generators/generateThemes.ts
  packages/themes/core-themes/src/types/constants.ts
  packages/themes/core-themes/src/types/theme.ts
  packages/themes/core-themes/src/utils/theme.ts
  packages/themes/sdds-themes/lib/index.ts
Due: eslint --fix, prettier --write

feat(sdds-themes): Update typography tokens for `sdds_insol` theme
  packages/themes/sdds-themes/src/css/sdds_insol.module.css
  packages/themes/sdds-themes/src/css/sdds_insol__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol__light.ts
Due: eslint --fix, prettier --write

fix(heading): add a11y role heading
  packages/plasma-new-hope/src/components/Typography/Heading/Heading.tsx
  packages/plasma-new-hope/src/components/Typography/Typography.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add labelAriaHidden props for `TextArea` component
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add view container to storybook
  packages/plasma-b2c/.storybook/decoratorThemes.tsx
  packages/plasma-web/.storybook/decoratorThemes.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add view container web and b2c
  packages/plasma-b2c/src/components/ViewContainer/ViewContainer.config.ts
  packages/plasma-b2c/src/components/ViewContainer/ViewContainer.stories.tsx
  packages/plasma-b2c/src/components/ViewContainer/ViewContainer.ts
  packages/plasma-b2c/src/components/ViewContainer/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-web/src/components/ViewContainer/ViewContainer.config.ts
  packages/plasma-web/src/components/ViewContainer/ViewContainer.stories.tsx
  packages/plasma-web/src/components/ViewContainer/ViewContainer.ts
  packages/plasma-web/src/components/ViewContainer/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(*): add view container to docs
  packages/plasma-b2c/.storybook/decoratorThemes.tsx
  packages/plasma-b2c/.storybook/preview.ts
  packages/plasma-web/.storybook/decoratorThemes.tsx
  packages/plasma-web/.storybook/preview.ts
  website/plasma-b2c-docs/docs/components/ViewContainer.mdx
  website/plasma-web-docs/docs/components/ViewContainer.mdx
Due: eslint --fix, prettier --write, stylelint

feat(b2c): add tokens fallbacks
  packages/plasma-tokens-b2c/data/fallbackThemes.ts
Due: eslint --fix, prettier --write

feat(*): reverting UI changes in Tree
  cypress/snapshots/b2c/components/Tree/Tree.component-test.tsx/plasma-b2c Tree -- flow controlled.snap.png
  cypress/snapshots/b2c/components/Tree/Tree.component-test.tsx/plasma-b2c Tree -- prop defaultSelectedKeys.snap.png
  cypress/snapshots/b2c/components/Tree/Tree.component-test.tsx/plasma-b2c Tree -- prop multiple.snap.png
  cypress/snapshots/giga/components/Tree/Tree.component-test.tsx/plasma-giga Tree -- flow controlled.snap.png
  cypress/snapshots/giga/components/Tree/Tree.component-test.tsx/plasma-giga Tree -- prop defaultSelectedKeys.snap.png
  cypress/snapshots/giga/components/Tree/Tree.component-test.tsx/plasma-giga Tree -- prop multiple.snap.png
  cypress/snapshots/insol/components/Tree/Tree.component-test.tsx/sdds-insol Tree -- flow controlled.snap.png
  cypress/snapshots/insol/components/Tree/Tree.component-test.tsx/sdds-insol Tree -- prop defaultSelectedKeys.snap.png
  cypress/snapshots/insol/components/Tree/Tree.component-test.tsx/sdds-insol Tree -- prop multiple.snap.png
  cypress/snapshots/web/components/Tree/Tree.component-test.tsx/plasma-web Tree -- flow controlled.snap.png
  cypress/snapshots/web/components/Tree/Tree.component-test.tsx/plasma-web Tree -- prop defaultSelectedKeys.snap.png
  cypress/snapshots/web/components/Tree/Tree.component-test.tsx/plasma-web Tree -- prop multiple.snap.png
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
Due: eslint --fix, prettier --write, stylelint

fix(*): handle state for text prop [Note]
  packages/plasma-new-hope/src/components/Note/Note.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add docs for note hasClose
  packages/plasma-new-hope/src/components/Note/Note.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Note.mdx
  website/plasma-giga-docs/docs/components/Note.mdx
  website/plasma-web-docs/docs/components/Note.mdx
  website/sdds-crm-docs/docs/components/Note.mdx
  website/sdds-dfa-docs/docs/components/Note.mdx
  website/sdds-finportal-docs/docs/components/Note.mdx
  website/sdds-insol-docs/docs/components/Note.mdx
  website/sdds-netology-docs/docs/components/Note.mdx
  website/sdds-scan-docs/docs/components/Note.mdx
  website/sdds-serv-docs/docs/components/Note.mdx
Due: none

fix(*): remove ellipses
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- long title with close icon.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- long title.snap.png
  cypress/snapshots/giga/components/Note/Note.component-test.tsx/plasma-giga Note -- long title with close icon.snap.png
  cypress/snapshots/giga/components/Note/Note.component-test.tsx/plasma-giga Note -- long title.snap.png
  cypress/snapshots/insol/components/Note/Note.component-test.tsx/sdds-insol Note -- long title with close icon.snap.png
  cypress/snapshots/insol/components/Note/Note.component-test.tsx/sdds-insol Note -- long title.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- long title with close icon.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- long title.snap.png
  packages/plasma-b2c/src/components/Note/Note.stories.tsx
  packages/plasma-giga/src/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/components/Note/variations/_size/base.ts
  packages/plasma-new-hope/src/examples/components/Note/Note.stories.tsx
  packages/plasma-web/src/components/Note/Note.stories.tsx
  packages/sdds-bizcom/src/components/Note/Note.stories.tsx
  packages/sdds-crm/src/components/Note/Note.config.ts
  packages/sdds-crm/src/components/Note/Note.stories.tsx
  packages/sdds-dfa/src/components/Note/Note.stories.tsx
  packages/sdds-finportal/src/components/Note/Note.stories.tsx
  packages/sdds-insol/src/components/Note/Note.stories.tsx
  packages/sdds-netology/src/components/Note/Note.stories.tsx
  packages/sdds-scan/src/components/Note/Note.config.ts
  packages/sdds-scan/src/components/Note/Note.stories.tsx
  packages/sdds-serv/src/components/Note/Note.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-bizcom/package-lock.json
  packages/sdds-crm/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-netology/package-lock.json
  packages/sdds-scan/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add api for InformationWrapper
  packages/plasma-new-hope/src/components/InformationWrapper/InformationWrapper.types.ts
  packages/plasma-new-hope/src/components/InformationWrapper/index.ts
Due: eslint --fix, prettier --write

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-bizcom/package-lock.json
  packages/sdds-crm/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-netology/package-lock.json
  packages/sdds-scan/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

chore: Update CHANGELOG.md [skip ci]
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-giga/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-bizcom/CHANGELOG.md
  packages/sdds-crm/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-insol/CHANGELOG.md
  packages/sdds-netology/CHANGELOG.md
  packages/sdds-scan/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-crm.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finportal.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat(sdds-cs): add examples for card
  packages/plasma-new-hope/src/components/Card/Card.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/sdds-cs/src/index.ts
  website/sdds-cs-docs/docs/components/Card.mdx
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): fix paths for storybook
  packages/plasma-new-hope/src/examples/components/Combobox/Combobox.ts
  packages/plasma-new-hope/src/examples/components/Popover/Popover.ts
  packages/plasma-new-hope/src/examples/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/components/Select/Select.ts
  packages/plasma-new-hope/src/examples/components/Table/Table.ts
Due: eslint --fix, prettier --write

feat(b2c): add EmbedIconButton config
  packages/plasma-b2c/src/components/EmbedIconButton/EmbedIconButton.config.ts
  packages/plasma-b2c/src/components/EmbedIconButton/EmbedIconButton.stories.tsx
  packages/plasma-b2c/src/components/EmbedIconButton/EmbedIconButton.ts
  packages/plasma-b2c/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/plasma-b2c/src/components/EmbedIconButton/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-new-hope/src/components/EmbedIconButton/EmbedIconButton.styles.ts
  packages/plasma-new-hope/src/components/EmbedIconButton/EmbedIconButton.template-doc.mdx
  packages/plasma-new-hope/src/components/EmbedIconButton/EmbedIconButton.tokens.ts
  packages/plasma-new-hope/src/components/EmbedIconButton/EmbedIconButton.tsx
  packages/plasma-new-hope/src/components/EmbedIconButton/index.ts
  packages/plasma-new-hope/src/examples/components/EmbedIconButton/EmbedIconButton.config.ts
  packages/plasma-new-hope/src/examples/components/EmbedIconButton/EmbedIconButton.stories.tsx
  packages/plasma-new-hope/src/examples/components/EmbedIconButton/EmbedIconButton.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(): update types
  packages/plasma-new-hope/src/components/NavigationDrawer/NavigationDrawer.types.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): add InformationWrapper component
  packages/plasma-new-hope/src/components/InformationWrapper/InformationWrapper.styles.ts
  packages/plasma-new-hope/src/components/InformationWrapper/InformationWrapper.tokens.ts
  packages/plasma-new-hope/src/components/InformationWrapper/InformationWrapper.tsx
  packages/plasma-new-hope/src/components/InformationWrapper/InformationWrapper.types.ts
  packages/plasma-new-hope/src/components/InformationWrapper/index.ts
  packages/plasma-new-hope/src/components/InformationWrapper/ui/Hint/Hint.tsx
  packages/plasma-new-hope/src/components/InformationWrapper/ui/Hint/Hint.types.ts
  packages/plasma-new-hope/src/components/InformationWrapper/ui/Label/Label.tsx
  packages/plasma-new-hope/src/components/InformationWrapper/ui/Label/Label.types.ts
  packages/plasma-new-hope/src/components/InformationWrapper/ui/index.ts
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_disabled/tokens.json
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_hint-size/base.ts
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_hint-size/tokens.json
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_hint-view/base.ts
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_hint-view/tokens.json
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_size/base.ts
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_view/base.ts
  packages/plasma-new-hope/src/components/InformationWrapper/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/components/InformationWrapper/InformationWrapper.config.ts
  packages/plasma-new-hope/src/examples/components/InformationWrapper/InformationWrapper.stories.tsx
  packages/plasma-new-hope/src/examples/components/InformationWrapper/InformationWrapper.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): fix issue with textValue after rerender
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-giga/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.component-test.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): fix issue with textValue after rerender
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-giga/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.component-test.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint
