Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore(sdds-cs): use theme tokens in component configs
  packages/sdds-cs/src/components/Accordion/Accordion.config.ts
  packages/sdds-cs/src/components/Attach/Attach.config.ts
  packages/sdds-cs/src/components/Badge/Badge.config.ts
  packages/sdds-cs/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-cs/src/components/Card/Card.config.ts
  packages/sdds-cs/src/components/Carousel/Carousel.config.ts
  packages/sdds-cs/src/components/Cell/Cell.config.ts
  packages/sdds-cs/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-cs/src/components/ChipGroup/ChipGroup.config.ts
  packages/sdds-cs/src/components/Counter/Counter.config.ts
  packages/sdds-cs/src/components/Divider/Divider.config.ts
  packages/sdds-cs/src/components/EmptyState/EmptyState.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/Notification/Notification.config.ts
  packages/sdds-cs/src/components/NumberInput/NumberInput.config.ts
  packages/sdds-cs/src/components/Pagination/Pagination.config.ts
  packages/sdds-cs/src/components/Popover/Popover.config.ts
  packages/sdds-cs/src/components/Progress/Progress.config.ts
  packages/sdds-cs/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-cs/src/components/Range/Range.config.ts
  packages/sdds-cs/src/components/Rating/Rating.config.ts
  packages/sdds-cs/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-cs/src/components/Segment/SegmentItem.config.ts
  packages/sdds-cs/src/components/Slider/Slider.config.ts
  packages/sdds-cs/src/components/Steps/Steps.config.ts
  packages/sdds-cs/src/components/Switch/Switch.config.ts
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabs.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabs.config.ts
  packages/sdds-cs/src/components/TextField/TextField.clear.config.ts
  packages/sdds-cs/src/components/Toast/Toast.config.ts
  packages/sdds-cs/src/components/ToastNew/ToastNew.config.ts
  packages/sdds-cs/src/components/Tooltip/Tooltip.config.ts
  packages/sdds-cs/src/components/Tree/Tree.config.ts
  packages/sdds-cs/src/components/Typography/Body.config.ts
  packages/sdds-cs/src/components/Typography/Dspl.config.ts
  packages/sdds-cs/src/components/Typography/Heading.config.ts
  packages/sdds-cs/src/components/Typography/Text.config.ts
Due: eslint --fix, prettier --write

docs: Migration progress
  TOKEN_MIGRATION_REPORT.md
  scripts/migrate-plasma-giga-config-tokens.mjs
Due: prettier --write --parser markdown

chore(plasma-b2c): scrollbar config
  packages/plasma-b2c/src/components/Scrollbar/Scrollbar.config.ts
Due: eslint --fix, prettier --write

chore(sdds-serv): scrollbar config
  packages/sdds-serv/src/components/Scrollbar/Scrollbar.config.ts
Due: eslint --fix, prettier --write

chore(sdds-scan): scrollbar config
  packages/sdds-scan/src/components/Scrollbar/Scrollbar.config.ts
Due: eslint --fix, prettier --write

chore(plasma-new-hope): scrollbar config
  packages/plasma-new-hope/src/examples/components/Scrollbar/Scrollbar.config.ts
Due: eslint --fix, prettier --write

fix(platform-ai): use labelPadding token [TextField] [PLASMA-6952]
  packages/sdds-platform-ai/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

fix(core): add labelPadding token [PLASMA-6952]
  packages/plasma-new-hope/src/components/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): fix Note content min-height
  packages/plasma-new-hope/src/components/Note/Note.styles.ts
  packages/plasma-new-hope/src/components/Note/Note.tsx
  packages/plasma-new-hope/src/components/Note/variations/_size/base.ts
  packages/plasma-new-hope/src/examples/components/Note/Note.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: migrate Note stories to sb-utils
  packages/plasma-b2c/src/components/Note/Note.stories.tsx
  packages/plasma-giga/src/components/Note/Note.stories.tsx
  packages/plasma-homeds/src/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/examples/components/Note/Note.stories.tsx
  packages/plasma-web/src/components/Note/Note.stories.tsx
  packages/sdds-bizcom/src/components/Note/Note.stories.tsx
  packages/sdds-crm/src/components/Note/Note.stories.tsx
  packages/sdds-dfa/src/components/Note/Note.stories.tsx
  packages/sdds-finai/src/components/Note/Note.stories.tsx
  packages/sdds-insol/src/components/Note/Note.stories.tsx
  packages/sdds-netology/src/components/Note/Note.stories.tsx
  packages/sdds-platform-ai/src/components/Note/Note.stories.tsx
  packages/sdds-sbcom/src/components/Note/Note.stories.tsx
  packages/sdds-scan/src/components/Note/Note.stories.tsx
  packages/sdds-serv/src/components/Note/Note.stories.tsx
  utils/plasma-sb-utils/src/components/Note/Note.tsx
  utils/plasma-sb-utils/src/components/Note/fixtures.ts
  utils/plasma-sb-utils/src/components/Note/index.ts
  utils/plasma-sb-utils/src/components/Note/meta.ts
  utils/plasma-sb-utils/src/components/Note/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): omit attr title in Dropzone
  packages/plasma-new-hope/src/components/Dropzone/Dropzone.tsx
  packages/plasma-new-hope/src/components/Dropzone/Dropzone.types.ts
  packages/plasma-new-hope/src/engines/common.tsx
  packages/plasma-new-hope/src/engines/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(pagination): fix config [PLASMA-6673]
  packages/sdds-finai/src/components/Pagination/Pagination.config.ts
  website/sdds-finai-docs/docs/components/Pagination.mdx
Due: eslint --fix, prettier --write

fix(toolbar): fix config [PLASMA-6673]
  packages/sdds-finai/src/components/Toolbar/Toolbar.config.ts
  packages/sdds-finai/src/components/Toolbar/Toolbar.stories.tsx
  website/sdds-finai-docs/docs/components/Toolbar.mdx
Due: eslint --fix, prettier --write, stylelint

fix(autocomplete): fix stories [PLASMA-6673]
  packages/sdds-finai/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-finai/src/components/Autocomplete/Autocomplete.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(tab): fix config [PLASMA-6673]
  packages/sdds-finai/src/components/Tabs/horizontal/HorizontalTabs.config.ts
  packages/sdds-finai/src/components/Tabs/vertical/VerticalTabs.config.ts
Due: eslint --fix, prettier --write

fix(dropdown): fix config/stories [PLASMA-6673]
  packages/sdds-finai/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-finai/src/components/Dropdown/Dropdown.stories.tsx
  website/sdds-finai-docs/docs/components/Dropdown.mdx
Due: eslint --fix, prettier --write, stylelint

fix(tooltip): fix stories [PLASMA-6673]
  packages/sdds-finai/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): refactor NumberInput
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- customIncrementButton,customDecrementButton.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- disabled.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- displayWithoutValue.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- displayWithoutValue=decrement, click shows full component.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- displayWithoutValue=increment, click shows full component.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- incrementIcon,decrementIcon.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- inputBackgroundType.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- isLoading.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=disabled.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=hidden, decrement appears after increment from min.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=hidden, increment appears after decrement from max.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=hidden.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- min,max.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- shape=pilled.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- step.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- view=default, size=s, shape=cornered, segmentation=solid.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- customIncrementButton,customDecrementButton.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- disabled.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- displayWithoutValue.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- displayWithoutValue=decrement, click shows full component.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- displayWithoutValue=increment, click shows full component.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- incrementIcon,decrementIcon.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- inputBackgroundType.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- isLoading.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=disabled.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=hidden, decrement appears after increment from min.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=hidden, increment appears after decrement from max.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=hidden.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- min,max.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- shape=pilled.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- step.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- view=default, size=s, shape=cornered, segmentation=solid.snap.png
  packages/sdds-cs/src/components/NumberInput/NumberInput.config.ts
  packages/sdds-cs/src/components/NumberInput/NumberInput.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add additional text tokens in NumberInput
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tokens.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_segmentation/base.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_size/base.ts
Due: eslint --fix, prettier --write

feat(finai): update views & add shadow token for toast
  packages/plasma-new-hope/src/components/Toast/Toast.tokens.ts
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.styles.ts
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.tokens.ts
  packages/plasma-new-hope/src/components/Toast/variations/_view/base.ts
  packages/sdds-finai/src/components/Toast/Toast.config.ts
  packages/sdds-finai/src/components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: minor changes in token naming & story config for toast
  packages/plasma-new-hope/src/components/Toast/Toast.tokens.ts
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.tokens.ts
  packages/sdds-finai/src/components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
