Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(*): add to swicth labelEllipses props
  cypress/snapshots/b2c/components/Switch/Switch.update-test.component-test.tsx/plasma-b2c Switch -- [PLASMA-5794] Switch size=l, label, description, checked, labelEllipses=false.snap.png
  cypress/snapshots/b2c/components/Switch/Switch.update-test.component-test.tsx/plasma-b2c Switch -- [PLASMA-5794] Switch size=l, label, description, checked, labelEllipses=true.snap.png
  packages/plasma-b2c/src/components/Switch/Switch.stories.tsx
  packages/plasma-b2c/src/components/Switch/Switch.update-test.component-test.tsx
  packages/plasma-giga/src/components/Switch/Switch.stories.tsx
  packages/plasma-new-hope/src/components/Switch/Switch.styles.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tokens.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tsx
  packages/plasma-new-hope/src/components/Switch/Switch.types.ts
  packages/plasma-new-hope/src/examples/components/Switch/Switch.stories.tsx
  packages/plasma-web/src/components/Switch/Switch.stories.tsx
  packages/sdds-bizcom/src/components/Switch/Switch.stories.tsx
  packages/sdds-crm/src/components/Switch/Switch.stories.tsx
  packages/sdds-cs/src/components/Switch/Switch.stories.tsx
  packages/sdds-dfa/src/components/Switch/Switch.stories.tsx
  packages/sdds-finai/src/components/Switch/Switch.stories.tsx
  packages/sdds-insol/src/components/Switch/Switch.stories.tsx
  packages/sdds-netology/src/components/Switch/Switch.stories.tsx
  packages/sdds-scan/src/components/Switch/Switch.stories.tsx
  packages/sdds-serv/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update CodeField docs with OTP Web API
  packages/plasma-new-hope/src/components/CodeField/CodeField.template-doc.mdx
  website/plasma-b2c-docs/docs/components/CodeField.mdx
  website/plasma-giga-docs/docs/components/CodeField.mdx
  website/plasma-web-docs/docs/components/CodeField.mdx
  website/sdds-crm-docs/docs/components/CodeField.mdx
  website/sdds-dfa-docs/docs/components/CodeField.mdx
  website/sdds-finai-docs/docs/components/CodeField.mdx
  website/sdds-insol-docs/docs/components/CodeField.mdx
  website/sdds-netology-docs/docs/components/CodeField.mdx
  website/sdds-serv-docs/docs/components/CodeField.mdx
Due: none

feat(plasma-new-hope): add otp support
  packages/plasma-new-hope/src/components/CodeField/CodeField.styles.ts
  packages/plasma-new-hope/src/components/CodeField/CodeField.tsx
  packages/plasma-new-hope/src/components/CodeField/hooks/useWebOTP.ts
  packages/plasma-new-hope/src/components/CodeField/utils/handleCodeError.ts
  packages/plasma-new-hope/src/components/CodeField/utils/handleItemError.ts
  packages/plasma-new-hope/src/components/CodeField/utils/index.ts
  packages/plasma-new-hope/src/components/CodeField/utils/isWebOTPSupported.ts
  packages/plasma-new-hope/src/examples/components/CodeField/CodeField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): test commit
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  utils/plasma-sb-utils/src/components/Select/Select.tsx
  utils/plasma-sb-utils/src/components/Select/index.ts
  utils/plasma-sb-utils/src/components/Select/meta.ts
  utils/plasma-sb-utils/src/components/Select/mock.ts
  utils/plasma-sb-utils/src/components/Select/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: add xl size to Range
  cypress/snapshots/b2c/components/Range/Range.component-test.tsx/plasma-b2c Range -- _size.snap.png
  cypress/snapshots/giga/components/Range/Range.update-test.component-test.tsx/plasma-giga Range -- Range size=xl.snap.png
  cypress/snapshots/web/components/Range/Range.component-test.tsx/plasma-web Range -- _size.snap.png
  packages/plasma-b2c/src/components/Range/Range.component-test.tsx
  packages/plasma-b2c/src/components/Range/Range.config.ts
  packages/plasma-b2c/src/components/Range/Range.stories.tsx
  packages/plasma-giga/src/components/Range/Range.config.ts
  packages/plasma-giga/src/components/Range/Range.stories.tsx
  packages/plasma-giga/src/components/Range/Range.update-test.component-test.tsx
  packages/plasma-new-hope/src/examples/components/Range/Range.config.ts
  packages/plasma-new-hope/src/examples/components/Range/Range.stories.tsx
  packages/plasma-web/src/components/Range/Range.component-test.tsx
  packages/plasma-web/src/components/Range/Range.config.ts
  packages/plasma-web/src/components/Range/Range.stories.tsx
  packages/sdds-bizcom/src/components/Range/Range.config.ts
  packages/sdds-bizcom/src/components/Range/Range.stories.tsx
  packages/sdds-crm/src/components/Range/Range.config.ts
  packages/sdds-crm/src/components/Range/Range.stories.tsx
  packages/sdds-dfa/src/components/Range/Range.config.ts
  packages/sdds-dfa/src/components/Range/Range.stories.tsx
  packages/sdds-finai/src/components/Range/Range.config.ts
  packages/sdds-finai/src/components/Range/Range.stories.tsx
  packages/sdds-netology/src/components/Range/Range.config.ts
  packages/sdds-netology/src/components/Range/Range.stories.tsx
  packages/sdds-scan/src/components/Range/Range.config.ts
  packages/sdds-scan/src/components/Range/Range.stories.tsx
  packages/sdds-serv/src/components/Range/Range.config.ts
  packages/sdds-serv/src/components/Range/Range.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-core): Updated screnshot tests for pagination
  cypress/snapshots/b2c/components/Pagination/Pagination.update-test.component-test.tsx/plasma-b2c Pagination -- [PLASMA-T1679] Pagination size=l, view=default, viewCurrentPage=clear,count=100, value=1, slots=7, type=default, hasQuickJump.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.update-test.component-test.tsx/plasma-b2c Pagination -- [PLASMA-T1680] Pagination size=m, view=secondary, viewCurrentPage=default,count=1000, value=1, slots=10, type=compact, hasPerPage.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.update-test.component-test.tsx/plasma-b2c Pagination -- [PLASMA-T1681] Pagination size=s, view=clear, viewCurrentPage=secondary,count=1000, value=10, slots=15, type=compact, pilled.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.update-test.component-test.tsx/plasma-b2c Pagination -- [PLASMA-T1682] Pagination size=xs, view=default, viewCurrentPage=secondary,count=2000, value=1, slots=10, type=default, square.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.update-test.component-test.tsx/plasma-b2c Pagination -- [PLASMA-T891] Pagination select perPage.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.update-test.component-test.tsx/plasma-b2c Pagination -- [PLASMA-T899] Pagination select page by Prev and Next.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.update-test.component-test.tsx/plasma-b2c Pagination -- [PLASMA-T900] Pagination select page by quickJump.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.update-test.component-test.tsx/sdds-cs Pagination -- [PLASMA-T1679] Pagination size=l, view=default, viewCurrentPage=clear,count=100, value=1, slots=7, type=default, hasQuickJump.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.update-test.component-test.tsx/sdds-cs Pagination -- [PLASMA-T1680] Pagination size=m, view=secondary, viewCurrentPage=default,count=1000, value=1, slots=10, type=compact, hasPerPage.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.update-test.component-test.tsx/sdds-cs Pagination -- [PLASMA-T1681] Pagination size=s, view=clear, viewCurrentPage=secondary,count=1000, value=10, slots=15, type=compact, pilled.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.update-test.component-test.tsx/sdds-cs Pagination -- [PLASMA-T1682] Pagination size=xs, view=default, viewCurrentPage=secondary,count=2000, value=1, slots=10, type=default, square.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.update-test.component-test.tsx/sdds-cs Pagination -- [PLASMA-T891] Pagination select perPage.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.update-test.component-test.tsx/sdds-cs Pagination -- [PLASMA-T899] Pagination select page by Prev and Next.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.update-test.component-test.tsx/sdds-cs Pagination -- [PLASMA-T900] Pagination select page by quickJump.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.update-test.component-test.tsx/plasma-giga Pagination -- [PLASMA-T1679] Pagination size=l, view=default, viewCurrentPage=clear,count=100, value=1, slots=7, type=default, hasQuickJump.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.update-test.component-test.tsx/plasma-giga Pagination -- [PLASMA-T1680] Pagination size=m, view=secondary, viewCurrentPage=default,count=1000, value=1, slots=10, type=compact, hasPerPage.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.update-test.component-test.tsx/plasma-giga Pagination -- [PLASMA-T1681] Pagination size=s, view=clear, viewCurrentPage=secondary,count=1000, value=10, slots=15, type=compact, pilled.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.update-test.component-test.tsx/plasma-giga Pagination -- [PLASMA-T1682] Pagination size=xs, view=default, viewCurrentPage=secondary,count=2000, value=1, slots=10, type=default, square.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.update-test.component-test.tsx/plasma-giga Pagination -- [PLASMA-T891] Pagination select perPage.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.update-test.component-test.tsx/plasma-giga Pagination -- [PLASMA-T899] Pagination select page by Prev and Next.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.update-test.component-test.tsx/plasma-giga Pagination -- [PLASMA-T900] Pagination select page by quickJump.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.update-test.component-test.tsx/sdds-insol Pagination -- [PLASMA-T1679] Pagination size=l, view=default, viewCurrentPage=clear,count=100, value=1, slots=7, type=default, hasQuickJump.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.update-test.component-test.tsx/sdds-insol Pagination -- [PLASMA-T1680] Pagination size=m, view=secondary, viewCurrentPage=default,count=1000, value=1, slots=10, type=compact, hasPerPage.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.update-test.component-test.tsx/sdds-insol Pagination -- [PLASMA-T1681] Pagination size=s, view=clear, viewCurrentPage=secondary,count=1000, value=10, slots=15, type=compact, pilled.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.update-test.component-test.tsx/sdds-insol Pagination -- [PLASMA-T1682] Pagination size=xs, view=default, viewCurrentPage=secondary,count=2000, value=1, slots=10, type=default, square.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.update-test.component-test.tsx/sdds-insol Pagination -- [PLASMA-T891] Pagination select perPage.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.update-test.component-test.tsx/sdds-insol Pagination -- [PLASMA-T899] Pagination select page by Prev and Next.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.update-test.component-test.tsx/sdds-insol Pagination -- [PLASMA-T900] Pagination select page by quickJump.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.update-test.component-test.tsx/plasma-web Pagination -- [PLASMA-T1679] Pagination size=l, view=default, viewCurrentPage=clear,count=100, value=1, slots=7, type=default, hasQuickJump.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.update-test.component-test.tsx/plasma-web Pagination -- [PLASMA-T1680] Pagination size=m, view=secondary, viewCurrentPage=default,count=1000, value=1, slots=10, type=compact, hasPerPage.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.update-test.component-test.tsx/plasma-web Pagination -- [PLASMA-T1681] Pagination size=s, view=clear, viewCurrentPage=secondary,count=1000, value=10, slots=15, type=compact, pilled.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.update-test.component-test.tsx/plasma-web Pagination -- [PLASMA-T1682] Pagination size=xs, view=default, viewCurrentPage=secondary,count=2000, value=1, slots=10, type=default, square.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.update-test.component-test.tsx/plasma-web Pagination -- [PLASMA-T891] Pagination select perPage.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.update-test.component-test.tsx/plasma-web Pagination -- [PLASMA-T899] Pagination select page by Prev and Next.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.update-test.component-test.tsx/plasma-web Pagination -- [PLASMA-T900] Pagination select page by quickJump.snap.png
  packages/plasma-b2c/src/components/Pagination/Pagination.update-test.component-test.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.update-test.component-test.tsx
  packages/plasma-web/src/components/Pagination/Pagination.update-test.component-test.tsx
  packages/sdds-cs/src/components/Pagination/Pagination.update-test.component-test.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): remove side effect on calendar toggle
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fix id generating logic in popover
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update DatePicker docs
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.template-doc.mdx
  website/plasma-b2c-docs/docs/components/DatePicker.mdx
  website/plasma-giga-docs/docs/components/DatePicker.mdx
  website/plasma-web-docs/docs/components/DatePicker.mdx
  website/sdds-crm-docs/docs/components/DatePicker.mdx
  website/sdds-cs-docs/docs/components/DatePicker.mdx
  website/sdds-dfa-docs/docs/components/DatePicker.mdx
  website/sdds-finai-docs/docs/components/DatePicker.mdx
  website/sdds-insol-docs/docs/components/DatePicker.mdx
  website/sdds-netology-docs/docs/components/DatePicker.mdx
  website/sdds-scan-docs/docs/components/DatePicker.mdx
  website/sdds-serv-docs/docs/components/DatePicker.mdx
Due: none

fix(plasma-new-hope): fix callbacks call inside onBlur in RangeDatePicker
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web-docs): add RAG search
  website/plasma-web-docs/src/hooks/useSearchPage.ts
  website/plasma-web-docs/src/theme/SearchPage/index.tsx
  website/plasma-web-docs/src/theme/SearchPage/styles.module.css
  website/plasma-web-docs/src/utils/generalUtils.ts
Due: eslint --fix, prettier --write, stylelint

fix(*): fix
  packages/plasma-b2c/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-b2c/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.types.ts
  packages/plasma-new-hope/src/examples/components/Pagination/Pagination.stories.tsx
  packages/plasma-web/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-web/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-bizcom/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-crm/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-dfa/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-finai/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-netology/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-scan/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(web): fix shadow tokens
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Basic functionality -- renders with basic sections.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Basic functionality -- renders with custom contentLeft.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Basic functionality -- renders with header and footer.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Basic functionality -- renders with high counter values.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Basic functionality -- renders with icons when withContentLeft is true.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Basic functionality -- renders with very long labels.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Close state -- renders closed state.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Different modes -- renders in drawer mode.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Different modes -- renders in overlay mode.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Sizes -- renders closed custom contentLeft with size m.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Sizes -- renders closed with size m.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Sizes -- renders custom contentLeft with size m.snap.png
  cypress/snapshots/web/components/NavigationDrawer/NavigationDrawer.component-test.tsx/plasma-web NavigationDrawer -- Sizes -- renders with size m.snap.png
  packages/plasma-tokens-b2b/data/fallbackThemes.ts
  packages/plasma-tokens-b2c/data/fallbackThemes.ts
  packages/plasma-tokens-web/data/fallbackThemes.ts
Due: eslint --fix, prettier --write

fix(web): update screenshots
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- default.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop defaultDate, enableContentLeft, enableContentRight.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop input date from calendar.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop input date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop input masked date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop renderFromDate.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop size l.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop size m.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop size s.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop size xs.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop stretch.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- controlled datepicker reset date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- controlled datepicker set date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- default.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop defaultDate, enableContent.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop renderFromDate.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size l.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size m.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size s.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size xs.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop stretch.snap.png
  cypress/snapshots/web/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- hasBody hasClose.snap.png
  cypress/snapshots/web/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- hasBody.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- with hint -- _sizel.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- with hint -- _sizem.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- with hint -- _sizes.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- with hint -- _sizexl.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- with hint -- _sizexs.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- with hint -- _sizel.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- with hint -- _sizem.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- with hint -- _sizes.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- with hint -- _sizexs.snap.png
Due: none

feat(*): add to swicth labelEllipses props
  cypress/snapshots/b2c/components/Switch/Switch.update-test.component-test.tsx/plasma-b2c Switch -- [PLASMA-5794] Switch size=l, label, description, checked, labelEllipses=false.snap.png
  cypress/snapshots/b2c/components/Switch/Switch.update-test.component-test.tsx/plasma-b2c Switch -- [PLASMA-5794] Switch size=l, label, description, checked, labelEllipses=true.snap.png
  cypress/snapshots/b2c/components/Switch/Switch.update-test.component-test.tsx/plasma-b2c Switch -- [PLASMA-5794] Switch size=l, label, description, checked, singleLine=false.snap.png
  cypress/snapshots/b2c/components/Switch/Switch.update-test.component-test.tsx/plasma-b2c Switch -- [PLASMA-5794] Switch size=l, label, description, checked, singleLine=true.snap.png
  packages/plasma-b2c/src/components/Switch/Switch.stories.tsx
  packages/plasma-b2c/src/components/Switch/Switch.update-test.component-test.tsx
  packages/plasma-giga/src/components/Switch/Switch.stories.tsx
  packages/plasma-new-hope/src/components/Switch/Switch.styles.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tokens.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tsx
  packages/plasma-new-hope/src/components/Switch/Switch.types.ts
  packages/plasma-new-hope/src/examples/components/Switch/Switch.stories.tsx
  packages/plasma-web/src/components/Switch/Switch.stories.tsx
  packages/sdds-bizcom/src/components/Switch/Switch.stories.tsx
  packages/sdds-crm/src/components/Switch/Switch.stories.tsx
  packages/sdds-cs/src/components/Switch/Switch.stories.tsx
  packages/sdds-dfa/src/components/Switch/Switch.stories.tsx
  packages/sdds-finai/src/components/Switch/Switch.stories.tsx
  packages/sdds-insol/src/components/Switch/Switch.stories.tsx
  packages/sdds-netology/src/components/Switch/Switch.stories.tsx
  packages/sdds-scan/src/components/Switch/Switch.stories.tsx
  packages/sdds-serv/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add brightness tokens
  packages/plasma-tokens/data/themes/plasma_b2c.json
Due: prettier --write --parser json

feat(new-hope): add scrollable block after closing
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

docs(notification): improved
  packages/plasma-new-hope/src/components/Notification/Notification.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Notification.mdx
  website/plasma-giga-docs/docs/components/Notification.mdx
  website/plasma-web-docs/docs/components/Notification.mdx
  website/sdds-crm-docs/docs/components/Notification.mdx
  website/sdds-cs-docs/docs/components/Notification.mdx
  website/sdds-dfa-docs/docs/components/Notification.mdx
  website/sdds-finai-docs/docs/components/Notification.mdx
  website/sdds-insol-docs/docs/components/Notification.mdx
  website/sdds-netology-docs/docs/components/Notification.mdx
  website/sdds-scan-docs/docs/components/Notification.mdx
  website/sdds-serv-docs/docs/components/Notification.mdx
Due: none

feat(plasma-web-docs): add RAG search
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-web-docs/src/hooks/useSearchPage.ts
  website/plasma-web-docs/src/theme/SearchPage/index.tsx
  website/plasma-web-docs/src/theme/SearchPage/styles.module.css
  website/plasma-web-docs/src/utils/generalUtils.ts
Due: eslint --fix, prettier --write, stylelint

chore(website): fix float menu
  website/plasma-website/components/main/Menu/Menu.styles.ts
Due: eslint --fix, prettier --write

chore(website): render all platforms product
  website/plasma-website/components/main/Product/Product.styles.ts
  website/plasma-website/components/main/Product/Product.tsx
  website/plasma-website/pages/index.tsx
  website/plasma-website/utils/constants.tsx
Due: eslint --fix, prettier --write, stylelint

chore(website): render all platforms product
  website/plasma-website/components/main/Product/Product.styles.ts
  website/plasma-website/components/main/Product/Product.tsx
  website/plasma-website/hooks/useGitHubData.ts
  website/plasma-website/pages/index.tsx
  website/plasma-website/public/data/native-platforms-meta.json
  website/plasma-website/utils/constants.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-icons): add icon pptx
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankPptxFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankPptxOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icon pptx [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankPptxFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankPptxOutline.svg
Due: none

feat(plasma-icons): add icon pptx [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankPptxFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankPptxOutline.svg
Due: none

feat(plasma-icons): add icons coupon [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/CouponDiscountFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CouponDiscountOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons coupon [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/CouponDiscountFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CouponDiscountOutline.svg
Due: none

feat(plasma-icons): add icons coupon [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/CouponDiscountFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CouponDiscountOutline.svg
Due: none

feat(plasma-icons): add icons cards [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/CardsGridFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CardsGridOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CardsListFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CardsListOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons cards [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/CardsGridFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CardsGridOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CardsListFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CardsListOutline.svg
Due: none

feat(plasma-icons): add icons cards [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/CardsGridFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CardsGridOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CardsListFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CardsListOutline.svg
Due: none

test(plasma-core): Update tests for skeleton, toast
  cypress/snapshots/b2c/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-b2c Skeleton -- LineSkeleton -- [PLASMA-T1832] Skeleton size=display1, roundness=0.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-b2c Skeleton -- LineSkeleton -- [PLASMA-T1833] Skeleton size=button2, roundness=32, lighter.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-b2c Skeleton -- LineSkeleton -- [PLASMA-T1834] Skeleton size=textXS, roundness=250.snap.png
  cypress/snapshots/b2c/components/Toast/Toast.update-test.component-test.tsx/plasma-b2c Toast -- [PLASMA-T1713] Toast size=m, view=default, with Text, with close.snap.png
  cypress/snapshots/b2c/components/Toast/Toast.update-test.component-test.tsx/plasma-b2c Toast -- [PLASMA-T1714] Toast size=m, view=positive, noText, enableContentLeft.snap.png
  cypress/snapshots/b2c/components/Toast/Toast.update-test.component-test.tsx/plasma-b2c Toast -- [PLASMA-T1715] Toast size=m, view=negative, with Text, enableContentLeft, pilled.snap.png
  cypress/snapshots/cs/components/Skeleton/Skeleton.update-test.component-test.tsx/sdds-cs Skeleton -- LineSkeleton -- [PLASMA-T1832] Skeleton size=dsplL, roundness=0.snap.png
  cypress/snapshots/cs/components/Skeleton/Skeleton.update-test.component-test.tsx/sdds-cs Skeleton -- LineSkeleton -- [PLASMA-T1833] Skeleton size=bodyL, roundness=32, lighter.snap.png
  cypress/snapshots/cs/components/Skeleton/Skeleton.update-test.component-test.tsx/sdds-cs Skeleton -- LineSkeleton -- [PLASMA-T1834] Skeleton size=textXS, roundness=250.snap.png
  cypress/snapshots/cs/components/Toast/Toast.update-test.component-test.tsx/sdds-cs Toast -- [PLASMA-T1713] Toast size=s, view=default, with Text, with close.snap.png
  cypress/snapshots/cs/components/Toast/Toast.update-test.component-test.tsx/sdds-cs Toast -- [PLASMA-T1714] Toast size=s, view=default, noText, enableContentLeft.snap.png
  cypress/snapshots/cs/components/Toast/Toast.update-test.component-test.tsx/sdds-cs Toast -- [PLASMA-T1715] Toast size=s, view=default, with Text, enableContentLeft, pilled.snap.png
  cypress/snapshots/giga/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-giga Skeleton -- LineSkeleton -- [PLASMA-T1832] Skeleton size=dsplL, roundness=0.snap.png
  cypress/snapshots/giga/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-giga Skeleton -- LineSkeleton -- [PLASMA-T1833] Skeleton size=button2, roundness=32, lighter.snap.png
  cypress/snapshots/giga/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-giga Skeleton -- LineSkeleton -- [PLASMA-T1834] Skeleton size=textXS, roundness=250.snap.png
  cypress/snapshots/giga/components/Toast/Toast.update-test.component-test.tsx/plasma-giga Toast -- [PLASMA-T1713] Toast size=m, view=default, with Text, with close.snap.png
  cypress/snapshots/giga/components/Toast/Toast.update-test.component-test.tsx/plasma-giga Toast -- [PLASMA-T1714] Toast size=m, view=positive, noText, enableContentLeft.snap.png
  cypress/snapshots/giga/components/Toast/Toast.update-test.component-test.tsx/plasma-giga Toast -- [PLASMA-T1715] Toast size=m, view=negative, with Text, enableContentLeft, pilled.snap.png
  cypress/snapshots/insol/components/Skeleton/Skeleton.update-test.component-test.tsx/sdds-insol Skeleton -- LineSkeleton -- [PLASMA-T1832] Skeleton size=dsplL, roundness=0.snap.png
  cypress/snapshots/insol/components/Skeleton/Skeleton.update-test.component-test.tsx/sdds-insol Skeleton -- LineSkeleton -- [PLASMA-T1833] Skeleton size=bodyL, roundness=32, lighter.snap.png
  cypress/snapshots/insol/components/Skeleton/Skeleton.update-test.component-test.tsx/sdds-insol Skeleton -- LineSkeleton -- [PLASMA-T1834] Skeleton size=textXS, roundness=250.snap.png
  cypress/snapshots/insol/components/Toast/Toast.update-test.component-test.tsx/sdds-insol Toast -- [PLASMA-T1713] Toast size=m, view=default, with Text, with close.snap.png
  cypress/snapshots/insol/components/Toast/Toast.update-test.component-test.tsx/sdds-insol Toast -- [PLASMA-T1714] Toast size=m, view=positive, noText, enableContentLeft.snap.png
  cypress/snapshots/insol/components/Toast/Toast.update-test.component-test.tsx/sdds-insol Toast -- [PLASMA-T1715] Toast size=m, view=negative, with Text, enableContentLeft, pilled.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-web Skeleton -- LineSkeleton -- [PLASMA-T1832] Skeleton size=dsplL, roundness=0.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-web Skeleton -- LineSkeleton -- [PLASMA-T1833] Skeleton size=button2, roundness=32, lighter.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.update-test.component-test.tsx/plasma-web Skeleton -- LineSkeleton -- [PLASMA-T1834] Skeleton size=textXS, roundness=250.snap.png
  cypress/snapshots/web/components/Toast/Toast.update-test.component-test.tsx/plasma-web Toast -- [PLASMA-T1713] Toast size=m, view=default, with Text, with close.snap.png
  cypress/snapshots/web/components/Toast/Toast.update-test.component-test.tsx/plasma-web Toast -- [PLASMA-T1714] Toast size=m, view=positive, noText, enableContentLeft.snap.png
  cypress/snapshots/web/components/Toast/Toast.update-test.component-test.tsx/plasma-web Toast -- [PLASMA-T1715] Toast size=m, view=negative, with Text, enableContentLeft, pilled.snap.png
  packages/plasma-b2c/src/components/Skeleton/Skeleton.update-test.component-test.tsx
  packages/plasma-b2c/src/components/Toast/Toast.update-test.component-test.tsx
  packages/plasma-giga/src/components/Skeleton/Skeleton.update-test.component-test.tsx
  packages/plasma-giga/src/components/Toast/Toast.update-test.component-test.tsx
  packages/plasma-web/src/components/Skeleton/Skeleton.update-test.component-test.tsx
  packages/plasma-web/src/components/Toast/Toast.update-test.component-test.tsx
  packages/sdds-cs/src/components/Skeleton/Skeleton.update-test.component-test.tsx
  packages/sdds-cs/src/components/Toast/Toast.update-test.component-test.tsx
  packages/sdds-insol/src/components/Skeleton/Skeleton.update-test.component-test.tsx
  packages/sdds-insol/src/components/Toast/Toast.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint
