Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update versions
  website/sdds-cs-docs/package.json
Due: prettier --write --parser json

chore: include css by tree shaking
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
Due: prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

fix(deploy): disable build docs
  .github/workflows/documentation-deploy-release-branch.yml
Due: none

fix(deploy): add max_old_space_size
  .github/workflows/documentation-deploy-prod.yml
  .github/workflows/documentation-deploy-release-branch.yml
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-insol/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
  packages/themes/plasma-themes/CHANGELOG.md
  packages/themes/sdds-themes/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-icons): Add react-native icons generator
  packages/plasma-icons/.gitignore
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/scripts/generateReactNativeComponents.ts
  packages/plasma-icons/scripts/utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-new-hope): Switch outline added
  packages/plasma-new-hope/src/components/Switch/Switch.tokens.ts
  packages/plasma-new-hope/src/components/Switch/_toggleSize/base.ts
  packages/plasma-new-hope/src/components/Switch/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.outline.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.outline.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.ts
Due: eslint --fix, prettier --write, stylelint

docs(): api report regenerated
  packages/plasma-asdk/api/plasma-asdk.api.md
Due: prettier --write --parser markdown

chore(): Switch tokens updated
  packages/plasma-asdk/src/components/Switch/Switch.config.ts
  packages/plasma-asdk/src/components/Switch/Switch.stories.tsx
  packages/plasma-b2c/src/components/Switch/Switch.config.ts
  packages/plasma-web/src/components/Switch/Switch.config.ts
  packages/sdds-cs/src/components/Switch/Switch.config.ts
  packages/sdds-dfa/src/components/Switch/Switch.config.ts
  packages/sdds-finportal/src/components/Switch/Switch.config.ts
  packages/sdds-insol/src/components/Switch/Switch.config.ts
  packages/sdds-serv/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add email & password validation
  packages/plasma-new-hope/src/components/TextField/TextField.template-doc.mdx
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
  packages/plasma-new-hope/src/components/TextField/hooks/index.ts
  packages/plasma-new-hope/src/components/TextField/hooks/useValidation.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/utils/constants.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web/b2c): add email & password validation stories & tests
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField email validation -- email validation.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField password validation -- password validation hidden.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField password validation -- password validation.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField email validation -- email validation.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField password validation -- password validation hidden.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField password validation -- password validation.snap.png
  packages/plasma-b2c/src/components/TextField/TextField.component-test.tsx
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.tsx
  packages/plasma-web/src/components/TextField/TextField.component-test.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fix autocomplete types
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.types.ts
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
Due: eslint --fix, prettier --write

feat(sdds-*): add email & password validation stories
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  packages/sdds-dfa/src/components/TextField/TextField.stories.tsx
  packages/sdds-finportal/src/components/TextField/TextField.stories.tsx
  packages/sdds-insol/src/components/TextField/TextField.stories.tsx
  packages/sdds-serv/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: generate new api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

docs: add email & password validation docs
  website/plasma-b2c-docs/docs/components/TextField.mdx
  website/plasma-web-docs/docs/components/TextField.mdx
  website/sdds-cs-docs/docs/components/TextField.mdx
  website/sdds-dfa-docs/docs/components/TextField.mdx
  website/sdds-insol-docs/docs/components/TextField.mdx
  website/sdds-serv-docs/docs/components/TextField.mdx
Due: none

feat: card api preview
  packages/plasma-new-hope/src/components/Card/Card.api.mdx
Due: none

feat(plasma-tokens): Add theme plasma_b2c
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/src/brands/plasma_b2c/index.ts
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme plasma_web
  packages/plasma-tokens/data/themes/plasma_web.json
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-*, sdds-*): Add renderItem prop in Dropdown. Fix issues with Select and Combobox
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-new-hope/src/components/Dropdown/index.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Dropdown/Dropdown.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Dropdown/Dropdown.ts
  packages/sdds-cs/src/components/Dropdown/Dropdown.tsx
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Dropdown/Dropdown.ts
  packages/sdds-dfa/src/components/Dropdown/Dropdown.tsx
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Dropdown/Dropdown.ts
  packages/sdds-finportal/src/components/Dropdown/Dropdown.tsx
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Dropdown/Dropdown.ts
  packages/sdds-insol/src/components/Dropdown/Dropdown.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Dropdown/Dropdown.ts
  packages/sdds-serv/src/components/Dropdown/Dropdown.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore(finportal): Handle build flag "IS_DRAFT" in storybook
  packages/sdds-finportal/.gitignore
  packages/sdds-finportal/.storybook/main.ts
  packages/sdds-finportal/package.json
  packages/sdds-finportal/src/helpers/createComponentByConfig.ts
  packages/sdds-finportal/src/helpers/hasComponentDraftConfig.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

ci(deploy): handle build storybook draft component
  .github/workflows/documentation-deploy-pr.yml
Due: none
