Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-icons): update icons zoom [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/ZoomMinusFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/ZoomMinusOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/ZoomPlusFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/ZoomPlusOutline.svg
Due: none

feat(plasma-icons): update icons camera video [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoAddFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoAddOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoOffFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoOffOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoRecFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CameraVideoRecOutline.svg
Due: none

feat(plasma-icons): update icons login [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Login.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/LoginFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Logout.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/LogoutFill.svg
Due: none

feat(plasma-icons): update icons camera video [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoAddFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoAddOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoOffFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoOffOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoRecFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/CameraVideoRecOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): update icons login [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Login.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/LoginFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Logout.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/LogoutFill.svg
Due: none

feat(plasma-icons): update icons message [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageAltFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageAltOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageAttentionFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageAttentionOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageChatFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageChatOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageCloseFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageCloseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageDraftFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageDraftOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageGoToFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageGoToOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessagePersonChatFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessagePersonChatOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessagePersonFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessagePersonOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageQuestionFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageQuestionOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageRequestFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageRequestOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageTranscriptionFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageTranscriptionOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageVideoFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageVideoOutline.svg
Due: none

feat(plasma-icons): update icons zoom [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/ZoomMinusFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ZoomMinusOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ZoomPlusFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ZoomPlusOutline.svg
Due: none

feat(plasma-icons): update icons attetion [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Attention.svg
Due: none

feat(plasma-icons): update icons attetion [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Attention.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): update icons login [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Login.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/LoginFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Logout.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/LogoutFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): update icons attention [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Attention.svg
Due: none

feat(plasma-icons): update icons message [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageAltFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageAltOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageAttentionFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageAttentionOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageChatFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageChatOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageCloseFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageCloseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageDraftFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageDraftOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageGoToFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageGoToOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessagePersonChatFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessagePersonChatOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessagePersonFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessagePersonOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageQuestionFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageQuestionOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageRequestFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageRequestOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageTranscriptionFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageTranscriptionOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageVideoFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageVideoOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): update icons zoom [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/ZoomMinusFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ZoomMinusOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ZoomPlusFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ZoomPlusOutline.svg
Due: none

feat(plasma-icons): update icons camera video [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoAddFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoAddOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoOffFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoOffOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoRecFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CameraVideoRecOutline.svg
Due: none

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

ci(deploy): extend prod deploy by plasma-b2c
  .github/workflows/documentation-deploy-prod.yml
  .github/workflows/documentation-deploy-stage-demo.yml
  .github/workflows/documentation-deploy-stage-dev.yml
  .github/workflows/documentation-pull-request-dev.yml
Due: none

chore(plasma-website): add b2c docs url into main page
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-theme-builder): Fix support opened props
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/src/components/AddTokenSection/AddTokenSection.tsx
  website/plasma-theme-builder/src/components/AuthRequestModal/AuthRequestModal.tsx
  website/plasma-theme-builder/src/components/TokenForm/TokenForm.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-web): xs size added
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-theme-builder): Update the `hover` and `active` states if the `enable` field was changed
  website/plasma-theme-builder/src/components/PreviewColor/PreviewColor.tsx
  website/plasma-theme-builder/src/components/Theme/Theme.tsx
  website/plasma-theme-builder/src/components/TokenForm/TokenForm.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

fix(sdds-cs): hide segment
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/Segment/Segment.stories.tsx.hide
  packages/sdds-cs/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(*): add custom loading background to button
  packages/plasma-asdk/src/components/Button/Button.config.ts
  packages/plasma-b2c/src/components/Button/Button.config.ts
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-b2c/src/components/IconButton/IconButton.config.ts
  packages/plasma-new-hope/src/components/Button/Button.tokens.ts
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Button/variations/_view/base.ts
  packages/plasma-new-hope/src/components/ButtonGroup/ButtonGroup.tokens.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_view/base.ts
  packages/plasma-new-hope/src/components/IconButton/IconButton.styles.ts
  packages/plasma-new-hope/src/components/IconButton/IconButton.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/IconButton/IconButton.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/IconButton/IconButton.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-web/src/components/Button/Button.config.ts
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-web/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-dfa/src/components/Button/Button.config.ts
  packages/sdds-dfa/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-dfa/src/components/IconButton/IconButton.config.ts
  packages/sdds-serv/src/components/Button/Button.config.ts
  packages/sdds-serv/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-serv/src/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(*): add custom background trigger for checkbox and rasiobox
  packages/plasma-asdk/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-asdk/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-b2c/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-b2c/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.styles.ts
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.tokens.ts
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.styles.ts
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Radiobox/Radiobox.config.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-cs/src/components/Checkbox/Checkbox.config.tsx
  packages/sdds-cs/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-dfa/src/components/Checkbox/Checkbox.config.tsx
  packages/sdds-dfa/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-serv/src/components/Checkbox/Checkbox.config.tsx
  packages/sdds-serv/src/components/Radiobox/Radiobox.config.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/sdds-themes/package-lock.json
Due: prettier --write --parser json
