Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-*, sdds-*): beforeList & afterList in Select, Autocomplete, Combobox
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop afterList.snap.png
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop beforeList.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop afterList.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop beforeList.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop afterList.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop beforeList.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop afterList.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop beforeList.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop afterList.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop beforeList.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop afterList.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop beforeList.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-b2c/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.types.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): change rightHelper type for TextArea
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
Due: eslint --fix, prettier --write, stylelint

docs: generate new api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(*): add xl button to docs
  packages/plasma-new-hope/src/components/Button/Button.template-doc.mdx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  website/plasma-b2c-docs/docs/components/Button.mdx
  website/plasma-web-docs/docs/components/Button.mdx
  website/sdds-dfa-docs/docs/components/Button.mdx
  website/sdds-serv-docs/docs/components/Button.mdx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): change accent hover from token to hex
  packages/sdds-cs/src/components/Attach/Attach.config.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/Link/Link.config.tsx
  packages/sdds-cs/src/components/Notification/Notification.config.ts
  packages/sdds-cs/src/components/NumberInput/NumberInput.config.ts
  packages/sdds-cs/src/components/Segment/SegmentItem.config.ts
  packages/sdds-cs/src/components/Select/Select.config.ts
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabs.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabs.config.ts
  packages/sdds-cs/src/components/TextField/TextField.config.ts
  packages/sdds-cs/src/components/Toast/Toast.config.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/sdds-cs/package.json
  website/sdds-cs-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-cs/package-lock.json
Due: prettier --write --parser json

feat(new-hope): add react-hook-form to select
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectNative/SelectNative.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectNative/SelectNative.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): update docs for form select
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/SelectNative/SelectNative.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectNative/SelectNative.tsx
  scaffold/template-docs/docs/form/Components.mdx
  scaffold/template-docs/docs/form/NativeForm.mdx
  scaffold/template-docs/docs/form/ReactHookForm.mdx
  website/plasma-b2c-docs/docs/form/Components.mdx
  website/plasma-b2c-docs/docs/form/NativeForm.mdx
  website/plasma-b2c-docs/docs/form/ReactHookForm.mdx
  website/plasma-web-docs/docs/form/Components.mdx
  website/plasma-web-docs/docs/form/NativeForm.mdx
  website/plasma-web-docs/docs/form/ReactHookForm.mdx
  website/sdds-cs-docs/docs/form/Components.mdx
  website/sdds-cs-docs/docs/form/NativeForm.mdx
  website/sdds-cs-docs/docs/form/ReactHookForm.mdx
  website/sdds-dfa-docs/docs/form/Components.mdx
  website/sdds-dfa-docs/docs/form/NativeForm.mdx
  website/sdds-dfa-docs/docs/form/ReactHookForm.mdx
  website/sdds-insol-docs/docs/form/NativeForm.mdx
  website/sdds-insol-docs/docs/form/ReactHookForm.mdx
  website/sdds-serv-docs/docs/form/NativeForm.mdx
  website/sdds-serv-docs/docs/form/ReactHookForm.mdx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add icon xxs to button story
  cypress/snapshots/b2c/components/Button/Button.component-test.tsx/plasma-b2c Button -- _size.snap.png
  cypress/snapshots/web/components/Button/Button.component-test.tsx/plasma-web Button -- with Loader.snap.png
  packages/plasma-b2c/src/components/Button/Button.component-test.tsx
  packages/plasma-new-hope/src/components/_Icon/IconRoot.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconMic.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/Button/Button.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(*): esit storybook textarea
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-finportal/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(sdds-insol,sdds-insol-docs): Update API report and docs
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Button/Button.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextField/TextField.stories.tsx
  website/sdds-insol-docs/docs/components/Dropdown.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): Update `Dropdown` and `IconRoot` components
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tokens.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.tsx
  packages/plasma-new-hope/src/components/_Icon/IconRoot.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconDisclosureRight.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web): Update snapshots for `Dropdown` component
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- default.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop hasArrow.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop listWidth.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop offset.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop trigger.snap.png
Due: none

feat(plasma-tokens): Add theme plasma_web
  packages/plasma-tokens/data/themes/plasma_web.json
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme plasma_b2c
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/src/brands/plasma_b2c/index.ts
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme sdds_cs
  packages/plasma-tokens/data/themes/sdds_cs.json
  packages/plasma-tokens/src/brands/sdds_cs/index.ts
  packages/plasma-tokens/src/themes/sdds_cs__dark.ts
  packages/plasma-tokens/src/themes/sdds_cs__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-themes,sdds-themes): Update `plasma_web`, `plasma_b2c` and `sdds_cs` themes
  packages/themes/plasma-themes/src/css/plasma_b2c.module.css
  packages/themes/plasma-themes/src/css/plasma_b2c__dark.css
  packages/themes/plasma-themes/src/css/plasma_b2c__light.css
  packages/themes/plasma-themes/src/css/plasma_web.module.css
  packages/themes/plasma-themes/src/css/plasma_web__dark.css
  packages/themes/plasma-themes/src/css/plasma_web__light.css
  packages/themes/plasma-themes/src/themes/plasma_b2c__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_b2c__light.ts
  packages/themes/plasma-themes/src/themes/plasma_web__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_web__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_b2c/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_web/index.ts
  packages/themes/sdds-themes/src/css/sdds_cs.module.css
  packages/themes/sdds-themes/src/css/sdds_cs__dark.css
  packages/themes/sdds-themes/src/css/sdds_cs__light.css
  packages/themes/sdds-themes/src/themes/sdds_cs__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_cs__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_cs/index.ts
Due: eslint --fix, prettier --write

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-*, sdds-*): add draggable in Popup, Modal
  cypress/snapshots/b2c/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- draggable.snap.png
  cypress/snapshots/b2c/components/PopupBase/PopupBase.component-test.tsx/plasma-web PopupBase -- draggable.snap.png
  cypress/snapshots/web/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- draggable.snap.png
  cypress/snapshots/web/components/PopupBase/PopupBase.component-test.tsx/plasma-web PopupBase -- draggable.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-new-hope/src/components/Drawer/Drawer.types.ts
  packages/plasma-new-hope/src/components/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Popup/Popup.tsx
  packages/plasma-new-hope/src/components/Popup/Popup.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ModalBase/ModalBase.component-test.tsx
  packages/plasma-web/src/components/PopupBase/PopupBase.component-test.tsx
  website/plasma-b2c-docs/docs/components/ModalBase.mdx
  website/plasma-b2c-docs/docs/components/PopupBase.mdx
  website/plasma-web-docs/docs/components/ModalBase.mdx
  website/plasma-web-docs/docs/components/PopupBase.mdx
  website/sdds-cs-docs/docs/components/Modal.mdx
  website/sdds-cs-docs/docs/components/Popup.mdx
  website/sdds-dfa-docs/docs/components/Modal.mdx
  website/sdds-dfa-docs/docs/components/Popup.mdx
  website/sdds-insol-docs/docs/components/Modal.mdx
  website/sdds-insol-docs/docs/components/Popup.mdx
  website/sdds-serv-docs/docs/components/Modal.mdx
  website/sdds-serv-docs/docs/components/Popup.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(core-themes): Add `spacing` tokens generator
  packages/themes/core-themes/src/creators/createSpacingTokens.ts
  packages/themes/core-themes/src/creators/index.ts
  packages/themes/core-themes/src/generate.ts
  packages/themes/core-themes/src/generators/generateCSSModuleThemes.ts
  packages/themes/core-themes/src/generators/generateCSSThemes.ts
  packages/themes/core-themes/src/generators/generateDefaultTokens.ts
  packages/themes/core-themes/src/generators/generateThemes.ts
  packages/themes/core-themes/src/generators/generateTokens.ts
  packages/themes/core-themes/src/types/theme.ts
  packages/themes/core-themes/src/utils/other.ts
  packages/themes/sdds-themes/lib/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
