Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-tokens): Add theme stylesSalute
  packages/plasma-tokens/data/themes/stylesSalute.json
  packages/plasma-tokens/src/brands/stylesSalute/index.ts
  packages/plasma-tokens/src/themes/stylesSalute__dark.ts
  packages/plasma-tokens/src/themes/stylesSalute__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme plasma_b2c
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/src/brands/plasma_b2c/index.ts
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme plasma_web
  packages/plasma-tokens/data/themes/plasma_web.json
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

ci: Update meta file
  .github/meta.js
Due: eslint --fix, prettier --write

fix(plasma-themes): Update themes
  packages/themes/plasma-themes/package.json
  packages/themes/plasma-themes/src/css/plasma_b2c.module.css
  packages/themes/plasma-themes/src/css/plasma_b2c__dark.css
  packages/themes/plasma-themes/src/css/plasma_b2c__light.css
  packages/themes/plasma-themes/src/css/plasma_web.module.css
  packages/themes/plasma-themes/src/css/plasma_web__dark.css
  packages/themes/plasma-themes/src/css/plasma_web__light.css
  packages/themes/plasma-themes/src/css/stylesSalute.module.css
  packages/themes/plasma-themes/src/css/stylesSalute__dark.css
  packages/themes/plasma-themes/src/css/stylesSalute__light.css
  packages/themes/plasma-themes/src/themes/plasma_b2c__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_b2c__light.ts
  packages/themes/plasma-themes/src/themes/plasma_web__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_web__light.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__dark.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_b2c/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_web/index.ts
  packages/themes/plasma-themes/src/tokens/stylesSalute/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(plasma-themes): Update themes
  packages/themes/plasma-themes/src/css/plasma_b2c.module.css
  packages/themes/plasma-themes/src/css/plasma_b2c__dark.css
  packages/themes/plasma-themes/src/css/plasma_b2c__light.css
  packages/themes/plasma-themes/src/css/plasma_web.module.css
  packages/themes/plasma-themes/src/css/plasma_web__dark.css
  packages/themes/plasma-themes/src/css/plasma_web__light.css
  packages/themes/plasma-themes/src/css/stylesSalute.module.css
  packages/themes/plasma-themes/src/css/stylesSalute__dark.css
  packages/themes/plasma-themes/src/css/stylesSalute__light.css
  packages/themes/plasma-themes/src/themes/plasma_b2c__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_b2c__light.ts
  packages/themes/plasma-themes/src/themes/plasma_web__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_web__light.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__dark.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_b2c/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_web/index.ts
  packages/themes/plasma-themes/src/tokens/stylesSalute/index.ts
Due: eslint --fix, prettier --write

ci(deploy): by draft components
  .github/workflows/documentation-deploy-pr.yml
Due: none

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/plasma-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

ci(deploy): disable build draft storybook [no ci]
  .github/workflows/documentation-deploy-pr.yml
Due: none

feat(plasma-*): update TextArea resize test
  cypress/snapshots/b2c/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - manualResize.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - manualResize.snap.png
  packages/plasma-b2c/src/components/TextArea/TextArea.update-test.component-test.tsx
  packages/plasma-web/src/components/TextArea/TextAreaResize.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fix autoResize useEffect deps
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/hooks/useAutoResize.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-*): update test alwaysOpened for Dropdown
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop placement, alwaysOpened.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop placement, alwaysOpened.snap.png
  packages/plasma-b2c/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-b2c/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-*): add alwaysOpened to Dropdown
  packages/sdds-cs/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-dfa/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-finportal/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-insol/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-serv/src/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add alwaysOpened to Dropdown
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): fix TextField hover token
  packages/plasma-b2c/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

feat(sdds-dfa/finportal/serv): fix TextField hover token
  packages/sdds-dfa/src/components/TextField/TextField.config.ts
  packages/sdds-finportal/src/components/TextField/TextField.config.ts
  packages/sdds-serv/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): fix TextField hover token
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

feat(plasma-b2c): update TextFieldGroup tests
  cypress/snapshots/b2c/components/TextFieldGroup/TextFieldGroup.component-test.tsx/plasma-b2c TextFieldGroup -- _orientation stretching - filled.snap.png
  cypress/snapshots/b2c/components/TextFieldGroup/TextFieldGroup.component-test.tsx/plasma-b2c TextFieldGroup -- _shape.snap.png
  cypress/snapshots/b2c/components/TextFieldGroup/TextFieldGroup.component-test.tsx/plasma-b2c TextFieldGroup -- _size.snap.png
  packages/plasma-b2c/src/components/TextFieldGroup/TextFieldGroup.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
