Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore(web): migrate to CSF 3 [Grid]
  packages/plasma-web/src/components/Grid/Grid.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [Spinner]
  packages/plasma-web/src/components/Spinner/Spinner.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [PreviewGallery]
  packages/plasma-web/src/components/PreviewGallery/PreviewGallery.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [Typography]
  packages/plasma-web/src/components/Typography/Typography.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [Switch]
  packages/plasma-web/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [Image]
  packages/plasma-web/src/components/Image/Image.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [AudioPlayer]
  packages/plasma-web/src/components/AudioPlayer/AudioPlayer.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [UploadAudio]
  packages/plasma-web/src/components/UploadAudio/UploadAudio.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [Upload]
  packages/plasma-web/src/components/Upload/Upload.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [Modal]
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(web): migrate to CSF 3 [ElasticGrid]
  packages/plasma-web/src/components/ElasticGrid/ElasticGrid.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Modal added
  packages/plasma-new-hope/src/components/Modal/Modal.tokens.ts
  packages/plasma-new-hope/src/components/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Modal/Modal.types.ts
  packages/plasma-new-hope/src/components/Modal/ModalContext.tsx
  packages/plasma-new-hope/src/components/Modal/ModalOverlay.tsx
  packages/plasma-new-hope/src/components/Modal/hooks/index.ts
  packages/plasma-new-hope/src/components/Modal/hooks/useModal.ts
  packages/plasma-new-hope/src/components/Modal/index.ts
  packages/plasma-new-hope/src/components/Modal/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Modal/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Modal/Modal.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-web, plasma-b2c): ModalBase, PopupBase on new-hope
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/ModalBase/Modal.config.ts
  packages/plasma-b2c/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-b2c/src/components/ModalBase/ModalBase.tsx
  packages/plasma-b2c/src/components/ModalBase/index.ts
  packages/plasma-b2c/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-b2c/src/components/PopupBase/PopupBase.tsx
  packages/plasma-b2c/src/components/PopupBase/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/ModalBase/index.ts
  packages/plasma-hope/src/components/PopupBase/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-new-hope/src/components/Modal/Modal.tokens.ts
  packages/plasma-new-hope/src/components/Modal/ModalContext.tsx
  packages/plasma-new-hope/src/components/Modal/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ModalBase/Modal.config.ts
  packages/plasma-web/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-web/src/components/ModalBase/ModalBase.tsx
  packages/plasma-web/src/components/ModalBase/index.ts
  packages/plasma-web/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-web/src/components/PopupBase/PopupBase.tsx
  packages/plasma-web/src/components/PopupBase/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-new-hope): remove styled-components from Modal
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.styles.ts
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.tokens.ts
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.types.ts
  packages/plasma-new-hope/src/components/Modal/Modal/ModalContext.tsx
  packages/plasma-new-hope/src/components/Modal/Modal/hooks/index.ts
  packages/plasma-new-hope/src/components/Modal/Modal/hooks/useModal.ts
  packages/plasma-new-hope/src/components/Modal/Modal/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Modal/Modal/variations/_view/tokens.json
  packages/plasma-new-hope/src/components/Modal/ModalOverlay.tsx
  packages/plasma-new-hope/src/components/Modal/ModalOverlay/ModalOverlay.styles.ts
  packages/plasma-new-hope/src/components/Modal/ModalOverlay/ModalOverlay.tsx
  packages/plasma-new-hope/src/components/Modal/index.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

fix(plasma-new-hope): fix no scroll in Modal
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.styles.ts
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.types.ts
  packages/plasma-new-hope/src/components/Modal/Modal/ModalContext.tsx
  packages/plasma-new-hope/src/components/Modal/Modal/hooks/useModal.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web, plasma-b2c): fix NoScroll behavior in ModalBase
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/ModalBase/Modal.config.ts
  packages/plasma-b2c/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-b2c/src/components/ModalBase/ModalBase.tsx
  packages/plasma-b2c/src/components/PopupBase/PopupBase.tsx
  packages/plasma-new-hope/src/components/Modal/Modal.tokens.ts
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.styles.ts
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.tokens.ts
  packages/plasma-new-hope/src/components/Modal/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Modal/Modal/hooks/useModal.ts
  packages/plasma-new-hope/src/components/Modal/ModalOverlay/ModalOverlay.styles.ts
  packages/plasma-new-hope/src/components/Modal/ModalOverlay/ModalOverlay.tsx
  packages/plasma-new-hope/src/components/Modal/index.ts
  packages/plasma-new-hope/src/components/Popup/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Modal/Modal.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ModalBase/Modal.config.ts
  packages/plasma-web/src/components/ModalBase/ModalBase.tsx
  packages/plasma-web/src/components/PopupBase/PopupBase.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: manual update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat: manual update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-shop-template/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-core/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

chore: check sb build
  packages/plasma-b2c/package.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

feat(plasma-new-hope): Notification added
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/components/Notification/Notification.types.ts
  packages/plasma-new-hope/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-new-hope/src/components/Notification/NotificationsProvider.tsx
  packages/plasma-new-hope/src/components/Notification/NotificationsStore.ts
  packages/plasma-new-hope/src/components/Notification/index.tsx
  packages/plasma-new-hope/src/components/Notification/variations/_status/base.ts
  packages/plasma-new-hope/src/components/Notification/variations/_status/tokens.json
  packages/plasma-new-hope/src/components/Notification/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Notification/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notifications/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notifications/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notifications/Notification.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notifications/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Notifications/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notifications/Notification.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Notifications/Notification.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Notifications/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Notifications/Notification.tsx
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-web, plasma-b2c): Notification on new-hope
  packages/plasma-b2c/src/components/Notification/Notification.config.ts
  packages/plasma-b2c/src/components/Notification/Notification.tsx
  packages/plasma-b2c/src/components/Notification/index.tsx
  packages/plasma-hope/src/components/Notification/Notification.tsx
  packages/plasma-hope/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-hope/src/components/Notification/NotificationsProvider.tsx
  packages/plasma-hope/src/components/Notification/NotificationsStore.ts
  packages/plasma-hope/src/components/Notification/index.tsx
  packages/plasma-web/src/components/Notification/Notification.config.ts
  packages/plasma-web/src/components/Notification/Notification.tsx
  packages/plasma-web/src/components/Notification/index.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add plasma-asdk to eslint ignore
  .eslintignore
Due: none

feat(plasma-new-hope): export tokens from asdk
  packages/plasma-asdk/.gitignore
  packages/plasma-asdk/README.md
  packages/plasma-asdk/README.stories.mdx
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
  packages/plasma-asdk/src/themes/index.ts
  packages/plasma-asdk/src/tokens/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-asdk): remove plasma-hope dep
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
  packages/plasma-asdk/src/components/List/List.tsx
  packages/plasma-asdk/src/components/List/ListItem.tsx
  packages/plasma-asdk/src/components/List/index.ts
  packages/plasma-asdk/src/components/SSRProvider/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs(plasma-asdk): change docs
  packages/plasma-asdk/README.md
  packages/plasma-asdk/README.stories.mdx
  packages/plasma-asdk/api/plasma-asdk.api.md
Due: prettier --write --parser markdown

docs(plasma-web/b2c): generate api
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

ci: add reusable workflow for authorize external pull request [no ci]
  .github/workflows/authorize-external-pr.yml
Due: none

ci(theme-builder): handle external pull request [no ci]
  .github/workflows/theme-builder-pr.yml
Due: none

fix(plasma-new-hope, plasms-web, plasma-b2c): fix title font for Notification
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Notification/Notification.config.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/index.ts
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/plasma-new-hope/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-new-hope/src/components/Notification/NotificationsStore.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Notification/Notification.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
  packages/plasma-web/src/components/Notification/Notification.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
