Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

chore(plasma-tokens-*): bump
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/themes/sdds-themes/package-lock.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  website/plasma-b2c-docs/package-lock.json
  website/plasma-giga-docs/package-lock.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-web-docs/package-lock.json
  website/plasma-website/package-lock.json
  website/sdds-cs-docs/package-lock.json
  website/sdds-dfa-docs/package-lock.json
  website/sdds-insol-docs/package-lock.json
  website/sdds-serv-docs/package-lock.json
Due: prettier --write --parser json

chore: update api report
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-clfd-auto/api/sdds-clfd-auto.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

chore: Add plasma-themes and sdds-themes to ingore for git diff [no ci]
  package.json
Due: prettier --write --parser json

fix(sdds-clfd-auto): remove typo from storybook
  packages/sdds-clfd-auto/.storybook/decoratorThemes.tsx
Due: eslint --fix, prettier --write, stylelint

fix(core): revert bump linaria@6.2.0
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/.storybook/main.ts
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/rollup.config.mjs
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(linaria): revert bump `@6.2.0`
  packages/plasma-giga/.storybook/main.ts
  packages/plasma-giga/package-lock.json
  packages/plasma-giga/package.json
  packages/plasma-giga/rollup.config.mjs
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.mjs
  packages/sdds-insol/.storybook/main.ts
  packages/sdds-insol/package-lock.json
  packages/sdds-insol/package.json
  packages/sdds-insol/rollup.config.mjs
  packages/sdds-serv/.storybook/main.ts
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
  packages/sdds-serv/rollup.config.mjs
Due: eslint --fix, prettier --write, prettier --write --parser json

ci(api:report): delete unnecessary step [no ci]
  .github/workflows/publish-common.yml
  .husky/pre-push
  package.json
Due: prettier --write --parser json

feat(plasma-tokens): Update themes
  packages/plasma-tokens/src/brands/plasma_giga_app/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/plasma_giga__light.ts
  packages/plasma-tokens/src/themes/plasma_giga_app__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga_app__light.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdds_serv
  packages/plasma-tokens/data/themes/sdds_serv.json
  packages/plasma-tokens/src/themes/sdds_serv__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add `plasma_stards` theme
  packages/plasma-tokens/data/themes/plasma_stards.json
  packages/plasma-tokens/src/brands/plasma_stards/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/plasma_stards__dark.ts
  packages/plasma-tokens/src/themes/plasma_stards__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-themes,core-themes): Update themes and add medium font-weight support
  packages/themes/core-themes/src/creators/createTypographyTokens.ts
  packages/themes/plasma-themes/lib/index.ts
  packages/themes/plasma-themes/src/css/plasma_b2c.module.css
  packages/themes/plasma-themes/src/css/plasma_b2c__dark.css
  packages/themes/plasma-themes/src/css/plasma_b2c__light.css
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/css/plasma_giga_app.module.css
  packages/themes/plasma-themes/src/css/plasma_giga_app__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga_app__light.css
  packages/themes/plasma-themes/src/css/plasma_web.module.css
  packages/themes/plasma-themes/src/css/plasma_web__light.css
  packages/themes/plasma-themes/src/css/stylesSalute.module.css
  packages/themes/plasma-themes/src/css/stylesSalute__dark.css
  packages/themes/plasma-themes/src/css/stylesSalute__light.css
  packages/themes/plasma-themes/src/themes/index.ts
  packages/themes/plasma-themes/src/themes/plasma_b2c__light.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/themes/plasma_giga_app__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga_app__light.ts
  packages/themes/plasma-themes/src/themes/plasma_web__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_web__light.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__dark.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__light.ts
  packages/themes/plasma-themes/src/tokens/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga_app/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_web/index.ts
  packages/themes/plasma-themes/src/tokens/stylesSalute/index.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme plasma_giga
  packages/plasma-tokens/data/themes/plasma_giga.json
  packages/plasma-tokens/src/brands/plasma_giga/index.ts
  packages/plasma-tokens/src/themes/plasma_giga__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme plasma_b2c
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add shadows for native in `plasma_web` and `plasma_b2c`
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/data/themes/plasma_web.json
Due: prettier --write --parser json

feat(sdds-themes): Update themes
  packages/themes/sdds-themes/src/css/sdds_cs.module.css
  packages/themes/sdds-themes/src/css/sdds_cs__dark.css
  packages/themes/sdds-themes/src/css/sdds_cs__light.css
  packages/themes/sdds-themes/src/css/sdds_dfa.module.css
  packages/themes/sdds-themes/src/css/sdds_dfa__dark.css
  packages/themes/sdds-themes/src/css/sdds_dfa__light.css
  packages/themes/sdds-themes/src/css/sdds_finportal.module.css
  packages/themes/sdds-themes/src/css/sdds_finportal__dark.css
  packages/themes/sdds-themes/src/css/sdds_finportal__light.css
  packages/themes/sdds-themes/src/css/sdds_insol.module.css
  packages/themes/sdds-themes/src/css/sdds_insol__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol__light.css
  packages/themes/sdds-themes/src/css/sdds_os.module.css
  packages/themes/sdds-themes/src/css/sdds_os__dark.css
  packages/themes/sdds-themes/src/css/sdds_os__light.css
  packages/themes/sdds-themes/src/css/sdds_serv.module.css
  packages/themes/sdds-themes/src/css/sdds_serv__dark.css
  packages/themes/sdds-themes/src/css/sdds_serv__light.css
  packages/themes/sdds-themes/src/themes/sdds_cs__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_cs__light.ts
  packages/themes/sdds-themes/src/themes/sdds_dfa__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_dfa__light.ts
  packages/themes/sdds-themes/src/themes/sdds_finportal__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_finportal__light.ts
  packages/themes/sdds-themes/src/themes/sdds_insol__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol__light.ts
  packages/themes/sdds-themes/src/themes/sdds_os__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_os__light.ts
  packages/themes/sdds-themes/src/themes/sdds_serv__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_serv__light.ts
  packages/themes/sdds-themes/src/tokens/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_cs/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_dfa/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_finportal/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_os/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_serv/index.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add `plasma_giga_app`
  packages/plasma-tokens/data/themes/plasma_giga_app.json
Due: prettier --write --parser json

fix(sdds-cs): update api report
  packages/sdds-cs/api/sdds-cs.api.md
Due: prettier --write --parser markdown

feat(sdds-cs): processing isLoading state
  packages/sdds-cs/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): PaginationDots component
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.styles.ts
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.template-doc.mdx
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.tokens.ts
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.tsx
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.types.ts
  packages/plasma-new-hope/src/components/PaginationDots/hooks/useAnimation.ts
  packages/plasma-new-hope/src/components/PaginationDots/index.ts
  packages/plasma-new-hope/src/components/PaginationDots/utils/getDotSize.ts
  packages/plasma-new-hope/src/components/PaginationDots/variations/_size/base.ts
  packages/plasma-new-hope/src/components/PaginationDots/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/PaginationDots/variations/_view/base.ts
  packages/plasma-new-hope/src/components/PaginationDots/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/PaginationDots/PaginationDots.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/PaginationDots/PaginationDots.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/PaginationDots/PaginationDots.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/PaginationDots/PaginationDots.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-themes): Update `plasma_giga` theme
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
Due: eslint --fix, prettier --write

fix(*): fix
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
  website/sdds-clfd-auto-docs/docs/intro.mdx
  website/sdds-clfd-auto-docs/docs/next.mdx
  website/sdds-clfd-auto-docs/docs/utils/mixins.mdx
  website/sdds-clfd-auto-docs/package.json
  website/sdds-clfd-auto-docs/src/components/CodeSandbox.tsx
  website/sdds-clfd-auto-docs/src/theme/Playground/index.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(*): outline radiobox add
  packages/plasma-b2c/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-b2c/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-giga/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-giga/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.styles.ts
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.tokens.ts
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.tsx
  packages/plasma-new-hope/src/components/Radiobox/variations/_outline/base.ts
  packages/plasma-new-hope/src/components/Radiobox/variations/_outline/tokens.json
  packages/plasma-new-hope/src/components/Radiobox/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-clfd-auto/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-clfd-auto/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-cs/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-cs/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-dfa/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-dfa/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-finportal/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-finportal/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-insol/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-serv/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-serv/src/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(*): outline checkbox add
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-asdk/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-asdk/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-b2c/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-giga/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-giga/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.styles.ts
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.tokens.ts
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.tsx
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.types.ts
  packages/plasma-new-hope/src/components/Checkbox/variations/_outline/base.ts
  packages/plasma-new-hope/src/components/Checkbox/variations/_outline/tokens.json
  packages/plasma-new-hope/src/components/Checkbox/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-clfd-auto/api/sdds-clfd-auto.api.md
  packages/sdds-clfd-auto/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-clfd-auto/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-dfa/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-finportal/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-insol/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-serv/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(plasma-website): formattedPaletteColors function name typo fixed
  website/plasma-website/components/palette/PalettePage.tsx
  website/plasma-website/utils/getColors.ts
  website/plasma-website/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-website): website redesign
  website/plasma-website/components/icons/CardstackOutline.tsx
  website/plasma-website/components/index.ts
  website/plasma-website/components/main/Header.tsx
  website/plasma-website/components/main/Heading.tsx
  website/plasma-website/components/main/LinkItem.tsx
  website/plasma-website/components/main/Product.tsx
  website/plasma-website/components/main/ProductList.tsx
  website/plasma-website/getPackageInfo.js
  website/plasma-website/hooks/useVisibility.tsx
  website/plasma-website/mixins/addGradient.ts
  website/plasma-website/pages/index.tsx
  website/plasma-website/utils/iconsList.ts
Due: eslint --fix, prettier --write, stylelint
