Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-colors/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

docs: regenerate api reports
  packages/sdds-insol/api/sdds-insol.api.md
Due: prettier --write --parser markdown

feat(sdds-insol): add Segment accent view
  packages/sdds-insol/src/components/Segment/Segment.stories.tsx
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add onChangeValue prop in combobox
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/sdds-insol/package.json
  website/sdds-insol-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-insol/package-lock.json
Due: prettier --write --parser json

feat(sdds-insol): add Segment xl size
  packages/sdds-insol/src/components/Segment/Segment.stories.tsx
  packages/sdds-insol/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write, stylelint

chore: Bump prettier version to 2.2.0
  package-lock.json
  package.json
Due: prettier --write --parser json

feat(plasma-new-hope): Add `createApplyPaperMixin` method
  packages/plasma-new-hope/src/mixins/createApplyPaperMixin.ts
Due: eslint --fix, prettier --write

feat(plasma-*,sdds-*): Add `applyPaper` mixin
  packages/plasma-giga/src/mixins/index.ts
  packages/plasma-new-hope/src/mixins/index.ts
  packages/sdds-cs/src/mixins/index.ts
  packages/sdds-dfa/src/mixins/index.ts
  packages/sdds-finportal/src/mixins/index.ts
  packages/sdds-insol/src/mixins/index.ts
  packages/sdds-serv/src/mixins/index.ts
Due: eslint --fix, prettier --write

feat(plasma-*,sdds-*): update color-token stories
  packages/plasma-b2c/src/components/Tokens/Tokens.stories.tsx
  packages/plasma-b2c/src/components/Tokens/Tokens.styles.ts
  packages/plasma-giga/src/components/Tokens/Tokens.stories.tsx
  packages/plasma-giga/src/components/Tokens/Tokens.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/Tokens.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/Tokens.stories.tsx
  packages/plasma-web/src/components/Tokens/Tokens.stories.tsx
  packages/plasma-web/src/components/Tokens/Tokens.styles.ts
  packages/sdds-cs/src/components/Tokens/Tokens.stories.tsx
  packages/sdds-cs/src/components/Tokens/Tokens.styles.ts
  packages/sdds-dfa/src/components/Tokens/Tokens.stories.tsx
  packages/sdds-dfa/src/components/Tokens/Tokens.styles.ts
  packages/sdds-finportal/src/components/Tokens/Tokens.stories.tsx
  packages/sdds-finportal/src/components/Tokens/Tokens.styles.ts
  packages/sdds-insol/src/components/Tokens/Tokens.stories.tsx
  packages/sdds-insol/src/components/Tokens/Tokens.styles.ts
  packages/sdds-serv/src/components/Tokens/Tokens.stories.tsx
  packages/sdds-serv/src/components/Tokens/Tokens.styles.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(*): add insol Step accent view
  packages/plasma-new-hope/src/components/Steps/Steps.tokens.ts
  packages/plasma-new-hope/src/components/Steps/ui/StepItem/StepItem.styles.ts
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Steps/Steps.config.ts
  packages/sdds-insol/src/components/Steps/Steps.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): update min date logic for calendar grids
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarYears/CalendarYears.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): update tests for Avatar, Cell
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1430] Avatar size=xxl, status=active, with Avatar url.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1431] Avatar size=l, status=inactive, without Avatar url.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1432] Avatar size=m.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1433] Avatar size=s.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1516] Avatar size=fit, scalable.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1892] Avatar size=xxl, hasExtra, extraPlacement=top-right, type=badge, badgeView=default, with text, pilled, enableContentLeft.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1893] Avatar size=l, hasExtra, extraPlacement=top-left, type=badge, badgeView=accent, enableContentRight.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1894] Avatar size=m, hasExtra, extraPlacement=bottom-right, type=badge, badgeView=positive, without text.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1895] Avatar size=m, hasExtra, extraPlacement=bottom-left, type=badge, badgeView=warning.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1896] Avatar size=xxl, hasExtra, type=badge, badgeView=negative.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1897] Avatar size=xxl, hasExtra, type=badge, badgeView=dark.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1898] Avatar size=xxl, hasExtra, type=badge, badgeView=light.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1899] Avatar size=xxl, hasExtra, type=badge, customColor, customBackgroundColor.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1900] Avatar size=xxl, hasExtra, extraPlacement=top-right, type=counter, counterView=default, count=5, maxCount=5.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1901] Avatar size=l, hasExtra, extraPlacement=top-left, type=counter, counterView=accent, count=5, maxCount=10.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1902] Avatar size=m, hasExtra, extraPlacement=bottom-right, type=counter, counterView=positive, count=5, maxCount=2.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1903] Avatar size=s, hasExtra, extraPlacement=bottom-left, type=counter, counterView=warning.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1904] Avatar size=xxl, hasExtra, type=counter, counterView=negative.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1905] Avatar size=xxl, hasExtra, type=counter, counterView=dark.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.update-test.component-test.tsx/plasma-b2c Avatar -- [PLASMA-1906] Avatar size=xxl, hasExtra, type=counter, counterView=light.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.update-test.component-test.tsx/plasma-b2c Cell -- [PLASMA-1391] Cell size=l, title, subtitle, label, contentLeft, contentRight.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.update-test.component-test.tsx/plasma-b2c Cell -- [PLASMA-1392] Cell size=m, title, contentLeft.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.update-test.component-test.tsx/plasma-b2c Cell -- [PLASMA-1393] Cell size=s, contentRight, subtitle.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.update-test.component-test.tsx/plasma-b2c Cell -- [PLASMA-1394] Cell size=xs, contentLeft, label.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.update-test.component-test.tsx/plasma-b2c Cell -- [PLASMA-1462] Cell size=l, stretching=fixed, alignContentLeft=top, alignContentRight=top.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.update-test.component-test.tsx/plasma-b2c Cell -- [PLASMA-1464] Cell size=m, stretching=filled, alignContentLeft=center, alignContentRight=center.snap.png
  cypress/snapshots/b2c/components/Cell/Cell.update-test.component-test.tsx/plasma-b2c Cell -- [PLASMA-1465] Cell size=s, stretching=auto, alignContentLeft=bottom, alignContentRight=bottom.snap.png
  packages/plasma-b2c/src/components/Avatar/Avatar.update-test.component-test.tsx
  packages/plasma-b2c/src/components/Cell/Cell.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

docs(sdds-insol-docs): Add `sass` examples for intro.mdx
  scaffold/template-docs/docs/intro.mdx
  website/sdds-insol-docs/docs/intro.mdx
Due: none

docs: add Playwright docs
  plasma-playwright/README.md
Due: prettier --write --parser markdown

chore: add Playwright package and utils
  lerna.json
  package.json
  packages/plasma-b2c/package-lock.json
  plasma-playwright/.gitignore
  plasma-playwright/package-lock.json
  plasma-playwright/package.json
  plasma-playwright/playwright-ct.config.ts
  plasma-playwright/playwright/index.html
  plasma-playwright/playwright/index.ts
  plasma-playwright/src/index.ts
  plasma-playwright/tsconfig.json
  utils/plasma-playwright-utils/.gitignore
  utils/plasma-playwright-utils/package-lock.json
  utils/plasma-playwright-utils/package.json
  utils/plasma-playwright-utils/src/PlaywrightTestDecorator.tsx
  utils/plasma-playwright-utils/src/SSRProvider.tsx
  utils/plasma-playwright-utils/src/index.ts
  utils/plasma-playwright-utils/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-b2): add Accordion test example
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Accordion/test/Accordion.spec.tsx
  packages/plasma-b2c/src/components/Accordion/test/component.export.ts
  packages/plasma-b2c/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json
