Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

docs(): documentation updated
  packages/plasma-new-hope/src/components/Attach/Attach.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Attach.mdx
  website/plasma-web-docs/docs/components/Attach.mdx
  website/sdds-cs-docs/docs/components/Attach.mdx
  website/sdds-dfa-docs/docs/components/Attach.mdx
  website/sdds-insol-docs/docs/components/Attach.mdx
  website/sdds-serv-docs/docs/components/Attach.mdx
Due: none

feat(plasma-new-hope): helperText and helperTextView added
  packages/plasma-new-hope/src/components/Attach/Attach.styles.ts
  packages/plasma-new-hope/src/components/Attach/Attach.tokens.ts
  packages/plasma-new-hope/src/components/Attach/Attach.tsx
  packages/plasma-new-hope/src/components/Attach/Attach.types.ts
  packages/plasma-new-hope/src/components/Attach/variations/_helperTextView/base.ts
  packages/plasma-new-hope/src/components/Attach/variations/_size/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Attach/Attach.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Attach/Attach.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Attach/Attach.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Attach/Attach.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*, sdds-*): configs and storybooks updated
  packages/plasma-b2c/src/components/Attach/Attach.config.ts
  packages/plasma-b2c/src/components/Attach/Attach.stories.tsx
  packages/plasma-web/src/components/Attach/Attach.config.ts
  packages/plasma-web/src/components/Attach/Attach.stories.tsx
  packages/sdds-cs/src/components/Attach/Attach.config.ts
  packages/sdds-cs/src/components/Attach/Attach.stories.tsx
  packages/sdds-dfa/src/components/Attach/Attach.config.ts
  packages/sdds-dfa/src/components/Attach/Attach.stories.tsx
  packages/sdds-finportal/src/components/Attach/Attach.config.ts
  packages/sdds-finportal/src/components/Attach/Attach.stories.tsx
  packages/sdds-insol/src/components/Attach/Attach.config.ts
  packages/sdds-insol/src/components/Attach/Attach.stories.tsx
  packages/sdds-serv/src/components/Attach/Attach.config.ts
  packages/sdds-serv/src/components/Attach/Attach.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): update Calendar stories
  packages/sdds-cs/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
Due: eslint --fix, prettier --write, stylelint

docs(): api reports regenerated
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

fix(plasma-{b2c, web}): storybook themes updated
  packages/plasma-b2c/.storybook/decoratorThemes.tsx
  packages/plasma-web/.storybook/decoratorThemes.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-{b2c, web}): tests and shapshots updated
  cypress/snapshots/b2c/components/Attach/Attach.component-test.tsx/plasma-b2c Attach -- _flow with helperText.snap.png
  cypress/snapshots/b2c/components/Attach/Attach.component-test.tsx/plasma-b2c Attach -- _helperTextView.snap.png
  cypress/snapshots/web/components/Attach/Attach.component-test.tsx/plasma-web Attach -- _flow with helperText.snap.png
  cypress/snapshots/web/components/Attach/Attach.component-test.tsx/plasma-web Attach -- _helperTextView.snap.png
  packages/plasma-b2c/src/components/Attach/Attach.component-test.tsx
  packages/plasma-web/src/components/Attach/Attach.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(sdds-serv): fix typings path
  packages/sdds-serv/emotion/package.json
  packages/sdds-serv/package.json
  packages/sdds-serv/scripts/copy-linaria-components.sh
  packages/sdds-serv/styled-components/package.json
Due: prettier --write --parser json

fix(sdds-cs): edit toast config
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Toast/Toast.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

fix: TextField input width with textAfter
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/empty.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/empty.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _enumerationTypechip, _chipView, _chipValidator.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField keyboard navigation -- chips.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/empty.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/web/components/TextFieldGroup/TextFieldGroup.component-test.tsx/plasma-web TextFieldGroup -- _shape.snap.png
  packages/plasma-b2c/src/components/TextField/TextField.component-test.tsx
  packages/plasma-new-hope/src/components/NumberInput/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/getInputWidth.ts
  packages/plasma-new-hope/src/components/TextField/variations/_label-placement/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.config.ts
  packages/plasma-web/src/components/TextField/TextField.component-test.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(fix): fix
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-giga): update Button config
  packages/plasma-giga/src/components/Button/Button.config.ts
  packages/plasma-giga/src/components/ButtonGroup/ButtonGroup.config.ts
Due: eslint --fix, prettier --write

docs: regenerate api reports
  packages/plasma-giga/api/plasma-giga.api.md
Due: prettier --write --parser markdown

feat(plasma): part 14
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-giga/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-giga/package-lock.json
Due: prettier --write --parser json

feat(sdds-cs): fix TextArea config
  packages/sdds-cs/src/components/TextArea/TextArea.config.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/sdds-cs/package.json
  website/sdds-cs-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-cs/package-lock.json
Due: prettier --write --parser json

feat(*): add xl button to docs
  packages/plasma-new-hope/src/components/Button/Button.template-doc.mdx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  website/plasma-b2c-docs/docs/components/Button.mdx
  website/plasma-web-docs/docs/components/Button.mdx
  website/sdds-dfa-docs/docs/components/Button.mdx
  website/sdds-serv-docs/docs/components/Button.mdx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
