Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(sdds-cs): update api report [Select]
  packages/sdds-cs/api/sdds-cs.api.md
Due: prettier --write --parser markdown

fix(sdds-cs): update config [Select]
  packages/sdds-cs/src/components/Select/Select.config.ts
  packages/sdds-cs/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-b2c, plasma-web): Combobox component tests
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- common disabled.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- common readOnly.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- common size l.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- common size m.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- common size s.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- common size xs.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- flow async items loading.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop isTargetAmount.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop listWidth, listHeight, listOverflow.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop placement.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop renderItem.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop renderValue.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop variant.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common disabled.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common readOnly.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size l.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size m.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size s.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- common size xs.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- flow async items loading.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop isTargetAmount.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop listWidth, listHeight, listOverflow.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop placement.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop renderItem.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop renderValue.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop variant.snap.png
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/FloatingPopover.tsx
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-insol/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
  packages/themes/core-themes/CHANGELOG.md
  packages/themes/plasma-themes/CHANGELOG.md
  packages/themes/sdds-themes/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

fix(plasma-tokens): Update `sdds_insol` theme
  packages/plasma-tokens/data/themes/sdds_insol.json
  packages/plasma-tokens/src/brands/sdds_insol/index.ts
  packages/plasma-tokens/src/themes/sdds_insol__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(plasma-new-hope): Change background-color property to background for `Button`
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/Button/variations/_view/base.ts
Due: eslint --fix, prettier --write

fix(sdds-themes): Update `sdds_insol` theme
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/src/css/sdds_insol.module.css
  packages/themes/sdds-themes/src/css/sdds_insol__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol/index.ts
Due: eslint --fix, prettier --write

fix(new-hope): add new tokens to autocomplite
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tokens.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
Due: eslint --fix, prettier --write

fix(new-hope): add new tokens to dropdown
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.styles.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tokens.ts
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
Due: eslint --fix, prettier --write

fix(new-hope): add new tokens to tabs
  packages/plasma-new-hope/src/components/Tabs/tokens.ts
  packages/plasma-new-hope/src/components/Tabs/ui/horizontal/HorizontalTabItem/HorizontalTabItem.styles.ts
  packages/plasma-new-hope/src/components/Tabs/ui/vertical/VerticalTabItem/VerticalTabItem.styles.ts
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabItem.config.ts
Due: eslint --fix, prettier --write

fix(sdds-cs): edit story in range
  packages/sdds-cs/src/components/Range/Range.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): add new tokens to pagination
  packages/plasma-new-hope/src/components/Pagination/Pagination.styles.ts
  packages/plasma-new-hope/src/components/Pagination/Pagination.tokens.ts
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/components/Pagination/ui/PaginationSelectPerPage/PaginationSelectPerPage.styles.ts
  packages/sdds-cs/src/components/Pagination/Pagination.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): add new tokens to calendar and datepicker
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.tsx
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): add new tokens to notification
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/sdds-cs/src/components/Notification/Notification.config.ts
Due: eslint --fix, prettier --write

feat(new-hope): datepicker add more tokens
  packages/plasma-b2c/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/mixins/selected.ts
  packages/plasma-new-hope/src/components/Calendar/ui/DateStructureItem/DateStructureItem.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): add new tokens to combobox
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.styles.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Inner/ui/Item/Item.styles.ts
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
Due: eslint --fix, prettier --write

feat(new-hope): add readonly to combobox
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
Due: eslint --fix, prettier --write

feat(*): add tokens to all libs in combobox
  packages/plasma-b2c/src/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.styles.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Inner/ui/Item/Item.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.config.ts
  packages/plasma-web/src/components/Combobox/Combobox.config.ts
  packages/sdds-dfa/src/components/Combobox/Combobox.config.ts
  packages/sdds-finportal/src/components/Combobox/Combobox.config.ts
  packages/sdds-serv/src/components/Combobox/Combobox.config.ts
Due: eslint --fix, prettier --write

feat(*): add tokens to all libs in autocomplite
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-web/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.config.ts
Due: eslint --fix, prettier --write

feat(*): add tokens to all libs in dropdown
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-b2c/src/components/Dropdown/Dropdown.config.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tokens.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Dropdown/Dropdown.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Dropdown/Dropdown.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/Dropdown/Dropdown.config.ts
Due: eslint --fix, prettier --write

feat(*): add tokens to all libs in calender and datepicker
  packages/plasma-b2c/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
Due: eslint --fix, prettier --write

feat(new-hope): toast and notification tokens
  cypress/snapshots/web/components/Toast/Toast.component-test.tsx/plasma-web Toast -- with close.snap.png
  packages/plasma-b2c/src/components/Notification/Notification.config.ts
  packages/plasma-b2c/src/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/components/Toast/Toast.styles.ts
  packages/plasma-new-hope/src/components/Toast/Toast.tokens.ts
  packages/plasma-new-hope/src/components/Toast/Toast.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.config.ts
  packages/plasma-web/src/components/Notification/Notification.config.ts
  packages/plasma-web/src/components/Toast/Toast.config.ts
  packages/sdds-cs/.storybook/main.ts
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-cs/src/components/Notification/Notification.config.ts
  packages/sdds-cs/src/components/Toast/Toast.config.ts
  packages/sdds-cs/src/components/ViewContainer/ViewContainer.config.ts
  packages/sdds-dfa/src/components/Notification/Notification.config.ts
  packages/sdds-dfa/src/components/Toast/Toast.config.ts
  packages/sdds-finportal/src/components/Notification/Notification.config.ts
  packages/sdds-finportal/src/components/Toast/Toast.config.ts
  packages/sdds-serv/src/components/Notification/Notification.config.ts
  packages/sdds-serv/src/components/Toast/Toast.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(sdds-cs): update configs datepicker
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

feat(new-hope): add thin cross to notification and toast
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Notification/Notification.config.ts
  packages/plasma-b2c/src/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/components/Notification/Notification.types.ts
  packages/plasma-new-hope/src/components/Notification/variations/_closeIconType/base.ts
  packages/plasma-new-hope/src/components/Notification/variations/_closeIconType/tokens.json
  packages/plasma-new-hope/src/components/Toast/Toast.tsx
  packages/plasma-new-hope/src/components/Toast/Toast.types.ts
  packages/plasma-new-hope/src/components/Toast/variations/_closeIconType/base.ts
  packages/plasma-new-hope/src/components/Toast/variations/_closeIconType/tokens.json
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/CrossThin.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconCrossThin.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Notification/Notification.config.ts
  packages/plasma-web/src/components/Toast/Toast.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Notification/Notification.config.ts
  packages/sdds-cs/src/components/Toast/Toast.config.ts
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Notification/Notification.config.ts
  packages/sdds-dfa/src/components/Toast/Toast.config.ts
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Notification/Notification.config.ts
  packages/sdds-finportal/src/components/Toast/Toast.config.ts
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Notification/Notification.config.ts
  packages/sdds-insol/src/components/Toast/Toast.config.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Notification/Notification.config.ts
  packages/sdds-serv/src/components/Toast/Toast.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-icons): add icons Tree [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Tree.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Tree [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Tree.svg
Due: none

feat(plasma-icons): add icons Tree [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Tree.svg
Due: none

feat(plasma-icons): add icons Operation Write [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/EraserFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/EraserOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header1.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header2.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header3.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header4.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header5.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/LineWeight.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MarkerFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MarkerOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessagesFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessagesOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SuperscriptText.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Text.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Variable.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/WhiteboardFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/WhiteboardOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Operation Write [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Header1.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header2.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header3.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header4.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header5.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SuperscriptText.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Variable.svg
Due: none

feat(plasma-icons): add icons Operation Write [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Header1.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header2.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header3.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header4.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header5.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SuperscriptText.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Variable.svg
Due: none

feat(plasma-icons): add icons list view [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/ListView.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/NumberedView.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons list view [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/ListView.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/NumberedView.svg
Due: none

feat(plasma-icons): add icons list view [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/ListView.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/NumberedView.svg
Due: none

feat(plasma-icons): add icons files [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOffFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOffOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOnFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOnOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
