Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(sdds_insol_next): update theme
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

test: update Spinner test
  cypress/snapshots/b2c/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/b2c/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/bizcom/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/bizcom/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/cs/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/cs/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/dfa/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/dfa/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/finai/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/finai/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- view=default.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- view=negative.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- view=secondary.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- view=default.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- view=negative.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- view=secondary.snap.png
  cypress/snapshots/homeds/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/homeds/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol-next/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol-next/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/netology/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/netology/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/os/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/os/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/platform-ai/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/platform-ai/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/scan/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/scan/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/serv/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/serv/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/web/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/web/webkit/Spinner/Spinner -- strokeSize.snap.png
  packages/plasma-new-hope/src/components/Spinner/Spinner.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(platform-ai): add xs, s sizes to TextField
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- enumerationTypechip, _chipView, _chipValidator.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- keyboard navigation chips.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- view=positive, size=s.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- view=warning, size=xs.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- enumerationTypechip, _chipView, _chipValidator.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- keyboard navigation chips.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- view=positive, size=s.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- view=warning, size=xs.snap.png
  packages/sdds-platform-ai/src/components/TextField/TextField.config.ts
  packages/sdds-platform-ai/src/components/TextField/TextField.stories.tsx
  website/sdds-platform-ai-docs/docs/components/data-entry/TextField.mdx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web): rewrite docs
  website/plasma-web-docs/docs/design/typography-legacy.mdx
  website/plasma-web-docs/docs/design/typography.mdx
  website/plasma-web-docs/docs/functions/hooks.mdx
Due: none

feat(plasma_giga): update theme
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
Due: eslint --fix, prettier --write

feat(sdds-insol-next): Add Badge view info
  packages/sdds-insol-next/src/components/Badge/Badge.clear.config.ts
  packages/sdds-insol-next/src/components/Badge/Badge.config.ts
  packages/sdds-insol-next/src/components/Badge/Badge.transparent.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix Button black view
  packages/plasma-giga/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

chore(plasma-giga): update snapshots
  cypress/snapshots/giga/chromium/Button/Button -- view=black.snap.png
  cypress/snapshots/giga/webkit/Button/Button -- view=black.snap.png
Due: none

feat(sdds-icons): Add 24 icons
  packages/sdds-icons/svg/16/NoiseCancellationFill.svg
  packages/sdds-icons/svg/16/NoiseCancellationOutline.svg
  packages/sdds-icons/svg/16/NoiseCancellationOutlineBold.svg
  packages/sdds-icons/svg/16/SoundNoiseOutline.svg
  packages/sdds-icons/svg/16/SoundNoiseOutlineBold.svg
  packages/sdds-icons/svg/16/TransparencyFill.svg
  packages/sdds-icons/svg/16/TransparencyOutline.svg
  packages/sdds-icons/svg/16/TransparencyOutlineBold.svg
  packages/sdds-icons/svg/24/NoiseCancellationFill.svg
  packages/sdds-icons/svg/24/NoiseCancellationOutline.svg
  packages/sdds-icons/svg/24/NoiseCancellationOutlineBold.svg
  packages/sdds-icons/svg/24/SoundNoiseOutline.svg
  packages/sdds-icons/svg/24/SoundNoiseOutlineBold.svg
  packages/sdds-icons/svg/24/TransparencyFill.svg
  packages/sdds-icons/svg/24/TransparencyOutline.svg
  packages/sdds-icons/svg/24/TransparencyOutlineBold.svg
  packages/sdds-icons/svg/36/NoiseCancellationFill.svg
  packages/sdds-icons/svg/36/NoiseCancellationOutline.svg
  packages/sdds-icons/svg/36/NoiseCancellationOutlineBold.svg
  packages/sdds-icons/svg/36/SoundNoiseOutline.svg
  packages/sdds-icons/svg/36/SoundNoiseOutlineBold.svg
  packages/sdds-icons/svg/36/TransparencyFill.svg
  packages/sdds-icons/svg/36/TransparencyOutline.svg
  packages/sdds-icons/svg/36/TransparencyOutlineBold.svg
Due: none

chore(plasma-homeds): update Note snapshots [PLASMA-8256]
  cypress/snapshots/homeds/chromium/Note/Note -- actionContent.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- long text.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- long title with close icon.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- long title.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- stretch.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- view=default, size=m, orientation=vertical.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- view=info.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- view=negative.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- view=positive, orientation=horizontal.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- view=warning.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- width,height.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- without text.snap.png
  cypress/snapshots/homeds/chromium/Note/Note -- without title.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- actionContent.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- long text.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- long title with close icon.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- long title.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- stretch.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- view=default, size=m, orientation=vertical.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- view=info.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- view=negative.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- view=positive, orientation=horizontal.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- view=warning.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- width,height.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- without text.snap.png
  cypress/snapshots/homeds/webkit/Note/Note -- without title.snap.png
Due: none

docs(plasma-homeds): fix Note docs
  website/plasma-homeds-docs/docs/components/Note.mdx
Due: none

fix(plasma-homeds): fix Note gap [PLASMA-8256]
  packages/plasma-homeds/src/components/Note/Note.config.ts
Due: eslint --fix, prettier --write

feat(): add sort cb in Select, Combobox
  packages/plasma-new-hope/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/Combobox.template-doc.mdx
  packages/plasma-new-hope/src/components/Combobox/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/Combobox.types.ts
  packages/plasma-new-hope/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Select/Select.template-doc.mdx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  utils/api-tests/src/components/Combobox/Combobox.api.test.tsx
  utils/api-tests/src/components/Select/Select.api.test.tsx
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-giga-docs/docs/components/data-entry/Combobox.mdx
  website/plasma-giga-docs/docs/components/data-entry/Select.mdx
  website/plasma-homeds-docs/docs/components/Combobox.mdx
  website/plasma-homeds-docs/docs/components/Select.mdx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/sdds-bizcom-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-bizcom-docs/docs/components/data-entry/Select.mdx
  website/sdds-cs-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-cs-docs/docs/components/data-entry/Select.mdx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-finai-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-finai-docs/docs/components/data-entry/Select.mdx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-insol-next-docs/docs/components/Combobox.mdx
  website/sdds-insol-next-docs/docs/components/Select.mdx
  website/sdds-netology-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-netology-docs/docs/components/data-entry/Select.mdx
  website/sdds-platform-ai-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-platform-ai-docs/docs/components/data-entry/Select.mdx
  website/sdds-sbcom-docs/docs/components/Combobox.mdx
  website/sdds-sbcom-docs/docs/components/Select.mdx
  website/sdds-scan-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-scan-docs/docs/components/data-entry/Select.mdx
  website/sdds-serv-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-serv-docs/docs/components/data-entry/Select.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add theme plasma_giga
  packages/plasma-tokens/data/themes/plasma_giga.json
  packages/plasma-tokens/src/brands/plasma_giga/index.ts
  packages/plasma-tokens/src/themes/plasma_giga__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: add custom quarterNames to Calendar-like
  packages/plasma-new-hope/src/components/Calendar/Calendar.component-test.tsx
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/hooks/types.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useQuarters.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.types.ts
  packages/plasma-new-hope/src/components/Calendar/utils/constants.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/hooks/useDatePicker.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.component-test.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.types.ts
  packages/plasma-new-hope/src/components/DateTimePicker/hooks/useDateTimePicker.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-homeds): add Bubble component [PLASMA-8200]
  cypress/snapshots/homeds/chromium/Bubble/Bubble -- collapsed placements.snap.png
  cypress/snapshots/homeds/chromium/Bubble/Bubble -- opened placements.snap.png
  cypress/snapshots/homeds/webkit/Bubble/Bubble -- collapsed placements.snap.png
  cypress/snapshots/homeds/webkit/Bubble/Bubble -- opened placements.snap.png
  packages/plasma-homeds/src/components/Bubble/Bubble.component-test.tsx
  packages/plasma-homeds/src/components/Bubble/Bubble.config.ts
  packages/plasma-homeds/src/components/Bubble/Bubble.stories.tsx
  packages/plasma-homeds/src/components/Bubble/Bubble.ts
  packages/plasma-homeds/src/components/Bubble/component/Bubble.styles.ts
  packages/plasma-homeds/src/components/Bubble/component/Bubble.tokens.ts
  packages/plasma-homeds/src/components/Bubble/component/Bubble.tsx
  packages/plasma-homeds/src/components/Bubble/component/Bubble.types.ts
  packages/plasma-homeds/src/components/Bubble/component/assets/icons.tsx
  packages/plasma-homeds/src/components/Bubble/component/index.ts
  packages/plasma-homeds/src/components/Bubble/index.ts
  packages/plasma-homeds/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(): fix workflow
  .github/workflows/sdds-landing-publish.yml
  website/landing/README.md
Due: prettier --write --parser markdown

test(insol-next): fix blur snapshots
  cypress/snapshots/insol-next/chromium/Drawer/Drawer -- withBlur.snap.png
  cypress/snapshots/insol-next/webkit/Drawer/Drawer -- withBlur.snap.png
Due: none

test(b2c): rollback new config creation for Card
  cypress/snapshots/b2c/chromium/Card/Card -- aspectRatio.snap.png
  cypress/snapshots/b2c/chromium/Card/Card -- backgroundType.snap.png
  cypress/snapshots/b2c/chromium/Card/Card -- cover & outer content.snap.png
  cypress/snapshots/b2c/chromium/Card/Card -- orientation.snap.png
  cypress/snapshots/b2c/chromium/Card/Card -- selected.snap.png
  cypress/snapshots/b2c/chromium/Card/Card -- size=m.snap.png
  cypress/snapshots/b2c/chromium/Card/Card -- size=s.snap.png
  cypress/snapshots/b2c/chromium/Card/Card -- view=default, size=l.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- aspectRatio.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- backgroundType.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- cover & outer content.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- orientation.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- selected.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- size=m.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- size=s.snap.png
  cypress/snapshots/b2c/webkit/Card/Card -- view=default, size=l.snap.png
  packages/plasma-b2c/src/components/Card/Card.config.ts
  packages/plasma-b2c/src/components/Card/Card.stories.tsx
  packages/plasma-b2c/src/components/Card/Card.ts
  packages/plasma-b2c/src/components/Card/index.ts
  packages/plasma-new-hope/src/components/Card/Card.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): Steps overflow items crop
  cypress/snapshots/finai/chromium/Steps/Steps -- title of first item is not cropped, orientation=vertical.snap.png
  packages/plasma-new-hope/src/components/Steps/Steps.component-test.tsx
  packages/plasma-new-hope/src/components/Steps/Steps.styles.ts
  packages/plasma-new-hope/src/components/Steps/Steps.tokens.ts
  packages/plasma-new-hope/src/components/Steps/ui/StepItem/StepItem.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-giga): show CodeField error border and widen cell gap [PLASMA-8206]
  packages/plasma-giga/src/components/CodeField/CodeField.config.ts
Due: eslint --fix, prettier --write

test(plasma-giga): update CodeField snapshots [PLASMA-8206]
  cypress/snapshots/giga/chromium/CodeField/CodeField -- caption, captionAlign.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- codeErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- codeErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- codeLength.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- delete symbols.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- itemErrorBehavior -- forbid-enter.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- itemErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- itemErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- placeholder.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- shape.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- size=l, shape=segmented.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- size=m.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- view=default, size=xl, shape=default.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- caption, captionAlign.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- codeErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- codeErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- codeLength.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- delete symbols.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- itemErrorBehavior -- forbid-enter.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- itemErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- itemErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- placeholder.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- shape.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- size=l, shape=segmented.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- size=m.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- view=default, size=xl, shape=default.snap.png
  packages/plasma-giga/src/components/CodeField/CodeField.config.ts
Due: eslint --fix, prettier --write

fix(sdds-cs): fix Drawer content padding [PLASMA-8258]
  packages/sdds-cs/src/components/Drawer/Drawer.config.ts
  packages/sdds-cs/src/components/Drawer/Drawer.ts
Due: eslint --fix, prettier --write
