Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-tokens): Remove `salutejs_brand` theme
  packages/plasma-tokens/data/ds.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/salutejs_brand__dark.ts
  packages/plasma-tokens/src/themes/salutejs_brand__light.ts
  packages/plasma-tokens/src/themesValues/salutejs_brand__dark.ts
  packages/plasma-tokens/src/themesValues/salutejs_brand__light.ts
Due: eslint --fix, prettier --write

chore: add "@auto-it/released" plugin
  package-lock.json
  package.json
Due: prettier --write --parser json

feat(plasma-theme-builder): Redesign main page
  website/plasma-theme-builder/src/GlobalStyle.tsx
  website/plasma-theme-builder/src/components/App.tsx
  website/plasma-theme-builder/src/components/CreateButton/CreateButton.tsx
  website/plasma-theme-builder/src/components/Footer/Footer.tsx
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
  website/plasma-theme-builder/src/components/Main/Main.tsx
  website/plasma-theme-builder/src/components/ThemeKindItem/ThemeKindItem.tsx
  website/plasma-theme-builder/src/components/mixins.ts
  website/plasma-theme-builder/src/icons/ArrowLeft.tsx
  website/plasma-theme-builder/src/icons/GitHub.tsx
  website/plasma-theme-builder/src/icons/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-website): Fix margin for footer
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-theme-builder): Bump to React 18 and add missing types
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-theme-builder/src/components/FormField/FormField.tsx
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
  website/plasma-theme-builder/src/index.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-theme-builder): Remove local font `SBSansTextMono` and set it for global style
  website/plasma-theme-builder/public/index.html
  website/plasma-theme-builder/src/GlobalStyle.tsx
  website/plasma-theme-builder/src/assets/fonts/SBSansTextMono-Bold.woff
  website/plasma-theme-builder/src/assets/fonts/SBSansTextMono-Bold.woff2
  website/plasma-theme-builder/src/assets/fonts/SBSansTextMono-Regular.woff
  website/plasma-theme-builder/src/assets/fonts/SBSansTextMono-Regular.woff2
  website/plasma-theme-builder/src/components/ThemeInfo/ThemeInfo.tsx
  website/plasma-theme-builder/src/components/ThemeModeToggle/ThemeModeToggle.tsx
  website/plasma-theme-builder/src/components/ThemeTypeToggle/ThemeTypeToggle.tsx
  website/plasma-theme-builder/src/components/TokensSection/TokensSection.tsx
  website/plasma-theme-builder/src/components/mixins.ts
  website/plasma-theme-builder/src/index.css
Due: eslint --fix, prettier --write, stylelint

feat(plasma-theme-builder): Add switch color theme by system config
  website/plasma-theme-builder/src/GlobalStyle.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-theme-builder): Add complex gradient editor for android and ios platforms
  website/plasma-theme-builder/src/components/GradientTokenCSSLayer/GradientTokenCSSLayer.tsx
  website/plasma-theme-builder/src/components/GradientTokenSwiftLayer/GradientTokenSwiftLayer.tsx
  website/plasma-theme-builder/src/components/GradientTokenValue/GradientTokenValue.tsx
  website/plasma-theme-builder/src/components/GradientTokenXMLLayer/GradientTokenXMLLayer.tsx
  website/plasma-theme-builder/src/components/PreviewColor/PreviewColor.tsx
  website/plasma-theme-builder/src/components/SolidTokenValue/SolidTokenValue.tsx
  website/plasma-theme-builder/src/components/TokenForm/TokenForm.tsx
  website/plasma-theme-builder/src/components/TypeTabs/TypeTabs.tsx
  website/plasma-theme-builder/src/types/general.ts
  website/plasma-theme-builder/src/types/gradient.ts
  website/plasma-theme-builder/src/types/index.ts
  website/plasma-theme-builder/src/utils/color.tsx
  website/plasma-theme-builder/src/utils/gradient.ts
  website/plasma-theme-builder/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

ci: change detection as js script
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/cypress.yml
Due: eslint --fix, prettier --write

feat: Add branch name to link in theme-builder-pr workflow
  .github/workflows/theme-builder-pr.yml
Due: none

fix(plasma-hope): update useFocusTrap
  packages/plasma-b2c/.storybook/preview.jsx
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/hooks/index.ts
  packages/plasma-b2c/src/hooks/useFocusTrap.component-test.tsx
  packages/plasma-b2c/src/hooks/useFocusTrap.stories.tsx
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/hooks/index.ts
  packages/plasma-hope/src/hooks/useFocusTrap.ts
  packages/plasma-hope/src/utils/ariaHider.ts
  packages/plasma-hope/src/utils/focusManager.ts
  packages/plasma-hope/src/utils/scopeTab.ts
  packages/plasma-hope/src/utils/tabbable.ts
  packages/plasma-web/.storybook/preview.jsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/hooks/index.ts
  packages/plasma-web/src/hooks/useFocusTrap.component-test.tsx
  packages/plasma-web/src/hooks/useFocusTrap.stories.tsx
  website/plasma-web-docs/docs/functions/hooks.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-tokens): Update `asdk` theme with xml
  packages/plasma-tokens/data/themes/asdk.json
Due: prettier --write --parser json

feat(plasma-theme-builder): Add read theme files from branch
  website/plasma-theme-builder/src/components/App.tsx
  website/plasma-theme-builder/src/components/utils.tsx
  website/plasma-theme-builder/src/hooks/useFetchTheme.tsx
Due: eslint --fix, prettier --write, stylelint

ci: "Lint, Unit test" lerna bootstrap with --since
  .github/workflows/tests.yml
  package.json
Due: prettier --write --parser json

ci: use change detection state
  .github/workflows/performance-test-base.yml
  .github/workflows/performance-test-pr.yml
Due: none

fix(plasma-hope): refactor useFocusTrap
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/hooks/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-hope/src/components/Modal/Modal.tsx
  packages/plasma-hope/src/hooks/index.ts
  packages/plasma-hope/src/hooks/useFocusTrap.ts
  packages/plasma-hope/src/utils/focusManager.ts
  packages/plasma-hope/src/utils/tabbable.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
  packages/plasma-web/src/hooks/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix: Add ingore in workflow for typescript-coverage step
  .github/workflows/typescript-coverage.yml
Due: none

ci: "Cypress" lerna bootstrap with --scope
  .github/workflows/cypress-common.yml
Due: none

feat(plasma-tokens): Update `src` directory
  packages/plasma-tokens/src/brands/asdk/index.ts
  packages/plasma-tokens/src/themes/asdk__dark.ts
  packages/plasma-tokens/src/themes/asdk__light.ts
Due: eslint --fix, prettier --write

ci: "Theme Builder" delete unnecessary "Prepare repository" step
  .github/workflows/theme-builder-pr.yml
  .github/workflows/theme-builder.yml
Due: none

feat(plasma-theme-builder): Add edit theme if PR existed
  website/plasma-theme-builder/src/api/githubAPIMethods.ts
  website/plasma-theme-builder/src/api/index.ts
  website/plasma-theme-builder/src/components/App.tsx
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
  website/plasma-theme-builder/src/components/PullRequest/PullRequest.tsx
  website/plasma-theme-builder/src/components/Theme/Theme.tsx
  website/plasma-theme-builder/src/hooks/useRunGithubPRProcess.ts
Due: eslint --fix, prettier --write, stylelint

ci: "Performance Testing" lerna bootstrap with --scope
  .github/workflows/performance-test-base.yml
  .github/workflows/performance-test-pr.yml
Due: none

feat: Add bootstrap ignore for plasmsa-tokens packages in `typescript-coverage` worflow
  .github/workflows/typescript-coverage.yml
Due: none
