Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

ci: fix documentation deploy preview comment links
  .github/create-links.js
  .github/get-deployed-packages.js
  .github/workflows/documentation-deploy-pr.yml
  .github/workflows/documentation-deploy-release-branch.yml
Due: eslint --fix, prettier --write

test(plasma-hope): stabilize PreviewGallery drag snapshot for dnd-kit
  packages/plasma-hope/src/components/PreviewGallery/PreviewGallery.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): restore PreviewGallery sortable props compatibility
  packages/plasma-hope/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItemError.tsx
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItems.tsx
  packages/plasma-hope/src/components/PreviewGallery/index.ts
  packages/plasma-hope/src/components/PreviewGallery/sortableCompat.ts
  packages/plasma-hope/src/components/PreviewGallery/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): address PreviewGallery dnd-kit review feedback
  packages/plasma-hope/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItems.tsx
  packages/plasma-hope/src/components/PreviewGallery/sortableCompat.test.ts
  packages/plasma-hope/src/components/PreviewGallery/sortableCompat.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-hope): fix PreviewGallery drag Cypress test for dnd-kit
  packages/plasma-hope/src/components/PreviewGallery/PreviewGallery.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): migrate PreviewGallery to dnd-kit for React 19
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-hope/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItems.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs(plasma-web,plasma-b2c): PreviewGallery, UploadVisual remove caution react-19
  website/plasma-b2c-docs/docs/components/PreviewGallery.mdx
  website/plasma-b2c-docs/docs/components/UploadVisual.mdx
  website/plasma-web-docs/docs/components/PreviewGallery.mdx
  website/plasma-web-docs/docs/components/UploadVisual.mdx
Due: none

chore(checkbox): improved types desc
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.types.ts
Due: eslint --fix, prettier --write

docs(checkbox): exclude readOnly prop
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Checkbox.mdx
  website/plasma-giga-docs/docs/components/Checkbox.mdx
  website/plasma-homeds-docs/docs/components/Checkbox.mdx
  website/plasma-web-docs/docs/components/Checkbox.mdx
  website/sdds-bizcom-docs/docs/components/Checkbox.mdx
  website/sdds-cs-docs/docs/components/Checkbox.mdx
  website/sdds-finai-docs/docs/components/Checkbox.mdx
  website/sdds-insol-docs/docs/components/Checkbox.mdx
  website/sdds-netology-docs/docs/components/Checkbox.mdx
  website/sdds-platform-ai-docs/docs/components/Checkbox.mdx
  website/sdds-sbcom-docs/docs/components/Checkbox.mdx
  website/sdds-scan-docs/docs/components/Checkbox.mdx
  website/sdds-serv-docs/docs/components/Checkbox.mdx
Due: none

docs(radiobox): exclude readOnly prop
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Radiobox.mdx
  website/plasma-giga-docs/docs/components/Radiobox.mdx
  website/plasma-homeds-docs/docs/components/Radiobox.mdx
  website/plasma-web-docs/docs/components/Radiobox.mdx
  website/sdds-bizcom-docs/docs/components/Radiobox.mdx
  website/sdds-cs-docs/docs/components/Radiobox.mdx
  website/sdds-finai-docs/docs/components/Radiobox.mdx
  website/sdds-insol-docs/docs/components/Radiobox.mdx
  website/sdds-netology-docs/docs/components/Radiobox.mdx
  website/sdds-platform-ai-docs/docs/components/Radiobox.mdx
  website/sdds-sbcom-docs/docs/components/Radiobox.mdx
  website/sdds-scan-docs/docs/components/Radiobox.mdx
  website/sdds-serv-docs/docs/components/Radiobox.mdx
Due: none

fix(checkbox): prop readOnly marked as deprecated
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.types.ts
Due: eslint --fix, prettier --write

chore: document dev as PR base branch in Cursor rule
  .cursor/rules/pull-requests.mdc
Due: none

chore: add Cursor rule for draft PRs with repo template format
  .cursor/rules/pull-requests.mdc
Due: none

feat: resolve TextField-like offset tokens
  packages/sdds-finai/src/components/TextField/TextField.config.ts
  packages/sdds-insol/src/components/TextField/TextField.config.ts
  packages/sdds-netology/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

feat(sbcom): update Indicator views and sizes
  packages/sdds-sbcom/src/components/Indicator/Indicator.config.ts
  packages/sdds-sbcom/src/components/Indicator/Indicator.config.tsx
  packages/sdds-sbcom/src/components/Indicator/Indicator.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sbcom): fixed hardcode color
  packages/sdds-sbcom/src/components/Modal/Modal.config.ts
Due: eslint --fix, prettier --write

chore(sbcom): added new view for modal
  packages/sdds-sbcom/src/components/Modal/Modal.config.ts
  packages/sdds-sbcom/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(sbcom): updated button config
  packages/sdds-sbcom/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

chore(sbcom): updated iconbutton
  packages/sdds-sbcom/src/components/IconButton/IconButton.config.ts
  packages/sdds-sbcom/src/components/IconButton/IconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(sbcom): updated textField
  packages/sdds-sbcom/src/components/TextField/TextField.search.config.ts
Due: eslint --fix, prettier --write

feat(sbcom): fixed styled for switch and tooltip
  packages/sdds-sbcom/src/components/Switch/Switch.config.ts
  packages/sdds-sbcom/src/components/Tooltip/Tooltip.config.ts
Due: eslint --fix, prettier --write

feat(sbcom): fixed styled for divider
  packages/sdds-sbcom/src/components/Divider/Divider.config.ts
Due: eslint --fix, prettier --write

chore: add sdds-dfa package for cypress testing
  .github/config-ci.json
  package.json
  scripts/cy-cli.js
  utils/plasma-cy-utils/lib/CypressDecorator.js
  utils/plasma-cy-utils/src/CypressDecorator.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs(cs): add m size for TextField, Button, IconButton
  website/sdds-cs-docs/docs/components/Button.mdx
  website/sdds-cs-docs/docs/components/IconButton.mdx
  website/sdds-cs-docs/docs/components/TextField.mdx
Due: none

feat: update Button, IconButton, TextField snaps
  cypress/snapshots/cs/chromium/Button/Button -- view=accent, size=m, stretching=auto.snap.png
  cypress/snapshots/cs/chromium/Button/Button -- view=clear, size=sr, stretching=fixed.snap.png
  cypress/snapshots/cs/chromium/Button/Button -- view=secondary, size=s, stretching=filled.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=default, size=m appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=default, size=m.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=negative, size=s appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=negative, size=s.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=accent, size=m, stretching=auto.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=clear, size=sr, stretching=fixed.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=secondary, size=s, stretching=filled.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=default, size=m appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=default, size=m.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=negative, size=s appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=negative, size=s.snap.png
Due: none

feat(sdds-cs): add m size for TextField
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.stories.tsx
  packages/sdds-cs/src/components/TextField/TextField.config.ts
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  utils/plasma-sb-utils/src/components/Button/meta.ts
  utils/plasma-sb-utils/src/components/TextField/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat: update TextField-like tokens
  packages/sdds-sbcom/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-sbcom/src/components/Combobox/Combobox.config.ts
  packages/sdds-sbcom/src/components/Select/Select.config.ts
  packages/sdds-sbcom/src/components/TextField/TextField.config.ts
  packages/sdds-sbcom/src/components/TextField/TextField.tsx
  packages/sdds-sbcom/src/components/TextFieldGroup/TextFieldGroup.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(Accordion): separate clear-view radius from size radius
  packages/plasma-b2c/src/components/Accordion/Accordion.config.ts
  packages/plasma-giga/src/components/Accordion/Accordion.config.ts
  packages/plasma-giga/src/components/Accordion/Accordion.update-test.component-test.tsx
  packages/plasma-homeds/src/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/examples/components/Accordion/Accordion.config.ts
  packages/plasma-web/src/components/Accordion/Accordion.config.ts
  packages/sdds-bizcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-cs/src/components/Accordion/Accordion.config.ts
  packages/sdds-dfa/src/components/Accordion/Accordion.config.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.draft.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.ts
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
  packages/sdds-netology/src/components/Accordion/Accordion.config.ts
  packages/sdds-os/src/components/Accordion/Accordion.config.ts
  packages/sdds-platform-ai/src/components/Accordion/Accordion.config.ts
  packages/sdds-sbcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-scan/src/components/Accordion/Accordion.config.ts
  packages/sdds-serv/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(Accordion): remove !important from accordionItemBorderRadius config
  packages/plasma-b2c/src/components/Accordion/Accordion.config.ts
  packages/plasma-giga/src/components/Accordion/Accordion.config.ts
  packages/plasma-homeds/src/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/components/Accordion/Accordion.config.ts
  packages/plasma-web/src/components/Accordion/Accordion.config.ts
  packages/sdds-bizcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-cs/src/components/Accordion/Accordion.config.ts
  packages/sdds-dfa/src/components/Accordion/Accordion.config.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.draft.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.ts
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
  packages/sdds-netology/src/components/Accordion/Accordion.config.ts
  packages/sdds-os/src/components/Accordion/Accordion.config.ts
  packages/sdds-platform-ai/src/components/Accordion/Accordion.config.ts
  packages/sdds-sbcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-scan/src/components/Accordion/Accordion.config.ts
  packages/sdds-serv/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
