Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

test(plasma-web): Update snapshots for `TextArea`
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- contentRight.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- custom width and height.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- default.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- disabled.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- empty.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- focused.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- leftHelper and rightHelper.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- resize.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaBase.component-test.tsx/plasma-core TextArea -- success, warning, error.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - basic.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - manualResize.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - maxAuto.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - minAuto.snap.png
Due: none

feat(plasma-new-hope): Add `TextArea` component with new design and tokens for sds_engineer
  packages/plasma-new-hope/src/examples/sds_engineer/components/TextArea/TextArea.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/TextArea/TextArea.ts
  packages/plasma-new-hope/src/examples/themes/sds_engineer.module.css
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): Remove `TextArea` component (exclude types)
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-hope/src/components/TextArea/index.ts
  packages/plasma-hope/src/components/TextArea/useAutoResize.ts
  packages/plasma-hope/src/components/TextArea/views/b2c/Field.tsx
  packages/plasma-hope/src/components/TextArea/views/b2c/TextArea.props.ts
  packages/plasma-hope/src/components/TextArea/views/b2c/TextAreaB2C.tsx
  packages/plasma-hope/src/components/TextArea/views/web/TextAreaWeb.tsx
  packages/plasma-hope/src/components/TextArea/views/web/mixins.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat: Update cypress-common workflow with new tokens deps
  .github/workflows/cypress-common.yml
Due: none

feat(plasma-tokens-b2c): Add custom tokens for fallback
  packages/plasma-tokens-b2c/data/ds.ts
Due: eslint --fix, prettier --write

feat(plasma-b2c): Replace `TextArea` from plasma-new-hope
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/TextArea/TextArea.config.ts
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

feat: update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-colors/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-core/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

ci: handling upload assets
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-common.yml
  .github/workflows/publish-latest.yml
  .github/workflows/publish-rc.yml
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdseng
  packages/plasma-tokens/data/themes/sdseng.json
Due: prettier --write --parser json

feat(plasma-tokens): update sds_engineer theme
  packages/plasma-tokens/src/brands/sdseng/index.ts
  packages/plasma-tokens/src/themes/sdseng__dark.ts
  packages/plasma-tokens/src/themes/sdseng__light.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdseng)
  packages/plasma-tokens/src/brands/sdseng/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdseng__dark.ts
  packages/plasma-tokens/src/themes/sdseng__light.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdseng)
  packages/plasma-tokens/data/themes/sdseng.json
Due: prettier --write --parser json

refactor(new-hope): tokens, variations, config
  packages/plasma-new-hope/src/components/Tabs/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/TabItem/_active/base.ts
  packages/plasma-new-hope/src/components/Tabs/TabItem/_disabled/base.ts
  packages/plasma-new-hope/src/components/Tabs/TabItem/_disabled/tokens.json
  packages/plasma-new-hope/src/components/Tabs/TabItem/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Tabs/TabItem/variations/_view/tokens.json
  packages/plasma-new-hope/src/components/Tabs/Tabs.tokens.ts
  packages/plasma-new-hope/src/components/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/components/Tabs/Tabs/_disabled/base.ts
  packages/plasma-new-hope/src/components/Tabs/Tabs/_stretch/base.ts
  packages/plasma-new-hope/src/components/Tabs/Tabs/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/Tabs/Tabs/variations/_disabled/tokens.json
  packages/plasma-new-hope/src/components/Tabs/Tabs/variations/_stretch/base.ts
  packages/plasma-new-hope/src/components/Tabs/Tabs/variations/_stretch/tokens.json
  packages/plasma-new-hope/src/components/Tabs/index.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore: use "@auto-it" config as js file
  .autorc.json
  auto.config.js
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: add "auto-plugins:build" script
  package.json
Due: prettier --write --parser json

ci(publish): handling outputs dispatch HAS_ASSETS [skip ci]
  .github/workflows/publish-canary.yml
  .github/workflows/publish-rc.yml
Due: none

chore(plasma-b2c): fix typo
  packages/plasma-b2c/package.json
Due: prettier --write --parser json

fix: Fix typo
  utils/plasma-tokens-native/package.json
Due: prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-tokens-native/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat(plasma-tokens): Add theme stylesSalute
  packages/plasma-tokens/data/themes/stylesSalute.json
  packages/plasma-tokens/src/brands/stylesSalute/index.ts
  packages/plasma-tokens/src/themes/stylesSalute__dark.ts
  packages/plasma-tokens/src/themes/stylesSalute__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

ci: computed condition for upload assets when publish RC
  .github/workflows/publish-rc.yml
Due: none

feat(plasma-new-hope): replace local addFocus on general in radiobox
  packages/plasma-new-hope/src/components/Radiobox/_focused/base.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): add general addFocusMixin
  packages/plasma-new-hope/src/mixins/addFocus.ts
  packages/plasma-new-hope/src/mixins/index.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): replace local addFocus on general
  packages/plasma-new-hope/src/components/Checkbox/_focused/base.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): replace local addFocus on general in chip
  packages/plasma-new-hope/src/components/Chip/variations/_focused/base.ts
Due: eslint --fix, prettier --write

feat(plasma-asdk): reexport addFocus from new-hope
  packages/plasma-asdk/src/mixins/index.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): replace local addFocus on general in calendar
  packages/plasma-new-hope/src/components/Calendar/mixins/index.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDayItem/CalendarDayItem.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarYears/CalendarYears.styles.ts
Due: eslint --fix, prettier --write

feat(new-hope): add avatar, avatar group
  packages/plasma-new-hope/src/components/Avatar/Avatar.tokens.ts
  packages/plasma-new-hope/src/components/Avatar/Avatar.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Avatar/Avatar/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Avatar/AvatarGroup.tokens.ts
  packages/plasma-new-hope/src/components/Avatar/AvatarGroup.tsx
  packages/plasma-new-hope/src/components/Avatar/AvatarGroup/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Avatar/AvatarGroup/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Avatar/index.ts
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/Silhouette.tsx
  packages/plasma-new-hope/src/components/_Icon/IconRoot.tsx
  packages/plasma-new-hope/src/components/_Icon/IconSilhouette.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Avatar/Avatar.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Avatar/Avatar.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Avatar/Avatar.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Avatar/AvatarGroup.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Avatar/AvatarGroup.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Avatar/AvatarGroup.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
