Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

docs(): update DateTimePicker, TimePicker
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.template-doc.mdx
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.template-doc.mdx
  website/plasma-b2c-docs/docs/components/DateTimePicker.mdx
  website/plasma-b2c-docs/docs/components/TimePicker.mdx
  website/plasma-giga-docs/docs/components/DateTimePicker.mdx
  website/plasma-giga-docs/docs/components/TimePicker.mdx
  website/plasma-homeds-docs/docs/components/DateTimePicker.mdx
  website/plasma-homeds-docs/docs/components/TimePicker.mdx
  website/plasma-web-docs/docs/components/DateTimePicker.mdx
  website/plasma-web-docs/docs/components/TimePicker.mdx
  website/sdds-bizcom-docs/docs/components/DateTimePicker.mdx
  website/sdds-bizcom-docs/docs/components/TimePicker.mdx
  website/sdds-cs-docs/docs/components/TimePicker.mdx
  website/sdds-dfa-docs/docs/components/DateTimePicker.mdx
  website/sdds-dfa-docs/docs/components/TimePicker.mdx
  website/sdds-finai-docs/docs/components/DateTimePicker.mdx
  website/sdds-finai-docs/docs/components/TimePicker.mdx
  website/sdds-insol-docs/docs/components/DateTimePicker.mdx
  website/sdds-insol-docs/docs/components/TimePicker.mdx
  website/sdds-netology-docs/docs/components/DateTimePicker.mdx
  website/sdds-netology-docs/docs/components/TimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/DateTimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/TimePicker.mdx
  website/sdds-scan-docs/docs/components/DateTimePicker.mdx
  website/sdds-scan-docs/docs/components/TimePicker.mdx
  website/sdds-serv-docs/docs/components/DateTimePicker.mdx
  website/sdds-serv-docs/docs/components/TimePicker.mdx
Due: none

feat(): add appearance for DateTimePicker & TimePicker [PLASMA-7096]
  packages/plasma-b2c/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-b2c/src/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-giga/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-giga/src/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-homeds/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-homeds/src/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tokens.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.types.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.tsx
  packages/plasma-new-hope/src/components/TextField/variations/_read-only/base.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.styles.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tokens.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.types.ts
  packages/plasma-new-hope/src/components/TimePicker/variations/_size/base.ts
  packages/plasma-new-hope/src/examples/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-new-hope/src/examples/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-new-hope/src/examples/components/TimePicker/TimePicker.clear.config.ts
  packages/plasma-new-hope/src/examples/components/TimePicker/TimePicker.ts
  packages/plasma-web/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-web/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-bizcom/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-bizcom/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-finai/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-finai/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-finai/src/components/TimePicker/TimePicker.clear.config.ts
  packages/sdds-finai/src/components/TimePicker/TimePicker.ts
  packages/sdds-netology/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-netology/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-serv/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-serv/src/components/DateTimePicker/DateTimePicker.ts
Due: eslint --fix, prettier --write, stylelint

feat(): update DateTimePicker & TimePicker stories
  packages/plasma-b2c/src/components/TimePicker/TimePicker.stories.tsx
  packages/plasma-giga/src/components/TimePicker/TimePicker.stories.tsx
  packages/plasma-homeds/src/components/TimePicker/TimePicker.stories.tsx
  packages/plasma-web/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-bizcom/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-cs/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-dfa/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-dfa/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-insol/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-netology/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-platform-ai/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-platform-ai/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-sbcom/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-sbcom/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-scan/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-serv/src/components/TimePicker/TimePicker.stories.tsx
  utils/plasma-sb-utils/src/components/DateTimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/DateTimePicker/meta.ts
  utils/plasma-sb-utils/src/components/TimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/TimePicker/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add custom gradient support to Skeleton hoc
  packages/plasma-new-hope/src/components/Skeleton/hoc/withSkeleton.styles.ts
  packages/plasma-new-hope/src/components/Skeleton/hoc/withSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/hoc/withSkeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: update Skeleton docs
  packages/plasma-new-hope/src/components/Skeleton/Skeleton.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Skeleton.mdx
  website/plasma-giga-docs/docs/components/Skeleton.mdx
  website/plasma-web-docs/docs/components/Skeleton.mdx
  website/sdds-bizcom-docs/docs/components/Skeleton.mdx
  website/sdds-cs-docs/docs/components/Skeleton.mdx
  website/sdds-dfa-docs/docs/components/Skeleton.mdx
  website/sdds-finai-docs/docs/components/Skeleton.mdx
  website/sdds-insol-docs/docs/components/Skeleton.mdx
  website/sdds-netology-docs/docs/components/Skeleton.mdx
  website/sdds-platform-ai-docs/docs/components/Skeleton.mdx
  website/sdds-serv-docs/docs/components/Skeleton.mdx
Due: none

feat: add Skeleton api-tests
  utils/api-tests/src/components/Skeleton/Skeleton.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update Skeleton hoc stories
  utils/plasma-sb-utils/src/components/Skeleton/stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): update List [PLASMA-7088]
  packages/plasma-new-hope/src/components/Cell/Cell.styles.ts
  packages/plasma-new-hope/src/components/List/List.context.ts
  packages/plasma-new-hope/src/components/List/List.styles.ts
  packages/plasma-new-hope/src/components/List/List.tokens.ts
  packages/plasma-new-hope/src/components/List/List.tsx
  packages/plasma-new-hope/src/components/List/List.types.ts
  packages/plasma-new-hope/src/components/List/ui/ListItem.styles.tsx
  packages/plasma-new-hope/src/components/List/ui/ListItem.tsx
  packages/plasma-new-hope/src/components/List/ui/ListItem.types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-homeds): update List config [PLASMA-7088]
  packages/plasma-homeds/src/components/List/List.config.ts
  packages/plasma-homeds/src/components/List/List.stories.tsx
  website/plasma-homeds-docs/docs/components/List.mdx
Due: eslint --fix, prettier --write, stylelint

fix(sbcom): fix handle src/mixins dir
  packages/sdds-sbcom/scripts/copy-linaria-components.sh
Due: none

fix(sbcom): replace tokens text by alternative [Note]
  packages/sdds-sbcom/src/components/Note/Note.config.ts
Due: eslint --fix, prettier --write

fix(sbcom): replace tokens text by alternative [Link]
  packages/sdds-sbcom/src/components/Skeleton/LineSkeleton.config.ts
Due: eslint --fix, prettier --write

fix(sbcom): replace tokens text by alternative [Avatar]
  packages/sdds-sbcom/src/components/Avatar/Avatar.config.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sbcom): replace tokens text by alternative [Link]
  packages/sdds-sbcom/src/components/Link/Link.config.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sbcom): fix config [Modal]
  packages/sdds-sbcom/src/components/Modal/Modal.config.ts
Due: eslint --fix, prettier --write

fix(sbcom): add `Hxl\Hxxl` tokens
  packages/sdds-sbcom/src/components/Typography/Heading.config.ts
  packages/sdds-sbcom/src/components/Typography/Typography.stories.tsx
  packages/sdds-sbcom/src/components/Typography/Typography.tsx
  packages/sdds-sbcom/src/components/Typography/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(sbcom): update @salutejs-ds/sdds_sbcom@0.1.20
  packages/sdds-sbcom/package-lock.json
  packages/sdds-sbcom/package.json
Due: prettier --write --parser json

chore: fix
  packages/sdds-sbcom/package.json
Due: prettier --write --parser json

chore(homeds): update snapshots
  cypress/snapshots/homeds/chromium/Checkbox/Checkbox -- chip group.snap.png
  cypress/snapshots/homeds/chromium/Combobox/Combobox -- selectAllSticky.snap.png
  cypress/snapshots/homeds/chromium/Combobox/Combobox -- treeView, arrowPlacement=right.snap.png
  cypress/snapshots/homeds/chromium/Combobox/Combobox -- treeView, multiple arrowPlacement=right.snap.png
  cypress/snapshots/homeds/chromium/DateTimePicker/DateTimePicker -- calendarContainerWidth, calendarContainerHeight.snap.png
  cypress/snapshots/homeds/chromium/DateTimePicker/DateTimePicker -- input date and time.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- customIncrementButton,customDecrementButton.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- disabled.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- displayWithoutValue=increment, click shows full component.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- incrementIcon,decrementIcon.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- inputBackgroundType.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- limitBehavior=disabled.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- limitBehavior=hidden.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- min,max.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- view=accent, size=s, segmentation=solid.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- view=clear, size=xs.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- view=default, size=l, shape=cornered, segmentation=default.snap.png
  cypress/snapshots/homeds/chromium/NumberInput/NumberInput -- view=secondary, size=m, shape=pilled, segmentation=segmented.snap.png
  cypress/snapshots/homeds/chromium/Radiobox/Radiobox -- radiobox group.snap.png
  cypress/snapshots/homeds/chromium/Select/Select -- chipView=default multiselect.snap.png
  cypress/snapshots/homeds/chromium/Select/Select -- chipView=secondary multiselect.snap.png
  cypress/snapshots/homeds/chromium/Slider/Slider -- focus.snap.png
  cypress/snapshots/homeds/chromium/TimePicker/TimePicker -- input time.snap.png
Due: none

fix(homeds): update snapshots [webkit]
  cypress/snapshots/homeds/webkit/Checkbox/Checkbox -- chip group.snap.png
  cypress/snapshots/homeds/webkit/Combobox/Combobox -- selectAllSticky.snap.png
  cypress/snapshots/homeds/webkit/Combobox/Combobox -- treeView, arrowPlacement=right.snap.png
  cypress/snapshots/homeds/webkit/Combobox/Combobox -- treeView, multiple arrowPlacement=right.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- customIncrementButton,customDecrementButton.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- disabled.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- displayWithoutValue=increment, click shows full component.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- incrementIcon,decrementIcon.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- inputBackgroundType.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- limitBehavior=disabled.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- limitBehavior=hidden.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- min,max.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- view=accent, size=s, segmentation=solid.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- view=clear, size=xs.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- view=default, size=l, shape=cornered, segmentation=default.snap.png
  cypress/snapshots/homeds/webkit/NumberInput/NumberInput -- view=secondary, size=m, shape=pilled, segmentation=segmented.snap.png
  cypress/snapshots/homeds/webkit/Radiobox/Radiobox -- radiobox group.snap.png
  cypress/snapshots/homeds/webkit/Slider/Slider -- focus.snap.png
Due: none

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-homeds.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-os.json
  website/plasma-website/public/data/sdds-platform-ai.json
  website/plasma-website/public/data/sdds-sbcom.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser json

fix(components): button size and hover active colors
  packages/sdds-sbcom/src/components/Button/Button.config.ts
  packages/sdds-sbcom/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sbcom): fix iconButton config
  packages/sdds-sbcom/src/components/IconButton/IconButton.config.ts
  packages/sdds-sbcom/src/components/IconButton/IconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sbcom): button size and hover active colors
  packages/sdds-sbcom/src/components/Button/Button.config.ts
  packages/sdds-sbcom/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint
