Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-tokens): Update `src` directories with `spacing` tokens in sbermarket themes
  packages/plasma-tokens/src/brands/sbermarket/index.ts
  packages/plasma-tokens/src/brands/sbermarket_business/index.ts
  packages/plasma-tokens/src/brands/sbermarket_metro/index.ts
  packages/plasma-tokens/src/brands/sbermarket_selgros/index.ts
  packages/plasma-tokens/src/brands/sbermarket_wlbusiness/index.ts
  packages/plasma-tokens/src/themes/sbermarket__dark.ts
  packages/plasma-tokens/src/themes/sbermarket__light.ts
  packages/plasma-tokens/src/themes/sbermarket_business__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_business__light.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__light.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__light.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__light.ts
Due: eslint --fix, prettier --write

fix(plasma-ui): Update behavior scroll in `Sheet` component
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
  packages/plasma-ui/src/components/Sheet/useSheetSwipe.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-theme-builder): Update theme kind items
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/src/components/Main/Main.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

fix(plasma-core): Add requestAnimationFrame for useResizeObserver hook
  packages/plasma-core/src/hooks/useResizeObserver.ts
Due: eslint --fix, prettier --write

feat(plasma-theme-builder): Actualized generate tokens set
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentDeepTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentWarningTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/index.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentWarningTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/index.ts
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
Due: eslint --fix, prettier --write, stylelint

fix(palsma-tokens): Update values in border-radius tokesn for `sbermarket` schemes
  packages/plasma-tokens/data/themes/sbermarket.json
  packages/plasma-tokens/data/themes/sbermarket_business.json
  packages/plasma-tokens/data/themes/sbermarket_metro.json
  packages/plasma-tokens/data/themes/sbermarket_selgros.json
  packages/plasma-tokens/data/themes/sbermarket_wlbusiness.json
Due: prettier --write --parser json

feat(palsma-tokens-*): Add borderRadius tokens generate for react-native and refactor config.ts
  package.json
  utils/plasma-tokens-native/config.ts
  utils/plasma-tokens-native/src/creators/createBorderRadius.ts
  utils/plasma-tokens-native/src/creators/createProperties.ts
  utils/plasma-tokens-native/src/generate.ts
  utils/plasma-tokens-native/src/generator/formatters/borderRadiusReactNative.ts
  utils/plasma-tokens-native/src/generator/formatters/index.ts
  utils/plasma-tokens-native/src/generator/index.ts
  utils/plasma-tokens-utils/src/generators/generateBorderRadiusTokens.ts
  utils/plasma-tokens-utils/src/generators/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-ui): add prop "extraContent" [Confirm]
  cypress/snapshots/ui/components/Confirm/Confirm.component-test.tsx/Confirm -- withExtraContent.snap.png
  packages/plasma-ui/src/components/Confirm/Confirm.component-test.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.stories.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.tsx
  website/plasma-ui-docs/docs/components/Confirm.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens,plasma-tokens-utils): Update `default` theme with actualized tokens
  packages/plasma-tokens/data/themes/default.json
  packages/plasma-tokens/src/brands/index.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

test: perftest partial run
  .github/workflows/performance-test-pr.yml
  package-lock.json
  package.json
  perftool.config.mts
Due: prettier --write --parser json

feat(plasma-tokens,plasma-tokens-utils): Add generate `spacing` tokens for web
  packages/plasma-tokens/lib/creators/createBrands.ts
  utils/plasma-tokens-utils/src/generators/generateThemes.ts
  utils/plasma-tokens-utils/src/generators/generateThemesTokenDataGroups.ts
  utils/plasma-tokens-utils/src/generators/generateTokenSet.ts
  utils/plasma-tokens-utils/src/generators/getThemesTokensFallback.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write

ci: fix perftest workflow
  .github/workflows/performance-test-pr.yml
  scripts/perftool-send-report.js
Due: eslint --fix, prettier --write

chore: disable codecove
  codecov.yml
Due: none

feat(plasma-tokens): Add `spacing` tokens to sbermarket schemes
  packages/plasma-tokens/data/themes/sbermarket.json
  packages/plasma-tokens/data/themes/sbermarket_business.json
  packages/plasma-tokens/data/themes/sbermarket_metro.json
  packages/plasma-tokens/data/themes/sbermarket_selgros.json
  packages/plasma-tokens/data/themes/sbermarket_wlbusiness.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

ci: add publish-latest/release workflow
  .github/workflows/publish-latest.yml
Due: none

ci: add publish-common.yml
  .github/actions/update-package-lock/action.yml
  .github/workflows/publish-common.yml
Due: none

ci: add publish-rc workflow
  .github/workflows/publish-rc.yml
Due: none

chore: enable RC by "commitNextVersion" in npm plugin [skip ci]
  .autorc.json
  package.json
Due: prettier --write --parser json

ci: add publish-canary workflow
  .github/workflows/publish-canary.yml
Due: none

chore: rename workflow running by merge queue
  .github/workflows/publish-blank-mq.yml
Due: none

ci: delete old release workflow file
  .github/workflows/release.yml
Due: none

chore: enable schema for lerna.json
  lerna.json
Due: prettier --write --parser json

chore: return "tsc -p auto-plugins/tsconfig.json" for release script
  package.json
Due: prettier --write --parser json

ci: pass GitHub token to action [Publish]
  .github/actions/update-package-lock/action.yml
  .github/workflows/publish-common.yml
Due: none

ci: enable bootstrap flag `--since`
  .github/workflows/publish-canary.yml
Due: none

ci: pass GitHub token to action by env
  .github/actions/update-package-lock/action.yml
Due: none
