Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-homeds/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-bizcom/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package.json
  packages/sdds-insol/package.json
  packages/sdds-netology/package.json
  packages/sdds-os/package.json
  packages/sdds-platform-ai/package.json
  packages/sdds-sbcom/package.json
  packages/sdds-scan/package.json
  packages/sdds-serv/package.json
  packages/themes/plasma-themes/package.json
  utils/api-tests/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-homeds-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-bizcom-docs/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-platform-ai-docs/package.json
  website/sdds-scan-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

feat(): code-review updates
  packages/plasma-new-hope/src/components/Combobox/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Combobox/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/hooks/useListState.ts
  packages/plasma-new-hope/src/components/Combobox/hooks/useValue.ts
  packages/plasma-new-hope/src/components/Combobox/ui/Inner/ui/Item/Item.types.ts
  packages/plasma-new-hope/src/components/Combobox/variations/_readOnly/base.ts
  utils/plasma-sb-utils/src/components/Combobox/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat(): update Combobox docs
  packages/plasma-new-hope/src/components/Combobox/Combobox.template-doc.mdx
  packages/plasma-new-hope/src/components/Combobox/Combobox.types.ts
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-giga-docs/docs/components/Combobox.mdx
  website/plasma-homeds-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/sdds-bizcom-docs/docs/components/Combobox.mdx
  website/sdds-cs-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-finai-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-netology-docs/docs/components/Combobox.mdx
  website/sdds-platform-ai-docs/docs/components/Combobox.mdx
  website/sdds-scan-docs/docs/components/Combobox.mdx
  website/sdds-serv-docs/docs/components/Combobox.mdx
Due: eslint --fix, prettier --write

feat(): refactor Combobox stories
  packages/plasma-b2c/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-giga/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-homeds/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-bizcom/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-dfa/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-finai/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-netology/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-os/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-platform-ai/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-sbcom/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-scan/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-serv/src/components/Combobox/Combobox.stories.tsx
  utils/plasma-sb-utils/src/components/Combobox/Combobox.tsx
  utils/plasma-sb-utils/src/components/Combobox/fixtures.ts
  utils/plasma-sb-utils/src/components/Combobox/index.ts
  utils/plasma-sb-utils/src/components/Combobox/meta.ts
  utils/plasma-sb-utils/src/components/Combobox/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add scaleTicks for TextFieldSlider
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.styles.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.tokens.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.tsx
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.types.ts
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.config.ts
  utils/plasma-sb-utils/src/components/TextFieldSlider/meta.ts
  utils/plasma-sb-utils/src/components/TextFieldSlider/stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update TextFieldSlider configs
  packages/plasma-b2c/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-b2c/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/plasma-giga/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-giga/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-web/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-web/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-bizcom/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-bizcom/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-dfa/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-dfa/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-netology/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-netology/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-platform-ai/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-platform-ai/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-sbcom/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-sbcom/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-serv/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-serv/src/components/TextFieldSlider/TextFieldSlider.config.ts
Due: eslint --fix, prettier --write

docs: update TextFieldSlider docs
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.template-doc.mdx
  website/plasma-b2c-docs/docs/components/TextFieldSlider.mdx
  website/plasma-giga-docs/docs/components/TextFieldSlider.mdx
  website/plasma-web-docs/docs/components/TextFieldSlider.mdx
  website/sdds-bizcom-docs/docs/components/TextFieldSlider.mdx
  website/sdds-dfa-docs/docs/components/TextFieldSlider.mdx
  website/sdds-netology-docs/docs/components/TextFieldSlider.mdx
  website/sdds-platform-ai-docs/docs/components/TextFieldSlider.mdx
  website/sdds-serv-docs/docs/components/TextFieldSlider.mdx
Due: none

docs: update NumberInput docs
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.template-doc.mdx
  website/plasma-b2c-docs/docs/components/NumberInput.mdx
  website/plasma-giga-docs/docs/components/NumberInput.mdx
  website/plasma-homeds-docs/docs/components/NumberInput.mdx
  website/plasma-web-docs/docs/components/NumberInput.mdx
  website/sdds-bizcom-docs/docs/components/NumberInput.mdx
  website/sdds-cs-docs/docs/components/NumberInput.mdx
  website/sdds-dfa-docs/docs/components/NumberInput.mdx
  website/sdds-finai-docs/docs/components/NumberInput.mdx
  website/sdds-insol-docs/docs/components/NumberInput.mdx
  website/sdds-netology-docs/docs/components/NumberInput.mdx
  website/sdds-platform-ai-docs/docs/components/NumberInput.mdx
  website/sdds-scan-docs/docs/components/NumberInput.mdx
  website/sdds-serv-docs/docs/components/NumberInput.mdx
Due: none

feat(plasma-new-hope): update hidden limit controls behaviour
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.component-test.tsx
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tokens.ts
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tsx
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.types.ts
  packages/plasma-new-hope/src/components/NumberInput/ui/ActionButton/ActionButton.tsx
  packages/plasma-new-hope/src/components/NumberInput/ui/ActionButton/ActionButton.types.ts
  packages/plasma-new-hope/src/components/NumberInput/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/NumberInput/ui/Input/Input.tsx
  packages/plasma-new-hope/src/components/NumberInput/ui/Input/Input.types.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_segmentation/base.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_view/base.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-icons): fix css import
  packages/plasma-icons/package.json
Due: prettier --write --parser json

fix(swc): use es2020 target
  packages/plasma-new-hope/swc-emotion.config.json
  packages/plasma-new-hope/swc-sc.config.json
  swc.config.json
Due: prettier --write --parser json

chore(cs): rnd [emotion]
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(giga): rnd [css]
  packages/plasma-giga/src/components/Button/Button.config.ts
  packages/plasma-giga/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(core): rnd
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Button/Button.types.ts
  packages/plasma-new-hope/src/engines/emotion.tsx
  packages/plasma-new-hope/src/engines/index.ts
  packages/plasma-new-hope/src/engines/linaria.tsx
  packages/plasma-new-hope/src/engines/styled-components.tsx
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-new-hope/src/engines/utils.ts
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-themes): expose ESM subpaths via `exports` field
  packages/themes/plasma-themes/package.json
Due: prettier --write --parser json

feat(new-hope): add Dialog Modal [PLASMA-7135]
  packages/plasma-new-hope/src/components/Dialog/Modal/Modal.styles.ts
  packages/plasma-new-hope/src/components/Dialog/Modal/Modal.tokens.ts
  packages/plasma-new-hope/src/components/Dialog/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Dialog/Modal/Modal.types.ts
  packages/plasma-new-hope/src/components/Dialog/Modal/index.ts
  packages/plasma-new-hope/src/components/Dialog/Modal/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Dialog/Modal/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Dialog/Modal/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Dialog/Modal/variations/_view/tokens.json
  packages/plasma-new-hope/src/components/Dialog/index.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-giga): add Dialog Modal [PLASMA-7135]
  packages/plasma-giga/src/components/Dialog/Modal/Modal.config.ts
  packages/plasma-giga/src/components/Dialog/Modal/Modal.stories.tsx
  packages/plasma-giga/src/components/Dialog/Modal/Modal.ts
  packages/plasma-giga/src/components/Dialog/Modal/index.ts
  packages/plasma-giga/src/components/Dialog/index.ts
  packages/plasma-giga/src/index.ts
  website/plasma-giga-docs/docs/components/Dialog/DialogModal.mdx
  website/plasma-giga-docs/docs/components/Dialog/_category_.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(): add appearance for DateTimePicker & TimePicker [PLASMA-7096]
  packages/plasma-b2c/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-b2c/src/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-giga/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-giga/src/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-homeds/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-homeds/src/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tokens.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.types.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.tsx
  packages/plasma-new-hope/src/components/TextField/variations/_read-only/base.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.styles.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tokens.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.types.ts
  packages/plasma-new-hope/src/components/TimePicker/variations/_size/base.ts
  packages/plasma-new-hope/src/examples/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-new-hope/src/examples/components/DateTimePicker/DateTimePicker.ts
  packages/plasma-new-hope/src/examples/components/TimePicker/TimePicker.clear.config.ts
  packages/plasma-new-hope/src/examples/components/TimePicker/TimePicker.ts
  packages/plasma-web/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-web/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-bizcom/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-bizcom/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-finai/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-finai/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-finai/src/components/TimePicker/TimePicker.clear.config.ts
  packages/sdds-finai/src/components/TimePicker/TimePicker.ts
  packages/sdds-netology/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-netology/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-serv/src/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/sdds-serv/src/components/DateTimePicker/DateTimePicker.ts
Due: eslint --fix, prettier --write, stylelint

docs(): update DateTimePicker, TimePicker
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.template-doc.mdx
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.template-doc.mdx
  website/plasma-b2c-docs/docs/components/DateTimePicker.mdx
  website/plasma-b2c-docs/docs/components/TimePicker.mdx
  website/plasma-giga-docs/docs/components/DateTimePicker.mdx
  website/plasma-giga-docs/docs/components/TimePicker.mdx
  website/plasma-homeds-docs/docs/components/DateTimePicker.mdx
  website/plasma-homeds-docs/docs/components/TimePicker.mdx
  website/plasma-web-docs/docs/components/DateTimePicker.mdx
  website/plasma-web-docs/docs/components/TimePicker.mdx
  website/sdds-bizcom-docs/docs/components/DateTimePicker.mdx
  website/sdds-bizcom-docs/docs/components/TimePicker.mdx
  website/sdds-cs-docs/docs/components/TimePicker.mdx
  website/sdds-dfa-docs/docs/components/DateTimePicker.mdx
  website/sdds-dfa-docs/docs/components/TimePicker.mdx
  website/sdds-finai-docs/docs/components/DateTimePicker.mdx
  website/sdds-finai-docs/docs/components/TimePicker.mdx
  website/sdds-insol-docs/docs/components/DateTimePicker.mdx
  website/sdds-insol-docs/docs/components/TimePicker.mdx
  website/sdds-netology-docs/docs/components/DateTimePicker.mdx
  website/sdds-netology-docs/docs/components/TimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/DateTimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/TimePicker.mdx
  website/sdds-scan-docs/docs/components/DateTimePicker.mdx
  website/sdds-scan-docs/docs/components/TimePicker.mdx
  website/sdds-serv-docs/docs/components/DateTimePicker.mdx
  website/sdds-serv-docs/docs/components/TimePicker.mdx
Due: none

feat(): update DateTimePicker & TimePicker stories
  packages/plasma-b2c/src/components/TimePicker/TimePicker.stories.tsx
  packages/plasma-giga/src/components/TimePicker/TimePicker.stories.tsx
  packages/plasma-homeds/src/components/TimePicker/TimePicker.stories.tsx
  packages/plasma-web/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-bizcom/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-cs/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-dfa/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-dfa/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-insol/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-netology/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-platform-ai/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-platform-ai/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-sbcom/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-sbcom/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-scan/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-serv/src/components/TimePicker/TimePicker.stories.tsx
  utils/plasma-sb-utils/src/components/DateTimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/DateTimePicker/meta.ts
  utils/plasma-sb-utils/src/components/TimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/TimePicker/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): update List [PLASMA-7088]
  packages/plasma-new-hope/src/components/Cell/Cell.styles.ts
  packages/plasma-new-hope/src/components/List/List.context.ts
  packages/plasma-new-hope/src/components/List/List.styles.ts
  packages/plasma-new-hope/src/components/List/List.tokens.ts
  packages/plasma-new-hope/src/components/List/List.tsx
  packages/plasma-new-hope/src/components/List/List.types.ts
  packages/plasma-new-hope/src/components/List/ui/ListItem.styles.tsx
  packages/plasma-new-hope/src/components/List/ui/ListItem.tsx
  packages/plasma-new-hope/src/components/List/ui/ListItem.types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-homeds): update List config [PLASMA-7088]
  packages/plasma-homeds/src/components/List/List.config.ts
  packages/plasma-homeds/src/components/List/List.stories.tsx
  website/plasma-homeds-docs/docs/components/List.mdx
Due: eslint --fix, prettier --write, stylelint

fix(components): button size and hover active colors
  packages/sdds-sbcom/src/components/Button/Button.config.ts
  packages/sdds-sbcom/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-icons): fix iconSectionsSetScalable import
  packages/plasma-icons/src/index.ts
  website/plasma-website/utils/iconsList.ts
Due: eslint --fix, prettier --write

fix(plasma-icons): mark root barrel exports as `@deprecated`
  packages/plasma-icons/scripts/generateReactComponents.ts
Due: eslint --fix, prettier --write

chore(plasma-icons): fix code style issues
  packages/plasma-icons/package.json
  packages/plasma-icons/scripts/generateReactComponents.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-icons): add single-size entrypoints `/16`, `/24`, `/36`
  packages/plasma-icons/scripts/generateReactComponents.ts
  packages/plasma-icons/scripts/utils.ts
Due: eslint --fix, prettier --write
