Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

ci: Enable "New hope" storybook
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  packages/plasma-new-hope/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: update package-locks
  packages/plasma-new-hope/package-lock.json
Due: prettier --write --parser json

fix(plasma-new-hope): cjs build
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/styled-components/package.json
Due: prettier --write --parser json

fix: fix typo
  packages/plasma-b2c/package.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
Due: prettier --write --parser json

fix(plasma-new-hope): Fixes related to Tabs component
  packages/plasma-new-hope/src/components/Tabs/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.ts
  packages/plasma-new-hope/src/hooks/index.ts
  packages/plasma-new-hope/src/hooks/useForkRef.ts
  packages/plasma-new-hope/src/mixins/applyDisabled.ts
  packages/plasma-new-hope/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fix typo
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore(plasma-new-hope): test a11y
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

fix(plasma-new-hope): fix version
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

chore: stand for a11y mock test
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

Update versions
  packages/plasma-b2c/package.json
  website/plasma-theme-builder/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks
  packages/plasma-b2c/package-lock.json
Due: prettier --write --parser json

fix(plasma-new-hope): delete unused code
  packages/plasma-new-hope/src/utils/index.ts
  packages/plasma-new-hope/src/utils/setRef.ts
Due: eslint --fix, prettier --write

fix(plasma-new-hope): add types to Tabs & TabItem, fix css tokens naming
  packages/plasma-new-hope/src/components/Tabs/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope/b2c/web/core): Add Popover to new hope
  packages/plasma-b2c/src/components/Popover/Popover.component-test.tsx
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-b2c/src/components/Popover/Popover.tsx
  packages/plasma-b2c/src/components/Popover/index.ts
  packages/plasma-core/src/components/Popover/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-hope/src/components/Popover/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
  packages/plasma-new-hope/src/components/Popover/index.ts
  packages/plasma-new-hope/src/components/Popover/styles/index.ts
  packages/plasma-new-hope/src/components/Popover/type/index.ts
  packages/plasma-new-hope/src/components/Popover/utils/index.ts
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Popover/Popover.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
  packages/plasma-web/src/components/Popover/Popover.component-test.tsx
  packages/plasma-web/src/components/Popover/Popover.stories.tsx
  packages/plasma-web/src/components/Popover/Popover.tsx
  packages/plasma-web/src/components/Popover/index.ts
  website/plasma-web-docs/docs/components/Popover.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): extend button types
  packages/plasma-new-hope/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-web/b2c): update modal snapshot
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- open.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- withBlur.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- open.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- withBlur.snap.png
Due: none

docs(plasma-core/hope/web/b2c): generate new api
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

chore(plasma-docs-ui): add "@types/qs"
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
Due: prettier --write --parser json

chore(plasma-temple): add "@storybook/addon-knobs"
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json

chore(@auto): delete import "update-deps" plugin
  auto-plugins/src/index.ts
Due: eslint --fix, prettier --write

chore(deps): update dev deps
  package-lock.json
  package.json
Due: prettier --write --parser json

ci(semgrep): use "continue-on-error" option
  .github/workflows/semgrep.yml
Due: none
