Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-tokens): Add theme sberHealth
  packages/plasma-tokens/data/themes/sberHealth.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json

feat(plasma-b2c): processing withBlur prop in story
  packages/plasma-b2c/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): resolve import for ModalView
  packages/plasma-web/src/components/Modal/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add test for withBlur prop
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): update cypress snapshots
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- open.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- withBlur.snap.png
Due: none

fix(plasma-hope): resolve import for ModalView
  packages/plasma-hope/src/components/Modal/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): processing withBlur prop
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): lint fixes
  packages/plasma-hope/src/components/Modal/Modal.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): export ModalViewProps as part API component
  packages/plasma-hope/src/components/Modal/index.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c): resolve import for ModalView
  packages/plasma-b2c/src/components/Modal/index.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): update cypress snapshots
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- open.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- withBlur.snap.png
Due: none

feat(plasma-hope): add prop withBlur
  packages/plasma-hope/src/components/Modal/Modal.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-hope): extend readme text
  packages/plasma-hope/README.md
Due: prettier --write --parser markdown

feat: add api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  reports/plasma-hope-diff.diff
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

fix(plasma-tokens): Fix sberHealth scheme in json
  packages/plasma-tokens/data/themes/sberHealth.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-tokens): Add new name for TokenGroup
  packages/plasma-tokens/lib/themeBuilder/types.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
Due: prettier --write --parser markdown

feat(plasma-hope): add selectText, clearSelection methods
  packages/plasma-hope/src/utils/clearSelection.ts
  packages/plasma-hope/src/utils/index.ts
  packages/plasma-hope/src/utils/selectText.ts
Due: eslint --fix, prettier --write

feat(plasma-hope): add "Editable" component
  packages/plasma-hope/src/components/Editable/Editable.component-test.tsx
  packages/plasma-hope/src/components/Editable/Editable.tsx
  packages/plasma-hope/src/components/Editable/index.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export "Editable" component
  packages/plasma-b2c/src/components/Editable/Editable.stories.tsx
  packages/plasma-b2c/src/components/Editable/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): add "AudioPlayer" component
  packages/plasma-hope/src/components/AudioPlayer/AudioPlayer.component-test.tsx
  packages/plasma-hope/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-hope/src/components/AudioPlayer/index.ts
  packages/plasma-hope/src/components/AudioPlayer/utils.test.tsx
  packages/plasma-hope/src/components/AudioPlayer/utils.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): re-export "Editable" component
  packages/plasma-web/src/components/Editable/Editable.stories.tsx
  packages/plasma-web/src/components/Editable/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export "AudioPlayer" component
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.component-test.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.stories.tsx
  packages/plasma-b2c/src/components/AudioPlayer/AudioPlayer.tsx
  packages/plasma-b2c/src/components/AudioPlayer/index.ts
  packages/plasma-b2c/src/components/AudioPlayer/utils.test.tsx
  packages/plasma-b2c/src/components/AudioPlayer/utils.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-hope): add devDependencies
  packages/plasma-hope/jest.config.js
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
