Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(sdds_insol_next): update themes
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

chore(cypress): update snapshots
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop size m.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop stretch.snap.png
  cypress/snapshots/insol/Mask/sdds-insol Mask -- [PLASMA-T1248] Mask readOnly.snap.png
  cypress/snapshots/insol/NumberFormat/sdds-insol NumberFormat -- [PLASMA-T2258] NumberFormat readOnly.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _shape.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _size.snap.png
  cypress/snapshots/insol/Tree/Tree -- view=default, size=xl.snap.png
Due: none

fix(textfield): fix typo style
  packages/plasma-new-hope/src/components/TextField/variations/_view/base.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): add UserMessage AI-component
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/Plasma.tsx
  packages/plasma-new-hope/src/components/_ai/UserMessage/UserMessage.styles.ts
  packages/plasma-new-hope/src/components/_ai/UserMessage/UserMessage.tokens.ts
  packages/plasma-new-hope/src/components/_ai/UserMessage/UserMessage.tsx
  packages/plasma-new-hope/src/components/_ai/UserMessage/UserMessage.types.ts
  packages/plasma-new-hope/src/components/_ai/UserMessage/index.ts
  packages/plasma-new-hope/src/components/_ai/UserMessage/variations/_fileContentView/base.ts
  packages/plasma-new-hope/src/components/_ai/UserMessage/variations/_size/base.ts
  packages/plasma-new-hope/src/components/_ai/UserMessage/variations/_view/base.ts
  packages/plasma-new-hope/src/components/_ai/index.ts
  packages/plasma-new-hope/src/examples/components/EmbedIconButton/EmbedIconButton.ts
  packages/plasma-new-hope/src/examples/components/_ai/UserMessage/UserMessage.config.ts
  packages/plasma-new-hope/src/examples/components/_ai/UserMessage/UserMessage.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/UserMessage/UserMessage.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add tokens for nested DisclosureIcon
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/components/Select/ui/TreeList/ui/Item/Item.styles.ts
Due: eslint --fix, prettier --write, stylelint

feat(insol): add new theme `insol-next`
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

docs(insol): rewrite `README.md` [no ci]
  packages/sdds-insol/README.md
  packages/sdds-insol/README.mdx
Due: prettier --write --parser markdown

fix(insol-next): fix surfaceAccentGradient
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

chore(insol-next): use `sdds_insol_next` tokens
  packages/sdds-insol/.storybook/decoratorThemes.tsx
  packages/sdds-insol/README.md
  packages/sdds-insol/src/components/Tokens/Colors/Colors.stories.tsx
  packages/sdds-insol/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-insol/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-insol/src/components/Tokens/Typography/Typography.stories.tsx
  packages/sdds-insol/src/components/ViewContainer/ViewContainer.config.ts
  packages/sdds-insol/src/tokens/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(sdds-themes): add new theme `insol-next`
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/index.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

fix(linkButton): use `--surface-clear`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

fix(button): fix size: `XL, L` [PLASMA-6492]
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

fix(hover): fix hover tokens
  packages/sdds-insol/src/components/Attach/Attach.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/sdds-insol/src/components/EmbedIconButton/EmbedIconButton.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write, stylelint

chore: update tests/snapshots
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1542] Attach size=l, view=default, enableContentLeft, buttonText.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1546] Attach view=positive, hasAttachment=false.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1547] Attach view=warning, flow=horizontal, fileFormat=all.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1548] Attach view=negative, flow=vertical.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1549] Attach view=dark, flow=auto, width=500px.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1550] Attach view=black, width=250px.snap.png
  cypress/snapshots/insol/Button/sdds-insol Button -- [PLASMA-T1343] Button size=l, view=positive contentLeft, contentRight, contentPlacing=default, stretching=auto, pin=square-square.snap.png
  cypress/snapshots/insol/Button/sdds-insol Button -- [PLASMA-T1344] Button size=m, view=negative, contentLeft, value, contentPlacing=relaxed, stretching=filled, pin=square-clear.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-T1525] IconButton size=l, view=positive, pin=square-square.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-T1526] IconButton size=m, view=negative, pin=square-clear.snap.png
  cypress/snapshots/insol/NumberInput/plasma-b2c NumberInput -- customIncrementButton,customDecrementButton.snap.png
  packages/sdds-insol/src/components/Attach/Attach.update-test.component-test.tsx
  packages/sdds-insol/src/components/IconButton/IconButton.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(hover): use `--surface-solid-card` into Green view
  packages/sdds-insol/src/components/Attach/Attach.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write

feat(linkButton): add new view `Info`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

fix(embedIconButton): fix typo
  packages/sdds-insol/src/components/EmbedIconButton/EmbedIconButton.config.ts
  packages/sdds-insol/src/components/EmbedIconButton/EmbedIconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(button): add new view `Green`
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

docs(readme): fix typo
  packages/sdds-insol/README.md
Due: prettier --write --parser markdown

fix(attach): use new button config
  packages/sdds-insol/src/components/Attach/Attach.config.ts
Due: eslint --fix, prettier --write

fix(linkButton): fix size: `XL, L`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

feat(sdds-themes): update theme `insol-next`
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write

fix(iconButton): use correct view name positive, negative
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(button): use correct view name positive, negative
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

ci: fix publish-feature.yml [no ci]
  .github/workflows/publish-feature.yml
Due: none

chore: update lock files [no ci]
  website/sdds-finai-docs/package-lock.json
Due: prettier --write --parser json

feat(sdds-insol): update Chip font-weight
  packages/sdds-insol/src/components/Chip/Chip.config.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): update Badge font-weight
  packages/sdds-insol/src/components/Badge/Badge.config.ts
Due: eslint --fix, prettier --write

feat: update Badge, Chip snaps
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-1652] Badge customBackgroundColor, customColor.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1356] Badge size=l, view=default, enableContentLeft.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1357] Badge size=m, view=accent, enableContentRight.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1358] Badge size=s, view=positive, pilled.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1359] Badge size=xs, view=warning.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1360] Badge size=l, view=negative.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1361] Badge size=m, view=dark.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1362] Badge size=s, view=light.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1363] Badge size=l, view=default, clear.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1364] Badge size=l, view=default, transparent.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- Chip size=xs, with right Icon.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1442] Chip size=l, view=default, hasClear.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1443] Chip size=m, view=secondary, without Clear, pilled.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1446] Chip view=accent, size=s.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1447] Chip size=xs, with Icon.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1654] Chip disabled.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T977] Chip fixed width.snap.png
Due: none

ci: fix update lock files [no ci]
  .github/actions/update-package-lock/action.yml
Due: none

feat(sdds-insol): update config, stories, tests
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-] IconButton isLoading, disabled, appearance=outline.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-] IconButton sizes, appearance=outline.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-] IconButton views, appearance=outline.snap.png
  packages/sdds-insol/src/components/IconButton/IconButton.outline.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.stories.tsx
  packages/sdds-insol/src/components/IconButton/IconButton.ts
  packages/sdds-insol/src/components/IconButton/IconButton.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add appearance section in IconButton docs
  website/sdds-insol-docs/docs/components/IconButton.mdx
Due: none

chore: fix lock files
  website/sdds-finai-docs/package-lock.json
Due: prettier --write --parser json

fix(link): fix config Link, Breadcrumbs [PLASMA-6552]
  packages/sdds-insol/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-insol/src/components/Link/Link.config.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update TextField snapshots
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1501] TextField size=l, label, view=innerLabel, value, helperText, contentLeft, contentRight, required, requiredPlacement=left.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1517] TextField size=m, status=success, label, placeholder, helperText, contentRight, optional.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1556] TextField size=l, status=success, label, value, helperText, contentLeft, contentRight, required, requiredPlacement=left.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1559] TextField size=xs, status=success, label, value, helperText, contentLeft, contentRight, optional.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1560] TextField size=l, label, view=innerLabel, value, helperText, placeholder, contentLeft, contentRight, required, requiredPlacement=left, disabled.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1561] TextField size=m, status=error, label, helperText, placeholder, contentLeft, contentRight, optional.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1573] TextField no hint.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1574] TextField empty titleCaption, empty hint.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1575] TextField hintTrigger=click, hintHasArrow=false.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1575] TextField mouseover on hint icon.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1576] TextField hintTrigger=hover, hintSize=m, hintPlacement=top, hintWidth=1px, hintHasArrow.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1577] TextField hintSize=s, hintPlacement=bottom, hintWidth=100px.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1578] TextField view innerLabel, hintPlacement=left, hintWidth=500px.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1579] TextField hintPlacement=right.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T2393] TextField truncate placeholder.snap.png
Due: none

feat(sdds-insol): update Textfield for next-insol
  packages/sdds-insol/src/components/TextField/TextField.config.ts
  packages/sdds-insol/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(switch): fix config [PLASMA-6585]
  packages/sdds-insol/src/components/Switch/Switch.config.ts
  packages/sdds-insol/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(radiobox): fix config [PLASMA-6585]
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
  website/sdds-insol-docs/package-lock.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(radiobox): update snapshots [PLASMA-6585]
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1416] RadioBox size=m, label, description, checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1417] RadioBox size=s, label, description, not checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1418] RadioBox size=m, label, checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1420] RadioBox size=m, label, description, disabled.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1485] RadioBox view=default, singleLine.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1487] RadioBox view=tertiary.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1488] RadioBox view=paragraph.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1490] RadioBox view=positive.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1491] RadioBox view=warning.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1492] RadioBox view=negative.snap.png
Due: none
