Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(platform-ai): add xs, s sizes to TextField
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- enumerationTypechip, _chipView, _chipValidator.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- keyboard navigation chips.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- textBefore,textAfter.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- view=positive, size=s.snap.png
  cypress/snapshots/platform-ai/chromium/TextField/TextField -- view=warning, size=xs.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- enumerationTypechip, _chipView, _chipValidator.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- keyboard navigation chips.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- view=positive, size=s.snap.png
  cypress/snapshots/platform-ai/webkit/TextField/TextField -- view=warning, size=xs.snap.png
  packages/sdds-platform-ai/src/components/TextField/TextField.config.ts
  packages/sdds-platform-ai/src/components/TextField/TextField.stories.tsx
  website/sdds-platform-ai-docs/docs/components/data-entry/TextField.mdx
Due: eslint --fix, prettier --write, stylelint

feat(): add sort cb in Select, Combobox
  packages/plasma-new-hope/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/Combobox.template-doc.mdx
  packages/plasma-new-hope/src/components/Combobox/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/Combobox.types.ts
  packages/plasma-new-hope/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Select/Select.template-doc.mdx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  utils/api-tests/src/components/Combobox/Combobox.api.test.tsx
  utils/api-tests/src/components/Select/Select.api.test.tsx
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-giga-docs/docs/components/data-entry/Combobox.mdx
  website/plasma-giga-docs/docs/components/data-entry/Select.mdx
  website/plasma-homeds-docs/docs/components/Combobox.mdx
  website/plasma-homeds-docs/docs/components/Select.mdx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/sdds-bizcom-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-bizcom-docs/docs/components/data-entry/Select.mdx
  website/sdds-cs-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-cs-docs/docs/components/data-entry/Select.mdx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-finai-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-finai-docs/docs/components/data-entry/Select.mdx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-insol-next-docs/docs/components/Combobox.mdx
  website/sdds-insol-next-docs/docs/components/Select.mdx
  website/sdds-netology-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-netology-docs/docs/components/data-entry/Select.mdx
  website/sdds-platform-ai-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-platform-ai-docs/docs/components/data-entry/Select.mdx
  website/sdds-sbcom-docs/docs/components/Combobox.mdx
  website/sdds-sbcom-docs/docs/components/Select.mdx
  website/sdds-scan-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-scan-docs/docs/components/data-entry/Select.mdx
  website/sdds-serv-docs/docs/components/data-entry/Combobox.mdx
  website/sdds-serv-docs/docs/components/data-entry/Select.mdx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): Steps overflow items crop
  cypress/snapshots/finai/chromium/Steps/Steps -- title of first item is not cropped, orientation=vertical.snap.png
  packages/plasma-new-hope/src/components/Steps/Steps.component-test.tsx
  packages/plasma-new-hope/src/components/Steps/Steps.styles.ts
  packages/plasma-new-hope/src/components/Steps/Steps.tokens.ts
  packages/plasma-new-hope/src/components/Steps/ui/StepItem/StepItem.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-giga): show CodeField error border and widen cell gap [PLASMA-8206]
  packages/plasma-giga/src/components/CodeField/CodeField.config.ts
Due: eslint --fix, prettier --write

test(plasma-giga): update CodeField snapshots [PLASMA-8206]
  cypress/snapshots/giga/chromium/CodeField/CodeField -- caption, captionAlign.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- codeErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- codeErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- codeLength.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- delete symbols.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- itemErrorBehavior -- forbid-enter.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- itemErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- itemErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- placeholder.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- shape.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- size=l, shape=segmented.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- size=m.snap.png
  cypress/snapshots/giga/chromium/CodeField/CodeField -- view=default, size=xl, shape=default.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- caption, captionAlign.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- codeErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- codeErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- codeLength.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- delete symbols.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- itemErrorBehavior -- forbid-enter.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- itemErrorBehavior -- keep.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- itemErrorBehavior -- remove-symbol.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- placeholder.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- shape.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- size=l, shape=segmented.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- size=m.snap.png
  cypress/snapshots/giga/webkit/CodeField/CodeField -- view=default, size=xl, shape=default.snap.png
  packages/plasma-giga/src/components/CodeField/CodeField.config.ts
Due: eslint --fix, prettier --write

feat: add contentAfter slot for Note
  packages/plasma-homeds/src/components/Note/Note.config.ts
  packages/plasma-homeds/src/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/components/Note/Note.styles.ts
  packages/plasma-new-hope/src/components/Note/Note.tokens.ts
  packages/plasma-new-hope/src/components/Note/Note.tsx
  packages/plasma-new-hope/src/components/Note/Note.types.ts
  packages/plasma-new-hope/src/components/Note/variations/_size/base.ts
  utils/plasma-sb-utils/src/components/Note/meta.ts
  utils/plasma-sb-utils/src/components/Note/stories.tsx
  website/plasma-homeds-docs/docs/components/Note.mdx
Due: eslint --fix, prettier --write, stylelint

feat: add Notification defaultNotificationArgs [PLASMA-5672]
  cypress/snapshots/homeds/chromium/Bubble/Bubble -- opened placements.snap.png
  cypress/snapshots/homeds/webkit/Bubble/Bubble -- opened placements.snap.png
  packages/plasma-homeds/src/components/Bubble/component/Bubble.styles.ts
  packages/plasma-homeds/src/components/Bubble/component/Bubble.tsx
  website/plasma-homeds-docs/docs/components/Bubble.mdx
Due: eslint --fix, prettier --write, stylelint

feat: add custom quarterNames to Calendar-like
  packages/plasma-new-hope/src/components/Calendar/Calendar.component-test.tsx
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/hooks/types.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useQuarters.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.types.ts
  packages/plasma-new-hope/src/components/Calendar/utils/constants.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/hooks/useDatePicker.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.component-test.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.types.ts
  packages/plasma-new-hope/src/components/DateTimePicker/hooks/useDateTimePicker.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-homeds): add Bubble component [PLASMA-8200]
  cypress/snapshots/homeds/chromium/Bubble/Bubble -- collapsed placements.snap.png
  cypress/snapshots/homeds/chromium/Bubble/Bubble -- opened placements.snap.png
  cypress/snapshots/homeds/webkit/Bubble/Bubble -- collapsed placements.snap.png
  cypress/snapshots/homeds/webkit/Bubble/Bubble -- opened placements.snap.png
  packages/plasma-homeds/src/components/Bubble/Bubble.component-test.tsx
  packages/plasma-homeds/src/components/Bubble/Bubble.config.ts
  packages/plasma-homeds/src/components/Bubble/Bubble.stories.tsx
  packages/plasma-homeds/src/components/Bubble/Bubble.ts
  packages/plasma-homeds/src/components/Bubble/component/Bubble.styles.ts
  packages/plasma-homeds/src/components/Bubble/component/Bubble.tokens.ts
  packages/plasma-homeds/src/components/Bubble/component/Bubble.tsx
  packages/plasma-homeds/src/components/Bubble/component/Bubble.types.ts
  packages/plasma-homeds/src/components/Bubble/component/assets/icons.tsx
  packages/plasma-homeds/src/components/Bubble/component/index.ts
  packages/plasma-homeds/src/components/Bubble/index.ts
  packages/plasma-homeds/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: add strokeSize for Spinner
  packages/plasma-new-hope/src/components/Spinner/Spinner.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Spinner.mdx
  website/plasma-giga-docs/docs/components/data-display/Spinner.mdx
  website/plasma-homeds-docs/docs/components/Spinner.mdx
  website/plasma-web-docs/docs/components/Spinner.mdx
  website/sdds-bizcom-docs/docs/components/Spinner.mdx
  website/sdds-cs-docs/docs/components/data-display/Spinner.mdx
  website/sdds-dfa-docs/docs/components/Spinner.mdx
  website/sdds-finai-docs/docs/components/Spinner.mdx
  website/sdds-insol-docs/docs/components/Spinner.mdx
  website/sdds-insol-next-docs/docs/components/Spinner.mdx
  website/sdds-netology-docs/docs/components/Spinner.mdx
  website/sdds-platform-ai-docs/docs/components/Spinner.mdx
  website/sdds-sbcom-docs/docs/components/Spinner.mdx
  website/sdds-scan-docs/docs/components/Spinner.mdx
  website/sdds-serv-docs/docs/components/data-display/Spinner.mdx
Due: none

feat: update Loader stories
  packages/plasma-b2c/src/components/Loader/Loader.stories.tsx
  packages/plasma-giga/src/components/Loader/Loader.stories.tsx
  packages/plasma-homeds/src/components/Loader/Loader.stories.tsx
  packages/plasma-new-hope/src/examples/components/Loader/Loader.stories.tsx
  packages/plasma-web/src/components/Loader/Loader.stories.tsx
  packages/sdds-bizcom/src/components/Loader/Loader.stories.tsx
  packages/sdds-netology/src/components/Loader/Loader.stories.tsx
  packages/sdds-platform-ai/src/components/Loader/Loader.stories.tsx
  packages/sdds-sbcom/src/components/Loader/Loader.stories.tsx
  packages/sdds-scan/src/components/Loader/Loader.stories.tsx
  packages/sdds-serv/src/components/Loader/Loader.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): update spinner strokeSize
  packages/plasma-new-hope/src/components/Loader/Loader.styles.ts
  packages/plasma-new-hope/src/components/Loader/Loader.tokens.ts
  packages/plasma-new-hope/src/components/Loader/Loader.tsx
  packages/plasma-new-hope/src/components/Spinner/Spinner.styles.ts
  packages/plasma-new-hope/src/components/Spinner/Spinner.tokens.ts
  packages/plasma-new-hope/src/components/Spinner/Spinner.tsx
  packages/plasma-new-hope/src/components/Spinner/Spinner.types.ts
  utils/plasma-sb-utils/src/components/Spinner/meta.ts
Due: eslint --fix, prettier --write, stylelint

test: update Spinner test
  cypress/snapshots/b2c/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/b2c/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/bizcom/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/bizcom/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/cs/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/cs/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/dfa/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/dfa/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/finai/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/finai/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- view=default.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- view=negative.snap.png
  cypress/snapshots/giga/chromium/Spinner/Spinner -- view=secondary.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- view=default.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- view=negative.snap.png
  cypress/snapshots/giga/webkit/Spinner/Spinner -- view=secondary.snap.png
  cypress/snapshots/homeds/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/homeds/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol-next/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol-next/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/insol/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/netology/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/netology/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/os/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/os/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/platform-ai/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/platform-ai/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/scan/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/scan/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/serv/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/serv/webkit/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/web/chromium/Spinner/Spinner -- strokeSize.snap.png
  cypress/snapshots/web/webkit/Spinner/Spinner -- strokeSize.snap.png
  packages/plasma-new-hope/src/components/Spinner/Spinner.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-icons): Add 24 icons
  packages/sdds-icons/svg/16/NoiseCancellationFill.svg
  packages/sdds-icons/svg/16/NoiseCancellationOutline.svg
  packages/sdds-icons/svg/16/NoiseCancellationOutlineBold.svg
  packages/sdds-icons/svg/16/SoundNoiseOutline.svg
  packages/sdds-icons/svg/16/SoundNoiseOutlineBold.svg
  packages/sdds-icons/svg/16/TransparencyFill.svg
  packages/sdds-icons/svg/16/TransparencyOutline.svg
  packages/sdds-icons/svg/16/TransparencyOutlineBold.svg
  packages/sdds-icons/svg/24/NoiseCancellationFill.svg
  packages/sdds-icons/svg/24/NoiseCancellationOutline.svg
  packages/sdds-icons/svg/24/NoiseCancellationOutlineBold.svg
  packages/sdds-icons/svg/24/SoundNoiseOutline.svg
  packages/sdds-icons/svg/24/SoundNoiseOutlineBold.svg
  packages/sdds-icons/svg/24/TransparencyFill.svg
  packages/sdds-icons/svg/24/TransparencyOutline.svg
  packages/sdds-icons/svg/24/TransparencyOutlineBold.svg
  packages/sdds-icons/svg/36/NoiseCancellationFill.svg
  packages/sdds-icons/svg/36/NoiseCancellationOutline.svg
  packages/sdds-icons/svg/36/NoiseCancellationOutlineBold.svg
  packages/sdds-icons/svg/36/SoundNoiseOutline.svg
  packages/sdds-icons/svg/36/SoundNoiseOutlineBold.svg
  packages/sdds-icons/svg/36/TransparencyFill.svg
  packages/sdds-icons/svg/36/TransparencyOutline.svg
  packages/sdds-icons/svg/36/TransparencyOutlineBold.svg
Due: none

chore(plasma-giga): update snapshots [PLASMA-8263]
  cypress/snapshots/giga/chromium/Notification/Notification -- placement bottom-left.snap.png
  cypress/snapshots/giga/chromium/Notification/Notification -- view=default, layout=horizontal, size=s.snap.png
  cypress/snapshots/giga/chromium/Notification/Notification -- view=negative, layout=vertical, size=xs.snap.png
  cypress/snapshots/giga/chromium/Notification/Notification -- view=positive, size=xxs.snap.png
  cypress/snapshots/giga/webkit/Notification/Notification -- placement bottom-left.snap.png
  cypress/snapshots/giga/webkit/Notification/Notification -- view=default, layout=horizontal, size=s.snap.png
  cypress/snapshots/giga/webkit/Notification/Notification -- view=negative, layout=vertical, size=xs.snap.png
  cypress/snapshots/giga/webkit/Notification/Notification -- view=positive, size=xxs.snap.png
Due: none

fix(plasma-giga): fix Notification horizontal gap [PLASMA-8263]
  packages/plasma-giga/src/components/Notification/Notification.config.ts
  packages/plasma-giga/src/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/NoiseCancellationOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/NoiseCancellationOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/NoiseCancellationOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/NoiseCancellationFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/NoiseCancellationFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/NoiseCancellationFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/TransparencyOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/TransparencyOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/TransparencyOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/TransparencyFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/TransparencyFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/TransparencyFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/SoundNoiseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SoundNoiseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SoundNoiseOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
