Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Revert "Update versions"
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Revert "feat(plasma-icons): add icons list view [16x16]"
  packages/plasma-icons/src/scalable/Icon.svg.16/ListView.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/NumberedView.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "feat(plasma-icons): add icons History [24x24]"
  packages/plasma-icons/src/scalable/Icon.svg.24/History.svg
Due: none

Revert "feat(plasma-*, sdds-*): Add required functionality in Autocomplete"
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop optional.snap.png
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop optional.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop required, requiredPlacement.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tokens.ts
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.types.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-web/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-insol/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Revert "feat(new-hope): toast and notification tokens"
  cypress/snapshots/web/components/Toast/Toast.component-test.tsx/plasma-web Toast -- with close.snap.png
  packages/plasma-b2c/src/components/Notification/Notification.config.ts
  packages/plasma-b2c/src/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/components/Toast/Toast.styles.ts
  packages/plasma-new-hope/src/components/Toast/Toast.tokens.ts
  packages/plasma-new-hope/src/components/Toast/Toast.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.config.ts
  packages/plasma-web/src/components/Notification/Notification.config.ts
  packages/plasma-web/src/components/Toast/Toast.config.ts
  packages/sdds-cs/.storybook/main.ts
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-cs/src/components/Notification/Notification.config.ts
  packages/sdds-cs/src/components/Toast/Toast.config.ts
  packages/sdds-cs/src/components/ViewContainer/ViewContainer.config.ts
  packages/sdds-dfa/src/components/Notification/Notification.config.ts
  packages/sdds-dfa/src/components/Toast/Toast.config.ts
  packages/sdds-finportal/src/components/Notification/Notification.config.ts
  packages/sdds-finportal/src/components/Toast/Toast.config.ts
  packages/sdds-serv/src/components/Notification/Notification.config.ts
  packages/sdds-serv/src/components/Toast/Toast.config.ts
Due: eslint --fix, prettier --write, stylelint

Revert "ci: add max_old_space_size deploy prod 2 [no ci]"
  .github/workflows/documentation-deploy-prod.yml
Due: none

Revert "ci: disabled [no ci]"
  .github/workflows/cypress.yml
  .github/workflows/documentation-deploy-pr.yml
  .github/workflows/publish-canary.yml
Due: none

Revert "feat(plasma-icons): add icons Star [36x36]"
  packages/plasma-icons/src/scalable/Icon.svg.36/StarHalfFill.svg
Due: none

Revert "ci: processing changelog [no ci]"
  .github/actions/processing-release-changelog/action.yml
  .github/actions/processing-release-changelog/groupByHeadings.js
  .github/actions/processing-release-changelog/index.js
  .github/actions/processing-release-changelog/package-lock.json
  .github/actions/processing-release-changelog/package.json
  .github/workflows/create-release-pr.yml
Due: eslint --fix, prettier --write, prettier --write --parser json

Revert "fix(new-hope): add new tokens to pagination"
  packages/plasma-new-hope/src/components/Pagination/Pagination.styles.ts
  packages/plasma-new-hope/src/components/Pagination/Pagination.tokens.ts
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/components/Pagination/ui/PaginationSelectPerPage/PaginationSelectPerPage.styles.ts
  packages/sdds-cs/src/components/Pagination/Pagination.config.ts
Due: eslint --fix, prettier --write, stylelint

Revert "feat(plasma-new-hope): add onClickClose for Chip"
  packages/plasma-new-hope/src/components/Chip/Chip.tsx
  packages/plasma-new-hope/src/components/Chip/Chip.types.ts
Due: eslint --fix, prettier --write, stylelint

Revert "feat(*): add tokens to all libs in autocomplite"
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-web/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.config.ts
Due: eslint --fix, prettier --write

Revert "feat(plasma-icons): add icons Tree [36x36]"
  packages/plasma-icons/src/scalable/Icon.svg.36/Tree.svg
Due: none

Revert "Update package-lock.json files"
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

Revert "feat(new-hope): add thin cross to notification and toast"
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Notification/Notification.config.ts
  packages/plasma-b2c/src/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/components/Notification/Notification.types.ts
  packages/plasma-new-hope/src/components/Notification/variations/_closeIconType/base.ts
  packages/plasma-new-hope/src/components/Notification/variations/_closeIconType/tokens.json
  packages/plasma-new-hope/src/components/Toast/Toast.tsx
  packages/plasma-new-hope/src/components/Toast/Toast.types.ts
  packages/plasma-new-hope/src/components/Toast/variations/_closeIconType/base.ts
  packages/plasma-new-hope/src/components/Toast/variations/_closeIconType/tokens.json
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/CrossThin.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconCrossThin.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Notification/Notification.config.ts
  packages/plasma-web/src/components/Toast/Toast.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Notification/Notification.config.ts
  packages/sdds-cs/src/components/Toast/Toast.config.ts
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Notification/Notification.config.ts
  packages/sdds-dfa/src/components/Toast/Toast.config.ts
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Notification/Notification.config.ts
  packages/sdds-finportal/src/components/Toast/Toast.config.ts
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Notification/Notification.config.ts
  packages/sdds-insol/src/components/Toast/Toast.config.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Notification/Notification.config.ts
  packages/sdds-serv/src/components/Toast/Toast.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

Revert "feat(plasma-*): add test onClickClose for Chip"
  packages/plasma-b2c/src/components/Chip/Chip.component-test.tsx
  packages/plasma-web/src/components/Chip/Chip.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "feat(sdds-insol): Update config for `Button`, `TextField` and `TextArea` components"
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/Button/Button.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.config.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Revert "ci: refactoring deploy prod 2 [no ci]"
  .github/workflows/documentation-deploy-common.yml
Due: none

Revert "fix(new-hope): add new tokens to notification"
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/sdds-cs/src/components/Notification/Notification.config.ts
Due: eslint --fix, prettier --write

Revert "ci: processing changelog [no ci]"
  .github/workflows/create-release-pr.yml
Due: none

Revert "ci: refactoring deploy prod 2 [no ci]"
  .github/workflows/documentation-deploy-demo-stage-draft.yml
  .github/workflows/documentation-deploy-prod-draft.yml
Due: none

Revert "Update versions"
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Revert "feat(plasma-icons): add icons list view [36x36]"
  packages/plasma-icons/src/scalable/Icon.svg.36/ListView.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/NumberedView.svg
Due: none

Revert "Update package-lock.json files"
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

Revert "fix(new-hope): add new tokens to autocomplite"
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tokens.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
Due: eslint --fix, prettier --write

Revert "fix(sdds-themes): Update `sdds_insol` theme"
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/src/css/sdds_insol.module.css
  packages/themes/sdds-themes/src/css/sdds_insol__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol/index.ts
Due: eslint --fix, prettier --write

Revert "feat(new-hope): add readonly to combobox"
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
Due: eslint --fix, prettier --write

Revert "fix(sdds-cs): update configs datepicker"
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

Revert "fix(plasma-new-hope): Change background-color property to background for `Button`"
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/Button/variations/_view/base.ts
Due: eslint --fix, prettier --write

Revert "feat(plasma-icons): add icons Star [24x24]"
  packages/plasma-icons/src/scalable/Icon.svg.24/StarHalfFill.svg
Due: none

Revert "ci: refactoring deploy prod 2 [no ci]"
  website/plasma-b2c-docs/docusaurus.config.js
Due: eslint --fix, prettier --write

Revert "feat(sdds-cs): add view negative to combobox and autocomplite"
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
  packages/sdds-cs/src/components/Combobox/Combobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Revert "ci: refactoring deploy prod 2 [no ci]"
  .github/workflows/documentation-deploy-demo-stage-draft.yml
Due: none

Revert "feat(plasma-icons): add icons Tree [16x16]"
  packages/plasma-icons/src/scalable/Icon.svg.16/Tree.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint
