Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-icons): Add icon `BlankXmlOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankXmlOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankXmlOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankXmlOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `BlankXmlFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankXmlFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankXmlFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankXmlFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

chore(sb-utils): update storybook
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-sb-utils/src/components/Button/stories.tsx
  utils/plasma-sb-utils/src/components/Calendar/stories.tsx
  utils/plasma-sb-utils/src/components/DatePicker/stories.tsx
  utils/plasma-sb-utils/src/components/DateTimePicker/stories.tsx
  utils/plasma-sb-utils/src/components/Pagination/stories.tsx
  utils/plasma-sb-utils/src/components/Range/stories.tsx
  utils/plasma-sb-utils/src/components/TextArea/stories.tsx
  utils/plasma-sb-utils/src/components/TextField/stories.tsx
  utils/plasma-sb-utils/src/components/TextFieldSlider/stories.tsx
  utils/plasma-sb-utils/src/components/TimePicker/stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

ci: handle `next-*` branches
  .github/workflows/cypress.yml
  .github/workflows/documentation-deploy-pr.yml
  .github/workflows/publish-canary.yml
Due: none

feat: update configs and stories for DateTimePicker & TimePicker
  packages/plasma-b2c/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/plasma-b2c/src/components/TimePicker/TimePicker.config.ts
  packages/plasma-giga/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/plasma-giga/src/components/TimePicker/TimePicker.config.ts
  packages/plasma-homeds/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/plasma-homeds/src/components/TimePicker/TimePicker.config.ts
  packages/plasma-web/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/plasma-web/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-bizcom/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-bizcom/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-crm/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-crm/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-cs/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-dfa/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-dfa/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-finai/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-finai/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-insol/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-netology/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-netology/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-platform-ai/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-platform-ai/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-sbcom/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-sbcom/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-scan/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-scan/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-serv/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-serv/src/components/TimePicker/TimePicker.config.ts
  utils/plasma-sb-utils/src/components/DateTimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/DateTimePicker/meta.ts
  utils/plasma-sb-utils/src/components/DateTimePicker/stories.tsx
  utils/plasma-sb-utils/src/components/TimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/TimePicker/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add hint to DateTimePicker and TimePicker
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tokens.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.types.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.tsx
  packages/plasma-new-hope/src/components/DateTimePicker/variations/_hint-size/base.ts
  packages/plasma-new-hope/src/components/DateTimePicker/variations/_hint-view/base.ts
  packages/plasma-new-hope/src/components/TextField/variations/_view/base.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.styles.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tokens.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.types.ts
  packages/plasma-new-hope/src/components/TimePicker/variations/_hint-size/base.ts
  packages/plasma-new-hope/src/components/TimePicker/variations/_hint-view/base.ts
  packages/plasma-new-hope/src/examples/components/DateTimePicker/DateTimePicker.config.ts
  packages/plasma-new-hope/src/examples/components/TimePicker/TimePicker.config.ts
Due: eslint --fix, prettier --write, stylelint

feat: update docs for DateTimePicker & TimePicker
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.template-doc.mdx
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.template-doc.mdx
  website/plasma-giga-docs/docs/components/DateTimePicker.mdx
  website/plasma-giga-docs/docs/components/TimePicker.mdx
  website/plasma-homeds-docs/docs/components/DateTimePicker.mdx
  website/plasma-homeds-docs/docs/components/TimePicker.mdx
  website/plasma-web-docs/docs/components/DateTimePicker.mdx
  website/plasma-web-docs/docs/components/TimePicker.mdx
  website/sdds-dfa-docs/docs/components/DateTimePicker.mdx
  website/sdds-dfa-docs/docs/components/TimePicker.mdx
  website/sdds-finai-docs/docs/components/DateTimePicker.mdx
  website/sdds-finai-docs/docs/components/TimePicker.mdx
  website/sdds-insol-docs/docs/components/DateTimePicker.mdx
  website/sdds-insol-docs/docs/components/TimePicker.mdx
  website/sdds-netology-docs/docs/components/DateTimePicker.mdx
  website/sdds-netology-docs/docs/components/TimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/DateTimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/TimePicker.mdx
  website/sdds-scan-docs/docs/components/DateTimePicker.mdx
  website/sdds-scan-docs/docs/components/TimePicker.mdx
  website/sdds-serv-docs/docs/components/DateTimePicker.mdx
  website/sdds-serv-docs/docs/components/TimePicker.mdx
Due: none

chore(sb-utils): fix deps
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json

feat(): fix typings in Combobox
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  utils/api-tests/src/components/Combobox/Combobox.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: refactor Chip stories
  packages/plasma-b2c/src/components/Chip/Chip.stories.tsx
  packages/plasma-giga/src/components/Chip/Chip.stories.tsx
  packages/plasma-homeds/src/components/Chip/Chip.stories.tsx
  packages/plasma-new-hope/src/examples/components/Chip/Chip.stories.tsx
  packages/plasma-web/src/components/Chip/Chip.stories.tsx
  packages/sdds-bizcom/src/components/Chip/Chip.stories.tsx
  packages/sdds-crm/src/components/Chip/Chip.stories.tsx
  packages/sdds-cs/src/components/Chip/Chip.stories.tsx
  packages/sdds-dfa/src/components/Chip/Chip.stories.tsx
  packages/sdds-finai/src/components/Chip/Chip.stories.tsx
  packages/sdds-insol/src/components/Chip/Chip.stories.tsx
  packages/sdds-netology/src/components/Chip/Chip.stories.tsx
  packages/sdds-os/src/components/Chip/Chip.stories.tsx
  packages/sdds-platform-ai/src/components/Chip/Chip.stories.tsx
  packages/sdds-sbcom/src/components/Chip/Chip.stories.tsx
  packages/sdds-scan/src/components/Chip/Chip.stories.tsx
  packages/sdds-serv/src/components/Chip/Chip.stories.tsx
  utils/plasma-sb-utils/src/components/Chip/Chip.tsx
  utils/plasma-sb-utils/src/components/Chip/fixtures.ts
  utils/plasma-sb-utils/src/components/Chip/index.ts
  utils/plasma-sb-utils/src/components/Chip/meta.ts
  utils/plasma-sb-utils/src/components/Chip/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(date-*): fix import DatePicker, TimePicker
  packages/sdds-platform-ai/src/index.ts
Due: eslint --fix, prettier --write

fix(button): fix hover state
  packages/sdds-platform-ai/src/components/Button/Button.config.ts
  packages/sdds-platform-ai/src/components/ButtonGroup/ButtonGroup.config.ts
Due: eslint --fix, prettier --write

chore(build): add mixin to css build
  packages/sdds-platform-ai/rollup.config.mjs
  packages/sdds-platform-ai/scripts/copy-linaria-components.sh
Due: none

chore(storybook): update and handle undefined [PLASMA-7006]
  package-lock.json
  package.json
  packages/sdds-platform-ai/.storybook/decoratorThemes.tsx
  packages/sdds-platform-ai/.storybook/preview.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs(date-*): fix import DatePicker-like components
  website/sdds-platform-ai-docs/docs/components/DatePicker.mdx
  website/sdds-platform-ai-docs/docs/components/DateTimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/TimePicker.mdx
Due: none

fix(badge): add positive view
  packages/sdds-platform-ai/src/components/Badge/Badge.config.ts
Due: eslint --fix, prettier --write

fix(button): add xs size
  packages/sdds-platform-ai/src/components/Button/Button.config.ts
  packages/sdds-platform-ai/src/components/ButtonGroup/ButtonGroup.config.ts
  website/sdds-platform-ai-docs/docs/components/Button.mdx
Due: eslint --fix, prettier --write

fix(checkbox): fix config
  packages/sdds-platform-ai/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-platform-ai/src/components/Radiobox/Radiobox.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix Badge config [PLASMA-7021]
  packages/plasma-giga/src/components/Badge/Badge.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix Checkbox config
  packages/plasma-giga/src/components/Checkbox/Checkbox.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix Button config
  packages/plasma-giga/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix Switch config
  packages/plasma-giga/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix NumberInput config
  packages/plasma-giga/src/components/NumberInput/NumberInput.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix SegmentItem config
  packages/plasma-giga/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix Chip config
  packages/plasma-giga/src/components/Chip/Chip.config.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-giga): fix Radiobox config
  packages/plasma-giga/src/components/Radiobox/Radiobox.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): fix IconButton config
  packages/plasma-giga/src/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write

feat(plasma-icons): Add icon `AiOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/AiOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/AiOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/AiOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `AiFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/AiFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/AiFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/AiFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint
