Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-*): update tests for Mask
  cypress/snapshots/b2c/components/Mask/Mask.component-test.tsx/plasma-b2c Mask -- mask is not passed.snap.png
  cypress/snapshots/web/components/Mask/Mask.component-test.tsx/plasma-web Mask -- mask is not passed.snap.png
  packages/plasma-b2c/src/components/Mask/Mask.component-test.tsx
  packages/plasma-web/src/components/Mask/Mask.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fix forward ref in NumberFormat
  packages/plasma-new-hope/src/components/NumberFormat/NumberFormat.tsx
Due: eslint --fix, prettier --write, stylelint

ci(sdds-netology): init package
  .github/config-ci.json
  .github/meta-prod.js
  .github/meta.js
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-clfd-auto/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

chore: Update CHANGELOG.md [skip ci]
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-giga/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-insol/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
Due: prettier --write --parser markdown

feat(icons): processing icons name [web]
  packages/plasma-icons/scripts/generateReactComponents.ts
  packages/plasma-icons/scripts/utils.ts
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(icons): processing icons name [ios]
  packages/plasma-icons/scripts/generateIconsIos.mjs
Due: none

feat(icons): processing icons name [android]
  packages/plasma-icons/scripts/generateAndroidArchive.ts
Due: eslint --fix, prettier --write

chore: add `bootstrap:sdds-crm:dev` script
  package.json
Due: prettier --write --parser json

docs(sdds-crm): add to main page
  website/plasma-website/getPackageInfo.js
  website/plasma-website/utils/constants.tsx
Due: eslint --fix, prettier --write, stylelint

docs(core): fix autocomplete template
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.template-doc.mdx
Due: none

feat(sdds-cs): update story and docs for NumberFormat
  packages/sdds-cs/src/components/NumberFormat/NumberFormat.stories.tsx
  website/sdds-cs-docs/docs/components/NumberFormat.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add `invariants` support
  packages/plasma-new-hope/src/engines/linaria.tsx
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add `invariants` support for styled-component and emotions
  packages/plasma-new-hope/src/engines/emotion.tsx
  packages/plasma-new-hope/src/engines/styled-components.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): return TextField if mask is not set
  packages/plasma-new-hope/src/components/Mask/Mask.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): change slider range values width
  packages/plasma-new-hope/src/components/Slider/components/Single/Single.styles.ts
Due: eslint --fix, prettier --write

feat(plasma-*): update Slider snapshots
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/before-hover.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-web Slider -- pointerVisibility.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/before-hover.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-web Slider -- pointerVisibility.snap.png
Due: none

chore: add `bootstrap:sdds-netology:dev` script
  package.json
Due: prettier --write --parser json

docs(sdds-netology): add to main page
  website/plasma-website/getPackageInfo.js
  website/plasma-website/utils/constants.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sdds-cs): edit select config
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-giga/src/components/Select/Select.config.ts
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.config.ts
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/sdds-clfd-auto/src/components/Select/Select.config.ts
  packages/sdds-cs/src/components/Select/Select.config.ts
  packages/sdds-dfa/src/components/Select/Select.config.ts
  packages/sdds-finportal/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.config.ts
Due: eslint --fix, prettier --write, stylelint

docs(*): add docs examples with `width/maxWidth`
  packages/plasma-new-hope/src/components/Notification/Notification.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Notification.mdx
  website/plasma-giga-docs/docs/components/Notification.mdx
  website/plasma-web-docs/docs/components/Notification.mdx
  website/sdds-crm-docs/docs/components/Notification.mdx
  website/sdds-cs-docs/docs/components/Notification.mdx
  website/sdds-dfa-docs/docs/components/Notification.mdx
  website/sdds-finportal-docs/docs/components/Notification.mdx
  website/sdds-insol-docs/docs/components/Notification.mdx
  website/sdds-serv-docs/docs/components/Notification.mdx
Due: none

chore(*): add prop width/maxWidth in storybook examples
  packages/plasma-b2c/src/components/Notification/Notification.stories.tsx
  packages/plasma-giga/src/components/Notification/Notification.stories.tsx
  packages/plasma-web/src/components/Notification/Notification.stories.tsx
  packages/sdds-cs/src/components/Notification/Notification.stories.tsx
  packages/sdds-dfa/src/components/Notification/Notification.stories.tsx
  packages/sdds-finportal/src/components/Notification/Notification.stories.tsx
  packages/sdds-insol/src/components/Notification/Notification.stories.tsx
  packages/sdds-serv/src/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(core): add prop width/maxWidth
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.tsx
  packages/plasma-new-hope/src/components/Notification/Notification.types.ts
  packages/plasma-new-hope/src/components/Notification/variations/_layout/base.ts
  packages/plasma-new-hope/src/examples/fixtures/Notification.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add tokens in link
  packages/plasma-asdk/src/components/Link/Link.config.tsx
  packages/plasma-b2c/src/components/Link/Link.config.tsx
  packages/plasma-giga/src/components/Link/Link.config.tsx
  packages/plasma-new-hope/src/components/Breadcrumbs/Breadcrumbs.styles.ts
  packages/plasma-new-hope/src/components/Link/Link.tokens.ts
  packages/plasma-new-hope/src/components/Link/Link.tsx
  packages/plasma-new-hope/src/components/Link/Link.types.ts
  packages/plasma-new-hope/src/components/Link/_disabled/base.ts
  packages/plasma-new-hope/src/components/Link/_focused/base.ts
  packages/plasma-new-hope/src/components/Link/_view/base.ts
  packages/plasma-new-hope/src/components/Link/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Link/Link.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Link/Link.config.ts
  packages/plasma-web/src/components/Link/Link.config.tsx
  packages/sdds-clfd-auto/src/components/Link/Link.config.tsx
  packages/sdds-cs/src/components/Link/Link.config.tsx
  packages/sdds-dfa/src/components/Link/Link.config.tsx
  packages/sdds-finportal/src/components/Link/Link.config.tsx
  packages/sdds-insol/src/components/Link/Link.config.tsx
  packages/sdds-serv/src/components/Link/Link.config.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
