Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

chore(plasma-*): Range stories updated
  packages/plasma-b2c/src/components/Range/Range.stories.tsx
  packages/plasma-giga/src/components/Range/Range.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Range/Range.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Range/Range.stories.tsx
  packages/plasma-web/src/components/Range/Range.stories.tsx
  packages/sdds-cs/src/components/Range/Range.stories.tsx
  packages/sdds-dfa/src/components/Range/Range.stories.tsx
  packages/sdds-finportal/src/components/Range/Range.stories.tsx
  packages/sdds-insol/src/components/Range/Range.stories.tsx
  packages/sdds-serv/src/components/Range/Range.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): TextField stories updated
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-giga/src/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  packages/sdds-dfa/src/components/TextField/TextField.stories.tsx
  packages/sdds-finportal/src/components/TextField/TextField.stories.tsx
  packages/sdds-insol/src/components/TextField/TextField.stories.tsx
  packages/sdds-serv/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(): api reports regenerated
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(plasma-new-hope): add hasRequiredIndicator prop
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/components/Range/Range.tsx
  packages/plasma-new-hope/src/components/Range/Range.types.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): Select stories updated
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-giga/src/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/sdds-cs/src/components/Select/Select.stories.tsx
  packages/sdds-dfa/src/components/Select/Select.stories.tsx
  packages/sdds-finportal/src/components/Select/Select.stories.tsx
  packages/sdds-insol/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): TextArea stories updated
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-giga/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-cs/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-finportal/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): Mask stories updated
  packages/plasma-b2c/src/components/Mask/Mask.stories.tsx
  packages/plasma-giga/src/components/Mask/Mask.stories.tsx
  packages/plasma-web/src/components/Mask/Mask.stories.tsx
  packages/sdds-cs/src/components/Mask/Mask.stories.tsx
  packages/sdds-dfa/src/components/Mask/Mask.stories.tsx
  packages/sdds-finportal/src/components/Mask/Mask.stories.tsx
  packages/sdds-insol/src/components/Mask/Mask.stories.tsx
  packages/sdds-serv/src/components/Mask/Mask.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(): docs updated
  website/plasma-b2c-docs/docs/components/DatePicker.mdx
  website/plasma-b2c-docs/docs/components/Range.mdx
  website/plasma-giga-docs/docs/components/DatePicker.mdx
  website/plasma-giga-docs/docs/components/Range.mdx
  website/plasma-web-docs/docs/components/DatePicker.mdx
  website/plasma-web-docs/docs/components/Range.mdx
  website/sdds-cs-docs/docs/components/DatePicker.mdx
  website/sdds-cs-docs/docs/components/Range.mdx
  website/sdds-dfa-docs/docs/components/DatePicker.mdx
  website/sdds-dfa-docs/docs/components/Range.mdx
  website/sdds-insol-docs/docs/components/DatePicker.mdx
  website/sdds-insol-docs/docs/components/Range.mdx
Due: none

chore(plasma-*): Combobox stories updated
  packages/plasma-b2c/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-giga/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-dfa/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-finportal/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-serv/src/components/Combobox/Combobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

fix(plasma-new-hope): set correct path to exclude stories
  packages/plasma-new-hope/tsconfig.json
Due: prettier --write --parser json

fix(plasma-new-hope): fix SegmenItem className forward
  packages/plasma-new-hope/src/components/Segment/ui/SegmentItem/SegmentItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-sb-utils): refactor colorTokens utils
  utils/plasma-sb-utils/src/helpers/colorTokens.ts
  utils/plasma-sb-utils/src/helpers/index.ts
Due: eslint --fix, prettier --write

fix(sdds-cs): set switch off toggle color
  packages/sdds-cs/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write

feat(*): add set lines to switch description
  packages/plasma-b2c/src/components/Switch/Switch.config.ts
  packages/plasma-giga/src/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/components/Switch/Switch.styles.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.outline.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.outline.config.ts
  packages/plasma-web/src/components/Switch/Switch.config.ts
  packages/sdds-cs/src/components/Switch/Switch.config.ts
  packages/sdds-dfa/src/components/Switch/Switch.config.ts
  packages/sdds-finportal/src/components/Switch/Switch.config.ts
  packages/sdds-insol/src/components/Switch/Switch.config.ts
  packages/sdds-serv/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write

feat(core): extend placement values/logic
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.template-doc.mdx
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/plasma-new-hope/src/components/Notification/Notification.types.ts
  packages/plasma-new-hope/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-new-hope/src/examples/fixtures/Notification.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): update docs
  packages/plasma-b2c/src/components/Notification/Notification.stories.tsx
  packages/plasma-giga/src/components/Notification/Notification.stories.tsx
  packages/plasma-web/src/components/Notification/Notification.stories.tsx
  packages/sdds-cs/src/components/Notification/Notification.stories.tsx
  packages/sdds-dfa/src/components/Notification/Notification.stories.tsx
  packages/sdds-finportal/src/components/Notification/Notification.stories.tsx
  packages/sdds-insol/src/components/Notification/Notification.stories.tsx
  packages/sdds-serv/src/components/Notification/Notification.stories.tsx
  website/plasma-b2c-docs/docs/components/Notification.mdx
  website/plasma-giga-docs/docs/components/Notification.mdx
  website/plasma-web-docs/docs/components/Notification.mdx
  website/sdds-cs-docs/docs/components/Notification.mdx
  website/sdds-dfa-docs/docs/components/Notification.mdx
  website/sdds-insol-docs/docs/components/Notification.mdx
  website/sdds-serv-docs/docs/components/Notification.mdx
Due: eslint --fix, prettier --write, stylelint

feat(*): add tokens to tree
  packages/plasma-b2c/src/components/Tree/Tree.config.ts
  packages/plasma-giga/src/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tree/Tree.config.ts
  packages/plasma-web/src/components/Tree/Tree.config.ts
  packages/sdds-cs/src/components/Tree/Tree.config.ts
  packages/sdds-dfa/src/components/Tree/Tree.config.ts
  packages/sdds-finportal/src/components/Tree/Tree.config.ts
  packages/sdds-insol/src/components/Tree/Tree.config.ts
  packages/sdds-serv/src/components/Tree/Tree.config.ts
Due: eslint --fix, prettier --write

fix(sdds-cs): set tokens in tree
  packages/sdds-cs/src/components/Tree/Tree.config.ts
  packages/sdds-cs/src/components/Tree/Tree.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): add disabled tokens to sdds-cs
  packages/plasma-b2c/src/components/Tree/Tree.config.ts
  packages/plasma-giga/src/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tree/Tree.config.ts
  packages/plasma-web/src/components/Tree/Tree.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Tree/Tree.config.ts
  packages/sdds-dfa/src/components/Tree/Tree.config.ts
  packages/sdds-finportal/src/components/Tree/Tree.config.ts
  packages/sdds-insol/src/components/Tree/Tree.config.ts
  packages/sdds-serv/src/components/Tree/Tree.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat(*): add docs rch with controller in combobox and select
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-b2c-docs/src/theme/ReactLiveScope/index.tsx
  website/plasma-giga-docs/docs/components/Combobox.mdx
  website/plasma-giga-docs/docs/components/Select.mdx
  website/plasma-giga-docs/src/theme/ReactLiveScope/index.tsx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/plasma-web-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-cs-docs/docs/components/Combobox.mdx
  website/sdds-cs-docs/docs/components/Select.mdx
  website/sdds-cs-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-dfa-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-insol-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-serv-docs/docs/components/Combobox.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
  website/sdds-serv-docs/src/theme/ReactLiveScope/index.tsx
Due: eslint --fix, prettier --write, stylelint

fix(*): combobox and select rerenders
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/SelectNative/SelectNative.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/ui/SelectNative/SelectNative.tsx
Due: eslint --fix, prettier --write, stylelint

fix(*): edit docs select and combobox
  packages/plasma-new-hope/src/components/Select/Select.tsx
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-giga-docs/docs/components/Combobox.mdx
  website/plasma-giga-docs/docs/components/Select.mdx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/sdds-cs-docs/docs/components/Combobox.mdx
  website/sdds-cs-docs/docs/components/Select.mdx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-serv-docs/docs/components/Combobox.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
Due: eslint --fix, prettier --write, stylelint

fix(*): fix pagination perPage and storybook
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-b2c/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-giga/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Pagination/Pagination.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-web/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-cs/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-dfa/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-finportal/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(core): add prop emptyStateDescription
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add prop emptyStateDescription to storybook
  packages/plasma-b2c/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-giga/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-dfa/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-finportal/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-serv/src/components/Combobox/Combobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint
