Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(switch): fix config [PLASMA-6585]
  packages/sdds-insol/src/components/Switch/Switch.config.ts
  packages/sdds-insol/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: update tests/snapshots
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1542] Attach size=l, view=default, enableContentLeft, buttonText.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1546] Attach view=positive, hasAttachment=false.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1547] Attach view=warning, flow=horizontal, fileFormat=all.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1548] Attach view=negative, flow=vertical.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1549] Attach view=dark, flow=auto, width=500px.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1550] Attach view=black, width=250px.snap.png
  cypress/snapshots/insol/Button/sdds-insol Button -- [PLASMA-T1343] Button size=l, view=positive contentLeft, contentRight, contentPlacing=default, stretching=auto, pin=square-square.snap.png
  cypress/snapshots/insol/Button/sdds-insol Button -- [PLASMA-T1344] Button size=m, view=negative, contentLeft, value, contentPlacing=relaxed, stretching=filled, pin=square-clear.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-T1525] IconButton size=l, view=positive, pin=square-square.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-T1526] IconButton size=m, view=negative, pin=square-clear.snap.png
  cypress/snapshots/insol/NumberInput/plasma-b2c NumberInput -- customIncrementButton,customDecrementButton.snap.png
  packages/sdds-insol/src/components/Attach/Attach.update-test.component-test.tsx
  packages/sdds-insol/src/components/IconButton/IconButton.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix: use correct `webBreakpoints_FOR_SDDS_INSOL`
  packages/themes/core-themes/src/creators/createTypographyTokens.ts
Due: eslint --fix, prettier --write

feat(sdds-insol): update config, stories, tests
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-] IconButton isLoading, disabled, appearance=outline.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-] IconButton sizes, appearance=outline.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-] IconButton views, appearance=outline.snap.png
  packages/sdds-insol/src/components/IconButton/IconButton.outline.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.stories.tsx
  packages/sdds-insol/src/components/IconButton/IconButton.ts
  packages/sdds-insol/src/components/IconButton/IconButton.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(linkButton): add new view `Info`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

fix(radiobox): update snapshots [PLASMA-6585]
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1416] RadioBox size=m, label, description, checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1417] RadioBox size=s, label, description, not checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1418] RadioBox size=m, label, checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1420] RadioBox size=m, label, description, disabled.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1485] RadioBox view=default, singleLine.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1487] RadioBox view=tertiary.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1488] RadioBox view=paragraph.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1490] RadioBox view=positive.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1491] RadioBox view=warning.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1492] RadioBox view=negative.snap.png
Due: none

fix(radiobox): fix config [PLASMA-6585]
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
  website/sdds-insol-docs/package-lock.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(hover): fix hover tokens
  packages/sdds-insol/src/components/Attach/Attach.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/sdds-insol/src/components/EmbedIconButton/EmbedIconButton.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): update Textfield for next-insol
  packages/sdds-insol/src/components/TextField/TextField.config.ts
  packages/sdds-insol/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: use correct `webBreakpoints_FOR_SDDS_INSOL`
  packages/themes/core-themes/src/creators/createTypographyTokens.ts
  packages/themes/core-themes/src/generators/generateCSSModuleThemes.ts
  packages/themes/core-themes/src/generators/generateCSSThemes.ts
  packages/themes/core-themes/src/generators/generateThemes.ts
Due: eslint --fix, prettier --write

fix(link): fix config Link, Breadcrumbs [PLASMA-6552]
  packages/sdds-insol/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-insol/src/components/Link/Link.config.tsx
Due: eslint --fix, prettier --write, stylelint

fix(linkButton): use `--surface-clear`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

ci: fix publish-feature.yml [no ci]
  .github/workflows/publish-feature.yml
Due: none

fix(iconButton): use correct view name positive, negative
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

ci: fix update lock files [no ci]
  .github/actions/update-package-lock/action.yml
Due: none

fix(insol-next): fix surfaceAccentGradient
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: add appearance section in IconButton docs
  website/sdds-insol-docs/docs/components/IconButton.mdx
Due: none

fix(button): use correct view name positive, negative
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

chore: fix lock files
  website/sdds-finai-docs/package-lock.json
Due: prettier --write --parser json

fix(linkButton): fix size: `XL, L`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

fix(button): fix size: `XL, L` [PLASMA-6492]
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

docs(readme): fix typo
  packages/sdds-insol/README.md
Due: prettier --write --parser markdown

chore: update lock files [no ci]
  website/sdds-finai-docs/package-lock.json
Due: prettier --write --parser json

fix(hover): use `--surface-solid-card` into Green view
  packages/sdds-insol/src/components/Attach/Attach.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write

feat(sdds-insol): update Chip font-weight
  packages/sdds-insol/src/components/Chip/Chip.config.tsx
Due: eslint --fix, prettier --write, stylelint

chore(cypress): update snaphots [PLASMA-6764]
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1709] Accordion size=m, view=secondary, stretching=fixed, type=sign, alignWithTitle.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1710] Accordion size=s, view=clear, type=clear.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1711] Accordion size=xs, view=outlined.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
Due: none

fix(button): accepted changelog 26.02.2026 [PLASMA-6764]
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

fix(sdds_insol_next): update themes
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

fix(segment): update snapshots [PLASMA-6633]
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1350] Segment size=l, orientation=horizontal.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1354] Segment orientation=vertical.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1355] Segment disabled.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1667] Segment segmentItemView=secondary, stretch, contentLeft=icon, contentRight=counter.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1964] Segment singleSelectedRequired.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-] Segment controlled change.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- _maxItemWidth.snap.png
Due: none

feat(sdds-insol): update DatePicker, DateTimePicker configs
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

chore(cypress): update snaphots [PLASMA-6764]
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop size s.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop stretch.snap.png
  cypress/snapshots/insol/Tree/sdds-insol Tree -- flow async loading.snap.png
Due: none

Update versions
  packages/plasma-icons/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
Due: prettier --write --parser json

fix(tokens): accepted changelog 18.02.2026 [PLASMA-6764]
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write

feat(accordion): add opened-background, background-hover logic [PLASMA-6764]
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/variations/_view/tokens.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(tokens): accepted changelog 18.02.2026 [PLASMA-6764]
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

fix(segment): fix config [PLASMA-6633]
  packages/sdds-insol/src/components/Segment/Segment.stories.tsx
  packages/sdds-insol/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
  utils/plasma-sb-utils/src/components/Segment/stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: update lockfiles
  packages/themes/core-themes/package-lock.json
Due: prettier --write --parser json

fix(accordion): accepted changelog 26.02.2026 [PLASMA-6764]
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-homeds/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-bizcom/package.json
  packages/sdds-crm/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package.json
  packages/sdds-netology/package.json
  packages/sdds-os/package.json
  packages/sdds-platform-ai/package.json
  packages/sdds-scan/package.json
  packages/sdds-serv/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-platform-ai-docs/package.json
  website/sdds-scan-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
