Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

ci: add "Deploy storybook build next-sbcom" workflow [no ci]
  .github/workflows/storybook-deploy-next-sbcom.yaml
Due: none

feat: update controlled version of opened in DatePicker
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/Popover/hooks/usePopoverOffset.ts
Due: eslint --fix, prettier --write, stylelint

feat: update controlled version of opened in DateTimePicker
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat: refactor Popover refs for elements in usePoper
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
  packages/plasma-new-hope/src/components/Popover/hooks/usePopoverOffset.ts
Due: eslint --fix, prettier --write, stylelint

docs: add "Руководство по созданию core компонентов"
  docs/how-to-create-core-component.md
Due: prettier --write --parser markdown

feat: update Popover snaps
  cypress/snapshots/b2c/chromium/Popover/plasma-b2c Popover -- [PLASMA-T1690] Popover placement=right, trigger=click, skidding=100, distance=0.snap.png
  cypress/snapshots/b2c/chromium/Popover/plasma-b2c Popover -- [PLASMA-T1692] Popover placement=auto, trigger=click, closeOnOverlay, hasArrow=false.snap.png
  cypress/snapshots/cs/chromium/Popover/sdds-cs Popover -- [PLASMA-T1692] Popover placement=auto, trigger=click, closeOnOverlay, hasArrow=false.snap.png
  cypress/snapshots/cs/chromium/Popover/sdds-cs Popover -- resizable.snap.png
  cypress/snapshots/giga/chromium/Popover/plasma-giga Popover -- [PLASMA-T1692] Popover placement=auto, trigger=click, closeOnOverlay, hasArrow=false.snap.png
  cypress/snapshots/giga/chromium/Popover/plasma-giga Popover -- resizable.snap.png
  cypress/snapshots/insol/chromium/Popover/sdds-insol Popover -- [PLASMA-T1692] Popover placement=auto, trigger=click, closeOnOverlay, hasArrow=false.snap.png
  cypress/snapshots/insol/chromium/Popover/sdds-insol Popover -- resizable.snap.png
  cypress/snapshots/web/chromium/Popover/plasma-web Popover -- [PLASMA-T1692] Popover placement=auto, trigger=click, closeOnOverlay, hasArrow=false.snap.png
  packages/plasma-b2c/src/components/Dropdown/Dropdown.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): add global update in cy
  package.json
  packages/plasma-new-hope/src/components/Carousel/CarouselNew/Carousel.template-doc.mdx
  utils/plasma-sb-utils/src/components/Carousel/meta.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(infra): update configs for docsense
  .github/workflows/documentation-deploy-common.yml
  .github/workflows/documentation-deploy-pr.yml
  website/plasma-web-docs/docusaurus.config.js
  website/plasma-web-docs/src/pages/ai-search.tsx
  website/sdds-finai-docs/docusaurus.config.js
  website/sdds-finai-docs/src/pages/ai-search.tsx
Due: eslint --fix, prettier --write, stylelint

ci: handle `next-*` branches
  .github/workflows/cypress.yml
  .github/workflows/documentation-deploy-pr.yml
  .github/workflows/publish-canary.yml
Due: none

chore(storybook): update and handle undefined
  package-lock.json
  package.json
  packages/sdds-platform-ai/.storybook/decoratorThemes.tsx
  packages/sdds-platform-ai/.storybook/preview.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore(build): add mixin to css build
  packages/sdds-platform-ai/rollup.config.mjs
  packages/sdds-platform-ai/scripts/copy-linaria-components.sh
Due: none

fix(button): fix hover state
  packages/sdds-platform-ai/src/components/Button/Button.config.ts
  packages/sdds-platform-ai/src/components/ButtonGroup/ButtonGroup.config.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): update StepItem width for vertical orientation
  packages/plasma-new-hope/src/components/Steps/ui/StepItem/StepItem.styles.ts
Due: eslint --fix, prettier --write

feat: add test on max-width for StepItem
  cypress/snapshots/b2c/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/b2c/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/cs/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/cs/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/giga/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/giga/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/homeds/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/homeds/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/insol/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/insol/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/os/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/os/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/serv/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/serv/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  packages/plasma-new-hope/src/components/Steps/Steps.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(beta): extended portal prop in Popover, Tooltip
  packages/plasma-new-hope/src/components/_beta/Popover/Popover.tsx
  packages/plasma-new-hope/src/components/_beta/Popover/Popover.types.ts
  packages/plasma-new-hope/src/components/_beta/Popover/utils/getFloatingPortalProps.ts
  packages/plasma-new-hope/src/components/_beta/Popover/utils/index.ts
  packages/plasma-new-hope/src/components/_beta/Tooltip/Tooltip.tsx
  packages/plasma-new-hope/src/components/_beta/Tooltip/Tooltip.types.ts
Due: eslint --fix, prettier --write, stylelint

fix(date-*): fix import DatePicker, TimePicker
  packages/sdds-platform-ai/src/index.ts
Due: eslint --fix, prettier --write

docs(date-*): fix import DatePicker-like components
  website/sdds-platform-ai-docs/docs/components/DatePicker.mdx
  website/sdds-platform-ai-docs/docs/components/DateTimePicker.mdx
  website/sdds-platform-ai-docs/docs/components/TimePicker.mdx
Due: none

feat: add token names diff scripts
  utils/get-tokens-diff/README.md
  utils/get-tokens-diff/diff/sdds_finai.json
  utils/get-tokens-diff/from-plugin/sdds_finai.json
  utils/get-tokens-diff/from-themes/sdds_bcp.json
  utils/get-tokens-diff/from-themes/sdds_bizcom.json
  utils/get-tokens-diff/from-themes/sdds_cs.json
  utils/get-tokens-diff/from-themes/sdds_dfa.json
  utils/get-tokens-diff/from-themes/sdds_finai.json
  utils/get-tokens-diff/from-themes/sdds_finportal.json
  utils/get-tokens-diff/from-themes/sdds_insol.json
  utils/get-tokens-diff/from-themes/sdds_os.json
  utils/get-tokens-diff/from-themes/sdds_platform_ai.json
  utils/get-tokens-diff/from-themes/sdds_procom.json
  utils/get-tokens-diff/from-themes/sdds_sbcom.json
  utils/get-tokens-diff/from-themes/sdds_scan.json
  utils/get-tokens-diff/from-themes/sdds_serv.json
  utils/get-tokens-diff/scripts/compare-tokens.mjs
  utils/get-tokens-diff/scripts/parse-tokens.mjs
Due: prettier --write --parser markdown, prettier --write --parser json

fix(checkbox): fix config
  packages/sdds-platform-ai/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-platform-ai/src/components/Radiobox/Radiobox.config.ts
Due: eslint --fix, prettier --write

fix(button): add xs size
  packages/sdds-platform-ai/src/components/Button/Button.config.ts
  packages/sdds-platform-ai/src/components/ButtonGroup/ButtonGroup.config.ts
Due: eslint --fix, prettier --write

fix(badge): add positive view
  packages/sdds-platform-ai/src/components/Badge/Badge.config.ts
Due: eslint --fix, prettier --write

feat(plasma-icons): Add icon `AiFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/AiFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/AiFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/AiFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `AiOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/AiOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/AiOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/AiOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint
