Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore(cypress): update snapshots
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop size m.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop stretch.snap.png
  cypress/snapshots/insol/Mask/sdds-insol Mask -- [PLASMA-T1248] Mask readOnly.snap.png
  cypress/snapshots/insol/NumberFormat/sdds-insol NumberFormat -- [PLASMA-T2258] NumberFormat readOnly.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _shape.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _size.snap.png
  cypress/snapshots/insol/Tree/Tree -- view=default, size=xl.snap.png
Due: none

feat: update TextArea snapshots
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1041] TextArea autoResize, minAuto.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1234] TextArea autoResize, maxAuto.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1235] TextArea custom height and width.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1237] TextArea resize=vertical.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1238] TextArea resize=both.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1580] TextArea size=l, view=default, label, labelPlacement=inner, value, leftHelperText, rightHelperText, contentRight, required, requiredPlacement=left, hasRequiredIndicator.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1582] TextArea size=s, view=warning, label, labelPlacement=inner, placeholder, rightHelper, required, requiredPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1583] TextArea size=xs, view=negative, labelPlacement=inner, placeholder, leftHelper, rightHelper, contentRight, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1584] size=l, view=default, label, labelPlacement=outer, value, contentRight, required, requiredPlacement=left, readOnly.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1585] TextArea size=m, view=warning, label, labelPlacement=inner, value, leftHelper, rightHelper, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1586] TextArea size=s, view=default, labelPlacement=inner, placeholder, leftHelper, rightHelper, required, requiredPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1588] TextArea size=l, view=default, label, labelPlacement=inner, value, placeholder, contentRight, contentLeft, required, requiredPlacement=left, disabled.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1589] TextArea size=m, view=negative, label, labelPlacement=outer, placeholder, leftHelper, rightHelper, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1590] TextArea size=s, view=warning, label, labelPlacement=inner, placeholder, leftHelper, rightHelper, contentRight, required, requiredPlacement=right, focused.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1610] TextArea no hint.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1611] TextArea empty titleCaption, empty hint.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1612] TextArea hasHint, hintTrigger=click, hintHasArrow=false.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1612] TextArea mouseover on hint icon.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1613] TextArea hintTrigger=hover, hintSize=m, hintPlacement=top, hintWidth=1px, hintHasArrow.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1614] TextArea hintSize=s, hintPlacement=bottom, hintWidth=100px.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1615] TextArea labelPlacement=outer, hintPlacement=left, hintWidth=500px.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1616] TextArea hintPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1944] TextArea size=xl, view=default, label, labelPlacement=inner, value, placeholder, leftHelper, rightHelper, contentRight.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1963] TextArea required, without hasRequiredIndicator.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T768] TextArea autoResize.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- headerSlot.snap.png
Due: none

fix(accordion): use opened-background, background-hover logic [PLASMA-6764]
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

chore(cypress): update snapshots [PLASMA-6764]
  cypress/snapshots/insol/Button/Button -- view=accent-gradient, size=m, stretching=fixed.snap.png
  cypress/snapshots/insol/Button/Button -- view=black.snap.png
  cypress/snapshots/insol/Button/Button -- view=clear, size=xs.snap.png
  cypress/snapshots/insol/Button/Button -- view=dark.snap.png
  cypress/snapshots/insol/Button/Button -- view=green.snap.png
  cypress/snapshots/insol/Button/Button -- view=negative.snap.png
  cypress/snapshots/insol/Button/Button -- view=positive, size=xxs.snap.png
  cypress/snapshots/insol/Button/Button -- view=secondary, size=s.snap.png
  cypress/snapshots/insol/Button/Button -- view=warning.snap.png
  cypress/snapshots/insol/File/File -- size=s.snap.png
  cypress/snapshots/insol/File/File -- size=xs.snap.png
  cypress/snapshots/insol/File/File -- view=default, size=l.snap.png
  cypress/snapshots/insol/File/File -- view=negative, size=m.snap.png
Due: none

fix(sdds_insol_next): update themes
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

fix(next-insol): fix config [PLASMA-6624]
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.clear.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.config.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(sdds-insol): update TextArea for next-insol
  packages/sdds-insol/src/components/TextArea/TextArea.config.ts
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(accordion): fix accordionGap [PLASMA-6764]
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

Update versions
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
Due: prettier --write --parser json

feat(core): handle `font-weight` for button value [PLASMA-6836]
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/Button.tokens.ts
Due: eslint --fix, prettier --write

feat(sdds-insol): update Select
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2328] Select treeView, arrowPlacement=left.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2329] Select treeView, arrowPlacement=right.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2330] Multiselect treeView, arrowPlacement=left.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2331] Multiselect treeView, multiSelect arrowPlacement=right.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- basic logic.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- behavior nesting lists within scroll.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- behaviour isTargetAmount.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- default.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- flow, multiselect missing value in items.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- flow, single missing value in items.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop afterList.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop beforeList.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop chipType.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop chipView accent.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop chipView secondary.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop contentLeft.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop flip.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop isTargetAmount.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop item disabled.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop labelPlacement.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop optional.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop renderSelectionIcon multiple.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop renderSelectionIcon single.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop renderValue.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop required, requiredPlacement.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop selectAll button.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop shift.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size l.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size m.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size s.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size xl.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size xs.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop treeView, multiple mode.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop treeView, single mode.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- snapshot missing value in items.snap.png
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(textfield): fix css var typo
  packages/sdds-insol/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

fix(lock): update lock files
  packages/themes/core-themes/package-lock.json
Due: prettier --write --parser json

fix(lock): update lock files
  website/sdds-insol-docs/package-lock.json
Due: prettier --write --parser json

fix(lock): fix version
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-giga-docs/package.json
  website/plasma-homeds-docs/package.json
  website/plasma-website/package.json
  website/sdds-netology-docs/package.json
Due: prettier --write --parser json

Update versions
  packages/sdds-insol/package.json
  website/sdds-insol-docs/package.json
Due: prettier --write --parser json

fix(button): fix all size configs [PLASMA-6836]
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.outline.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.stories.tsx
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write, stylelint

chore: update lock files
  packages/sdds-insol/package-lock.json
  website/sdds-insol-docs/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add layout-related props to NumberInput
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tokens.ts
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tsx
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.types.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_segmentation/base.ts
  packages/plasma-new-hope/src/examples/components/NumberInput/NumberInput.stories.tsx
  utils/plasma-sb-utils/src/components/NumberInput/NumberInput.tsx
  utils/plasma-sb-utils/src/components/NumberInput/fixtures.ts
  utils/plasma-sb-utils/src/components/NumberInput/index.ts
  utils/plasma-sb-utils/src/components/NumberInput/meta.ts
  utils/plasma-sb-utils/src/components/NumberInput/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: refactor NumberInput docs
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.template-doc.mdx
  website/plasma-b2c-docs/docs/components/NumberInput.mdx
  website/plasma-giga-docs/docs/components/NumberInput.mdx
  website/plasma-homeds-docs/docs/components/NumberInput.mdx
  website/plasma-web-docs/docs/components/NumberInput.mdx
  website/sdds-cs-docs/docs/components/NumberInput.mdx
  website/sdds-dfa-docs/docs/components/NumberInput.mdx
  website/sdds-insol-docs/docs/components/NumberInput.mdx
  website/sdds-netology-docs/docs/components/NumberInput.mdx
  website/sdds-scan-docs/docs/components/NumberInput.mdx
  website/sdds-serv-docs/docs/components/NumberInput.mdx
Due: none

feat(plasma-new-hope): add Header AI-component
  packages/plasma-new-hope/src/components/_ai/Header/Header.styles.ts
  packages/plasma-new-hope/src/components/_ai/Header/Header.tokens.ts
  packages/plasma-new-hope/src/components/_ai/Header/Header.tsx
  packages/plasma-new-hope/src/components/_ai/Header/Header.types.ts
  packages/plasma-new-hope/src/components/_ai/Header/index.ts
  packages/plasma-new-hope/src/components/_ai/Header/variations/_size/base.ts
  packages/plasma-new-hope/src/components/_ai/Header/variations/_view/base.ts
  packages/plasma-new-hope/src/components/_ai/index.ts
  packages/plasma-new-hope/src/examples/components/_ai/Header/Header.config.ts
  packages/plasma-new-hope/src/examples/components/_ai/Header/Header.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Header/Header.ts
Due: eslint --fix, prettier --write, stylelint

feat(docs): mcp
  .github/workflows/mcp-data-upload.yml
  package-lock.json
  package.json
  website/plasma-web-docs/.gitignore
  website/plasma-web-docs/package.json
  website/plasma-web-docs/scripts/generateIndex/config.mjs
  website/plasma-web-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/plasma-web-docs/scripts/generateIndex/generateMdxLink.mjs
  website/plasma-web-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/plasma-web-docs/scripts/generateIndex/index.mjs
  website/plasma-web-docs/scripts/generateMcpData/index.ts
  website/plasma-web-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-giga): add index generation for plasma-giga
  .github/workflows/mcp-data-upload.yml
  website/plasma-giga-docs/.gitignore
  website/plasma-giga-docs/package.json
  website/plasma-giga-docs/scripts/generateIndex/config.mjs
  website/plasma-giga-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/plasma-giga-docs/scripts/generateIndex/generateMdxLink.mjs
  website/plasma-giga-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/plasma-giga-docs/scripts/generateIndex/index.mjs
  website/plasma-giga-docs/scripts/generateMcpData/index.ts
  website/plasma-giga-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(): add b2c and finai to the mcp
  .github/workflows/mcp-data-upload.yml
  website/plasma-b2c-docs/.gitignore
  website/plasma-b2c-docs/package.json
  website/plasma-b2c-docs/scripts/generateIndex/config.mjs
  website/plasma-b2c-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/plasma-b2c-docs/scripts/generateIndex/generateMdxLink.mjs
  website/plasma-b2c-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/plasma-b2c-docs/scripts/generateIndex/index.mjs
  website/plasma-b2c-docs/scripts/generateMcpData/index.ts
  website/plasma-b2c-docs/tokens.ts
  website/plasma-web-docs/scripts/generateMcpData/index.ts
  website/sdds-finai-docs/.gitignore
  website/sdds-finai-docs/package.json
  website/sdds-finai-docs/scripts/generateIndex/config.mjs
  website/sdds-finai-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/sdds-finai-docs/scripts/generateIndex/generateMdxLink.mjs
  website/sdds-finai-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/sdds-finai-docs/scripts/generateIndex/index.mjs
  website/sdds-finai-docs/scripts/generateMcpData/index.ts
  website/sdds-finai-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(theme): update sdds_sbcom theme
  packages/themes/sdds-themes/src/css/sdds_sbcom.module.css
  packages/themes/sdds-themes/src/css/sdds_sbcom__dark.css
  packages/themes/sdds-themes/src/css/sdds_sbcom__light.css
  packages/themes/sdds-themes/src/themes/sdds_sbcom__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_sbcom__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_sbcom/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
