Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

docs(plasma-b2c/web,sdds-serv): generate api docs
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(plasma-tokens): Add theme sdds_serv
  packages/plasma-tokens/data/themes/sdds_serv.json
  packages/plasma-tokens/src/brands/sdds_serv/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_serv__dark.ts
  packages/plasma-tokens/src/themes/sdds_serv__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-srvc/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: bump manual package-locks
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-srvc/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

ci: upload assets only for "@salutejs/plasma-tokens"
  .github/workflows/publish-common.yml
  auto-plugins/src/upload-assets-extend.ts
  auto.config.js
Due: eslint --fix, prettier --write

chore: add `auto.logger` for package name after upload assets
  patches/@auto-it+upload-assets+10.46.0.patch
Due: none

ci: fix typo `UPLOAD_ASSETS_TARGETS` [no ci]
  .github/workflows/publish-common.yml
Due: none

fix: add desc prop
  packages/plasma-tokens/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-srvc/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

ci: simplify filter code [no ci]
  auto-plugins/src/upload-assets-extend.ts
Due: eslint --fix, prettier --write

chore: disable 'released' plugin
  auto.config.js
Due: eslint --fix, prettier --write

chore: Remove plasma-temple from workflows and actions
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/cypress-by-cron.yml
  .github/workflows/cypress-common.yml
  .github/workflows/cypress.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/required-primary-checks.yml
  .github/workflows/typescript-coverage.yml
  actions/versionate-docs/src/commits.test.ts
  actions/versionate-docs/src/packages.ts
Due: eslint --fix, prettier --write

chore: Remove plasma-temple scripts and mentions from root
  .eslintignore
  CODEOWNERS
  CONTRIBUTING.md
  nyc.config.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

chore[sdds-android]: SDDS Android project was created.
  native/sdds-android/.gitignore
  native/sdds-android/LICENCE.txt
  native/sdds-android/README.MD
  native/sdds-android/build.gradle.kts
  native/sdds-android/buildSrc/README.MD
  native/sdds-android/buildSrc/build.gradle.kts
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/Dependencies.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/Plugins.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/SdkConfig.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/Versions.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/conventions/convention.android-app.gradle.kts
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/conventions/convention.android-lib.gradle.kts
  native/sdds-android/gradle.properties
  native/sdds-android/gradle/wrapper/gradle-wrapper.jar
  native/sdds-android/gradle/wrapper/gradle-wrapper.properties
  native/sdds-android/gradlew
  native/sdds-android/gradlew.bat
  native/sdds-android/plugin_theme_builder/README.MD
  native/sdds-android/plugin_theme_builder/build.gradle.kts
  native/sdds-android/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/ThemeBuilderPlugin.kt
  native/sdds-android/sandbox/README.MD
  native/sdds-android/sandbox/build.gradle.kts
  native/sdds-android/sandbox/src/main/AndroidManifest.xml
  native/sdds-android/sandbox/src/main/res/drawable/ic_launcher_background.xml
  native/sdds-android/sandbox/src/main/res/drawable/ic_launcher_foreground.xml
  native/sdds-android/sandbox/src/main/res/mipmap-anydpi/ic_launcher.xml
  native/sdds-android/sandbox/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  native/sdds-android/sandbox/src/main/res/values/strings.xml
  native/sdds-android/sandbox/src/main/res/values/themes.xml
  native/sdds-android/settings.gradle.kts
  native/sdds-android/uikit-compose/README.MD
  native/sdds-android/uikit-compose/build.gradle.kts
  native/sdds-android/uikit-compose/src/main/AndroidManifest.xml
  native/sdds-android/uikit/README.MD
  native/sdds-android/uikit/build.gradle.kts
  native/sdds-android/uikit/src/main/AndroidManifest.xml
Due: none

Update versions
  actions/versionate-docs/package.json
Due: prettier --write --parser json

chore(plasma-basic-temple): Remove package
  packages/plasma-basic-template/CHANGELOG.md
  packages/plasma-basic-template/LICENSE.txt
  packages/plasma-basic-template/README.md
  packages/plasma-basic-template/package-lock.json
  packages/plasma-basic-template/package.json
  packages/plasma-basic-template/template.json
  packages/plasma-basic-template/template/README.md
  packages/plasma-basic-template/template/gitignore
  packages/plasma-basic-template/template/public/1920x1080.png
  packages/plasma-basic-template/template/public/450x800.png
  packages/plasma-basic-template/template/public/index.html
  packages/plasma-basic-template/template/public/logo.png
  packages/plasma-basic-template/template/public/manifest.json
  packages/plasma-basic-template/template/src/.env.example
  packages/plasma-basic-template/template/src/App.tsx
  packages/plasma-basic-template/template/src/index.tsx
  packages/plasma-basic-template/template/src/pages/Film.tsx
  packages/plasma-basic-template/template/src/pages/Gallery.tsx
  packages/plasma-basic-template/template/src/react-app-env.d.ts
  packages/plasma-basic-template/template/src/types.ts
  packages/plasma-basic-template/template/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

docs(cypress): add paragraph about required browser `chromium`
  CONTRIBUTING.md
Due: prettier --write --parser markdown

docs(contributing): fix cypress cli commands
  CONTRIBUTING.md
Due: prettier --write --parser markdown

docs: fix misspel
  CONTRIBUTING.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
