Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

docs(plasma-new-hope, plasma-web): TextArea docs updated
  packages/plasma-new-hope/src/components/TextArea/TextArea.template-doc.mdx
  website/plasma-web-docs/docs/components/TextArea.mdx
Due: none

feat(plasma-b2c, plasma-web): autoResize props set in stories
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): examples added to types
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
Due: eslint --fix, prettier --write, stylelint

docs(sdds-serv): TextArea doc updated due to dev updates
  website/sdds-serv-docs/docs/components/TextArea.mdx
Due: none

docs(sdds-serv): api report regenerated
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

fix(plasma-new-hope): types split
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-b2c, plasma-web): TextArea snapshots updated
  cypress/snapshots/b2c/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - maxAuto.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - minAuto.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - maxAuto.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - minAuto.snap.png
Due: none

fix(plasma-new-hope): fix autoResize
  packages/plasma-new-hope/src/components/TextArea/hooks/useAutoResize.ts
Due: eslint --fix, prettier --write

Update versions
  packages/caldera-online/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/caldera-online-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

docs(plasma-{new-hope, web}, sdds-serv): remove resize
  packages/plasma-new-hope/src/components/TextArea/TextArea.template-doc.mdx
  website/plasma-web-docs/docs/components/TextArea.mdx
  website/sdds-serv-docs/docs/components/TextArea.mdx
Due: none

chore(website): add icons filter menu
  website/plasma-website/components/roster/AbstractIcon.tsx
  website/plasma-website/components/roster/IconFilterMenu.tsx
  website/plasma-website/components/roster/IconOptionsSize.tsx
  website/plasma-website/components/roster/IconsList.tsx
  website/plasma-website/components/roster/index.ts
  website/plasma-website/pages/icons.tsx
  website/plasma-website/store/actions.ts
  website/plasma-website/store/index.tsx
  website/plasma-website/store/reducer.ts
  website/plasma-website/store/types.ts
  website/plasma-website/types/Data.ts
  website/plasma-website/utils/iconsList.ts
  website/plasma-website/utils/listSizes.ts
Due: eslint --fix, prettier --write, stylelint

chore(website): use correct colors token
  website/plasma-website/components/roster/IconOptionsColors.tsx
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): add default selected prop to SegmentItem
  packages/plasma-new-hope/src/components/Segment/SegmentProvider/SegmentProvider.tsx
  packages/plasma-new-hope/src/components/Segment/SegmentProvider/SegmentProvider.types.ts
  packages/plasma-new-hope/src/components/Segment/ui/SegmentGroup/SegmentGroup.tsx
  packages/plasma-new-hope/src/components/Segment/ui/SegmentGroup/SegmentGroup.types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c/web): add test for predefined Segments
  packages/plasma-b2c/src/components/Segment/Segment.component-test.tsx
  packages/plasma-b2c/src/components/Segment/index.ts
  packages/plasma-web/src/components/Segment/Segment.component-test.tsx
  packages/plasma-web/src/components/Segment/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/caldera-online/api/caldera-online.api.md
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

test(plasma-web/b2c): update snapshots for Segment
  cypress/snapshots/b2c/components/Segment/Segment.component-test.tsx/plasma-web Segment -- multiple choice predefined.snap.png
  cypress/snapshots/b2c/components/Segment/Segment.component-test.tsx/plasma-web Segment -- single choice predefined.snap.png
  cypress/snapshots/web/components/Segment/Segment.component-test.tsx/plasma-web Segment -- multiple choice predefined.snap.png
  cypress/snapshots/web/components/Segment/Segment.component-test.tsx/plasma-web Segment -- single choice predefined.snap.png
Due: none

docs: update Segment docs
  packages/plasma-new-hope/src/components/Segment/Segment.template-doc.mdx
  website/caldera-online-docs/docs/components/Segment.mdx
  website/plasma-web-docs/docs/components/Segment.mdx
  website/sdds-serv-docs/docs/components/Segment.mdx
Due: none

feat(plasma-new-hope): add default selected prop to SegmentItem
  packages/plasma-new-hope/src/components/Segment/SegmentProvider/SegmentProvider.tsx
  packages/plasma-new-hope/src/components/Segment/SegmentProvider/SegmentProvider.types.ts
  packages/plasma-new-hope/src/components/Segment/SegmentProvider/index.ts
  packages/plasma-new-hope/src/components/Segment/index.ts
  packages/plasma-new-hope/src/components/Segment/ui/SegmentGroup/SegmentGroup.tsx
  packages/plasma-new-hope/src/components/Segment/ui/SegmentGroup/SegmentGroup.types.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-serv,caldera-online): add SegmentProviderProps type export
  packages/caldera-online/src/components/Segment/index.ts
  packages/sdds-serv/src/components/Segment/index.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/caldera-online/CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
