Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

docs: delete unnecessary paragraph about devices
  website/plasma-web-docs/docs/design/typography-legacy.mdx
  website/plasma-web-docs/docs/design/typography.mdx
Due: none

fix(plasma-web,b2c): Remove storybook docs
  packages/plasma-b2c/.gitignore
  packages/plasma-web/.gitignore
  packages/plasma-web/package.json
Due: prettier --write --parser json

fix(plasma-ui): Remove storybook docs
  packages/plasma-ui/.gitignore
  packages/plasma-ui/.storybook/main.js
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(plasma-temple): Remove storybook docs
  packages/plasma-temple/.gitignore
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
Due: prettier --write --parser json

ci: use npm@6.14.17
  .github/workflows/cypress-ct-17.yml
  .github/workflows/cypress-ct.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/examples-pr.yml
  .github/workflows/examples.yml
  .github/workflows/performance-test-pr.yml
  .github/workflows/release.yml
  .github/workflows/tests-17.yml
  .github/workflows/tests.yml
  .github/workflows/theme-builder-pr.yml
  .github/workflows/theme-builder.yml
  .github/workflows/typescript-coverage.yml
  .github/workflows/versionate-docs.yml
Due: none

build: used specify npm version by package.json#engine section
  .npmrc
Due: none

feat(plasma-tokens): Add theme sberHealth
  packages/plasma-tokens/data/themes/sberHealth.json
Due: prettier --write --parser json

build: disabled auto-installing peer dependencies
  .npmrc
Due: none

build: use v16.19.1 node
  .nvmrc
Due: none

feat(plamas-core): Update API for useDebouncedFunction hook
  packages/plasma-core/api/plasma-core.api.md
Due: prettier --write --parser markdown

fix(plasma-*): Fix some types by es-lint rules
  actions/versionate-docs/src/utils.ts
  packages/plasma-core/src/hooks/useDebouncedFunction.ts
  packages/plasma-temple/src/pages/GridPage/GridPage@sberbox.component-test.tsx
  packages/plasma-temple/src/pages/ItemPage/itemPage@sberbox.component-test.tsx
  packages/plasma-ui/src/components/Button/Button.stories.tsx
  packages/plasma-ui/src/components/Carousel/Carousel.perftest.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.perftest.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.stories.tsx
  packages/plasma-ui/src/components/Tabs/Tabs.perftest.tsx
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/CypressHelpers.js.map
  utils/plasma-cy-utils/src/CypressHelpers.tsx
  utils/plasma-tokens-utils/src/mappers.ts
Due: eslint --fix, prettier --write, stylelint

fix: Remove temp es rules
  .eslintrc.js
Due: eslint --fix, prettier --write

chore: update package-locks [skip ci]
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

chore(plasma-ui): Sheet: fix storybook viewport
  packages/plasma-ui/src/components/Sheet/Sheet.stories.tsx
Due: eslint --fix, prettier --write, stylelint

build: bump lerna version to 6.x
  package-lock.json
  package.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-android/CHANGELOG.md
  utils/plasma-tokens-ios-swift/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json

fix(plasma-ui): omit 'onResize', 'onResizeCapture', 'nonce' in HeaderLogoProps
  packages/plasma-ui/src/components/Header/HeaderLogo.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json

feat(plasma-web): re-export "Image" component from plasma-hope
  packages/plasma-web/src/components/Image/Image.tsx
  packages/plasma-web/src/components/Image/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export "Image" component from plasma-hope
  packages/plasma-b2c/src/components/Image/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): add "Image" component
  packages/plasma-hope/src/components/Image/Image.tsx
  packages/plasma-hope/src/components/Image/index.tsx
  packages/plasma-hope/src/components/Image/types.ts
Due: eslint --fix, prettier --write, stylelint

feat: api report after merged Image component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
