Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-*,sdds-*): update Radiobox configs & stories
  packages/plasma-b2c/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-b2c/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-giga/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-giga/src/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-web/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-cs/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-dfa/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-dfa/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-finportal/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-finportal/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-insol/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-serv/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-serv/src/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): update Radiobox view variant
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

docs: update Radiobox docs
  packages/plasma-new-hope/src/components/Radiobox/Radiobox.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Radiobox.mdx
  website/plasma-giga-docs/docs/components/Radiobox.mdx
  website/plasma-web-docs/docs/components/Radiobox.mdx
  website/sdds-dfa-docs/docs/components/Radiobox.mdx
  website/sdds-insol-docs/docs/components/Radiobox.mdx
  website/sdds-serv-docs/docs/components/Radiobox.mdx
Due: none

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

fix(*): remove init first value to empty
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/SelectNative/SelectNative.tsx
  packages/plasma-new-hope/src/components/Select/ui/SelectNative/SelectNative.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add xl size to textarea
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _required -- _sizexl.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _size empty.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _size with content.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- _size.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.component-test.tsx/plasma-b2c TextArea -- with hint -- _sizexl.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _required -- _sizexl.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _size empty.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _size with content.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- _size.snap.png
  cypress/snapshots/web/components/TextArea/TextArea.component-test.tsx/plasma-web TextArea -- with hint -- _sizexl.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.config.ts
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-giga/src/components/TextArea/TextArea.config.tsx
  packages/plasma-giga/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextArea/TextArea.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextArea/TextArea.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-web/src/components/TextArea/TextArea.config.ts
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/TextArea/TextArea.config.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/TextArea/TextArea.config.tsx
  packages/sdds-finportal/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/TextArea/TextArea.config.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(*): update popover with small target
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/multiple.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- interaction.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple lines placement.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple placement.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- out of bounds + multiple placement.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- wrapper overflow scroll.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/single.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/multiple.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- interaction.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple lines placement.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple placement.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- out of bounds + multiple placement.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- wrapper overflow scroll.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/single.snap.png
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
  packages/plasma-new-hope/src/components/Popover/hooks/usePopoverOffset.ts
  packages/plasma-new-hope/src/components/Tooltip/Tooltip.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fixed scroll to tab by programmatic tab selection
  packages/plasma-new-hope/src/components/Tabs/ui/horizontal/HorizontalTabItem/HorizontalTabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/horizontal/HorizontalTabs/HorizontalTabs.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/vertical/VerticalTabItem/VerticalTabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/vertical/VerticalTabs/VerticalTabs.tsx
  packages/plasma-new-hope/src/components/Tabs/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(): Tabs docs updated
  packages/plasma-new-hope/src/components/Tabs/Tabs.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Tabs.mdx
  website/plasma-giga-docs/docs/components/Tabs.mdx
  website/plasma-web-docs/docs/components/Tabs.mdx
  website/sdds-cs-docs/docs/components/Tabs.mdx
  website/sdds-insol-docs/docs/components/Tabs.mdx
  website/sdds-serv-docs/docs/components/Tabs.mdx
Due: none

chore(): autoscroll images regenerated
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- autoscroll.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- autoscroll.snap.png
Due: none

feat(sdds-insol): update close-icon in embedded chips
  packages/sdds-insol/src/components/Combobox/Combobox.config.ts
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

Update versions
  packages/sdds-insol/package.json
  website/sdds-insol-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-insol/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): fix incorrect behaviour with checking disabled item
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/utils/updateDescendants.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/components/Select/utils/updateDescendants.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-colors): add general colors reverted structure
  packages/plasma-colors/lib/creators/createIndex.ts
  packages/plasma-colors/palette/generalReverted.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore(plasma-sb-utils): update getGroupedTokens function
  utils/plasma-sb-utils/src/helpers/colorTokens.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): update color-tokens stories
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/Tokens.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/Tokens.styles.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/Tokens.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/Tokens.styles.ts
Due: eslint --fix, prettier --write, stylelint

feat: add plasma-colors to common scope
  .github/meta-prod.js
  .github/meta.js
Due: eslint --fix, prettier --write

feat(plasma-new-hope): update min date logic for calendar grids
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarYears/CalendarYears.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-colors/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json
