Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore: fix createPaperMixin import & remove zeit from plasma-website
  packages/plasma-b2c/src/mixins/index.ts
  packages/plasma-web/src/mixins/index.ts
  website/plasma-website/next.config.js
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(*): add view negative
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-b2c/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-giga/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-giga/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/components/Checkbox/variations/_focused/base.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-clfd-auto/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-clfd-auto/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-insol/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-serv/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-serv/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

chore: Add ignore changes in themes packages to ci/cd [no ci]
  .github/workflows/publish-common.yml
Due: none

fix(*): fix color checkbox
  packages/plasma-giga/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-insol/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-insol/src/components/Radiobox/Radiobox.config.ts
Due: eslint --fix, prettier --write, stylelint

ci(auto): ignore git diff
  packages/themes/plasma-themes/.autorc
  packages/themes/sdds-themes/.autorc
Due: none

feat(*): add status item views
  packages/plasma-b2c/src/components/Steps/Steps.config.ts
  packages/plasma-b2c/src/components/Steps/Steps.stories.tsx
  packages/plasma-giga/src/components/Steps/Steps.config.ts
  packages/plasma-giga/src/components/Steps/Steps.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Steps/Steps.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Steps/Steps.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Steps/Steps.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Steps/Steps.stories.tsx
  packages/plasma-web/src/components/Steps/Steps.config.ts
  packages/plasma-web/src/components/Steps/Steps.stories.tsx
  packages/sdds-cs/src/components/Steps/Steps.config.ts
  packages/sdds-dfa/src/components/Steps/Steps.config.ts
  packages/sdds-dfa/src/components/Steps/Steps.stories.tsx
  packages/sdds-finportal/src/components/Steps/Steps.config.ts
  packages/sdds-finportal/src/components/Steps/Steps.stories.tsx
  packages/sdds-insol/src/components/Steps/Steps.config.ts
  packages/sdds-insol/src/components/Steps/Steps.stories.tsx
  packages/sdds-serv/src/components/Steps/Steps.config.ts
  packages/sdds-serv/src/components/Steps/Steps.stories.tsx
  website/plasma-giga-docs/docs/components/Steps.mdx
  website/plasma-giga-docs/src/theme/Playground/index.tsx
Due: eslint --fix, prettier --write, stylelint

chore(cypress): update snapshots
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- itemViewnegative.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- simple current.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- vertical -- item view negative.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- vertical -- simple current.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- vertical -- with bullets statuses.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- vertical -- with indicators statuses.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- vertical -- with title current.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- vertical -- with title, bullets current.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- with bullets statuses.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- with indicators statuses.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- with title current.snap.png
  cypress/snapshots/b2c/components/Steps/Steps.component-test.tsx/plasma-b2c Steps -- with title, bullets current.snap.png
Due: none

chore(cypress): update snapshots
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- itemViewnegative.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- simple current.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- vertical -- item view negative.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- vertical -- simple current.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- vertical -- with bullets statuses.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- vertical -- with indicators statuses.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- vertical -- with title current.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- vertical -- with title, bullets current.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- with bullets statuses.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- with indicators statuses.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- with title current.snap.png
  cypress/snapshots/web/components/Steps/Steps.component-test.tsx/plasma-web Steps -- with title, bullets current.snap.png
Due: none

chore(cypress): add test for `item view: negative`
  packages/plasma-web/src/components/Steps/Steps.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(core): processing status item view
  packages/plasma-new-hope/src/components/Steps/Steps.tokens.ts
  packages/plasma-new-hope/src/components/Steps/Steps.tsx
  packages/plasma-new-hope/src/components/Steps/Steps.types.ts
  packages/plasma-new-hope/src/components/Steps/ui/StepItem/StepItem.styles.ts
  packages/plasma-new-hope/src/components/Steps/variations/_itemView/base.ts
  packages/plasma-new-hope/src/components/Steps/variations/_itemView/tokens.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore(*): add git ignore
  packages/plasma-giga/.gitignore
Due: none

chore(cypress): add test for `item view: negative`
  packages/plasma-b2c/src/components/Steps/Steps.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(core): use PolymorphicClassName for style property for Intersection
  packages/plasma-new-hope/src/engines/emotion.tsx
  packages/plasma-new-hope/src/engines/linaria.tsx
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-new-hope/src/engines/utils.ts
Due: eslint --fix, prettier --write, stylelint

feat(): part 11
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/Cell/Cell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/Cell/Cell.tsx
  packages/plasma-new-hope/src/components/Table/ui/EditableCell/EditableCell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/EditableCell/EditableCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/index.ts
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/EditOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconEditOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 19
  packages/plasma-b2c/src/components/Table/Table.config.ts
  packages/plasma-b2c/src/components/Table/Table.tsx
  packages/plasma-b2c/src/components/Table/index.tsx
  packages/plasma-b2c/src/index.ts
  packages/plasma-new-hope/src/components/Table/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(): part 18
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/Cell/Cell.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 2
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 6
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 16
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tokens.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/ui/Filter/Filter.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/ui/Filter/Filter.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 8
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 3
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 1
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tokens.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/index.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/index.ts
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/ArrowsMoveVertical.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/DisclosureUpCentered.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/FilterFunnel.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconArrowsMoveVertical.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconDisclosureUpCentered.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconFilterFunnel.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(): part 17
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/ui/EditableCell/EditableCell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/EditableCell/EditableCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/ui/Filter/Filter.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 12
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 14
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/Cell/Cell.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 13
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tokens.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/ui/Cell/Cell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/EditableCell/EditableCell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/EditableCell/EditableCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/DoneCircleOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/ResetOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconDoneCircleOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconResetOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(): part 15
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tokens.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/ui/Filter/Filter.styles.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/ui/Filter/Filter.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 9
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

feat(): part 10
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/ArrowDown.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/ArrowUp.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/SwapVert.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconArrowDown.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconArrowUp.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconSwapVert.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 7
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 5
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 4
  packages/plasma-new-hope/src/components/Table/Table.tsx
  packages/plasma-new-hope/src/components/Table/Table.types.ts
  packages/plasma-new-hope/src/components/Table/ui/HeadCell/HeadCell.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Table/Table.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-website): refactor main page
  website/plasma-website/components/index.ts
  website/plasma-website/components/main/Header.tsx
  website/plasma-website/components/main/Heading.tsx
  website/plasma-website/components/main/LinkItem.tsx
  website/plasma-website/components/main/LinkItem/LinkItem.styles.ts
  website/plasma-website/components/main/LinkItem/LinkItem.tsx
  website/plasma-website/components/main/Menu/Menu.styles.ts
  website/plasma-website/components/main/Menu/Menu.tokens.ts
  website/plasma-website/components/main/Menu/Menu.tsx
  website/plasma-website/components/main/Product.tsx
  website/plasma-website/components/main/Product/Product.styles.ts
  website/plasma-website/components/main/Product/Product.tokens.ts
  website/plasma-website/components/main/Product/Product.tsx
  website/plasma-website/components/main/ProductList.tsx
  website/plasma-website/components/main/StickyNav/StickyNav.styles.ts
  website/plasma-website/components/main/StickyNav/StickyNav.tsx
  website/plasma-website/components/main/index.ts
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
  website/plasma-website/pages/index.tsx
  website/plasma-website/utils/constants.tsx
  website/plasma-website/utils/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-website): add touch support for mobile devices
  website/plasma-website/components/main/DraggableContainer/DraggableContainer.styles.ts
  website/plasma-website/components/main/DraggableContainer/DraggableContainer.tsx
  website/plasma-website/components/main/LinkItem/LinkItem.styles.ts
  website/plasma-website/components/main/Menu/Menu.tsx
  website/plasma-website/components/main/Product/Product.styles.ts
  website/plasma-website/components/main/index.ts
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-sb-utils): add corner radius tokens utils
  utils/plasma-sb-utils/src/helpers/index.ts
  utils/plasma-sb-utils/src/helpers/numberTokens.ts
Due: eslint --fix, prettier --write

feat(*): add number tokens stories
  packages/plasma-b2c/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/plasma-b2c/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/plasma-b2c/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/plasma-giga/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/plasma-giga/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/plasma-giga/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/plasma-web/src/components/Tokens/Colors/Colors.stories.tsx
  packages/plasma-web/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/plasma-web/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/plasma-web/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-cs/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-cs/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/sdds-cs/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-dfa/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-dfa/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/sdds-dfa/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-finportal/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-finportal/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/sdds-finportal/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-insol/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-insol/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/sdds-insol/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-serv/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-serv/src/components/Tokens/NumberTokens/NumberTokens.styles.ts
  packages/sdds-serv/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  utils/plasma-sb-utils/src/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add Typography tokens stories
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/Typography/Typography.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tokens/Typography/Typography.styles.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/Typography/Typography.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tokens/Typography/Typography.styles.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-sb-utils): add typography tokens utils
  utils/plasma-sb-utils/src/helpers/index.ts
  utils/plasma-sb-utils/src/helpers/typographyTokens.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
