Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(flamingo-themes): Add theme package for `Flamingo` design vertical
  .eslintignore
  packages/themes/flamingo-themes/.eslintrc.js
  packages/themes/flamingo-themes/.gitignore
  packages/themes/flamingo-themes/.npmrc
  packages/themes/flamingo-themes/LICENSE.txt
  packages/themes/flamingo-themes/README.md
  packages/themes/flamingo-themes/lib/index.ts
  packages/themes/flamingo-themes/package-lock.json
  packages/themes/flamingo-themes/package.json
  packages/themes/flamingo-themes/src/css/flamingo.module.css
  packages/themes/flamingo-themes/src/css/flamingo__dark.css
  packages/themes/flamingo-themes/src/css/flamingo__light.css
  packages/themes/flamingo-themes/src/index.ts
  packages/themes/flamingo-themes/src/themes/flamingo__dark.ts
  packages/themes/flamingo-themes/src/themes/flamingo__light.ts
  packages/themes/flamingo-themes/src/themes/index.ts
  packages/themes/flamingo-themes/src/tokens/flamingo/index.ts
  packages/themes/flamingo-themes/src/tokens/index.ts
  packages/themes/flamingo-themes/tsconfig.es.json
  packages/themes/flamingo-themes/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

chore(plasma-new-hope): Remove `plasma-tokens` deps
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Calendar/Calendar.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-tokens-utils): Add methods for generate themes
  utils/plasma-tokens-utils/src/generators/generateFile.ts
  utils/plasma-tokens-utils/src/generators/generateThemesCSSFromContent.ts
  utils/plasma-tokens-utils/src/generators/generateThemesFromContent.ts
  utils/plasma-tokens-utils/src/generators/generateThemesTokenDataGroups.ts
  utils/plasma-tokens-utils/src/generators/generateTyposCSS.ts
  utils/plasma-tokens-utils/src/generators/getThemeContent.ts
  utils/plasma-tokens-utils/src/generators/getThemeData.ts
  utils/plasma-tokens-utils/src/generators/getThemesTokensFallback.ts
  utils/plasma-tokens-utils/src/generators/index.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write

feat(plasma-themes): Add theme package for `Plasma` design vertical
  .eslintignore
  packages/themes/plasma-themes/.eslintrc.js
  packages/themes/plasma-themes/.gitignore
  packages/themes/plasma-themes/.npmrc
  packages/themes/plasma-themes/LICENSE.txt
  packages/themes/plasma-themes/README.md
  packages/themes/plasma-themes/lib/index.ts
  packages/themes/plasma-themes/package-lock.json
  packages/themes/plasma-themes/package.json
  packages/themes/plasma-themes/src/css/plasma_b2c.module.css
  packages/themes/plasma-themes/src/css/plasma_b2c__dark.css
  packages/themes/plasma-themes/src/css/plasma_b2c__light.css
  packages/themes/plasma-themes/src/css/plasma_web.module.css
  packages/themes/plasma-themes/src/css/plasma_web__dark.css
  packages/themes/plasma-themes/src/css/plasma_web__light.css
  packages/themes/plasma-themes/src/css/stylesSalute.module.css
  packages/themes/plasma-themes/src/css/stylesSalute__dark.css
  packages/themes/plasma-themes/src/css/stylesSalute__light.css
  packages/themes/plasma-themes/src/index.ts
  packages/themes/plasma-themes/src/themes/index.ts
  packages/themes/plasma-themes/src/themes/plasma_b2c__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_b2c__light.ts
  packages/themes/plasma-themes/src/themes/plasma_web__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_web__light.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__dark.ts
  packages/themes/plasma-themes/src/themes/stylesSalute__light.ts
  packages/themes/plasma-themes/src/tokens/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_b2c/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_web/index.ts
  packages/themes/plasma-themes/src/tokens/stylesSalute/index.ts
  packages/themes/plasma-themes/tsconfig.es.json
  packages/themes/plasma-themes/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(data-themes): Add package for generate themes in web platform
  lerna.json
  packages/themes/data-themes/.eslintrc.js
  packages/themes/data-themes/.gitignore
  packages/themes/data-themes/.npmrc
  packages/themes/data-themes/LICENSE.txt
  packages/themes/data-themes/README.md
  packages/themes/data-themes/data/themes/caldera.json
  packages/themes/data-themes/data/themes/caldera_online.json
  packages/themes/data-themes/data/themes/default.json
  packages/themes/data-themes/data/themes/flamingo.json
  packages/themes/data-themes/data/themes/plasma_b2c.json
  packages/themes/data-themes/data/themes/plasma_web.json
  packages/themes/data-themes/data/themes/sberHealth.json
  packages/themes/data-themes/data/themes/sbermarket.json
  packages/themes/data-themes/data/themes/sbermarket_business.json
  packages/themes/data-themes/data/themes/sbermarket_metro.json
  packages/themes/data-themes/data/themes/sbermarket_selgros.json
  packages/themes/data-themes/data/themes/sbermarket_wlbusiness.json
  packages/themes/data-themes/data/themes/sberonline.json
  packages/themes/data-themes/data/themes/sberprime.json
  packages/themes/data-themes/data/themes/sdds_serv.json
  packages/themes/data-themes/data/themes/sdds_srvc.json
  packages/themes/data-themes/data/themes/stylesSalute.json
  packages/themes/data-themes/package-lock.json
  packages/themes/data-themes/package.json
  packages/themes/data-themes/src/creators/createCSSStyles.ts
  packages/themes/data-themes/src/creators/createDefaultTokens.ts
  packages/themes/data-themes/src/creators/createRootIndex.ts
  packages/themes/data-themes/src/creators/createThemes.ts
  packages/themes/data-themes/src/creators/createTokens.ts
  packages/themes/data-themes/src/creators/index.ts
  packages/themes/data-themes/src/generate.ts
  packages/themes/data-themes/src/index.ts
  packages/themes/data-themes/tsconfig.es.json
  packages/themes/data-themes/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(caldera-online-themes): Add theme package for `Caldera Online` design vertical
  .eslintignore
  packages/themes/caldera-online-themes/.eslintrc.js
  packages/themes/caldera-online-themes/.gitignore
  packages/themes/caldera-online-themes/.npmrc
  packages/themes/caldera-online-themes/LICENSE.txt
  packages/themes/caldera-online-themes/README.md
  packages/themes/caldera-online-themes/lib/index.ts
  packages/themes/caldera-online-themes/package-lock.json
  packages/themes/caldera-online-themes/package.json
  packages/themes/caldera-online-themes/src/css/caldera.module.css
  packages/themes/caldera-online-themes/src/css/caldera__dark.css
  packages/themes/caldera-online-themes/src/css/caldera__light.css
  packages/themes/caldera-online-themes/src/css/caldera_online.module.css
  packages/themes/caldera-online-themes/src/css/caldera_online__dark.css
  packages/themes/caldera-online-themes/src/css/caldera_online__light.css
  packages/themes/caldera-online-themes/src/index.ts
  packages/themes/caldera-online-themes/src/themes/caldera__dark.ts
  packages/themes/caldera-online-themes/src/themes/caldera__light.ts
  packages/themes/caldera-online-themes/src/themes/caldera_online__dark.ts
  packages/themes/caldera-online-themes/src/themes/caldera_online__light.ts
  packages/themes/caldera-online-themes/src/themes/index.ts
  packages/themes/caldera-online-themes/src/tokens/caldera/index.ts
  packages/themes/caldera-online-themes/src/tokens/caldera_online/index.ts
  packages/themes/caldera-online-themes/src/tokens/index.ts
  packages/themes/caldera-online-themes/tsconfig.es.json
  packages/themes/caldera-online-themes/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(sdds-serv): Add new package with tokens for theming
  packages/caldera-online/src/components/Popup/Popup.stories.tsx
  packages/sdds-serv/.storybook/decoratorThemes.tsx
  packages/sdds-serv/.storybook/preview-head.html
  packages/sdds-serv/README.md
  packages/sdds-serv/README.stories.mdx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/api/sdds-srvc.api.md
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
  packages/sdds-serv/src/components/Modal/Modal.stories.tsx
  packages/sdds-serv/src/components/Popup/Popup.stories.tsx
  packages/sdds-serv/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-serv/src/components/Segment/SegmentItem.config.ts
  packages/sdds-serv/src/components/Toast/Toast.stories.tsx
  packages/sdds-serv/src/tokens/index.ts
  packages/sdds-serv/src/tokens/typography.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(caldera): Add new package with tokens for theming
  packages/caldera/.storybook/decoratorThemes.tsx
  packages/caldera/.storybook/preview-head.html
  packages/caldera/README.md
  packages/caldera/README.stories.mdx
  packages/caldera/api/caldera.api.md
  packages/caldera/package-lock.json
  packages/caldera/package.json
  packages/caldera/src/components/Modal/Modal.stories.tsx
  packages/caldera/src/components/Popup/Popup.stories.tsx
  packages/caldera/src/components/Segment/SegmentGroup.config.ts
  packages/caldera/src/components/Segment/SegmentItem.config.ts
  packages/caldera/src/components/Toast/Toast.stories.tsx
  packages/caldera/src/tokens/index.ts
  packages/caldera/src/tokens/typography.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat: Update workflow with new packages
  .github/workflows/documentation-pr.yml
  .github/workflows/typescript-coverage.yml
Due: none

feat(caldera-online): Add new package with tokens for theming
  packages/caldera-online/.storybook/decoratorThemes.tsx
  packages/caldera-online/.storybook/preview-head.html
  packages/caldera-online/README.md
  packages/caldera-online/README.stories.mdx
  packages/caldera-online/api/caldera-online.api.md
  packages/caldera-online/package-lock.json
  packages/caldera-online/package.json
  packages/caldera-online/src/components/Modal/Modal.stories.tsx
  packages/caldera-online/src/components/Segment/SegmentGroup.config.ts
  packages/caldera-online/src/components/Segment/SegmentItem.config.ts
  packages/caldera-online/src/components/Toast/Toast.stories.tsx
  packages/caldera-online/src/tokens/index.ts
  packages/caldera-online/src/tokens/typography.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

ci: delete temple docs/storybook artefacts [no ci]
  .github/workflows/documentation-pull-request-dev.yml
Due: none

feat(plasma-tokens-*): Add re-export fallback tokens
  packages/plasma-tokens-b2b/generate.ts
  packages/plasma-tokens-b2c/generate.ts
  packages/plasma-tokens-web/generate.ts
Due: eslint --fix, prettier --write

feat(sdds-themes): Add theme package for `SDDS` design vertical
  .eslintignore
  packages/themes/sdds-themes/.eslintrc.js
  packages/themes/sdds-themes/.gitignore
  packages/themes/sdds-themes/.npmrc
  packages/themes/sdds-themes/LICENSE.txt
  packages/themes/sdds-themes/README.md
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/package-lock.json
  packages/themes/sdds-themes/package.json
  packages/themes/sdds-themes/src/css/sdds_serv.module.css
  packages/themes/sdds-themes/src/css/sdds_serv__dark.css
  packages/themes/sdds-themes/src/css/sdds_serv__light.css
  packages/themes/sdds-themes/src/index.ts
  packages/themes/sdds-themes/src/themes/index.ts
  packages/themes/sdds-themes/src/themes/sdds_serv__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_serv__light.ts
  packages/themes/sdds-themes/src/tokens/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_serv/index.ts
  packages/themes/sdds-themes/tsconfig.es.json
  packages/themes/sdds-themes/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  packages/themes/caldera-online-themes/package.json
  packages/themes/data-themes/package.json
  packages/themes/flamingo-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  utils/plasma-tokens-utils/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [no ci]
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/caldera-online-themes/package-lock.json
  packages/themes/data-themes/package-lock.json
  packages/themes/flamingo-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-web/b2c): add Drawer to packages
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- close icon placement left.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- placement bottom.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- placement left.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- placement top.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- simple.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without Actions.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without Footer.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without Header.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without close icon.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- close icon placement left.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- placement bottom.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- placement left.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- placement top.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- simple.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without Actions.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without Footer.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without Header.snap.png
  cypress/snapshots/web/components/Drawer/Drawer.component-test.tsx/plasma-b2c Drawer -- without close icon.snap.png
  packages/plasma-b2c/src/components/Drawer/Drawer.component-test.tsx
  packages/plasma-b2c/src/components/Drawer/Drawer.config.ts
  packages/plasma-b2c/src/components/Drawer/Drawer.stories.tsx
  packages/plasma-b2c/src/components/Drawer/Drawer.ts
  packages/plasma-b2c/src/components/Drawer/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-web/src/components/Drawer/Drawer.component-test.tsx
  packages/plasma-web/src/components/Drawer/Drawer.config.ts
  packages/plasma-web/src/components/Drawer/Drawer.stories.tsx
  packages/plasma-web/src/components/Drawer/Drawer.ts
  packages/plasma-web/src/components/Drawer/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-serv): add Drawer
  packages/sdds-serv/src/components/Drawer/Drawer.config.ts
  packages/sdds-serv/src/components/Drawer/Drawer.stories.tsx
  packages/sdds-serv/src/components/Drawer/Drawer.ts
  packages/sdds-serv/src/components/Drawer/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web-docs): add Drawer docs
  website/plasma-web-docs/docs/components/Drawer.mdx
  website/plasma-web-docs/docs/components/PopupBase.mdx
Due: none

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json
