Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

fix(plasma-web): [Select] replace import path to "@salutejs/plasma-hope"
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/SelectView.tsx
  packages/plasma-web/src/components/Select/withMultiSelect.tsx
  packages/plasma-web/src/components/Select/withSingleSelect.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat(plasma-web): re-export "Select" component
  packages/plasma-web/src/components/Select/Select.tsx
  packages/plasma-web/src/components/Select/Select.utils.ts
  packages/plasma-web/src/components/Select/SelectButton.tsx
  packages/plasma-web/src/components/Select/SelectDropdown.tsx
  packages/plasma-web/src/components/Select/index.ts
  packages/plasma-web/src/components/Select/withMultiSelect.tsx
  packages/plasma-web/src/components/Select/withSingleSelect.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export "Select" component
  packages/plasma-b2c/src/components/Select/Select.tsx
  packages/plasma-b2c/src/components/Select/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): export "Select" component
  packages/plasma-hope/src/components/Select/Select.tsx
  packages/plasma-hope/src/components/Select/SelectButton.tsx
  packages/plasma-hope/src/components/Select/SelectDropdown.tsx
  packages/plasma-hope/src/components/Select/SelectView.tsx
  packages/plasma-hope/src/components/Select/index.ts
  packages/plasma-hope/src/components/Select/types.ts
  packages/plasma-hope/src/components/Select/views/b2c/SelectButton.tsx
  packages/plasma-hope/src/components/Select/views/b2c/SelectDropdown.tsx
  packages/plasma-hope/src/components/Select/views/b2c/SelectGroup.tsx
  packages/plasma-hope/src/components/Select/views/b2c/SelectView.tsx
  packages/plasma-hope/src/components/Select/views/web/SelectView.tsx
  packages/plasma-hope/src/components/Select/withMultiSelect.tsx
  packages/plasma-hope/src/components/Select/withSingleSelect.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): update snapshots
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-hope Select -- default.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-hope Select -- disabled.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-hope Select -- empty.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-hope Select -- handling dropdown menu height.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-hope Select -- item click.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-hope Select -- multiselect.snap.png
Due: none

feat(plasma-hope): add cypress tests
  packages/plasma-hope/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-web): update snapshots
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-hope Select -- default.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-hope Select -- disabled.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-hope Select -- empty.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-hope Select -- handling dropdown menu height.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-hope Select -- item click.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-hope Select -- multiselect.snap.png
Due: none

feat(plasma-web): update test symlink
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: api report after merged "Select" component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

feat(plasma-b2c): update test symlink
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-b2c/src/components/Select/SelectBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-web): Update `TextArea`, `TextField`, `Button` and `Container` components
  packages/plasma-web/src/components/Button/Button.tsx
  packages/plasma-web/src/components/Grid/Container.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-hope): Update `TextArea`, `TextField`, `Button` and `Container` components
  packages/plasma-hope/src/components/Button/Button.tsx
  packages/plasma-hope/src/components/Button/types.ts
  packages/plasma-hope/src/components/Grid/Container.tsx
  packages/plasma-hope/src/components/Grid/types.ts
  packages/plasma-hope/src/components/Grid/views/b2c/Container.tsx
  packages/plasma-hope/src/components/Grid/views/b2c/ContainerB2C.tsx
  packages/plasma-hope/src/components/Grid/views/web/ContainerWeb.tsx
  packages/plasma-hope/src/components/Modal/ModalView.tsx
  packages/plasma-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-hope/src/components/TextArea/types.ts
  packages/plasma-hope/src/components/TextField/TextField.tsx
  packages/plasma-hope/src/components/TextField/types.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-b2c): Update `TextArea`, `TextField`, `Button` and `Container` components
  packages/plasma-b2c/src/components/Button/Button.tsx
  packages/plasma-b2c/src/components/Grid/Container.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-b2c/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope,plasma-web,plasma-b2c): Update API for components
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

feat(plasma-tokens): Add `sbermarketVinlab` theme
  packages/plasma-tokens/data/themes/sbermarket_vinlab.json
Due: prettier --write --parser json

fix(plasma-tokens): Fix theme name for gradient function in Swift formatters
  packages/plasma-tokens/lib/generator/formatters/colorIosSwift.ts
Due: eslint --fix, prettier --write

fix(plasma-tokens): Rename tenants name for `sbermarket`
  packages/plasma-tokens/data/themes/sbermarket_business.json
  packages/plasma-tokens/data/themes/sbermarket_metro.json
  packages/plasma-tokens/data/themes/sbermarket_selgros.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  examples/demo-tokens/package-lock.json
  examples/demo-tokens/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-android/package.json
  utils/plasma-tokens-ios-swift/package-lock.json
  utils/plasma-tokens-ios-swift/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-android/package-lock.json
  utils/plasma-tokens-ios-swift/package-lock.json
Due: prettier --write --parser json
