Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(sbcom): use theme `sdds_sbcom@0.1.13`
  packages/sdds-sbcom/package-lock.json
  packages/sdds-sbcom/package.json
Due: prettier --write --parser json

ci(cypress): fix memory issue
  cypress/webpack.config.ts
Due: eslint --fix, prettier --write

Update versions
  packages/sdds-sbcom/package.json
Due: prettier --write --parser json

ci(lock): use `--no-ci`
  .github/actions/update-package-lock/action.yml
Due: none

docs: fix import
  website/plasma-web-docs/docs/components/Card.mdx
Due: none

feat(plasma-tokens): Add theme plasma_giga
  packages/plasma-tokens/data/themes/plasma_giga.json
  packages/plasma-tokens/src/brands/plasma_giga/index.ts
  packages/plasma-tokens/src/themes/plasma_giga__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme sdds_finai
  packages/plasma-tokens/data/themes/sdds_finai.json
  packages/plasma-tokens/src/brands/sdds_finai/index.ts
  packages/plasma-tokens/src/themes/sdds_finai__dark.ts
  packages/plasma-tokens/src/themes/sdds_finai__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(core-theme): add getBreakpointsByThemeName method
  packages/themes/core-themes/src/creators/createTypographyTokens.ts
  packages/themes/core-themes/src/generators/generateCSSModuleThemes.ts
  packages/themes/core-themes/src/generators/generateCSSThemes.ts
  packages/themes/core-themes/src/generators/generateThemes.ts
  packages/themes/core-themes/src/types/constants.ts
Due: eslint --fix, prettier --write

fix(finai): update theme
  packages/themes/sdds-themes/src/css/sdds_finai.module.css
  packages/themes/sdds-themes/src/css/sdds_finai__dark.css
  packages/themes/sdds-themes/src/css/sdds_finai__light.css
  packages/themes/sdds-themes/src/themes/sdds_finai__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_finai__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_finai/index.ts
Due: eslint --fix, prettier --write

chore(finai): update snapshots
  cypress/snapshots/finai/chromium/Button/Button -- focused.snap.png
  cypress/snapshots/finai/chromium/Button/Button -- view=accent, size=l, stretching=filled.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- size=l.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- size=m.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- size=s.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- size=xs.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- stretch double.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- stretch single.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar -- view=default, size=xl.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar keyboard navigation -- navigate with `Down`, `Left`, `Up`, `Right` arrows.snap.png
  cypress/snapshots/finai/chromium/Calendar/Calendar keyboard navigation -- set value with `Enter` and `Space`.snap.png
  cypress/snapshots/finai/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/finai/chromium/Calendar/CalendarRange -- range in progress with disabled.snap.png
  cypress/snapshots/finai/chromium/Calendar/CalendarRange -- range in progress.snap.png
  cypress/snapshots/finai/chromium/Combobox/Combobox -- singleLine=false, treeView=false.snap.png
  cypress/snapshots/finai/chromium/Combobox/Combobox -- singleLine=false, treeView=true.snap.png
  cypress/snapshots/finai/chromium/Combobox/Combobox -- singleLine=true, treeView=false.snap.png
  cypress/snapshots/finai/chromium/Combobox/Combobox -- singleLine=true, treeView=true.snap.png
  cypress/snapshots/finai/chromium/DateTimePicker/DateTimePicker -- with hint.snap.png
  cypress/snapshots/finai/chromium/NumberInput/NumberInput -- view=accent, size=s, segmentation=solid.snap.png
  cypress/snapshots/finai/chromium/Range/Range -- simple divider as icon.snap.png
  cypress/snapshots/finai/chromium/Select/Select -- chipView=accent multiselect.snap.png
  cypress/snapshots/finai/chromium/Select/Select -- chipView=secondary multiselect.snap.png
  cypress/snapshots/finai/chromium/Select/Select -- singleLine=false, treeView=false.snap.png
  cypress/snapshots/finai/chromium/Select/Select -- singleLine=false, treeView=true.snap.png
  cypress/snapshots/finai/chromium/Select/Select -- singleLine=true, treeView=false.snap.png
  cypress/snapshots/finai/chromium/Select/Select -- singleLine=true, treeView=true.snap.png
  cypress/snapshots/finai/chromium/Select/Select -- view=accent target=button-like.snap.png
  cypress/snapshots/finai/chromium/Slider/Slider -- view=accent, size=m.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- Steps vertical, isLoading.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- _hasLine.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- with title current.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- with title hasContent.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- with title, bullets current.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- with title, bullets.snap.png
  cypress/snapshots/finai/chromium/Steps/Steps -- vertical -- with title.snap.png
Due: none

chore(finai): update snapshots [webkit]
  cypress/snapshots/finai/webkit/Button/Button -- focused.snap.png
  cypress/snapshots/finai/webkit/Button/Button -- view=accent, size=l, stretching=filled.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- size=l.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- size=m.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- size=s.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- size=xs.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- stretch double.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- stretch single.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar -- view=default, size=xl.snap.png
  cypress/snapshots/finai/webkit/Calendar/Calendar keyboard navigation -- navigate with `Down`, `Left`, `Up`, `Right` arrows.snap.png
  cypress/snapshots/finai/webkit/Calendar/CalendarRange -- range in progress with disabled.snap.png
  cypress/snapshots/finai/webkit/Calendar/CalendarRange -- range in progress.snap.png
  cypress/snapshots/finai/webkit/Combobox/Combobox -- singleLine=false, treeView=false.snap.png
  cypress/snapshots/finai/webkit/Combobox/Combobox -- singleLine=false, treeView=true.snap.png
  cypress/snapshots/finai/webkit/Combobox/Combobox -- singleLine=true, treeView=false.snap.png
  cypress/snapshots/finai/webkit/Combobox/Combobox -- singleLine=true, treeView=true.snap.png
  cypress/snapshots/finai/webkit/DateTimePicker/DateTimePicker -- with hint.snap.png
  cypress/snapshots/finai/webkit/NumberInput/NumberInput -- view=accent, size=s, segmentation=solid.snap.png
  cypress/snapshots/finai/webkit/Range/Range -- simple divider as icon.snap.png
  cypress/snapshots/finai/webkit/Select/Select -- chipView=accent multiselect.snap.png
  cypress/snapshots/finai/webkit/Select/Select -- singleLine=false, treeView=false.snap.png
  cypress/snapshots/finai/webkit/Select/Select -- singleLine=false, treeView=true.snap.png
  cypress/snapshots/finai/webkit/Select/Select -- singleLine=true, treeView=false.snap.png
  cypress/snapshots/finai/webkit/Select/Select -- singleLine=true, treeView=true.snap.png
  cypress/snapshots/finai/webkit/Select/Select -- view=accent target=button-like.snap.png
  cypress/snapshots/finai/webkit/Slider/Slider -- focus.snap.png
  cypress/snapshots/finai/webkit/Slider/Slider -- view=accent, size=m.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- Steps vertical, isLoading.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- _hasLine.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- with title current.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- with title hasContent.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- with title, bullets current.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- with title, bullets.snap.png
  cypress/snapshots/finai/webkit/Steps/Steps -- vertical -- with title.snap.png
Due: none

fix(plasma-giga): update theme
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
Due: eslint --fix, prettier --write

fix: use theme `sdds_sbcom@0.1.10`
  packages/sdds-sbcom/package-lock.json
  packages/sdds-sbcom/package.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
