Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-new-hope): add TextFieldSlider
  packages/plasma-new-hope/src/components/TextField/variations/_read-only/base.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.component-test.tsx
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.styles.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.template-doc.mdx
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.tokens.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.tsx
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.types.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/index.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/ui/Input/Input.tsx
  packages/plasma-new-hope/src/components/TextFieldSlider/ui/Slider/Slider.styles.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/ui/Slider/Slider.tsx
  packages/plasma-new-hope/src/components/TextFieldSlider/ui/index.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/utils/index.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/variations/_hint-size/base.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/variations/_hint-view/base.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/variations/_readonly/base.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/variations/_size/base.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/variations/_slider-view/base.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.ts
  packages/plasma-new-hope/src/index.ts
  packages/sdds-finai/src/components/Attach/Attach.stories.tsx
  utils/plasma-sb-utils/src/components/TextFieldSlider/TextFieldSlider.tsx
  utils/plasma-sb-utils/src/components/TextFieldSlider/fixtures.ts
  utils/plasma-sb-utils/src/components/TextFieldSlider/index.ts
  utils/plasma-sb-utils/src/components/TextFieldSlider/meta.ts
  utils/plasma-sb-utils/src/components/TextFieldSlider/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: add TextFieldSliderDocs
  website/plasma-b2c-docs/docs/components/TextFieldSlider.mdx
  website/plasma-giga-docs/docs/components/TextFieldSlider.mdx
  website/plasma-web-docs/docs/components/TextFieldSlider.mdx
  website/sdds-dfa-docs/docs/components/TextFieldSlider.mdx
  website/sdds-netology-docs/docs/components/TextFieldSlider.mdx
  website/sdds-scan-docs/docs/components/TextFieldSlider.mdx
  website/sdds-serv-docs/docs/components/TextFieldSlider.mdx
Due: none

feat(sdds-*): add TextFieldSlider
  packages/sdds-bizcom/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-bizcom/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-bizcom/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/sdds-bizcom/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/sdds-bizcom/src/components/TextFieldSlider/index.ts
  packages/sdds-bizcom/src/index.ts
  packages/sdds-dfa/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-dfa/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-dfa/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/sdds-dfa/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/sdds-dfa/src/components/TextFieldSlider/index.ts
  packages/sdds-dfa/src/index.ts
  packages/sdds-netology/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-netology/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-netology/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/sdds-netology/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/sdds-netology/src/components/TextFieldSlider/index.ts
  packages/sdds-netology/src/index.ts
  packages/sdds-scan/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-scan/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-scan/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/sdds-scan/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/sdds-scan/src/components/TextFieldSlider/index.ts
  packages/sdds-scan/src/index.ts
  packages/sdds-serv/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/sdds-serv/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/sdds-serv/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/sdds-serv/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/sdds-serv/src/components/TextFieldSlider/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add secondary box-shadow to DatePicker
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tokens.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.styles.ts
Due: eslint --fix, prettier --write

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-bizcom/package.json
  packages/sdds-crm/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package.json
  packages/sdds-insol/package.json
  packages/sdds-netology/package.json
  packages/sdds-os/package.json
  packages/sdds-platform-ai/package.json
  packages/sdds-scan/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-crm-docs/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-platform-ai-docs/package.json
  website/sdds-scan-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

feat(plasma-*): add TextFieldSlider
  packages/plasma-b2c/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-b2c/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/plasma-b2c/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/plasma-b2c/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/plasma-b2c/src/components/TextFieldSlider/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-giga/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-giga/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/plasma-giga/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/plasma-giga/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/plasma-giga/src/components/TextFieldSlider/index.ts
  packages/plasma-giga/src/index.ts
  packages/plasma-web/src/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-web/src/components/TextFieldSlider/TextFieldSlider.config.ts
  packages/plasma-web/src/components/TextFieldSlider/TextFieldSlider.stories.tsx
  packages/plasma-web/src/components/TextFieldSlider/TextFieldSlider.ts
  packages/plasma-web/src/components/TextFieldSlider/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add readOnly tokens in `plasma_web`, `plasma_b2c` and `plasma_giga` themes
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/data/themes/plasma_giga.json
  packages/plasma-tokens/data/themes/plasma_giga_app.json
  packages/plasma-tokens/data/themes/plasma_web.json
  packages/plasma-tokens/data/themes/plasma_web_ACTUAL_TYPOGRAPHY.json
  packages/plasma-tokens/src/brands/plasma_b2c/index.ts
  packages/plasma-tokens/src/brands/plasma_giga/index.ts
  packages/plasma-tokens/src/brands/plasma_giga_app/index.ts
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/brands/plasma_web_ACTUAL_TYPOGRAPHY/index.ts
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
  packages/plasma-tokens/src/themes/plasma_giga__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga__light.ts
  packages/plasma-tokens/src/themes/plasma_giga_app__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga_app__light.ts
  packages/plasma-tokens/src/themes/plasma_web_ACTUAL_TYPOGRAPHY__dark.ts
  packages/plasma-tokens/src/themes/plasma_web_ACTUAL_TYPOGRAPHY__light.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-themes): Update `plasma_web`, `plasma_b2c` and `plasma_giga` themes
  packages/themes/plasma-themes/src/css/plasma_b2c.module.css
  packages/themes/plasma-themes/src/css/plasma_b2c__dark.css
  packages/themes/plasma-themes/src/css/plasma_b2c__light.css
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/css/plasma_giga_app.module.css
  packages/themes/plasma-themes/src/css/plasma_giga_app__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga_app__light.css
  packages/themes/plasma-themes/src/css/plasma_web.module.css
  packages/themes/plasma-themes/src/css/plasma_web_ACTUAL_TYPOGRAPHY.module.css
  packages/themes/plasma-themes/src/css/plasma_web_ACTUAL_TYPOGRAPHY__dark.css
  packages/themes/plasma-themes/src/css/plasma_web_ACTUAL_TYPOGRAPHY__light.css
  packages/themes/plasma-themes/src/css/plasma_web__dark.css
  packages/themes/plasma-themes/src/css/plasma_web__light.css
  packages/themes/plasma-themes/src/themes/plasma_b2c__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_b2c__light.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/themes/plasma_giga_app__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga_app__light.ts
  packages/themes/plasma-themes/src/themes/plasma_web_ACTUAL_TYPOGRAPHY__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_web_ACTUAL_TYPOGRAPHY__light.ts
  packages/themes/plasma-themes/src/themes/plasma_web__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_web__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_b2c/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga_app/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_web/index.ts
  packages/themes/plasma-themes/src/tokens/plasma_web_ACTUAL_TYPOGRAPHY/index.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): fix TimePicker styles
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.styles.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tokens.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

test: add TimePicker snaps
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2299] TimePicker size=s, enableContentLeft, enableContentRight.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2300] TimePicker size=s, enableContentRight.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2301] TimePicker size=s, enableContentLeft.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2303] TimePicker dropdownAlign=left, columnsQuantity=3.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2304] TimePicker dropdownAlign=right, columnsQuantity=2, dropdownWidth=fixed.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2305] TimePicker dropdownWidth=fullWidth.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2306] TimePicker readOnly.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2307] TimePicker disabled.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2308] TimePicker input time.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2309] TimePicker select time from popover.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-] TimePicker dropdownWidth=35rem, dropdownHeight=10rem.snap.png
Due: none

docs: add TimePicker docs
  website/sdds-cs-docs/docs/components/TimePicker.mdx
Due: none

test: update TimePicker tests
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2303] TimePicker dropdownAlign=left, columnsQuantity=3.snap.png
  cypress/snapshots/cs/TimePicker/sdds-cs TimePicker -- [PLASMA-T2308] TimePicker input time.snap.png
  cypress/snapshots/giga/TimePicker/plasma-b2c TimePicker -- input time.snap.png
  cypress/snapshots/giga/TimePicker/plasma-b2c TimePicker -- select time from popover.snap.png
  cypress/snapshots/giga/TimePicker/plasma-giga TimePicker -- [PLASMA-T2303] TimePicker dropdownAlign=left, columnsQuantity=3.snap.png
  cypress/snapshots/giga/TimePicker/plasma-giga TimePicker -- [PLASMA-T2304] TimePicker dropdownAlign=right, columnsQuantity=2, dropdownWidth=fixed.snap.png
  cypress/snapshots/giga/TimePicker/plasma-giga TimePicker -- [PLASMA-T2305] TimePicker dropdownWidth=fullWidth.snap.png
  cypress/snapshots/giga/TimePicker/plasma-giga TimePicker -- [PLASMA-T2308] TimePicker input time.snap.png
  cypress/snapshots/giga/TimePicker/plasma-giga TimePicker -- [PLASMA-T2309] TimePicker select time from popover.snap.png
  cypress/snapshots/giga/TimePicker/plasma-giga TimePicker -- [PLASMA-] TimePicker dropdownWidth=35rem, dropdownHeight=10rem.snap.png
  cypress/snapshots/web/Select/plasma-web Select -- prop flip.snap.png
  cypress/snapshots/web/Select/plasma-web Select -- prop renderSelectionIcon multiple.snap.png
  cypress/snapshots/web/Select/plasma-web Select -- prop renderSelectionIcon single.snap.png
  cypress/snapshots/web/Select/plasma-web Select -- prop shift.snap.png
  cypress/snapshots/web/TimePicker/plasma-b2c TimePicker -- input time.snap.png
  cypress/snapshots/web/TimePicker/plasma-b2c TimePicker -- select time from popover.snap.png
  cypress/snapshots/web/TimePicker/plasma-web TimePicker -- [PLASMA-T2303] TimePicker dropdownAlign=left, columnsQuantity=3.snap.png
  cypress/snapshots/web/TimePicker/plasma-web TimePicker -- [PLASMA-T2304] TimePicker dropdownAlign=right, columnsQuantity=2, dropdownWidth=fixed.snap.png
  cypress/snapshots/web/TimePicker/plasma-web TimePicker -- [PLASMA-T2305] TimePicker dropdownWidth=fullWidth.snap.png
  cypress/snapshots/web/TimePicker/plasma-web TimePicker -- [PLASMA-T2308] TimePicker input time.snap.png
  cypress/snapshots/web/TimePicker/plasma-web TimePicker -- [PLASMA-T2309] TimePicker select time from popover.snap.png
  cypress/snapshots/web/TimePicker/plasma-web TimePicker -- [PLASMA-] TimePicker dropdownWidth=35rem, dropdownHeight=10rem.snap.png
Due: none

feat(sdds-cs): add TimePicker
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  packages/sdds-cs/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-cs/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-cs/src/components/TimePicker/TimePicker.ts
  packages/sdds-cs/src/components/TimePicker/TimePicker.update-test.component-test.tsx
  packages/sdds-cs/src/components/TimePicker/index.ts
  packages/sdds-cs/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add theme sdds_platform_ai
  packages/plasma-tokens/data/themes/sdds_platform_ai.json
  packages/plasma-tokens/src/brands/sdds_platform_ai/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__dark.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(platform_ai): Proccessing theme sdds_platform_ai
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/src/css/sdds_platform_ai.module.css
  packages/themes/sdds-themes/src/css/sdds_platform_ai__dark.css
  packages/themes/sdds-themes/src/css/sdds_platform_ai__light.css
  packages/themes/sdds-themes/src/themes/index.ts
  packages/themes/sdds-themes/src/themes/sdds_platform_ai__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_platform_ai__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_platform_ai/index.ts
Due: eslint --fix, prettier --write

fix(platform_ai): used sdds_platform_ai theme
  packages/sdds-platform-ai/.storybook/decoratorThemes.tsx
  packages/sdds-platform-ai/.storybook/preview.tsx
  packages/sdds-platform-ai/src/components/Tokens/Colors/Colors.stories.tsx
  packages/sdds-platform-ai/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-platform-ai/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-platform-ai/src/components/Tokens/Typography/Typography.stories.tsx
  packages/sdds-platform-ai/src/components/ViewContainer/ViewContainer.config.ts
  packages/sdds-platform-ai/src/mixins/index.ts
  packages/sdds-platform-ai/src/tokens/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(platform_ai): fix textAccent [PLASMA-6541]
  packages/plasma-tokens/data/themes/sdds_platform_ai.json
  packages/plasma-tokens/src/themes/sdds_platform_ai__light.ts
  packages/themes/sdds-themes/src/css/sdds_platform_ai.module.css
  packages/themes/sdds-themes/src/css/sdds_platform_ai__light.css
  packages/themes/sdds-themes/src/themes/sdds_platform_ai__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_platform_ai/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(platform_ai): add theme [PLASMA-6541]
  packages/plasma-tokens/data/themes/sdds_platform_ai.json
  packages/plasma-tokens/src/brands/sdds_platform_ai/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__dark.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

ci(sdds-crm): disabled package `sdds-crm`
  .github/config-ci.json
  .github/meta-prod.js
  .github/meta.js
Due: eslint --fix, prettier --write, prettier --write --parser json

ci(release-changelog-builder-action): use ignorePreReleases flag
  .github/changelog-builder-config.json
Due: prettier --write --parser json

fix(release-changelog-builder-action): use ignorePreReleases flag
  .github/changelog-builder-config.json
  .github/workflows/create-release-pr.yml
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
