Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-new-hope): part 8
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.styles.ts
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.tokens.ts
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.tsx
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.types.ts
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/Target.styles.ts
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/Target.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/Target.types.ts
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Button/Button.styles.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Button/Button.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/SelectNew/SelectNew.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/SelectNew/SelectNew.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): part 27
  packages/plasma-b2c/src/components/Pagination/Pagination.config.ts
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Pagination/Pagination.tokens.ts
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.types.ts
  packages/plasma-new-hope/src/components/Pagination/ui/PaginationSelectPerPage/PaginationSelectPerPage.styles.ts
  packages/plasma-new-hope/src/components/Pagination/ui/PaginationSelectPerPage/PaginationSelectPerPage.tsx
  packages/plasma-new-hope/src/components/Pagination/ui/PaginationSelectPerPage/PaginationSelectPerPage.types.ts
  packages/plasma-new-hope/src/components/Select/Select.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/elements/Inner/Inner.tsx
  packages/plasma-new-hope/src/components/Select/elements/Inner/Inner.type.ts
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Button/Button.styles.tsx
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Button/Button.tsx
  packages/plasma-new-hope/src/engines/common.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Pagination/Pagination.config.ts
  packages/plasma-web/src/components/Pagination/Pagination.config.ts
  packages/sdds-serv/src/components/Pagination/Pagination.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): part 24
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.styles.ts
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.tokens.ts
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Button/Button.styles.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/SelectNew/SelectNew.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): part 25
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-b2c/src/components/Select/Select.tsx
  packages/plasma-new-hope/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): part 30
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-b2c/src/components/Select/Select.perftest.tsx
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-b2c/src/components/Select/Select.tsx
  packages/plasma-b2c/src/components/Select/index.ts
  packages/plasma-b2c/src/components/Select/style.css
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-new-hope/src/components/Pagination/ui/PaginationSelectPerPage/PaginationSelectPerPage.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/hooks/useKeyboardNavigation.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.tsx
  packages/plasma-web/src/components/Select/index.ts
  packages/plasma-web/src/components/Select/style.css
  website/plasma-web-docs/docs/components/Select.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): part 23
  packages/plasma-new-hope/src/components/Chip/Chip.styles.ts
  packages/plasma-new-hope/src/components/Chip/Chip.tokens.ts
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.tokens.ts
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.tsx
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.types.ts
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/Target.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/Target.types.ts
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Textfield/elements/Chip/Chip.styles.ts
  packages/plasma-new-hope/src/components/SelectNew/hooks/usePathMaps.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/SelectNew/SelectNew.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/SelectNew/SelectNew.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): part 28
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- clickOnContent.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setInput.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setSelect.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- avrSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- maxSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _size.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _view.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _viewCurrentPage.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- default.snap.png
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- type.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- clickOnContent.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setInput.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Content -- setSelect.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- avrSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- maxSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _size.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _view.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- _viewCurrentPage.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- default.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Styled -- type.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-new-hope/src/components/Pagination/ui/PaginationSelectPerPage/PaginationSelectPerPage.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.ts
  packages/sdds-serv/src/components/Select/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): part 29
  packages/plasma-new-hope/src/components/Chip/Chip.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/elements/Inner/Inner.tsx
  packages/plasma-new-hope/src/components/Select/elements/Inner/elements/Item/Item.tsx
  packages/plasma-new-hope/src/components/Select/elements/Inner/elements/Item/Item.types.ts
  packages/plasma-new-hope/src/components/Select/elements/Target/Target.tsx
  packages/plasma-new-hope/src/components/Select/elements/Target/Target.types.ts
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Button/Button.styles.tsx
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Button/Button.tsx
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Button/Button.types.ts
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Textfield/Textfield.types.ts
  packages/plasma-new-hope/src/components/Select/hooks/useKeyboardNavigation.ts
  packages/plasma-new-hope/src/components/Select/utils/getButtonLabel.ts
  packages/plasma-new-hope/src/components/Select/utils/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): part 31
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/elements/SelectNotFoundContent/SelectNotFoundContent.types.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/style.css
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): part 32
  packages/caldera-online/api/caldera-online.api.md
  packages/caldera-online/src/components/Select/Select.config.ts
  packages/caldera-online/src/components/Select/Select.stories.tsx
  packages/caldera-online/src/components/Select/Select.tsx
  packages/caldera-online/src/components/Select/index.ts
  packages/caldera-online/src/components/Select/style.css
  packages/caldera-online/src/index.ts
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.tsx
  packages/sdds-serv/src/components/Select/index.ts
  packages/sdds-serv/src/components/Select/style.css
  packages/sdds-serv/src/index.ts
  website/plasma-web-docs/docs/components/Select.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): part 22
  packages/plasma-new-hope/src/components/SelectNew/SelectNew.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/Target.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/Target.types.ts
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Button/Button.tsx
  packages/plasma-new-hope/src/components/SelectNew/elements/Target/elements/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/SelectNew/SelectNew.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): part 33
  packages/caldera-online/src/components/Select/Select.stories.tsx
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/components/Select/elements/Inner/elements/Item/Item.styles.ts
  packages/plasma-new-hope/src/components/Select/elements/Target/elements/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.perftest.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): E
  packages/plasma-icons/src/scalable/Icon.svg.24/EducationFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/EducationOutline.svg
Due: none

feat(plasma-new-hope): part 34
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/elements/Inner/elements/Item/Item.tsx
  website/plasma-web-docs/docs/components/Select.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): temporary commit
  .github/config-ci.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package-lock.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(new-hope): Accordion Component
  packages/plasma-new-hope/src/components/Accordion/Accordion.styles.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/Accordion.types.ts
  packages/plasma-new-hope/src/components/Accordion/index.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.types.ts
  packages/plasma-new-hope/src/components/Accordion/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Accordion/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Accordion/variations/_stretching/base.ts
  packages/plasma-new-hope/src/components/Accordion/variations/_stretching/tokens.json
  packages/plasma-new-hope/src/components/Accordion/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Accordion/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(new-hope): Accordion add to web, b2c and docs
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _size.snap.png
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _type.snap.png
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _viewclear.snap.png
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- animation.snap.png
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- simple.snap.png
  cypress/snapshots/web/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _size.snap.png
  cypress/snapshots/web/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _type.snap.png
  cypress/snapshots/web/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _viewclear.snap.png
  cypress/snapshots/web/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- animation.snap.png
  cypress/snapshots/web/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- simple.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Accordion/Accordion.component-test.tsx
  packages/plasma-b2c/src/components/Accordion/Accordion.config.ts
  packages/plasma-b2c/src/components/Accordion/Accordion.stories.tsx
  packages/plasma-b2c/src/components/Accordion/Accordion.tsx
  packages/plasma-b2c/src/components/Accordion/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/Accordion.types.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.types.ts
  packages/plasma-new-hope/src/components/Accordion/utils/index.ts
  packages/plasma-new-hope/src/components/Accordion/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Accordion/variations/_stretching/tokens.json
  packages/plasma-new-hope/src/components/Accordion/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Accordion/Accordion.component-test.tsx
  packages/plasma-web/src/components/Accordion/Accordion.config.ts
  packages/plasma-web/src/components/Accordion/Accordion.stories.tsx
  packages/plasma-web/src/components/Accordion/Accordion.tsx
  packages/plasma-web/src/components/Accordion/index.ts
  packages/plasma-web/src/index.ts
  website/plasma-web-docs/docs/components/Accordion.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(new-hope): Accordion Sign Anumation
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/ChevronDownFill.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/Minus.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconChevronDownFill.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconMinus.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): Add disabled, change function and more props
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Accordion/Accordion.stories.tsx
  packages/plasma-b2c/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/Accordion.styles.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/Accordion.types.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.types.ts
  packages/plasma-new-hope/src/components/Accordion/utils/index.ts
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/ChevronDownFill.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Accordion/Accordion.component-test.tsx
  packages/plasma-web/src/components/Accordion/Accordion.stories.tsx
  packages/plasma-web/src/components/Accordion/Accordion.tsx
  website/plasma-web-docs/docs/components/Accordion.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(new-hope): Add disabled, change function and more props
  cypress/snapshots/b2c/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _size.snap.png
  cypress/snapshots/web/components/Accordion/Accordion.component-test.tsx/plasma-web Accordion -- _size.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Accordion/Accordion.stories.tsx
  packages/plasma-b2c/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/Accordion.styles.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tsx
  packages/plasma-new-hope/src/components/Accordion/Accordion.types.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.types.ts
  packages/plasma-new-hope/src/components/Accordion/utils/index.ts
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/ChevronDownFill.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Accordion/Accordion.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Accordion/Accordion.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Accordion/Accordion.component-test.tsx
  packages/plasma-web/src/components/Accordion/Accordion.stories.tsx
  packages/plasma-web/src/components/Accordion/Accordion.tsx
  website/plasma-web-docs/docs/components/Accordion.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(sdds-serv): Fix switch types and auto fix docs
  packages/caldera-online/api/caldera-online.api.md
  packages/caldera-online/src/components/Switch/Switch.tsx
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-asdk/src/components/Switch/Switch.tsx
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Switch/Switch.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Switch/Switch.tsx
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Switch/Switch.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
