Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(sdds-serv/dfa): update DatePicker configs & stories
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add innerLabel support for DatePicker
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

fix: Fix Modal overflow-y side effect
  packages/plasma-new-hope/src/components/Modal/hooks/useModal.ts
  packages/plasma-new-hope/src/components/Popup/PopupContext.tsx
  packages/plasma-new-hope/src/components/Popup/hooks/usePopup.ts
  packages/plasma-web/src/components/ModalBase/ModalBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add DatePicker open by space
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/hooks/useKeyboardNavigation.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web/b2c): update DatePicker snapshots
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop size l.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop placement.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop size l.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop size l.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size l.snap.png
Due: none

fix(plasma-b2c/web): add DatePicker snapshot failure treshhold
  packages/plasma-b2c/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-ui): update TimePicker snapshots
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- label.snap.png
  cypress/snapshots/ui/components/Pickers/TimePicker.component-test.tsx/plasma-ui TimePicker -- should accept closest date.snap.png
Due: none

feat(plasma-ui): refactor TimePicker
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker/SimpleTimePicker.tsx
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker/SimpleTimePicker.types.ts
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker/index.ts
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker3.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker/TimePicker.styles.ts
  packages/plasma-ui/src/components/Pickers/TimePicker/TimePicker.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker/TimePicker.types.ts
  packages/plasma-ui/src/components/Pickers/TimePicker/constants.ts
  packages/plasma-ui/src/components/Pickers/TimePicker/index.ts
  packages/plasma-ui/src/components/Pickers/TimePicker/utils.ts
  packages/plasma-ui/src/components/Pickers/TimePicker3.tsx
  packages/plasma-ui/src/components/Pickers/types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): update TimePicker tests
  packages/plasma-ui/src/components/Pickers/TimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): remove old TimePicker
  packages/plasma-ui/src/components/Pickers/SimpleTimePicker3.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker3.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-ui/package.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-ui/package-lock.json
Due: prettier --write --parser json

feat(package): edit doc
  packages/sdds-cs/README.stories.mdx
  packages/sdds-cs/api/sdds-serv.api.md
  packages/sdds-cs/package-lock.json
  packages/sdds-cs/package.json
  packages/sdds-serv/api/sdds-cs.api.md
Due: prettier --write --parser markdown, prettier --write --parser json

feat(package): add git ci
  .eslintignore
  .github/config-ci.json
  .github/meta.js
  .github/workflows/documentation-deploy-prod.yml
  .github/workflows/documentation-deploy-stage-demo.yml
  .github/workflows/documentation-deploy-stage-dev.yml
  .github/workflows/documentation-pull-request-dev.yml
  .prettierignore
  packages/sdds-cs/README.md
  packages/sdds-cs/README.stories.mdx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/package-lock.json
  packages/sdds-cs/package.json
  packages/sdds-serv/api/sdds-cs.api.md
  packages/sdds-serv/package.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

Update versions
  packages/sdds-cs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-cs/package-lock.json
Due: prettier --write --parser json

fix(plasma-ui): fix TimePicker perftest
  packages/plasma-ui/src/components/Pickers/Pickers.perftest.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sdds-serv-docs,sdd-dfa-docs): Fix introducing page
  scaffold/template-docs/docs/intro.mdx
  website/sdds-dfa-docs/docs/intro.mdx
  website/sdds-serv-docs/docs/intro.mdx
Due: none

fix: fix Notification animation overflow
  packages/plasma-new-hope/src/components/Notification/NotificationsPortal.tsx
Due: eslint --fix, prettier --write, stylelint

feat(docs): add git ci cd
  .github/workflows/documentation-deploy-prod.yml
  .github/workflows/documentation-deploy-stage-demo.yml
  .github/workflows/documentation-deploy-stage-dev.yml
  packages/plasma-new-hope/CHANGELOG.md
  website/sdds-cs-docs/docusaurus.config.js
  website/sdds-cs-docs/package.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(docs): remove typo style
  website/sdds-cs-docs/docs/intro.mdx
  website/sdds-serv-docs/package-lock.json
Due: prettier --write --parser json
