Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-icons): Add icon `HelicopterFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/HelicopterFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/HelicopterFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/HelicopterFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Code`
  packages/plasma-icons/src/scalable/Icon.svg.16/Code.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Code.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Code.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

fix(): fix Slider thumb alignment [PLASMA-7366]
  packages/plasma-b2c/src/components/Slider/Slider.config.ts
  packages/plasma-giga/src/components/Slider/Slider.config.ts
  packages/plasma-homeds/src/components/Slider/Slider.config.ts
  packages/plasma-new-hope/src/components/Slider/Slider.component-test.tsx
  packages/plasma-new-hope/src/components/Slider/Slider.tokens.ts
  packages/plasma-new-hope/src/components/Slider/components/Double/Double.tsx
  packages/plasma-new-hope/src/components/Slider/components/Single/Single.styles.ts
  packages/plasma-new-hope/src/components/Slider/components/Single/Single.tsx
  packages/plasma-new-hope/src/components/Slider/components/SliderBase/SliderBase.styles.ts
  packages/plasma-new-hope/src/components/Slider/utils/getSingleSliderLayout.ts
  packages/plasma-new-hope/src/examples/components/Slider/Slider.config.ts
  packages/plasma-web/src/components/Slider/Slider.config.ts
  packages/sdds-bizcom/src/components/Slider/Slider.config.ts
  packages/sdds-cs/src/components/Slider/Slider.config.ts
  packages/sdds-dfa/src/components/Slider/Slider.config.ts
  packages/sdds-finai/src/components/Slider/Slider.config.ts
  packages/sdds-insol/src/components/Slider/Slider.config.ts
  packages/sdds-netology/src/components/Slider/Slider.config.ts
  packages/sdds-platform-ai/src/components/Slider/Slider.config.ts
  packages/sdds-sbcom/src/components/Slider/Slider.config.ts
  packages/sdds-scan/src/components/Slider/Slider.config.ts
  packages/sdds-serv/src/components/Slider/Slider.config.ts
Due: eslint --fix, prettier --write, stylelint

feat: make semantic dom for gradient painting of text nodes
  packages/plasma-new-hope/src/components/Badge/Badge.styles.ts
  packages/plasma-new-hope/src/components/Badge/Badge.template-doc.mdx
  packages/plasma-new-hope/src/components/Badge/Badge.tsx
  packages/plasma-new-hope/src/components/Badge/Badge.types.ts
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/Button.template-doc.mdx
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Button/Button.types.ts
  packages/plasma-new-hope/src/components/Chip/Chip.styles.ts
  packages/plasma-new-hope/src/components/Chip/Chip.template-doc.mdx
  packages/plasma-new-hope/src/components/Chip/Chip.tsx
  packages/plasma-new-hope/src/components/Chip/Chip.types.ts
  packages/plasma-new-hope/src/mixins/index.ts
  packages/plasma-new-hope/src/mixins/withTextGradient.ts
  packages/plasma-new-hope/src/types/TextGradientProps.ts
  packages/plasma-new-hope/src/types/index.ts
  packages/plasma-new-hope/src/utils/constants.ts
  utils/plasma-sb-utils/src/components/Badge/meta.ts
  utils/plasma-sb-utils/src/components/Badge/stories.tsx
  utils/plasma-sb-utils/src/components/Button/meta.ts
  utils/plasma-sb-utils/src/components/Button/stories.tsx
  utils/plasma-sb-utils/src/components/Chip/meta.ts
  utils/plasma-sb-utils/src/components/Chip/stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add withTextGradient mixin [only for history reference]
  packages/plasma-new-hope/src/components/Badge/Badge.styles.ts
  packages/plasma-new-hope/src/components/Badge/Badge.tsx
  packages/plasma-new-hope/src/components/Badge/Badge.types.ts
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Button/Button.types.ts
  packages/plasma-new-hope/src/components/Chip/Chip.styles.ts
  packages/plasma-new-hope/src/components/Chip/Chip.tsx
  packages/plasma-new-hope/src/components/Chip/Chip.types.ts
  packages/plasma-new-hope/src/mixins/index.ts
  packages/plasma-new-hope/src/mixins/withTextGradient.ts
  packages/plasma-new-hope/src/types/TextGradientProps.ts
  packages/plasma-new-hope/src/types/index.ts
  utils/plasma-sb-utils/src/components/Badge/Badge.tsx
  utils/plasma-sb-utils/src/components/Badge/fixtures.ts
  utils/plasma-sb-utils/src/components/Badge/meta.ts
  utils/plasma-sb-utils/src/components/Badge/stories.tsx
  utils/plasma-sb-utils/src/components/Button/meta.ts
  utils/plasma-sb-utils/src/components/Button/stories.tsx
  utils/plasma-sb-utils/src/components/Chip/meta.ts
  utils/plasma-sb-utils/src/components/Chip/stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: refactor Badge stories
  packages/plasma-homeds/src/components/Badge/Badge.stories.tsx
  packages/sdds-sbcom/src/components/Badge/Badge.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `HelicopterOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/HelicopterOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/HelicopterOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/HelicopterOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `InProgressFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/InProgressFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/InProgressFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/InProgressFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `InProgressOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/InProgressOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/InProgressOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/InProgressOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

docs: add FAQ page
  website/plasma-b2c-docs/docs/FAQ.mdx
  website/plasma-giga-docs/docs/FAQ.mdx
  website/plasma-homeds-docs/docs/FAQ.mdx
  website/plasma-web-docs/docs/FAQ.mdx
  website/sdds-bizcom-docs/docs/FAQ.mdx
  website/sdds-cs-docs/docs/FAQ.mdx
  website/sdds-dfa-docs/docs/FAQ.mdx
  website/sdds-finai-docs/docs/FAQ.mdx
  website/sdds-insol-docs/docs/FAQ.mdx
  website/sdds-netology-docs/docs/FAQ.mdx
  website/sdds-platform-ai-docs/docs/FAQ.mdx
  website/sdds-sbcom-docs/docs/FAQ.mdx
  website/sdds-scan-docs/docs/FAQ.mdx
  website/sdds-serv-docs/docs/FAQ.mdx
Due: none

docs(sdds-serv): improve Card docs
  website/sdds-serv-docs/docs/components/Card.mdx
Due: none

fix(sdds-serv): improve Card docs
  website/sdds-serv-docs/docs/components/Card.mdx
Due: none

fix: fix authorMmUser value
  .github/workflows/create-release-pr.yml
Due: none

fix: use correct version for sdds-dfa
  website/sdds-dfa-docs/package.json
Due: prettier --write --parser json

feat(plasma-new-hope): stop native event on StyledPopover
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add `invariants` support for styled-component and emotions
  packages/plasma-new-hope/src/engines/emotion.tsx
  packages/plasma-new-hope/src/engines/styled-components.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add size support for `Link` component
  packages/plasma-new-hope/src/components/Link/Link.tokens.ts
  packages/plasma-new-hope/src/components/Link/Link.tsx
  packages/plasma-new-hope/src/components/Link/_size/base.ts
  packages/plasma-new-hope/src/components/Link/_size/tokens.json
  packages/plasma-new-hope/src/components/Link/_view/base.ts
  packages/plasma-new-hope/src/components/Link/_view/tokens.json
  packages/plasma-new-hope/src/engines/emotion.tsx
  packages/plasma-new-hope/src/examples/components/Link/Link.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

fix(plasma-new-hope): Fix `EmptyState` component
  packages/plasma-new-hope/src/components/EmptyState/EmptyState.tokens.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): Fix `Switch` component
  packages/plasma-new-hope/src/components/Switch/Switch.tokens.ts
  packages/plasma-new-hope/src/components/Switch/_disabled/base.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): Fix `Badge` component
  packages/plasma-new-hope/src/components/Badge/Badge.tokens.ts
Due: eslint --fix, prettier --write

fix: update sdds-sbcom text import & mdx structure
  website/plasma-b2c-docs/docs/components/Badge.mdx
  website/plasma-web-docs/docs/components/Badge.mdx
  website/sdds-dfa-docs/docs/components/Badge.mdx
  website/sdds-insol-docs/docs/components/Badge.mdx
  website/sdds-sbcom-docs/docs/components/Badge.mdx
  website/sdds-sbcom-docs/docs/components/Link.mdx
  website/sdds-serv-docs/docs/components/Badge.mdx
Due: none

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-homeds.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-os.json
  website/plasma-website/public/data/sdds-platform-ai.json
  website/plasma-website/public/data/sdds-sbcom.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser json

feat(): add figma skills
  .claude/skills/figma-component/SKILL.md
  .claude/skills/figma-layout/SKILL.md
Due: prettier --write --parser markdown

feat: update token name
  packages/sdds-cs/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write

feat: update token name
  packages/sdds-finai/src/components/Autocomplete/Autocomplete.viewMode.config.ts
  packages/sdds-finai/src/components/Combobox/Combobox.viewMode.config.ts
  packages/sdds-finai/src/components/Select/Select.viewMode.config.ts
  packages/sdds-finai/src/components/TextField/TextField.viewMode.config.ts
Due: eslint --fix, prettier --write

feat(new-hope): expand Avatar customText type
  packages/plasma-new-hope/src/components/Avatar/Avatar.types.ts
Due: eslint --fix, prettier --write

feat(new-hope): add helpers size tokens to TextArea
  packages/plasma-new-hope/src/components/TextArea/TextArea.styles.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tokens.ts
Due: eslint --fix, prettier --write

feat(sbcom): add offset tokens for TextField & TextArea
  packages/sdds-sbcom/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-sbcom/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-sbcom/src/components/TextArea/TextArea.tsx
  packages/sdds-sbcom/src/components/TextField/TextField.clear.config.ts
  packages/sdds-sbcom/src/components/TextField/TextField.stories.tsx
  packages/sdds-sbcom/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
