Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

fix(plasma-hope): fix typo [AudioPlayer]
  packages/plasma-hope/src/components/AudioPlayer/AudioPlayer.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): migrate to CSF 3 [PopupBase]
  packages/plasma-b2c/src/components/PopupBase/PopupBase.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): migrate to CSF 3 [Modal]
  packages/plasma-b2c/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): migrate to CSF 3 [PaginationDots]
  packages/plasma-b2c/src/components/PaginationDots/PaginationDots.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): migrate to CSF 3 [PreviewGallery]
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

chore(new-hope): migrate `preview.ts` for storybook@latest
  packages/plasma-new-hope/.storybook/preview.jsx
  packages/plasma-new-hope/.storybook/preview.ts
Due: eslint --fix, prettier --write, stylelint

chore(new-hope): migrate to CSF 3 [sds_engineer]
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Link/Link.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Popup/Popup.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Spinner/Spinner.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(new-hope): migrate to CSF 3 [plasma-web]
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Link/Link.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popup/Popup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Spinner/Spinner.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(new-hope): migrate to CSF 3 [plasma-b2c]
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Link/Link.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popup/Popup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Spinner/Spinner.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(new-hope): migrate to CSF 3 [typography]
  packages/plasma-new-hope/src/examples/typograpy/components/Body/Body.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Dspl/Dspl.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Heading/Heading.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Body/Body.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Caption/Caption.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Display/Display.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Footnote/Footnote.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Headline/Headline.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Paragraph/Paragraph.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Subtitle/Subtitle.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Old/Underline/Underline.stories.tsx
  packages/plasma-new-hope/src/examples/typograpy/components/Text/Text.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(new-hope): migrate main.js for storybook@latest
  packages/plasma-new-hope/.storybook/main.js
  packages/plasma-new-hope/.storybook/main.ts
Due: eslint --fix, prettier --write

chore(new-hope): bump `@linaria` deps
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

chore: delete unnecessary options
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

chore(new-hope): resolved "No longer inferring default values of args"
  packages/plasma-new-hope/src/examples/_helpers.tsx
Due: eslint --fix, prettier --write, stylelint

chore: bump storybook to @latest (7.5.3)
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

chore(hope): delete unnecessary storybook, react-scripts deps
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
Due: prettier --write --parser json

chore(hope): fix critical several vulnerability
  packages/plasma-hope/package-lock.json
Due: prettier --write --parser json

chore(plasma-b2c): migrate `preview.ts` to Storybook 7.*
  packages/plasma-b2c/.storybook/preview.jsx
  packages/plasma-b2c/.storybook/preview.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): add decorators for theme, toast entity
  packages/plasma-b2c/.storybook/decoratorThemes.tsx
  packages/plasma-b2c/.storybook/decoratorToast.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): migrate `main.ts` to Storybook 7.*
  packages/plasma-b2c/.storybook/main.js
  packages/plasma-b2c/.storybook/main.ts
Due: eslint --fix, prettier --write

chore(plasma-b2c): delete unnecessary options
  packages/plasma-b2c/package.json
Due: prettier --write --parser json

chore(plasma-b2c): bump storybook to @latest (7.5.3)
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
Due: prettier --write --parser json

ci: revert HAS_PLASMA_WEBSITE flag for build documentation
  .github/processing-scope.js
Due: eslint --fix, prettier --write
