Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/SpeedHighOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SpeedHighOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SpeedHighOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-icons): Add 27 icons
  packages/sdds-icons/svg/16/ProfilePinFill.svg
  packages/sdds-icons/svg/16/ProfilePinOutline.svg
  packages/sdds-icons/svg/16/ProfilePinOutlineBold.svg
  packages/sdds-icons/svg/16/ProfileUnpinFill.svg
  packages/sdds-icons/svg/16/ProfileUnpinOutline.svg
  packages/sdds-icons/svg/16/ProfileUnpinOutlineBold.svg
  packages/sdds-icons/svg/16/ScreenSharePinFill.svg
  packages/sdds-icons/svg/16/ScreenSharePinOutline.svg
  packages/sdds-icons/svg/16/ScreenSharePinOutlineBold.svg
  packages/sdds-icons/svg/16/ScreenShareUnpinFill.svg
  packages/sdds-icons/svg/16/ScreenShareUnpinOutline.svg
  packages/sdds-icons/svg/16/ScreenShareUnpinOutlineBold.svg
  packages/sdds-icons/svg/16/SearchAIFill.svg
  packages/sdds-icons/svg/16/SearchAIOutline.svg
  packages/sdds-icons/svg/16/SearchAIOutlineBold.svg
  packages/sdds-icons/svg/16/SpeedHighOutline.svg
  packages/sdds-icons/svg/16/SpeedHighOutlineBold.svg
  packages/sdds-icons/svg/16/SpeedLowOutline.svg
  packages/sdds-icons/svg/16/SpeedLowOutlineBold.svg
  packages/sdds-icons/svg/16/SpeedMediumOutline.svg
  packages/sdds-icons/svg/16/SpeedMediumOutlineBold.svg
  packages/sdds-icons/svg/16/TextAlignCenterOutline.svg
  packages/sdds-icons/svg/16/TextAlignCenterOutlineBold.svg
  packages/sdds-icons/svg/16/TextAlignLeftOutline.svg
  packages/sdds-icons/svg/16/TextAlignLeftOutlineBold.svg
  packages/sdds-icons/svg/16/TextAlignRightOutline.svg
  packages/sdds-icons/svg/16/TextAlignRightOutlineBold.svg
Due: none

feat(sdds-icons): Add 27 icons
  packages/sdds-icons/svg/24/ProfilePinFill.svg
  packages/sdds-icons/svg/24/ProfilePinOutline.svg
  packages/sdds-icons/svg/24/ProfilePinOutlineBold.svg
  packages/sdds-icons/svg/24/ProfileUnpinFill.svg
  packages/sdds-icons/svg/24/ProfileUnpinOutline.svg
  packages/sdds-icons/svg/24/ProfileUnpinOutlineBold.svg
  packages/sdds-icons/svg/24/ScreenSharePinFill.svg
  packages/sdds-icons/svg/24/ScreenSharePinOutline.svg
  packages/sdds-icons/svg/24/ScreenSharePinOutlineBold.svg
  packages/sdds-icons/svg/24/ScreenShareUnpinFill.svg
  packages/sdds-icons/svg/24/ScreenShareUnpinOutline.svg
  packages/sdds-icons/svg/24/ScreenShareUnpinOutlineBold.svg
  packages/sdds-icons/svg/24/SearchAIFill.svg
  packages/sdds-icons/svg/24/SearchAIOutline.svg
  packages/sdds-icons/svg/24/SearchAIOutlineBold.svg
  packages/sdds-icons/svg/24/SpeedHighOutline.svg
  packages/sdds-icons/svg/24/SpeedHighOutlineBold.svg
  packages/sdds-icons/svg/24/SpeedLowOutline.svg
  packages/sdds-icons/svg/24/SpeedLowOutlineBold.svg
  packages/sdds-icons/svg/24/SpeedMediumOutline.svg
  packages/sdds-icons/svg/24/SpeedMediumOutlineBold.svg
  packages/sdds-icons/svg/24/TextAlignCenterOutline.svg
  packages/sdds-icons/svg/24/TextAlignCenterOutlineBold.svg
  packages/sdds-icons/svg/24/TextAlignLeftOutline.svg
  packages/sdds-icons/svg/24/TextAlignLeftOutlineBold.svg
  packages/sdds-icons/svg/24/TextAlignRightOutline.svg
  packages/sdds-icons/svg/24/TextAlignRightOutlineBold.svg
Due: none

feat(sdds-icons): Add 27 icons
  packages/sdds-icons/svg/36/ProfilePinFill.svg
  packages/sdds-icons/svg/36/ProfilePinOutline.svg
  packages/sdds-icons/svg/36/ProfilePinOutlineBold.svg
  packages/sdds-icons/svg/36/ProfileUnpinFill.svg
  packages/sdds-icons/svg/36/ProfileUnpinOutline.svg
  packages/sdds-icons/svg/36/ProfileUnpinOutlineBold.svg
  packages/sdds-icons/svg/36/ScreenSharePinFill.svg
  packages/sdds-icons/svg/36/ScreenSharePinOutline.svg
  packages/sdds-icons/svg/36/ScreenSharePinOutlineBold.svg
  packages/sdds-icons/svg/36/ScreenShareUnpinFill.svg
  packages/sdds-icons/svg/36/ScreenShareUnpinOutline.svg
  packages/sdds-icons/svg/36/ScreenShareUnpinOutlineBold.svg
  packages/sdds-icons/svg/36/SearchAIFill.svg
  packages/sdds-icons/svg/36/SearchAIOutline.svg
  packages/sdds-icons/svg/36/SearchAIOutlineBold.svg
  packages/sdds-icons/svg/36/SpeedHighOutline.svg
  packages/sdds-icons/svg/36/SpeedHighOutlineBold.svg
  packages/sdds-icons/svg/36/SpeedLowOutline.svg
  packages/sdds-icons/svg/36/SpeedLowOutlineBold.svg
  packages/sdds-icons/svg/36/SpeedMediumOutline.svg
  packages/sdds-icons/svg/36/SpeedMediumOutlineBold.svg
  packages/sdds-icons/svg/36/TextAlignCenterOutline.svg
  packages/sdds-icons/svg/36/TextAlignCenterOutlineBold.svg
  packages/sdds-icons/svg/36/TextAlignLeftOutline.svg
  packages/sdds-icons/svg/36/TextAlignLeftOutlineBold.svg
  packages/sdds-icons/svg/36/TextAlignRightOutline.svg
  packages/sdds-icons/svg/36/TextAlignRightOutlineBold.svg
Due: none

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/SpeedLowOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SpeedLowOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SpeedLowOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `IconNameTest`
  packages/plasma-icons/src/scalable/Icon.svg.16/SpeedMediumOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SpeedMediumOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SpeedMediumOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Update package-lock.json files
  package-lock.json
Due: prettier --write --parser json

feat: update TextField token
  package-lock.json
  packages/sdds-vc/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(new-hope): TextField-like components titleCaption offset
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tokens.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/Combobox/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Combobox/ui/Target/Target.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.tokens.ts
  packages/plasma-new-hope/src/components/DateTimePicker/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/InformationWrapper/InformationWrapper.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.styles.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tokens.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.tokens.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/ui/Input/Input.styles.ts
  packages/plasma-new-hope/src/examples/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/components/DatePicker/DatePicker.clear.config.ts
  packages/plasma-new-hope/src/examples/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/components/DateTimePicker/DateTimePicker.clear.config.ts
  packages/plasma-new-hope/src/examples/components/DateTimePicker/DateTimePicker.config.ts
  packages/plasma-new-hope/src/examples/components/InformationWrapper/InformationWrapper.config.ts
  packages/plasma-new-hope/src/examples/components/Range/Range.clear.config.ts
  packages/plasma-new-hope/src/examples/components/Range/Range.config.ts
  packages/plasma-new-hope/src/examples/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/components/TextArea/TextArea.clear.config.ts
  packages/plasma-new-hope/src/examples/components/TextArea/TextArea.config.ts
  packages/plasma-new-hope/src/examples/components/TextField/TextField.clear.config.ts
  packages/plasma-new-hope/src/examples/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.clear.config.ts
  packages/plasma-new-hope/src/examples/components/TextFieldSlider/TextFieldSlider.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol-next): Add buttonStretching demo to Notification stories
  packages/sdds-insol-next/src/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-giga): change Dropzone hover border color
  packages/plasma-giga/src/components/Dropzone/Dropzone.config.ts
Due: eslint --fix, prettier --write

fix: fix docs example DatePicker
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.template-doc.mdx
  website/plasma-b2c-docs/docs/components/DatePicker.mdx
  website/plasma-giga-docs/docs/components/data-entry/DatePicker.mdx
  website/plasma-homeds-docs/docs/components/DatePicker.mdx
  website/plasma-web-docs/docs/components/DatePicker.mdx
  website/sdds-bizcom-docs/docs/components/DatePicker.mdx
  website/sdds-cs-docs/docs/components/data-entry/DatePicker.mdx
  website/sdds-dfa-docs/docs/components/DatePicker.mdx
  website/sdds-insol-docs/docs/components/DatePicker.mdx
  website/sdds-insol-next-docs/docs/components/DatePicker.mdx
  website/sdds-netology-docs/docs/components/DatePicker.mdx
  website/sdds-platform-ai-docs/docs/components/DatePicker.mdx
  website/sdds-sbcom-docs/docs/components/DatePicker.mdx
  website/sdds-serv-docs/docs/components/data-entry/DatePicker.mdx
Due: none

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-homeds.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-icons.json
  website/plasma-website/public/data/sdds-insol-next.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-os.json
  website/plasma-website/public/data/sdds-platform-ai.json
  website/plasma-website/public/data/sdds-sbcom.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
  website/plasma-website/public/data/sdds-vc.json
Due: prettier --write --parser json

feat(): ci improvements
  .github/workflows/ci-lint.yml
  .github/workflows/publish-common.yml
  .github/workflows/publish-npm.yml
Due: none

feat(sdds-insol-next): Add Badge view info
  packages/sdds-insol-next/src/components/Badge/Badge.clear.config.ts
  packages/sdds-insol-next/src/components/Badge/Badge.config.ts
  packages/sdds-insol-next/src/components/Badge/Badge.transparent.config.ts
Due: eslint --fix, prettier --write

fix(plasma-giga): show CodeField error border and widen cell gap [PLASMA-8206]
  packages/plasma-giga/src/components/CodeField/CodeField.config.ts
Due: eslint --fix, prettier --write

feat: add usage tokens story [PLASMA-7979]
  packages/plasma-b2c/src/components/Tokens/Usage/Usage.stories.tsx
  packages/plasma-giga/src/components/Tokens/Usage/Usage.stories.tsx
  packages/plasma-homeds/src/components/Tokens/Usage/Usage.stories.tsx
  packages/plasma-web/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-bizcom/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-cs/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-dfa/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-finai/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-insol-next/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-insol/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-netology/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-os/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-platform-ai/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-sbcom/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-scan/src/components/Tokens/Usage/Usage.stories.tsx
  packages/sdds-serv/src/components/Tokens/Usage/Usage.stories.tsx
  utils/plasma-sb-utils/src/components/TokenUsage/TokenUsage.tsx
  utils/plasma-sb-utils/src/components/TokenUsage/index.ts
  utils/plasma-sb-utils/src/components/TokenUsage/meta.ts
  utils/plasma-sb-utils/src/components/TokenUsage/notify.ts
  utils/plasma-sb-utils/src/components/TokenUsage/stories.tsx
  utils/plasma-sb-utils/src/components/TokenUsage/styles.ts
  utils/plasma-sb-utils/src/components/TokenUsage/types.ts
  utils/plasma-sb-utils/src/components/index.ts
  utils/plasma-sb-utils/src/helpers/index.ts
  utils/plasma-sb-utils/src/helpers/tokenUsage.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

chore(sdds-insol-next): update Drawer snapshots
  cypress/snapshots/insol-next/chromium/Drawer/sdds-insol Drawer -- [PLASMA-T1618] Drawer placement=top, withBlur, asModal, closeOnEsc, showHeader, showFooter, showActions, hasClose, closePlacement=right, width=50vw, height 100dvh, borderRadius=none.snap.png
  cypress/snapshots/insol-next/webkit/Drawer/sdds-insol Drawer -- [PLASMA-T1618] Drawer placement=top, withBlur, asModal, closeOnEsc, showHeader, showFooter, showActions, hasClose, closePlacement=right, width=50vw, height 100dvh, borderRadius=none.snap.png
Due: none

feat(sdds_insol_next): update theme
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

fix(plasma-new-hope): fix TextArea autoResize inside hidden container
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/hooks/useAutoResize.ts
Due: eslint --fix, prettier --write, stylelint

docs: add size example for Segment [PLASMA-5685]
  packages/plasma-new-hope/src/components/Segment/Segment.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Segment.mdx
  website/plasma-giga-docs/docs/components/data-entry/Segment.mdx
  website/plasma-homeds-docs/docs/components/Segment.mdx
  website/plasma-web-docs/docs/components/Segment.mdx
  website/sdds-bizcom-docs/docs/components/Segment.mdx
  website/sdds-dfa-docs/docs/components/Segment.mdx
  website/sdds-finai-docs/docs/components/Segment.mdx
  website/sdds-insol-docs/docs/components/Segment.mdx
  website/sdds-insol-next-docs/docs/components/Segment.mdx
  website/sdds-netology-docs/docs/components/Segment.mdx
  website/sdds-platform-ai-docs/docs/components/Segment.mdx
  website/sdds-sbcom-docs/docs/components/Segment.mdx
  website/sdds-scan-docs/docs/components/Segment.mdx
  website/sdds-serv-docs/docs/components/data-entry/Segment.mdx
Due: none

test: add Notification defaultNotificationArgs snapshots [PLASMA-5672]
  cypress/snapshots/b2c/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/bizcom/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/cs/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/dfa/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/finai/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/giga/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/homeds/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/insol-next/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/insol/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/netology/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/os/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/platform-ai/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/scan/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/serv/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
  cypress/snapshots/web/chromium/Notification/Notification -- defaultNotificationArgs.snap.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
