Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

chore(github): add pull request template
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
Due: prettier --write --parser markdown

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

feat(plasma-b2c,plasma-web): Button size_xs/xss
  cypress/snapshots/b2c/components/Button/Button.component-test.tsx/plasma-b2c Button -- _size.snap.png
  cypress/snapshots/web/components/Button/Button.component-test.tsx/plasma-web Button -- _size.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Button/Button.component-test.tsx
  packages/plasma-b2c/src/components/Button/Button.stories.tsx
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/Button/index.tsx
  packages/plasma-hope/src/components/Button/types.ts
  packages/plasma-hope/src/components/Button/views/b2c/ButtonB2C.tsx
  packages/plasma-hope/src/components/Button/views/web/ButtonWeb.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Button/Button.component-test.tsx
  packages/plasma-web/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

ci(publish): sync package-lock files state (includes private packages)
  .github/actions/update-package-lock/action.yml
Due: none

feat(plasma-core): focusTrap, arrow and offset for Popover
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-b2c/src/components/Popover/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/Popover/Popover.tsx
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-web, plasma-b2c): PopupBase component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-b2c/src/components/PopupBase/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/PopupBase/PopupBase.tsx
  packages/plasma-core/src/components/PopupBase/PopupBaseContext.tsx
  packages/plasma-core/src/components/PopupBase/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/PopupBase/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-web/src/components/PopupBase/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-b2c): Replace `Checkbox` from plasma-new-hope
  cypress/snapshots/b2c/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size m.snap.png
  cypress/snapshots/b2c/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size s.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-b2c/src/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-b2c/src/components/Checkbox/Checkbox.tsx
  packages/plasma-b2c/src/components/Checkbox/index.ts
  website/plasma-web-docs/docs/components/Checkbox.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

feat(plasma-theme-builder): Add methods for support extract colors from palette
  website/plasma-theme-builder/src/components/GradientTokenValue/GradientTokenValue.tsx
  website/plasma-theme-builder/src/components/SolidTokenValue/SolidTokenValue.tsx
  website/plasma-theme-builder/src/components/Token/Token.tsx
  website/plasma-theme-builder/src/utils/color.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks
  packages/plasma-new-hope/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): Add wrapper for layout with default props
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/scripts/replace-linaria_sc.sh
  packages/plasma-new-hope/src/engines/common.tsx
  packages/plasma-new-hope/src/engines/linaria.tsx
  packages/plasma-new-hope/src/engines/styled-components.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore: update package-locks
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat(plasma-web): Replace `Link` from plasma-new-hope
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/package.json
  packages/plasma-web/src/components/Link/Link.config.tsx
  packages/plasma-web/src/components/Link/Link.stories.tsx
  packages/plasma-web/src/components/Link/Link.tsx
  packages/plasma-web/src/components/Link/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-new-hope): Add `Link` component with new design and tokens themes
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Link/Link.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Link/Link.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Link/Link.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Link/Link.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Link/Link.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Link/Link.ts
  packages/plasma-new-hope/src/examples/themes/declaration.d.ts
  packages/plasma-new-hope/src/examples/themes/index.ts
  packages/plasma-new-hope/src/examples/themes/plasma_b2c.module.css
  packages/plasma-new-hope/src/examples/themes/plasma_web.module.css
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Replace `Spinner` from plasma-new-hope
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/package.json
  packages/plasma-b2c/src/components/Spinner/Spinner.config.tsx
  packages/plasma-b2c/src/components/Spinner/Spinner.tsx
  packages/plasma-b2c/src/components/Spinner/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

ci: exclude private packages for sync package-lock's files
  .github/actions/update-package-lock/action.yml
Due: none

feat(plasma-new-hope): Add core `Checkbox` component
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.tsx
  packages/plasma-new-hope/src/components/Checkbox/IconsSvg.tsx
  packages/plasma-new-hope/src/components/Checkbox/_disabled/base.ts
  packages/plasma-new-hope/src/components/Checkbox/_disabled/tokens.json
  packages/plasma-new-hope/src/components/Checkbox/_focused/base.ts
  packages/plasma-new-hope/src/components/Checkbox/_focused/tokens.json
  packages/plasma-new-hope/src/components/Checkbox/_size/base.ts
  packages/plasma-new-hope/src/components/Checkbox/_size/tokens.json
  packages/plasma-new-hope/src/components/Checkbox/_view/base.ts
  packages/plasma-new-hope/src/components/Checkbox/_view/tokens.json
  packages/plasma-new-hope/src/components/Checkbox/index.ts
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-new-hope/src/mixins/applyNoUserSelect.ts
  packages/plasma-new-hope/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope,plasma-core): Add core `Spinner` component
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/utils/index.ts
  packages/plasma-core/src/utils/react.ts
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Spinner/Spinner.tsx
  packages/plasma-new-hope/src/components/Spinner/SpinnerSvg.tsx
  packages/plasma-new-hope/src/components/Spinner/_size/base.ts
  packages/plasma-new-hope/src/components/Spinner/_size/tokens.json
  packages/plasma-new-hope/src/components/Spinner/_view/base.ts
  packages/plasma-new-hope/src/components/Spinner/_view/tokens.json
  packages/plasma-new-hope/src/components/Spinner/index.ts
  packages/plasma-new-hope/src/examples/_helpers.tsx
  packages/plasma-new-hope/src/index.ts
  website/plasma-web-docs/docs/components/Spinner.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

ci(publish): delete unnecessary manual version update
  .github/actions/update-package-lock/action.yml
  .github/workflows/publish-common.yml
  .github/workflows/publish-rc.yml
Due: none

feat(plasma-new-hope): Add `Checkbox` component with new design and tokens
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  utils/plasma-tokens-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore(lint-packages): delete unnecessary check for private packages
  scripts/lint-packages.js
Due: eslint --fix, prettier --write

chore: update package-locks
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

ci("PR Documentation and Storybook"): delete "HAS_PLASMA_WEBSITE" flag
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/documentation-pr.yml
Due: eslint --fix, prettier --write

docs: update import deprecated darkSber
  website/plasma-ui-docs/docs/intro.mdx
Due: none

feat(plasma-theme-builder): Update building tokens for new tokens value
  website/plasma-theme-builder/src/builder/themeTokenGetters/backgrounds/getBackgroundSecondaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/backgrounds/getBackgroundTertiaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidCardTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidDefaultTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidPrimaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidSecondaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidTertiaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentDeepTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentWarningTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextWarningTokens.ts
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
  website/plasma-theme-builder/src/types/constants.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add `Radiobox` component with new design and tokens
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.config.ts
Due: eslint --fix, prettier --write

Update versions
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-tokens-native/package-lock.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json

feat(plasma-tokens): Replace rgb/a and hexa values to values from color palette
  packages/plasma-tokens/data/ds.ts
  packages/plasma-tokens/src/brands/plasma_b2c/index.ts
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/brands/sberHealth/index.ts
  packages/plasma-tokens/src/brands/sberonline/index.ts
  packages/plasma-tokens/src/brands/stylesSalute/index.ts
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
  packages/plasma-tokens/src/themes/sberHealth__dark.ts
  packages/plasma-tokens/src/themes/sberHealth__light.ts
  packages/plasma-tokens/src/themes/sberonline__dark.ts
  packages/plasma-tokens/src/themes/sberonline__light.ts
  packages/plasma-tokens/src/themes/stylesSalute__dark.ts
  packages/plasma-tokens/src/themes/stylesSalute__light.ts
Due: eslint --fix, prettier --write

feat(plasma-docs-ui): Update types for props keys
  utils/plasma-docs-ui/src/components/PropsTable.tsx
  utils/plasma-docs-ui/src/types/DocgenInfo.ts
  utils/plasma-docs-ui/src/types/index.ts
  website/plasma-web-docs/docs/components/Link.mdx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui,plasma-web,plasma-b2c): Button Spinner checked color
  packages/plasma-core/src/components/Button/createButton.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add core `Link` component
  packages/plasma-new-hope/.storybook/preview.jsx
  packages/plasma-new-hope/src/components/Link/Link.tsx
  packages/plasma-new-hope/src/components/Link/_disabled/base.ts
  packages/plasma-new-hope/src/components/Link/_disabled/tokens.json
  packages/plasma-new-hope/src/components/Link/_focused/base.ts
  packages/plasma-new-hope/src/components/Link/_focused/tokens.json
  packages/plasma-new-hope/src/components/Link/_view/base.ts
  packages/plasma-new-hope/src/components/Link/_view/tokens.json
  packages/plasma-new-hope/src/components/Link/index.ts
  packages/plasma-new-hope/src/examples/_helpers.tsx
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

Update versions
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json
