Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

ci: perftool for whole repo, fail on bad changes
  .github/workflows/performance-test.yml
  .gitignore
  package-lock.json
  package.json
  packages/plasma-ui/.gitignore
  packages/plasma-ui/.npmignore
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  perftool.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-core): add test for prop 'as'
  packages/plasma-core/src/components/Button/Button.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Add custom babel plugin `babel-plugin-collect-package-info`
  scripts/babel-plugin-collect-package-info/README.md
  scripts/babel-plugin-collect-package-info/accumulateExportPaths.js
  scripts/babel-plugin-collect-package-info/collectImport.js
  scripts/babel-plugin-collect-package-info/getExportPathsFromIndex.js
  scripts/babel-plugin-collect-package-info/index.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat: Add custom babel plugin `babel-plugin-import-replacer`
  scripts/babel-plugin-import-replacer/README.md
  scripts/babel-plugin-import-replacer/index.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown

refactor(plasma-ui,plasma-core,plasma-hope): Refactor some components for clean re-export
  packages/plasma-core/src/components/Typography/Body.tsx
  packages/plasma-core/src/components/Typography/Button.tsx
  packages/plasma-core/src/components/Typography/Caption.tsx
  packages/plasma-core/src/components/Typography/Display.tsx
  packages/plasma-core/src/components/Typography/Footnote.tsx
  packages/plasma-core/src/components/Typography/Headline.tsx
  packages/plasma-core/src/components/Typography/Paragraph.tsx
  packages/plasma-core/src/components/Typography/Underline.tsx
  packages/plasma-hope/src/components/Select/SelectGroup.tsx
  packages/plasma-hope/src/components/Select/index.ts
  packages/plasma-hope/src/components/Select/views/b2c/SelectView.tsx
  packages/plasma-ui/src/components/Icon/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): Add `collectPackageInfo` and custom babel config
  packages/plasma-core/.gitignore
  packages/plasma-core/babel.config.js
  packages/plasma-core/src/collectPackageInfo.ts
Due: eslint --fix, prettier --write

feat(plasma-hope): Add `collectPackageInfo` and custom babel config
  packages/plasma-hope/.gitignore
  packages/plasma-hope/babel.config.js
  packages/plasma-hope/package.json
  packages/plasma-hope/src/collectPackageInfo.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-ui): Add `collectPackageInfo` and custom babel config
  packages/plasma-ui/.gitignore
  packages/plasma-ui/babel.config.js
  packages/plasma-ui/src/collectPackageInfo.ts
Due: eslint --fix, prettier --write

feat(plasma-hope): Update API
  packages/plasma-hope/api/plasma-hope.api.md
Due: prettier --write --parser markdown

docs(plasma-ui-docs): add block "Переносы на SberBox, SberPortal, etc."
  website/plasma-ui-docs/docs/design/typography.mdx
Due: none

chore: Update `versionsArchive.json` [skip ci]
  website/plasma-ui-docs/versionsArchived.json
Due: prettier --write --parser json

fix(plasma-tokens): Update theme name `vinlab` to `winelab`
  packages/plasma-tokens/data/themes/sbermarket_winelab.json
Due: prettier --write --parser json

feat(plasma-tokens-utils): Add fallback for legacy theme names
  utils/plasma-tokens-utils/src/generators/generateColorThemes.ts
  utils/plasma-tokens-utils/src/generators/generateFile.ts
  utils/plasma-tokens-utils/src/utils/getDeprecatedVars.ts
  utils/plasma-tokens-utils/src/utils/index.ts
  utils/plasma-tokens-utils/src/utils/upperFirstLetter.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Update theme name convetion for old and new themes
  packages/plasma-tokens/data/ds.ts
  packages/plasma-tokens/generate.ts
  packages/plasma-tokens/lib/themeBuilder/generateTokens.ts
  packages/plasma-tokens/lib/themeBuilder/mapDeprecatedTokens.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-tokens): Update formatter for colorIosSwift, colorKotlin, colorReactNative templates
  packages/plasma-tokens/lib/generator/formatters/colorIosSwift.ts
  packages/plasma-tokens/lib/generator/formatters/colorKotlin.ts
  packages/plasma-tokens/lib/generator/formatters/colorReactNative.ts
  packages/plasma-tokens/lib/generator/types.ts
  packages/plasma-tokens/lib/themeBuilder/utils.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens-utils): Add data selector for generated theme
  utils/plasma-tokens-utils/src/generators/generateColorThemes.ts
  utils/plasma-tokens-utils/src/types.ts
  utils/plasma-tokens-utils/src/utils/attachToRoot.ts
Due: eslint --fix, prettier --write

feat(plasma-hope): draggable scroll in carousel
  packages/plasma-hope/src/components/Carousel/Carousel.tsx
  packages/plasma-hope/src/components/Carousel/hooks.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

build(plasma-theme-builder): update package-lock
  website/plasma-theme-builder/package-lock.json
Due: prettier --write --parser json

feat(plasma-hope): reAlign versions
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package.json
  website/plasma-theme-builder/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json
