Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Bump independent versions [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/sdds-cs/package-lock.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-finportal/package.json
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package-lock.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package-lock.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package-lock.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package-lock.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

ci(publish-rc): fix failure notifications
  .github/workflows/publish-rc.yml
Due: none

ci: handle code review state
  .github/teammates.json
  .github/workflows/notification-code-review-completed.yml
Due: prettier --write --parser json

docs(template-pr): fix pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write --parser markdown

test(plasma-b2c): update tests for Mask
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1243] Mask view=default, size=l, alwaysShowMask, empty.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1244] Mask view=positive, size=m, optional.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1245] Mask view=warning, size=s, requiredPlacement=right.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1246] Mask view=negative, size=xs, requiredPlacement=left.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1247] Mask disabled.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1248] Mask readOnly.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1281] Mask type letters in telephone.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1282] Mask type number 7 in telephone.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1283] Mask type not number 7 in telephone.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1284] Mask delete number in telephone.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1285] Mask type in fully filled telephone.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1286] Mask paste in empty telephone.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1287] Mask paste in partially filled telephone.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1288] Mask paste in fully filled telephone.snap.png
  packages/plasma-b2c/src/components/Mask/Mask.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add ChipGroup component
  packages/plasma-new-hope/src/components/Chip/Chip.tokens.ts
  packages/plasma-new-hope/src/components/Chip/Chip.tsx
  packages/plasma-new-hope/src/components/Chip/index.ts
  packages/plasma-new-hope/src/components/ChipGroup/ChipGroup.styles.ts
  packages/plasma-new-hope/src/components/ChipGroup/ChipGroup.template-doc.mdx
  packages/plasma-new-hope/src/components/ChipGroup/ChipGroup.tokens.ts
  packages/plasma-new-hope/src/components/ChipGroup/ChipGroup.tsx
  packages/plasma-new-hope/src/components/ChipGroup/ChipGroup.types.ts
  packages/plasma-new-hope/src/components/ChipGroup/index.ts
  packages/plasma-new-hope/src/components/ChipGroup/variations/_gap/base.ts
  packages/plasma-new-hope/src/components/ChipGroup/variations/_gap/tokens.json
  packages/plasma-new-hope/src/components/ChipGroup/variations/_size/base.ts
  packages/plasma-new-hope/src/components/ChipGroup/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/ChipGroup/variations/_view/base.ts
  packages/plasma-new-hope/src/components/ChipGroup/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ChipGroup /ChipGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ChipGroup /ChipGroup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ChipGroup /ChipGroup.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/ChipGroup /ChipGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/ChipGroup /ChipGroup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/ChipGroup /ChipGroup.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-web/b2c): add ChipGroup component and snapshots
  cypress/snapshots/b2c/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- _gap.snap.png
  cypress/snapshots/b2c/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- _size.snap.png
  cypress/snapshots/b2c/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- _view.snap.png
  cypress/snapshots/b2c/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- custom chips.snap.png
  cypress/snapshots/web/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- _gap.snap.png
  cypress/snapshots/web/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- _size.snap.png
  cypress/snapshots/web/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- _view.snap.png
  cypress/snapshots/web/components/ChipGroup/ChipGroup.component-test.tsx/plasma-b2c ChipGroup -- custom chips.snap.png
  packages/plasma-b2c/src/components/ChipGroup/ChipGroup.component-test.tsx
  packages/plasma-b2c/src/components/ChipGroup/ChipGroup.config.ts
  packages/plasma-b2c/src/components/ChipGroup/ChipGroup.stories.tsx
  packages/plasma-b2c/src/components/ChipGroup/ChipGroup.ts
  packages/plasma-b2c/src/components/ChipGroup/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-web/src/components/ChipGroup/ChipGroup.component-test.tsx
  packages/plasma-web/src/components/ChipGroup/ChipGroup.config.ts
  packages/plasma-web/src/components/ChipGroup/ChipGroup.stories.tsx
  packages/plasma-web/src/components/ChipGroup/ChipGroup.ts
  packages/plasma-web/src/components/ChipGroup/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: generate new api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

docs: add ChipGroup docs
  website/plasma-b2c-docs/docs/components/ChipGroup.mdx
  website/plasma-web-docs/docs/components/ChipGroup.mdx
  website/sdds-cs-docs/docs/components/ChipGroup.mdx
  website/sdds-dfa-docs/docs/components/ChipGroup.mdx
  website/sdds-serv-docs/docs/components/ChipGroup.mdx
Due: none

feat(sdds-*): add ChipGroup component
  packages/sdds-cs/src/components/ChipGroup/ChipGroup.config.ts
  packages/sdds-cs/src/components/ChipGroup/ChipGroup.stories.tsx
  packages/sdds-cs/src/components/ChipGroup/ChipGroup.ts
  packages/sdds-cs/src/components/ChipGroup/index.ts
  packages/sdds-cs/src/index.ts
  packages/sdds-dfa/src/components/ChipGroup/ChipGroup.config.ts
  packages/sdds-dfa/src/components/ChipGroup/ChipGroup.stories.tsx
  packages/sdds-dfa/src/components/ChipGroup/ChipGroup.ts
  packages/sdds-dfa/src/components/ChipGroup/index.ts
  packages/sdds-dfa/src/index.ts
  packages/sdds-finportal/src/components/ChipGroup/ChipGroup.config.ts
  packages/sdds-finportal/src/components/ChipGroup/ChipGroup.stories.tsx
  packages/sdds-finportal/src/components/ChipGroup/ChipGroup.ts
  packages/sdds-finportal/src/components/ChipGroup/index.ts
  packages/sdds-finportal/src/index.ts
  packages/sdds-serv/src/components/ChipGroup/ChipGroup.config.ts
  packages/sdds-serv/src/components/ChipGroup/ChipGroup.stories.tsx
  packages/sdds-serv/src/components/ChipGroup/ChipGroup.ts
  packages/sdds-serv/src/components/ChipGroup/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-web, b2c): Added mappings for placement prop in Dropdown
  packages/plasma-b2c/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-dfa/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-finportal/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-serv/src/components/Combobox/Combobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(new-hope): edit work label position switch
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-asdk/src/components/Switch/Switch.config.ts
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/scripts/copy-linaria-components.sh
  packages/plasma-b2c/src/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/components/Switch/Switch.styles.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tokens.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tsx
  packages/plasma-new-hope/src/components/Switch/_label-position/after.ts
  packages/plasma-new-hope/src/components/Switch/_label-position/base.ts
  packages/plasma-new-hope/src/components/Switch/_label-position/before.ts
  packages/plasma-new-hope/src/components/Switch/_label-position/tokens.json
  packages/plasma-new-hope/src/components/Switch/_size/base.ts
  packages/plasma-new-hope/src/components/Switch/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.config.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/scripts/copy-linaria-components.sh
  packages/plasma-web/src/components/Switch/Switch.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Switch/Switch.config.ts
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Switch/Switch.config.ts
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Switch/Switch.config.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-*): used prop locale from calendar [datepicker]
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): extend stories examples
  packages/plasma-b2c/src/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-web/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-dfa/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-finportal/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-serv/src/components/Calendar/Calendar.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): add support locales: ru, en [calendar]
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/hooks/types.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useMonths.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.types.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.types.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.types.ts
  packages/plasma-new-hope/src/components/Calendar/utils/calendarGridHelper.ts
  packages/plasma-new-hope/src/components/Calendar/utils/constants.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore(docs-*): update docs about locale example
  packages/plasma-new-hope/src/components/Calendar/Calendar.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Calendar.mdx
  website/plasma-web-docs/docs/components/Calendar.mdx
  website/sdds-cs-docs/docs/components/Calendar.mdx
  website/sdds-dfa-docs/docs/components/Calendar.mdx
  website/sdds-serv-docs/docs/components/Calendar.mdx
Due: none

chore(plasma-web): update snapshots [calendar]
  cypress/snapshots/web/components/Calendar/Calendar.component-test.tsx/plasma-web Calendar -- default double calendar.snap.png
  cypress/snapshots/web/components/Calendar/Calendar.component-test.tsx/plasma-web Calendar -- default.snap.png
  cypress/snapshots/web/components/Calendar/Calendar.component-test.tsx/plasma-web Calendar -- min and max double.snap.png
  cypress/snapshots/web/components/Calendar/Calendar.component-test.tsx/plasma-web Calendar -- min and max.snap.png
  cypress/snapshots/web/components/Calendar/CalendarRange.component-test.tsx/plasma-web CalendarRange -- default double calendar.snap.png
Due: none

chore(plasma-b2c): update snapshots [calendar]
  cypress/snapshots/b2c/components/Calendar/Calendar.component-test.tsx/plasma-b2c Calendar -- default double calendar.snap.png
  cypress/snapshots/b2c/components/Calendar/Calendar.component-test.tsx/plasma-b2c Calendar -- default.snap.png
  cypress/snapshots/b2c/components/Calendar/Calendar.component-test.tsx/plasma-b2c Calendar -- min and max double.snap.png
  cypress/snapshots/b2c/components/Calendar/Calendar.component-test.tsx/plasma-b2c Calendar -- min and max.snap.png
  cypress/snapshots/b2c/components/Calendar/CalendarRange.component-test.tsx/plasma-b2c CalendarRange -- default double calendar.snap.png
Due: none

chore(plasma-b2c): add tests for en locale [calendar]
  cypress/snapshots/b2c/components/Calendar/Calendar.component-test.tsx/plasma-b2c Calendar -- locale en.snap.png
  cypress/snapshots/b2c/components/Calendar/CalendarRange.component-test.tsx/plasma-b2c CalendarRange -- locale en.snap.png
  packages/plasma-b2c/src/components/Calendar/Calendar.component-test.tsx
  packages/plasma-b2c/src/components/Calendar/CalendarRange.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-web): add tests for en locale [calendar]
  cypress/snapshots/web/components/Calendar/Calendar.component-test.tsx/plasma-web Calendar -- locale en.snap.png
  cypress/snapshots/web/components/Calendar/CalendarRange.component-test.tsx/plasma-web CalendarRange -- locale en.snap.png
  packages/plasma-web/src/components/Calendar/Calendar.component-test.tsx
  packages/plasma-web/src/components/Calendar/CalendarRange.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-b2c): update snapshots [datepicker]
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePicker -- [PLASMA-T1108] DatePicker select year by arrows.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePicker -- [PLASMA-T1110] DatePicker select year in popover.snap.png
Due: none
