Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

fix: use correct type Decorator
  utils/plasma-sb-utils/src/components/StoryDecorators.tsx
Due: eslint --fix, prettier --write, stylelint

chore: resolved deps issues
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json

chore: fix typo
  utils/plasma-sb-utils/src/helpers/disableProps.ts
  utils/plasma-sb-utils/src/helpers/themeColors.ts
Due: eslint --fix, prettier --write

Update versions
  packages/caldera-online/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

chore: update deps
  packages/caldera-online/package-lock.json
  packages/caldera-online/package.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
Due: prettier --write --parser json

fix: audit fix
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

Update versions
  packages/caldera-online/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-web): add default size to Textfield interlayer
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

chore(avatar): delete unnecessary file `.png`
  packages/plasma-web/src/components/Avatar/image.test.png
  packages/sdds-serv/src/components/Avatar/image.test.png
Due: none

chore(avatar): delete unnecessary component alias
  packages/sdds-serv/src/components/Avatar/Avatar.ts
Due: eslint --fix, prettier --write

fix(avatar): used aria-label [a11y]
  packages/plasma-new-hope/src/components/Avatar/Avatar.template-doc.mdx
  packages/plasma-new-hope/src/components/Avatar/Avatar.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Avatar/Avatar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/AvatarGroup/AvatarGroup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Avatar/Avatar.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Avatar/Avatar.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(avatar): component docs
  website/plasma-web-docs/docs/components/Avatar.mdx
  website/sdds-serv-docs/docs/components/Avatar.mdx
Due: none

fix: update api-report
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

Update versions
  packages/caldera-online/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

chore: add complex accessibility story
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: use styled-components@5.3.1
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/themes/caldera-online-themes/package-lock.json
  packages/themes/caldera-online-themes/package.json
  packages/themes/flamingo-themes/package-lock.json
  packages/themes/flamingo-themes/package.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package-lock.json
  packages/themes/sdds-themes/package.json
Due: prettier --write --parser json

Update versions
  packages/caldera-online/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  packages/themes/caldera-online-themes/package.json
  packages/themes/flamingo-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/caldera-online-themes/package-lock.json
  packages/themes/flamingo-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

fix: extend stories examples
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint
