Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

fix(plasma-core): refactor in PopupBase/ModalBase
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-b2c/src/components/PopupBase/index.ts
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/ModalBase/ModalBase.tsx
  packages/plasma-core/src/components/ModalBase/ModalBaseContext.tsx
  packages/plasma-core/src/components/PopupBase/PopupBase.tsx
  packages/plasma-core/src/components/PopupBase/PopupBaseContext.tsx
  packages/plasma-core/src/components/PopupBase/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/PopupBase/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-web/src/components/PopupBase/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

docs: fix remove node-modules command
  CONTRIBUTING.md
Due: prettier --write --parser markdown

fix(plasma-ui): change sheet-handler color
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-new-hope): remove plasma-old theme
  packages/plasma-new-hope/src/examples/plasma_b2c-old/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c-old/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c-old/components/Button/Button.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-new-hope): add sds_engineer theme
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Checkbox/Checkbox.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Checkbox/Checkbox.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Link/Link.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Link/Link.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Link/Link.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Radiobox/Radiobox.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Radiobox/Radiobox.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Spinner/Spinner.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Spinner/Spinner.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Spinner/Spinner.ts
  packages/plasma-new-hope/src/examples/themes/index.ts
  packages/plasma-new-hope/src/examples/themes/sds_engineer.module.css
Due: eslint --fix, prettier --write, stylelint

docs: generate new api for plasma-core
  packages/plasma-core/api/plasma-core.api.md
Due: prettier --write --parser markdown

fix(plasma-web-docs): Make button blur prop deprecated
  packages/plasma-core/src/components/Button/Button.types.ts
Due: eslint --fix, prettier --write

feat(plasma-core, plasma-web, plasma-b2c): ModalBase component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-b2c/src/components/ModalBase/index.ts
  packages/plasma-b2c/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-b2c/src/components/PopupBase/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/ModalBase/ModalBase.tsx
  packages/plasma-core/src/components/ModalBase/index.ts
  packages/plasma-core/src/components/PopupBase/PopupBase.tsx
  packages/plasma-core/src/components/PopupBase/PopupBaseContext.tsx
  packages/plasma-core/src/components/PopupBase/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/ModalBase/index.ts
  packages/plasma-hope/src/components/PopupBase/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-web/src/components/ModalBase/index.ts
  packages/plasma-web/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-web/src/components/PopupBase/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write --parser markdown

ci: Enable "New hope" storybook
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  packages/plasma-new-hope/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-new-hope/b2c/web/core): Add Popover to new hope
  packages/plasma-b2c/src/components/Popover/Popover.component-test.tsx
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-b2c/src/components/Popover/Popover.tsx
  packages/plasma-b2c/src/components/Popover/index.ts
  packages/plasma-core/src/components/Popover/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-hope/src/components/Popover/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
  packages/plasma-new-hope/src/components/Popover/index.ts
  packages/plasma-new-hope/src/components/Popover/styles/index.ts
  packages/plasma-new-hope/src/components/Popover/type/index.ts
  packages/plasma-new-hope/src/components/Popover/utils/index.ts
  packages/plasma-new-hope/src/engines/types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Popover/Popover.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
  packages/plasma-web/src/components/Popover/Popover.component-test.tsx
  packages/plasma-web/src/components/Popover/Popover.stories.tsx
  packages/plasma-web/src/components/Popover/Popover.tsx
  packages/plasma-web/src/components/Popover/index.ts
  website/plasma-web-docs/docs/components/Popover.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

fix(plasma-new-hope): Fixes related to Tabs component
  packages/plasma-new-hope/src/components/Tabs/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.ts
  packages/plasma-new-hope/src/hooks/index.ts
  packages/plasma-new-hope/src/hooks/useForkRef.ts
  packages/plasma-new-hope/src/mixins/applyDisabled.ts
  packages/plasma-new-hope/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): extend button types
  packages/plasma-new-hope/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

ci(semgrep): use "continue-on-error" option
  .github/workflows/semgrep.yml
Due: none

test(plasma-web/b2c): update modal snapshot
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- open.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- withBlur.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- open.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- simple.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- withBlur.snap.png
Due: none

docs(plasma-core/hope/web/b2c): generate new api
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

fix(plasma-new-hope): add types to Tabs & TabItem, fix css tokens naming
  packages/plasma-new-hope/src/components/Tabs/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): delete unused code
  packages/plasma-new-hope/src/utils/index.ts
  packages/plasma-new-hope/src/utils/setRef.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): Add core Tabs component
  packages/plasma-new-hope/src/components/Tabs/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/TabItem/_active/base.ts
  packages/plasma-new-hope/src/components/Tabs/TabItem/_disabled/base.ts
  packages/plasma-new-hope/src/components/Tabs/TabItem/_disabled/tokens.json
  packages/plasma-new-hope/src/components/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/components/Tabs/Tabs/_disabled/base.ts
  packages/plasma-new-hope/src/components/Tabs/Tabs/_disabled/tokens.json
  packages/plasma-new-hope/src/components/Tabs/Tabs/_stretch/base.ts
  packages/plasma-new-hope/src/components/Tabs/Tabs/_stretch/tokens.json
  packages/plasma-new-hope/src/components/Tabs/TabsContext.tsx
  packages/plasma-new-hope/src/components/Tabs/index.ts
  packages/plasma-new-hope/src/examples/sdseng/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sdseng/components/Tabs/TabItem.ts
  packages/plasma-new-hope/src/examples/sdseng/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/sdseng/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/sdseng/components/Tabs/Tabs.ts
  packages/plasma-new-hope/src/hooks/index.ts
  packages/plasma-new-hope/src/hooks/useForkRef.ts
  packages/plasma-new-hope/src/mixins/applyDisabled.ts
  packages/plasma-new-hope/src/mixins/index.ts
  packages/plasma-new-hope/src/utils/index.ts
  packages/plasma-new-hope/src/utils/setRef.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore(plasma-new-hope): resolve potential conflict by master branch
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

fix(plasma-web/b2c): move tokens from dev deps to deps
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

feat(plasma-ui): add Popover, PopupBase, ModalBase to plasma-ui
  packages/plasma-ui/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-ui/src/components/ModalBase/index.ts
  packages/plasma-ui/src/components/Popover/Popover.stories.tsx
  packages/plasma-ui/src/components/Popover/index.ts
  packages/plasma-ui/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-ui/src/components/PopupBase/index.ts
  packages/plasma-ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope/docs): update react file drop & fix docs
  README.md
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  website/plasma-ui-docs/docs/intro.mdx
  website/plasma-web-docs/docs/intro.mdx
Due: prettier --write --parser markdown, prettier --write --parser json

feat(plasma-ui): add placement for Confirm
  cypress/snapshots/ui/components/Confirm/Confirm.component-test.tsx/Confirm -- _visible -- _yes.snap.png
  packages/plasma-core/src/components/ModalBase/ModalBase.tsx
  packages/plasma-core/src/components/PopupBase/PopupBaseContext.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.component-test.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.hooks.ts
  packages/plasma-ui/src/components/Confirm/Confirm.stories.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-core, plasma-ui): remove withAnimation from PopupBase
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-b2c/src/components/ModalBase/index.ts
  packages/plasma-b2c/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/ModalBase/ModalOverlay.tsx
  packages/plasma-core/src/components/ModalBase/hooks.ts
  packages/plasma-core/src/components/ModalBase/index.ts
  packages/plasma-core/src/components/ModalBase/types.ts
  packages/plasma-core/src/components/PopupBase/PopupBase.tsx
  packages/plasma-core/src/components/PopupBase/hooks.ts
  packages/plasma-core/src/components/PopupBase/types.ts
  packages/plasma-core/src/components/PopupBase/utils.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/ModalBase/index.ts
  packages/plasma-ui/src/components/Confirm/Confirm.stories.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.tsx
  packages/plasma-ui/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-ui/src/components/ModalBase/index.ts
  packages/plasma-ui/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-web/src/components/ModalBase/index.ts
  packages/plasma-web/src/components/PopupBase/PopupBase.stories.tsx
  website/plasma-ui-docs/docs/components/Confirm.mdx
  website/plasma-ui-docs/docs/components/ModalBase.mdx
  website/plasma-ui-docs/docs/components/PopupBase.mdx
  website/plasma-web-docs/docs/components/ModalBase.mdx
  website/plasma-web-docs/docs/components/PopupBase.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-core): animation with other API
  packages/plasma-core/src/components/ModalBase/ModalBase.tsx
  packages/plasma-core/src/components/ModalBase/ModalBaseContext.tsx
  packages/plasma-core/src/components/ModalBase/ModalBaseRoot.tsx
  packages/plasma-core/src/components/ModalBase/ModalOverlay.tsx
  packages/plasma-core/src/components/ModalBase/index.ts
  packages/plasma-core/src/components/ModalBase/types.ts
  packages/plasma-core/src/components/ModalBase/useModal.ts
  packages/plasma-core/src/components/PopupBase/PopupBase.tsx
  packages/plasma-core/src/components/PopupBase/PopupBaseContext.tsx
  packages/plasma-core/src/components/PopupBase/PopupBaseRoot.tsx
  packages/plasma-core/src/components/PopupBase/index.ts
  packages/plasma-core/src/components/PopupBase/types.ts
  packages/plasma-core/src/components/PopupBase/usePopup.ts
  packages/plasma-core/src/components/PopupBase/utils.ts
  packages/plasma-ui/src/components/Confirm/Confirm.tsx
  packages/plasma-ui/src/components/ModalBase/ModalBase.stories.tsx
  packages/plasma-ui/src/components/ModalBase/index.ts
  packages/plasma-ui/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-ui/src/components/PopupBase/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): PopupProvider inside Confirm added
  packages/plasma-ui/src/components/Confirm/Confirm.component-test.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.stories.tsx
  packages/plasma-ui/src/components/Confirm/Confirm.tsx
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  website/plasma-ui-docs/docs/components/Confirm.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

ci: add perftest helper actions, use them in PR perftest workflow
  .github/workflows/performance-test-pr.yml
  actions/perftest-helpers/.gitignore
  actions/perftest-helpers/.npmrc
  actions/perftest-helpers/LICENSE.txt
  actions/perftest-helpers/README.md
  actions/perftest-helpers/actions/send-report/action.yml
  actions/perftest-helpers/actions/update-description/action.yml
  actions/perftest-helpers/jest.config.ts
  actions/perftest-helpers/package-lock.json
  actions/perftest-helpers/package.json
  actions/perftest-helpers/src/bin/sendReport.ts
  actions/perftest-helpers/src/bin/updateDescription.ts
  actions/perftest-helpers/src/modules/__snapshots__/sendReport.test.ts.snap
  actions/perftest-helpers/src/modules/__snapshots__/updateDescription.test.ts.snap
  actions/perftest-helpers/src/modules/sendReport.test.ts
  actions/perftest-helpers/src/modules/sendReport.ts
  actions/perftest-helpers/src/modules/types.ts
  actions/perftest-helpers/src/modules/updateDescription.test.ts
  actions/perftest-helpers/src/modules/updateDescription.ts
  actions/perftest-helpers/src/utils/fs.ts
  actions/perftest-helpers/tsconfig.json
  scripts/perftool-send-report.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

fix: Update theme-builder workflows
  .github/workflows/theme-builder-pr.yml
  .github/workflows/theme-builder.yml
Due: none

feat(plasma-tokens-native): Add version comment in native tokens for all platfroms
  utils/plasma-tokens-native/config.ts
  utils/plasma-tokens-native/package.json
  utils/plasma-tokens-native/src/generator/index.ts
  utils/plasma-tokens-native/src/types.ts
  utils/plasma-tokens-native/src/utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  actions/perftest-helpers/package.json
Due: prettier --write --parser json

Update versions
  utils/plasma-tokens-native/package.json
Due: prettier --write --parser json
