Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-icons): Add icons `AEGK`
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupOutline.tsx
Due: eslint --fix, prettier --write, stylelint

feat(api-report): add scrollSnapStop property to the Carousel component
  packages/plasma-core/api/plasma-core.api.md
Due: prettier --write --parser markdown

feat(plasma-core): add scrollSnapStop property to the Carousel component
  packages/plasma-core/src/components/Carousel/CarouselItem.tsx
  packages/plasma-core/src/mixins/applyScrollSnap.ts
  packages/plasma-core/src/types/ScrollSnap.ts
  packages/plasma-core/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-core): return explicit type exports in src/types
  packages/plasma-core/src/types/index.ts
Due: eslint --fix, prettier --write

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

test: update perftool
  package-lock.json
  package.json
  perftool.config.mts
Due: prettier --write --parser json

fix(plasma-hope): Added comment for isDragScrollDisabled
  packages/plasma-hope/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

feat(api-report): Update api-reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

fix(plasma-web,plasma-hope): Fix weird scroll in accessibility mode in Carousel
  packages/plasma-hope/src/components/Carousel/Carousel.tsx
  packages/plasma-hope/src/components/Carousel/hooks.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(api-report): Fix weird scroll in accessibility mode in Carousel
  packages/plasma-hope/api/plasma-hope.api.md
Due: prettier --write --parser markdown

fix(plasma-web): Fix storybook control panel in Carousel
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web, plasma-b2c): Added isDragScrollDisabled property to control panel
  packages/plasma-b2c/src/components/Carousel/Carousel.stories.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): fix CalendarDouble ref
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add Skeleton components
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.styles.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/RectSkeleton.styles.ts
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/RectSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/RectSkeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/Skeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/TextSkeleton.styles.ts
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/TextSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/TextSkeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/hoc/withSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Skeleton/Skeleton.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Skeleton/Skeleton.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Skeleton/Skeleton.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-new-hope/src/mixins/applyRoundness.ts
  packages/plasma-new-hope/src/mixins/applySkeletonGradient.ts
  packages/plasma-new-hope/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-b2c): add Skeleton with snapshots
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _roundness.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _size.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- simple.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- _roundness.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- _size.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- simple.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- __lines.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- __lines20.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _roundness.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _size.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- simple.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- width.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- withSkeleton -- simple.snap.png
  packages/plasma-b2c/src/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-b2c/src/components/Skeleton/Skeleton.component-test.tsx
  packages/plasma-b2c/src/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-b2c/src/components/Skeleton/Skeleton.tsx
  packages/plasma-b2c/src/components/Skeleton/index.ts
  packages/plasma-b2c/src/hocs/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): remove skeleton component and mixin
  packages/plasma-hope/src/components/Skeleton/index.ts
  packages/plasma-hope/src/hocs/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-hope/src/mixins/index.ts
Due: eslint --fix, prettier --write

feat(plasma-web): add Skeleton with snapshots
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- withSkeleton -- simple.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _roundness.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _size.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- simple.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- _roundness.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- _size.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- RectSkeleton -- simple.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- __lines.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- __lines20.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _roundness.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _size.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- simple.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- width.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- withSkeleton -- simple.snap.png
  packages/plasma-web/src/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-web/src/components/Skeleton/Skeleton.component-test.tsx
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-web/src/components/Skeleton/Skeleton.tsx
  packages/plasma-web/src/components/Skeleton/index.ts
  packages/plasma-web/src/hocs/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-b2c/web/hope): generate api docs
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

feat(plasma-new-hope): fix Button className and style passing
  packages/plasma-new-hope/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): add property to show/hide subtitle on S viewport
  cypress/snapshots/ui/components/Header/Header.component-test.tsx/plasma-ui Header _size -- _mobile show subtitle.snap.png
  cypress/snapshots/ui/components/Header/NeuHeader.component-test.tsx/plasma-ui NeuHeader _size -- _mobile show subtitle.snap.png
  packages/plasma-ui/src/components/Header/Header.component-test.tsx
  packages/plasma-ui/src/components/Header/Header.stories.tsx
  packages/plasma-ui/src/components/Header/Header.tsx
  packages/plasma-ui/src/components/Header/HeaderSubtitle.tsx
  packages/plasma-ui/src/components/Header/NeuHeader.component-test.tsx
  packages/plasma-ui/src/components/Header/NeuHeader.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): Ts improvement
  packages/plasma-hope/src/components/Carousel/hooks.tsx
Due: eslint --fix, prettier --write, stylelint
