Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

docs: refactor Pagination docs
  packages/plasma-new-hope/src/components/Pagination/Pagination.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Pagination.mdx
  website/plasma-giga-docs/docs/components/Pagination.mdx
  website/plasma-web-docs/docs/components/Pagination.mdx
  website/sdds-cs-docs/docs/components/Pagination.mdx
  website/sdds-dfa-docs/docs/components/Pagination.mdx
  website/sdds-finai-docs/docs/components/Pagination.mdx
  website/sdds-insol-docs/docs/components/Pagination.mdx
  website/sdds-netology-docs/docs/components/Pagination.mdx
  website/sdds-platform-ai-docs/docs/components/Pagination.mdx
  website/sdds-scan-docs/docs/components/Pagination.mdx
  website/sdds-serv-docs/docs/components/Pagination.mdx
Due: none

test(core): add test for Tour
  cypress/snapshots/b2c/Tour/Tour -- finish tour.snap.png
  cypress/snapshots/b2c/Tour/Tour -- move next.snap.png
  cypress/snapshots/b2c/Tour/Tour -- move prev.snap.png
  cypress/snapshots/b2c/Tour/Tour -- offset=0, shift=100, highlightOffset=50.snap.png
  cypress/snapshots/b2c/Tour/Tour -- offset=100, shift=50, highlightOffset=0, withOverlay.snap.png
  cypress/snapshots/b2c/Tour/Tour -- offset=50, shift=0, highlightOffset=100.snap.png
  cypress/snapshots/cs/Tour/Tour -- finish tour.snap.png
  cypress/snapshots/cs/Tour/Tour -- move next.snap.png
  cypress/snapshots/cs/Tour/Tour -- move prev.snap.png
  cypress/snapshots/cs/Tour/Tour -- offset=0, shift=100, highlightOffset=50.snap.png
  cypress/snapshots/cs/Tour/Tour -- offset=100, shift=50, highlightOffset=0, withOverlay.snap.png
  cypress/snapshots/cs/Tour/Tour -- offset=50, shift=0, highlightOffset=100.snap.png
  cypress/snapshots/giga/Tour/Tour -- finish tour.snap.png
  cypress/snapshots/giga/Tour/Tour -- move next.snap.png
  cypress/snapshots/giga/Tour/Tour -- move prev.snap.png
  cypress/snapshots/giga/Tour/Tour -- offset=0, shift=100, highlightOffset=50.snap.png
  cypress/snapshots/giga/Tour/Tour -- offset=100, shift=50, highlightOffset=0, withOverlay.snap.png
  cypress/snapshots/giga/Tour/Tour -- offset=50, shift=0, highlightOffset=100.snap.png
  cypress/snapshots/insol/Tour/Tour -- finish tour.snap.png
  cypress/snapshots/insol/Tour/Tour -- move next.snap.png
  cypress/snapshots/insol/Tour/Tour -- move prev.snap.png
  cypress/snapshots/insol/Tour/Tour -- offset=0, shift=100, highlightOffset=50.snap.png
  cypress/snapshots/insol/Tour/Tour -- offset=100, shift=50, highlightOffset=0, withOverlay.snap.png
  cypress/snapshots/insol/Tour/Tour -- offset=50, shift=0, highlightOffset=100.snap.png
  cypress/snapshots/web/Tour/Tour -- finish tour.snap.png
  cypress/snapshots/web/Tour/Tour -- move next.snap.png
  cypress/snapshots/web/Tour/Tour -- move prev.snap.png
  cypress/snapshots/web/Tour/Tour -- offset=0, shift=100, highlightOffset=50.snap.png
  cypress/snapshots/web/Tour/Tour -- offset=100, shift=50, highlightOffset=0, withOverlay.snap.png
  cypress/snapshots/web/Tour/Tour -- offset=50, shift=0, highlightOffset=100.snap.png
  packages/plasma-new-hope/src/components/Tour/Tour.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

ci(sdds_sbcom): include package
  .github/config-ci.json
  .github/meta.js
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-icons): Add icon `Pressure2.5`
  packages/plasma-icons/src/scalable/Icon.svg.16/Pressure2.5.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Pressure2.5.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Pressure2.5.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `GigaFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/GigaFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/GigaFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/GigaFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `GigaOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/GigaOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/GigaOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/GigaOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `LangFlow`
  packages/plasma-icons/src/scalable/Icon.svg.16/LangFlow.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/LangFlow.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/LangFlow.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Equals`
  packages/plasma-icons/src/scalable/Icon.svg.16/Equals.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Equals.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Equals.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `WifiMedium`
  packages/plasma-icons/src/scalable/Icon.svg.16/WifiMedium.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/WifiMedium.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/WifiMedium.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `WifiLow`
  packages/plasma-icons/src/scalable/Icon.svg.16/WifiLow.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/WifiLow.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/WifiLow.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `PlanetOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/PlanetOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/PlanetOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/PlanetOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `PlanetDashOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/PlanetDashOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/PlanetDashOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/PlanetDashOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `FlaskOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/FlaskOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/FlaskOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/FlaskOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `NotebookDownloadOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/NotebookDownloadOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/NotebookDownloadOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/NotebookDownloadOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `NotebookDownloadFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/NotebookDownloadFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/NotebookDownloadFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/NotebookDownloadFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ThermometerOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/ThermometerOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ThermometerOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ThermometerOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ThermometerFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/ThermometerFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ThermometerFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ThermometerFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Pressure10`
  packages/plasma-icons/src/scalable/Icon.svg.16/Pressure10.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Pressure10.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Pressure10.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Pressure1`
  packages/plasma-icons/src/scalable/Icon.svg.16/Pressure1.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Pressure1.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Pressure1.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `AirQuality`
  packages/plasma-icons/src/scalable/Icon.svg.16/AirQuality.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/AirQuality.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/AirQuality.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Formaldehyde`
  packages/plasma-icons/src/scalable/Icon.svg.16/Formaldehyde.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Formaldehyde.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Formaldehyde.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `CO2`
  packages/plasma-icons/src/scalable/Icon.svg.16/CO2.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/CO2.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/CO2.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `DropsGroupOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/DropsGroupOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/DropsGroupOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/DropsGroupOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `DropsGroupFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/DropsGroupFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/DropsGroupFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/DropsGroupFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Gas`
  packages/plasma-icons/src/scalable/Icon.svg.16/Gas.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Gas.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Gas.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Smoke`
  packages/plasma-icons/src/scalable/Icon.svg.16/Smoke.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Smoke.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Smoke.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `Vibration`
  packages/plasma-icons/src/scalable/Icon.svg.16/Vibration.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Vibration.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Vibration.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `WifiDefault`
  packages/plasma-icons/src/scalable/Icon.svg.16/WifiDefault.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/WifiDefault.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/WifiDefault.svg
Due: none

feat(plasma-icons): Add icon `WifiDash`
  packages/plasma-icons/src/scalable/Icon.svg.16/WifiDash.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/WifiDash.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/WifiDash.svg
Due: none

feat(plasma-icons): Add icon `WifiLock`
  packages/plasma-icons/src/scalable/Icon.svg.16/WifiLock.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/WifiLock.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/WifiLock.svg
Due: none

fix(accordion): fix accordionGap [PLASMA-6764]
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

chore(cypress): update snaphots [PLASMA-6764]
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1709] Accordion size=m, view=secondary, stretching=fixed, type=sign, alignWithTitle.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1710] Accordion size=s, view=clear, type=clear.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1711] Accordion size=xs, view=outlined.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
Due: none

fix(skeleton): accepted changelog 30.12.2025 [PLASMA-6740]
  packages/sdds-cs/src/components/Skeleton/LineSkeleton.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
