Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(*): add docs rch with controller in combobox and select
  website/plasma-b2c-docs/docs/components/Combobox.mdx
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-b2c-docs/src/theme/ReactLiveScope/index.tsx
  website/plasma-giga-docs/docs/components/Combobox.mdx
  website/plasma-giga-docs/docs/components/Select.mdx
  website/plasma-giga-docs/src/theme/ReactLiveScope/index.tsx
  website/plasma-web-docs/docs/components/Combobox.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/plasma-web-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-cs-docs/docs/components/Combobox.mdx
  website/sdds-cs-docs/docs/components/Select.mdx
  website/sdds-cs-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-dfa-docs/docs/components/Combobox.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-dfa-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-insol-docs/docs/components/Combobox.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-insol-docs/src/theme/ReactLiveScope/index.tsx
  website/sdds-serv-docs/docs/components/Combobox.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
  website/sdds-serv-docs/src/theme/ReactLiveScope/index.tsx
Due: eslint --fix, prettier --write, stylelint

fix(core): aria labels by en locale
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.tsx
  packages/plasma-new-hope/src/components/Calendar/utils/calendarGridHelper.ts
  packages/plasma-new-hope/src/components/Calendar/utils/constants.ts
Due: eslint --fix, prettier --write, stylelint

fix(*): combobox and select rerenders
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/SelectNative/SelectNative.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/ui/SelectNative/SelectNative.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-* except cs): hover and active tokens for Button and IconButton fixed
  packages/plasma-asdk/src/components/Button/Button.config.ts
  packages/plasma-asdk/src/components/Button/Button.stories.tsx
  packages/plasma-b2c/src/components/Button/Button.config.ts
  packages/plasma-b2c/src/components/Button/Button.stories.tsx
  packages/plasma-b2c/src/components/IconButton/IconButton.config.ts
  packages/plasma-giga/src/components/Button/Button.config.ts
  packages/plasma-giga/src/components/Button/Button.stories.tsx
  packages/plasma-giga/src/components/IconButton/IconButton.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/IconButton/IconButton.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/IconButton/IconButton.config.ts
  packages/plasma-web/src/components/Button/Button.config.ts
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/IconButton/IconButton.config.ts
  packages/sdds-dfa/src/components/Button/Button.config.ts
  packages/sdds-dfa/src/components/Button/Button.stories.tsx
  packages/sdds-dfa/src/components/IconButton/IconButton.config.ts
  packages/sdds-finportal/src/components/Button/Button.config.ts
  packages/sdds-finportal/src/components/Button/Button.stories.tsx
  packages/sdds-finportal/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/Button/Button.stories.tsx
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-serv/src/components/Button/Button.config.ts
  packages/sdds-serv/src/components/Button/Button.stories.tsx
  packages/sdds-serv/src/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write, stylelint

chore(sdds-cs): fix hover and active tokens for Button and IconButton
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add hasRequiredIndicator prop
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/components/Range/Range.tsx
  packages/plasma-new-hope/src/components/Range/Range.types.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): Autocomplete stories updated
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-giga/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-web/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-insol/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): Combobox stories updated
  packages/plasma-b2c/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-giga/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-dfa/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-finportal/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.stories.tsx
  packages/sdds-serv/src/components/Combobox/Combobox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): Range stories updated
  packages/plasma-b2c/src/components/Range/Range.stories.tsx
  packages/plasma-giga/src/components/Range/Range.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Range/Range.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Range/Range.stories.tsx
  packages/plasma-web/src/components/Range/Range.stories.tsx
  packages/sdds-cs/src/components/Range/Range.stories.tsx
  packages/sdds-dfa/src/components/Range/Range.stories.tsx
  packages/sdds-finportal/src/components/Range/Range.stories.tsx
  packages/sdds-insol/src/components/Range/Range.stories.tsx
  packages/sdds-serv/src/components/Range/Range.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): DatePicker stories updated
  packages/plasma-b2c/src/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-giga/src/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-finportal/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-serv/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): Select stories updated
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-giga/src/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/sdds-cs/src/components/Select/Select.stories.tsx
  packages/sdds-dfa/src/components/Select/Select.stories.tsx
  packages/sdds-finportal/src/components/Select/Select.stories.tsx
  packages/sdds-insol/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): TextArea stories updated
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-giga/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-cs/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-finportal/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): TextField stories updated
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-giga/src/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  packages/sdds-dfa/src/components/TextField/TextField.stories.tsx
  packages/sdds-finportal/src/components/TextField/TextField.stories.tsx
  packages/sdds-insol/src/components/TextField/TextField.stories.tsx
  packages/sdds-serv/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*): Mask stories updated
  packages/plasma-b2c/src/components/Mask/Mask.stories.tsx
  packages/plasma-giga/src/components/Mask/Mask.stories.tsx
  packages/plasma-web/src/components/Mask/Mask.stories.tsx
  packages/sdds-cs/src/components/Mask/Mask.stories.tsx
  packages/sdds-dfa/src/components/Mask/Mask.stories.tsx
  packages/sdds-finportal/src/components/Mask/Mask.stories.tsx
  packages/sdds-insol/src/components/Mask/Mask.stories.tsx
  packages/sdds-serv/src/components/Mask/Mask.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(): docs updated
  website/plasma-b2c-docs/docs/components/DatePicker.mdx
  website/plasma-b2c-docs/docs/components/Range.mdx
  website/plasma-giga-docs/docs/components/DatePicker.mdx
  website/plasma-giga-docs/docs/components/Range.mdx
  website/plasma-web-docs/docs/components/DatePicker.mdx
  website/plasma-web-docs/docs/components/Range.mdx
  website/sdds-cs-docs/docs/components/DatePicker.mdx
  website/sdds-cs-docs/docs/components/Range.mdx
  website/sdds-dfa-docs/docs/components/DatePicker.mdx
  website/sdds-dfa-docs/docs/components/Range.mdx
  website/sdds-insol-docs/docs/components/DatePicker.mdx
  website/sdds-insol-docs/docs/components/Range.mdx
Due: none

docs(): api reports regenerated
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat: card api preview
  packages/plasma-new-hope/src/components/Card/Card.api.mdx
Due: none

docs(plasma-b2c-docs,plasma-web-docs): Add docs for `applyPaper` mixin
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  website/plasma-b2c-docs/docs/functions/mixins.mdx
  website/plasma-web-docs/docs/functions/mixins.mdx
Due: prettier --write --parser markdown

feat(plasma-web,plasmas-b2c): Add `applyPaper` mixin
  packages/plasma-b2c/src/mixins/index.ts
  packages/plasma-web/src/mixins/index.ts
Due: eslint --fix, prettier --write

fix(core): add i18n for en
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.tsx
  packages/plasma-new-hope/src/components/Calendar/utils/constants.ts
Due: eslint --fix, prettier --write, stylelint

feat(core): extend placement values/logic
  packages/plasma-new-hope/src/components/Notification/Notification.styles.ts
  packages/plasma-new-hope/src/components/Notification/Notification.template-doc.mdx
  packages/plasma-new-hope/src/components/Notification/Notification.tokens.ts
  packages/plasma-new-hope/src/components/Notification/Notification.types.ts
  packages/plasma-new-hope/src/components/Notification/NotificationsPortal.tsx
  packages/plasma-new-hope/src/examples/fixtures/Notification.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add LinkButton component
  packages/plasma-new-hope/src/components/LinkButton/LinkButton.styles.ts
  packages/plasma-new-hope/src/components/LinkButton/LinkButton.tokens.ts
  packages/plasma-new-hope/src/components/LinkButton/LinkButton.tsx
  packages/plasma-new-hope/src/components/LinkButton/LinkButton.types.ts
  packages/plasma-new-hope/src/components/LinkButton/index.ts
  packages/plasma-new-hope/src/components/LinkButton/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/LinkButton/variations/_disabled/tokens.json
  packages/plasma-new-hope/src/components/LinkButton/variations/_size/base.ts
  packages/plasma-new-hope/src/components/LinkButton/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/LinkButton/variations/_view/base.ts
  packages/plasma-new-hope/src/components/LinkButton/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/LinkButton/LinkButton.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/LinkButton/LinkButton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/LinkButton/LinkButton.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/LinkButton/LinkButton.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/LinkButton/LinkButton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/LinkButton/LinkButton.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-*): add LinkButton component
  cypress/snapshots/b2c/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- _size.snap.png
  cypress/snapshots/b2c/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- _view.snap.png
  cypress/snapshots/b2c/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- simple.snap.png
  cypress/snapshots/b2c/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- with Icon.snap.png
  cypress/snapshots/b2c/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- with Loader.snap.png
  cypress/snapshots/web/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- _size.snap.png
  cypress/snapshots/web/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- _view.snap.png
  cypress/snapshots/web/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- simple.snap.png
  cypress/snapshots/web/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- with Icon.snap.png
  cypress/snapshots/web/components/LinkButton/LinkButton.component-test.tsx/plasma-b2c LinkButton -- with Loader.snap.png
  packages/plasma-b2c/src/components/LinkButton/LinkButton.component-test.tsx
  packages/plasma-b2c/src/components/LinkButton/LinkButton.config.ts
  packages/plasma-b2c/src/components/LinkButton/LinkButton.stories.tsx
  packages/plasma-b2c/src/components/LinkButton/LinkButton.ts
  packages/plasma-b2c/src/components/LinkButton/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-giga/src/components/LinkButton/LinkButton.config.ts
  packages/plasma-giga/src/components/LinkButton/LinkButton.stories.tsx
  packages/plasma-giga/src/components/LinkButton/LinkButton.ts
  packages/plasma-giga/src/components/LinkButton/index.ts
  packages/plasma-giga/src/index.ts
  packages/plasma-web/src/components/LinkButton/LinkButton.component-test.tsx
  packages/plasma-web/src/components/LinkButton/LinkButton.config.ts
  packages/plasma-web/src/components/LinkButton/LinkButton.stories.tsx
  packages/plasma-web/src/components/LinkButton/LinkButton.ts
  packages/plasma-web/src/components/LinkButton/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-*): add LinkButton component
  packages/sdds-dfa/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-dfa/src/components/LinkButton/LinkButton.stories.tsx
  packages/sdds-dfa/src/components/LinkButton/LinkButton.ts
  packages/sdds-dfa/src/components/LinkButton/index.ts
  packages/sdds-dfa/src/index.ts
  packages/sdds-finportal/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-finportal/src/components/LinkButton/LinkButton.stories.tsx
  packages/sdds-finportal/src/components/LinkButton/LinkButton.ts
  packages/sdds-finportal/src/components/LinkButton/index.ts
  packages/sdds-finportal/src/index.ts
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-insol/src/components/LinkButton/LinkButton.stories.tsx
  packages/sdds-insol/src/components/LinkButton/LinkButton.ts
  packages/sdds-insol/src/components/LinkButton/index.ts
  packages/sdds-insol/src/index.ts
  packages/sdds-serv/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-serv/src/components/LinkButton/LinkButton.stories.tsx
  packages/sdds-serv/src/components/LinkButton/LinkButton.ts
  packages/sdds-serv/src/components/LinkButton/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

docs: add LinkButton docs
  packages/plasma-new-hope/src/components/LinkButton/LinkButton.template-doc.mdx
  website/plasma-b2c-docs/docs/components/LinkButton.mdx
  website/plasma-giga-docs/docs/components/LinkButton.mdx
  website/plasma-web-docs/docs/components/LinkButton.mdx
  website/sdds-dfa-docs/docs/components/LinkButton.mdx
  website/sdds-insol-docs/docs/components/LinkButton.mdx
  website/sdds-serv-docs/docs/components/LinkButton.mdx
Due: none

feat(*): update docs
  packages/plasma-b2c/src/components/Notification/Notification.stories.tsx
  packages/plasma-giga/src/components/Notification/Notification.stories.tsx
  packages/plasma-web/src/components/Notification/Notification.stories.tsx
  packages/sdds-cs/src/components/Notification/Notification.stories.tsx
  packages/sdds-dfa/src/components/Notification/Notification.stories.tsx
  packages/sdds-finportal/src/components/Notification/Notification.stories.tsx
  packages/sdds-insol/src/components/Notification/Notification.stories.tsx
  packages/sdds-serv/src/components/Notification/Notification.stories.tsx
  website/plasma-b2c-docs/docs/components/Notification.mdx
  website/plasma-giga-docs/docs/components/Notification.mdx
  website/plasma-web-docs/docs/components/Notification.mdx
  website/sdds-cs-docs/docs/components/Notification.mdx
  website/sdds-dfa-docs/docs/components/Notification.mdx
  website/sdds-insol-docs/docs/components/Notification.mdx
  website/sdds-serv-docs/docs/components/Notification.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add item as second parameter to onChange prop
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.types.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/SelectNative/SelectNative.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/utils/getRemovedElement.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/utils/index.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectNative/SelectNative.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/Select/utils/getRemovedElement.ts
  packages/plasma-new-hope/src/components/Select/utils/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): Button and IconButton tokens fixed
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/IconButton/IconButton.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

fix(core): add i18n for en
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.tsx
  packages/plasma-new-hope/src/components/Calendar/utils/calendarGridHelper.ts
  packages/plasma-new-hope/src/components/Calendar/utils/constants.ts
Due: eslint --fix, prettier --write, stylelint

chore(core): bump `linaria@6.2.0`
  packages/plasma-new-hope/.storybook/main.ts
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/rollup.config.mjs
Due: eslint --fix, prettier --write, prettier --write --parser json

chore(*): bump `linaria@6.2.0`
  packages/plasma-giga/.storybook/main.ts
  packages/plasma-giga/package-lock.json
  packages/plasma-giga/package.json
  packages/plasma-giga/rollup.config.mjs
  packages/plasma-icons/.babelrc
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.mjs
  packages/sdds-insol/.storybook/main.ts
  packages/sdds-insol/package-lock.json
  packages/sdds-insol/package.json
  packages/sdds-insol/rollup.config.mjs
  packages/sdds-serv/.storybook/main.ts
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
  packages/sdds-serv/rollup.config.mjs
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(*): Card component
  packages/plasma-new-hope/src/components/Card/Card.api.mdx
  packages/plasma-new-hope/src/components/Card/Card.styles.ts
  packages/plasma-new-hope/src/components/Card/Card.template-doc.mdx
  packages/plasma-new-hope/src/components/Card/Card.tokens.ts
  packages/plasma-new-hope/src/components/Card/Card.tsx
  packages/plasma-new-hope/src/components/Card/Card.types.ts
  packages/plasma-new-hope/src/components/Card/index.ts
  packages/plasma-new-hope/src/components/Card/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Card/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Card/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Card/variations/_view/tokens.json
  packages/plasma-new-hope/src/components/Flow/Flow.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Card/Card.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Card/Card.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Card/Card.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(*): PaginationDots component
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.styles.ts
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.template-doc.mdx
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.tokens.ts
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.tsx
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.types.ts
  packages/plasma-new-hope/src/components/PaginationDots/index.ts
  packages/plasma-new-hope/src/components/PaginationDots/variations/_size/base.ts
  packages/plasma-new-hope/src/components/PaginationDots/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/PaginationDots/variations/_view/base.ts
  packages/plasma-new-hope/src/components/PaginationDots/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/PaginationDots/PaginationDots.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/PaginationDots/PaginationDots.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/PaginationDots/PaginationDots.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/PaginationDots/PaginationDots.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/PaginationDots/PaginationDots.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
