Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(): part 1
  packages/plasma-new-hope/src/components/Select/Select.template-doc.mdx
Due: none

feat(plasma-new-hope): virtual prop in Select
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/VirtualList/VirtualList.tsx
  packages/plasma-new-hope/src/components/Select/ui/index.ts
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-giga-docs/docs/components/Select.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/sdds-cs-docs/docs/components/Select.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*,sdds-*): add xl size to Dropdown
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop size, variant.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop size.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop size, variant.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop size.snap.png
  packages/plasma-b2c/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-b2c/src/components/Dropdown/Dropdown.config.ts
  packages/plasma-b2c/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-giga/src/components/Dropdown/Dropdown.config.ts
  packages/plasma-giga/src/components/Dropdown/Dropdown.stories.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.config.ts
  packages/plasma-web/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-dfa/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-dfa/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-finportal/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-finportal/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-serv/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-serv/src/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

fix(sdds-cs): change font 'xxs' to 's'
  packages/sdds-cs/src/components/Counter/Counter.config.ts
Due: eslint --fix, prettier --write

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma): add renderTitle prop in Tree
  cypress/snapshots/b2c/components/Tree/Tree.component-test.tsx/plasma-b2c Tree -- prop renderTitle.snap.png
  cypress/snapshots/web/components/Tree/Tree.component-test.tsx/plasma-web Tree -- prop renderTitle.snap.png
  packages/plasma-b2c/src/components/Tree/Tree.component-test.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-web/src/components/Tree/Tree.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*,sdds-*): add xl size to Segment
  cypress/snapshots/b2c/components/Segment/Segment.component-test.tsx/plasma-web Segment -- _size redesign.snap.png
  cypress/snapshots/b2c/components/Segment/Segment.component-test.tsx/plasma-web Segment -- _size.snap.png
  cypress/snapshots/web/components/Segment/Segment.component-test.tsx/plasma-web Segment -- _size redesign.snap.png
  cypress/snapshots/web/components/Segment/Segment.component-test.tsx/plasma-web Segment -- _size.snap.png
  packages/plasma-b2c/src/components/Segment/Segment.component-test.tsx
  packages/plasma-b2c/src/components/Segment/Segment.stories.tsx
  packages/plasma-b2c/src/components/Segment/SegmentGroup.config.ts
  packages/plasma-b2c/src/components/Segment/SegmentItem.config.ts
  packages/plasma-giga/src/components/Segment/Segment.stories.tsx
  packages/plasma-giga/src/components/Segment/SegmentGroup.config.ts
  packages/plasma-giga/src/components/Segment/SegmentItem.config.ts
  packages/plasma-web/src/components/Segment/Segment.component-test.tsx
  packages/plasma-web/src/components/Segment/Segment.stories.tsx
  packages/plasma-web/src/components/Segment/SegmentGroup.config.ts
  packages/plasma-web/src/components/Segment/SegmentItem.config.ts
  packages/sdds-cs/src/components/Segment/SegmentItem.config.ts
  packages/sdds-dfa/src/components/Segment/Segment.stories.tsx
  packages/sdds-dfa/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-dfa/src/components/Segment/SegmentItem.config.ts
  packages/sdds-finportal/src/components/Segment/Segment.stories.tsx
  packages/sdds-finportal/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-finportal/src/components/Segment/SegmentItem.config.ts
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
  packages/sdds-serv/src/components/Segment/Segment.stories.tsx
  packages/sdds-serv/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-serv/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add xl size to Segment
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Segment/Segment.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Segment/SegmentGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Segment/SegmentItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Segment/Segment.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Segment/SegmentGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(plasma): add explicit types export from Tree component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Tree/index.ts
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-giga/src/components/Tree/index.ts
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-new-hope/src/components/Tree/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Tree/index.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Tree/index.ts
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Tree/index.ts
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Tree/index.ts
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Tree/index.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Tree/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat(plasma-new-hope): swc instead of babel in new-hope
  package-lock.json
  package.json
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/.swcrc
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

feat(plasma-new-hope): esbuild configured with linaria
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-new-hope/.babelrc
  packages/plasma-new-hope/.babelrc.js
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/esbuild-plugin.mjs
  packages/plasma-new-hope/esbuild.config.mjs
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/removeCssFiles.mjs
  packages/plasma-new-hope/src/collectPackageInfo.ts
  packages/plasma-web/api/plasma-web.api.md
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(): swc populated to the packages
  .gitignore
  .swcrc
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
Due: prettier --write --parser json

feat(): part 1
  packages/plasma-new-hope/.babelrc
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/esbuild-plugin.mjs
  packages/plasma-new-hope/esbuild.config.mjs
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

feat(): test
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

feat(): part 2
  packages/plasma-icons/react-app-env.d.js
  packages/plasma-ui/global.d.js
  packages/plasma-ui/react-app-env.d.js
Due: eslint --fix, prettier --write

feat(): part 3
  packages/plasma-new-hope/package-lock.json
Due: prettier --write --parser json

fix(plasma-new-hope): Button and IconButton hover and active tokens added
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/Button.tokens.ts
  packages/plasma-new-hope/src/components/Button/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/IconButton/IconButton.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-*, sdds-*): hover and active tokens ported
  packages/plasma-asdk/src/components/Button/Button.config.ts
  packages/plasma-asdk/src/components/Button/Button.stories.tsx
  packages/plasma-b2c/src/components/Button/Button.config.ts
  packages/plasma-b2c/src/components/Button/Button.stories.tsx
  packages/plasma-b2c/src/components/IconButton/IconButton.config.ts
  packages/plasma-giga/src/components/Button/Button.config.ts
  packages/plasma-giga/src/components/Button/Button.stories.tsx
  packages/plasma-giga/src/components/IconButton/IconButton.config.ts
  packages/plasma-web/src/components/Button/Button.config.ts
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/plasma-web/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-dfa/src/components/Button/Button.config.ts
  packages/sdds-dfa/src/components/Button/Button.stories.tsx
  packages/sdds-dfa/src/components/IconButton/IconButton.config.ts
  packages/sdds-finportal/src/components/Button/Button.config.ts
  packages/sdds-finportal/src/components/Button/Button.stories.tsx
  packages/sdds-finportal/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/Button/Button.stories.tsx
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-serv/src/components/Button/Button.config.ts
  packages/sdds-serv/src/components/Button/Button.stories.tsx
  packages/sdds-serv/src/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): Add `onDark` view for `ViewContainer` component
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/ViewContainer/ViewContainer.config.ts
  website/sdds-cs-docs/docs/components/Tooltip.mdx
Due: eslint --fix, prettier --write, prettier --write --parser markdown

Update versions
  packages/sdds-cs/package.json
  website/sdds-cs-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-cs/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): Add `createApplyPaperMixin` method
  packages/plasma-new-hope/src/mixins/createApplyPaperMixin.ts
Due: eslint --fix, prettier --write

docs(plasma-giga,sdds-*): Add docs for `applyPaper` mixin
  scaffold/template-docs/docs/form/Components.mdx
  scaffold/template-docs/docs/form/NativeForm.mdx
  scaffold/template-docs/docs/utils/_category_.json
  scaffold/template-docs/docs/utils/mixins.mdx
  website/plasma-giga-docs/docs/utils/_category_.json
  website/plasma-giga-docs/docs/utils/mixins.mdx
  website/sdds-cs-docs/docs/utils/_category_.json
  website/sdds-cs-docs/docs/utils/mixins.mdx
  website/sdds-dfa-docs/docs/utils/_category_.json
  website/sdds-dfa-docs/docs/utils/mixins.mdx
  website/sdds-insol-docs/docs/utils/_category_.json
  website/sdds-insol-docs/docs/utils/mixins.mdx
  website/sdds-serv-docs/docs/utils/_category_.json
  website/sdds-serv-docs/docs/utils/mixins.mdx
Due: prettier --write --parser json

chore: Update API report
  packages/plasma-giga/api/plasma-giga.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(plasma-*,sdds-*): Add `applyPaper` mixin
  packages/plasma-giga/src/mixins/index.ts
  packages/plasma-new-hope/src/mixins/index.ts
  packages/sdds-cs/src/mixins/index.ts
  packages/sdds-dfa/src/mixins/index.ts
  packages/sdds-finportal/src/mixins/index.ts
  packages/sdds-insol/src/mixins/index.ts
  packages/sdds-serv/src/mixins/index.ts
Due: eslint --fix, prettier --write

fix(sdds-cs): accepted changelog by 05.02.24 [checkbox]
  packages/sdds-cs/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-cs/src/components/Checkbox/Checkbox.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): use `tokens.labelColor`
  packages/sdds-cs/src/components/Checkbox/Checkbox.config.ts
Due: eslint --fix, prettier --write

feat(core): add `tokens.labelColor`
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.styles.ts
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.tokens.ts
  packages/plasma-new-hope/src/components/Checkbox/Checkbox.types.ts
Due: eslint --fix, prettier --write

feat(*): use `tokens.labelColor`
  packages/plasma-b2c/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-giga/src/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.config.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-dfa/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-finportal/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-serv/src/components/Checkbox/Checkbox.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
