Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-icons): add icons KidsLock [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/KidsLockFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/KidsLockOutline.svg
Due: none

feat(plasma-icons): add icons Sunrise/Sunset [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/SunriseFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SunriseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SunsetFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SunsetOutline.svg
Due: none

feat(plasma-icons): add icons Clown [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Clown.svg
Due: none

feat(plasma-icons): add icons Clown [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Clown.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

chore: Update CHANGELOG.md [skip ci]
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-giga/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-insol/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
Due: prettier --write --parser markdown

ci(deploy): used predefined scope for bootstrap [no ci]
  .github/workflows/documentation-deploy-pr.yml
Due: none

docs: regenerate api reports
  packages/sdds-dfa/api/sdds-dfa.api.md
Due: prettier --write --parser markdown

feat(sdds-dfa): add Skeleton export
  packages/sdds-dfa/src/index.ts
Due: eslint --fix, prettier --write

Update versions
  packages/sdds-dfa/package.json
  website/sdds-dfa-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-dfa/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): update value display logic for Rating
  packages/plasma-new-hope/src/components/Rating/utils/index.ts
Due: eslint --fix, prettier --write

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add Note component
  packages/plasma-new-hope/src/components/Note/Note.styles.ts
  packages/plasma-new-hope/src/components/Note/Note.tokens.ts
  packages/plasma-new-hope/src/components/Note/Note.tsx
  packages/plasma-new-hope/src/components/Note/Note.types.ts
  packages/plasma-new-hope/src/components/Note/index.ts
  packages/plasma-new-hope/src/components/Note/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Note/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Note/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Note/variations/_view/tokens.json
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/Icon.svg.16/SaluteOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/Icon.16/IconSaluteOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Dropzone/Dropzone.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Note/Note.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Note/Note.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Note/Note.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Note/Note.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat: wip 1
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.mjs
Due: prettier --write --parser json

feat(plasma-icons): simplify StyledRoot wrapper
  packages/plasma-icons/src/old/IconRoot.tsx
  packages/plasma-icons/src/scalable/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint

feat: wip 1
  packages/plasma-icons/.gitignore
  packages/plasma-icons/css/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.mjs
Due: prettier --write --parser json

feat(icons): wip 2
  packages/plasma-icons/.babelrc.js
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.mjs
  packages/plasma-icons/scripts/replace_sc_to_linaria.sh
  packages/plasma-icons/src/old/IconRoot.tsx
  packages/plasma-icons/src/scalable/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat: wip 1
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/scripts/replace_sc_to_linaria.sh
Due: prettier --write --parser json

feat(plasma-*): add Note with tests
  packages/plasma-b2c/src/components/Note/Note.component-test.tsx
  packages/plasma-b2c/src/components/Note/Note.config.ts
  packages/plasma-b2c/src/components/Note/Note.stories.tsx
  packages/plasma-b2c/src/components/Note/Note.ts
  packages/plasma-b2c/src/components/Note/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-giga/src/components/Note/Note.config.ts
  packages/plasma-giga/src/components/Note/Note.stories.tsx
  packages/plasma-giga/src/components/Note/Note.ts
  packages/plasma-giga/src/components/Note/index.ts
  packages/plasma-giga/src/index.ts
  packages/plasma-web/src/components/Note/Note.component-test.tsx
  packages/plasma-web/src/components/Note/Note.config.ts
  packages/plasma-web/src/components/Note/Note.stories.tsx
  packages/plasma-web/src/components/Note/Note.ts
  packages/plasma-web/src/components/Note/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-*): add Note component
  packages/sdds-dfa/src/components/Note/Note.config.ts
  packages/sdds-dfa/src/components/Note/Note.stories.tsx
  packages/sdds-dfa/src/components/Note/Note.ts
  packages/sdds-dfa/src/components/Note/index.ts
  packages/sdds-dfa/src/index.ts
  packages/sdds-finportal/src/components/Note/Note.config.ts
  packages/sdds-finportal/src/components/Note/Note.stories.tsx
  packages/sdds-finportal/src/components/Note/Note.ts
  packages/sdds-finportal/src/components/Note/index.ts
  packages/sdds-finportal/src/index.ts
  packages/sdds-insol/src/components/Note/Note.config.ts
  packages/sdds-insol/src/components/Note/Note.stories.tsx
  packages/sdds-insol/src/components/Note/Note.ts
  packages/sdds-insol/src/components/Note/index.ts
  packages/sdds-insol/src/index.ts
  packages/sdds-serv/src/components/Note/Note.config.ts
  packages/sdds-serv/src/components/Note/Note.stories.tsx
  packages/sdds-serv/src/components/Note/Note.ts
  packages/sdds-serv/src/components/Note/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: add Note docs
  packages/plasma-new-hope/src/components/Note/Note.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Note.mdx
  website/plasma-giga-docs/docs/components/Note.mdx
  website/plasma-web-docs/docs/components/Note.mdx
  website/sdds-dfa-docs/docs/components/Note.mdx
  website/sdds-insol-docs/docs/components/Note.mdx
  website/sdds-serv-docs/docs/components/Note.mdx
Due: none

test(plasma-*): add snapshots for Note
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- long text.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- long title.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- size.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- stretch.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- view.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- width,height.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- without text.snap.png
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- without title.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- long text.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- long title.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- size.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- stretch.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- view.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- width,height.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- without text.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- without title.snap.png
Due: none

docs: regenerate api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(plasma-tokens-*): add info tokens manually
  packages/plasma-tokens-b2b/data/fallbackThemes.ts
  packages/plasma-tokens-b2c/data/fallbackThemes.ts
  packages/plasma-tokens-web/data/fallbackThemes.ts
Due: eslint --fix, prettier --write

feat(plasma-sb-utils): add spacing category to exclude from colors list
  utils/plasma-sb-utils/src/helpers/colorTokens.ts
Due: eslint --fix, prettier --write

feat: linaria fixed
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/rollup.config.mjs
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
