Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-themes): Update `plasma_giga` themes
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme plasma_giga
  packages/plasma-tokens/data/themes/plasma_giga.json
  packages/plasma-tokens/src/brands/plasma_giga/index.ts
  packages/plasma-tokens/src/themes/plasma_giga__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/plasma-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma): part 1
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.types.ts
  packages/plasma-web/src/components/Select/Select.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-icons): add icon RandFill [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/RandOutline.svg
Due: none

feat(plasma-icons): add icons KidsLock [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/KidsLockFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/KidsLockOutline.svg
Due: none

feat(plasma-icons): add icons KidsLock [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/KidsLockFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/KidsLockOutline.svg
Due: none

feat(plasma-icons): add icons space [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Space.svg
Due: none

feat(plasma-icons): add icons space [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Space.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Sunrise/Sunset [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/SunriseFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SunriseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SunsetFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SunsetOutline.svg
Due: none

feat(plasma-icons): add icons space [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Space.svg
Due: none

feat(plasma-icons): add icons Sunrise/Sunset [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/SunriseFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SunriseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SunsetFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SunsetOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add icons Search
  packages/plasma-icons/src/scalable/Icon.svg.16/SearchError.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SearchFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SearchError.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SearchFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SearchError.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SearchFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons KidsLock [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/KidsLockFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/KidsLockOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Clown [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Clown.svg
Due: none

feat(plasma-icons): add icons Clown [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Clown.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Clown [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Clown.svg
Due: none

feat(plasma-icons): add icons Sunrise/Sunset [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/SunriseFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SunriseOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SunsetFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SunsetOutline.svg
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
