Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

Revert "feat(plasma-icons): add icons Operation Write [36x36]"
  packages/plasma-icons/src/scalable/Icon.svg.36/Header1.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header2.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header3.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header4.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Header5.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SuperscriptText.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Variable.svg
Due: none

Revert "feat(plasma-icons): add icons History [16x16]"
  packages/plasma-icons/src/scalable/Icon.svg.16/History.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "ci: Labelling wip [no ci]"
  .github/workflows/labelling-when-code-review-completed.yml
Due: none

Revert "feat(plasma-new-hope): add autoComplete prop to Range"
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/Range/Range.tsx
  packages/plasma-new-hope/src/components/Range/Range.types.ts
Due: eslint --fix, prettier --write, stylelint

Revert "Update versions"
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Revert "feat(plasma-icons): add icons arrow diagonal [24x24]"
  packages/plasma-icons/src/scalable/Icon.svg.24/ArrowDiagLeftUp.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ArrowDiagRightDown.svg
Due: none

Revert "ci: disable labelling [no ci]"
  .github/workflows/labelling-when-code-review-completed.yml
Due: none

Revert "fix(new-hope): add new tokens to dropdown"
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.styles.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tokens.ts
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
Due: eslint --fix, prettier --write

Revert "ci: refactoring deploy prod 2 [no ci]"
  .github/workflows/documentation-deploy-demo-stage-draft.yml
Due: none

Revert "ci: processing changelog [no ci]"
  .github/actions/processing-release-changelog/index.js
Due: eslint --fix, prettier --write

Revert "ci: update actions/setup-node, actions/cache [no ci]"
  .github/actions/prepare-environment/action.yml
Due: none

Revert "ci: processing changelog [no ci]"
  .github/changelog-builder-config.json
Due: prettier --write --parser json

Revert "feat(plasma-icons): add icons Tree [24x24]"
  packages/plasma-icons/src/scalable/Icon.svg.24/Tree.svg
Due: none

Revert "ci: processing changelog [no ci]"
  .github/workflows/create-release-pr.yml
Due: none

Revert "Update package-lock.json files"
  packages/sdds-cs/package-lock.json
Due: prettier --write --parser json

Revert "fix(plasma-new-hope): fix DatePickerRange grid type prop"
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "Update package-lock.json files"
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

Revert "feat(new-hope): datepicker add more tokens"
  packages/plasma-b2c/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/mixins/selected.ts
  packages/plasma-new-hope/src/components/Calendar/ui/DateStructureItem/DateStructureItem.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
Due: eslint --fix, prettier --write, stylelint

Revert "ci: refactoring deploy pr as draft [no ci]"
  .github/workflows/documentation-deploy-pr.yml
Due: none

Revert "feat(plasma-icons): add icons list view [24x24]"
  packages/plasma-icons/src/scalable/Icon.svg.24/ListView.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/NumberedView.svg
Due: none

Revert "ci: add max_old_space_size deploy prod 2 [no ci]"
  .github/workflows/documentation-deploy-prod.yml
Due: none

Revert "fix(new-hope): add new tokens to combobox"
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.styles.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Inner/ui/Item/Item.styles.ts
  packages/sdds-cs/src/components/Combobox/Combobox.config.ts
Due: eslint --fix, prettier --write

Revert "feat(plasma-icons): add icons arrow diagonal [16x16]"
  packages/plasma-icons/src/scalable/Icon.svg.16/ArrowDiagLeftDown.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/ArrowDiagLeftUp.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/ArrowDiagRightDown.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/ArrowDiagRightUp.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "ci: refactoring deploy prod 2 [no ci]"
  .github/meta-prod.js
Due: eslint --fix, prettier --write

Revert "feat(plasma-icons): add icons dots [16x16]"
  packages/plasma-icons/src/scalable/Icon.svg.16/DotsVerticalCenteredOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "feat(plasma-icons): add icons History [36x36]"
  packages/plasma-icons/src/scalable/Icon.svg.36/History.svg
Due: none

Revert "feat(plasma-icons): add icons files [16x16]"
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOffFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOffOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOnFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankVisibilityOnOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "feat(*): add tokens to all libs in dropdown"
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-b2c/src/components/Dropdown/Dropdown.config.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tokens.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Dropdown/Dropdown.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Dropdown/Dropdown.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/Dropdown/Dropdown.config.ts
Due: eslint --fix, prettier --write

Revert "ci: processing changelog [no ci]"
  .github/actions/processing-release-changelog/package-lock.json
  .github/workflows/create-release-pr.yml
Due: prettier --write --parser json

Revert "feat(plasma-icons): add icons dots [24x24]"
  packages/plasma-icons/src/scalable/Icon.svg.24/DotsVerticalCenteredOutline.svg
Due: none

Revert "ci: refactoring deploy prod 2 [no ci]"
  .github/workflows/documentation-deploy-common.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
