Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-tokens-utils): Add methods for handle fallback themes
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  utils/plasma-tokens-utils/src/generators/generateColorThemes.ts
  utils/plasma-tokens-utils/src/utils/getFormattedTokensForFallbackTheme.ts
  utils/plasma-tokens-utils/src/utils/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat(plasma-tokens-web,b2c,b2b): Add new tokens
  packages/plasma-tokens-b2b/data/fallbackThemes.ts
  packages/plasma-tokens-b2b/data/index.ts
  packages/plasma-tokens-b2b/generate.ts
  packages/plasma-tokens-b2c/data/fallbackThemes.ts
  packages/plasma-tokens-b2c/data/index.ts
  packages/plasma-tokens-b2c/generate.ts
  packages/plasma-tokens-web/data/fallbackThemes.ts
  packages/plasma-tokens-web/data/index.ts
  packages/plasma-tokens-web/generate.ts
Due: eslint --fix, prettier --write

feat(plasma-b2c,plasma-web): Update configs for components with new design
  packages/plasma-b2c/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-b2c/src/components/Link/Link.config.tsx
  packages/plasma-b2c/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-b2c/src/components/Spinner/Spinner.config.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.config.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Radiobox/Radiobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Checkbox/Checkbox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Radiobox/Radiobox.config.ts
  packages/plasma-web/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-web/src/components/Link/Link.config.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.config.ts
  packages/plasma-web/src/components/Spinner/Spinner.config.tsx
  packages/plasma-web/src/components/TextArea/TextArea.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-new-hope): Fix `TextArea` behavior with uncontrolled value
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-hope/src/components/TextArea/types.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): Update config for `Link` component
  packages/plasma-asdk/src/components/Link/Link.config.tsx
  packages/plasma-b2c/src/components/Link/Link.config.tsx
  packages/plasma-b2c/src/components/Link/Link.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Link/Link.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Link/Link.config.ts
  packages/plasma-web/src/components/Link/Link.config.tsx
  packages/plasma-web/src/components/Link/Link.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-*): Add sizes for `Link` component
  packages/plasma-new-hope/src/components/Link/Link.tsx
  packages/plasma-new-hope/src/components/Link/_view/base.ts
  packages/plasma-new-hope/src/components/Link/_view/tokens.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat: Update cypress-common yaml with new deps
  .github/workflows/cypress-common.yml
Due: none

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  utils/plasma-tokens-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

feat(plasma-b2c/web): add typography from new-hope
  packages/plasma-b2c/src/components/Typography/Body.config.ts
  packages/plasma-b2c/src/components/Typography/Dspl.config.ts
  packages/plasma-b2c/src/components/Typography/Heading.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Body.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Button.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Caption.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Display.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Footnote.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Headline.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Paragraph.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Subtitle.config.ts
  packages/plasma-b2c/src/components/Typography/Old/Underline.config.ts
  packages/plasma-b2c/src/components/Typography/Old/index.ts
  packages/plasma-b2c/src/components/Typography/Text.config.ts
  packages/plasma-b2c/src/components/Typography/Typography.stories.tsx
  packages/plasma-b2c/src/components/Typography/Typography.tsx
  packages/plasma-b2c/src/components/Typography/TypographyCoreBase.component-test.tsx
  packages/plasma-b2c/src/components/Typography/TypographyResponsive.component-test.tsx
  packages/plasma-b2c/src/components/Typography/index.ts
  packages/plasma-web/src/components/Typography/Body.config.ts
  packages/plasma-web/src/components/Typography/Dspl.config.ts
  packages/plasma-web/src/components/Typography/Heading.config.ts
  packages/plasma-web/src/components/Typography/Old/Body.config.ts
  packages/plasma-web/src/components/Typography/Old/Button.config.ts
  packages/plasma-web/src/components/Typography/Old/Caption.config.ts
  packages/plasma-web/src/components/Typography/Old/Display.config.ts
  packages/plasma-web/src/components/Typography/Old/Footnote.config.ts
  packages/plasma-web/src/components/Typography/Old/Headline.config.ts
  packages/plasma-web/src/components/Typography/Old/Paragraph.config.ts
  packages/plasma-web/src/components/Typography/Old/Subtitle.config.ts
  packages/plasma-web/src/components/Typography/Old/Underline.config.ts
  packages/plasma-web/src/components/Typography/Old/index.ts
  packages/plasma-web/src/components/Typography/Text.config.ts
  packages/plasma-web/src/components/Typography/Typography.stories.tsx
  packages/plasma-web/src/components/Typography/Typography.tsx
  packages/plasma-web/src/components/Typography/TypographyBase.component-test.tsx
  packages/plasma-web/src/components/Typography/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fix aply hypens selector
  packages/plasma-new-hope/src/components/Typography/Body/Body.tsx
  packages/plasma-new-hope/src/components/Typography/Dspl/Dspl.tsx
  packages/plasma-new-hope/src/components/Typography/Heading/Heading.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Body/Body.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Button/Button.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Caption/Caption.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Display/Display.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Footnote/Footnote.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Headline/Headline.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Paragraph/Paragraph.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Underline/Underline.tsx
  packages/plasma-new-hope/src/components/Typography/Text/Text.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): fix underline uppercase
  packages/plasma-new-hope/src/mixins/typography.ts
Due: eslint --fix, prettier --write

docs(plasma-web-docs): update docs for typography
  website/plasma-web-docs/docs/components/Typography.mdx
Due: none

feat(plasma-web/b2c): add typography as tokens-mixins
  packages/plasma-b2c/src/tokens/index.ts
  packages/plasma-b2c/src/tokens/typography.ts
  packages/plasma-web/src/tokens/typography.ts
Due: eslint --fix, prettier --write

test(plasma-b2c/web): fix tests depending on typography
  packages/plasma-b2c/src/components/Popover/Popover.component-test.tsx
  packages/plasma-b2c/src/components/Typography/TypographyCoreBase.component-test.tsx
  packages/plasma-b2c/src/components/Typography/TypographyResponsive.component-test.tsx
  packages/plasma-core/src/components/Typography/TypographyResponsive.component-test.tsx
  packages/plasma-web/src/components/Card/Card.component-test.tsx
  packages/plasma-web/src/components/Popover/Popover.component-test.tsx
  packages/plasma-web/src/components/Typography/TypographyBase.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

docs(plasma-b2c/web): generate api docs
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

feat(plasma-new-hope): make dspl and h bold by default
  packages/plasma-new-hope/src/components/Typography/Dspl/Dspl.tsx
  packages/plasma-new-hope/src/components/Typography/Heading/Heading.tsx
  packages/plasma-new-hope/src/components/Typography/Old/ParagraphText/ParagraphText.tsx
  packages/plasma-new-hope/src/components/Typography/index.ts
  packages/plasma-new-hope/src/mixins/typography.ts
Due: eslint --fix, prettier --write, stylelint

feat: bump manual package-locks
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): implement addFocus mixin in button
  packages/plasma-new-hope/src/components/Button/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/Button/variations/_focused/base.ts
Due: eslint --fix, prettier --write

feat(plasma-b2c/web): add paragraphText component
  packages/plasma-b2c/src/components/Typography/Old/ParagraphText.config.ts
  packages/plasma-b2c/src/components/Typography/Old/index.ts
  packages/plasma-b2c/src/components/Typography/Typography.tsx
  packages/plasma-b2c/src/components/Typography/index.ts
  packages/plasma-web/src/components/Typography/Body.config.ts
  packages/plasma-web/src/components/Typography/Dspl.config.ts
  packages/plasma-web/src/components/Typography/Heading.config.ts
  packages/plasma-web/src/components/Typography/Old/Body.config.ts
  packages/plasma-web/src/components/Typography/Old/Button.config.ts
  packages/plasma-web/src/components/Typography/Old/Display.config.ts
  packages/plasma-web/src/components/Typography/Old/Footnote.config.ts
  packages/plasma-web/src/components/Typography/Old/Headline.config.ts
  packages/plasma-web/src/components/Typography/Old/ParagraphText.config.ts
  packages/plasma-web/src/components/Typography/Old/index.ts
  packages/plasma-web/src/components/Typography/Text.config.ts
  packages/plasma-web/src/components/Typography/Typography.tsx
  packages/plasma-web/src/components/Typography/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): refactor typography configs
  packages/plasma-b2c/src/components/Typography/Old/ParagraphText.config.ts
  packages/plasma-web/src/components/Typography/Old/ParagraphText.config.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
