Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update versions
  packages/sdds-insol/package.json
Due: prettier --write --parser json

feat(sdds-insol): update Textfield for next-insol
  packages/sdds-insol/src/components/TextField/TextField.config.ts
  packages/sdds-insol/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(switch): fix config [PLASMA-6585]
  packages/sdds-insol/src/components/Switch/Switch.config.ts
  packages/sdds-insol/src/components/Switch/Switch.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(link): fix config Link, Breadcrumbs [PLASMA-6552]
  packages/sdds-insol/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-insol/src/components/Link/Link.config.tsx
Due: eslint --fix, prettier --write, stylelint

fix(segment): fix config [PLASMA-6633]
  packages/sdds-insol/src/components/Segment/Segment.stories.tsx
  packages/sdds-insol/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
  utils/plasma-sb-utils/src/components/Segment/stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): update DatePicker, DateTimePicker configs
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update TextArea snapshots
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1041] TextArea autoResize, minAuto.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1234] TextArea autoResize, maxAuto.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1235] TextArea custom height and width.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1237] TextArea resize=vertical.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1238] TextArea resize=both.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1580] TextArea size=l, view=default, label, labelPlacement=inner, value, leftHelperText, rightHelperText, contentRight, required, requiredPlacement=left, hasRequiredIndicator.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1582] TextArea size=s, view=warning, label, labelPlacement=inner, placeholder, rightHelper, required, requiredPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1583] TextArea size=xs, view=negative, labelPlacement=inner, placeholder, leftHelper, rightHelper, contentRight, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1584] size=l, view=default, label, labelPlacement=outer, value, contentRight, required, requiredPlacement=left, readOnly.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1585] TextArea size=m, view=warning, label, labelPlacement=inner, value, leftHelper, rightHelper, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1586] TextArea size=s, view=default, labelPlacement=inner, placeholder, leftHelper, rightHelper, required, requiredPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1588] TextArea size=l, view=default, label, labelPlacement=inner, value, placeholder, contentRight, contentLeft, required, requiredPlacement=left, disabled.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1589] TextArea size=m, view=negative, label, labelPlacement=outer, placeholder, leftHelper, rightHelper, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1590] TextArea size=s, view=warning, label, labelPlacement=inner, placeholder, leftHelper, rightHelper, contentRight, required, requiredPlacement=right, focused.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1610] TextArea no hint.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1611] TextArea empty titleCaption, empty hint.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1612] TextArea hasHint, hintTrigger=click, hintHasArrow=false.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1612] TextArea mouseover on hint icon.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1613] TextArea hintTrigger=hover, hintSize=m, hintPlacement=top, hintWidth=1px, hintHasArrow.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1614] TextArea hintSize=s, hintPlacement=bottom, hintWidth=100px.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1615] TextArea labelPlacement=outer, hintPlacement=left, hintWidth=500px.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1616] TextArea hintPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1944] TextArea size=xl, view=default, label, labelPlacement=inner, value, placeholder, leftHelper, rightHelper, contentRight.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1963] TextArea required, without hasRequiredIndicator.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T768] TextArea autoResize.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- headerSlot.snap.png
Due: none

feat: update TextField snapshots
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1501] TextField size=l, label, view=innerLabel, value, helperText, contentLeft, contentRight, required, requiredPlacement=left.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1517] TextField size=m, status=success, label, placeholder, helperText, contentRight, optional.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1556] TextField size=l, status=success, label, value, helperText, contentLeft, contentRight, required, requiredPlacement=left.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1559] TextField size=xs, status=success, label, value, helperText, contentLeft, contentRight, optional.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1560] TextField size=l, label, view=innerLabel, value, helperText, placeholder, contentLeft, contentRight, required, requiredPlacement=left, disabled.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1561] TextField size=m, status=error, label, helperText, placeholder, contentLeft, contentRight, optional.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1573] TextField no hint.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1574] TextField empty titleCaption, empty hint.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1575] TextField hintTrigger=click, hintHasArrow=false.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1575] TextField mouseover on hint icon.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1576] TextField hintTrigger=hover, hintSize=m, hintPlacement=top, hintWidth=1px, hintHasArrow.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1577] TextField hintSize=s, hintPlacement=bottom, hintWidth=100px.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1578] TextField view innerLabel, hintPlacement=left, hintWidth=500px.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T1579] TextField hintPlacement=right.snap.png
  cypress/snapshots/insol/TextField/sdds-insol TextField -- [PLASMA-T2393] TextField truncate placeholder.snap.png
Due: none

feat(sdds-insol): resolve package deps
  packages/sdds-insol/package-lock.json
  packages/sdds-insol/package.json
Due: prettier --write --parser json

fix: use correct `webBreakpoints_FOR_SDDS_INSOL`
  packages/themes/core-themes/src/creators/createTypographyTokens.ts
Due: eslint --fix, prettier --write

chore: fix lock files
  packages/sdds-insol/package-lock.json
  website/sdds-finai-docs/package-lock.json
Due: prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-homeds/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-bizcom/package.json
  packages/sdds-crm/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package.json
  packages/sdds-insol/package.json
  packages/sdds-netology/package.json
  packages/sdds-os/package.json
  packages/sdds-platform-ai/package.json
  packages/sdds-scan/package.json
  packages/sdds-serv/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-platform-ai-docs/package.json
  website/sdds-scan-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

fix(linkButton): use `--surface-clear`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

fix(hover): use `--surface-solid-card` into Green view
  packages/sdds-insol/src/components/Attach/Attach.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
Due: eslint --fix, prettier --write

fix(embedIconButton): fix typo
  packages/sdds-insol/src/components/EmbedIconButton/EmbedIconButton.config.ts
  packages/sdds-insol/src/components/EmbedIconButton/EmbedIconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(hover): fix hover tokens
  packages/sdds-insol/src/components/Attach/Attach.config.ts
  packages/sdds-insol/src/components/Button/Button.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-insol/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/sdds-insol/src/components/EmbedIconButton/EmbedIconButton.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(button): fix size: `XL, L` [PLASMA-6492]
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

chore(insol-next): use `sdds_insol_next` tokens
  packages/sdds-insol/.storybook/decoratorThemes.tsx
  packages/sdds-insol/README.md
  packages/sdds-insol/src/components/Tokens/Colors/Colors.stories.tsx
  packages/sdds-insol/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-insol/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-insol/src/components/Tokens/Typography/Typography.stories.tsx
  packages/sdds-insol/src/components/ViewContainer/ViewContainer.config.ts
  packages/sdds-insol/src/tokens/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(sdds-themes): update theme `insol-next`
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write

fix(insol-next): fix surfaceAccentGradient
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(linkButton): add new view `Info`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

fix(button): use correct view name positive, negative
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

fix(linkButton): fix size: `XL, L`
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

fix(iconButton): use correct view name positive, negative
  packages/sdds-insol/src/components/IconButton/IconButton.config.ts
  packages/sdds-insol/src/components/IconButton/IconButton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(insol): add new theme `insol-next`
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

docs(readme): fix typo
  packages/sdds-insol/README.md
Due: prettier --write --parser markdown

docs(insol): rewrite `README.md` [no ci]
  packages/sdds-insol/README.md
  packages/sdds-insol/README.mdx
Due: prettier --write --parser markdown

fix(attach): use new button config
  packages/sdds-insol/src/components/Attach/Attach.config.ts
Due: eslint --fix, prettier --write

feat(button): add new view `Green`
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

feat(sdds-themes): add new theme `insol-next`
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/index.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

chore: update tests/snapshots
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1542] Attach size=l, view=default, enableContentLeft, buttonText.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1546] Attach view=positive, hasAttachment=false.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1547] Attach view=warning, flow=horizontal, fileFormat=all.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1548] Attach view=negative, flow=vertical.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1549] Attach view=dark, flow=auto, width=500px.snap.png
  cypress/snapshots/insol/Attach/sdds-insol Attach -- [PLASMA-T1550] Attach view=black, width=250px.snap.png
  cypress/snapshots/insol/Button/sdds-insol Button -- [PLASMA-T1343] Button size=l, view=positive contentLeft, contentRight, contentPlacing=default, stretching=auto, pin=square-square.snap.png
  cypress/snapshots/insol/Button/sdds-insol Button -- [PLASMA-T1344] Button size=m, view=negative, contentLeft, value, contentPlacing=relaxed, stretching=filled, pin=square-clear.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-T1525] IconButton size=l, view=positive, pin=square-square.snap.png
  cypress/snapshots/insol/IconButton/plasma-b2c IconButton -- [PLASMA-T1526] IconButton size=m, view=negative, pin=square-clear.snap.png
  cypress/snapshots/insol/NumberInput/plasma-b2c NumberInput -- customIncrementButton,customDecrementButton.snap.png
  packages/sdds-insol/src/components/Attach/Attach.update-test.component-test.tsx
  packages/sdds-insol/src/components/IconButton/IconButton.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: fix version
  packages/sdds-insol/package.json
Due: prettier --write --parser json

feat: update Badge, Chip snaps
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-1652] Badge customBackgroundColor, customColor.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1356] Badge size=l, view=default, enableContentLeft.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1357] Badge size=m, view=accent, enableContentRight.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1358] Badge size=s, view=positive, pilled.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1359] Badge size=xs, view=warning.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1360] Badge size=l, view=negative.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1361] Badge size=m, view=dark.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1362] Badge size=s, view=light.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1363] Badge size=l, view=default, clear.snap.png
  cypress/snapshots/insol/Badge/sdds-insol Badge -- [PLASMA-T1364] Badge size=l, view=default, transparent.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- Chip size=xs, with right Icon.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1442] Chip size=l, view=default, hasClear.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1443] Chip size=m, view=secondary, without Clear, pilled.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1446] Chip view=accent, size=s.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1447] Chip size=xs, with Icon.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T1654] Chip disabled.snap.png
  cypress/snapshots/insol/Chip/sdds-insol Chip -- [PLASMA-T977] Chip fixed width.snap.png
Due: none

fix(radiobox): update snapshots [PLASMA-6585]
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1416] RadioBox size=m, label, description, checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1417] RadioBox size=s, label, description, not checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1418] RadioBox size=m, label, checked.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1420] RadioBox size=m, label, description, disabled.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1485] RadioBox view=default, singleLine.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1487] RadioBox view=tertiary.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1488] RadioBox view=paragraph.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1490] RadioBox view=positive.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1491] RadioBox view=warning.snap.png
  cypress/snapshots/insol/Radiobox/sdds-insol Radiobox -- [PLASMA-1492] RadioBox view=negative.snap.png
Due: none

ci: fix update lock files [no ci]
  .github/actions/update-package-lock/action.yml
Due: none

fix: re-generate next-insol theme
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write
