Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

refactor(plasma-hope): slim TextField to types-only exports (T6)
  packages/plasma-hope/src/components/TextField/TextField.tsx
  packages/plasma-hope/src/components/TextField/index.ts
  packages/plasma-hope/src/components/TextField/views/b2c/Caption.tsx
  packages/plasma-hope/src/components/TextField/views/b2c/Content.tsx
  packages/plasma-hope/src/components/TextField/views/b2c/Field.tsx
  packages/plasma-hope/src/components/TextField/views/b2c/Input.tsx
  packages/plasma-hope/src/components/TextField/views/b2c/Placeholder.tsx
  packages/plasma-hope/src/components/TextField/views/b2c/TextField.props.ts
  packages/plasma-hope/src/components/TextField/views/b2c/TextFieldB2C.tsx
  packages/plasma-hope/src/components/TextField/views/b2c/mixins.tsx
  packages/plasma-hope/src/components/TextField/views/web/Field.props.ts
  packages/plasma-hope/src/components/TextField/views/web/Field.tsx
  packages/plasma-hope/src/components/TextField/views/web/Input.props.tsx
  packages/plasma-hope/src/components/TextField/views/web/Input.tsx
  packages/plasma-hope/src/components/TextField/views/web/TextFieldWeb.tsx
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-hope): drop PaginationDots implementation; keep type exports (T7)
  packages/plasma-hope/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-hope/src/components/PaginationDots/PaginationDots.tsx
  packages/plasma-hope/src/components/PaginationDots/SmartPaginationDots.tsx
  packages/plasma-hope/src/components/PaginationDots/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(plasma-hope): trim public index and remove unused devDependencies (T8)
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-hope/src/helpers/index.ts
  packages/plasma-hope/src/hocs/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-hope/src/mixins/index.ts
  packages/plasma-hope/src/types/index.ts
  packages/plasma-hope/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: fix package.json formatting and lockfile update workflow
  .editorconfig
  .lintstagedrc
  .prettierignore
  .prettierrc
  CONTRIBUTING.md
  lint-staged.config.cjs
  package.json
Due: prettier --write --parser markdown, prettier --write --parser json

chore(plasma-hope): remove unused storeon dependency (T1)
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
Due: prettier --write --parser json

fix: use json parser in Prettier override for package.json files
  .prettierrc
Due: none

fix(Accordion): remove !important from accordionItemBorderRadius config
  packages/plasma-b2c/src/components/Accordion/Accordion.config.ts
  packages/plasma-giga/src/components/Accordion/Accordion.config.ts
  packages/plasma-homeds/src/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/examples/components/Accordion/Accordion.config.ts
  packages/plasma-web/src/components/Accordion/Accordion.config.ts
  packages/sdds-bizcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-cs/src/components/Accordion/Accordion.config.ts
  packages/sdds-dfa/src/components/Accordion/Accordion.config.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.draft.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.ts
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
  packages/sdds-netology/src/components/Accordion/Accordion.config.ts
  packages/sdds-os/src/components/Accordion/Accordion.config.ts
  packages/sdds-platform-ai/src/components/Accordion/Accordion.config.ts
  packages/sdds-sbcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-scan/src/components/Accordion/Accordion.config.ts
  packages/sdds-serv/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

fix(Accordion): separate clear-view radius from size radius
  packages/plasma-b2c/src/components/Accordion/Accordion.config.ts
  packages/plasma-giga/src/components/Accordion/Accordion.config.ts
  packages/plasma-giga/src/components/Accordion/Accordion.update-test.component-test.tsx
  packages/plasma-homeds/src/components/Accordion/Accordion.config.ts
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.tsx
  packages/plasma-new-hope/src/examples/components/Accordion/Accordion.config.ts
  packages/plasma-web/src/components/Accordion/Accordion.config.ts
  packages/sdds-bizcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-cs/src/components/Accordion/Accordion.config.ts
  packages/sdds-dfa/src/components/Accordion/Accordion.config.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.draft.ts
  packages/sdds-finai/src/components/Accordion/Accordion.config.ts
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
  packages/sdds-netology/src/components/Accordion/Accordion.config.ts
  packages/sdds-os/src/components/Accordion/Accordion.config.ts
  packages/sdds-platform-ai/src/components/Accordion/Accordion.config.ts
  packages/sdds-sbcom/src/components/Accordion/Accordion.config.ts
  packages/sdds-scan/src/components/Accordion/Accordion.config.ts
  packages/sdds-serv/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(sdds-finai): add EmbeddedButton to export
  packages/sdds-finai/src/components/_beta/EmbeddedButton/index.ts
  packages/sdds-finai/src/components/_beta/index.ts
Due: eslint --fix, prettier --write

fix(sdds-dfa): return Skeleton
  packages/sdds-dfa/src/components/Skeleton/Skeleton.stories.tsx
  packages/sdds-dfa/src/index.ts
  website/sdds-dfa-docs/docs/components/Skeleton.mdx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): update Segment size
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1350] Segment size=l, orientation=horizontal.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1351] Segment size=m, pilled, hasBackground, contentLeft=icon, contentRight=text.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1352] Segment size=s, contentLeft=icon.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1354] Segment orientation=vertical.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1355] Segment disabled.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1667] Segment segmentItemView=secondary, stretch, contentLeft=icon, contentRight=counter.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-T1964] Segment singleSelectedRequired.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- [PLASMA-] Segment controlled change.snap.png
  cypress/snapshots/insol/chromium/Segment/sdds-insol Segment -- _maxItemWidth.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1350] Segment size=l, orientation=horizontal.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1351] Segment size=m, pilled, hasBackground, contentLeft=icon, contentRight=text.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1352] Segment size=s, contentLeft=icon.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1354] Segment orientation=vertical.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1355] Segment disabled.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1667] Segment segmentItemView=secondary, stretch, contentLeft=icon, contentRight=counter.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-T1964] Segment singleSelectedRequired.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- [PLASMA-] Segment controlled change.snap.png
  cypress/snapshots/insol/webkit/Segment/sdds-insol Segment -- _maxItemWidth.snap.png
  packages/sdds-insol/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-insol/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write

feat: resolve LinkButton conflict
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): add vertical pilled segment br
  packages/plasma-new-hope/src/components/Segment/tokens.ts
  packages/plasma-new-hope/src/components/Segment/ui/SegmentGroup/variations/_pilled/base.ts
Due: eslint --fix, prettier --write

Bump independent versions [skip ci]
  packages/sdds-dfa/package-lock.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package-lock.json
  packages/sdds-finai/package.json
  utils/api-tests/package-lock.json
  utils/api-tests/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
  website/sdds-dfa-docs/package-lock.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package-lock.json
  website/sdds-finai-docs/package.json
Due: prettier --write --parser json

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/sdd-dfa.json
  website/plasma-website/public/data/sdds-finai.json
Due: prettier --write --parser json

docs(sbcom): fix after llm review
  website/sdds-sbcom-docs/docs/components/Autocomplete.mdx
  website/sdds-sbcom-docs/docs/components/Badge.mdx
  website/sdds-sbcom-docs/docs/components/Button.mdx
  website/sdds-sbcom-docs/docs/components/ButtonGroup.mdx
  website/sdds-sbcom-docs/docs/components/Drawer.mdx
  website/sdds-sbcom-docs/docs/components/Dropzone.mdx
  website/sdds-sbcom-docs/docs/components/EmbedIconButton.mdx
  website/sdds-sbcom-docs/docs/components/Notification.mdx
  website/sdds-sbcom-docs/docs/components/Popover.mdx
  website/sdds-sbcom-docs/docs/components/Skeleton.mdx
  website/sdds-sbcom-docs/docs/components/Steps.mdx
  website/sdds-sbcom-docs/docs/components/Table.mdx
  website/sdds-sbcom-docs/docs/components/Toolbar.mdx
  website/sdds-sbcom-docs/docs/components/Tour.mdx
Due: none

ci(sbcom): add docs
  .github/meta-prod.js
Due: eslint --fix, prettier --write

chore(sbcom): update lock file
  .github/meta-prod.js
  .github/meta.js
Due: eslint --fix, prettier --write

chore(sbcom): update lock file 1
  website/sdds-sbcom-docs/package-lock.json
Due: prettier --write --parser json

chore(sbcom): update lock file 2
  website/sdds-sbcom-docs/package-lock.json
Due: prettier --write --parser json

fix(): fix LinkButton hover/active colors
  packages/plasma-b2c/src/components/LinkButton/LinkButton.config.ts
  packages/plasma-giga/src/components/LinkButton/LinkButton.config.ts
  packages/plasma-homeds/src/components/LinkButton/LinkButton.config.ts
  packages/plasma-new-hope/src/components/LinkButton/LinkButton.styles.ts
  packages/plasma-new-hope/src/components/LinkButton/LinkButton.tokens.ts
  packages/plasma-new-hope/src/components/LinkButton/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/LinkButton/variations/_disabled/tokens.json
  packages/plasma-new-hope/src/components/LinkButton/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/LinkButton/variations/_view/base.ts
  packages/plasma-new-hope/src/components/LinkButton/variations/_view/tokens.json
  packages/plasma-new-hope/src/components/Table/Table.styles.ts
  packages/plasma-new-hope/src/examples/components/LinkButton/LinkButton.config.ts
  packages/plasma-web/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-bizcom/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-dfa/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-finai/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-insol/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-netology/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-os/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-platform-ai/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-sbcom/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-scan/src/components/LinkButton/LinkButton.config.ts
  packages/sdds-serv/src/components/LinkButton/LinkButton.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(new-hope): integrate multiplicity props into TimePickerGrid component
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add stories for TimePicker with multiplicity examples
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  utils/plasma-sb-utils/src/components/TimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/TimePicker/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): update TimePickerGrid utils with range step parameter and roundToMultiplicity
  packages/plasma-new-hope/src/components/TimePickerGrid/utils/index.ts
Due: eslint --fix, prettier --write

feat(new-hope): add API type-check test for TimePicker multiplicity props
  utils/api-tests/src/components/TimePicker/TimePicker.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add multiplicity Minutes/Seconds props to TimePickerGrid and TimePicker
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.types.ts
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.types.ts
Due: eslint --fix, prettier --write

feat(new-hope): pass multiplicity props through TimePicker to TimePickerGrid
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add Cypress component tests for TimePickerGrid multiplicity
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update ProgrssBarCircular docs
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.template-doc.mdx
  website/plasma-b2c-docs/docs/components/ProgressBarCircular.mdx
  website/plasma-giga-docs/docs/components/ProgressBarCircular.mdx
  website/plasma-homeds-docs/docs/components/ProgressBarCircular.mdx
  website/plasma-web-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-dfa-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-finai-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-insol-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-netology-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-platform-ai-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-serv-docs/docs/components/ProgressBarCircular.mdx
Due: none

feat(plasma-new-hope): add reverse for ProgressBarCircle and create cpuntdown Notification example
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.styles.ts
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.tsx
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.types.ts
  packages/plasma-new-hope/src/examples/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-sbcom): add Notification with countdown story
  packages/plasma-new-hope/src/examples/components/Notification/Notification.stories.tsx
  packages/sdds-sbcom/src/components/Notification/Notification.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(sbcom): fix after llm review
  website/sdds-sbcom-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-sbcom-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-sbcom-docs/docs/components/Attach.mdx
  website/sdds-sbcom-docs/docs/components/Autocomplete.mdx
  website/sdds-sbcom-docs/docs/components/Badge.mdx
  website/sdds-sbcom-docs/docs/components/Button.mdx
  website/sdds-sbcom-docs/docs/components/ButtonGroup.mdx
  website/sdds-sbcom-docs/docs/components/Card.mdx
  website/sdds-sbcom-docs/docs/components/Drawer.mdx
  website/sdds-sbcom-docs/docs/components/Dropzone.mdx
  website/sdds-sbcom-docs/docs/components/EmbedIconButton.mdx
  website/sdds-sbcom-docs/docs/components/File.mdx
  website/sdds-sbcom-docs/docs/components/Image.mdx
  website/sdds-sbcom-docs/docs/components/Modal.mdx
  website/sdds-sbcom-docs/docs/components/Notification.mdx
  website/sdds-sbcom-docs/docs/components/NumberFormat.mdx
  website/sdds-sbcom-docs/docs/components/Popover.mdx
  website/sdds-sbcom-docs/docs/components/Popup.mdx
  website/sdds-sbcom-docs/docs/components/Skeleton.mdx
  website/sdds-sbcom-docs/docs/components/Steps.mdx
  website/sdds-sbcom-docs/docs/components/Table.mdx
  website/sdds-sbcom-docs/docs/components/TextArea.mdx
  website/sdds-sbcom-docs/docs/components/Toast.mdx
  website/sdds-sbcom-docs/docs/components/Toolbar.mdx
  website/sdds-sbcom-docs/docs/components/Tour.mdx
  website/sdds-sbcom-docs/docs/components/Typography.mdx
  website/sdds-sbcom-docs/docs/form/NativeForm.mdx
  website/sdds-sbcom-docs/docs/form/ReactHookForm.mdx
Due: none
