Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add dates sorting on DatePicker blur
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/hooks/useDatePicker.ts
  packages/plasma-new-hope/src/components/DatePicker/utils/dateHelper.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add change callback ondatepicker calendar date choose
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/hooks/useDatePicker.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): add portal forwarding to DatePicker
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/components/Popover/Popover.types.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-*): fix DatePicker test
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- default.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop defaultDate, enableContent.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop disabled, readOnly.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop format.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop input date, double calendar.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop input date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop size l.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop size m.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop size s.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop size xs.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop valueError, valueSuccess.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePicker -- prop onToggle, outside click.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- [PLASMA-T1115] DatePickerRange default.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- [PLASMA-T1116] DatePickerRange input date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- [PLASMA-T1117] DatePickerRange input same date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- [PLASMA-T1120] DatePickerRange input date, double calendar.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop defaultDate, enableContent.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop disabled, readOnly.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop format.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop size l.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop size m.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop size s.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop size xs.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- prop valueError, valueSuccess.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop defaultDate, enableContent.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop disabled, readOnly.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop format.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop input date, double calendar.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop input date.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop label, leftHelper, placeholder.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size l.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size m.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size s.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop size xs.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop valueError, valueSuccess.snap.png
Due: none

feat(plasma-new-hope): fix DatePicker focus issues
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/variations/_size/base.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/components/DatePicker/hooks/useDatePicker.ts
  packages/plasma-new-hope/src/components/DatePicker/hooks/useKeyboardNavigation.ts
Due: eslint --fix, prettier --write, stylelint

docs: generate new api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

fix(sdds-cs): set overlay and navigation tokens
  packages/plasma-new-hope/src/components/Breadcrumbs/Breadcrumbs.styles.ts
  packages/plasma-new-hope/src/components/Breadcrumbs/Breadcrumbs.tokens.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-cs/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-cs/src/components/Modal/Modal.stories.tsx
  packages/sdds-cs/src/components/Pagination/Pagination.config.ts
  packages/sdds-cs/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-cs/src/components/Progress/Progress.config.ts
  packages/sdds-cs/src/components/Progress/Progress.stories.tsx
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-cs/src/components/Toast/Toast.config.ts
  packages/sdds-cs/src/components/Toast/Toast.stories.tsx
  packages/sdds-cs/src/components/Tooltip/Tooltip.config.ts
  packages/sdds-cs/src/components/Tooltip/Tooltip.stories.tsx
  packages/sdds-dfa/src/components/Tabs/horizontal/HorizontalTabs.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(*): add breadrumbs new tokens
  packages/plasma-b2c/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/plasma-new-hope/src/components/Breadcrumbs/Breadcrumbs.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/plasma-web/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-cs/src/components/Notification/Notification.config.ts
  packages/sdds-cs/src/components/Popover/Popover.config.ts
  packages/sdds-cs/src/components/Popover/Popover.stories.tsx
  packages/sdds-cs/src/components/Tabs/Tabs.stories.tsx
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabItem.config.ts
  packages/sdds-cs/src/components/Tabs/horizontal/HorizontalTabs.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabItem.config.ts
  packages/sdds-cs/src/components/Tabs/vertical/VerticalTabs.config.ts
  packages/sdds-cs/src/components/Tooltip/Tooltip.stories.tsx
  packages/sdds-dfa/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-finportal/src/components/Breadcrumbs/Breadcrumbs.config.ts
  packages/sdds-serv/src/components/Breadcrumbs/Breadcrumbs.config.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

chore(plasma-new-hope): improve dsplName for storybook
  packages/plasma-new-hope/.storybook/main.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdds_serv
  packages/plasma-tokens/data/themes/sdds_serv.json
  packages/plasma-tokens/src/brands/sdds_serv/index.ts
  packages/plasma-tokens/src/themes/sdds_serv__dark.ts
  packages/plasma-tokens/src/themes/sdds_serv__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add theme sdds_dfa
  packages/plasma-tokens/data/themes/sdds_dfa.json
  packages/plasma-tokens/src/brands/sdds_dfa/index.ts
  packages/plasma-tokens/src/themes/sdds_dfa__dark.ts
  packages/plasma-tokens/src/themes/sdds_dfa__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

docs: update TextArea & TextField docs
  website/plasma-b2c-docs/docs/components/TextArea.mdx
  website/plasma-b2c-docs/docs/components/TextField.mdx
  website/plasma-web-docs/docs/components/TextArea.mdx
  website/plasma-web-docs/docs/components/TextField.mdx
  website/sdds-cs-docs/docs/components/TextArea.mdx
  website/sdds-cs-docs/docs/components/TextField.mdx
  website/sdds-dfa-docs/docs/components/TextArea.mdx
  website/sdds-dfa-docs/docs/components/TextField.mdx
  website/sdds-serv-docs/docs/components/TextArea.mdx
  website/sdds-serv-docs/docs/components/TextField.mdx
Due: none

test(plasma-*): fix tests depending on TextField
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop size.snap.png
  cypress/snapshots/b2c/components/Mask/Mask.update-test.component-test.tsx/plasma-b2c Mask -- [PLASMA-T1246] Mask view=negative, size=xs, requiredPlacement=left.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop size.snap.png
Due: none

feat(sdds-*): add hint to TextArea & TextField
  packages/sdds-cs/src/components/Mask/Mask.ts
  packages/sdds-cs/src/components/TextArea/TextArea.config.tsx
  packages/sdds-cs/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-cs/src/components/TextArea/TextArea.tsx
  packages/sdds-cs/src/components/TextField/TextField.config.ts
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  packages/sdds-cs/src/components/TextField/TextField.tsx
  packages/sdds-dfa/src/components/Mask/Mask.ts
  packages/sdds-dfa/src/components/TextArea/TextArea.config.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.tsx
  packages/sdds-dfa/src/components/TextField/TextField.config.ts
  packages/sdds-dfa/src/components/TextField/TextField.stories.tsx
  packages/sdds-dfa/src/components/TextField/TextField.tsx
  packages/sdds-finportal/src/components/Mask/Mask.ts
  packages/sdds-finportal/src/components/TextArea/TextArea.config.tsx
  packages/sdds-finportal/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-finportal/src/components/TextArea/TextArea.tsx
  packages/sdds-finportal/src/components/TextField/TextField.config.ts
  packages/sdds-finportal/src/components/TextField/TextField.stories.tsx
  packages/sdds-finportal/src/components/TextField/TextField.tsx
  packages/sdds-serv/src/components/Mask/Mask.ts
  packages/sdds-serv/src/components/TextArea/TextArea.config.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.tsx
  packages/sdds-serv/src/components/TextField/TextField.config.ts
  packages/sdds-serv/src/components/TextField/TextField.stories.tsx
  packages/sdds-serv/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
  packages/themes/core-themes/CHANGELOG.md
  packages/themes/plasma-themes/CHANGELOG.md
  packages/themes/sdds-themes/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json
