Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(segment): update snapshots [PLASMA-6633]
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1350] Segment size=l, orientation=horizontal.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1354] Segment orientation=vertical.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1355] Segment disabled.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1667] Segment segmentItemView=secondary, stretch, contentLeft=icon, contentRight=counter.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-T1964] Segment singleSelectedRequired.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- [PLASMA-] Segment controlled change.snap.png
  cypress/snapshots/insol/Segment/sdds-insol Segment -- _maxItemWidth.snap.png
Due: none

Update versions
  packages/sdds-insol/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
Due: prettier --write --parser json

Update versions
  packages/sdds-insol/package.json
Due: prettier --write --parser json

feat(sdds-insol): update DatePicker, DateTimePicker configs
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update TextArea snapshots
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1041] TextArea autoResize, minAuto.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1234] TextArea autoResize, maxAuto.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1235] TextArea custom height and width.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1237] TextArea resize=vertical.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1238] TextArea resize=both.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1580] TextArea size=l, view=default, label, labelPlacement=inner, value, leftHelperText, rightHelperText, contentRight, required, requiredPlacement=left, hasRequiredIndicator.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1582] TextArea size=s, view=warning, label, labelPlacement=inner, placeholder, rightHelper, required, requiredPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1583] TextArea size=xs, view=negative, labelPlacement=inner, placeholder, leftHelper, rightHelper, contentRight, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1584] size=l, view=default, label, labelPlacement=outer, value, contentRight, required, requiredPlacement=left, readOnly.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1585] TextArea size=m, view=warning, label, labelPlacement=inner, value, leftHelper, rightHelper, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1586] TextArea size=s, view=default, labelPlacement=inner, placeholder, leftHelper, rightHelper, required, requiredPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1588] TextArea size=l, view=default, label, labelPlacement=inner, value, placeholder, contentRight, contentLeft, required, requiredPlacement=left, disabled.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1589] TextArea size=m, view=negative, label, labelPlacement=outer, placeholder, leftHelper, rightHelper, optional.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1590] TextArea size=s, view=warning, label, labelPlacement=inner, placeholder, leftHelper, rightHelper, contentRight, required, requiredPlacement=right, focused.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1610] TextArea no hint.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1611] TextArea empty titleCaption, empty hint.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1612] TextArea hasHint, hintTrigger=click, hintHasArrow=false.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1612] TextArea mouseover on hint icon.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1613] TextArea hintTrigger=hover, hintSize=m, hintPlacement=top, hintWidth=1px, hintHasArrow.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1614] TextArea hintSize=s, hintPlacement=bottom, hintWidth=100px.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1615] TextArea labelPlacement=outer, hintPlacement=left, hintWidth=500px.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1616] TextArea hintPlacement=right.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1944] TextArea size=xl, view=default, label, labelPlacement=inner, value, placeholder, leftHelper, rightHelper, contentRight.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T1963] TextArea required, without hasRequiredIndicator.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- [PLASMA-T768] TextArea autoResize.snap.png
  cypress/snapshots/insol/TextArea/sdds-insol TextArea -- headerSlot.snap.png
Due: none

feat(sdds-insol): update TextArea for next-insol
  packages/sdds-insol/src/components/TextArea/TextArea.config.ts
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(next-insol): fix config [PLASMA-6624]
  packages/sdds-insol/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.clear.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DateTimePicker/DateTimePicker.config.ts
Due: eslint --fix, prettier --write

feat(sdds-insol): resolve package deps
  packages/sdds-insol/package-lock.json
Due: prettier --write --parser json

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-homeds/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-bizcom/package.json
  packages/sdds-crm/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package.json
  packages/sdds-insol/package.json
  packages/sdds-netology/package.json
  packages/sdds-os/package.json
  packages/sdds-platform-ai/package.json
  packages/sdds-scan/package.json
  packages/sdds-serv/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-platform-ai-docs/package.json
  website/sdds-scan-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

fix(tokens): accepted changelog 18.02.2026 [PLASMA-6764]
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

fix(tokens): accepted changelog 18.02.2026 [PLASMA-6764]
  packages/sdds-insol/package-lock.json
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  website/sdds-insol-docs/package-lock.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore(cypress): update snapshots [PLASMA-6764]
  cypress/snapshots/insol/Button/Button -- view=accent-gradient, size=m, stretching=fixed.snap.png
  cypress/snapshots/insol/Button/Button -- view=black.snap.png
  cypress/snapshots/insol/Button/Button -- view=clear, size=xs.snap.png
  cypress/snapshots/insol/Button/Button -- view=dark.snap.png
  cypress/snapshots/insol/Button/Button -- view=green.snap.png
  cypress/snapshots/insol/Button/Button -- view=negative.snap.png
  cypress/snapshots/insol/Button/Button -- view=positive, size=xxs.snap.png
  cypress/snapshots/insol/Button/Button -- view=secondary, size=s.snap.png
  cypress/snapshots/insol/Button/Button -- view=warning.snap.png
  cypress/snapshots/insol/File/File -- size=s.snap.png
  cypress/snapshots/insol/File/File -- size=xs.snap.png
  cypress/snapshots/insol/File/File -- view=default, size=l.snap.png
  cypress/snapshots/insol/File/File -- view=negative, size=m.snap.png
Due: none

chore(cypress): update snaphots [PLASMA-6764]
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1709] Accordion size=m, view=secondary, stretching=fixed, type=sign, alignWithTitle.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1710] Accordion size=s, view=clear, type=clear.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1711] Accordion size=xs, view=outlined.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
Due: none

fix(accordion): use opened-background, background-hover logic [PLASMA-6764]
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

chore(cypress): update snaphots [PLASMA-6764]
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop size s.snap.png
  cypress/snapshots/insol/DateTimePicker/sdds-insol DateTimePicker -- prop stretch.snap.png
  cypress/snapshots/insol/Tree/sdds-insol Tree -- flow async loading.snap.png
Due: none

feat(accordion): add opened-background, background-hover logic [PLASMA-6764]
  packages/plasma-new-hope/src/components/Accordion/Accordion.tokens.ts
  packages/plasma-new-hope/src/components/Accordion/ui/AccordionItem/AccordionItem.styles.ts
  packages/plasma-new-hope/src/components/Accordion/variations/_view/tokens.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(accordion): fix accordionGap [PLASMA-6764]
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

fix(button): accepted changelog 26.02.2026 [PLASMA-6764]
  packages/sdds-insol/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write

fix(accordion): accepted changelog 26.02.2026 [PLASMA-6764]
  packages/sdds-insol/src/components/Accordion/Accordion.config.ts
Due: eslint --fix, prettier --write

fix: update lockfiles
  packages/themes/core-themes/package-lock.json
Due: prettier --write --parser json

Update versions
  packages/plasma-icons/package.json
  packages/sdds-insol/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  website/sdds-insol-docs/package.json
Due: prettier --write --parser json

feat(new-hope): refactor draggable part in Popup, Modal
  packages/plasma-new-hope/src/components/Popup/Popup.tsx
  packages/plasma-new-hope/src/components/Popup/PopupRoot.tsx
  packages/plasma-new-hope/src/components/Popup/ui/Draggable/Draggable.tsx
  packages/plasma-new-hope/src/components/Popup/ui/index.ts
Due: eslint --fix, prettier --write, stylelint

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-homeds.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-os.json
  website/plasma-website/public/data/sdds-platform-ai.json
  website/plasma-website/public/data/sdds-sbcom.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser json

docs(textfield): add example for cleaning logic [PLASMA-6734]
  website/plasma-b2c-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/plasma-b2c-docs/docs/components/TextField.mdx
  website/plasma-giga-docs/docs/_examples/_autocomplete/_cleaning-logic.mdx
  website/plasma-giga-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/plasma-giga-docs/docs/components/Autocomplete.mdx
  website/plasma-giga-docs/docs/components/TextField.mdx
  website/plasma-homeds-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/plasma-homeds-docs/docs/components/TextField.mdx
  website/plasma-web-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/plasma-web-docs/docs/components/TextField.mdx
  website/sdds-crm-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-cs-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-cs-docs/docs/components/TextField.mdx
  website/sdds-dfa-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-dfa-docs/docs/components/TextField.mdx
  website/sdds-finai-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-finai-docs/docs/components/TextField.mdx
  website/sdds-insol-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-insol-docs/docs/components/TextField.mdx
  website/sdds-netology-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-netology-docs/docs/components/TextField.mdx
  website/sdds-platform-ai-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-platform-ai-docs/docs/components/TextField.mdx
  website/sdds-scan-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-scan-docs/docs/components/TextField.mdx
  website/sdds-serv-docs/docs/_examples/_autocomplete/_cleaning-logic.mdx
  website/sdds-serv-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-serv-docs/docs/components/Autocomplete.mdx
  website/sdds-serv-docs/docs/components/TextField.mdx
Due: none

docs(textfield): rework doc examples [PLASMA-6734]
  website/sdds-serv-docs/docs/_examples/_textfield/_appearance.mdx
  website/sdds-serv-docs/docs/_examples/_textfield/_controlled.mdx
  website/sdds-serv-docs/docs/_examples/_textfield/_size.mdx
  website/sdds-serv-docs/docs/_examples/_textfield/_uncontrolled.mdx
  website/sdds-serv-docs/docs/_examples/_textfield/_view.mdx
  website/sdds-serv-docs/docs/components/TextField.mdx
Due: none

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(sdds_insol_next): update themes
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

feat(sdds-insol): update Select
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2328] Select treeView, arrowPlacement=left.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2329] Select treeView, arrowPlacement=right.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2330] Multiselect treeView, arrowPlacement=left.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- [PLASMA-T2331] Multiselect treeView, multiSelect arrowPlacement=right.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- basic logic.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- behavior nesting lists within scroll.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- behaviour isTargetAmount.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- default.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- flow, multiselect missing value in items.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- flow, single missing value in items.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop afterList.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop beforeList.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop chipType.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop chipView accent.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop chipView secondary.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop contentLeft.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop flip.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop isTargetAmount.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop item disabled.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop labelPlacement.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop optional.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop renderSelectionIcon multiple.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop renderSelectionIcon single.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop renderValue.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop required, requiredPlacement.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop selectAll button.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop shift.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size l.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size m.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size s.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size xl.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop size xs.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop treeView, multiple mode.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop treeView, single mode.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- snapshot missing value in items.snap.png
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add tokens for nested DisclosureIcon
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/components/Select/ui/TreeList/ui/Item/Item.styles.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add layout-related props to NumberInput
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tokens.ts
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tsx
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.types.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_segmentation/base.ts
  packages/plasma-new-hope/src/examples/components/NumberInput/NumberInput.stories.tsx
  utils/plasma-sb-utils/src/components/NumberInput/NumberInput.tsx
  utils/plasma-sb-utils/src/components/NumberInput/fixtures.ts
  utils/plasma-sb-utils/src/components/NumberInput/index.ts
  utils/plasma-sb-utils/src/components/NumberInput/meta.ts
  utils/plasma-sb-utils/src/components/NumberInput/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: refactor NumberInput docs
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.template-doc.mdx
  website/plasma-b2c-docs/docs/components/NumberInput.mdx
  website/plasma-giga-docs/docs/components/NumberInput.mdx
  website/plasma-web-docs/docs/components/NumberInput.mdx
  website/sdds-cs-docs/docs/components/NumberInput.mdx
  website/sdds-dfa-docs/docs/components/NumberInput.mdx
  website/sdds-finai-docs/docs/components/NumberInput.mdx
  website/sdds-insol-docs/docs/components/NumberInput.mdx
  website/sdds-netology-docs/docs/components/NumberInput.mdx
  website/sdds-scan-docs/docs/components/NumberInput.mdx
  website/sdds-serv-docs/docs/components/NumberInput.mdx
Due: none

feat(new-hope): add Input
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/SendOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconSendOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/components/_ai/Input/Input.styles.ts
  packages/plasma-new-hope/src/components/_ai/Input/Input.tokens.ts
  packages/plasma-new-hope/src/components/_ai/Input/Input.tsx
  packages/plasma-new-hope/src/components/_ai/Input/Input.types.ts
  packages/plasma-new-hope/src/components/_ai/Input/index.ts
  packages/plasma-new-hope/src/components/_ai/Input/utils/defaultValueToString.ts
  packages/plasma-new-hope/src/components/_ai/Input/utils/index.ts
  packages/plasma-new-hope/src/components/_ai/Input/utils/matchSizeToIconSize.ts
  packages/plasma-new-hope/src/components/_ai/Input/variations/_size/base.ts
  packages/plasma-new-hope/src/components/_ai/Input/variations/_view/base.ts
  packages/plasma-new-hope/src/components/_ai/index.ts
  packages/plasma-new-hope/src/examples/components/_ai/Input/Input.config.ts
  packages/plasma-new-hope/src/examples/components/_ai/Input/Input.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Input/Input.ts
  packages/plasma-new-hope/src/index.ts
  utils/plasma-sb-utils/src/components/Pagination/stories.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
