Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

ci: test
  packages/plasma-hope/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

ci: split lint and unit tests to different jobs
  .github/workflows/required-primary-checks.yml
Due: none

feat(plasma-hope, plasma-web): Add some threshold fallbacks
  packages/plasma-hope/src/components/Upload/Upload.component-test.tsx
  packages/plasma-hope/src/components/UploadAudio/UploadAudio.component-test.tsx
  packages/plasma-hope/src/components/UploadVisual/UploadVisual.component-test.tsx
  packages/plasma-web/src/components/Calendar/Calendar.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): Add some threshold fallbacks
  packages/plasma-ui/src/components/Carousel/Carousel.component-test.tsx
  packages/plasma-ui/src/components/Cell/Cell.component-test.tsx
  packages/plasma-ui/src/components/Header/Header.component-test.tsx
  packages/plasma-ui/src/components/Header/NeuHeader.component-test.tsx
  packages/plasma-ui/src/components/ProductCard/ProductCard.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Add global threshold to all cypress configs
  actions/platform-test/src/spawn.ts
  cypress/config/b2b-config.json
  cypress/config/b2c-config.json
  cypress/config/temple/mobile.json
  cypress/config/temple/sberbox.json
  cypress/config/temple/sberportal.json
  cypress/config/ui-config.json
  cypress/config/web-config.json
  cypress/support/commands.ts
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-temple): Add some threshold fallbacks
  packages/plasma-temple/src/components/Form/Form@common.component-test.tsx
  packages/plasma-temple/src/components/GalleryNew/Gallery@common.component-test.tsx
  packages/plasma-temple/src/pages/GalleryPage/GalleryPage@sberbox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): useFocusTrap focusAfterNode added
  packages/plasma-hope/src/hooks/useFocusTrap.ts
  packages/plasma-hope/src/utils/focusManager.ts
  website/plasma-web-docs/docs/functions/hooks.mdx
Due: eslint --fix, prettier --write

feat(plasma-b2c, plasma-web): Modal refinement
  cypress/snapshots/b2c/components/Modal/ModalBase.component-test.tsx/plasma-web Modal -- without close icon.snap.png
  cypress/snapshots/web/components/Modal/Modal.component-test.tsx/plasma-web Modal -- without close icon.snap.png
  packages/plasma-b2c/src/components/Modal/Modal.stories.tsx
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/Modal/Modal.tsx
  packages/plasma-hope/src/components/Modal/ModalView.tsx
  packages/plasma-hope/src/utils/focusManager.ts
  packages/plasma-web/src/components/Modal/Modal.component-test.tsx
  packages/plasma-web/src/components/Modal/Modal.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

ci: enable full "lerna bootstrap" [Unit tests]
  .github/workflows/required-primary-checks.yml
Due: none

chore: delete "test" comment
  packages/plasma-hope/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add `default` theme and tokens generation
  packages/plasma-tokens/data/themes/default.json
  packages/plasma-tokens/lib/creators/createDefaultBrand.ts
  packages/plasma-tokens/lib/creators/index.ts
  packages/plasma-tokens/lib/generate.ts
  packages/plasma-tokens/src/brands/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-tokens): Add `plasma-web` scheme
  packages/plasma-tokens/data/themes/plasma_web.json
Due: prettier --write --parser json

feat(plasma-tokens): Update `src` directory
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
Due: eslint --fix, prettier --write

fix(plasma-web, plasma-b2c): Tooltip update on text change
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/empty.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/multiple.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- multiple placement.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- out of bounds.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- simple.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/plasma-web Tooltip -- wrapper overflow scroll.snap.png
  cypress/snapshots/b2c/components/Tooltip/Tooltip.component-test.tsx/single.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/empty.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/multiple.snap.png
  cypress/snapshots/web/components/Tooltip/Tooltip.component-test.tsx/single.snap.png
  packages/plasma-b2c/src/components/Tooltip/Tooltip.stories.tsx
  packages/plasma-hope/src/components/Tooltip/Tooltip.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.component-test.tsx
  packages/plasma-web/src/components/Tooltip/Tooltip.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-typo/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
  utils/plasma-tokens-utils/CHANGELOG.md
Due: prettier --write --parser markdown

fix(palsma-tokens): Update values in border-radius tokesn for `sbermarket` schemes
  packages/plasma-tokens/data/themes/sbermarket.json
  packages/plasma-tokens/data/themes/sbermarket_business.json
  packages/plasma-tokens/data/themes/sbermarket_metro.json
  packages/plasma-tokens/data/themes/sbermarket_selgros.json
  packages/plasma-tokens/data/themes/sbermarket_wlbusiness.json
Due: prettier --write --parser json

fix(plasma-tokens): Update `src` directory for `sbermarket` themes
  packages/plasma-tokens/src/brands/sbermarket/index.ts
  packages/plasma-tokens/src/brands/sbermarket_business/index.ts
  packages/plasma-tokens/src/brands/sbermarket_metro/index.ts
  packages/plasma-tokens/src/brands/sbermarket_selgros/index.ts
  packages/plasma-tokens/src/brands/sbermarket_wlbusiness/index.ts
  packages/plasma-tokens/src/themes/sbermarket__dark.ts
  packages/plasma-tokens/src/themes/sbermarket__light.ts
  packages/plasma-tokens/src/themes/sbermarket_business__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_business__light.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__light.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__light.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__light.ts
Due: eslint --fix, prettier --write

chore: use NODE_OPTIONS=--openssl-legacy-provider
  .github/workflows/documentation-main.yml
Due: none

feat(palsma-tokens-*): Add borderRadius tokens generate for react-native and refactor config.ts
  package.json
  utils/plasma-tokens-native/config.ts
  utils/plasma-tokens-native/src/creators/createBorderRadius.ts
  utils/plasma-tokens-native/src/creators/createProperties.ts
  utils/plasma-tokens-native/src/generate.ts
  utils/plasma-tokens-native/src/generator/formatters/borderRadiusReactNative.ts
  utils/plasma-tokens-native/src/generator/formatters/index.ts
  utils/plasma-tokens-native/src/generator/index.ts
  utils/plasma-tokens-utils/src/generators/generateBorderRadiusTokens.ts
  utils/plasma-tokens-utils/src/generators/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-theme-builder): Update theme kind items with react-native in border-radius
  website/plasma-theme-builder/src/components/Main/Main.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-theme-builder): Actualized generate tokens set
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentDeepTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentWarningTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/index.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentWarningTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/index.ts
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens,plasma-tokens-utils): Update `default` theme with actualized tokens
  packages/plasma-tokens/data/themes/default.json
  packages/plasma-tokens/src/brands/index.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

test: perftest partial run
  .github/workflows/performance-test-pr.yml
  package-lock.json
  package.json
  perftool.config.mts
Due: prettier --write --parser json

test: test
  .github/workflows/performance-test-pr.yml
  packages/plasma-ui/src/components/Button/Button.tsx
Due: eslint --fix, prettier --write, stylelint
