Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(*): add tokens in link
  packages/plasma-asdk/src/components/Link/Link.config.tsx
  packages/plasma-b2c/src/components/Link/Link.config.tsx
  packages/plasma-giga/src/components/Link/Link.config.tsx
  packages/plasma-new-hope/src/components/Breadcrumbs/Breadcrumbs.styles.ts
  packages/plasma-new-hope/src/components/Link/Link.tokens.ts
  packages/plasma-new-hope/src/components/Link/Link.tsx
  packages/plasma-new-hope/src/components/Link/Link.types.ts
  packages/plasma-new-hope/src/components/Link/_disabled/base.ts
  packages/plasma-new-hope/src/components/Link/_focused/base.ts
  packages/plasma-new-hope/src/components/Link/_view/base.ts
  packages/plasma-new-hope/src/components/Link/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Link/Link.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Link/Link.config.ts
  packages/plasma-web/src/components/Link/Link.config.tsx
  packages/sdds-clfd-auto/src/components/Link/Link.config.tsx
  packages/sdds-cs/src/components/Link/Link.config.tsx
  packages/sdds-dfa/src/components/Link/Link.config.tsx
  packages/sdds-finportal/src/components/Link/Link.config.tsx
  packages/sdds-insol/src/components/Link/Link.config.tsx
  packages/sdds-serv/src/components/Link/Link.config.tsx
Due: eslint --fix, prettier --write, stylelint

ci: add comment with version to merged pull requests after release
  .github/workflows/publish-latest.yml
Due: none

feat(*): add info view to progress
  packages/plasma-b2c/src/components/Progress/Progress.config.ts
  packages/plasma-b2c/src/components/Progress/Progress.stories.tsx
  packages/plasma-giga/src/components/Progress/Progress.config.ts
  packages/plasma-giga/src/components/Progress/Progress.stories.tsx
  packages/plasma-new-hope/src/components/Progress/Progress.template-doc.mdx
  packages/plasma-web/src/components/Progress/Progress.config.ts
  packages/plasma-web/src/components/Progress/Progress.stories.tsx
  packages/sdds-clfd-auto/src/components/Progress/Progress.config.ts
  packages/sdds-clfd-auto/src/components/Progress/Progress.stories.tsx
  packages/sdds-dfa/src/components/Progress/Progress.config.ts
  packages/sdds-dfa/src/components/Progress/Progress.stories.tsx
  packages/sdds-finportal/src/components/Progress/Progress.config.ts
  packages/sdds-finportal/src/components/Progress/Progress.stories.tsx
  packages/sdds-insol/src/components/Progress/Progress.config.ts
  packages/sdds-insol/src/components/Progress/Progress.stories.tsx
  packages/sdds-serv/src/components/Progress/Progress.config.ts
  packages/sdds-serv/src/components/Progress/Progress.stories.tsx
  website/plasma-b2c-docs/docs/components/Progress.mdx
  website/plasma-giga-docs/docs/components/Progress.mdx
  website/plasma-web-docs/docs/components/Progress.mdx
  website/sdds-dfa-docs/docs/components/Progress.mdx
  website/sdds-finportal-docs/docs/components/Progress.mdx
  website/sdds-insol-docs/docs/components/Progress.mdx
  website/sdds-serv-docs/docs/components/Progress.mdx
Due: eslint --fix, prettier --write, stylelint

feat(tokens): add fallback token surface-info
  packages/plasma-tokens-b2b/data/fallbackThemes.ts
  packages/plasma-tokens-b2c/data/fallbackThemes.ts
Due: eslint --fix, prettier --write

feat(plasma, sdds): add dynamic height to the virtual list in Combobox
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- prop listMaxHeight with long list.snap.png
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.template-doc.mdx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.styles.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/VirtualList/VirtualList.tsx
  website/plasma-b2c-docs/docs/components/Autocomplete.mdx
  website/plasma-giga-docs/docs/components/Autocomplete.mdx
  website/plasma-web-docs/docs/components/Autocomplete.mdx
  website/sdds-cs-docs/docs/components/Autocomplete.mdx
  website/sdds-dfa-docs/docs/components/Autocomplete.mdx
  website/sdds-finportal-docs/docs/components/Autocomplete.mdx
  website/sdds-insol-docs/docs/components/Autocomplete.mdx
  website/sdds-serv-docs/docs/components/Autocomplete.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma, sdds): add dynamic height to the virtual list in Select
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- prop listMaxHeight with long list.snap.png
  packages/plasma-new-hope/src/components/Select/Select.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/VirtualList/VirtualList.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma, sdds): add dynamic height to the virtual list in Autocomplete
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop listMaxHeight.snap.png
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop virtual dynamic height.snap.png
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop virtual.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop listMaxHeight.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop virtual dynamic height.snap.png
  cypress/snapshots/web/components/Autocomplete/Autocomplete.component-test.tsx/plasma-web Autocomplete -- prop virtual.snap.png
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-giga/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.styles.ts
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.types.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/VirtualList/VirtualList.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.stories.tsx
  packages/plasma-web/src/components/Autocomplete/Autocomplete.component-test.tsx
  packages/plasma-web/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-clfd-auto/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-cs/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-dfa/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-finportal/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-insol/src/components/Autocomplete/Autocomplete.stories.tsx
  packages/sdds-serv/src/components/Autocomplete/Autocomplete.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add theme sdds_scan
  packages/plasma-tokens/data/themes/sdds_scan.json
  packages/plasma-tokens/src/brands/sdds_scan/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_scan__dark.ts
  packages/plasma-tokens/src/themes/sdds_scan__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma, sdds): fix incorrect behaviour in readOnly mode in TextField
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/variations/_label-placement/base.ts
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add note test with has close
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- long title with close icon.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- long title with close icon.snap.png
  packages/plasma-b2c/src/components/Note/Note.component-test.tsx
  packages/plasma-new-hope/src/components/Note/Note.tsx
  packages/plasma-web/src/components/Note/Note.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add hasClose
  packages/plasma-b2c/src/components/Note/Note.config.ts
  packages/plasma-b2c/src/components/Note/Note.stories.tsx
  packages/plasma-giga/src/components/Note/Note.config.ts
  packages/plasma-giga/src/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/components/Note/Note.styles.ts
  packages/plasma-new-hope/src/components/Note/Note.tokens.ts
  packages/plasma-new-hope/src/components/Note/Note.tsx
  packages/plasma-new-hope/src/components/Note/Note.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Note/Note.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Note/Note.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Note/Note.stories.tsx
  packages/plasma-web/src/components/Note/Note.config.ts
  packages/plasma-web/src/components/Note/Note.stories.tsx
  packages/sdds-clfd-auto/src/components/Note/Note.config.ts
  packages/sdds-clfd-auto/src/components/Note/Note.stories.tsx
  packages/sdds-dfa/src/components/Note/Note.config.ts
  packages/sdds-dfa/src/components/Note/Note.stories.tsx
  packages/sdds-finportal/src/components/Note/Note.config.ts
  packages/sdds-finportal/src/components/Note/Note.stories.tsx
  packages/sdds-insol/src/components/Note/Note.config.ts
  packages/sdds-insol/src/components/Note/Note.stories.tsx
  packages/sdds-serv/src/components/Note/Note.config.ts
  packages/sdds-serv/src/components/Note/Note.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-themes): Add `sdds_scan` theme
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/src/css/sdds_scan.module.css
  packages/themes/sdds-themes/src/css/sdds_scan__dark.css
  packages/themes/sdds-themes/src/css/sdds_scan__light.css
  packages/themes/sdds-themes/src/themes/index.ts
  packages/themes/sdds-themes/src/themes/sdds_scan__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_scan__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_scan/index.ts
Due: eslint --fix, prettier --write

fix(plasma-new-hope): fix forward ref in NumberFormat
  packages/plasma-new-hope/src/components/NumberFormat/NumberFormat.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-clfd-auto/package.json
  packages/sdds-crm/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-netology/package.json
  packages/sdds-serv/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-crm-docs/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finportal-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-clfd-auto/package-lock.json
  packages/sdds-crm/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-netology/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add stretch to Calendar & DatePicker
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.styles.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.styles.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/hooks/useQuarters.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarYears/CalendarYears.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarYears/CalendarYears.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/DateStructureItem/DateStructureItem.styles.ts
  packages/plasma-new-hope/src/components/Calendar/utils/calendarGridHelper.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.types.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-*): update Calendar & DatePicker configs
  packages/sdds-clfd-auto/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-clfd-auto/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-clfd-auto/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-clfd-auto/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-clfd-auto/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-crm/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-crm/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-crm/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-crm/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-crm/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-cs/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-dfa/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-finportal/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-finportal/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-insol/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-insol/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-netology/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-netology/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-netology/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-netology/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-netology/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-serv/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-serv/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add CodeField types
  packages/plasma-new-hope/src/components/CodeField/CodeField.types.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): remove logs from NumberInput
  packages/plasma-new-hope/src/components/NumberInput/ui/Input/Input.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add CodeField component
  packages/plasma-new-hope/src/components/CodeField/CodeField.styles.ts
  packages/plasma-new-hope/src/components/CodeField/CodeField.tokens.ts
  packages/plasma-new-hope/src/components/CodeField/CodeField.tsx
  packages/plasma-new-hope/src/components/CodeField/CodeField.types.ts
  packages/plasma-new-hope/src/components/CodeField/index.ts
  packages/plasma-new-hope/src/components/CodeField/utils/constants.ts
  packages/plasma-new-hope/src/components/CodeField/utils/handleCodeError.ts
  packages/plasma-new-hope/src/components/CodeField/utils/handleItemError.ts
  packages/plasma-new-hope/src/components/CodeField/utils/index.ts
  packages/plasma-new-hope/src/components/CodeField/utils/initialValuesHelper.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_disabled/tokens.json
  packages/plasma-new-hope/src/components/CodeField/variations/_shape/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_shape/tokens.json
  packages/plasma-new-hope/src/components/CodeField/variations/_size/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/CodeField/variations/_view/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/CodeField/CodeField.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/CodeField/CodeField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/CodeField/CodeField.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/CodeField/CodeField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/CodeField/CodeField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/CodeField/CodeField.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs: add CodeField docs
  packages/plasma-new-hope/src/components/CodeField/CodeField.template-doc.mdx
  website/plasma-b2c-docs/docs/components/CodeField.mdx
  website/plasma-giga-docs/docs/components/CodeField.mdx
  website/plasma-web-docs/docs/components/CodeField.mdx
  website/sdds-crm-docs/docs/components/CodeField.mdx
  website/sdds-dfa-docs/docs/components/CodeField.mdx
  website/sdds-finportal-docs/docs/components/CodeField.mdx
  website/sdds-insol-docs/docs/components/CodeField.mdx
  website/sdds-netology-docs/docs/components/CodeField.mdx
  website/sdds-serv-docs/docs/components/CodeField.mdx
Due: none

feat(sdds-*): add CodeField component
  packages/sdds-clfd-auto/src/components/CodeField/CodeField.config.ts
  packages/sdds-clfd-auto/src/components/CodeField/CodeField.stories.tsx
  packages/sdds-clfd-auto/src/components/CodeField/CodeField.ts
  packages/sdds-clfd-auto/src/components/CodeField/index.ts
  packages/sdds-clfd-auto/src/index.ts
  packages/sdds-crm/src/components/CodeField/CodeField.config.ts
  packages/sdds-crm/src/components/CodeField/CodeField.stories.tsx
  packages/sdds-crm/src/components/CodeField/CodeField.ts
  packages/sdds-crm/src/components/CodeField/index.ts
  packages/sdds-crm/src/index.ts
  packages/sdds-dfa/src/components/CodeField/CodeField.config.ts
  packages/sdds-dfa/src/components/CodeField/CodeField.stories.tsx
  packages/sdds-dfa/src/components/CodeField/CodeField.ts
  packages/sdds-dfa/src/components/CodeField/index.ts
  packages/sdds-dfa/src/index.ts
  packages/sdds-finportal/src/components/CodeField/CodeField.config.ts
  packages/sdds-finportal/src/components/CodeField/CodeField.stories.tsx
  packages/sdds-finportal/src/components/CodeField/CodeField.ts
  packages/sdds-finportal/src/components/CodeField/index.ts
  packages/sdds-finportal/src/index.ts
  packages/sdds-insol/src/components/CodeField/CodeField.config.ts
  packages/sdds-insol/src/components/CodeField/CodeField.stories.tsx
  packages/sdds-insol/src/components/CodeField/CodeField.ts
  packages/sdds-insol/src/components/CodeField/index.ts
  packages/sdds-insol/src/index.ts
  packages/sdds-netology/src/components/CodeField/CodeField.config.ts
  packages/sdds-netology/src/components/CodeField/CodeField.stories.tsx
  packages/sdds-netology/src/components/CodeField/CodeField.ts
  packages/sdds-netology/src/components/CodeField/index.ts
  packages/sdds-netology/src/index.ts
  packages/sdds-serv/src/components/CodeField/CodeField.config.ts
  packages/sdds-serv/src/components/CodeField/CodeField.stories.tsx
  packages/sdds-serv/src/components/CodeField/CodeField.ts
  packages/sdds-serv/src/components/CodeField/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(*): add list
  packages/plasma-b2c/src/components/List/index.ts
  packages/plasma-new-hope/src/components/List/List.styles.ts
  packages/plasma-new-hope/src/components/List/List.tokens.ts
  packages/plasma-new-hope/src/components/List/List.tsx
  packages/plasma-new-hope/src/components/List/List.types.ts
  packages/plasma-new-hope/src/components/List/index.ts
  packages/plasma-new-hope/src/components/List/ui/ListItem.styles.tsx
  packages/plasma-new-hope/src/components/List/ui/ListItem.tsx
  packages/plasma-new-hope/src/components/List/ui/ListItem.types.ts
  packages/plasma-new-hope/src/components/List/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/List/variations/_disabled/tokens.json
  packages/plasma-new-hope/src/components/List/variations/_size/base.ts
  packages/plasma-new-hope/src/components/List/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/List/variations/_variant/base.ts
  packages/plasma-new-hope/src/components/List/variations/_variant/tokens.json
  packages/plasma-new-hope/src/components/List/variations/_view/base.ts
  packages/plasma-new-hope/src/components/List/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/List/List.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/List/List.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/List/List.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): update Calendar date helper logic
  packages/plasma-new-hope/src/components/Calendar/hooks/types.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useMonths.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useQuarters.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useYears.ts
  packages/plasma-new-hope/src/components/Calendar/utils/getDateWithModification.ts
Due: eslint --fix, prettier --write

fix(new-hope): fix numberformat on focus
  packages/plasma-new-hope/src/components/NumberFormat/NumberFormat.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add list to libs
  cypress/snapshots/b2c/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size l.snap.png
  cypress/snapshots/b2c/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size m.snap.png
  cypress/snapshots/b2c/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size s.snap.png
  cypress/snapshots/b2c/components/Checkbox/Checkbox.update-test.component-test.tsx/plasma-b2c Checkbox -- default size m.snap.png
  cypress/snapshots/b2c/components/List/List.component-test.tsx/plasma-b2c List Styled -- _disabled.snap.png
  cypress/snapshots/b2c/components/List/List.component-test.tsx/plasma-b2c List Styled -- _size.snap.png
  cypress/snapshots/b2c/components/List/List.component-test.tsx/plasma-b2c List Styled -- _variant.snap.png
  cypress/snapshots/b2c/components/List/List.component-test.tsx/plasma-b2c List Styled -- default.snap.png
  cypress/snapshots/b2c/components/Radiobox/Radiobox.component-test.tsx/plasma-web Radiobox -- default size l.snap.png
  cypress/snapshots/b2c/components/Radiobox/Radiobox.component-test.tsx/plasma-web Radiobox -- default size m.snap.png
  cypress/snapshots/b2c/components/Radiobox/Radiobox.component-test.tsx/plasma-web Radiobox -- default size s.snap.png
  cypress/snapshots/web/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size l.snap.png
  cypress/snapshots/web/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size m.snap.png
  cypress/snapshots/web/components/Checkbox/Checkbox.component-test.tsx/plasma-web Checkbox -- default size s.snap.png
  cypress/snapshots/web/components/List/List.component-test.tsx/plasma-web List Styled -- _disabled.snap.png
  cypress/snapshots/web/components/List/List.component-test.tsx/plasma-web List Styled -- _size.snap.png
  cypress/snapshots/web/components/List/List.component-test.tsx/plasma-web List Styled -- _variant.snap.png
  cypress/snapshots/web/components/List/List.component-test.tsx/plasma-web List Styled -- default.snap.png
  cypress/snapshots/web/components/Radiobox/Radiobox.component-test.tsx/plasma-web Radiobox -- default size l.snap.png
  cypress/snapshots/web/components/Radiobox/Radiobox.component-test.tsx/plasma-web Radiobox -- default size m.snap.png
  cypress/snapshots/web/components/Radiobox/Radiobox.component-test.tsx/plasma-web Radiobox -- default size s.snap.png
  packages/plasma-b2c/src/components/List/List.component-test.tsx
  packages/plasma-b2c/src/components/List/List.config.ts
  packages/plasma-b2c/src/components/List/List.stories.tsx
  packages/plasma-b2c/src/components/List/List.ts
  packages/plasma-b2c/src/components/List/index.ts
  packages/plasma-giga/src/components/List/List.config.ts
  packages/plasma-giga/src/components/List/List.stories.tsx
  packages/plasma-giga/src/components/List/List.ts
  packages/plasma-giga/src/components/List/index.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/List/List.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/List/List.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/List/List.ts
  packages/plasma-web/src/components/List/List.component-test.tsx
  packages/plasma-web/src/components/List/List.config.ts
  packages/plasma-web/src/components/List/List.stories.tsx
  packages/plasma-web/src/components/List/List.ts
  website/plasma-b2c-docs/docs/components/List.mdx
  website/plasma-giga-docs/docs/components/List.mdx
  website/plasma-web-docs/docs/components/List.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma): move PaginationDots to the new-hope
  packages/plasma-b2c/src/components/PaginationDots/index.ts
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDot.tsx
  packages/plasma-new-hope/src/components/PaginationDots/PaginationDots.tsx
  packages/plasma-new-hope/src/components/PaginationDots/SmartPaginationDots.tsx
  packages/plasma-new-hope/src/components/PaginationDots/index.ts
  packages/plasma-new-hope/src/components/PaginationDots/usePaginationDots.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/src/components/PaginationDots/index.ts
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
