Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

ci: add publish-canary workflow
  .github/workflows/publish-canary.yml
Due: none

Update versions
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update eslint rules
  .eslintrc.js
Due: eslint --fix, prettier --write

chore(plasma-colors): lint entire src dir
  packages/plasma-colors/package.json
Due: prettier --write --parser json

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-colors/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-core/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json

chore(packages): add lint script
  packages/plasma-b2c/package.json
  packages/plasma-colors/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/global.d.ts
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-core/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-theme-builder): Add link for continue edit
  website/plasma-theme-builder/src/components/PullRequest/PullRequest.tsx
Due: eslint --fix, prettier --write, stylelint

chore(lerna): disable npmClientArgs "--prefer-offline"
  lerna.json
Due: prettier --write --parser json

chore: delete unnecessary plasma-temple eslint config
  packages/plasma-temple/.eslintrc.js
Due: eslint --fix, prettier --write

feat(plasma-theme-builder): Enhance theme saving logic
  website/plasma-theme-builder/src/components/App.tsx
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
  website/plasma-theme-builder/src/components/PullRequest/PullRequest.tsx
  website/plasma-theme-builder/src/components/Theme/Theme.tsx
  website/plasma-theme-builder/src/components/TokenForm/TokenForm.tsx
  website/plasma-theme-builder/src/hooks/index.ts
  website/plasma-theme-builder/src/hooks/useDefaultThemeData.ts
  website/plasma-theme-builder/src/hooks/useFetchTheme.tsx
  website/plasma-theme-builder/src/hooks/useNormalizeThemeSections.tsx
  website/plasma-theme-builder/src/hooks/useRunGithubPRProcess.ts
  website/plasma-theme-builder/src/types/constants.ts
  website/plasma-theme-builder/src/types/general.ts
  website/plasma-theme-builder/src/utils/index.ts
  website/plasma-theme-builder/src/utils/other.tsx
  website/plasma-theme-builder/src/utils/storage.ts
  website/plasma-theme-builder/src/utils/themes.tsx
  website/plasma-theme-builder/src/utils/url.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add CameraVideoFill
  packages/plasma-icons/src/Icon.assets/CameraVideoFill.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconCameraVideoFill.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(actions): add lint script
  actions/platform-test/package.json
  actions/versionate-docs/package.json
Due: prettier --write --parser json

ci: pass GitHub token to action [Publish]
  .github/actions/update-package-lock/action.yml
  .github/workflows/publish-common.yml
Due: none

chore(lint-packages): exclude packages with private deps
  scripts/lint-packages.js
Due: eslint --fix, prettier --write

chore: run eslint by lerna
  package.json
Due: prettier --write --parser json

chore: rename workflow running by merge queue
  .github/workflows/publish-blank-mq.yml
Due: none

feat(plasma-icons): add SberSpasibo
  packages/plasma-icons/src/Icon.assets/SberSpasibo.tsx
  packages/plasma-icons/src/Icon.tsx
  packages/plasma-icons/src/Icons/IconSberSpasibo.tsx
  packages/plasma-icons/src/index.ts
Due: eslint --fix, prettier --write, stylelint

ci("PR Documentation and Storybook"): add "plasma-tokens" as dep
  .github/workflows/documentation-pr.yml
Due: none

ci: add publish-rc workflow
  .github/workflows/publish-rc.yml
Due: none

feat(plasma-theme-builder): Replace sessionStorage using to localStorage
  website/plasma-theme-builder/src/utils/themes.tsx
Due: eslint --fix, prettier --write, stylelint

chore: avoid eslint errors
  .eslintrc.js
Due: eslint --fix, prettier --write

ci: add publish-latest/release workflow
  .github/workflows/publish-latest.yml
Due: none

ci(publish-canary): enable full bootstrap
  .github/workflows/publish-canary.yml
Due: none

chore: apply "includePrerelease" for semver.satisfies
  scripts/lint-packages.js
Due: eslint --fix, prettier --write

chore: disable code cove
  codecov.yml
Due: none

ci: pass secret GitHub token
  .github/actions/update-package-lock/action.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-common.yml
  .github/workflows/publish-latest.yml
  .github/workflows/publish-rc.yml
Due: none

chore: enable schema for lerna.json
  lerna.json
Due: prettier --write --parser json

chore(website): add lint script
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json

feat(plasma-tokens-utils): Update API: extract getThemeTokenDataGroups to index
  utils/plasma-tokens-utils/src/generators/generateThemesTokenDataGroups.ts
  utils/plasma-tokens-utils/src/generators/getThemeTokenDataGroups.ts
  utils/plasma-tokens-utils/src/generators/index.ts
Due: eslint --fix, prettier --write

chore(plasma-website): add "install:dev" npm script
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

ci: delete old release workflow file
  .github/workflows/release.yml
Due: none

chore(utils): add lint script
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json

Update versions
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-tokens-native/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json

chore(plasma-tokens): replace "error" to "warn" for eslint rules: prefer-template, import/order
  packages/plasma-tokens/.eslintrc.js
Due: eslint --fix, prettier --write

ci: add steps for lint
  .github/workflows/required-primary-checks.yml
Due: none

fix(plasma-theme-builder): Fix for adding group with default tokens
  website/plasma-theme-builder/src/components/Token/Token.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
