Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-web/b2c): add ButtonGroup
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- _gap.snap.png
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- _orientation single button.snap.png
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- _orientation stretching - filled.snap.png
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- _orientation.snap.png
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- _shape.snap.png
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- _size.snap.png
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- _view.snap.png
  cypress/snapshots/b2c/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-b2c ButtonGroup -- custom buttons.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- _gap.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- _orientation single button.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- _orientation stretching - filled.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- _orientation.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- _shape.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- _size.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- _view.snap.png
  cypress/snapshots/web/components/ButtonGroup/ButtonGroup.component-test.tsx/plasma-web ButtonGroup -- custom buttons.snap.png
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.component-test.tsx
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.tsx
  packages/plasma-b2c/src/components/ButtonGroup/index.tsx
  packages/plasma-b2c/src/index.ts
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.component-test.tsx
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.tsx
  packages/plasma-web/src/components/ButtonGroup/index.tsx
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): refactor stretching prop in ButtonGroup component
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.component-test.tsx
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/plasma-new-hope/src/components/ButtonGroup/ButtonGroup.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.config.ts
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.component-test.tsx
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api docs
  packages/caldera-online/api/caldera-online.api.md
  packages/caldera-online/src/components/Button/Button.config.ts
  packages/caldera/api/caldera.api.md
  packages/caldera/src/components/Button/Button.config.ts
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-serv/api/sdds-srvc.api.md
  packages/sdds-serv/src/components/Button/Button.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

feat(plasma-new-hope): add ButtonGroup component
  packages/plasma-new-hope/src/components/Button/Button.tokens.ts
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Button/Button.types.ts
  packages/plasma-new-hope/src/components/ButtonGroup/ButtonGroup.styles.ts
  packages/plasma-new-hope/src/components/ButtonGroup/ButtonGroup.tokens.ts
  packages/plasma-new-hope/src/components/ButtonGroup/ButtonGroup.tsx
  packages/plasma-new-hope/src/components/ButtonGroup/ButtonGroup.types.ts
  packages/plasma-new-hope/src/components/ButtonGroup/index.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_gap/base.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_gap/tokens.json
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_orientation/base.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_orientation/tokens.json
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_shape/base.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_shape/tokens.json
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_size/base.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_stretching/base.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_stretching/tokens.json
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_view/base.ts
  packages/plasma-new-hope/src/components/ButtonGroup/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ButtonGroup/ButtonGroup.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/ButtonGroup/ButtonGroup.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/ButtonGroup/ButtonGroup.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/ButtonGroup/ButtonGroup.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-new-hope/src/mixins/addFocus.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs(plasma-web-docs): add ButtonGroup docs
  website/plasma-web-docs/docs/components/ButtonGroup.mdx
Due: none

feat(plasma-new-hope): add types to Button component
  packages/plasma-new-hope/.gitignore
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Button/Button.types.ts
  packages/plasma-new-hope/src/components/Button/index.ts
  packages/plasma-new-hope/src/components/Button/variations/_blurred/base.ts
  packages/plasma-new-hope/src/components/Button/variations/_blurred/tokens.json
  packages/plasma-new-hope/src/components/Typography/Old/Button/Button.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/mixins/applyBlur.ts
  packages/plasma-new-hope/src/mixins/index.ts
  packages/plasma-new-hope/src/types/AsProps.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs(plasma-web-docs): update Button docs
  website/plasma-web-docs/docs/components/Button.mdx
Due: none

feat(plasma-asdk,sdds-srvc,caldera/-online): update Button config
  packages/caldera-online/src/components/Button/Button.config.ts
  packages/caldera-online/src/components/Button/Button.stories.tsx
  packages/caldera/src/components/Button/Button.config.ts
  packages/caldera/src/components/Button/Button.stories.tsx
  packages/plasma-asdk/src/components/Button/Button.config.ts
  packages/plasma-asdk/src/components/Button/Button.stories.tsx
  packages/sdds-serv/src/components/Button/Button.config.ts
  packages/sdds-serv/src/components/Button/Button.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add correct loader to Button
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/Button.tokens.ts
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Button/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Button/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Button/variations/_stretching/base.ts
  packages/plasma-new-hope/src/components/Button/variations/_stretching/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/mixins/applyBlur.ts
  packages/plasma-new-hope/src/types/AsProps.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): refactor Spinner folder structure
  packages/plasma-new-hope/src/components/Spinner/Spinner.styles.ts
  packages/plasma-new-hope/src/components/Spinner/Spinner.tokens.ts
  packages/plasma-new-hope/src/components/Spinner/Spinner.tsx
  packages/plasma-new-hope/src/components/Spinner/Spinner.types.ts
  packages/plasma-new-hope/src/components/Spinner/hooks/index.ts
  packages/plasma-new-hope/src/components/Spinner/index.ts
  packages/plasma-new-hope/src/components/Spinner/utils/index.ts
  packages/plasma-new-hope/src/components/Spinner/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Spinner/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Spinner/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Spinner/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Spinner/Spinner.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Spinner/Spinner.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Spinner/Spinner.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

fix(sdds-serv): package rename
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

Update versions
  packages/sdds-serv/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

ci: delete build "sdds-serve" docs [no ci]
  .github/workflows/documentation-pr.yml
Due: none

ci(documentation-pr): add dep "plasma-typo" [no ci]
  .github/workflows/documentation-pr.yml
Due: none

chore(sdds-serv): add devDep "plasma-icons" [no ci]
  packages/sdds-serv/package-lock.json
  packages/sdds-serv/package.json
Due: prettier --write --parser json

chore(new-hope): fix overlay stories
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Overlay/Overlay.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Overlay/Overlay.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Overlay/Overlay.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): TextField
  packages/plasma-new-hope/src/components/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
  packages/plasma-new-hope/src/components/TextField/_disabled/base.ts
  packages/plasma-new-hope/src/components/TextField/_disabled/tokens.json
  packages/plasma-new-hope/src/components/TextField/_label-placement/base.ts
  packages/plasma-new-hope/src/components/TextField/_label-placement/index.ts
  packages/plasma-new-hope/src/components/TextField/_label-placement/inner.ts
  packages/plasma-new-hope/src/components/TextField/_label-placement/outer.ts
  packages/plasma-new-hope/src/components/TextField/_size/base.ts
  packages/plasma-new-hope/src/components/TextField/_size/tokens.json
  packages/plasma-new-hope/src/components/TextField/_view/base.ts
  packages/plasma-new-hope/src/components/TextField/_view/tokens.json
  packages/plasma-new-hope/src/components/TextField/index.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): Engine: multiple css to variant
  packages/plasma-new-hope/src/engines/common.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Refactor TextField
  cypress/snapshots/tokens-b2b/components/TextField/TextField.component-test.tsx/plasma-web TextField -- content with label.snap.png
  packages/plasma-web/src/components/TextField/TextField.component-test.tsx
  packages/plasma-web/src/components/TextField/TextField.config.ts
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-new-hope): TextField: remove useCallback
  packages/plasma-new-hope/src/components/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/_label-placement/inner.ts
  packages/plasma-new-hope/src/components/TextField/_size/base.ts
  packages/plasma-new-hope/src/components/TextField/_view/base.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): TextField: bg:hover:focus
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
  packages/plasma-new-hope/src/components/TextField/_view/base.ts
Due: eslint --fix, prettier --write

feat(plasma-b2c): Refactor TextField
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField -- _size empty.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField -- _size with content.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField -- _size.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField -- _view_innerLabel empty.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.component-test.tsx/plasma-b2c TextField -- _view_innerLabel.snap.png
  cypress/snapshots/b2c/components/TextField/TextFieldBase.component-test.tsx/plasma-core TextField -- success, warning, error.snap.png
  packages/plasma-b2c/src/components/TextField/TextField.component-test.tsx
  packages/plasma-b2c/src/components/TextField/TextField.config.ts
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): TextField better inner label-placement
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _animatedHintlabel.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- _animatedHintplaceholder.snap.png
  cypress/snapshots/web/components/TextField/TextField.component-test.tsx/plasma-web TextField -- content with label.snap.png
  packages/plasma-new-hope/src/components/TextField/_label-placement/inner.ts
Due: eslint --fix, prettier --write

ci(doc-deploy): add "Deploy documentation and storybook artefacts to "plasma.sberdevices.ru/dev/"
  .github/workflows/documentation-deploy-dev-subdir.yml
Due: none

feat(sdds-themes): Add theme package for `SDDS` design vertical
  .eslintignore
  packages/themes/sdds-themes/.eslintrc.js
  packages/themes/sdds-themes/.gitignore
  packages/themes/sdds-themes/.npmrc
  packages/themes/sdds-themes/LICENSE.txt
  packages/themes/sdds-themes/README.md
  packages/themes/sdds-themes/lib/index.ts
  packages/themes/sdds-themes/package-lock.json
  packages/themes/sdds-themes/package.json
  packages/themes/sdds-themes/src/css/sdds_serv.module.css
  packages/themes/sdds-themes/src/css/sdds_serv__dark.css
  packages/themes/sdds-themes/src/css/sdds_serv__light.css
  packages/themes/sdds-themes/src/index.ts
  packages/themes/sdds-themes/src/themes/index.ts
  packages/themes/sdds-themes/src/themes/sdds_serv__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_serv__light.ts
  packages/themes/sdds-themes/src/tokens/index.ts
  packages/themes/sdds-themes/src/tokens/sdds_serv/index.ts
  packages/themes/sdds-themes/tsconfig.es.json
  packages/themes/sdds-themes/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
