Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

ci: pass GitHub token to action by env
  .github/actions/update-package-lock/action.yml
Due: none

ci: pass secret GitHub token
  .github/actions/update-package-lock/action.yml
  .github/workflows/publish-canary.yml
  .github/workflows/publish-common.yml
  .github/workflows/publish-latest.yml
  .github/workflows/publish-rc.yml
Due: none

chore: disable code cove
  codecov.yml
Due: none

ci: disable "codecov/codecov-action@v2"
  .github/workflows/cypress-common.yml
Due: none

feat(plasma-tokens): Add theme test
  packages/plasma-tokens/data/themes/test.json
Due: prettier --write --parser json

chore: avoid eslint errors
  .eslintrc.js
Due: eslint --fix, prettier --write

chore(packages): add lint script
  packages/plasma-b2c/package.json
  packages/plasma-colors/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-shop-template/package.json
  packages/plasma-temple/package.json
  packages/plasma-temple/src/global.d.ts
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-core/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: run eslint by lerna
  package.json
Due: prettier --write --parser json

chore(plasma-tokens): replace "error" to "warn" for eslint rules: prefer-template, import/order
  packages/plasma-tokens/.eslintrc.js
Due: eslint --fix, prettier --write

chore(actions): add lint script
  actions/platform-test/package.json
  actions/versionate-docs/package.json
Due: prettier --write --parser json

chore(eslint): update ignore list
  .eslintignore
Due: none

chore(utils): add lint script
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json

chore(plasma-temple): disabled eslint rules: require-default-props, no-unused-prop-types
  packages/plasma-temple/.eslintrc.js
Due: eslint --fix, prettier --write

chore(website): add lint script
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
Due: prettier --write --parser json

ci: add steps for lint
  .github/workflows/required-primary-checks.yml
Due: none

chore: disable "--prefer-offline" npm option
  lerna.json
Due: prettier --write --parser json

ci: fix perftool cache sync
  .github/workflows/performance-test-base.yml
  .github/workflows/performance-test-pr.yml
Due: none

ci(publish-canary): enable full bootstrap
  .github/workflows/publish-canary.yml
Due: none

chore(lerna): disable npmClientArgs "--prefer-offline"
  lerna.json
Due: prettier --write --parser json

test: test
  packages/plasma-ui/package.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
