Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(*): update test
  cypress/snapshots/b2c/components/TimePicker/TimePicker.component-test.tsx/plasma-b2c TimePicker -- input time.snap.png
  cypress/snapshots/b2c/components/TimePicker/TimePicker.component-test.tsx/plasma-b2c TimePicker -- keyboard navigation.snap.png
  cypress/snapshots/b2c/components/TimePicker/TimePicker.component-test.tsx/plasma-b2c TimePicker -- select time from popover.snap.png
  packages/plasma-b2c/src/components/TimePicker/TimePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(insol): edit sdds-insol config
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.styles.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tokens.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-insol/src/components/TimePicker/TimePicker.stories.tsx
  website/plasma-b2c-docs/docs/components/TimePicker.mdx
  website/plasma-giga-docs/docs/components/TimePicker.mdx
  website/plasma-web-docs/docs/components/TimePicker.mdx
  website/sdds-crm-docs/docs/components/TimePicker.mdx
  website/sdds-dfa-docs/docs/components/TimePicker.mdx
  website/sdds-finai-docs/docs/components/TimePicker.mdx
  website/sdds-insol-docs/docs/components/TimePicker.mdx
  website/sdds-netology-docs/docs/components/TimePicker.mdx
  website/sdds-scan-docs/docs/components/TimePicker.mdx
  website/sdds-serv-docs/docs/components/TimePicker.mdx
Due: eslint --fix, prettier --write, stylelint

feat(*): fix scroll
  packages/plasma-b2c/src/components/TimePicker/TimePicker.config.ts
  packages/plasma-giga/src/components/TimePicker/TimePicker.config.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.styles.ts
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tokens.ts
  packages/plasma-new-hope/src/examples/components/TimePicker/TimePicker.config.ts
  packages/plasma-web/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-bizcom/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-crm/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-dfa/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-finai/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-insol/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-netology/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-scan/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-serv/src/components/TimePicker/TimePicker.config.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): update nested lists portal refs
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
Due: eslint --fix, prettier --write, stylelint

feat(insol): add chip appearence
  packages/plasma-new-hope/src/components/Chip/Chip.types.ts
  packages/plasma-new-hope/src/examples/components/Chip/Chip.stories.tsx
  packages/plasma-new-hope/src/examples/components/Chip/Chip.transparent.config.ts
  packages/plasma-new-hope/src/examples/components/Chip/Chip.ts
  packages/sdds-finai/src/components/Chip/Chip.stories.tsx
  packages/sdds-finai/src/components/Chip/Chip.transparent.config.ts
  packages/sdds-finai/src/components/Chip/Chip.tsx
Due: eslint --fix, prettier --write, stylelint

ci(cypress): improved save logic for failure tests diffs
  .github/workflows/cypress-by-cron-every-day.yml
  .github/workflows/cypress-common.yml
Due: none

feat(plasma-new-hope): update slot section logic in Pagination
  packages/plasma-new-hope/src/components/Pagination/Pagination.types.ts
  packages/plasma-new-hope/src/components/Pagination/utils/index.ts
  packages/plasma-new-hope/src/examples/components/Pagination/Pagination.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update Pagination stories & tests
  cypress/snapshots/b2c/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  cypress/snapshots/cs/components/Pagination/Pagination.component-test.tsx/sdds-cs Pagination Slots -- minSlots.snap.png
  cypress/snapshots/giga/components/Pagination/Pagination.component-test.tsx/plasma-giga Pagination Slots -- minSlots.snap.png
  cypress/snapshots/insol/components/Pagination/Pagination.component-test.tsx/sdds-insol Pagination Slots -- minSlots.snap.png
  cypress/snapshots/web/components/Pagination/Pagination.component-test.tsx/plasma-new-hope Pagination Slots -- minSlots.snap.png
  packages/plasma-b2c/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-b2c/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-web/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-web/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-bizcom/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-bizcom/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-crm/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-crm/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-cs/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-cs/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-dfa/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-dfa/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-finai/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-finai/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-netology/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-netology/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-scan/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-scan/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(storybook): add react strict mode
  utils/plasma-sb-utils/src/components/ReactStrictModeDecorator.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

chore(*): use react strict mode decorator [storybook]
  packages/sdds-serv/.storybook/preview.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): update readonly for textField-like
  cypress/snapshots/b2c/components/Autocomplete/Autocomplete.component-test.tsx/plasma-b2c Autocomplete -- prop readOnly.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-b2c Combobox -- common readOnly.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- default.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop disabled, readOnly.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- default.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop disabled, readOnly.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePicker -- [PLASMA-T1782] DatePicker input date.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePicker -- default.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-b2c DatePickerRange -- [PLASMA-T1803] DatePickerRange readOnly.snap.png
  cypress/snapshots/b2c/components/TextArea/TextArea.update-test.component-test.tsx/plasma-b2c TextArea -- [PLASMA-T1584] size=l, view=default, label, labelPlacement=outer, value, contentRight, required, requiredPlacement=left, readOnly.snap.png
  cypress/snapshots/b2c/components/TextField/TextField.update-test.component-test.tsx/plasma-b2c TextField -- [PLASMA-T1558] TextField size=s, view=innerLabel, helperText, placeholder, contentLeft, contentRight, required, requiredPlacement=right, readOnly.snap.png
  cypress/snapshots/giga/components/Autocomplete/Autocomplete.component-test.tsx/plasma-giga Autocomplete -- prop readOnly.snap.png
  cypress/snapshots/giga/components/Combobox/Combobox.component-test.tsx/plasma-giga Combobox -- common readOnly.snap.png
  cypress/snapshots/giga/components/DatePicker/DatePicker.update-test.component-test.tsx/plasma-giga DatePickerRange -- [PLASMA-T1803] DatePickerRange readOnly.snap.png
  cypress/snapshots/giga/components/TextArea/TextArea.update-test.component-test.tsx/plasma-giga TextArea -- [PLASMA-T1584] size=l, view=default, label, labelPlacement=outer, value, contentRight, required, requiredPlacement=left, readOnly.snap.png
  cypress/snapshots/giga/components/TextField/TextField.update-test.component-test.tsx/plasma-giga TextField -- [PLASMA-T1558] TextField size=s, view=innerLabel, helperText, placeholder, contentLeft, contentRight, required, requiredPlacement=right, readOnly.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop disabled, readOnly.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop disabled, readOnly.snap.png
  packages/plasma-b2c/src/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-b2c/src/components/Combobox/Combobox.config.ts
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-b2c/src/components/TextArea/TextArea.config.ts
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.config.ts
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-giga/src/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-giga/src/components/Combobox/Combobox.config.ts
  packages/plasma-giga/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-giga/src/components/TextArea/TextArea.config.ts
  packages/plasma-giga/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-giga/src/components/TextField/TextField.config.ts
  packages/plasma-giga/src/components/TextField/TextField.stories.tsx
  packages/plasma-web/src/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-web/src/components/Combobox/Combobox.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/TextArea/TextArea.config.ts
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(datepicker): design review fix
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-giga/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.styles.ts
  packages/plasma-new-hope/src/examples/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finai/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-netology/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): update readonly for textField-like
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tokens.ts
  packages/plasma-new-hope/src/components/Autocomplete/ui/TextField/TextField.styles.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/ui/Target/Target.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tokens.ts
  packages/plasma-new-hope/src/components/TextArea/variations/_read-only/base.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
  packages/plasma-new-hope/src/components/TextField/variations/_read-only/base.ts
  packages/plasma-new-hope/src/examples/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/components/TextArea/TextArea.config.ts
  packages/plasma-new-hope/src/examples/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(website): add depricted checkbox
  website/plasma-website/components/roster/IconsList.tsx
  website/plasma-website/components/roster/SearchForm.tsx
  website/plasma-website/pages/icons.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add scroll
  packages/plasma-new-hope/src/components/Scrollbar/Scrollbar.styles.ts
  packages/plasma-new-hope/src/components/Scrollbar/Scrollbar.tokens.ts
  packages/plasma-new-hope/src/components/Scrollbar/Scrollbar.tsx
  packages/plasma-new-hope/src/components/Scrollbar/Scrollbar.types.ts
  packages/plasma-new-hope/src/components/Scrollbar/index.ts
  packages/plasma-new-hope/src/components/Scrollbar/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Scrollbar/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Scrollbar/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Scrollbar/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-new-hope/src/examples/components/Scrollbar/Scrollbar.stories.tsx
  packages/plasma-new-hope/src/examples/components/Scrollbar/Scrollbar.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): add multiline to tree
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-new-hope/src/components/Tree/utils/sizeToIconSize.ts
  packages/plasma-new-hope/src/examples/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/examples/components/Tree/Tree.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): fix issue with portal
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-giga/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tsx
  packages/plasma-new-hope/src/components/InformationWrapper/ui/Label/Label.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Table/ui/EditableCell/EditableCell.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/hooks/useOutsideClick.ts
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
  packages/sdds-cs/src/components/Combobox/Combobox.component-test.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add beforeList to items api
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownInner/DropdownInner.tsx
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.type.ts
Due: eslint --fix, prettier --write, stylelint

feat: add Dropdown tests for beforeList in items
  cypress/snapshots/b2c/components/Dropdown/Dropdown.component-test.tsx/plasma-b2c Dropdown -- prop beforeList in items.snap.png
  cypress/snapshots/cs/components/Dropdown/Dropdown.update-test.component-test.tsx/sdds-cs Dropdown -- prop beforeList in items.snap.png
  cypress/snapshots/giga/components/Dropdown/Dropdown.update-test.component-test.tsx/plasma-giga Dropdown -- prop beforeList in items.snap.png
  cypress/snapshots/insol/components/Dropdown/Dropdown.update-test.component-test.tsx/sdds-insol Dropdown -- prop beforeList in items.snap.png
  cypress/snapshots/web/components/Dropdown/Dropdown.component-test.tsx/plasma-web Dropdown -- prop beforeList in items.snap.png
  packages/plasma-b2c/src/components/Dropdown/Dropdown.component-test.tsx
  packages/plasma-giga/src/components/Dropdown/Dropdown.update-test.component-test.tsx
  packages/plasma-web/src/components/Dropdown/Dropdown.component-test.tsx
  packages/sdds-cs/src/components/Dropdown/Dropdown.update-test.component-test.tsx
  packages/sdds-insol/src/components/Dropdown/Dropdown.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update Tree item name for stories
  packages/plasma-b2c/src/components/Tree/Tree.stories.tsx
  packages/plasma-giga/src/components/Tree/Tree.stories.tsx
  packages/plasma-new-hope/src/examples/components/Tree/Tree.stories.tsx
  packages/plasma-web/src/components/Tree/Tree.stories.tsx
  packages/sdds-bizcom/src/components/Tree/Tree.stories.tsx
  packages/sdds-crm/src/components/Tree/Tree.stories.tsx
  packages/sdds-cs/src/components/Tree/Tree.stories.tsx
  packages/sdds-dfa/src/components/Tree/Tree.stories.tsx
  packages/sdds-finai/src/components/Tree/Tree.stories.tsx
  packages/sdds-insol/src/components/Tree/Tree.stories.tsx
  packages/sdds-netology/src/components/Tree/Tree.stories.tsx
  packages/sdds-scan/src/components/Tree/Tree.stories.tsx
  packages/sdds-serv/src/components/Tree/Tree.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add scroll
  packages/plasma-new-hope/src/components/Scrollbar/Scrollbar.styles.ts
  packages/plasma-new-hope/src/components/Scrollbar/Scrollbar.tsx
  packages/plasma-new-hope/src/examples/components/Scrollbar/Scrollbar.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(website): add depricted checkbox
  website/plasma-website/components/roster/IconsList.tsx
Due: eslint --fix, prettier --write, stylelint

docs(isNumeric): improved desc this prop
  packages/plasma-new-hope/src/components/Typography/Typography.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Typography-legacy.mdx
  website/plasma-b2c-docs/docs/components/Typography.mdx
  website/plasma-giga-docs/docs/components/Typography.mdx
  website/plasma-web-docs/docs/components/Typography-legacy.mdx
  website/plasma-web-docs/docs/components/Typography.mdx
  website/sdds-crm-docs/docs/components/Typography.mdx
  website/sdds-cs-docs/docs/components/Typography.mdx
  website/sdds-dfa-docs/docs/components/Typography.mdx
  website/sdds-finai-docs/docs/components/Typography.mdx
  website/sdds-insol-docs/docs/components/Typography.mdx
  website/sdds-netology-docs/docs/components/Typography.mdx
  website/sdds-scan-docs/docs/components/Typography.mdx
  website/sdds-serv-docs/docs/components/Typography.mdx
Due: none

feat(*): add xxl web avatar and new prop
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- _size.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- shape=rounded,status=active.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- simple.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- with Avatar url.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- with status.snap.png
  cypress/snapshots/web/components/AvatarGroup/AvatarGroup.component-test.tsx/plasma-web AvatarGroup -- simple.snap.png
  packages/plasma-b2c/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-giga/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar.styles.ts
  packages/plasma-new-hope/src/components/Avatar/Avatar.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar.types.ts
  packages/plasma-new-hope/src/components/Avatar/variations/_shape/base.ts
  packages/plasma-new-hope/src/examples/components/Avatar/Avatar.stories.tsx
  packages/plasma-web/src/components/Avatar/Avatar.config.tsx
  packages/plasma-web/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-bizcom/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-crm/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-dfa/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-finai/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-insol/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-netology/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-scan/src/components/Avatar/Avatar.stories.tsx
  packages/sdds-serv/src/components/Avatar/Avatar.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
