Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(*): add hasClose
  packages/plasma-b2c/src/components/Note/Note.config.ts
  packages/plasma-b2c/src/components/Note/Note.stories.tsx
  packages/plasma-giga/src/components/Note/Note.config.ts
  packages/plasma-giga/src/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/components/Note/Note.styles.ts
  packages/plasma-new-hope/src/components/Note/Note.tokens.ts
  packages/plasma-new-hope/src/components/Note/Note.tsx
  packages/plasma-new-hope/src/components/Note/Note.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Note/Note.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Note/Note.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Note/Note.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Note/Note.stories.tsx
  packages/plasma-web/src/components/Note/Note.config.ts
  packages/plasma-web/src/components/Note/Note.stories.tsx
  packages/sdds-clfd-auto/src/components/Note/Note.config.ts
  packages/sdds-clfd-auto/src/components/Note/Note.stories.tsx
  packages/sdds-dfa/src/components/Note/Note.config.ts
  packages/sdds-dfa/src/components/Note/Note.stories.tsx
  packages/sdds-finportal/src/components/Note/Note.config.ts
  packages/sdds-finportal/src/components/Note/Note.stories.tsx
  packages/sdds-insol/src/components/Note/Note.config.ts
  packages/sdds-insol/src/components/Note/Note.stories.tsx
  packages/sdds-serv/src/components/Note/Note.config.ts
  packages/sdds-serv/src/components/Note/Note.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add note test with has close
  cypress/snapshots/b2c/components/Note/Note.component-test.tsx/plasma-b2c Note -- long title with close icon.snap.png
  cypress/snapshots/web/components/Note/Note.component-test.tsx/plasma-web Note -- long title with close icon.snap.png
  packages/plasma-b2c/src/components/Note/Note.component-test.tsx
  packages/plasma-new-hope/src/components/Note/Note.tsx
  packages/plasma-web/src/components/Note/Note.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): update tests for Divider, Drawer, Dropdown, Dropzone, Editable
  cypress/snapshots/b2c/components/Divider/Divider.update-test.component-test.tsx/plasma-b2c Divider -- [PLASMA-T1730] Divider view=default, orientation=horizontal, length=100%.snap.png
  cypress/snapshots/b2c/components/Divider/Divider.update-test.component-test.tsx/plasma-b2c Divider -- [PLASMA-T1731] Divider view=dark, orientation=vertical, length=50%.snap.png
  cypress/snapshots/b2c/components/Divider/Divider.update-test.component-test.tsx/plasma-b2c Divider -- [PLASMA-T1732] Divider view=light.snap.png
  cypress/snapshots/b2c/components/Divider/Divider.update-test.component-test.tsx/plasma-b2c Divider -- [PLASMA-T1733] Divider view=inverse.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.update-test.component-test.tsx/plasma-b2c Drawer -- [PLASMA-T1618] Drawer placement=top, withBlur, asModal, closeOnEsc, showHeader, showFooter, showActions, hasClose, closePlacement=right, width=50vw, height 100dvh, borderRadius=none.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.update-test.component-test.tsx/plasma-b2c Drawer -- [PLASMA-T1619] Drawer placement=bottom, asModal, closeOnOverlayClick, hasClose, closePlacement=left, width=20vw, borderRadius=default.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.update-test.component-test.tsx/plasma-b2c Drawer -- [PLASMA-T1620] Drawer placement=right, hasClose=false.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.update-test.component-test.tsx/plasma-b2c Drawer -- [PLASMA-T1621] Drawer placement=left, height=20dvh.snap.png
  cypress/snapshots/b2c/components/Drawer/Drawer.update-test.component-test.tsx/plasma-b2c Drawer -- [PLASMA-T1979] Drawer customBackgroundColor, customContentBackgroundColor.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.update-test.component-test.tsx/plasma-b2c Dropdown -- [PLASMA-T1629] Dropdown size=l, variant=normal, placement=top, trigger=click, hasArrow.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.update-test.component-test.tsx/plasma-b2c Dropdown -- [PLASMA-T1630] Dropdown size=m, variant=tight, placement=bottom, trigger=hover, without Arrow, closeOnOverlayClick.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.update-test.component-test.tsx/plasma-b2c Dropdown -- [PLASMA-T1631] Dropdown size=s, placement=right, closeOnSelect, without closeOnOverlayClick.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.update-test.component-test.tsx/plasma-b2c Dropdown -- [PLASMA-T1632] Dropdown size=xs, placement=left.snap.png
  cypress/snapshots/b2c/components/Dropdown/Dropdown.update-test.component-test.tsx/plasma-b2c Dropdown -- [PLASMA-T1990] Dropdown size=xl, offset, listWidth.snap.png
  cypress/snapshots/b2c/components/Dropzone/Dropzone.update-test.component-test.tsx/plasma-b2c Dropzone -- [PLASMA-T1633] Dropzone iconPlacement=top, width=500, height=500.snap.png
  cypress/snapshots/b2c/components/Dropzone/Dropzone.update-test.component-test.tsx/plasma-b2c Dropzone -- [PLASMA-T1634] Dropzone iconPlacement=left, width=250, height=100, without title.snap.png
  cypress/snapshots/b2c/components/Dropzone/Dropzone.update-test.component-test.tsx/plasma-b2c Dropzone -- [PLASMA-T1635] Dropzone iconPlacement=top, width=100, height=250, without description.snap.png
  cypress/snapshots/b2c/components/Dropzone/Dropzone.update-test.component-test.tsx/plasma-b2c Dropzone -- [PLASMA-T1636] Dropzone iconPlacement=left, width=500, height=500, stretch, without title, without description.snap.png
  cypress/snapshots/b2c/components/Dropzone/Dropzone.update-test.component-test.tsx/plasma-b2c Dropzone -- [PLASMA-T1637] Dropzone disabled.snap.png
  cypress/snapshots/b2c/components/Dropzone/Dropzone.update-test.component-test.tsx/plasma-b2c Dropzone -- [PLASMA-T1981] Dropzone title and description truncate.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1638] Editable iconSize=s, componentName=BodyL, defaultValue, placeholder.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1638] Editable on click outside.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1639] Editable iconSize=xs, componentName=DsplM.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1640] Editable iconSize=s, componentName=TextS.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1641] Editable iconSize=xs, componentName=H4.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1642] Editable without value.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1643] Editable without placeholder.snap.png
  cypress/snapshots/b2c/components/Editable/Editable.update-test.component-test.tsx/plasma-b2c Editable -- [PLASMA-T1644] Editable without value, without placeholder.snap.png
  packages/plasma-b2c/src/components/Divider/Divider.update-test.component-test.tsx
  packages/plasma-b2c/src/components/Drawer/Drawer.update-test.component-test.tsx
  packages/plasma-b2c/src/components/Dropdown/Dropdown.update-test.component-test.tsx
  packages/plasma-b2c/src/components/Dropzone/Dropzone.update-test.component-test.tsx
  packages/plasma-b2c/src/components/Editable/Editable.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): remove unused consts
  packages/plasma-b2c/src/components/Dropdown/Dropdown.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

ci(sdds-scan): init package
  .github/config-ci.json
  .github/meta-prod.js
  .github/meta.js
  packages/sdds-scan/README.md
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-new-hope): update Calendar date helper logic
  packages/plasma-new-hope/src/components/Calendar/hooks/types.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useMonths.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useQuarters.ts
  packages/plasma-new-hope/src/components/Calendar/hooks/useYears.ts
  packages/plasma-new-hope/src/components/Calendar/utils/getDateWithModification.ts
Due: eslint --fix, prettier --write

feat(): part 1
  package-lock.json
  package.json
  packages/plasma-giga/package-lock.json
  packages/plasma-giga/package.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-tokens/package.json
  packages/themes/sdds-themes/package-lock.json
  packages/themes/sdds-themes/package.json
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
Due: prettier --write --parser json

feat(plasma-icons): add icons ArrowBack [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/ArrowBack.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons ArrowBack [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/ArrowBack.svg
Due: none

feat(plasma-icons): add icons ArrowBack [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/ArrowBack.svg
Due: none

feat(plasma-icons): add icons FloorType [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/FloorTypeFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/FloorTypeOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons FloorType [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/FloorTypeFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/FloorTypeOutline.svg
Due: none

feat(plasma-icons): add icons FloorType [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/FloorTypeFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/FloorTypeOutline.svg
Due: none

feat(plasma-icons): add icons Sensor [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/SensorFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SensorOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Sensor [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/SensorFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SensorOutline.svg
Due: none

feat(plasma-icons): add icons Sensor [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/SensorFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SensorOutline.svg
Due: none

feat(plasma-icons): add icons Flashlight [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/FlashlightOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Flashlight [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/FlashlightOutline.svg
Due: none

feat(plasma-icons): add icons Flashlight [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/FlashlightOutline.svg
Due: none

feat(plasma-icons): add icons DocumentImport/Export [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/DocumentExportFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/DocumentExportOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/DocumentImportFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/DocumentImportOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons DocumentImport/Export [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/DocumentExportFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/DocumentExportOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/DocumentImportFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/DocumentImportOutline.svg
Due: none

feat(plasma-icons): add icons DocumentImport/Export [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/DocumentExportFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/DocumentExportOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/DocumentImportFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/DocumentImportOutline.svg
Due: none

feat(plasma-icons): add icons SensorTemperature [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/SensorTemperatureFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SensorTemperatureOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons SensorTemperature [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/SensorTemperatureFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SensorTemperatureOutline.svg
Due: none

feat(plasma-icons): add icons SensorTemperature [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/SensorTemperatureFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SensorTemperatureOutline.svg
Due: none

feat(plasma-icons): add icons InternationalTrade [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/InternationalTradeOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons InternationalTrade [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/InternationalTradeOutline.svg
Due: none

feat(plasma-icons): add icons InternationalTrade [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/InternationalTradeOutline.svg
Due: none

feat(sdds-*): update Calendar & DatePicker configs
  packages/sdds-clfd-auto/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-clfd-auto/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-clfd-auto/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-clfd-auto/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-clfd-auto/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-crm/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-crm/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-crm/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-crm/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-crm/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-cs/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-dfa/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-finportal/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-finportal/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-insol/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-insol/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-netology/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-netology/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-netology/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-netology/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-netology/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-serv/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-serv/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add stretch to Calendar & DatePicker
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.styles.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.styles.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/hooks/useQuarters.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarDays/CalendarDays.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarMonths/CalendarMonths.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarQuarters/CalendarQuarters.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarYears/CalendarYears.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarYears/CalendarYears.tsx
  packages/plasma-new-hope/src/components/Calendar/ui/DateStructureItem/DateStructureItem.styles.ts
  packages/plasma-new-hope/src/components/Calendar/utils/calendarGridHelper.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.types.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/Calendar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): part 2
  utils/plasma-tokens-utils/src/generation.test.ts
  utils/plasma-tokens-utils/src/generators/generateColorThemes.test.ts
  utils/plasma-tokens-utils/src/generators/generateThemeFromData.test.ts
  utils/plasma-tokens-utils/src/generators/generateTypoSystem.test.ts
Due: eslint --fix, prettier --write

fix(sdds-cs): edit select config
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-giga/src/components/Select/Select.config.ts
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/Inner/ui/Item/Item.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.config.ts
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/sdds-clfd-auto/src/components/Select/Select.config.ts
  packages/sdds-cs/src/components/Select/Select.config.ts
  packages/sdds-dfa/src/components/Select/Select.config.ts
  packages/sdds-finportal/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add CodeField component
  packages/plasma-new-hope/src/components/CodeField/CodeField.styles.ts
  packages/plasma-new-hope/src/components/CodeField/CodeField.tokens.ts
  packages/plasma-new-hope/src/components/CodeField/CodeField.tsx
  packages/plasma-new-hope/src/components/CodeField/CodeField.types.ts
  packages/plasma-new-hope/src/components/CodeField/index.ts
  packages/plasma-new-hope/src/components/CodeField/utils/constants.ts
  packages/plasma-new-hope/src/components/CodeField/utils/handleCodeError.ts
  packages/plasma-new-hope/src/components/CodeField/utils/handleItemError.ts
  packages/plasma-new-hope/src/components/CodeField/utils/index.ts
  packages/plasma-new-hope/src/components/CodeField/utils/initialValuesHelper.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_disabled/tokens.json
  packages/plasma-new-hope/src/components/CodeField/variations/_shape/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_shape/tokens.json
  packages/plasma-new-hope/src/components/CodeField/variations/_size/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/CodeField/variations/_view/base.ts
  packages/plasma-new-hope/src/components/CodeField/variations/_view/tokens.json
  packages/plasma-new-hope/src/examples/plasma_b2c/components/CodeField/CodeField.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/CodeField/CodeField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/CodeField/CodeField.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/CodeField/CodeField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/CodeField/CodeField.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/CodeField/CodeField.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
