Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

ci: exclude private packages for sync package-lock's files
  .github/actions/update-package-lock/action.yml
Due: none

feat(plasma-tokens,plasma-token-native): Change legacy token value to css-variables
  packages/plasma-tokens/src/brands/index.ts
  packages/plasma-tokens/src/brands/plasma_b2c/index.ts
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/brands/sberHealth/index.ts
  packages/plasma-tokens/src/brands/sbermarket/index.ts
  packages/plasma-tokens/src/brands/sbermarket_business/index.ts
  packages/plasma-tokens/src/brands/sbermarket_metro/index.ts
  packages/plasma-tokens/src/brands/sbermarket_selgros/index.ts
  packages/plasma-tokens/src/brands/sbermarket_wlbusiness/index.ts
  packages/plasma-tokens/src/brands/sberonline/index.ts
  packages/plasma-tokens/src/brands/sberprime/index.ts
  packages/plasma-tokens/src/brands/stylesSalute/index.ts
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
  packages/plasma-tokens/src/themes/sberHealth__dark.ts
  packages/plasma-tokens/src/themes/sberHealth__light.ts
  packages/plasma-tokens/src/themes/sbermarket__dark.ts
  packages/plasma-tokens/src/themes/sbermarket__light.ts
  packages/plasma-tokens/src/themes/sbermarket_business__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_business__light.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_metro__light.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_selgros__light.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__dark.ts
  packages/plasma-tokens/src/themes/sbermarket_wlbusiness__light.ts
  packages/plasma-tokens/src/themes/sberonline__dark.ts
  packages/plasma-tokens/src/themes/sberonline__light.ts
  packages/plasma-tokens/src/themes/sberprime__dark.ts
  packages/plasma-tokens/src/themes/sberprime__light.ts
  packages/plasma-tokens/src/themes/stylesSalute__dark.ts
  packages/plasma-tokens/src/themes/stylesSalute__light.ts
  utils/plasma-tokens-utils/src/generators/getThemesTokensFallback.ts
  utils/plasma-tokens-utils/src/utils/other.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Replace tokens value in schemes to colors palette
  packages/plasma-tokens/data/themes/default.json
  packages/plasma-tokens/data/themes/plasma_b2c.json
  packages/plasma-tokens/data/themes/plasma_web.json
  packages/plasma-tokens/data/themes/sberHealth.json
  packages/plasma-tokens/data/themes/sbermarket.json
  packages/plasma-tokens/data/themes/sbermarket_business.json
  packages/plasma-tokens/data/themes/sbermarket_metro.json
  packages/plasma-tokens/data/themes/sbermarket_selgros.json
  packages/plasma-tokens/data/themes/sbermarket_wlbusiness.json
  packages/plasma-tokens/data/themes/sberonline.json
  packages/plasma-tokens/data/themes/sberprime.json
  packages/plasma-tokens/data/themes/stylesSalute.json
Due: prettier --write --parser json

feat(plasma-tokens-utils): Add method for restored themes value from color palette
  utils/plasma-tokens-utils/package-lock.json
  utils/plasma-tokens-utils/package.json
  utils/plasma-tokens-utils/src/functions.ts
  utils/plasma-tokens-utils/src/generators/generateThemesTokenDataGroups.ts
  utils/plasma-tokens-utils/src/generators/getRestoredColorFromPalette.ts
  utils/plasma-tokens-utils/src/generators/getThemesWithRestoredColors.ts
  utils/plasma-tokens-utils/src/generators/index.ts
  utils/plasma-tokens-utils/src/types.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-theme-builder): Update building tokens for new tokens value
  website/plasma-theme-builder/src/builder/themeTokenGetters/backgrounds/getBackgroundSecondaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/backgrounds/getBackgroundTertiaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidCardTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidDefaultTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidPrimaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidSecondaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceSolidTertiaryTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/controlsSurfacesTokenGetters/getSurfaceTransparentDeepTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentGradientTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentAccentTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentNegativeTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentPositiveTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextTransparentWarningTokens.ts
  website/plasma-theme-builder/src/builder/themeTokenGetters/textIconsTokenGetters/getTextWarningTokens.ts
  website/plasma-theme-builder/src/components/Generator/Generator.tsx
  website/plasma-theme-builder/src/types/constants.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Replace rgb/a and hexa values to values from color palette
  packages/plasma-tokens/data/ds.ts
  packages/plasma-tokens/src/brands/plasma_b2c/index.ts
  packages/plasma-tokens/src/brands/plasma_web/index.ts
  packages/plasma-tokens/src/brands/sberHealth/index.ts
  packages/plasma-tokens/src/brands/sberonline/index.ts
  packages/plasma-tokens/src/brands/stylesSalute/index.ts
  packages/plasma-tokens/src/themes/plasma_b2c__dark.ts
  packages/plasma-tokens/src/themes/plasma_b2c__light.ts
  packages/plasma-tokens/src/themes/plasma_web__dark.ts
  packages/plasma-tokens/src/themes/plasma_web__light.ts
  packages/plasma-tokens/src/themes/sberHealth__dark.ts
  packages/plasma-tokens/src/themes/sberHealth__light.ts
  packages/plasma-tokens/src/themes/sberonline__dark.ts
  packages/plasma-tokens/src/themes/sberonline__light.ts
  packages/plasma-tokens/src/themes/stylesSalute__dark.ts
  packages/plasma-tokens/src/themes/stylesSalute__light.ts
Due: eslint --fix, prettier --write

feat(plasma-theme-builder): Add methods for support extract colors from palette
  website/plasma-theme-builder/src/components/GradientTokenValue/GradientTokenValue.tsx
  website/plasma-theme-builder/src/components/SolidTokenValue/SolidTokenValue.tsx
  website/plasma-theme-builder/src/components/Token/Token.tsx
  website/plasma-theme-builder/src/utils/color.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  utils/plasma-tokens-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

feat(plasma-web): pass ref to "DropdownItem"
  packages/plasma-hope/src/components/Dropdown/DropdownItem.tsx
  website/plasma-web-docs/docs/components/Dropdown.mdx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add api report
  packages/plasma-hope/api/plasma-hope.api.md
Due: prettier --write --parser markdown

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat(plasma-core): focusTrap, arrow and offset for Popover
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-b2c/src/components/Popover/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/Popover/Popover.tsx
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-hope): move focusTrap to plasma-core
  packages/plasma-core/src/hooks/index.ts
  packages/plasma-core/src/hooks/useFocusTrap.ts
  packages/plasma-core/src/utils/focusManager.ts
  packages/plasma-core/src/utils/scopeTab.ts
  packages/plasma-core/src/utils/tabbable.ts
  packages/plasma-hope/src/hooks/index.ts
Due: eslint --fix, prettier --write

feat(plasma-web, plasma-b2c): Popover component
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/Popover/Popover.tsx
  packages/plasma-core/src/components/Popover/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/Popover/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-web/src/components/Popover/Popover.stories.tsx
  packages/plasma-web/src/components/Popover/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

docs: update import deprecated darkSber
  website/plasma-ui-docs/docs/intro.mdx
Due: none

fix(plasma-core): Popover refactoring
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/Popover/Popover.tsx
  packages/plasma-web/src/components/Popover/Popover.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

ci: enable semgrep workflow
  .github/workflows/semgrep.yml
Due: none

fix(plasma-core): PopupBase refactoring
  packages/plasma-b2c/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/PopupBase/PopupBase.tsx
  packages/plasma-web/src/components/PopupBase/PopupBase.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-web, plasma-b2c): PopupBase component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-b2c/src/components/PopupBase/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-core/src/components/PopupBase/PopupBase.tsx
  packages/plasma-core/src/components/PopupBase/PopupBaseContext.tsx
  packages/plasma-core/src/components/PopupBase/index.ts
  packages/plasma-core/src/index.ts
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/PopupBase/index.ts
  packages/plasma-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/PopupBase/PopupBase.stories.tsx
  packages/plasma-web/src/components/PopupBase/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown
