Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-icons): update icons FilterOff [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/FilterOff.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): update icons FilterOff [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/FilterOff.svg
Due: none

feat(plasma-icons): add new icons Logos [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/Linkedin.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/Whatsapp.svg
Due: none

feat(plasma-icons): add new icons Poop [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/PoopFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/PoopOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): update icons FilterOff [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/FilterOff.svg
Due: none

feat(plasma-icons): add new icons MessageNew [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/MessageNewFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/MessageNewOutline.svg
Due: none

feat(plasma-icons): add new icons WIndows [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/WindowMaximize.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/WindowMinimize.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add new icons WIndows [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/WindowMaximize.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/WindowMinimize.svg
Due: none

feat(plasma-icons): add new icons MessageNew [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageNewFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/MessageNewOutline.svg
Due: none

feat(plasma-icons): add new icons MessageNew [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageNewFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/MessageNewOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add new icons Logos [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Linkedin.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Whatsapp.svg
Due: none

feat(plasma-icons): add new icons Poop [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/PoopFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/PoopOutline.svg
Due: none

feat(plasma-icons): add new icons WIndows [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/WindowMaximize.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/WindowMinimize.svg
Due: none

feat(plasma-icons): update icons Blank [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankCsvFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankCsvOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankDocFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankDocOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankTxtFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankTxtOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankXlsFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankXlsOutline.svg
Due: none

chore: update Badge snapshots
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T707] Badge view=default, size=m.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T708] Badge view=positive, size=s.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T709] Badge view=negative, with Icon.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T716] Badge view=accent, pilled.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T717] Badge view=warning, size=l.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T718] Badge view=dark.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T719] Badge view=light.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-T720] Badge view=default, transparent.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T707] Badge view=default, size=m.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T708] Badge view=positive, size=s.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T709] Badge view=negative, with Icon.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T716] Badge view=accent, pilled.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T717] Badge view=warning, size=l.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T718] Badge view=dark.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T719] Badge view=light.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-web Badge -- [PLASMA-T720] Badge view=default, transparent.snap.png
Due: none

chore: update Typography snapshots
  cypress/snapshots/b2c/components/Typography/TypographyBase.component-test.tsx/plasma-web Typography -- with color.snap.png
  cypress/snapshots/b2c/components/Typography/TypographyCoreBase.component-test.tsx/plasma-core Typography -- Typography with color.snap.png
Due: none

feat(plasma-icons): add new icons Poop [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/PoopFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/PoopOutline.svg
Due: none

feat(plasma-icons): update icons Blank [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankCsvFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankCsvOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankDocFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankDocOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankTxtFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankTxtOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankXlsFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/BlankXlsOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add new icons Logos [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Linkedin.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Whatsapp.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): update icons Blank [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankCsvFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankCsvOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankDocFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankDocOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankTxtFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankTxtOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankXlsFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/BlankXlsOutline.svg
Due: none

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-tokens): Add theme sdds_finportal
  packages/plasma-tokens/data/themes/sdds_finportal.json
  packages/plasma-tokens/src/brands/sdds_finportal/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_finportal__dark.ts
  packages/plasma-tokens/src/themes/sdds_finportal__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add InputGroup component
  packages/plasma-new-hope/src/components/InputGroup/InputGroup.styles.ts
  packages/plasma-new-hope/src/components/InputGroup/InputGroup.tokens.ts
  packages/plasma-new-hope/src/components/InputGroup/InputGroup.tsx
  packages/plasma-new-hope/src/components/InputGroup/InputGroup.types.ts
  packages/plasma-new-hope/src/components/InputGroup/index.ts
  packages/plasma-new-hope/src/components/InputGroup/variations/_gap/base.ts
  packages/plasma-new-hope/src/components/InputGroup/variations/_gap/tokens.json
  packages/plasma-new-hope/src/components/InputGroup/variations/_orientation/base.ts
  packages/plasma-new-hope/src/components/InputGroup/variations/_orientation/tokens.json
  packages/plasma-new-hope/src/components/InputGroup/variations/_shape/base.ts
  packages/plasma-new-hope/src/components/InputGroup/variations/_shape/tokens.json
  packages/plasma-new-hope/src/components/InputGroup/variations/_size/base.ts
  packages/plasma-new-hope/src/components/InputGroup/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/InputGroup/variations/_stretching/base.ts
  packages/plasma-new-hope/src/components/InputGroup/variations/_stretching/tokens.json
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/InputGroup/InputGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/InputGroup/InputGroup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/InputGroup/InputGroup.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/InputGroup/InputGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/InputGroup/InputGroup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/InputGroup/InputGroup.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json
