Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(core): add flag isItalic for typography
  packages/plasma-new-hope/src/components/Typography/Typography.styles.ts
  packages/plasma-new-hope/src/components/Typography/Typography.tsx
  packages/plasma-new-hope/src/components/Typography/Typography.types.ts
  packages/plasma-new-hope/src/components/Typography/tokens.ts
Due: eslint --fix, prettier --write, stylelint

docs(storybook): enable font "Roboto"
  packages/sdds-sbcom/.storybook/manager-head.html
  packages/sdds-sbcom/.storybook/preview-head.html
Due: none

fix(typography): delete unnecessary configs, sizes
  packages/sdds-sbcom/src/components/Link/Link.stories.tsx
  packages/sdds-sbcom/src/components/Typography/Dspl.config.ts
  packages/sdds-sbcom/src/components/Typography/Heading.config.ts
  packages/sdds-sbcom/src/components/Typography/Text.config.ts
  packages/sdds-sbcom/src/components/Typography/Typography.stories.tsx
  packages/sdds-sbcom/src/components/Typography/Typography.tsx
  packages/sdds-sbcom/src/components/Typography/index.ts
  packages/sdds-sbcom/src/tokens/index.ts
Due: eslint --fix, prettier --write, stylelint

fix(typography): handle extraBold font-weight
  packages/sdds-sbcom/src/components/Typography/Body.config.ts
  packages/sdds-sbcom/src/components/Typography/Dspl.config.ts
  packages/sdds-sbcom/src/components/Typography/Heading.config.ts
  packages/sdds-sbcom/src/components/Typography/Typography.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(core): handle extraBold font-weight
  packages/plasma-new-hope/src/components/Typography/Typography.styles.ts
  packages/plasma-new-hope/src/components/Typography/Typography.tsx
  packages/plasma-new-hope/src/components/Typography/Typography.types.ts
  packages/plasma-new-hope/src/components/Typography/tokens.ts
Due: eslint --fix, prettier --write, stylelint

docs(readme): extend README.md
  packages/sdds-sbcom/README.md
Due: prettier --write --parser markdown

fix(useOverflow): add cleanup function [PLASMA-6815]
  packages/plasma-new-hope/src/components/Sheet/hooks/useOverflow.ts
Due: eslint --fix, prettier --write

fix(price): Extend prop currency to string [PLASMA-6643]
  packages/plasma-new-hope/src/components/Price/Price.tsx
  packages/plasma-new-hope/src/components/Price/Price.types.ts
  packages/plasma-new-hope/src/examples/components/Price/Price.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs(storybook): Extend prop currency to string [PLASMA-6643]
  packages/plasma-b2c/src/components/Price/Price.stories.tsx
  packages/plasma-giga/src/components/Price/Price.stories.tsx
  packages/plasma-homeds/src/components/Price/Price.stories.tsx
  packages/plasma-web/src/components/Price/Price.stories.tsx
  packages/sdds-bizcom/src/components/Price/Price.stories.tsx
  packages/sdds-cs/src/components/Price/Price.stories.tsx
  packages/sdds-dfa/src/components/Price/Price.stories.tsx
  packages/sdds-finai/src/components/Price/Price.stories.tsx
  packages/sdds-insol/src/components/Price/Price.stories.tsx
  packages/sdds-netology/src/components/Price/Price.stories.tsx
  packages/sdds-sbcom/src/components/Price/Price.stories.tsx
  packages/sdds-scan/src/components/Price/Price.stories.tsx
  packages/sdds-serv/src/components/Price/Price.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(attach): add file information to onClear callback [PLASMA-6720]
  packages/plasma-b2c/src/components/Attach/Attach.stories.tsx
  packages/plasma-giga/src/components/Attach/Attach.stories.tsx
  packages/plasma-homeds/src/components/Attach/Attach.stories.tsx
  packages/plasma-new-hope/src/components/Attach/Attach.tsx
  packages/plasma-new-hope/src/components/Attach/Attach.types.ts
  packages/plasma-new-hope/src/examples/components/Attach/Attach.stories.tsx
  packages/plasma-web/src/components/Attach/Attach.stories.tsx
  packages/sdds-bizcom/src/components/Attach/Attach.stories.tsx
  packages/sdds-dfa/src/components/Attach/Attach.stories.tsx
  packages/sdds-finai/src/components/Attach/Attach.stories.tsx
  packages/sdds-insol/src/components/Attach/Attach.stories.tsx
  packages/sdds-netology/src/components/Attach/Attach.stories.tsx
  packages/sdds-os/src/components/Attach/Attach.stories.tsx
  packages/sdds-platform-ai/src/components/Attach/Attach.stories.tsx
  packages/sdds-sbcom/src/components/Attach/Attach.stories.tsx
  packages/sdds-scan/src/components/Attach/Attach.stories.tsx
  packages/sdds-serv/src/components/Attach/Attach.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(storybook): fix storybook version [PLASMA-6720]
  packages/sdds-platform-ai/.storybook/main.ts
  packages/sdds-platform-ai/.storybook/manager.js
  packages/sdds-platform-ai/.storybook/theme.js
  packages/sdds-platform-ai/package-lock.json
  packages/sdds-platform-ai/package.json
  packages/sdds-platform-ai/src/components/Checkbox/Checkbox.stories.tsx
  packages/sdds-platform-ai/src/components/Chip/Chip.stories.tsx
  packages/sdds-platform-ai/src/components/Dropdown/Dropdown.stories.tsx
  packages/sdds-platform-ai/src/components/Dropzone/Dropzone.stories.tsx
  packages/sdds-platform-ai/src/components/List/List.stories.tsx
  packages/sdds-platform-ai/src/components/Notification/Notification.stories.tsx
  packages/sdds-platform-ai/src/components/Overlay/Overlay.stories.tsx
  packages/sdds-platform-ai/src/components/Radiobox/Radiobox.stories.tsx
  packages/sdds-platform-ai/src/components/Switch/Switch.stories.tsx
  packages/sdds-platform-ai/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-platform-ai/src/components/TextField/TextField.stories.tsx
  packages/sdds-platform-ai/src/components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

fix(theme): update sdds_sbcom theme
  packages/themes/sdds-themes/src/css/sdds_sbcom.module.css
  packages/themes/sdds-themes/src/css/sdds_sbcom__dark.css
  packages/themes/sdds-themes/src/css/sdds_sbcom__light.css
  packages/themes/sdds-themes/src/themes/sdds_sbcom__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_sbcom__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_sbcom/index.ts
Due: eslint --fix, prettier --write

feat(plasma-new-hope): add Answer AI-compoonent
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/CopyOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/HeartDashOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/HeartOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconCopyOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconHeartDashOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconHeartOutline.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/components/_ai/Answer/Answer.styles.ts
  packages/plasma-new-hope/src/components/_ai/Answer/Answer.tokens.ts
  packages/plasma-new-hope/src/components/_ai/Answer/Answer.tsx
  packages/plasma-new-hope/src/components/_ai/Answer/Answer.types.ts
  packages/plasma-new-hope/src/components/_ai/Answer/index.ts
  packages/plasma-new-hope/src/components/_ai/Answer/variations/_size/base.ts
  packages/plasma-new-hope/src/components/_ai/Answer/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/components/EmbedIconButton/EmbedIconButton.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Answer/Answer.config.ts
  packages/plasma-new-hope/src/examples/components/_ai/Answer/Answer.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Answer/Answer.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add Header AI-component
  packages/plasma-new-hope/src/components/_ai/Header/Header.styles.ts
  packages/plasma-new-hope/src/components/_ai/Header/Header.tokens.ts
  packages/plasma-new-hope/src/components/_ai/Header/Header.tsx
  packages/plasma-new-hope/src/components/_ai/Header/Header.types.ts
  packages/plasma-new-hope/src/components/_ai/Header/index.ts
  packages/plasma-new-hope/src/components/_ai/Header/variations/_size/base.ts
  packages/plasma-new-hope/src/components/_ai/Header/variations/_view/base.ts
  packages/plasma-new-hope/src/components/_ai/index.ts
  packages/plasma-new-hope/src/examples/components/_ai/Header/Header.config.ts
  packages/plasma-new-hope/src/examples/components/_ai/Header/Header.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Header/Header.ts
Due: eslint --fix, prettier --write, stylelint

feat(picker-*): add components [PLASMA-6857]
  packages/sdds-platform-ai/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-platform-ai/src/components/Calendar/Calendar.tsx
  packages/sdds-platform-ai/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-platform-ai/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-platform-ai/src/components/Calendar/index.ts
  packages/sdds-platform-ai/src/components/DatePicker/DatePicker.clear.config.ts
  packages/sdds-platform-ai/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-platform-ai/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-platform-ai/src/components/DatePicker/DatePicker.ts
  packages/sdds-platform-ai/src/components/DatePicker/DatePickerRange.stories.tsx
  packages/sdds-platform-ai/src/components/DatePicker/index.ts
  packages/sdds-platform-ai/src/components/DateTimePicker/DateTimePicker.config.ts
  packages/sdds-platform-ai/src/components/DateTimePicker/DateTimePicker.stories.tsx
  packages/sdds-platform-ai/src/components/DateTimePicker/DateTimePicker.ts
  packages/sdds-platform-ai/src/components/DateTimePicker/index.ts
  packages/sdds-platform-ai/src/components/TimePicker/TimePicker.config.ts
  packages/sdds-platform-ai/src/components/TimePicker/TimePicker.stories.tsx
  packages/sdds-platform-ai/src/components/TimePicker/TimePicker.ts
  packages/sdds-platform-ai/src/components/TimePicker/index.ts
  packages/sdds-platform-ai/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(rating): add component [PLASMA-6857]
  packages/sdds-platform-ai/src/components/Rating/Rating.config.ts
  packages/sdds-platform-ai/src/components/Rating/Rating.stories.tsx
  packages/sdds-platform-ai/src/components/Rating/Rating.ts
  packages/sdds-platform-ai/src/components/Rating/index.ts
  packages/sdds-platform-ai/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(infra): add release workflow for mcp
  .github/workflows/mcp-data-upload.yml
  website/plasma-b2c-docs/docs/mcp.mdx
  website/plasma-giga-docs/docs/mcp.mdx
  website/plasma-web-docs/docs/mcp.mdx
  website/sdds-finai-docs/docs/mcp.mdx
Due: none

fix(popover): fix border issue [PLASMA-6798]
  packages/plasma-new-hope/src/components/Popover/Popover.styles.ts
  packages/plasma-new-hope/src/examples/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/components/Popover/style.css
Due: eslint --fix, prettier --write, stylelint

docs(popover): rework examples [PLASMA-6798]
  website/plasma-b2c-docs/docs/_examples/_popover/_refObject.mdx
  website/plasma-b2c-docs/docs/_examples/_popover/_refReactNode.mdx
  website/plasma-b2c-docs/docs/components/Popover.mdx
  website/plasma-giga-docs/docs/_examples/_popover/_refObject.mdx
  website/plasma-giga-docs/docs/_examples/_popover/_refReactNode.mdx
  website/plasma-giga-docs/docs/components/Popover.mdx
  website/plasma-homeds-docs/docs/_examples/_popover/_refObject.mdx
  website/plasma-homeds-docs/docs/_examples/_popover/_refReactNode.mdx
  website/plasma-homeds-docs/docs/components/Popover.mdx
  website/plasma-web-docs/docs/_examples/_popover/_refObject.mdx
  website/plasma-web-docs/docs/_examples/_popover/_refReactNode.mdx
  website/plasma-web-docs/docs/components/Popover.mdx
  website/sdds-crm-docs/docs/_examples/_textfield/_cleaning-logic.mdx
  website/sdds-cs-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-cs-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-cs-docs/docs/components/Popover.mdx
  website/sdds-dfa-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-dfa-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-dfa-docs/docs/components/Popover.mdx
  website/sdds-finai-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-finai-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-finai-docs/docs/components/Popover.mdx
  website/sdds-insol-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-insol-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-insol-docs/docs/components/Popover.mdx
  website/sdds-netology-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-netology-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-netology-docs/docs/components/Popover.mdx
  website/sdds-platform-ai-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-platform-ai-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-platform-ai-docs/docs/components/Popover.mdx
  website/sdds-scan-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-scan-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-scan-docs/docs/components/Popover.mdx
  website/sdds-serv-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-serv-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-serv-docs/docs/components/Popover.mdx
Due: none

docs(popover): rework storybook examples [PLASMA-6798]
  packages/plasma-b2c/src/components/Popover/Popover.stories.tsx
  packages/plasma-b2c/src/components/Popover/style.css
  packages/plasma-giga/src/components/Popover/Popover.stories.tsx
  packages/plasma-giga/src/components/Popover/style.css
  packages/plasma-homeds/src/components/Popover/Popover.stories.tsx
  packages/plasma-homeds/src/components/Popover/style.css
  packages/plasma-web/src/components/Popover/Popover.stories.tsx
  packages/plasma-web/src/components/Popover/style.css
  packages/sdds-bizcom/src/components/Popover/Popover.stories.tsx
  packages/sdds-bizcom/src/components/Popover/style.css
  packages/sdds-cs/src/components/Popover/Popover.stories.tsx
  packages/sdds-cs/src/components/Popover/style.css
  packages/sdds-dfa/src/components/Popover/Popover.stories.tsx
  packages/sdds-dfa/src/components/Popover/style.css
  packages/sdds-finai/src/components/Popover/Popover.stories.tsx
  packages/sdds-finai/src/components/Popover/style.css
  packages/sdds-insol/src/components/Popover/Popover.stories.tsx
  packages/sdds-insol/src/components/Popover/style.css
  packages/sdds-netology/src/components/Popover/Popover.stories.tsx
  packages/sdds-netology/src/components/Popover/style.css
  packages/sdds-os/src/components/Popover/Popover.stories.tsx
  packages/sdds-os/src/components/Popover/style.css
  packages/sdds-platform-ai/src/components/Popover/Popover.stories.tsx
  packages/sdds-platform-ai/src/components/Popover/style.css
  packages/sdds-sbcom/src/components/Popover/Popover.stories.tsx
  packages/sdds-sbcom/src/components/Popover/style.css
  packages/sdds-scan/src/components/Popover/Popover.stories.tsx
  packages/sdds-scan/src/components/Popover/style.css
  packages/sdds-serv/src/components/Popover/Popover.stories.tsx
  packages/sdds-serv/src/components/Popover/style.css
Due: eslint --fix, prettier --write, stylelint

docs: rework contentLoaded method [PLASMA-6798]
  website/plasma-web-docs/docusaurus.config.js
  website/sdds-scan-docs/docusaurus.config.js
Due: eslint --fix, prettier --write

fix(plasma-icons): update icon `DotsVerticalCenteredOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/DotsVerticalCenteredOutline.svg
Due: none

docs(changelog): handle incorrect lib version
  website/plasma-website/pages/changelog.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-tokens): Add theme plasma_giga
  packages/plasma-tokens/data/themes/plasma_giga.json
  packages/plasma-tokens/src/brands/plasma_giga/index.ts
  packages/plasma-tokens/src/themes/plasma_giga__dark.ts
  packages/plasma-tokens/src/themes/plasma_giga__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(plasma_giga): update theme [PLASMA-6830]
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
  packages/themes/plasma-themes/src/tokens/plasma_giga/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
