Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

chore(*): use `resolve.alias` for explicit @salutejs/plasma-sb-utils
  packages/plasma-b2c/.storybook/main.ts
Due: eslint --fix, prettier --write

feat(): update lock file
  packages/plasma-new-hope/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
Due: prettier --write --parser json

feat(*): add stories to all libs
  packages/plasma-b2c/src/components/Button/Button.stories.tsx
  packages/plasma-giga/.storybook/main.ts
  packages/plasma-giga/src/components/Button/Button.stories.tsx
  packages/plasma-new-hope/src/examples/components/Button/Button.stories.tsx
  packages/plasma-web/.storybook/main.ts
  packages/plasma-web/src/components/Button/Button.stories.tsx
  packages/sdds-bizcom/.storybook/main.ts
  packages/sdds-bizcom/src/components/Button/Button.stories.tsx
  packages/sdds-crm/.storybook/main.ts
  packages/sdds-crm/src/components/Button/Button.stories.tsx
  packages/sdds-cs/.storybook/main.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-dfa/.storybook/main.ts
  packages/sdds-dfa/src/components/Button/Button.stories.tsx
  packages/sdds-finai/.storybook/main.ts
  packages/sdds-finai/src/components/Button/Button.stories.tsx
  packages/sdds-insol/.storybook/main.ts
  packages/sdds-insol/src/components/Button/Button.stories.tsx
  packages/sdds-netology/.storybook/main.ts
  packages/sdds-netology/src/components/Button/Button.stories.tsx
  packages/sdds-scan/.storybook/main.ts
  packages/sdds-scan/src/components/Button/Button.stories.tsx
  packages/sdds-serv/.storybook/main.ts
  packages/sdds-serv/src/components/Button/Button.stories.tsx
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  utils/plasma-sb-utils/src/components/Button/Button.tsx
  utils/plasma-sb-utils/src/components/Button/meta.ts
  utils/plasma-sb-utils/src/components/Button/stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(*): update tests timpicker
  cypress/snapshots/b2c/components/TimePicker/TimePicker.update-test.component-test.tsx/plasma-b2c TimePicker -- [PLASMA-T2304] TimePicker dropdownAlign=right, columnsQuantity=2, dropdownWidth=fixed.snap.png
  cypress/snapshots/b2c/components/TimePicker/TimePicker.update-test.component-test.tsx/plasma-b2c TimePicker -- [PLASMA-T2305] TimePicker dropdownWidth=fullWidth.snap.png
  cypress/snapshots/giga/components/TimePicker/TimePicker.update-test.component-test.tsx/plasma-giga TimePicker -- [PLASMA-T2304] TimePicker dropdownAlign=right, columnsQuantity=2, dropdownWidth=fixed.snap.png
  cypress/snapshots/giga/components/TimePicker/TimePicker.update-test.component-test.tsx/plasma-giga TimePicker -- [PLASMA-T2305] TimePicker dropdownWidth=fullWidth.snap.png
  cypress/snapshots/web/components/TimePicker/TimePicker.update-test.component-test.tsx/plasma-web TimePicker -- [PLASMA-T2304] TimePicker dropdownAlign=right, columnsQuantity=2, dropdownWidth=fixed.snap.png
  cypress/snapshots/web/components/TimePicker/TimePicker.update-test.component-test.tsx/plasma-web TimePicker -- [PLASMA-T2305] TimePicker dropdownWidth=fullWidth.snap.png
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): update tests
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader customOverlayColor.snap.png
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner, size=xl.snap.png
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default, size=xl, strokeWidth=8.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner, size=xl.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default, size=xl, strokeWidth=8.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader customOverlayColor.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner, size=xl.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default, size=xl, strokeWidth=8.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default.snap.png
  packages/plasma-b2c/src/components/Loader/Loader.component-test.tsx
  packages/plasma-b2c/src/components/Loader/Loader.stories.tsx
  packages/plasma-giga/src/components/Loader/Loader.component-test.tsx
  packages/plasma-giga/src/components/Loader/Loader.stories.tsx
  packages/plasma-web/src/components/Loader/Loader.component-test.tsx
  packages/plasma-web/src/components/Loader/Loader.stories.tsx
  packages/sdds-bizcom/src/components/Loader/Loader.stories.tsx
  packages/sdds-crm/src/components/Loader/Loader.stories.tsx
  packages/sdds-netology/src/components/Loader/Loader.stories.tsx
  packages/sdds-scan/src/components/Loader/Loader.stories.tsx
  packages/sdds-serv/src/components/Loader/Loader.stories.tsx
  website/plasma-b2c-docs/docs/components/Loader.mdx
  website/plasma-giga-docs/docs/components/Loader.mdx
  website/plasma-web-docs/docs/components/Loader.mdx
  website/sdds-crm-docs/docs/components/Loader.mdx
  website/sdds-netology-docs/docs/components/Loader.mdx
  website/sdds-scan-docs/docs/components/Loader.mdx
  website/sdds-serv-docs/docs/components/Loader.mdx
Due: eslint --fix, prettier --write, stylelint

feat(*): add congis to all libs loader
  packages/plasma-b2c/src/components/Loader/Loader.config.ts
  packages/plasma-b2c/src/components/Loader/Loader.stories.tsx
  packages/plasma-b2c/src/components/Loader/Loader.ts
  packages/plasma-b2c/src/components/Loader/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-giga/src/components/Loader/Loader.config.ts
  packages/plasma-giga/src/components/Loader/Loader.stories.tsx
  packages/plasma-giga/src/components/Loader/Loader.ts
  packages/plasma-giga/src/components/Loader/index.ts
  packages/plasma-new-hope/src/components/Loader/Loader.types.ts
  packages/plasma-web/src/components/Loader/Loader.config.ts
  packages/plasma-web/src/components/Loader/Loader.stories.tsx
  packages/plasma-web/src/components/Loader/Loader.ts
  packages/plasma-web/src/components/Loader/index.ts
  packages/sdds-bizcom/src/components/Loader/Loader.config.ts
  packages/sdds-bizcom/src/components/Loader/Loader.stories.tsx
  packages/sdds-bizcom/src/components/Loader/Loader.ts
  packages/sdds-bizcom/src/components/Loader/index.ts
  packages/sdds-crm/src/components/Loader/Loader.config.ts
  packages/sdds-crm/src/components/Loader/Loader.stories.tsx
  packages/sdds-crm/src/components/Loader/Loader.ts
  packages/sdds-crm/src/components/Loader/index.ts
  packages/sdds-netology/src/components/Loader/Loader.config.ts
  packages/sdds-netology/src/components/Loader/Loader.stories.tsx
  packages/sdds-netology/src/components/Loader/Loader.ts
  packages/sdds-netology/src/components/Loader/index.ts
  packages/sdds-scan/src/components/Loader/Loader.config.ts
  packages/sdds-scan/src/components/Loader/Loader.stories.tsx
  packages/sdds-scan/src/components/Loader/Loader.ts
  packages/sdds-scan/src/components/Loader/index.ts
  packages/sdds-serv/src/components/Loader/Loader.config.ts
  packages/sdds-serv/src/components/Loader/Loader.stories.tsx
  packages/sdds-serv/src/components/Loader/Loader.ts
  packages/sdds-serv/src/components/Loader/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(*): add popup to loader
  packages/plasma-b2c/src/components/Loader/Loader.stories.tsx
  packages/plasma-giga/src/components/Loader/Loader.stories.tsx
  packages/plasma-new-hope/src/components/Loader/Loader.styles.ts
  packages/plasma-new-hope/src/components/Loader/Loader.tokens.ts
  packages/plasma-new-hope/src/components/Loader/Loader.tsx
  packages/plasma-new-hope/src/components/Loader/Loader.types.ts
  packages/plasma-new-hope/src/examples/components/Loader/Loader.stories.tsx
  packages/plasma-web/src/components/Loader/Loader.stories.tsx
  packages/sdds-bizcom/src/components/Loader/Loader.stories.tsx
  packages/sdds-crm/src/components/Loader/Loader.stories.tsx
  packages/sdds-netology/src/components/Loader/Loader.stories.tsx
  packages/sdds-scan/src/components/Loader/Loader.stories.tsx
  packages/sdds-serv/src/components/Loader/Loader.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): add hasTrack and add strokeSize
  packages/plasma-b2c/src/components/Loader/Loader.component-test.tsx
  packages/plasma-b2c/src/components/Loader/Loader.stories.tsx
  packages/plasma-b2c/src/components/ProgressBarCircular/ProgressBarCircular.component-test.tsx
  packages/plasma-b2c/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/plasma-giga/src/components/Loader/Loader.component-test.tsx
  packages/plasma-giga/src/components/Loader/Loader.stories.tsx
  packages/plasma-giga/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/plasma-new-hope/src/components/Loader/Loader.tsx
  packages/plasma-new-hope/src/components/Loader/Loader.types.ts
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.tsx
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.types.ts
  packages/plasma-new-hope/src/examples/components/Loader/Loader.stories.tsx
  packages/plasma-new-hope/src/examples/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/plasma-web/src/components/Loader/Loader.component-test.tsx
  packages/plasma-web/src/components/Loader/Loader.stories.tsx
  packages/plasma-web/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-bizcom/src/components/Loader/Loader.stories.tsx
  packages/sdds-bizcom/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-crm/src/components/Loader/Loader.stories.tsx
  packages/sdds-crm/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-dfa/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-finai/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-insol/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-netology/src/components/Loader/Loader.stories.tsx
  packages/sdds-netology/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-scan/src/components/Loader/Loader.stories.tsx
  packages/sdds-scan/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  packages/sdds-serv/src/components/Loader/Loader.stories.tsx
  packages/sdds-serv/src/components/ProgressBarCircular/ProgressBarCircular.stories.tsx
  website/plasma-b2c-docs/docs/components/ProgressBarCircular.mdx
  website/plasma-giga-docs/docs/components/ProgressBarCircular.mdx
  website/plasma-web-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-crm-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-dfa-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-finai-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-insol-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-netology-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-scan-docs/docs/components/ProgressBarCircular.mdx
  website/sdds-serv-docs/docs/components/ProgressBarCircular.mdx
Due: eslint --fix, prettier --write, stylelint

feat(*): add tests loader
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader customOverlayColor.snap.png
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner, size=xl.snap.png
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner.snap.png
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default, size=xl, strokeWidth=8.snap.png
  cypress/snapshots/b2c/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader customOverlayColor.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner, size=xl.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default, size=xl, strokeWidth=8.snap.png
  cypress/snapshots/giga/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader customOverlayColor.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner, size=xl.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default type=spinner.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default, size=xl, strokeWidth=8.snap.png
  cypress/snapshots/web/components/Loader/Loader.component-test.tsx/plasma-b2c Loader -- Loader default.snap.png
  packages/plasma-b2c/src/components/Loader/Loader.component-test.tsx
  packages/plasma-giga/src/components/Loader/Loader.component-test.tsx
  packages/plasma-giga/src/index.ts
  packages/plasma-web/src/components/Loader/Loader.component-test.tsx
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(*): add loader
  packages/plasma-new-hope/src/components/Loader/Loader.styles.ts
  packages/plasma-new-hope/src/components/Loader/Loader.tokens.ts
  packages/plasma-new-hope/src/components/Loader/Loader.tsx
  packages/plasma-new-hope/src/components/Loader/Loader.types.ts
  packages/plasma-new-hope/src/components/Loader/index.ts
  packages/plasma-new-hope/src/components/Loader/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Loader/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Loader/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Loader/variations/_view/tokens.json
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.styles.ts
  packages/plasma-new-hope/src/examples/components/Loader/Loader.config.ts
  packages/plasma-new-hope/src/examples/components/Loader/Loader.stories.tsx
  packages/plasma-new-hope/src/examples/components/Loader/Loader.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(*): add docs loader
  packages/sdds-crm/src/index.ts
  packages/sdds-netology/src/index.ts
  packages/sdds-scan/src/index.ts
  packages/sdds-serv/src/index.ts
  website/plasma-b2c-docs/docs/components/Loader.mdx
  website/plasma-giga-docs/docs/components/Loader.mdx
  website/plasma-web-docs/docs/components/Loader.mdx
  website/sdds-crm-docs/docs/components/Loader.mdx
  website/sdds-netology-docs/docs/components/Loader.mdx
  website/sdds-scan-docs/docs/components/Loader.mdx
  website/sdds-serv-docs/docs/components/Loader.mdx
Due: eslint --fix, prettier --write

fix(loader): fix types
  packages/plasma-new-hope/src/components/Loader/Loader.types.ts
  packages/plasma-new-hope/src/components/ProgressBarCircular/ProgressBarCircular.types.ts
Due: eslint --fix, prettier --write

docs(loader): fix typo
  website/plasma-b2c-docs/docs/components/Loader.mdx
  website/plasma-giga-docs/docs/components/Loader.mdx
  website/plasma-web-docs/docs/components/Loader.mdx
  website/sdds-crm-docs/docs/components/Loader.mdx
  website/sdds-netology-docs/docs/components/Loader.mdx
  website/sdds-scan-docs/docs/components/Loader.mdx
  website/sdds-serv-docs/docs/components/Loader.mdx
Due: none

feat(*): fullwidth fix timepicker
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.styles.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-bizcom/package.json
  packages/sdds-crm/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package.json
  packages/sdds-insol/package.json
  packages/sdds-netology/package.json
  packages/sdds-scan/package.json
  packages/sdds-serv/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-crm-docs/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-scan-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

fix: Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-bizcom/package-lock.json
  packages/sdds-crm/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finai/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-netology/package-lock.json
  packages/sdds-scan/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  website/plasma-b2c-docs/package-lock.json
  website/plasma-giga-docs/package-lock.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-web-docs/package-lock.json
  website/plasma-website/package-lock.json
  website/sdds-crm-docs/package-lock.json
  website/sdds-cs-docs/package-lock.json
  website/sdds-dfa-docs/package-lock.json
  website/sdds-finai-docs/package-lock.json
  website/sdds-insol-docs/package-lock.json
  website/sdds-netology-docs/package-lock.json
  website/sdds-scan-docs/package-lock.json
  website/sdds-serv-docs/package-lock.json
Due: prettier --write --parser json

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-bizcom/package-lock.json
  packages/sdds-crm/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finai/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-netology/package-lock.json
  packages/sdds-scan/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-crm.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser json

docs(changelog): refactoring get platforms data
  website/plasma-website/hooks/useGitHubData.ts
  website/plasma-website/hooks/useMergedAllPlatformsData.ts
  website/plasma-website/pages/index.tsx
  website/plasma-website/utils/constants.tsx
Due: eslint --fix, prettier --write, stylelint

docs(changelog): new UI
  website/plasma-website/components/changelog/ChangelogHeader.styles.tsx
  website/plasma-website/pages/changelog.tsx
  website/plasma-website/public/data/native-platforms-meta.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(infra): increase heap space for node
  .github/workflows/documentation-deploy-common.yml
  .github/workflows/documentation-deploy-pr.yml
  .github/workflows/documentation-deploy-release-branch.yml
Due: none

feat(plasma, sdds): add example with search in Select
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tsx
  packages/plasma-new-hope/src/components/Select/Select.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Select.mdx
  website/plasma-giga-docs/docs/components/Select.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/sdds-crm-docs/docs/components/Select.mdx
  website/sdds-cs-docs/docs/components/Select.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-finai-docs/docs/components/Select.mdx
  website/sdds-insol-docs/docs/components/Select.mdx
  website/sdds-netology-docs/docs/components/Select.mdx
  website/sdds-scan-docs/docs/components/Select.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
Due: eslint --fix, prettier --write, stylelint

feat: core tests module
  cypress.config.ts
  cypress/plugins/index.ts
  cypress/snapshots/b2c/Button/plasma-b2c Button -- simple.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=accent, size=m, stretching=fixed.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=accent, size=m.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=black.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=clear, size=xs.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=critical.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=dark.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=default, size=xl, disabled=true, focused=true, stretching=auto.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=default, size=xl.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=primary, size=l, stretching=filled.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=primary, size=l.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=secondary, size=s.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=success, size=xxs.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=warning.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- Button view=white.snap.png
  cypress/snapshots/b2c/Button/plasma-new-hope Button -- simple.snap.png
  cypress/support/commands.ts
  cypress/webpack.config.ts
  package-lock.json
  package.json
  packages/plasma-b2c/src/components/Button/Button.component-test.tsx
  packages/plasma-b2c/src/components/Card/Card.update-test.component-test.tsx
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Button/Button.component-test.tsx
  reorganize.js
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/lib/getConfigMatrix.d.ts
  utils/plasma-cy-utils/lib/getConfigMatrix.js
  utils/plasma-cy-utils/lib/getTests.d.ts
  utils/plasma-cy-utils/lib/getTests.js
  utils/plasma-cy-utils/lib/index.d.ts
  utils/plasma-cy-utils/lib/index.js
  utils/plasma-cy-utils/src/CypressHelpers.tsx
  utils/plasma-cy-utils/src/getConfigMatrix.ts
  utils/plasma-cy-utils/src/getTests.tsx
  utils/plasma-cy-utils/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-b2c): rename test files for correct folder name extraction
  .eslintignore
  packages/plasma-b2c/src/components/Calendar/Calendar.Range.component-test.tsx
  packages/plasma-b2c/src/components/Carousel/Legacy/Carousel.Old.component-test.tsx
  packages/plasma-b2c/src/components/Combobox/Legacy/Combobox.Old.component-test.tsx
  packages/plasma-b2c/src/components/Grid/Grid.Base.component-test.tsx
  packages/plasma-b2c/src/components/Grid/Grid.Legacy.component-test.tsx
  packages/plasma-b2c/src/components/Image/Image.update-test.component-test.tsx
  packages/plasma-b2c/src/components/Link/Link.component-test.tsx
  packages/plasma-b2c/src/components/Modal/Modal.component-test.tsx
  packages/plasma-b2c/src/components/PaginationDots/PaginationDots.component-test.tsx
  packages/plasma-b2c/src/components/Radiobox/Radiobox.Base.component-test.tsx
  packages/plasma-b2c/src/components/Spinner/Spinner.Base.component-test.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.Base.component-test.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.Resize.component-test.tsx
  packages/plasma-b2c/src/components/Typography/Typography.Base.component-test.tsx
  packages/plasma-b2c/src/components/Typography/Typography.CoreBase.component-test.tsx
  packages/plasma-b2c/src/components/Typography/Typography.Responsive.component-test.tsx
  packages/plasma-giga/src/components/Image/Image.update-test.component-test.tsx
  packages/sdds-cs/src/components/Image/Image.update-test.component-test.tsx
  packages/sdds-insol/src/components/Image/Image.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: fix Grid tests
  cypress/snapshots/b2c/Grid/plasma-b2c Grid Legacy -- simple.snap.png
  cypress/snapshots/b2c/Grid/plasma-b2c Grid Legacy _size -- _L.snap.png
  cypress/snapshots/b2c/Grid/plasma-b2c Grid Legacy _size -- _M.snap.png
  cypress/snapshots/b2c/Grid/plasma-b2c Grid Legacy _size -- _S.snap.png
  cypress/snapshots/b2c/Grid/plasma-b2c Grid Legacy _size -- _XL.snap.png
  cypress/support/commands.ts
  packages/plasma-b2c/src/components/Grid/Grid.Legacy.component-test.tsx
  packages/plasma-web/src/components/Grid/Grid.Base.component-test.tsx
  packages/plasma-web/src/components/Grid/Grid.Legacy.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add cs snapshots
  cypress/snapshots/cs/CalendarRange/sdds-cs CalendarRange -- default double calendar.snap.png
  cypress/snapshots/cs/CalendarRange/sdds-cs CalendarRange -- default.snap.png
  cypress/snapshots/cs/CalendarRange/sdds-cs CalendarRange -- locale en.snap.png
  cypress/snapshots/cs/CalendarRange/sdds-cs CalendarRange -- range in progress with disabled.snap.png
  cypress/snapshots/cs/CalendarRange/sdds-cs CalendarRange -- range in progress.snap.png
  cypress/snapshots/cs/NumberFormat/sdds-cs NumberFormat -- [PLASMA-T2149] NumberFormat thousandSeparator=backslash, decimalSeparator=,, decimalScale=2.snap.png
Due: none

feat: modify mathcImageSnapshot overwrite
  cypress/support/commands.ts
Due: eslint --fix, prettier --write

feat: update tets title in NumberFormat
  packages/plasma-b2c/src/components/NumberFormat/NumberFormat.update-test.component-test.tsx
  packages/plasma-giga/src/components/NumberFormat/NumberFormat.update-test.component-test.tsx
  packages/plasma-web/src/components/NumberFormat/NumberFormat.update-test.component-test.tsx
  packages/sdds-cs/src/components/NumberFormat/NumberFormat.update-test.component-test.tsx
  packages/sdds-insol/src/components/NumberFormat/NumberFormat.update-test.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add giga snapshots
  cypress/snapshots/giga/CalendarRange/plasma-giga CalendarRange -- default double calendar.snap.png
  cypress/snapshots/giga/CalendarRange/plasma-giga CalendarRange -- default.snap.png
  cypress/snapshots/giga/CalendarRange/plasma-giga CalendarRange -- locale en.snap.png
  cypress/snapshots/giga/CalendarRange/plasma-giga CalendarRange -- range in progress with disabled.snap.png
  cypress/snapshots/giga/CalendarRange/plasma-giga CalendarRange -- range in progress.snap.png
  cypress/snapshots/giga/NumberFormat/plasma-giga NumberFormat -- [PLASMA-T2149] NumberFormat thousandSeparator=, decimalSeparator=,, decimalScale=2.snap.png
  cypress/snapshots/giga/NumberFormat/plasma-giga NumberFormat -- [PLASMA-T2149] NumberFormat thousandSeparator=backslash, decimalSeparator=,, decimalScale=2.snap.png
  packages/plasma-giga/src/components/Link/Link.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add web snapshots
  cypress/snapshots/web/Calendar/plasma-web CalendarRange -- default.snap.png
  cypress/snapshots/web/Calendar/plasma-web CalendarRange -- locale en.snap.png
  cypress/snapshots/web/CalendarRange/plasma-web CalendarRange -- default double calendar.snap.png
  cypress/snapshots/web/CalendarRange/plasma-web CalendarRange -- default.snap.png
  cypress/snapshots/web/CalendarRange/plasma-web CalendarRange -- locale en.snap.png
  cypress/snapshots/web/CalendarRange/plasma-web CalendarRange -- range in progress with disabled.snap.png
  cypress/snapshots/web/CalendarRange/plasma-web CalendarRange -- range in progress.snap.png
  cypress/snapshots/web/Grid/plasma-web Grid Legacy -- _L.snap.png
  cypress/snapshots/web/Grid/plasma-web Grid Legacy -- _M.snap.png
  cypress/snapshots/web/Grid/plasma-web Grid Legacy -- _S.snap.png
  cypress/snapshots/web/Grid/plasma-web Grid Legacy -- _XL.snap.png
  cypress/snapshots/web/Grid/plasma-web Grid Legacy -- simple.snap.png
  cypress/snapshots/web/NumberFormat/plasma-web NumberFormat -- [PLASMA-T2149] NumberFormat thousandSeparator=, decimalSeparator=,, decimalScale=2.snap.png
  cypress/snapshots/web/NumberFormat/plasma-web NumberFormat -- [PLASMA-T2149] NumberFormat thousandSeparator=backslash, decimalSeparator=,, decimalScale=2.snap.png
  packages/plasma-web/src/components/Badge/Badge.component-test.tsx
  packages/plasma-web/src/components/Badge/BadgeBase.component-test.tsx
  packages/plasma-web/src/components/Carousel/Legacy/Carousel.Old.component-test.tsx
  packages/plasma-web/src/components/Combobox/Legacy/Combobox.Old.component-test.tsx
  packages/plasma-web/src/components/Link/Link.component-test.tsx
  packages/plasma-web/src/components/PaginationDots/PaginationDots.component-test.tsx
  packages/plasma-web/src/components/Radiobox/Radiobox.Base.component-test.tsx
  packages/plasma-web/src/components/Spinner/Spinner.component-test.tsx
  packages/plasma-web/src/components/Tabs/Tabs.Base.component-test.tsx
  packages/plasma-web/src/components/TextArea/TextArea.Resize.component-test.tsx
  packages/plasma-web/src/components/Typography/Typography.Base.component-test.tsx
Due: eslint --fix, prettier --write, stylelint
