Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

refactor(plasma-new-hope): Remove old tokens from root and configs
  packages/plasma-new-hope/.storybook/preview-head.html
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Legacy/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/IconButton/IconButton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Popup/Popup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Segment/SegmentGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Segment/SegmentItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Toast/Toast.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Autocomplete/Autocomplete.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Legacy/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/IconButton/IconButton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Modal/Modal.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Notification/Notification.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popover/Popover.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Popup/Popup.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Segment/SegmentGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Segment/SegmentItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/TextField/TextField.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(core-themes): Add `spacing` tokens generator
  packages/themes/core-themes/src/creators/createSpacingTokens.ts
  packages/themes/core-themes/src/creators/index.ts
  packages/themes/core-themes/src/generate.ts
  packages/themes/core-themes/src/generators/generateCSSModuleThemes.ts
  packages/themes/core-themes/src/generators/generateCSSThemes.ts
  packages/themes/core-themes/src/generators/generateDefaultTokens.ts
  packages/themes/core-themes/src/generators/generateThemes.ts
  packages/themes/core-themes/src/generators/generateTokens.ts
  packages/themes/core-themes/src/types/theme.ts
  packages/themes/core-themes/src/utils/other.ts
  packages/themes/sdds-themes/lib/index.ts
Due: eslint --fix, prettier --write

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
Due: prettier --write --parser json

feat(plasma-*, sdds-*): add resizable in Popup, Modal
  cypress/snapshots/b2c/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- resizable.snap.png
  cypress/snapshots/b2c/components/PopupBase/PopupBase.component-test.tsx/plasma-web PopupBase -- resizable.snap.png
  cypress/snapshots/web/components/ModalBase/ModalBase.component-test.tsx/plasma-web ModalBase -- resizable.snap.png
  cypress/snapshots/web/components/PopupBase/PopupBase.component-test.tsx/plasma-web PopupBase -- resizable.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Drawer/Drawer.types.ts
  packages/plasma-new-hope/src/components/Modal/Modal.tsx
  packages/plasma-new-hope/src/components/Popup/Popup.tokens.ts
  packages/plasma-new-hope/src/components/Popup/Popup.tsx
  packages/plasma-new-hope/src/components/Popup/Popup.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ModalBase/ModalBase.component-test.tsx
  packages/plasma-web/src/components/PopupBase/PopupBase.component-test.tsx
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
  website/plasma-b2c-docs/docs/components/ModalBase.mdx
  website/plasma-b2c-docs/docs/components/PopupBase.mdx
  website/plasma-web-docs/docs/components/ModalBase.mdx
  website/plasma-web-docs/docs/components/PopupBase.mdx
  website/sdds-cs-docs/docs/components/Modal.mdx
  website/sdds-cs-docs/docs/components/Popup.mdx
  website/sdds-dfa-docs/docs/components/Modal.mdx
  website/sdds-dfa-docs/docs/components/Popup.mdx
  website/sdds-insol-docs/docs/components/Modal.mdx
  website/sdds-insol-docs/docs/components/Popup.mdx
  website/sdds-serv-docs/docs/components/Modal.mdx
  website/sdds-serv-docs/docs/components/Popup.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-colors/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens-b2b/package.json
  packages/plasma-tokens-b2c/package.json
  packages/plasma-tokens-core/package.json
  packages/plasma-tokens-web/package.json
  packages/plasma-tokens/package.json
  packages/plasma-typo/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/core-themes/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-colors/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens-b2b/package-lock.json
  packages/plasma-tokens-b2c/package-lock.json
  packages/plasma-tokens-core/package-lock.json
  packages/plasma-tokens-web/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-typo/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/core-themes/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-tokens-utils/package-lock.json
Due: prettier --write --parser json

PLASMA-3865: Flow api draft & example
  packages/plasma-new-hope/src/components/Flow/Flow.tsx
Due: eslint --fix, prettier --write, stylelint

ci(deploy): computed correct path to deploy S3
  .github/workflows/documentation-deploy-common.yml
Due: none

docs: update CHANGELOG.md link [skip ci]
  website/plasma-b2c-docs/docs/_changelog.md
Due: prettier --write --parser markdown

ci: use master as ref [skip ci]
  .github/workflows/publish-latest.yml
Due: none

feat(new-hope): hide placeholder in textarea if default value in react hook form
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-b2c/src/components/TextField/TextField.stories.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextField/TextField.stories.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-finportal/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(*): exit types for notification
  packages/sdds-cs/src/components/Notification/Notification.tsx
  packages/sdds-dfa/src/components/Notification/Notification.tsx
  packages/sdds-finportal/src/components/Notification/Notification.tsx
  packages/sdds-insol/src/components/Notification/Notification.tsx
  packages/sdds-serv/src/components/Notification/Notification.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): Update configs in `Dropdown` and `Cell` components
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-insol/src/components/Cell/Cell.config.ts
  packages/sdds-insol/src/components/Cell/Cell.stories.tsx
  packages/sdds-insol/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-insol/src/components/Dropdown/Dropdown.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*, sdds-*): Tree component API part
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
Due: eslint --fix, prettier --write

feat(plasma): part 4
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
Due: eslint --fix, prettier --write

feat(plasma): part 5
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma): part 1
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-new-hope/src/components/Tree/index.ts
  packages/plasma-new-hope/src/components/Tree/utils/index.ts
  packages/plasma-new-hope/src/components/Tree/utils/sizeToIconSize.ts
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/Folder.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconFolder.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma): part 3
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma): part 2
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma): part 6
  packages/plasma-new-hope/package.json
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma): part 8
  cypress/webpack.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma): part 9
  website/plasma-website/next.config.js
  website/plasma-website/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma): part 12
  packages/plasma-new-hope/src/components/Tree/Tree.styles.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tokens.ts
  packages/plasma-new-hope/src/components/Tree/Tree.tsx
  packages/plasma-new-hope/src/components/Tree/Tree.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma): part 11
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tree/Tree.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma): part 10
  website/plasma-website/package-lock.json
Due: prettier --write --parser json

feat(plasma): part 13
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

feat(sdds-cs): fix TextArea config
  packages/sdds-cs/src/components/TextArea/TextArea.config.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update Popover docs
  packages/plasma-new-hope/src/components/Popover/Popover.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Popover.mdx
  website/plasma-web-docs/docs/components/Popover.mdx
  website/sdds-cs-docs/docs/components/Popover.mdx
  website/sdds-dfa-docs/docs/components/Popover.mdx
  website/sdds-insol-docs/docs/components/Popover.mdx
  website/sdds-serv-docs/docs/components/Popover.mdx
Due: none

feat(plasma-new-hope): expand target prop type in Popover
  packages/plasma-new-hope/src/components/Popover/Popover.styles.ts
  packages/plasma-new-hope/src/components/Popover/Popover.template-doc.mdx
  packages/plasma-new-hope/src/components/Popover/Popover.tokens.ts
  packages/plasma-new-hope/src/components/Popover/Popover.tsx
  packages/plasma-new-hope/src/components/Popover/Popover.types.ts
  packages/plasma-new-hope/src/components/Portal/Portal.tsx
  packages/plasma-new-hope/src/components/Portal/Portal.types.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): add target as ref test for Popover
  packages/plasma-b2c/src/components/Popover/Popover.component-test.tsx
  packages/plasma-web/src/components/Popover/Popover.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-themes): update text-l/m tokens
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
Due: eslint --fix, prettier --write

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  packages/themes/plasma-themes/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/plasma-themes/package-lock.json
Due: prettier --write --parser json

chore(plasma-{b2c, web}): tests and shapshots updated
  cypress/snapshots/b2c/components/Attach/Attach.component-test.tsx/plasma-b2c Attach -- _flow with helperText.snap.png
  cypress/snapshots/b2c/components/Attach/Attach.component-test.tsx/plasma-b2c Attach -- _helperTextView.snap.png
  cypress/snapshots/web/components/Attach/Attach.component-test.tsx/plasma-web Attach -- _flow with helperText.snap.png
  cypress/snapshots/web/components/Attach/Attach.component-test.tsx/plasma-web Attach -- _helperTextView.snap.png
  packages/plasma-b2c/src/components/Attach/Attach.component-test.tsx
  packages/plasma-web/src/components/Attach/Attach.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
