Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(sdds-serv-docs): add AI-docs
  packages/plasma-new-hope/src/components/_ai/Answer/Answer.types.ts
  packages/plasma-new-hope/src/components/_ai/Container/Container.types.ts
  packages/plasma-new-hope/src/components/_ai/Header/Header.types.ts
  packages/plasma-new-hope/src/components/_ai/Input/Input.types.ts
  packages/plasma-new-hope/src/components/_ai/Markdown/Markdown.types.ts
  packages/plasma-new-hope/src/components/_ai/UserMessage/UserMessage.types.ts
  packages/sdds-serv/src/components/_ai/Answer/Answer.stories.tsx
  packages/sdds-serv/src/components/_ai/Container/Container.stories.tsx
  packages/sdds-serv/src/components/_ai/Header/Header.stories.tsx
  packages/sdds-serv/src/components/_ai/Input/Input.stories.tsx
  packages/sdds-serv/src/components/_ai/Markdown/Markdown.stories.tsx
  packages/sdds-serv/src/components/_ai/UserMessage/UserMessage.stories.tsx
  utils/plasma-sb-utils/src/components/_ai/Answer/stories.tsx
  utils/plasma-sb-utils/src/components/_ai/Container/stories.tsx
  website/sdds-serv-docs/docs/ai/Answer.mdx
  website/sdds-serv-docs/docs/ai/Container.mdx
  website/sdds-serv-docs/docs/ai/Header.mdx
  website/sdds-serv-docs/docs/ai/Input.mdx
  website/sdds-serv-docs/docs/ai/Markdown.mdx
  website/sdds-serv-docs/docs/ai/UserMessage.mdx
  website/sdds-serv-docs/docs/ai/_category_.json
  website/sdds-serv-docs/src/theme/ReactLiveScope/index.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

eat(sdds-serv): add AI-components group
  packages/plasma-new-hope/src/index.ts
  packages/sdds-serv/package.json
  packages/sdds-serv/rollup.config.mjs
  packages/sdds-serv/scripts/copy-linaria-components.sh
  packages/sdds-serv/scripts/replaceStyledComponentsToEmotion.js
  packages/sdds-serv/src/ai.ts
  packages/sdds-serv/src/components/_ai/Answer/Answer.config.ts
  packages/sdds-serv/src/components/_ai/Answer/Answer.stories.tsx
  packages/sdds-serv/src/components/_ai/Answer/Answer.tsx
  packages/sdds-serv/src/components/_ai/Answer/index.ts
  packages/sdds-serv/src/components/_ai/Container/Container.config.ts
  packages/sdds-serv/src/components/_ai/Container/Container.stories.tsx
  packages/sdds-serv/src/components/_ai/Container/Container.tsx
  packages/sdds-serv/src/components/_ai/Container/index.ts
  packages/sdds-serv/src/components/_ai/Header/Header.config.ts
  packages/sdds-serv/src/components/_ai/Header/Header.stories.tsx
  packages/sdds-serv/src/components/_ai/Header/Header.tsx
  packages/sdds-serv/src/components/_ai/Header/index.ts
  packages/sdds-serv/src/components/_ai/Input/Input.config.ts
  packages/sdds-serv/src/components/_ai/Input/Input.stories.tsx
  packages/sdds-serv/src/components/_ai/Input/Input.tsx
  packages/sdds-serv/src/components/_ai/Input/index.ts
  packages/sdds-serv/src/components/_ai/Markdown/Markdown.config.ts
  packages/sdds-serv/src/components/_ai/Markdown/Markdown.stories.tsx
  packages/sdds-serv/src/components/_ai/Markdown/Markdown.tsx
  packages/sdds-serv/src/components/_ai/Markdown/index.ts
  packages/sdds-serv/src/components/_ai/UserMessage/UserMessage.config.ts
  packages/sdds-serv/src/components/_ai/UserMessage/UserMessage.stories.tsx
  packages/sdds-serv/src/components/_ai/UserMessage/UserMessage.tsx
  packages/sdds-serv/src/components/_ai/UserMessage/index.ts
  utils/plasma-sb-utils/src/components/_ai/Markdown/stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(sb-utils): create common stories for AI-components group
  packages/plasma-new-hope/src/examples/components/_ai/Answer/Answer.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Container/Container.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Header/Header.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Input/Input.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/Markdown/Markdown.stories.tsx
  packages/plasma-new-hope/src/examples/components/_ai/UserMessage/UserMessage.stories.tsx
  utils/plasma-sb-utils/src/components/_ai/Answer/Answer.tsx
  utils/plasma-sb-utils/src/components/_ai/Answer/index.ts
  utils/plasma-sb-utils/src/components/_ai/Answer/meta.ts
  utils/plasma-sb-utils/src/components/_ai/Answer/stories.tsx
  utils/plasma-sb-utils/src/components/_ai/Container/Container.tsx
  utils/plasma-sb-utils/src/components/_ai/Container/index.ts
  utils/plasma-sb-utils/src/components/_ai/Container/meta.ts
  utils/plasma-sb-utils/src/components/_ai/Container/stories.tsx
  utils/plasma-sb-utils/src/components/_ai/Header/Header.tsx
  utils/plasma-sb-utils/src/components/_ai/Header/index.ts
  utils/plasma-sb-utils/src/components/_ai/Header/meta.ts
  utils/plasma-sb-utils/src/components/_ai/Header/stories.tsx
  utils/plasma-sb-utils/src/components/_ai/Input/Input.tsx
  utils/plasma-sb-utils/src/components/_ai/Input/index.ts
  utils/plasma-sb-utils/src/components/_ai/Input/meta.ts
  utils/plasma-sb-utils/src/components/_ai/Input/stories.tsx
  utils/plasma-sb-utils/src/components/_ai/Markdown/Markdown.tsx
  utils/plasma-sb-utils/src/components/_ai/Markdown/index.ts
  utils/plasma-sb-utils/src/components/_ai/Markdown/meta.ts
  utils/plasma-sb-utils/src/components/_ai/Markdown/stories.tsx
  utils/plasma-sb-utils/src/components/_ai/UserMessage/UserMessage.tsx
  utils/plasma-sb-utils/src/components/_ai/UserMessage/index.ts
  utils/plasma-sb-utils/src/components/_ai/UserMessage/meta.ts
  utils/plasma-sb-utils/src/components/_ai/UserMessage/stories.tsx
  utils/plasma-sb-utils/src/components/_ai/index.ts
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(): add hintPortal prop in TextField
  packages/plasma-new-hope/src/components/TextField/TextField.component-test.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.types.ts
  packages/plasma-new-hope/src/components/TextField/ui/Hint/Hint.tsx
  packages/plasma-new-hope/src/components/TextField/ui/Hint/Hint.types.ts
  packages/plasma-new-hope/src/components/TextFieldSlider/TextFieldSlider.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): fix keyboard logic in readOnly mode
  packages/plasma-new-hope/src/components/Combobox/Combobox.component-test.tsx
  packages/plasma-new-hope/src/components/Combobox/Combobox.tsx
  packages/plasma-new-hope/src/components/Combobox/hooks/useKeyboardNavigation.ts
  packages/plasma-new-hope/src/components/Select/Select.component-test.tsx
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/hooks/useKeyboardNavigation.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/TextField/hooks/useKeyNavigation.ts
Due: eslint --fix, prettier --write, stylelint

chore(serv-docs): add ya metrika
  website/sdds-serv-docs/docusaurus.config.js
  website/sdds-serv-docs/src/plugins/yandex-metrika/client.js
  website/sdds-serv-docs/src/plugins/yandex-metrika/index.js
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdds_insol_next
  packages/plasma-tokens/data/themes/sdds_insol_next.json
  packages/plasma-tokens/src/brands/sdds_insol_next/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol_next__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(sdds-dfa): update Steps config
  packages/sdds-dfa/debug-storybook.log
  packages/sdds-dfa/src/components/Steps/Steps.config.ts
Due: eslint --fix, prettier --write

feat(new-hope): add gradient support after active StepItem
  packages/plasma-new-hope/src/components/Steps/Steps.tokens.ts
  packages/plasma-new-hope/src/components/Steps/ui/StepItem/StepItem.styles.ts
  packages/plasma-new-hope/src/components/Steps/ui/StepItem/StepItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update Steps snaps
  cypress/snapshots/dfa/chromium/Steps/Steps -- contentAlign=center, indicatorType=bullet, hasLine=false.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- custom height, orientation=vertical.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- custom step item view.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- custom width, orientation=horizontal.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- disabled.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- hasLoader.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- indicatorType=icon, hasContent=none.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- item stretch to max width.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- itemViewnegative.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- simple items.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- status, orientation=vertical.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- status.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- view=accent, size=m orientation.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- view=accent, size=m.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- view=default, size=l orientation.snap.png
  cypress/snapshots/dfa/chromium/Steps/Steps -- view=default, size=l.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- contentAlign=center, indicatorType=bullet, hasLine=false.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- custom height, orientation=vertical.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- custom step item view.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- custom width, orientation=horizontal.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- disabled.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- hasLoader.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- indicatorType=icon, hasContent=none.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- item stretch to max width.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- itemViewnegative.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- simple items.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- status, orientation=vertical.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- status.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- view=accent, size=m orientation.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- view=accent, size=m.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- view=default, size=l orientation.snap.png
  cypress/snapshots/dfa/webkit/Steps/Steps -- view=default, size=l.snap.png
Due: none

feat: add decimalSeparator to Rating
  packages/plasma-new-hope/src/components/Rating/Rating.tsx
  packages/plasma-new-hope/src/components/Rating/Rating.types.ts
  packages/plasma-new-hope/src/components/Rating/utils/index.ts
  packages/plasma-new-hope/src/examples/components/Rating/Rating.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update Rating docs
  packages/plasma-new-hope/src/components/Rating/Rating.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Rating.mdx
  website/plasma-giga-docs/docs/components/Rating.mdx
  website/plasma-web-docs/docs/components/Rating.mdx
  website/sdds-bizcom-docs/docs/components/Rating.mdx
  website/sdds-dfa-docs/docs/components/Rating.mdx
  website/sdds-finai-docs/docs/components/Rating.mdx
  website/sdds-insol-docs/docs/components/Rating.mdx
  website/sdds-netology-docs/docs/components/Rating.mdx
  website/sdds-platform-ai-docs/docs/components/Rating.mdx
  website/sdds-sbcom-docs/docs/components/Rating.mdx
  website/sdds-scan-docs/docs/components/Rating.mdx
  website/sdds-serv-docs/docs/components/Rating.mdx
Due: none

feat: rafactor Rating stories
  packages/plasma-b2c/src/components/Rating/Rating.stories.tsx
  packages/plasma-giga/src/components/Rating/Rating.stories.tsx
  packages/plasma-homeds/src/components/Rating/Rating.stories.tsx
  packages/plasma-web/src/components/Rating/Rating.stories.tsx
  packages/sdds-bizcom/src/components/Rating/Rating.stories.tsx
  packages/sdds-cs/src/components/Rating/Rating.stories.tsx
  packages/sdds-dfa/debug-storybook.log
  packages/sdds-dfa/src/components/Rating/Rating.stories.tsx
  packages/sdds-finai/src/components/Rating/Rating.stories.tsx
  packages/sdds-insol/src/components/Rating/Rating.stories.tsx
  packages/sdds-netology/src/components/Rating/Rating.stories.tsx
  packages/sdds-platform-ai/src/components/Rating/Rating.stories.tsx
  packages/sdds-sbcom/src/components/Rating/Rating.stories.tsx
  packages/sdds-scan/src/components/Rating/Rating.stories.tsx
  packages/sdds-serv/src/components/Rating/Rating.stories.tsx
  utils/plasma-sb-utils/src/components/Rating/Rating.tsx
  utils/plasma-sb-utils/src/components/Rating/fixtures.ts
  utils/plasma-sb-utils/src/components/Rating/index.ts
  utils/plasma-sb-utils/src/components/Rating/meta.ts
  utils/plasma-sb-utils/src/components/Rating/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(sbcom): removed not allowed
  packages/sdds-sbcom/src/components/Button/Button.config.ts
  packages/sdds-sbcom/src/components/Checkbox/Checkbox.config.ts
  packages/sdds-sbcom/src/components/Chip/Chip.config.tsx
  packages/sdds-sbcom/src/components/IconButton/IconButton.config.ts
  packages/sdds-sbcom/src/components/Radiobox/Radiobox.config.ts
  packages/sdds-sbcom/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ProfilePinOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/ProfilePinOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ProfilePinOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ProfilePinOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ProfilePinFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/ProfilePinFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ProfilePinFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ProfilePinFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ScreenSharePinOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/ScreenSharePinOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ScreenSharePinOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ScreenSharePinOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ScreenSharePinFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/ScreenSharePinFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ScreenSharePinFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ScreenSharePinFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ScreenShareUnpinOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/ScreenShareUnpinOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ScreenShareUnpinOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ScreenShareUnpinOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `ScreenShareUnpinFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/ScreenShareUnpinFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/ScreenShareUnpinFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ScreenShareUnpinFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `TranslateOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/TranslateOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/TranslateOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/TranslateOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `TranslateFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/TranslateFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/TranslateFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/TranslateFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): fix conditional render in Note
  packages/plasma-new-hope/src/components/Note/Note.component-test.tsx
  packages/plasma-new-hope/src/components/Note/Note.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add custom contentRight example for Accordion
  packages/plasma-new-hope/src/components/Accordion/Accordion.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Accordion.mdx
  website/plasma-giga-docs/docs/components/Accordion.mdx
  website/plasma-homeds-docs/docs/components/Accordion.mdx
  website/plasma-web-docs/docs/components/Accordion.mdx
  website/sdds-bizcom-docs/docs/components/Accordion.mdx
  website/sdds-cs-docs/docs/components/Accordion.mdx
  website/sdds-dfa-docs/docs/components/Accordion.mdx
  website/sdds-finai-docs/docs/components/Accordion.mdx
  website/sdds-insol-docs/docs/components/Accordion.mdx
  website/sdds-netology-docs/docs/components/Accordion.mdx
  website/sdds-platform-ai-docs/docs/components/Accordion.mdx
  website/sdds-sbcom-docs/docs/components/Accordion.mdx
  website/sdds-scan-docs/docs/components/Accordion.mdx
  website/sdds-serv-docs/docs/components/Accordion.mdx
Due: none

feat(sdds_insol_next): update theme
  packages/themes/sdds-themes/src/css/sdds_insol_next.module.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__dark.css
  packages/themes/sdds-themes/src/css/sdds_insol_next__light.css
  packages/themes/sdds-themes/src/themes/sdds_insol_next__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_insol_next__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_insol_next/index.ts
Due: eslint --fix, prettier --write

fix(iconButton): fix outline config
  packages/sdds-insol/src/components/IconButton/IconButton.outline.config.ts
Due: eslint --fix, prettier --write

fix(iconButton): use `--text-primary` token for secondary view [outline]
  packages/sdds-insol/src/components/IconButton/IconButton.outline.config.ts
Due: eslint --fix, prettier --write
