Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

docs: update TextArea docs
  packages/plasma-new-hope/src/components/TextArea/TextArea.template-doc.mdx
  website/plasma-b2c-docs/docs/components/TextArea.mdx
  website/plasma-giga-docs/docs/components/TextArea.mdx
  website/plasma-web-docs/docs/components/TextArea.mdx
  website/sdds-crm-docs/docs/components/TextArea.mdx
  website/sdds-cs-docs/docs/components/TextArea.mdx
  website/sdds-dfa-docs/docs/components/TextArea.mdx
  website/sdds-finai-docs/docs/components/TextArea.mdx
  website/sdds-insol-docs/docs/components/TextArea.mdx
  website/sdds-netology-docs/docs/components/TextArea.mdx
  website/sdds-platform-ai-docs/docs/components/TextArea.mdx
  website/sdds-scan-docs/docs/components/TextArea.mdx
  website/sdds-serv-docs/docs/components/TextArea.mdx
Due: none

feat(plasma-new-hope): add TextArea clear appearance
  packages/plasma-new-hope/src/components/TextArea/TextArea.styles.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tokens.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
  packages/plasma-new-hope/src/components/TextArea/hooks/useAutoResize.ts
  packages/plasma-new-hope/src/components/TextArea/variations/_clear/base.ts
  packages/plasma-new-hope/src/components/TextArea/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/TextArea/variations/_read-only/base.ts
  packages/plasma-new-hope/src/components/TextArea/variations/_size/base.ts
  packages/plasma-new-hope/src/components/TextArea/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/components/TextArea/TextArea.clear.config.ts
  packages/plasma-new-hope/src/examples/components/TextArea/TextArea.stories.tsx
  packages/plasma-new-hope/src/examples/components/TextArea/TextArea.ts
Due: eslint --fix, prettier --write, stylelint

feat: refactor TextArea stories
  utils/plasma-sb-utils/src/components/TextArea/TextArea.tsx
  utils/plasma-sb-utils/src/components/TextArea/fixtures.ts
  utils/plasma-sb-utils/src/components/TextArea/index.ts
  utils/plasma-sb-utils/src/components/TextArea/meta.ts
  utils/plasma-sb-utils/src/components/TextArea/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(sdds-*): add TextArea clear appearance and refactor stories
  packages/sdds-bizcom/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-bizcom/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-bizcom/src/components/TextArea/TextArea.tsx
  packages/sdds-crm/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-crm/src/components/TextArea/TextArea.config.ts
  packages/sdds-crm/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-crm/src/components/TextArea/TextArea.tsx
  packages/sdds-cs/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-cs/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-cs/src/components/TextArea/TextArea.tsx
  packages/sdds-cs/src/components/TextArea/TextArea.update-test.component-test.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-dfa/src/components/TextArea/TextArea.config.ts
  packages/sdds-dfa/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-dfa/src/components/TextArea/TextArea.tsx
  packages/sdds-finai/src/components/TextArea/TextArea.config.ts
  packages/sdds-finai/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-insol/src/components/TextArea/TextArea.config.ts
  packages/sdds-insol/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.tsx
  packages/sdds-insol/src/components/TextArea/TextArea.update-test.component-test.tsx
  packages/sdds-netology/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-netology/src/components/TextArea/TextArea.config.ts
  packages/sdds-netology/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-netology/src/components/TextArea/TextArea.tsx
  packages/sdds-platform-ai/src/components/TextArea/TextArea.config.ts
  packages/sdds-sber-os/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-sber-os/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-sber-os/src/components/TextArea/TextArea.tsx
  packages/sdds-scan/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-scan/src/components/TextArea/TextArea.config.ts
  packages/sdds-scan/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-scan/src/components/TextArea/TextArea.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-serv/src/components/TextArea/TextArea.config.ts
  packages/sdds-serv/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-serv/src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint

fix: fix helper width cycle recount
  packages/plasma-new-hope/src/components/TextArea/TextArea.styles.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-*): add clear for TextArea and update stories
  packages/plasma-b2c/src/components/TextArea/TextArea.Resize.component-test.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.clear.config.ts
  packages/plasma-b2c/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.config.ts
  packages/plasma-b2c/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.update-test.component-test.tsx
  packages/plasma-giga/src/components/TextArea/TextArea.clear.config.ts
  packages/plasma-giga/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-giga/src/components/TextArea/TextArea.tsx
  packages/plasma-giga/src/components/TextArea/TextArea.update-test.component-test.tsx
  packages/plasma-web/src/components/TextArea/TextArea.Resize.component-test.tsx
  packages/plasma-web/src/components/TextArea/TextArea.clear.config.ts
  packages/plasma-web/src/components/TextArea/TextArea.component-test.tsx
  packages/plasma-web/src/components/TextArea/TextArea.config.ts
  packages/plasma-web/src/components/TextArea/TextArea.stories.tsx
  packages/plasma-web/src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-giga/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-bizcom/package.json
  packages/sdds-crm/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finai/package.json
  packages/sdds-insol/package.json
  packages/sdds-netology/package.json
  packages/sdds-platform-ai/package.json
  packages/sdds-sber-os/package.json
  packages/sdds-scan/package.json
  packages/sdds-serv/package.json
  packages/themes/plasma-themes/package.json
  packages/themes/sdds-themes/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-crm-docs/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-finai-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-netology-docs/package.json
  website/sdds-platform-ai-docs/package.json
  website/sdds-scan-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

chore: update package-lock.json [no ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-bizcom/package-lock.json
  packages/sdds-crm/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finai/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-netology/package-lock.json
  packages/sdds-platform-ai/package-lock.json
  packages/sdds-sber-os/package-lock.json
  packages/sdds-scan/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/plasma-themes/package-lock.json
  packages/themes/sdds-themes/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-sb-utils/package-lock.json
  website/plasma-b2c-docs/package-lock.json
  website/plasma-giga-docs/package-lock.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-web-docs/package-lock.json
  website/plasma-website/package-lock.json
  website/sdds-crm-docs/package-lock.json
  website/sdds-cs-docs/package-lock.json
  website/sdds-dfa-docs/package-lock.json
  website/sdds-finai-docs/package-lock.json
  website/sdds-insol-docs/package-lock.json
  website/sdds-netology-docs/package-lock.json
  website/sdds-platform-ai-docs/package-lock.json
  website/sdds-scan-docs/package-lock.json
  website/sdds-serv-docs/package-lock.json
Due: prettier --write --parser json

chore: update package name in .github
  .github/config-ci.json
  .github/meta-prod.js
  .github/meta.js
Due: eslint --fix, prettier --write, prettier --write --parser json

docs: add SDDS Sber OS storybook to website
  website/plasma-website/getPackageInfo.js
  website/plasma-website/hooks/useMergedAllPlatformsData.ts
  website/plasma-website/utils/constants.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/sdds-os/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: fix typo
  packages/sdds-os/README.md
Due: prettier --write --parser markdown

feat: update package-lock.json
  packages/sdds-os/package-lock.json
  website/plasma-website/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add fixed height to text containing node for Safari/Firefox
  packages/plasma-new-hope/src/components/TextField/variations/_size/base.ts
Due: eslint --fix, prettier --write

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-crm.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-os.json
  website/plasma-website/public/data/sdds-platform-ai.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser json

feat(*): add ram limit
  cypress.config.ts
  cypress/plugins/index.ts
  cypress/webpack.config.ts
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(plasma-new-hope): add File component
  packages/plasma-new-hope/src/components/File/File.styles.ts
  packages/plasma-new-hope/src/components/File/File.tokens.ts
  packages/plasma-new-hope/src/components/File/File.tsx
  packages/plasma-new-hope/src/components/File/File.types.ts
  packages/plasma-new-hope/src/components/File/index.ts
  packages/plasma-new-hope/src/components/File/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/File/variations/_size/base.ts
  packages/plasma-new-hope/src/components/File/variations/_view/base.ts
  packages/plasma-new-hope/src/components/_Icon/Icon.assets/Download.tsx
  packages/plasma-new-hope/src/components/_Icon/Icons/IconDownload.tsx
  packages/plasma-new-hope/src/components/_Icon/index.tsx
  packages/plasma-new-hope/src/examples/components/File/File.config.ts
  packages/plasma-new-hope/src/examples/components/File/File.stories.tsx
  packages/plasma-new-hope/src/examples/components/File/File.ts
Due: eslint --fix, prettier --write, stylelint

feat: update TextField-like snapshots
  cypress/snapshots/b2c/Autocomplete/plasma-b2c Autocomplete -- prop optional.snap.png
  cypress/snapshots/b2c/Autocomplete/plasma-b2c Autocomplete -- prop required, requiredPlacement.snap.png
  cypress/snapshots/b2c/Combobox/plasma-b2c Combobox -- common size xs.snap.png
  cypress/snapshots/b2c/Range/plasma-b2c Range -- [PLASMA-] Range appearance=clear, firstValueError, secondValueError.snap.png
  cypress/snapshots/b2c/Range/plasma-b2c Range -- [PLASMA-] Range appearance=clear, firstValueSuccess, secondValueSuccess.snap.png
  cypress/snapshots/b2c/Range/plasma-b2c Range -- [PLASMA-] Range appearance=clear, hasClearDivider.snap.png
  cypress/snapshots/b2c/Range/plasma-b2c Range -- _size.snap.png
  cypress/snapshots/b2c/TextField/empty.snap.png
  cypress/snapshots/cs/Autocomplete/sdds-cs Autocomplete -- prop optional.snap.png
  cypress/snapshots/cs/Autocomplete/sdds-cs Autocomplete -- prop required, requiredPlacement.snap.png
  cypress/snapshots/cs/Combobox/sdds-cs Combobox -- common size s.snap.png
  cypress/snapshots/cs/Combobox/sdds-cs Combobox -- prop isTargetAmount.snap.png
  cypress/snapshots/cs/Combobox/sdds-cs Combobox -- prop item disabled.snap.png
  cypress/snapshots/cs/Combobox/sdds-cs Combobox -- prop optional.snap.png
  cypress/snapshots/cs/Combobox/sdds-cs Combobox -- prop renderItem.snap.png
  cypress/snapshots/cs/Combobox/sdds-cs Combobox -- prop required, requiredPlacement.snap.png
  cypress/snapshots/cs/Range/sdds-cs Range -- [PLASMA-T1535] Range firstValueError, secondValueSuccess.snap.png
  cypress/snapshots/cs/Range/sdds-cs Range -- [PLASMA-T1536] Range firstValueSuccess, secondValueError.snap.png
  cypress/snapshots/cs/Select/sdds-cs Select -- behavior nesting lists within scroll.snap.png
  cypress/snapshots/cs/Select/sdds-cs Select -- behaviour isTargetAmount.snap.png
  cypress/snapshots/cs/Select/sdds-cs Select -- prop optional.snap.png
  cypress/snapshots/cs/Select/sdds-cs Select -- prop required, requiredPlacement.snap.png
  cypress/snapshots/giga/Autocomplete/plasma-giga Autocomplete -- prop optional.snap.png
  cypress/snapshots/giga/Autocomplete/plasma-giga Autocomplete -- prop required, requiredPlacement.snap.png
  cypress/snapshots/giga/Combobox/plasma-giga Combobox -- common size xs.snap.png
  cypress/snapshots/giga/Range/plasma-giga Range -- [PLASMA-] Range appearance=clear, firstValueError, secondValueError.snap.png
  cypress/snapshots/giga/Range/plasma-giga Range -- [PLASMA-] Range appearance=clear, firstValueSuccess, secondValueSuccess.snap.png
  cypress/snapshots/giga/Range/plasma-giga Range -- [PLASMA-] Range appearance=clear, hasClearDivider.snap.png
  cypress/snapshots/insol/Combobox/sdds-insol Combobox -- common size xs.snap.png
  cypress/snapshots/insol/Combobox/sdds-insol Combobox -- prop required, requiredPlacement.snap.png
  cypress/snapshots/insol/Select/sdds-insol Select -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/Autocomplete/plasma-web Autocomplete -- prop optional.snap.png
  cypress/snapshots/web/Autocomplete/plasma-web Autocomplete -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/Combobox/plasma-web Combobox -- common size xs.snap.png
  cypress/snapshots/web/Range/plasma-web Range -- _size.snap.png
  cypress/snapshots/web/TextField/empty.snap.png
Due: none

feat(*): TextFieldGroup snapshots
  cypress/snapshots/b2c/TextFieldGroup/plasma-b2c TextFieldGroup -- _orientation single text field.snap.png
  cypress/snapshots/b2c/TextFieldGroup/plasma-b2c TextFieldGroup -- _orientation stretching - filled.snap.png
  cypress/snapshots/b2c/TextFieldGroup/plasma-b2c TextFieldGroup -- _orientation.snap.png
  cypress/snapshots/b2c/TextFieldGroup/plasma-b2c TextFieldGroup -- _shape.snap.png
  cypress/snapshots/b2c/TextFieldGroup/plasma-b2c TextFieldGroup -- _size.snap.png
  cypress/snapshots/b2c/TextFieldGroup/plasma-b2c TextFieldGroup -- custom text fields.snap.png
  cypress/snapshots/giga/TextFieldGroup/plasma-giga TextFieldGroup -- _orientation single text field.snap.png
  cypress/snapshots/giga/TextFieldGroup/plasma-giga TextFieldGroup -- _orientation stretching - filled.snap.png
  cypress/snapshots/giga/TextFieldGroup/plasma-giga TextFieldGroup -- _orientation.snap.png
  cypress/snapshots/giga/TextFieldGroup/plasma-giga TextFieldGroup -- _shape.snap.png
  cypress/snapshots/giga/TextFieldGroup/plasma-giga TextFieldGroup -- _size.snap.png
  cypress/snapshots/giga/TextFieldGroup/plasma-giga TextFieldGroup -- custom text fields.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _orientation single text field.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _orientation stretching - filled.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _orientation.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _shape.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- _size.snap.png
  cypress/snapshots/insol/TextFieldGroup/sdds-insol TextFieldGroup -- custom text fields.snap.png
  cypress/snapshots/web/TextFieldGroup/plasma-web TextFieldGroup -- _orientation single text field.snap.png
  cypress/snapshots/web/TextFieldGroup/plasma-web TextFieldGroup -- _orientation stretching - filled.snap.png
  cypress/snapshots/web/TextFieldGroup/plasma-web TextFieldGroup -- _orientation.snap.png
  cypress/snapshots/web/TextFieldGroup/plasma-web TextFieldGroup -- _shape.snap.png
  cypress/snapshots/web/TextFieldGroup/plasma-web TextFieldGroup -- _size.snap.png
  cypress/snapshots/web/TextFieldGroup/plasma-web TextFieldGroup -- custom text fields.snap.png
  packages/plasma-b2c/src/components/TextFieldGroup/TextFieldGroup.component-test.tsx
  packages/plasma-giga/src/components/TextFieldGroup/TextFieldGroup.component-test.tsx
  packages/plasma-web/src/components/TextFieldGroup/TextFieldGroup.component-test.tsx
  packages/sdds-insol/src/components/TextFieldGroup/TextFieldGroup.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): update cypress config
  cypress/plugins/index.ts
  cypress/support/e2e.ts
  cypress/support/index.d.ts
  cypress/support/index.ts
  cypress/vite.config.ts
  cypress/webpack.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(*): webpack_cache_enabled env
  .github/workflows/cypress-common.yml
  cypress/vite.config.ts
  cypress/webpack.config.ts
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(*): removed SPEC_GROUP
  cypress.config.ts
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(*): Accordion snapshots
  cypress/snapshots/b2c/Accordion/plasma-b2c Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/b2c/Accordion/plasma-b2c Accordion -- [PLASMA-T1709] Accordion size=m, view=secondary, stretching=fixed, type=sign, alignWithTitle.snap.png
  cypress/snapshots/b2c/Accordion/plasma-b2c Accordion -- [PLASMA-T1710] Accordion size=s, view=clear, type=clear.snap.png
  cypress/snapshots/b2c/Accordion/plasma-b2c Accordion -- [PLASMA-T1711] Accordion size=xs, view=outlined.snap.png
  cypress/snapshots/b2c/Accordion/plasma-b2c Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
  cypress/snapshots/b2c/Accordion/plasma-web Accordion -- _type.snap.png
  cypress/snapshots/b2c/Accordion/plasma-web Accordion -- _viewclear.snap.png
  cypress/snapshots/b2c/Accordion/plasma-web Accordion -- animation.snap.png
  cypress/snapshots/b2c/Accordion/plasma-web Accordion -- simple.snap.png
  cypress/snapshots/cs/Accordion/sdds-cs Accordion -- [PLASMA-T1708] Accordion view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/cs/Accordion/sdds-cs Accordion -- [PLASMA-T1709] Accordion view=secondary, stretching=fixed, type=sign, alignWithTitle.snap.png
  cypress/snapshots/cs/Accordion/sdds-cs Accordion -- [PLASMA-T1710] Accordion size=s, view=clear, type=clear.snap.png
  cypress/snapshots/cs/Accordion/sdds-cs Accordion -- [PLASMA-T1711] Accordion view=outlined.snap.png
  cypress/snapshots/cs/Accordion/sdds-cs Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
  cypress/snapshots/giga/Accordion/plasma-giga Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/giga/Accordion/plasma-giga Accordion -- [PLASMA-T1709] Accordion size=m, view=secondary, stretching=fixed, type=sign, alignWithTitle.snap.png
  cypress/snapshots/giga/Accordion/plasma-giga Accordion -- [PLASMA-T1710] Accordion size=s, view=clear, type=clear.snap.png
  cypress/snapshots/giga/Accordion/plasma-giga Accordion -- [PLASMA-T1711] Accordion size=xs, view=outlined.snap.png
  cypress/snapshots/giga/Accordion/plasma-giga Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1708] Accordion size=l, view=default, stretching=filled, type=arrow.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1709] Accordion size=m, view=secondary, stretching=fixed, type=sign, alignWithTitle.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1710] Accordion size=s, view=clear, type=clear.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1711] Accordion size=xs, view=outlined.snap.png
  cypress/snapshots/insol/Accordion/sdds-insol Accordion -- [PLASMA-T1712] Accordion disabled.snap.png
  cypress/snapshots/web/Accordion/plasma-web Accordion -- _type.snap.png
  cypress/snapshots/web/Accordion/plasma-web Accordion -- _viewclear.snap.png
  cypress/snapshots/web/Accordion/plasma-web Accordion -- animation.snap.png
  cypress/snapshots/web/Accordion/plasma-web Accordion -- simple.snap.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
