Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

ci: extend categories for changelog [no ci]
  .github/changelog-builder-config.json
Due: prettier --write --parser json

ci: processing changelog [no ci]
  .github/changelog-builder-config.json
Due: prettier --write --parser json

ci: processing changelog 2 [no ci]
  .github/actions/write-changelog/action.yml
  .github/actions/write-changelog/groupHeadingsByDeep.js
  .github/actions/write-changelog/index.js
  .github/changelog-builder-config.json
  .github/workflows/publish-common.yml
  .github/workflows/publish-latest.yml
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: test
  packages/plasma-new-hope/package.json
  packages/sdds-cs/package.json
Due: prettier --write --parser json

ci: refactoring deploy prod 2 [no ci]
  .github/workflows/documentation-deploy-demo-stage-draft.yml
  .github/workflows/documentation-deploy-prod-draft.yml
Due: none

ci: add max_old_space_size deploy prod 2 [no ci]
  .github/workflows/documentation-deploy-prod.yml
Due: none

ci: processing changelog [no ci]
  .github/actions/processing-release-changelog/package-lock.json
  .github/workflows/create-release-pr.yml
Due: prettier --write --parser json

ci: refactoring deploy prod 2 [no ci]
  .github/workflows/documentation-deploy-common.yml
  .github/workflows/documentation-deploy-prod-draft.yml
Due: none

ci: refactoring deploy pr as draft [no ci]
  .github/actions/draft-components/action.yml
  .github/workflows/documentation-deploy-pr.yml
Due: none

feat(plasma-icons): add icons dots [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/DotsVerticalCenteredOutline.svg
Due: none

ci: refactoring deploy pr as draft [no ci]
  .github/actions/draft-components/action.yml
Due: none

feat(plasma-icons): add icons dots [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/DotsVerticalCenteredOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

ci: refactoring deploy prod 2 [no ci]
  .github/meta-prod.js
Due: eslint --fix, prettier --write

feat(plasma-icons): add icons files [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankVisibilityOffFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankVisibilityOffOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankVisibilityOnFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/BlankVisibilityOnOutline.svg
Due: none

fix(plasma-new-hope): Change background-color property to background for `Button`
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
  packages/plasma-new-hope/src/components/Button/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/Button/variations/_view/base.ts
Due: eslint --fix, prettier --write

feat(plasma-icons): add icons document inquirer [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/DocumentInquirerFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/DocumentInquirerOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

ci: Labelling wip [no ci]
  .github/workflows/labelling-when-code-review-completed.yml
Due: none

feat(plasma-icons): add icons Tree [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/Tree.svg
Due: none

feat(plasma-icons): add icons History [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/History.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): datepicker add more tokens
  packages/plasma-b2c/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/mixins/selected.ts
  packages/plasma-new-hope/src/components/Calendar/ui/DateStructureItem/DateStructureItem.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(new-hope): add new tokens to dropdown
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.styles.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tokens.ts
  packages/sdds-cs/src/components/Dropdown/Dropdown.config.ts
Due: eslint --fix, prettier --write

feat(plasma-icons): add icons Star [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/StarHalfFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): add icons Operation Write [16x16]
  packages/plasma-icons/src/scalable/Icon.svg.16/Header1.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header2.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header3.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header4.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Header5.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/SuperscriptText.svg
  packages/plasma-icons/src/scalable/Icon.svg.16/Variable.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

fix(plasma-tokens): Update `sdds_insol` theme
  packages/plasma-tokens/data/themes/sdds_insol.json
  packages/plasma-tokens/src/brands/sdds_insol/index.ts
  packages/plasma-tokens/src/themes/sdds_insol__dark.ts
  packages/plasma-tokens/src/themes/sdds_insol__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

ci: refactoring deploy prod 2 [no ci]
  .github/workflows/documentation-deploy-common.yml
Due: none

feat(plasma-icons): add icons History [24x24]
  packages/plasma-icons/src/scalable/Icon.svg.24/History.svg
Due: none

ci: disabled [no ci]
  .github/workflows/cypress.yml
  .github/workflows/documentation-deploy-pr.yml
  .github/workflows/publish-canary.yml
Due: none

feat(plasma-icons): add icons document inquirer [36x36]
  packages/plasma-icons/src/scalable/Icon.svg.36/DocumentInquirerFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/DocumentInquirerOutline.svg
Due: none

feat(*): add tokens to all libs in dropdown
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-b2c/src/components/Dropdown/Dropdown.config.ts
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/Combobox.tokens.ts
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.tokens.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Dropdown/Dropdown.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Dropdown/Dropdown.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/Dropdown/Dropdown.config.ts
Due: eslint --fix, prettier --write

Revert "Update versions"
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Revert "fix(sdds-cs): edit story in range"
  packages/sdds-cs/src/components/Range/Range.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Revert "feat(plasma-icons): add icons Operation Write [24x24]"
  packages/plasma-icons/src/scalable/Icon.svg.24/Header1.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header2.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header3.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header4.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Header5.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SuperscriptText.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/Variable.svg
Due: none

Revert "ci: processing changelog [no ci]"
  .github/workflows/create-release-pr.yml
Due: none

Revert "ci: Labelling wip [no ci]"
  .github/workflows/labelling-when-code-review-completed.yml
Due: none

Revert "feat(plasma-icons): add icons arrow diagonal [36x36]"
  packages/plasma-icons/src/scalable/Icon.svg.36/ArrowDiagLeftUp.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/ArrowDiagRightDown.svg
Due: none

Revert "fix(new-hope): add new tokens to calendar and datepicker"
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.styles.ts
  packages/plasma-new-hope/src/components/Calendar/ui/CalendarHeader/CalendarHeader.tsx
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
