Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(giga): update theme [PLASMA-6980]
  packages/themes/plasma-themes/src/css/plasma_giga.module.css
  packages/themes/plasma-themes/src/css/plasma_giga__dark.css
  packages/themes/plasma-themes/src/css/plasma_giga__light.css
  packages/themes/plasma-themes/src/themes/plasma_giga__dark.ts
  packages/themes/plasma-themes/src/themes/plasma_giga__light.ts
Due: eslint --fix, prettier --write

fix: update sdds_platform_ai [PLASMA-7246]
  packages/plasma-tokens/data/themes/sdds_platform_ai.json
  packages/plasma-tokens/src/brands/sdds_platform_ai/index.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__dark.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__light.ts
  packages/themes/sdds-themes/src/css/sdds_platform_ai.module.css
  packages/themes/sdds-themes/src/css/sdds_platform_ai__dark.css
  packages/themes/sdds-themes/src/css/sdds_platform_ai__light.css
  packages/themes/sdds-themes/src/themes/sdds_platform_ai__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_platform_ai__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_platform_ai/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

test(platform-ai): fix screenshots
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- behavior nesting lists within scroll.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop afterList.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop beforeList in items.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop beforeList.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop listWidth.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop nested dropdown placement.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop offset.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop placement, alwaysOpened.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop placement.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- prop variant, trigger.snap.png
  cypress/snapshots/platform-ai/chromium/Dropdown/Dropdown -- size=m.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- behavior nesting lists within scroll.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop afterList.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop beforeList in items.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop beforeList.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop listWidth.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop nested dropdown placement.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop offset.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop placement, alwaysOpened.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop placement.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- prop variant, trigger.snap.png
  cypress/snapshots/platform-ai/webkit/Dropdown/Dropdown -- size=m.snap.png
Due: none

feat: update Steps snaps
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- Steps vertical, isLoading.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- _disabled.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- _hasLine.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- with title current.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- with title hasContent.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- with title, bullets current.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- with title, bullets.snap.png
  cypress/snapshots/platform-ai/chromium/Steps/Steps -- vertical -- with title.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- Steps vertical, isLoading.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- _disabled.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- _hasLine.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- item stretch to max width.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- with title current.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- with title hasContent.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- with title, bullets current.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- with title, bullets.snap.png
  cypress/snapshots/platform-ai/webkit/Steps/Steps -- vertical -- with title.snap.png
Due: none

test(core): restore plasma-hope tests and add insol screenshots
  cypress/snapshots/insol/chromium/Dropdown/Dropdown -- size=l.snap.png
  cypress/snapshots/insol/chromium/Dropdown/Dropdown -- size=m.snap.png
  cypress/snapshots/insol/chromium/Dropdown/Dropdown -- size=s.snap.png
  cypress/snapshots/insol/chromium/Dropdown/Dropdown -- size=xl.snap.png
  cypress/snapshots/insol/chromium/Dropdown/Dropdown -- size=xs.snap.png
  packages/plasma-hope/src/components/Dropdown/Dropdown.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `SbboomError`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbboomError.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbboomError.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbboomError.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `SbboomMiniCastOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbboomMiniCastOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbboomMiniCastOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbboomMiniCastOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `SbboomCast` [PLASMA-6620]
  packages/plasma-icons/src/scalable/Icon.svg.16/SbboomCast.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbboomCast.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbboomCast.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `SbboomMiniErrorFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbboomMiniErrorFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbboomMiniErrorFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbboomMiniErrorFill.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `SbboomMiniErrorOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbboomMiniErrorOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbboomMiniErrorOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbboomMiniErrorOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add icon `SbboxTopOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbboxTopOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbboxTopOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbboxTopOutline.svg
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

fix: handle duplicate icons name [PLASMA-6620]
  packages/plasma-icons/scripts/generateReactComponents.ts
  packages/plasma-icons/src/scalable/Icon.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sbcom): fix config [Modal]
  packages/sdds-sbcom/src/components/Modal/Modal.config.ts
Due: eslint --fix, prettier --write

feat(plasma-icons): Add icon `SbBoomCast`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbBoomCast.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbBoomCast.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbBoomCast.svg
Due: none

feat(plasma-icons): Add icon `SbBoomError`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbBoomError.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbBoomError.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbBoomError.svg
Due: none

feat(plasma-icons): Add icon `SbBoomMiniCastOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbBoomMiniCastOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbBoomMiniCastOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbBoomMiniCastOutline.svg
Due: none

feat(plasma-icons): Add icon `SbBoomMiniErrorFill`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbBoomMiniErrorFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbBoomMiniErrorFill.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbBoomMiniErrorFill.svg
Due: none

feat(plasma-icons): Add icon `SbBoomMiniErrorOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbBoomMiniErrorOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbBoomMiniErrorOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbBoomMiniErrorOutline.svg
Due: none

feat(plasma-icons): Add icon `SbboxTopOutline`
  packages/plasma-icons/src/scalable/Icon.svg.16/SbBoxTopOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.24/SbBoxTopOutline.svg
  packages/plasma-icons/src/scalable/Icon.svg.36/SbBoxTopOutline.svg
Due: none

fix: handle duplicate icons name [PLASMA-6620]
  packages/plasma-icons/scripts/generateReactComponents.ts
Due: eslint --fix, prettier --write

chore(platform-ai): update screenshots
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- disabled.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- labelPlacement.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- optional.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- requiredIndicatorPlacement.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- view=default, size=m.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- view=negative.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- view=positive.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- view=warning.snap.png
  cypress/snapshots/platform-ai/chromium/InformationWrapper/InformationWrapper -- withoutLabel.snap.png
  cypress/snapshots/platform-ai/chromium/Select/Select -- chipView=accent multiselect.snap.png
  cypress/snapshots/platform-ai/chromium/Select/Select -- chipView=default multiselect.snap.png
  cypress/snapshots/platform-ai/chromium/TimePicker/TimePicker -- input time.snap.png
Due: none

chore(platform-ai): update screenshots [webkit] [no ci]
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- disabled.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- labelPlacement.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- optional.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- requiredIndicatorPlacement.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- view=default, size=m.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- view=negative.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- view=positive.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- view=warning.snap.png
  cypress/snapshots/platform-ai/webkit/InformationWrapper/InformationWrapper -- withoutLabel.snap.png
  cypress/snapshots/platform-ai/webkit/Slider/Slider -- focus.snap.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
