Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore(sdds-insol): Update API report
  packages/sdds-insol/api/sdds-insol.api.md
Due: prettier --write --parser markdown

docs: generate new api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

feat(plasma-*): update tests and configs for Badge
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-] Badge customBackroundColor, customColor.snap.png
  cypress/snapshots/b2c/components/Badge/Badge.update-test.component-test.tsx/plasma-b2c Badge -- [PLASMA-] Badge icon only.snap.png
  cypress/snapshots/web/components/Badge/Badge.component-test.tsx/plasma-web Badge -- _view.snap.png
  cypress/snapshots/web/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- customBackroundColor, customColor.snap.png
  cypress/snapshots/web/components/Badge/BadgeBase.component-test.tsx/plasma-core Badge -- icon only.snap.png
  packages/plasma-b2c/src/components/Badge/Badge.config.ts
  packages/plasma-b2c/src/components/Badge/Badge.stories.tsx
  packages/plasma-b2c/src/components/Badge/Badge.update-test.component-test.tsx
  packages/plasma-core/src/components/Badge/Badge.component-test.tsx
  packages/plasma-web/src/components/Badge/Badge.config.ts
  packages/plasma-web/src/components/Badge/Badge.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): update Badge content slot logic
  packages/plasma-new-hope/src/components/Badge/Badge.tokens.ts
  packages/plasma-new-hope/src/components/Badge/Badge.tsx
  packages/plasma-new-hope/src/components/Badge/Badge.types.ts
  packages/plasma-new-hope/src/components/Badge/variations/_clear/base.ts
  packages/plasma-new-hope/src/components/Badge/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Badge/variations/_transparent/base.ts
  packages/plasma-new-hope/src/components/Badge/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Badge/Badge.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Badge/Badge.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Badge/Badge.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Badge/Badge.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: update Badge docs
  packages/plasma-new-hope/src/components/Badge/Badge.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Badge.mdx
  website/plasma-web-docs/docs/components/Badge.mdx
  website/sdds-cs-docs/docs/components/Badge.mdx
  website/sdds-dfa-docs/docs/components/Badge.mdx
  website/sdds-insol-docs/docs/components/Badge.mdx
  website/sdds-serv-docs/docs/components/Badge.mdx
Due: none

feat(sdds-*): update stories and configs for Badge
  packages/sdds-cs/src/components/Badge/Badge.config.ts
  packages/sdds-cs/src/components/Badge/Badge.stories.tsx
  packages/sdds-dfa/src/components/Badge/Badge.config.ts
  packages/sdds-dfa/src/components/Badge/Badge.stories.tsx
  packages/sdds-finportal/src/components/Badge/Badge.config.ts
  packages/sdds-finportal/src/components/Badge/Badge.stories.tsx
  packages/sdds-insol/src/components/Badge/Badge.config.ts
  packages/sdds-insol/src/components/Badge/Badge.stories.tsx
  packages/sdds-serv/src/components/Badge/Badge.config.ts
  packages/sdds-serv/src/components/Badge/Badge.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-*, sdds-*): Add required functionality
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-b2c Select -- prop optional.snap.png
  cypress/snapshots/b2c/components/Select/Select.component-test.tsx/plasma-b2c Select -- prop required, requiredPlacement.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- prop optional.snap.png
  cypress/snapshots/web/components/Select/Select.component-test.tsx/plasma-web Select -- prop required, requiredPlacement.snap.png
  packages/plasma-b2c/src/components/Select/Select.component-test.tsx
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.component-test.tsx
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/sdds-cs/src/components/Select/Select.config.ts
  packages/sdds-cs/src/components/Select/Select.stories.tsx
  packages/sdds-dfa/src/components/Select/Select.config.ts
  packages/sdds-dfa/src/components/Select/Select.stories.tsx
  packages/sdds-finportal/src/components/Select/Select.config.ts
  packages/sdds-finportal/src/components/Select/Select.stories.tsx
  packages/sdds-insol/src/components/Combobox/Combobox.config.ts
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

ci(deploy): handle build storybook draft component
  .github/workflows/documentation-deploy-pr.yml
Due: none

chore(finportal): add draft config [Badge]
  packages/sdds-finportal/src/components/Badge/Badge.config.draft.ts
  packages/sdds-finportal/src/components/Badge/Badge.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add infinite Notification
  packages/plasma-new-hope/src/components/Notification/Notification.template-doc.mdx
  packages/plasma-new-hope/src/components/Notification/NotificationsStore.ts
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
  website/plasma-b2c-docs/docs/components/Notification.mdx
  website/plasma-web-docs/docs/components/Notification.mdx
  website/sdds-cs-docs/docs/components/Notification.mdx
  website/sdds-dfa-docs/docs/components/Notification.mdx
  website/sdds-insol-docs/docs/components/Notification.mdx
  website/sdds-serv-docs/docs/components/Notification.mdx
Due: eslint --fix, prettier --write, stylelint

fix(sdds-cs): edit view negative in textarea sdds-cs
  packages/sdds-cs/src/components/TextArea/TextArea.config.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/sdds-cs/package.json
  website/sdds-cs-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-cs/package-lock.json
Due: prettier --write --parser json

fix(sdds-cs): segment config edit
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Segment/Segment.stories.tsx
  packages/sdds-cs/src/components/Segment/SegmentGroup.config.ts
  packages/sdds-cs/src/components/Segment/SegmentItem.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-icons): Add react-native icons generator
  packages/plasma-icons/.gitignore
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/scripts/generateReactNativeComponents.ts
  packages/plasma-icons/scripts/utils.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(sdds-insol): add switch to linaria build
  packages/sdds-insol/scripts/copy-linaria-components.sh
Due: none

feat(sdds-serv): add switch to linaria build
  packages/sdds-serv/scripts/copy-linaria-components.sh
Due: none

fix(sdds-cs): edit tokens calendar for sdds cs
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarDouble.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(*): add disabled opacity token in calendar
  packages/plasma-b2c/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-b2c/src/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/components/Calendar/Calendar.tokens.ts
  packages/plasma-new-hope/src/components/Calendar/ui/DateStructureItem/DateStructureItem.styles.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Calendar/CalendarDouble.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarBase.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Calendar/CalendarDouble.config.ts
  packages/plasma-web/src/components/Calendar/CalendarBase.config.ts
  packages/plasma-web/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-cs/src/components/Calendar/Calendar.stories.tsx
  packages/sdds-cs/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-cs/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-dfa/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-finportal/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-insol/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-insol/src/components/Calendar/CalendarDouble.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarBase.config.ts
  packages/sdds-serv/src/components/Calendar/CalendarDouble.config.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
