Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(sdds-scan): correct default to size
  packages/sdds-scan/src/components/Attach/Attach.config.ts
  packages/sdds-scan/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-scan/src/components/Note/Note.config.ts
  packages/sdds-scan/src/components/NumberInput/NumberInput.config.ts
  packages/sdds-scan/src/components/TextArea/TextArea.config.ts
Due: eslint --fix, prettier --write

feat: add insol snaps
  cypress/snapshots/insol/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/insol/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/insol/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/insol/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/insol/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/insol/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/insol/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/insol/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/insol/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/insol/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

feat: add giga snaps
  cypress/snapshots/giga/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/giga/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/giga/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/giga/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/giga/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/giga/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/giga/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/giga/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/giga/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/giga/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

feat(plasma-new-hope): update tests for webkit
  packages/plasma-new-hope/src/components/Calendar/Calendar.Range.component-test.tsx
  packages/plasma-new-hope/src/components/Calendar/Calendar.component-test.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add web snaps
  cypress/snapshots/web/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/web/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/web/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/web/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/web/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/web/webkit/Calendar/CalendarRange -- default.snap.png
Due: none

feat: add b2c snaps
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/b2c/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/b2c/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/b2c/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/b2c/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/b2c/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/b2c/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/b2c/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/b2c/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/b2c/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

feat: fix Autocomplete snaps
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- afterList.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- beforeList.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- disabled.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- flip.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- listMaxHeight.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- listWidth.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- optional.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- readOnly.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- renderItem.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- required, requiredPlacement.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=default, size=s.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=negative.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=positive, size=xs.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=warning.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- virtual dynamic height.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- virtual.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- afterList.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- beforeList.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- disabled.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- flip.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- listMaxHeight.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- listWidth.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- optional.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- readOnly.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- renderItem.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- required, requiredPlacement.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=default, size=s.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=negative.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=positive, size=xs.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=warning.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- virtual dynamic height.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- virtual.snap.png
Due: none

chore: remove chromeWebSecurity if running tests not in chrome
  cypress.config.ts
Due: eslint --fix, prettier --write

chore: add packages to cypress testing
  .github/config-ci.json
  cypress.config.ts
  package.json
  packages/plasma-homeds/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/plasma-homeds/src/components/Slider/Slider.component-test.tsx
  packages/sdds-finai/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/sdds-finai/src/components/Slider/Slider.component-test.tsx
  packages/sdds-scan/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/sdds-serv/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/sdds-serv/src/components/Image/Image.component-test.tsx
  packages/sdds-serv/src/components/Slider/Slider.component-test.tsx
  utils/plasma-cy-utils/lib/CypressDecorator.js
  utils/plasma-cy-utils/src/CypressDecorator.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat: add cs snaps
  cypress/snapshots/cs/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/cs/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/cs/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/cs/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/cs/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/cs/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

chore: webkit tests run improvement
  cypress.config.ts
  cypress/webpack.config.ts
Due: eslint --fix, prettier --write

feat(): config improved
  .claude/skills/api-test/SKILL.md
  .codex
  package-lock.json
  utils/api-tests/package-lock.json
  utils/api-tests/package.json
  utils/api-tests/script.mjs
  utils/api-tests/vitest.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat(): api-test architecture
  .eslintrc.js
  API-TESTS.md
  package.json
  utils/api-tests/.gitignore
  utils/api-tests/package-lock.json
  utils/api-tests/package.json
  utils/api-tests/script.mjs
  utils/api-tests/src/components/Button/Button.api.test.tsx
  utils/api-tests/src/components/Combobox/Combobox.api.test.tsx
  utils/api-tests/tsconfig.json
  utils/api-tests/vitest.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore(textField): add test
  utils/api-tests/script.mjs
  utils/api-tests/src/components/TextField/TextField.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add skill
  .claude/skills/api-test/SKILL.md
Due: prettier --write --parser markdown

chore(checkbox): add test
  utils/api-tests/src/components/Checkbox/Checkbox.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

fix(sdds-cs): fix build storybook
  packages/sdds-cs/.storybook/main.ts
Due: eslint --fix, prettier --write

feat: add test_all arg to release workflow
  .github/workflows/cypress-by-cron-every-day.yml
  .github/workflows/cypress-release-branch.yml
Due: none

feat: add packages in workflows
  .github/workflows/cypress-by-cron-every-day.yml
  .github/workflows/cypress-release-branch.yml
Due: none

feat: update flacky tests
  cypress/snapshots/finai/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/insol/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  packages/plasma-new-hope/src/components/Calendar/Calendar.component-test.tsx
  packages/plasma-web/src/components/Notification/Notification.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-finai): fix DateTimePicker flacky test
  cypress/snapshots/finai/chromium/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/finai/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/finai/webkit/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/finai/webkit/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  packages/plasma-new-hope/src/components/DateTimePicker/DateTimePicker.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: fix DateTimePicker flacky test
  cypress/snapshots/b2c/chromium/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/b2c/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/b2c/webkit/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/b2c/webkit/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/giga/chromium/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/giga/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/giga/webkit/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/giga/webkit/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/homeds/chromium/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/homeds/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/homeds/webkit/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/homeds/webkit/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/insol/chromium/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/insol/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/insol/webkit/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/insol/webkit/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/serv/chromium/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/serv/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/serv/webkit/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/serv/webkit/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/web/chromium/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/web/chromium/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
  cypress/snapshots/web/webkit/DateTimePicker/DateTimePicker -- controlled datepicker reset date.snap.png
  cypress/snapshots/web/webkit/DateTimePicker/DateTimePicker -- controlled datepicker set date.snap.png
Due: none

feat(release): fix maxBuffer issue
  patches/@auto-it+npm+11.1.1.patch
Due: none

ci: add "Create changelog data" workflow [no ci]
  .github/workflows/create-changelog-by-commit.yml
Due: none

chore: Update CHANGELOG.md [skip ci]
  website/plasma-website/public/data/plasma-asdk.json
  website/plasma-website/public/data/plasma-b2c.json
  website/plasma-website/public/data/plasma-giga.json
  website/plasma-website/public/data/plasma-homeds.json
  website/plasma-website/public/data/plasma-new-hope.json
  website/plasma-website/public/data/plasma-ui.json
  website/plasma-website/public/data/plasma-web.json
  website/plasma-website/public/data/sdds-bizcom.json
  website/plasma-website/public/data/sdds-cs.json
  website/plasma-website/public/data/sdds-dfa.json
  website/plasma-website/public/data/sdds-finai.json
  website/plasma-website/public/data/sdds-insol.json
  website/plasma-website/public/data/sdds-netology.json
  website/plasma-website/public/data/sdds-os.json
  website/plasma-website/public/data/sdds-platform-ai.json
  website/plasma-website/public/data/sdds-sbcom.json
  website/plasma-website/public/data/sdds-scan.json
  website/plasma-website/public/data/sdds-serv.json
Due: prettier --write --parser json

fix(sbcom): update "@salutejs-ds/sdds_sbcom"
  packages/sdds-sbcom/package-lock.json
  packages/sdds-sbcom/package.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
