Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

feat(plasma-b2c): add cypress snapshots
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery -- _caption.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery -- _isSelected.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery -- _status.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery -- custom item.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery -- simple draggable.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery -- simple selectable.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery -- with tooltip.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery utils -- drag first item to last.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery utils -- empty items list and incorrect id.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery utils -- remove last item.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-hope PreviewGallery utils -- select first item.snap.png
Due: none

fix(plasma-b2c): set correct import paths
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.stories.tsx
  packages/plasma-b2c/src/components/UploadVisual/UploadVisual.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): add "react-sortable-hoc"
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
Due: prettier --write --parser json

feat(plasma-b2c): delete unnecessary cypress snapshots
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- _caption.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- _isSelected.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- _status.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- custom item.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- simple draggable.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- simple selectable.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery -- with tooltip.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- drag first item to last.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- empty items list and incorrect id.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- remove last item.snap.png
  cypress/snapshots/b2c/components/PreviewGallery/PreviewGallery.component-test.tsx/plasma-b2c PreviewGallery utils -- select first item.snap.png
Due: none

feat(plasma-b2c): add cypress tests symlink
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export "PreviewGallery" component
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.component-test.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.stories.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemBase.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemError.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItemWithTooltip.tsx
  packages/plasma-b2c/src/components/PreviewGallery/PreviewGalleryItems.tsx
  packages/plasma-b2c/src/components/PreviewGallery/index.ts
  packages/plasma-b2c/src/components/PreviewGallery/types.ts
  packages/plasma-b2c/src/components/PreviewGallery/utils.test.ts
  packages/plasma-b2c/src/components/PreviewGallery/utils.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add cypress tests symlink
  packages/plasma-web/src/components/PreviewGallery/PreviewGallery.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add api reports after re-export PreviewGallery component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  reports/plasma-hope-diff.diff
Due: prettier --write --parser markdown

feat(plasma-web): re-export "PreviewGallery" component
  packages/plasma-web/src/components/PreviewGallery/PreviewGallery.stories.tsx
  packages/plasma-web/src/components/PreviewGallery/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): re-export slider component
  packages/plasma-ui/src/components/Slider/Double.tsx
  packages/plasma-ui/src/components/Slider/Handle.tsx
  packages/plasma-ui/src/components/Slider/Single.tsx
  packages/plasma-ui/src/components/Slider/Slider.component-test.tsx
  packages/plasma-ui/src/components/Slider/Slider.stories.tsx
  packages/plasma-ui/src/components/Slider/Slider.tsx
  packages/plasma-ui/src/components/Slider/SliderBase.tsx
  packages/plasma-ui/src/components/Slider/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): feat react-draggable
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
Due: prettier --write --parser json

feat(plasma-web): re-export slider component
  packages/plasma-web/src/components/Slider/Slider.stories.tsx
  packages/plasma-web/src/components/Slider/Slider.tsx
  packages/plasma-web/src/components/Slider/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): re-export slider component
  packages/plasma-b2c/src/components/Slider/Slider.stories.tsx
  packages/plasma-b2c/src/components/Slider/Slider.tsx
  packages/plasma-b2c/src/components/Slider/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-core): slider move to core
  packages/plasma-b2c/src/components/Slider/Slider.stories.tsx
  packages/plasma-b2c/src/components/Slider/index.ts
  packages/plasma-b2c/src/components/Slider/types.ts
  packages/plasma-core/src/components/Slider/Double.tsx
  packages/plasma-core/src/components/Slider/Handle.tsx
  packages/plasma-core/src/components/Slider/Single.tsx
  packages/plasma-core/src/components/Slider/Slider.component-test.tsx
  packages/plasma-core/src/components/Slider/Slider.tsx
  packages/plasma-core/src/components/Slider/SliderBase.tsx
  packages/plasma-core/src/components/Slider/ThumbBase.tsx
  packages/plasma-core/src/components/Slider/index.ts
  packages/plasma-core/src/components/Slider/types.ts
  packages/plasma-core/src/components/Slider/utils.ts
  packages/plasma-core/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add cypress tests symlink
  packages/plasma-web/src/components/Slider/Slider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): add cypress Slider snapshots
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- Keyboard support -- Double slider.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- _disabled.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default focus.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- double.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with double.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with single.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop without onChange.snap.png
  cypress/snapshots/web/components/Slider/Slider.component-test.tsx/plasma-core Slider -- with portal.snap.png
Due: none

feat(plasma-b2c): re-export SliderThumb from plasma-hope
  packages/plasma-b2c/src/components/Slider/Slider.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-hope): add SliderThumb
  packages/plasma-hope/src/components/Slider/Slider.tsx
  packages/plasma-hope/src/components/Slider/index.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): re-export SliderThumb from plasma-hope
  packages/plasma-web/src/components/Slider/Slider.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): add cypress tests symlink
  packages/plasma-b2c/src/components/Slider/Slider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-ui): add cypress test symlink
  packages/plasma-ui/src/components/Slider/Slider.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): delete unnecessary cypress snapshots
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- Keyboard support -- Double slider.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- _disabled.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- default focus.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- default.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- double.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- drag and drop with double.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- drag and drop with single.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- drag and drop without onChange.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-b2c Slider -- with portal.snap.png
Due: none

feat(plasma-b2c): add cypress snapshots
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- Keyboard support -- Double slider.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- _disabled.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default focus.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- double.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with double.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with single.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop without onChange.snap.png
  cypress/snapshots/b2c/components/Slider/Slider.component-test.tsx/plasma-core Slider -- with portal.snap.png
Due: none

feat(plasma-ui): add cypress snapshots
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- Keyboard support -- Double slider.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- _disabled.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default focus.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- default.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop with single.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- drag and drop without onChange.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-core Slider -- with portal.snap.png
Due: none

feat(plasma-ui): delete unnecessary cypress snapshots
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- _disabled.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- drag and drop with double.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- drag and drop with single.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- drag and drop without onChange.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- simple.snap.png
  cypress/snapshots/ui/components/Slider/Slider.component-test.tsx/plasma-ui Slider -- with portal.snap.png
Due: none

feat: add api reports after re-export Slider component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  reports/plasma-hope-diff.diff
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json
