Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat: Add color prop in Typography
  packages/plasma-new-hope/src/components/Typography/Typography.tsx
  packages/plasma-web/src/components/Typography/Typography.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Add color prop to Typography, code review fixes
  packages/caldera-online/api/caldera-online.api.md
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-new-hope/src/components/Typography/Old/Subtitle/Subtitle.tsx
  packages/plasma-new-hope/src/components/Typography/Old/TypographyOld.tsx
  packages/plasma-new-hope/src/components/Typography/Typography.tsx
  packages/plasma-new-hope/src/components/Typography/Typography.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat: Add color prop to Typography, fixes
  cypress/snapshots/web/components/Typography/Typography.component-test.tsx/plasma-web Typography -- with color.snap.png
  cypress/snapshots/web/components/Typography/TypographyBase.component-test.tsx/plasma-core Typography -- Typography with color.snap.png
  packages/caldera-online/src/components/Typography/Typography.stories.tsx
  packages/plasma-asdk/api/plasma-asdk.api.md
  packages/plasma-asdk/src/components/Typography/Typography.stories.tsx
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Typography/Typography.stories.tsx
  packages/plasma-core/src/components/Typography/Typography.component-test.tsx
  packages/plasma-new-hope/src/components/Typography/Old/Subtitle/Subtitle.tsx
  packages/plasma-new-hope/src/components/Typography/Old/TypographyOld.tsx
  packages/plasma-new-hope/src/components/Typography/Typography.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Typography/Typography.component-test.tsx
  packages/sdds-dfa/src/components/Typography/Typography.stories.tsx
  packages/sdds-serv/src/components/Typography/Typography.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/caldera-online/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/caldera-online-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

ci(create-release-pr): fix computed from tag [no ci]
  .github/workflows/create-release-pr.yml
Due: none

chore(plasma-docs): fixed Select docs
  packages/plasma-web/src/components/SelectNew/index.ts
  website/plasma-web-docs/docs/components/Autocomplete.mdx
  website/plasma-web-docs/docs/components/Select.mdx
  website/plasma-web-docs/docs/components/SelectNew.mdx
  website/sdds-dfa-docs/docs/components/Autocomplete.mdx
  website/sdds-dfa-docs/docs/components/Select.mdx
  website/sdds-serv-docs/docs/components/Autocomplete.mdx
  website/sdds-serv-docs/docs/components/Select.mdx
Due: eslint --fix, prettier --write

chore(plasma-web): update api-report
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/caldera-online/CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
  packages/themes/sdds-themes/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: Update package-lock.json files [skip ci]
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

fix(sdds-dfa): fix `surfaceTransparent` tokens
  packages/plasma-tokens/data/themes/sdds_dfa.json
Due: prettier --write --parser json

fix(sdds-dfa): fix `surfaceTransparent` tokens
  packages/plasma-tokens/src/brands/sdds_dfa/index.ts
  packages/plasma-tokens/src/themes/sdds_dfa__dark.ts
  packages/plasma-tokens/src/themes/sdds_dfa__light.ts
Due: eslint --fix, prettier --write

feat(plasma-tokens): Add theme sdds_dfa
  packages/plasma-tokens/data/themes/sdds_dfa.json
  packages/plasma-tokens/src/brands/sdds_dfa/index.ts
  packages/plasma-tokens/src/themes/sdds_dfa__dark.ts
  packages/plasma-tokens/src/themes/sdds_dfa__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

Update versions
  packages/caldera-online/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-tokens/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  utils/plasma-tokens-native/package.json
  website/caldera-online-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-tokens/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

fix(sdds-dfa): enable tokens surface-transparent
  packages/themes/sdds-themes/src/css/sdds_dfa.module.css
  packages/themes/sdds-themes/src/css/sdds_dfa__dark.css
  packages/themes/sdds-themes/src/css/sdds_dfa__light.css
  packages/themes/sdds-themes/src/themes/sdds_dfa__dark.ts
  packages/themes/sdds-themes/src/themes/sdds_dfa__light.ts
  packages/themes/sdds-themes/src/tokens/sdds_dfa/index.ts
Due: eslint --fix, prettier --write

Update versions
  packages/sdds-dfa/package.json
  packages/sdds-serv/package.json
  packages/themes/sdds-themes/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/sdds-dfa/package-lock.json
  packages/sdds-serv/package-lock.json
  packages/themes/sdds-themes/package-lock.json
Due: prettier --write --parser json

ci(caldera-online): delete package
  .eslintignore
  .github/config-ci.json
  .github/meta.js
  .github/processing-scope.js
  .github/workflows/documentation-deploy-prod.yml
  .github/workflows/documentation-deploy-stage-demo.yml
  .github/workflows/documentation-deploy-stage-dev.yml
  .github/workflows/documentation-pull-request-dev.yml
  .prettierignore
Due: eslint --fix, prettier --write, prettier --write --parser json

test(plasma-web/b2c): update DatePicker snapshopts
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop inner label.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop inner label.snap.png
Due: none

feat(plasma-new-hope): add innerLabel support for DatePicker
  packages/plasma-new-hope/src/components/DatePicker/DatePicker.tokens.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.styles.ts
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-serv/dfa): update DatePicker configs & stories
  packages/sdds-dfa/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-dfa/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-serv/src/components/DatePicker/DatePicker.config.ts
  packages/sdds-serv/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web/b2c): update DatePicker configs & stories
  packages/plasma-b2c/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-b2c/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-b2c/src/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.config.ts
  packages/plasma-web/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore(plasma-website): add b2c docs url
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

ci(meta): include 'plasma-icons' as required package for plasma-b2c
  .github/meta.js
Due: eslint --fix, prettier --write

feat(plasma-new-hope): fix range width
  packages/plasma-new-hope/src/components/Range/Range.styles.ts
Due: eslint --fix, prettier --write

test(plasma-web/b2c): update Range snapshots
  cypress/snapshots/b2c/components/Range/Range.component-test.tsx/plasma-b2c Range -- _disabled & _readOnly.snap.png
  cypress/snapshots/b2c/components/Range/Range.component-test.tsx/plasma-b2c Range -- _error & _success.snap.png
  cypress/snapshots/b2c/components/Range/Range.component-test.tsx/plasma-b2c Range -- _size.snap.png
  cypress/snapshots/b2c/components/Range/Range.component-test.tsx/plasma-b2c Range -- simple divider as icon.snap.png
  cypress/snapshots/b2c/components/Range/Range.component-test.tsx/plasma-b2c Range -- simple filled value.snap.png
  cypress/snapshots/b2c/components/Range/Range.component-test.tsx/plasma-b2c Range -- simple.snap.png
  cypress/snapshots/web/components/Range/Range.component-test.tsx/plasma-b2c Range -- _disabled & _readOnly.snap.png
  cypress/snapshots/web/components/Range/Range.component-test.tsx/plasma-b2c Range -- _error & _success.snap.png
  cypress/snapshots/web/components/Range/Range.component-test.tsx/plasma-b2c Range -- _size.snap.png
  cypress/snapshots/web/components/Range/Range.component-test.tsx/plasma-b2c Range -- simple divider as icon.snap.png
  cypress/snapshots/web/components/Range/Range.component-test.tsx/plasma-b2c Range -- simple filled value.snap.png
  cypress/snapshots/web/components/Range/Range.component-test.tsx/plasma-b2c Range -- simple.snap.png
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
