Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-icons): add new icons in website
  packages/plasma-icons/src/index.ts
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupBigFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupBigOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/ShareFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/ShareOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/index.ts
  packages/plasma-icons/src/scalable/Icon.tsx
  packages/plasma-icons/src/scalable/Icons/IconGroupBigFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconGroupBigOutline.tsx
  packages/plasma-icons/src/scalable/Icons/IconGroupFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconGroupOutline.tsx
  packages/plasma-icons/src/scalable/Icons/IconShareFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconShareOutline.tsx
  packages/plasma-icons/src/scalable/index.ts
  website/plasma-website/components/roster/IconsList.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-icons): Add missing icons `PeopleGroup, Share`
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/GroupOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/PeopleGroupBigFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/PeopleGroupBigOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/PeopleGroupFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/PeopleGroupOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/ShareFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/ShareOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/UploadFill.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/UploadOutline.tsx
  packages/plasma-icons/src/scalable/Icon.assets.24/index.ts
  packages/plasma-icons/src/scalable/Icon.tsx
  packages/plasma-icons/src/scalable/Icons/IconGroupFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconGroupOutline.tsx
  packages/plasma-icons/src/scalable/Icons/IconPeopleGroupBigFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconPeopleGroupBigOutline.tsx
  packages/plasma-icons/src/scalable/Icons/IconPeopleGroupFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconPeopleGroupOutline.tsx
  packages/plasma-icons/src/scalable/Icons/IconShareFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconShareOutline.tsx
  packages/plasma-icons/src/scalable/Icons/IconUploadFill.tsx
  packages/plasma-icons/src/scalable/Icons/IconUploadOutline.tsx
  packages/plasma-icons/src/scalable/index.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat(plasma-b2c): add new typography sizes for Skeleton with snapshots
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _size.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _size.snap.png
  cypress/snapshots/b2c/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- withSkeleton -- simple.snap.png
  packages/plasma-b2c/src/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-b2c/src/components/Skeleton/Skeleton.component-test.tsx
  packages/plasma-b2c/src/components/Skeleton/Skeleton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add icons package to scope in Unit Tests
  .github/workflows/required-primary-checks.yml
Due: none

docs(plasma-b2c/web): generate api docs
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-web/api/plasma-web.api.md
Due: prettier --write --parser markdown

feat(plasma-web): new typography sizes for Skeleton with snapshots
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- LineSkeleton -- _size.snap.png
  cypress/snapshots/web/components/Skeleton/Skeleton.component-test.tsx/plasma-core Skeleton -- TextSkeleton -- _size.snap.png
  packages/plasma-web/src/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-web/src/components/Skeleton/Skeleton.component-test.tsx
  packages/plasma-web/src/components/Skeleton/Skeleton.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

feat(api-report): add scrollSnapStop property to the Carousel component
  packages/plasma-core/api/plasma-core.api.md
Due: prettier --write --parser markdown

chore(plasma-core): return explicit type exports in src/types
  packages/plasma-core/src/types/index.ts
Due: eslint --fix, prettier --write

feat(plasma-core): add scrollSnapStop property to the Carousel component
  packages/plasma-core/src/components/Carousel/CarouselItem.tsx
  packages/plasma-core/src/mixins/applyScrollSnap.ts
  packages/plasma-core/src/types/ScrollSnap.ts
  packages/plasma-core/src/types/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): add Skeleton components
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.styles.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/variations/_size/tokens.json
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/RectSkeleton.styles.ts
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/RectSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/RectSkeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/RectSkeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/Skeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/TextSkeleton.styles.ts
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/TextSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/TextSkeleton.types.ts
  packages/plasma-new-hope/src/components/Skeleton/TextSkeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/hoc/withSkeleton.tsx
  packages/plasma-new-hope/src/components/Skeleton/index.ts
  packages/plasma-new-hope/src/components/Skeleton/tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Skeleton/Skeleton.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Skeleton/Skeleton.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Skeleton/LineSkeleton.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Skeleton/Skeleton.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Skeleton/Skeleton.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-new-hope/src/mixins/applyRoundness.ts
  packages/plasma-new-hope/src/mixins/applySkeletonGradient.ts
  packages/plasma-new-hope/src/mixins/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

fix(api-report): Fix weird scroll in accessibility mode in Carousel
  packages/plasma-hope/api/plasma-hope.api.md
Due: prettier --write --parser markdown

fix(plasma-web,plasma-hope): Fix weird scroll in accessibility mode in Carousel
  packages/plasma-hope/src/components/Carousel/Carousel.tsx
  packages/plasma-hope/src/components/Carousel/hooks.tsx
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): Added comment for isDragScrollDisabled
  packages/plasma-hope/src/components/Carousel/Carousel.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): fix CalendarDouble ref
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web): Fix storybook control panel in Carousel
  packages/plasma-web/src/components/Carousel/Carousel.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
