Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

refactor(plasma-hope): Update `TextArea`, `TextField`, `Button` and `Container` components
  packages/plasma-hope/src/components/Button/Button.tsx
  packages/plasma-hope/src/components/Button/types.ts
  packages/plasma-hope/src/components/Grid/Container.tsx
  packages/plasma-hope/src/components/Grid/types.ts
  packages/plasma-hope/src/components/Grid/views/b2c/Container.tsx
  packages/plasma-hope/src/components/Grid/views/b2c/ContainerB2C.tsx
  packages/plasma-hope/src/components/Grid/views/web/ContainerWeb.tsx
  packages/plasma-hope/src/components/Modal/ModalView.tsx
  packages/plasma-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-hope/src/components/TextArea/types.ts
  packages/plasma-hope/src/components/TextField/TextField.tsx
  packages/plasma-hope/src/components/TextField/types.ts
Due: eslint --fix, prettier --write, stylelint

refactor(plasma-b2c): Update `TextArea`, `TextField`, `Button` and `Container` components
  packages/plasma-b2c/src/components/Button/Button.tsx
  packages/plasma-b2c/src/components/Grid/Container.tsx
  packages/plasma-b2c/src/components/TextArea/TextArea.tsx
  packages/plasma-b2c/src/components/TextField/TextField.tsx
Due: eslint --fix, prettier --write, stylelint

chore(docs): added CarouselLite docs and examples
  packages/plasma-ui/src/components/Carousel/Carousel.tsx
  website/plasma-ui-docs/docs/components/Carousel.mdx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-web,plasma-b2c): fix various api diff between web/b2c
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Button/index.tsx
  packages/plasma-b2c/src/components/Dropdown/index.ts
  packages/plasma-b2c/src/utils/clearSelection.ts
  packages/plasma-b2c/src/utils/index.ts
  packages/plasma-b2c/src/utils/selectText.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Select/index.ts
  packages/plasma-web/src/components/Upload/index.ts
  packages/plasma-web/src/mixins/index.ts
  packages/plasma-web/src/utils/index.ts
  packages/plasma-web/src/utils/mediaQuery.ts
  reports/plasma-hope-diff.diff
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-web,plasma-b2c): remove private api
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Dropdown/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Dropdown/index.ts
  reports/plasma-hope-diff.diff
Due: eslint --fix, prettier --write, prettier --write --parser markdown

fix(plasma-hope): use "forceUpdate"
  packages/plasma-hope/src/components/Tooltip/Tooltip.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

feat(plasma-ui-docs): add block "Проблемы в Safari iOS 14.5 и ниже"
  website/plasma-ui-docs/docs/components/Pickers.mdx
Due: none

fix(plasma-ui): add offScrollSnapAlign prop
  packages/plasma-ui/src/components/Pickers/DatePicker.tsx
  packages/plasma-ui/src/components/Pickers/Picker.tsx
  packages/plasma-ui/src/components/Pickers/PickerItem.tsx
  packages/plasma-ui/src/components/Pickers/Pickers.stories.tsx
  packages/plasma-ui/src/components/Pickers/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-temple/package-lock.json
Due: prettier --write --parser json

test(plasma-web):added Calendar,Dropdon,ElasticGrid,Modalf
  packages/plasma-web/perftest/result.json
  packages/plasma-web/perftool.config.ts
  packages/plasma-web/src/components/Calendar/Calendar.perftest.tsx
  packages/plasma-web/src/components/Dropdown/Dropdon.perftest.tsx
  packages/plasma-web/src/components/ElasticGrid/ElasticGrid.perftest.tsx
  packages/plasma-web/src/components/Modal/Modal.perftest.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

fix(plasma-typo): export missing type
  packages/plasma-typo/src/index.ts
  packages/plasma-typo/src/mixins/applySpacing.ts
  packages/plasma-typo/src/mixins/index.ts
Due: eslint --fix, prettier --write

fix(plasma-core): export "Image" as styled component
  packages/plasma-core/src/components/Image/Image.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): re-export "Image" from plasma-core
  packages/plasma-hope/src/components/Image/Image.tsx
  packages/plasma-hope/src/components/Image/index.tsx
  packages/plasma-hope/src/components/Image/types.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-ui): re-export "Image" from plasma-core
  packages/plasma-ui/src/components/Image/Image.tsx
  packages/plasma-ui/src/components/Image/index.tsx
Due: eslint --fix, prettier --write, stylelint

fix: api report after export "Image" component from "plasma-core"
  packages/plasma-core/api/plasma-core.api.md
  packages/plasma-hope/api/plasma-hope.api.md
Due: prettier --write --parser markdown

docs(plasma-ui-docs): add block "Переносы на SberBox, SberPortal, etc."
  website/plasma-ui-docs/docs/design/typography.mdx
Due: none

feat(plasma-core): add test for prop 'as'
  packages/plasma-core/src/components/Button/Button.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: Add custom babel plugin `babel-plugin-collect-package-info`
  scripts/babel-plugin-collect-package-info/README.md
  scripts/babel-plugin-collect-package-info/accumulateExportPaths.js
  scripts/babel-plugin-collect-package-info/collectImport.js
  scripts/babel-plugin-collect-package-info/getExportPathsFromIndex.js
  scripts/babel-plugin-collect-package-info/index.js
Due: eslint --fix, prettier --write, prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  examples/demo-canvas-app/package-lock.json
  examples/demo-canvas-app/package.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package-lock.json
  packages/plasma-core/package.json
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-temple/package-lock.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package-lock.json
  packages/plasma-ui/package.json
  packages/plasma-web/package-lock.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package-lock.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package-lock.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package-lock.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package-lock.json
  website/plasma-web-docs/package.json
  website/plasma-website/package-lock.json
  website/plasma-website/package.json
Due: prettier --write --parser json

chore: update package-locks [skip ci]
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-hope): Update API
  packages/plasma-hope/api/plasma-hope.api.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
