Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

test(plasma-web): Add tests and snapshots for `Combobox` component
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- multiple.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- single.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- sizes.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- views.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox keyboard navigation -- multiple.snap.png
  cypress/snapshots/web/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox keyboard navigation -- single.snap.png
  packages/plasma-web/src/components/Combobox/Combobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web): Add `Combobox` component
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Combobox/Combobox.config.ts
  packages/plasma-web/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-web/src/components/Combobox/Combobox.ts
  packages/plasma-web/src/components/Combobox/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-b2c): Add `Combobox` component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Combobox/Combobox.config.ts
  packages/plasma-b2c/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-b2c/src/components/Combobox/Combobox.ts
  packages/plasma-b2c/src/components/Combobox/index.ts
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): Add `Combobox` config for plasma_web
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-b2c): Add tests and snapshots for `Combobox` component
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- multiple.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- single.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- sizes.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- views.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox keyboard navigation -- multiple.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox keyboard navigation -- single.snap.png
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add some improvements for `Select` and `Dropdown` components
  packages/plasma-new-hope/src/components/Button/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/hooks/useKeyNavigation.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectChip/SelectChip.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectItem/SelectItem.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectTarget/SelectTarget.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectTarget/SelectTarget.tsx
  packages/plasma-new-hope/src/components/Select/ui/SelectTarget/SelectTarget.types.ts
  packages/plasma-new-hope/src/components/Select/utils/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/hooks/index.ts
  packages/plasma-new-hope/src/hooks/useDidMountEffect.ts
  packages/plasma-new-hope/src/hooks/useForceUpdate.ts
  packages/plasma-new-hope/src/hooks/usePreviousValue.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web-docs): Add docs for `Combobox` component
  website/plasma-web-docs/docs/components/Combobox.mdx
Due: none

feat(plasma-new-hope): Add `Combobox` config for plasma_b2c
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-core/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-srvc/package.json
  utils/plasma-cy-utils/package.json
  utils/plasma-docs-ui/package.json
  utils/plasma-sb-utils/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-srvc/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/caldera-online/CHANGELOG.md
  packages/caldera/CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-temple/CHANGELOG.md
  packages/plasma-tokens/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-srvc/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: Update package-lock.json files [skip ci]
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-temple/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-srvc/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-rsc): Nextjs + components build configuration
  .eslintignore
  packages/plasma-rsc/.babelrc.js
  packages/plasma-rsc/.gitignore
  packages/plasma-rsc/README.md
  packages/plasma-rsc/app/favicon.ico
  packages/plasma-rsc/app/globals.css
  packages/plasma-rsc/app/layout.tsx
  packages/plasma-rsc/app/page.module.css
  packages/plasma-rsc/app/page.tsx
  packages/plasma-rsc/cjs/components/Button/index.js
  packages/plasma-rsc/cjs/components/Button/index.js.map
  packages/plasma-rsc/cjs/components/Button/index_1naj9b4.css
  packages/plasma-rsc/cjs/components/Button/index_c757sz.css
  packages/plasma-rsc/cjs/index.css
  packages/plasma-rsc/cjs/index.js
  packages/plasma-rsc/cjs/index.js.map
  packages/plasma-rsc/es/components/Button/index.js
  packages/plasma-rsc/es/components/Button/index.js.map
  packages/plasma-rsc/es/components/Button/index_1naj9b4.css
  packages/plasma-rsc/es/components/Button/index_c757sz.css
  packages/plasma-rsc/es/index.css
  packages/plasma-rsc/es/index.js
  packages/plasma-rsc/es/index.js.map
  packages/plasma-rsc/next.config.mjs
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
  packages/plasma-rsc/public/next.svg
  packages/plasma-rsc/public/vercel.svg
  packages/plasma-rsc/rollup.config.mjs
  packages/plasma-rsc/src/components/Button/index.tsx
  packages/plasma-rsc/src/index.ts
  packages/plasma-rsc/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-rsc): Added TextArea
  packages/plasma-rsc/src/components/TextArea/TextArea.config.ts
  packages/plasma-rsc/src/components/TextArea/TextArea.styles.ts
  packages/plasma-rsc/src/components/TextArea/TextArea.tokens.ts
  packages/plasma-rsc/src/components/TextArea/TextArea.tsx
  packages/plasma-rsc/src/components/TextArea/TextArea.types.tsx
  packages/plasma-rsc/src/components/TextArea/index.ts
  packages/plasma-rsc/src/components/TextArea/mixins/applyDynamicLabel.ts
  packages/plasma-rsc/src/components/TextArea/mixins/index.ts
  packages/plasma-rsc/src/components/TextArea/variations/_disabled/base.ts
  packages/plasma-rsc/src/components/TextArea/variations/_disabled/tokens.json
  packages/plasma-rsc/src/components/TextArea/variations/_size/base.ts
  packages/plasma-rsc/src/components/TextArea/variations/_size/tokens.json
  packages/plasma-rsc/src/components/TextArea/variations/_view/base.ts
  packages/plasma-rsc/src/components/TextArea/variations/_view/tokens.json
  packages/plasma-rsc/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-rsc): Fixes
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
  packages/plasma-rsc/src/components/Button/Button.tsx
  packages/plasma-rsc/src/components/Checkbox/Checkbox.tsx
  packages/plasma-rsc/src/components/Checkbox/index.ts
  packages/plasma-rsc/src/engines/common.tsx
  packages/plasma-rsc/src/engines/linaria.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-rsc): Added Button
  packages/plasma-rsc/src/components/Button/Button.config.ts
  packages/plasma-rsc/src/components/Button/Button.styles.ts
  packages/plasma-rsc/src/components/Button/Button.tokens.ts
  packages/plasma-rsc/src/components/Button/Button.tsx
  packages/plasma-rsc/src/components/Button/Button.types.ts
  packages/plasma-rsc/src/components/Button/index.ts
  packages/plasma-rsc/src/components/Button/index.tsx
  packages/plasma-rsc/src/components/Button/variations/_disabled/base.ts
  packages/plasma-rsc/src/components/Button/variations/_disabled/tokens.json
  packages/plasma-rsc/src/components/Button/variations/_focused/base.ts
  packages/plasma-rsc/src/components/Button/variations/_focused/tokens.json
  packages/plasma-rsc/src/components/Button/variations/_size/base.ts
  packages/plasma-rsc/src/components/Button/variations/_size/tokens.json
  packages/plasma-rsc/src/components/Button/variations/_view/base.ts
  packages/plasma-rsc/src/components/Button/variations/_view/tokens.json
  packages/plasma-rsc/src/utils/roundness.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-rsc): Common changes
  packages/plasma-rsc/.gitignore
  packages/plasma-rsc/.npmignore
  packages/plasma-rsc/.npmrc
  packages/plasma-rsc/README.md
  packages/plasma-rsc/app/favicon.ico
  packages/plasma-rsc/app/globals.css
  packages/plasma-rsc/app/layout.tsx
  packages/plasma-rsc/app/page.module.css
  packages/plasma-rsc/app/page.tsx
  packages/plasma-rsc/next.config.mjs
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
  packages/plasma-rsc/public/next.svg
  packages/plasma-rsc/public/vercel.svg
  packages/plasma-rsc/src/components/Checkbox/Checkbox.tsx
  packages/plasma-rsc/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore: delete "@rollup/rollup-darwin-x64"
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
Due: prettier --write --parser json

chore: use 18.17.0 nodejs
  .nvmrc
Due: none

feat(plasma-rsc): Configured package.json
  packages/plasma-rsc/package.json
Due: prettier --write --parser json

feat(plasma-rsc): Added LineSkeleton & RectSkeleton
  packages/plasma-rsc/package.json
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/LineSkeleton.config.ts
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/LineSkeleton.styles.ts
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/LineSkeleton.tsx
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/LineSkeleton.types.ts
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/index.ts
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/variations/_size/base.ts
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/variations/_size/tokens.json
  packages/plasma-rsc/src/components/Skeleton/RectSkeleton/RectSkeleton.styles.ts
  packages/plasma-rsc/src/components/Skeleton/RectSkeleton/RectSkeleton.tsx
  packages/plasma-rsc/src/components/Skeleton/RectSkeleton/RectSkeleton.types.ts
  packages/plasma-rsc/src/components/Skeleton/RectSkeleton/index.ts
  packages/plasma-rsc/src/components/Skeleton/Skeleton.types.ts
  packages/plasma-rsc/src/components/Skeleton/index.ts
  packages/plasma-rsc/src/components/Skeleton/tokens.ts
  packages/plasma-rsc/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): Revert unintented changes
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.tsx
  packages/plasma-new-hope/src/mixins/applySkeletonGradient.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-rsc): Ignore rules
  packages/plasma-rsc/cjs/components/Button/index.js
  packages/plasma-rsc/cjs/components/Button/index.js.map
  packages/plasma-rsc/cjs/components/Button/index_1naj9b4.css
  packages/plasma-rsc/cjs/components/Button/index_c757sz.css
  packages/plasma-rsc/cjs/index.css
  packages/plasma-rsc/cjs/index.js
  packages/plasma-rsc/cjs/index.js.map
  packages/plasma-rsc/es/components/Button/index.js
  packages/plasma-rsc/es/components/Button/index.js.map
  packages/plasma-rsc/es/components/Button/index_1naj9b4.css
  packages/plasma-rsc/es/components/Button/index_c757sz.css
  packages/plasma-rsc/es/index.css
  packages/plasma-rsc/es/index.js
  packages/plasma-rsc/es/index.js.map
Due: eslint --fix, prettier --write

feat(plasma-rsc): Added Typography
  packages/plasma-rsc/src/components/Typography/Body/Body.config.ts
  packages/plasma-rsc/src/components/Typography/Body/Body.tsx
  packages/plasma-rsc/src/components/Typography/Dspl/Dspl.config.ts
  packages/plasma-rsc/src/components/Typography/Dspl/Dspl.tsx
  packages/plasma-rsc/src/components/Typography/Heading/Heading.config.ts
  packages/plasma-rsc/src/components/Typography/Heading/Heading.tsx
  packages/plasma-rsc/src/components/Typography/Text/Text.config.ts
  packages/plasma-rsc/src/components/Typography/Text/Text.tsx
  packages/plasma-rsc/src/components/Typography/Typography.styles.ts
  packages/plasma-rsc/src/components/Typography/Typography.tsx
  packages/plasma-rsc/src/components/Typography/Typography.types.ts
  packages/plasma-rsc/src/components/Typography/TypographyRoot.tsx
  packages/plasma-rsc/src/components/Typography/index.ts
  packages/plasma-rsc/src/components/Typography/tokens.ts
  packages/plasma-rsc/src/components/Typography/variations/_size/base.ts
  packages/plasma-rsc/src/components/Typography/variations/_size/tokens.json
  packages/plasma-rsc/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

chore: add "@rollup/rollup-darwin-x64"
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
Due: prettier --write --parser json

feat(plasma-rsc): Added Checkbox
  packages/plasma-rsc/app/globals.css
  packages/plasma-rsc/app/layout.tsx
  packages/plasma-rsc/app/page.module.css
  packages/plasma-rsc/app/page.tsx
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
  packages/plasma-rsc/src/components/Checkbox/Checkbox.config.tsx
  packages/plasma-rsc/src/components/Checkbox/Checkbox.tsx
  packages/plasma-rsc/src/components/Checkbox/IconsSvg.tsx
  packages/plasma-rsc/src/components/Checkbox/_disabled/base.ts
  packages/plasma-rsc/src/components/Checkbox/_disabled/tokens.json
  packages/plasma-rsc/src/components/Checkbox/_focused/base.ts
  packages/plasma-rsc/src/components/Checkbox/_focused/tokens.json
  packages/plasma-rsc/src/components/Checkbox/_size/base.ts
  packages/plasma-rsc/src/components/Checkbox/_size/tokens.json
  packages/plasma-rsc/src/components/Checkbox/_view/base.ts
  packages/plasma-rsc/src/components/Checkbox/_view/tokens.json
  packages/plasma-rsc/src/components/Checkbox/index.ts
  packages/plasma-rsc/src/engines/common.tsx
  packages/plasma-rsc/src/engines/index.ts
  packages/plasma-rsc/src/engines/linaria.tsx
  packages/plasma-rsc/src/engines/types.ts
  packages/plasma-rsc/src/index.ts
  packages/plasma-rsc/src/mixins/addFocus.ts
  packages/plasma-rsc/src/mixins/applyEllipsis.ts
  packages/plasma-rsc/src/mixins/applyHyphens.ts
  packages/plasma-rsc/src/mixins/applyNoUserSelect.ts
  packages/plasma-rsc/src/mixins/applyRoundness.ts
  packages/plasma-rsc/src/mixins/applySkeletonGradient.ts
  packages/plasma-rsc/src/mixins/applySpacing.ts
  packages/plasma-rsc/src/mixins/index.ts
  packages/plasma-rsc/src/mixins/mediaQuery.ts
  packages/plasma-rsc/src/mixins/typography.ts
  packages/plasma-rsc/src/utils/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-rsc): Rollup additionals
  packages/plasma-rsc/.gitignore
  packages/plasma-rsc/cjs/components/Button/index.js
  packages/plasma-rsc/cjs/components/Button/index.js.map
  packages/plasma-rsc/cjs/index.css
  packages/plasma-rsc/cjs/index.js
  packages/plasma-rsc/es/components/Button/index.js
  packages/plasma-rsc/es/components/Button/index.js.map
  packages/plasma-rsc/es/index.css
  packages/plasma-rsc/es/index.js
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

chore: wip
  lerna.json
Due: prettier --write --parser json

feat(plasma-rsc): Added Spinner
  packages/plasma-new-hope/src/components/Skeleton/LineSkeleton/LineSkeleton.tsx
  packages/plasma-new-hope/src/mixins/applySkeletonGradient.ts
  packages/plasma-rsc/package-lock.json
  packages/plasma-rsc/package.json
  packages/plasma-rsc/src/components/Spinner/Spinner.config.tsx
  packages/plasma-rsc/src/components/Spinner/Spinner.tsx
  packages/plasma-rsc/src/components/Spinner/SpinnerSvg.tsx
  packages/plasma-rsc/src/components/Spinner/_size/base.ts
  packages/plasma-rsc/src/components/Spinner/_size/tokens.json
  packages/plasma-rsc/src/components/Spinner/_view/base.ts
  packages/plasma-rsc/src/components/Spinner/_view/tokens.json
  packages/plasma-rsc/src/components/Spinner/index.ts
  packages/plasma-rsc/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-rsc): Fixes
  packages/plasma-rsc/src/components/Skeleton/LineSkeleton/LineSkeleton.tsx
  packages/plasma-rsc/src/components/Skeleton/RectSkeleton/RectSkeleton.tsx
  packages/plasma-rsc/src/components/Spinner/Spinner.tsx
  packages/plasma-rsc/src/components/TextArea/TextArea.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add sdds-serv to workflows
  .github/processing-scope.js
  .github/workflows/change-detection.yml
  .github/workflows/documentation-deploy-stage-dev.yml
  .github/workflows/documentation-main.yml
  .github/workflows/documentation-pr.yml
  .github/workflows/documentation-pull-request-dev.yml
Due: eslint --fix, prettier --write

chore(sdds-srvc): imrpove docs
  packages/sdds-srvc/README.md
  packages/sdds-srvc/README.stories.mdx
  packages/sdds-srvc/src/components/AutoComplete/AutoComplete.stories.tsx
  packages/sdds-srvc/src/components/TextField/TextField.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-tokens): rename sdds theme
  packages/plasma-tokens/data/themes/sdds_srvc.json
Due: prettier --write --parser json

feat(plasma-tokens): Add theme sdds_serv
  packages/plasma-tokens/data/themes/sdds_serv.json
  packages/plasma-tokens/src/brands/sdds_serv/index.ts
  packages/plasma-tokens/src/themes/index.ts
  packages/plasma-tokens/src/themes/sdds_serv__dark.ts
  packages/plasma-tokens/src/themes/sdds_serv__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json
