Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

fix(autocomplete): fix stories [PLASMA-6673]
  packages/sdds-finai/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-finai/src/components/Autocomplete/Autocomplete.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix(toolbar): fix config [PLASMA-6673]
  packages/sdds-finai/src/components/Toolbar/Toolbar.config.ts
  packages/sdds-finai/src/components/Toolbar/Toolbar.stories.tsx
  website/sdds-finai-docs/docs/components/Toolbar.mdx
Due: eslint --fix, prettier --write, stylelint

fix(pagination): fix config [PLASMA-6673]
  packages/sdds-finai/src/components/Pagination/Pagination.config.ts
  website/sdds-finai-docs/docs/components/Pagination.mdx
Due: eslint --fix, prettier --write

fix(dropdown): fix config/stories [PLASMA-6673]
  packages/sdds-finai/src/components/Dropdown/Dropdown.config.ts
  packages/sdds-finai/src/components/Dropdown/Dropdown.stories.tsx
  website/sdds-finai-docs/docs/components/Dropdown.mdx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-cs): add _beta to export
  packages/sdds-cs/package.json
  packages/sdds-cs/src/components/_beta/Popover/Popover.closeInner.config.ts
  packages/sdds-cs/src/components/_beta/Popover/Popover.closeNone.config.ts
  packages/sdds-cs/src/components/_beta/Popover/Popover.stories.tsx
  packages/sdds-cs/src/components/_beta/Popover/Popover.tsx
  packages/sdds-cs/src/components/_beta/Popover/index.ts
  packages/sdds-cs/src/components/_beta/Tooltip/Tooltip.config.ts
  packages/sdds-cs/src/components/_beta/Tooltip/Tooltip.stories.tsx
  packages/sdds-cs/src/components/_beta/Tooltip/Tooltip.tsx
  packages/sdds-cs/src/components/_beta/Tooltip/index.ts
  packages/sdds-cs/src/components/_beta/index.ts
  packages/sdds-cs/src/components/_beta/tsconfig.json
  packages/sdds-cs/tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): add additional text tokens in NumberInput
  packages/plasma-new-hope/src/components/NumberInput/NumberInput.tokens.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_segmentation/base.ts
  packages/plasma-new-hope/src/components/NumberInput/variations/_size/base.ts
Due: eslint --fix, prettier --write

feat(sdds-cs): refactor NumberInput
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- customIncrementButton,customDecrementButton.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- disabled.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- displayWithoutValue.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- displayWithoutValue=decrement, click shows full component.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- displayWithoutValue=increment, click shows full component.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- incrementIcon,decrementIcon.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- inputBackgroundType.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- isLoading.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=disabled.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=hidden, decrement appears after increment from min.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=hidden, increment appears after decrement from max.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- limitBehavior=hidden.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- min,max.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- shape=pilled.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- step.snap.png
  cypress/snapshots/cs/chromium/NumberInput/NumberInput -- view=default, size=s, shape=cornered, segmentation=solid.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- customIncrementButton,customDecrementButton.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- disabled.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- displayWithoutValue.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- displayWithoutValue=decrement, click shows full component.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- displayWithoutValue=increment, click shows full component.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- incrementIcon,decrementIcon.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- inputBackgroundType.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- isLoading.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=disabled.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=hidden, decrement appears after increment from min.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=hidden, increment appears after decrement from max.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- limitBehavior=hidden.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- min,max.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- shape=pilled.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- step.snap.png
  cypress/snapshots/cs/webkit/NumberInput/NumberInput -- view=default, size=s, shape=cornered, segmentation=solid.snap.png
  packages/sdds-cs/src/components/NumberInput/NumberInput.config.ts
  packages/sdds-cs/src/components/NumberInput/NumberInput.stories.tsx
Due: eslint --fix, prettier --write, stylelint

fix: use @salutejs-ds/sdds_sbcom
  packages/sdds-sbcom/.storybook/decoratorThemes.tsx
  packages/sdds-sbcom/README.md
  packages/sdds-sbcom/package-lock.json
  packages/sdds-sbcom/package.json
  packages/sdds-sbcom/src/components/Tokens/Colors/Colors.stories.tsx
  packages/sdds-sbcom/src/components/Tokens/NumberTokens/CornerRadius.stories.tsx
  packages/sdds-sbcom/src/components/Tokens/NumberTokens/Spacing.stories.tsx
  packages/sdds-sbcom/src/components/Tokens/Typography/Typography.stories.tsx
  packages/sdds-sbcom/src/components/ViewContainer/ViewContainer.config.ts
  packages/sdds-sbcom/src/index.ts
  packages/sdds-sbcom/src/mixins/index.ts
  packages/sdds-sbcom/src/tokens/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat: imporve mobile version of website
  website/plasma-website/components/GlobalStyle.tsx
  website/plasma-website/components/main/Product/Product.styles.ts
  website/plasma-website/components/main/StickyNav/StickyNav.styles.ts
  website/plasma-website/components/main/SupportTooltip.tsx
  website/plasma-website/pages/index.tsx
Due: eslint --fix, prettier --write, stylelint

feat: imporve mobile version of pallete
  website/plasma-website/components/palette/GradientScroll.tsx
  website/plasma-website/components/palette/Header.tsx
  website/plasma-website/components/palette/PaletteColorPage.tsx
  website/plasma-website/components/palette/PaletteItem.tsx
Due: eslint --fix, prettier --write, stylelint

feat(finai): update views & add shadow token for toast
  packages/plasma-new-hope/src/components/Toast/Toast.tokens.ts
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.styles.ts
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.tokens.ts
  packages/plasma-new-hope/src/components/Toast/variations/_view/base.ts
  packages/sdds-finai/src/components/Toast/Toast.config.ts
  packages/sdds-finai/src/components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: minor changes in token naming & story config for toast
  packages/plasma-new-hope/src/components/Toast/Toast.tokens.ts
  packages/plasma-new-hope/src/components/Toast/ToastNew/ToastNew.tokens.ts
  packages/sdds-finai/src/components/Toast/Toast.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: webkit tests run improvement
  cypress.config.ts
  cypress/webpack.config.ts
Due: eslint --fix, prettier --write

fix(sdds-scan): correct default to size
  packages/sdds-scan/src/components/Attach/Attach.config.ts
  packages/sdds-scan/src/components/Autocomplete/Autocomplete.config.ts
  packages/sdds-scan/src/components/Note/Note.config.ts
  packages/sdds-scan/src/components/NumberInput/NumberInput.config.ts
  packages/sdds-scan/src/components/TextArea/TextArea.config.ts
Due: eslint --fix, prettier --write

chore: remove chromeWebSecurity if running tests not in chrome
  cypress.config.ts
Due: eslint --fix, prettier --write

chore: add packages to cypress testing
  .github/config-ci.json
  cypress.config.ts
  package.json
  packages/plasma-homeds/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/plasma-homeds/src/components/Slider/Slider.component-test.tsx
  packages/sdds-finai/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/sdds-finai/src/components/Slider/Slider.component-test.tsx
  packages/sdds-scan/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/sdds-serv/src/components/EmbedIconButton/EmbedIconButton.update-test.component-test.tsx
  packages/sdds-serv/src/components/Image/Image.component-test.tsx
  packages/sdds-serv/src/components/Slider/Slider.component-test.tsx
  utils/plasma-cy-utils/lib/CypressDecorator.js
  utils/plasma-cy-utils/src/CypressDecorator.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat(plasma-new-hope): update tests for webkit
  packages/plasma-new-hope/src/components/Calendar/Calendar.Range.component-test.tsx
  packages/plasma-new-hope/src/components/Calendar/Calendar.component-test.tsx
  packages/plasma-new-hope/src/components/TextField/TextField.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat: add b2c snaps
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/b2c/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/b2c/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/b2c/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/b2c/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/b2c/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/b2c/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/b2c/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/b2c/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/b2c/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/b2c/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/b2c/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

feat: add web snaps
  cypress/snapshots/web/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/web/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/web/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/web/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/web/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/web/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/web/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/web/webkit/Calendar/CalendarRange -- default.snap.png
Due: none

feat: add cs snaps
  cypress/snapshots/cs/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/cs/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/cs/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/cs/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/cs/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/cs/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/cs/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/cs/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

feat: add insol snaps
  cypress/snapshots/insol/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/insol/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/insol/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/insol/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/insol/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/insol/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/insol/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/insol/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/insol/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/insol/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/insol/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/insol/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

feat: add giga snaps
  cypress/snapshots/giga/chromium/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- default.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/giga/chromium/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/giga/chromium/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/giga/chromium/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/giga/chromium/Calendar/CalendarRange -- locale en.snap.png
  cypress/snapshots/giga/chromium/TextField/TextField -- chipType.snap.png
  cypress/snapshots/giga/chromium/TextField/TextField -- truncate placeholder.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- default double calendar.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- default.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- locale en.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- min and max double.snap.png
  cypress/snapshots/giga/webkit/Calendar/Calendar -- min and max.snap.png
  cypress/snapshots/giga/webkit/Calendar/CalendarRange -- default double calendar.snap.png
  cypress/snapshots/giga/webkit/Calendar/CalendarRange -- default.snap.png
  cypress/snapshots/giga/webkit/TextField/TextField -- chipType.snap.png
  cypress/snapshots/giga/webkit/TextField/TextField -- truncate placeholder.snap.png
Due: none

feat: fix Autocomplete snaps
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- afterList.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- beforeList.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- disabled.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- flip.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- listMaxHeight.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- listWidth.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- optional.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- readOnly.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- renderItem.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- required, requiredPlacement.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=default, size=s.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=negative.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=positive, size=xs.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- view=warning.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- virtual dynamic height.snap.png
  cypress/snapshots/finai/chromium/Autocomplete/Autocomplete -- virtual.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- afterList.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- beforeList.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- disabled.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- flip.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- listMaxHeight.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- listWidth.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- optional.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- readOnly.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- renderItem.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- required, requiredPlacement.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=default, size=s.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=negative.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=positive, size=xs.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- view=warning.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- virtual dynamic height.snap.png
  cypress/snapshots/finai/webkit/Autocomplete/Autocomplete -- virtual.snap.png
Due: none

feat(): api-test architecture
  .eslintrc.js
  API-TESTS.md
  package.json
  utils/api-tests/.gitignore
  utils/api-tests/package-lock.json
  utils/api-tests/package.json
  utils/api-tests/script.mjs
  utils/api-tests/src/components/Button/Button.api.test.tsx
  utils/api-tests/src/components/Combobox/Combobox.api.test.tsx
  utils/api-tests/tsconfig.json
  utils/api-tests/vitest.config.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

chore(checkbox): add test
  utils/api-tests/src/components/Checkbox/Checkbox.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

chore(textField): add test
  utils/api-tests/script.mjs
  utils/api-tests/src/components/TextField/TextField.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

chore: add skill
  .claude/skills/api-test/SKILL.md
Due: prettier --write --parser markdown

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
