Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(sbcom): update Indicator views and sizes
  packages/sdds-sbcom/src/components/Indicator/Indicator.config.ts
  packages/sdds-sbcom/src/components/Indicator/Indicator.config.tsx
  packages/sdds-sbcom/src/components/Indicator/Indicator.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: update copy-linaria-components script
  packages/plasma-b2c/scripts/copy-linaria-components.sh
  packages/plasma-giga/scripts/copy-linaria-components.sh
  packages/plasma-new-hope/scripts/replaceImports.mjs
  packages/plasma-web/scripts/copy-linaria-components.sh
  packages/sdds-bizcom/scripts/copy-linaria-components.sh
  packages/sdds-insol/scripts/copy-linaria-components.sh
  packages/sdds-netology/scripts/copy-linaria-components.sh
  packages/sdds-os/scripts/copy-linaria-components.sh
  packages/sdds-platform-ai/scripts/copy-linaria-components.sh
  packages/sdds-sbcom/scripts/copy-linaria-components.sh
  packages/sdds-scan/scripts/copy-linaria-components.sh
  packages/sdds-serv/scripts/copy-linaria-components.sh
Due: none

feat: add withTextGradient hoc
  packages/plasma-new-hope/src/components/Badge/Badge.tokens.ts
  packages/plasma-new-hope/src/components/Badge/Badge.tsx
  packages/plasma-new-hope/src/components/Button/Button.tokens.ts
  packages/plasma-new-hope/src/components/Button/Button.tsx
  packages/plasma-new-hope/src/components/Chip/Chip.tokens.ts
  packages/plasma-new-hope/src/components/Chip/Chip.tsx
  packages/plasma-new-hope/src/examples/components/_hocs/WithTextGradient/WithTextGradient.stories.tsx
  packages/plasma-new-hope/src/hocs/index.ts
  packages/plasma-new-hope/src/hocs/withTextGradient.tsx
  packages/plasma-new-hope/src/index.ts
  utils/plasma-sb-utils/src/hocs/WithTextGradient/index.ts
  utils/plasma-sb-utils/src/hocs/WithTextGradient/meta.ts
  utils/plasma-sb-utils/src/hocs/WithTextGradient/stories.tsx
  utils/plasma-sb-utils/src/hocs/WithTextGradient/withTextGradient.tsx
  utils/plasma-sb-utils/src/hocs/index.ts
  utils/plasma-sb-utils/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs: add withTextGradient hoc docs
  website/plasma-b2c-docs/docs/functions/hocs.mdx
  website/plasma-giga-docs/docs/functions/_category_.json
  website/plasma-giga-docs/docs/functions/hocs.mdx
  website/sdds-bizcom-docs/docs/functions/_category_.json
  website/sdds-bizcom-docs/docs/functions/hocs.mdx
  website/sdds-cs-docs/docs/functions/_category_.json
  website/sdds-cs-docs/docs/functions/hocs.mdx
  website/sdds-dfa-docs/docs/functions/_category_.json
  website/sdds-dfa-docs/docs/functions/hocs.mdx
  website/sdds-finai-docs/docs/functions/_category_.json
  website/sdds-finai-docs/docs/functions/hocs.mdx
  website/sdds-insol-docs/docs/functions/_category_.json
  website/sdds-insol-docs/docs/functions/hocs.mdx
  website/sdds-netology-docs/docs/functions/_category_.json
  website/sdds-netology-docs/docs/functions/hocs.mdx
  website/sdds-platform-ai-docs/docs/functions/_category_.json
  website/sdds-platform-ai-docs/docs/functions/hocs.mdx
  website/sdds-sbcom-docs/docs/functions/_category_.json
  website/sdds-sbcom-docs/docs/functions/hocs.mdx
  website/sdds-scan-docs/docs/functions/_category_.json
  website/sdds-scan-docs/docs/functions/hocs.mdx
  website/sdds-serv-docs/docs/functions/_category_.json
  website/sdds-serv-docs/docs/functions/hocs.mdx
Due: prettier --write --parser json

feat(): storybook in sdds-serv based on css
  packages/sdds-serv/.storybook/main.ts
  packages/sdds-serv/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(new-hope): add stories for TimePicker with multiplicity examples
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
  utils/plasma-sb-utils/src/components/TimePicker/fixtures.ts
  utils/plasma-sb-utils/src/components/TimePicker/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): update TimePickerGrid utils with range step parameter and roundToMultiplicity
  packages/plasma-new-hope/src/components/TimePickerGrid/utils/index.ts
Due: eslint --fix, prettier --write

feat(new-hope): add Cypress component tests for TimePickerGrid multiplicity
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add API type-check test for TimePicker multiplicity props
  utils/api-tests/src/components/TimePicker/TimePicker.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): integrate multiplicity props into TimePickerGrid component
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.tsx
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): add multiplicity Minutes/Seconds props to TimePickerGrid and TimePicker
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.types.ts
  packages/plasma-new-hope/src/components/TimePickerGrid/TimePickerGrid.types.ts
Due: eslint --fix, prettier --write

feat(new-hope): pass multiplicity props through TimePicker to TimePickerGrid
  packages/plasma-new-hope/src/components/TimePicker/TimePicker.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): improve types in portal props
  packages/plasma-new-hope/src/components/Autocomplete/Autocomplete.types.ts
  packages/plasma-new-hope/src/components/Autocomplete/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Dropdown/Dropdown.types.ts
  packages/plasma-new-hope/src/components/Dropdown/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Popover/Popover.types.ts
  packages/plasma-new-hope/src/components/Popup/Popup.types.ts
  utils/api-tests/src/components/Popover/Popover.api.test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(): mcp for homeds
  website/plasma-homeds-docs/.gitignore
  website/plasma-homeds-docs/docs/how-to-mcp.mdx
  website/plasma-homeds-docs/package.json
  website/plasma-homeds-docs/scripts/generateIndex/config.mjs
  website/plasma-homeds-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/plasma-homeds-docs/scripts/generateIndex/generateMdxLink.mjs
  website/plasma-homeds-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/plasma-homeds-docs/scripts/generateIndex/index.mjs
  website/plasma-homeds-docs/scripts/generateMcpData/index.ts
  website/plasma-homeds-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(): mcp for bizcom
  website/sdds-bizcom-docs/.gitignore
  website/sdds-bizcom-docs/docs/how-to-mcp.mdx
  website/sdds-bizcom-docs/package.json
  website/sdds-bizcom-docs/scripts/generateIndex/config.mjs
  website/sdds-bizcom-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/sdds-bizcom-docs/scripts/generateIndex/generateMdxLink.mjs
  website/sdds-bizcom-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/sdds-bizcom-docs/scripts/generateIndex/index.mjs
  website/sdds-bizcom-docs/scripts/generateMcpData/index.ts
  website/sdds-bizcom-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(): mcp for dfa
  website/sdds-dfa-docs/.gitignore
  website/sdds-dfa-docs/docs/how-to-mcp.mdx
  website/sdds-dfa-docs/package.json
  website/sdds-dfa-docs/scripts/generateIndex/config.mjs
  website/sdds-dfa-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/sdds-dfa-docs/scripts/generateIndex/generateMdxLink.mjs
  website/sdds-dfa-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/sdds-dfa-docs/scripts/generateIndex/index.mjs
  website/sdds-dfa-docs/scripts/generateMcpData/index.ts
  website/sdds-dfa-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(): mcp for insol
  website/sdds-insol-docs/.gitignore
  website/sdds-insol-docs/docs/how-to-mcp.mdx
  website/sdds-insol-docs/package.json
  website/sdds-insol-docs/scripts/generateIndex/config.mjs
  website/sdds-insol-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/sdds-insol-docs/scripts/generateIndex/generateMdxLink.mjs
  website/sdds-insol-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/sdds-insol-docs/scripts/generateIndex/index.mjs
  website/sdds-insol-docs/scripts/generateMcpData/index.ts
  website/sdds-insol-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(): mcp for scan
  website/sdds-scan-docs/.gitignore
  website/sdds-scan-docs/docs/how-to-mcp.mdx
  website/sdds-scan-docs/package.json
  website/sdds-scan-docs/scripts/generateIndex/config.mjs
  website/sdds-scan-docs/scripts/generateIndex/generateIndexFiles.mjs
  website/sdds-scan-docs/scripts/generateIndex/generateMdxLink.mjs
  website/sdds-scan-docs/scripts/generateIndex/getValidMdxPaths.mjs
  website/sdds-scan-docs/scripts/generateIndex/index.mjs
  website/sdds-scan-docs/scripts/generateMcpData/index.ts
  website/sdds-scan-docs/tokens.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(): add hover and active colors for scrollbar thumb
  packages/plasma-b2c/src/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-giga/src/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-homeds/src/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-new-hope/src/examples/components/Scrollbar/Scrollbar.config.ts
  packages/plasma-new-hope/src/mixins/addScrollbar.ts
  packages/plasma-web/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-dfa/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-netology/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-os/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-platform-ai/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-sbcom/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-scan/src/components/Scrollbar/Scrollbar.config.ts
  packages/sdds-serv/src/components/Scrollbar/Scrollbar.config.ts
Due: eslint --fix, prettier --write

feat(): update mcp workflow
  .github/workflows/mcp-data-upload.yml
Due: none

feat(plasma-new-hope): make Attach controlled
  packages/plasma-new-hope/src/components/Attach/Attach.component-test.tsx
  packages/plasma-new-hope/src/components/Attach/Attach.tsx
  packages/plasma-new-hope/src/components/Attach/Attach.types.ts
  packages/plasma-new-hope/src/examples/components/Attach/Attach.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: refactor Attach docs
  packages/plasma-new-hope/src/components/Attach/Attach.template-doc.mdx
  website/plasma-b2c-docs/docs/components/Attach.mdx
  website/plasma-giga-docs/docs/components/Attach.mdx
  website/plasma-homeds-docs/docs/components/Attach.mdx
  website/plasma-web-docs/docs/components/Attach.mdx
  website/sdds-bizcom-docs/docs/components/Attach.mdx
  website/sdds-cs-docs/docs/components/Attach.mdx
  website/sdds-dfa-docs/docs/components/Attach.mdx
  website/sdds-finai-docs/docs/components/Attach.mdx
  website/sdds-insol-docs/docs/components/Attach.mdx
  website/sdds-netology-docs/docs/components/Attach.mdx
  website/sdds-platform-ai-docs/docs/components/Attach.mdx
  website/sdds-scan-docs/docs/components/Attach.mdx
  website/sdds-serv-docs/docs/components/Attach.mdx
Due: none

feat: update Attach stories
  packages/plasma-b2c/src/components/Attach/Attach.stories.tsx
  packages/plasma-giga/src/components/Attach/Attach.stories.tsx
  packages/plasma-homeds/src/components/Attach/Attach.stories.tsx
  packages/plasma-web/src/components/Attach/Attach.stories.tsx
  packages/sdds-bizcom/src/components/Attach/Attach.stories.tsx
  packages/sdds-cs/src/components/Attach/Attach.stories.tsx
  packages/sdds-dfa/src/components/Attach/Attach.stories.tsx
  packages/sdds-finai/src/components/Attach/Attach.stories.tsx
  packages/sdds-insol/src/components/Attach/Attach.stories.tsx
  packages/sdds-netology/src/components/Attach/Attach.stories.tsx
  packages/sdds-os/src/components/Attach/Attach.stories.tsx
  packages/sdds-platform-ai/src/components/Attach/Attach.stories.tsx
  packages/sdds-sbcom/src/components/Attach/Attach.stories.tsx
  packages/sdds-scan/src/components/Attach/Attach.stories.tsx
  packages/sdds-serv/src/components/Attach/Attach.stories.tsx
  utils/plasma-cy-utils/lib/CypressHelpers.d.ts
  utils/plasma-cy-utils/src/CypressHelpers.tsx
  utils/plasma-sb-utils/src/components/Attach/Attach.tsx
  utils/plasma-sb-utils/src/components/Attach/fixtures.ts
  utils/plasma-sb-utils/src/components/Attach/index.ts
  utils/plasma-sb-utils/src/components/Attach/meta.ts
  utils/plasma-sb-utils/src/components/Attach/stories.tsx
  utils/plasma-sb-utils/src/components/index.ts
Due: eslint --fix, prettier --write, stylelint

feat: fix Button state color tokens overwrite
  packages/plasma-new-hope/src/components/Button/Button.styles.ts
Due: eslint --fix, prettier --write

feat(): downgrade react-syntax-highlighter since CJS troubles
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

fix(plasma-giga, plasma-new-hope): move re-exported transitive deps to peerDependencies
  PR_STRICT_PNPM_PEER_DEPS.md
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
