Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

ci(sbcom): add docs
  .github/meta-prod.js
Due: eslint --fix, prettier --write

docs(sbcom): fix after llm review
  website/sdds-sbcom-docs/docs/_examples/_popover/_refObject.mdx
  website/sdds-sbcom-docs/docs/_examples/_popover/_refReactNode.mdx
  website/sdds-sbcom-docs/docs/components/Attach.mdx
  website/sdds-sbcom-docs/docs/components/Autocomplete.mdx
  website/sdds-sbcom-docs/docs/components/Badge.mdx
  website/sdds-sbcom-docs/docs/components/Button.mdx
  website/sdds-sbcom-docs/docs/components/ButtonGroup.mdx
  website/sdds-sbcom-docs/docs/components/Card.mdx
  website/sdds-sbcom-docs/docs/components/Drawer.mdx
  website/sdds-sbcom-docs/docs/components/Dropzone.mdx
  website/sdds-sbcom-docs/docs/components/EmbedIconButton.mdx
  website/sdds-sbcom-docs/docs/components/File.mdx
  website/sdds-sbcom-docs/docs/components/Image.mdx
  website/sdds-sbcom-docs/docs/components/Modal.mdx
  website/sdds-sbcom-docs/docs/components/Notification.mdx
  website/sdds-sbcom-docs/docs/components/NumberFormat.mdx
  website/sdds-sbcom-docs/docs/components/Popover.mdx
  website/sdds-sbcom-docs/docs/components/Popup.mdx
  website/sdds-sbcom-docs/docs/components/Skeleton.mdx
  website/sdds-sbcom-docs/docs/components/Steps.mdx
  website/sdds-sbcom-docs/docs/components/Table.mdx
  website/sdds-sbcom-docs/docs/components/TextArea.mdx
  website/sdds-sbcom-docs/docs/components/Toast.mdx
  website/sdds-sbcom-docs/docs/components/Toolbar.mdx
  website/sdds-sbcom-docs/docs/components/Tour.mdx
  website/sdds-sbcom-docs/docs/components/Typography.mdx
  website/sdds-sbcom-docs/docs/form/NativeForm.mdx
  website/sdds-sbcom-docs/docs/form/ReactHookForm.mdx
Due: none

chore: fix package.json formatting and lockfile update workflow
  .editorconfig
  .lintstagedrc
  .prettierignore
  .prettierrc
  CONTRIBUTING.md
  lint-staged.config.js
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

chore(plasma-hope): remove unused storeon dependency (T1)
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
Due: prettier --write --parser json

feat(plasma-tokens): Add theme sdds_platform_ai
  packages/plasma-tokens/data/themes/sdds_platform_ai.json
  packages/plasma-tokens/src/brands/sdds_platform_ai/index.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__dark.ts
  packages/plasma-tokens/src/themes/sdds_platform_ai__light.ts
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(sbcom): fixed styled for switch
  packages/sdds-sbcom/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write

fix(): add tokens to control TextArea helper text overflow
  packages/plasma-new-hope/src/components/TextArea/TextArea.styles.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tokens.ts
  packages/sdds-sbcom/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-sbcom/src/components/TextArea/TextArea.config.ts
Due: eslint --fix, prettier --write

feat(): update TextField stories
  packages/sdds-platform-ai/src/components/TextField/TextField.stories.tsx
  packages/sdds-sbcom/src/components/TextField/TextField.stories.tsx
  utils/plasma-sb-utils/src/components/TextField/TextField.tsx
  utils/plasma-sb-utils/src/components/TextField/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat(new-hope): update TextArea, TextField styles
  packages/plasma-new-hope/src/components/TextArea/TextArea.styles.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tokens.ts
  packages/plasma-new-hope/src/components/TextArea/TextArea.tsx
  packages/plasma-new-hope/src/components/TextArea/TextArea.types.tsx
  packages/plasma-new-hope/src/components/TextArea/mixins/applyDynamicLabel.ts
  packages/plasma-new-hope/src/components/TextArea/variations/_view/base.ts
  packages/plasma-new-hope/src/components/TextField/TextField.tokens.ts
  packages/plasma-new-hope/src/components/TextField/variations/_disabled/base.ts
  packages/plasma-new-hope/src/components/TextField/variations/_label-placement/base.ts
  packages/sdds-finai/src/components/TextArea/TextArea.config.ts
  packages/sdds-sbcom/src/components/TextArea/TextArea.config.ts
Due: eslint --fix, prettier --write, stylelint

docs(): update TextField docs
  packages/plasma-new-hope/src/components/TextField/TextField.template-doc.mdx
  website/plasma-b2c-docs/docs/components/TextField.mdx
  website/plasma-giga-docs/docs/components/TextField.mdx
  website/plasma-homeds-docs/docs/components/TextField.mdx
  website/plasma-web-docs/docs/components/TextField.mdx
  website/sdds-bizcom-docs/docs/components/TextField.mdx
  website/sdds-cs-docs/docs/components/TextField.mdx
  website/sdds-dfa-docs/docs/components/TextField.mdx
  website/sdds-finai-docs/docs/components/TextField.mdx
  website/sdds-insol-docs/docs/components/TextField.mdx
  website/sdds-netology-docs/docs/components/TextField.mdx
  website/sdds-platform-ai-docs/docs/components/TextField.mdx
  website/sdds-scan-docs/docs/components/TextField.mdx
  website/sdds-serv-docs/docs/components/TextField.mdx
Due: none

feat(sdds-sbcom): update TextField, TextArea stories
  packages/sdds-sbcom/src/components/TextArea/TextArea.clear.config.ts
  packages/sdds-sbcom/src/components/TextArea/TextArea.config.ts
  packages/sdds-sbcom/src/components/TextArea/TextArea.stories.tsx
  packages/sdds-sbcom/src/components/TextArea/TextArea.tsx
  packages/sdds-sbcom/src/components/TextField/TextField.clear.config.ts
  packages/sdds-sbcom/src/components/TextField/TextField.config.ts
  packages/sdds-sbcom/src/components/TextField/TextField.stories.tsx
  packages/sdds-sbcom/src/components/TextField/TextField.tsx
  utils/plasma-sb-utils/src/components/TextArea/meta.ts
Due: eslint --fix, prettier --write, stylelint

test(plasma-new-hope): set Button background to red for CI coverage check
  packages/plasma-new-hope/src/components/Button/variations/_view/base.ts
Due: eslint --fix, prettier --write

feat(new-hope): update List Divider [PLASMA-7120]
  packages/plasma-homeds/src/components/List/List.config.ts
  packages/plasma-new-hope/src/components/List/List.tokens.ts
  packages/plasma-new-hope/src/components/List/ui/ListItem.styles.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-finai): changelog for Button & List [PLASMA-7120]
  packages/sdds-finai/src/components/Button/Button.config.ts
  packages/sdds-finai/src/components/List/List.config.ts
  packages/sdds-finai/src/components/List/List.stories.tsx
  website/sdds-finai-docs/docs/components/List.mdx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-hope): migrate PreviewGallery to dnd-kit for React 19
  packages/plasma-hope/package-lock.json
  packages/plasma-hope/package.json
  packages/plasma-hope/src/components/PreviewGallery/PreviewGallery.tsx
  packages/plasma-hope/src/components/PreviewGallery/PreviewGalleryItems.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

docs: clarify dev as default PR base branch
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: prettier --write --parser markdown

chore: add Cursor rule for draft PRs with repo template format
  .cursor/rules/pull-requests.mdc
Due: none

chore: document dev as PR base branch in Cursor rule
  .cursor/rules/pull-requests.mdc
Due: none

feat(sdds-cs): add m size for TextField
  packages/sdds-cs/src/components/Button/Button.config.ts
  packages/sdds-cs/src/components/Button/Button.stories.tsx
  packages/sdds-cs/src/components/IconButton/IconButton.config.ts
  packages/sdds-cs/src/components/IconButton/IconButton.stories.tsx
  packages/sdds-cs/src/components/TextField/TextField.config.ts
  packages/sdds-cs/src/components/TextField/TextField.stories.tsx
  utils/plasma-sb-utils/src/components/Button/meta.ts
  utils/plasma-sb-utils/src/components/TextField/meta.ts
Due: eslint --fix, prettier --write, stylelint

feat: update Button, IconButton, TextField snaps
  cypress/snapshots/cs/chromium/Button/Button -- view=accent, size=m, stretching=auto.snap.png
  cypress/snapshots/cs/chromium/Button/Button -- view=clear, size=sr, stretching=fixed.snap.png
  cypress/snapshots/cs/chromium/Button/Button -- view=secondary, size=s, stretching=filled.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=default, size=m appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=default, size=m.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=negative, size=s appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/chromium/TextField/TextField -- view=negative, size=s.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=accent, size=m, stretching=auto.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=clear, size=sr, stretching=fixed.snap.png
  cypress/snapshots/cs/webkit/Button/Button -- view=secondary, size=s, stretching=filled.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=default, size=m appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=default, size=m.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=negative, size=s appearance=clear,hasDivider=true.snap.png
  cypress/snapshots/cs/webkit/TextField/TextField -- view=negative, size=s.snap.png
Due: none

docs(cs): add m size for TextField, Button, IconButton
  website/sdds-cs-docs/docs/components/Button.mdx
  website/sdds-cs-docs/docs/components/IconButton.mdx
  website/sdds-cs-docs/docs/components/TextField.mdx
Due: none

feat(): downgrade react-syntax-highlighter since CJS troubles
  packages/plasma-new-hope/package-lock.json
  packages/plasma-new-hope/package.json
Due: prettier --write --parser json

feat: resolve TextFieldGroup tokens
  packages/plasma-new-hope/src/components/TextFieldGroup/variations/_size/base.ts
Due: eslint --fix, prettier --write

chore: add sdds-dfa package for cypress testing
  .github/config-ci.json
  package.json
  scripts/cy-cli.js
  utils/plasma-cy-utils/lib/CypressDecorator.js
  utils/plasma-cy-utils/src/CypressDecorator.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

feat: resolve TextField-like offset tokens
  packages/plasma-b2c/src/components/TextField/TextField.clear.config.ts
  packages/sdds-cs/src/components/TextField/TextField.clear.config.ts
  packages/sdds-dfa/src/components/TextField/TextField.clear.config.ts
  packages/sdds-finai/src/components/TextField/TextField.clear.config.ts
Due: eslint --fix, prettier --write
