Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

fix(plasma-theme-builder): Fix platform name on `Main` page
  website/plasma-theme-builder/src/components/Main/Main.tsx
Due: eslint --fix, prettier --write, stylelint

fix(plasma-theme-builder): Remove auto theme changes
  website/plasma-theme-builder/src/GlobalStyle.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-theme-builder): Add favicon
  website/plasma-theme-builder/public/index.html
Due: none

ci: extend lerna ignore list
  .github/workflows/typescript-coverage.yml
Due: none

fix(plasma-ui): Fix scrollable behavior for `Sheet` component
  packages/plasma-ui/src/components/Sheet/Sheet.stories.tsx
  packages/plasma-ui/src/components/Sheet/Sheet.tsx
  packages/plasma-ui/src/components/Sheet/useSheetSwipe.ts
Due: eslint --fix, prettier --write, stylelint

ci(documentation): use "--openssl-legacy-provider" flag
  .github/workflows/documentation-pr.yml
Due: none

chore(storybook): avoid OpenSSL v3.0 breaking changes
  packages/plasma-b2c/package.json
  packages/plasma-temple/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
Due: prettier --write --parser json

chore: use Node.js/NPM LTS version
  .nvmrc
  package.json
Due: prettier --write --parser json

ci(theme-builder): use "--openssl-legacy-provider" flag
  .github/workflows/theme-builder-pr.yml
Due: none

docs: rewrite paragraph about "Node, npm versions"
  CONTRIBUTING.md
Due: prettier --write --parser markdown

ci: extend computed scope logic [PR Documentation and Storybook]
  .github/workflows/documentation-pr.yml
Due: none

ci: wip 2
  .github/workflows/tests.yml
Due: none

ci: wip
  .github/workflows/documentation-pr.yml
Due: none

feat: Add custom plugin `upload-assets-extends`
  auto-plugins/README.md
  auto-plugins/src/index.ts
  auto-plugins/src/upload-assets-extend.ts
  package.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

feat: Add new options for `upload-assets` plugin for compact and grouped view
  package-lock.json
  package.json
Due: prettier --write --parser json

feat(plasma-b2c, plasma-web): autoResize for TextArea
  cypress/snapshots/b2c/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - basic.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - manualResize.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - maxAuto.snap.png
  cypress/snapshots/b2c/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - minAuto.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - basic.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - manualResize.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - maxAuto.snap.png
  cypress/snapshots/web/components/TextArea/TextAreaResize.component-test.tsx/plasma-hope TextArea -- autoResize - minAuto.snap.png
  packages/plasma-b2c/src/components/TextArea/TextAreaResize.component-test.tsx
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/TextArea/index.ts
  packages/plasma-hope/src/components/TextArea/types.ts
  packages/plasma-hope/src/components/TextArea/useAutoResize.ts
  packages/plasma-hope/src/components/TextArea/views/b2c/TextAreaB2C.tsx
  packages/plasma-hope/src/components/TextArea/views/web/TextAreaWeb.tsx
  packages/plasma-web/src/components/TextArea/TextAreaResize.component-test.tsx
  website/plasma-web-docs/docs/components/TextArea.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

chore: wip
  .github/workflows/typescript-coverage.yml
Due: none

ci: rework computed scope logic [Typescript coverage]
  .github/workflows/typescript-coverage.yml
Due: none

ci: run lerna boostrap with ignore plasma-tokens [Lint]
  .github/workflows/tests.yml
Due: none

ci: fix pr docs
  .github/workflows/documentation-pr.yml
Due: none
