Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(plasma-web, plasma-b2c): Tabs refactor and redesign
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- Handle tab focus autoFocus.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- Handle tab focus default.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- Handle tab focus pilled.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- _pilled.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- _size.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- autoscroll.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  cypress/snapshots/web/components/Tabs/Tabs.component-test.tsx/plasma-web Tabs -- item autoFocus.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- autoscroll.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Tabs/TabItem.config.ts
  packages/plasma-b2c/src/components/Tabs/TabItem.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.config.ts
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-b2c/src/components/Tabs/Tabs.tsx
  packages/plasma-b2c/src/components/Tabs/TabsController.tsx
  packages/plasma-b2c/src/components/Tabs/index.ts
  packages/plasma-core/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Tabs/TabItem.config.ts
  packages/plasma-web/src/components/Tabs/TabItem.tsx
  packages/plasma-web/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-web/src/components/Tabs/Tabs.config.ts
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-web/src/components/Tabs/Tabs.tsx
  packages/plasma-web/src/components/Tabs/TabsController.tsx
  packages/plasma-web/src/components/Tabs/index.ts
  website/plasma-web-docs/docs/components/Tabs.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-new-hope): remove carousel and observers from Tabs
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- _size.snap.png
  cypress/snapshots/web/components/Tabs/Tabs.component-test.tsx/plasma-web Tabs -- item autoFocus.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  packages/plasma-b2c/src/components/Tabs/TabItem.config.ts
  packages/plasma-b2c/src/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/components/Tabs/tokens.ts
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.styles.ts
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/Tabs.styles.ts
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.config.ts
  packages/plasma-web/src/components/Tabs/TabItem.config.ts
  packages/plasma-web/src/components/Tabs/Tabs.config.ts
Due: eslint --fix, prettier --write, stylelint

fix(plasma-new-hope): add key navigation to Tabs
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-b2c/src/components/Tabs/TabsController.tsx
  packages/plasma-new-hope/src/components/Tabs/TabsContext.tsx
  packages/plasma-new-hope/src/components/Tabs/createTabsController.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.types.ts
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/Tabs.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.stories.tsx
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-web/src/components/Tabs/TabsController.tsx
  website/plasma-web-docs/docs/components/Tabs.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-hope): remove Tabs
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-hope/src/components/Tabs/TabItem.tsx
  packages/plasma-hope/src/components/Tabs/Tabs.tsx
  packages/plasma-hope/src/components/Tabs/index.ts
  packages/plasma-hope/src/components/Tabs/types.ts
  packages/plasma-hope/src/components/Tabs/views/b2c/TabItem.tsx
  packages/plasma-hope/src/components/Tabs/views/b2c/Tabs.tsx
  packages/plasma-hope/src/components/Tabs/views/web/TabItem.tsx
  packages/plasma-hope/src/components/Tabs/views/web/Tabs.tsx
  packages/plasma-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

fix(plasma-new-hope): backward compatibility support
  packages/plasma-new-hope/src/components/Tabs/TabsContext.tsx
  packages/plasma-new-hope/src/components/Tabs/createTabsController.tsx
  packages/plasma-new-hope/src/components/Tabs/index.ts
  packages/plasma-new-hope/src/components/Tabs/tokens.ts
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.types.ts
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/variations/_view/base.ts
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/Tabs.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/Tabs.types.ts
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/variations/_filledBackgound/base.ts
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/variations/_filledBackgound/tokens.json
  packages/plasma-new-hope/src/components/Tabs/ui/Tabs/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/TabItem.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/Tabs.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Tabs/TabsController.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/TabItem.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/Tabs.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Tabs/TabsController.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabItem.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/Tabs.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Tabs/TabsController.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

fix(plasma-web, plasma-b2c): fix default Tabs sizes
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- Handle tab focus autoFocus.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- Handle tab focus default.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- Handle tab focus pilled.snap.png
  cypress/snapshots/b2c/components/Tabs/Tabs.component-test.tsx/plasma-b2c Tabs -- _pilled.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/b2c/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  cypress/snapshots/web/components/Tabs/Tabs.component-test.tsx/plasma-web Tabs -- item autoFocus.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _disabled.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- _stretch.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- controller.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- simple.snap.png
  cypress/snapshots/web/components/Tabs/TabsBase.component-test.tsx/plasma-core Tabs -- with icon.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Tabs/TabItem.config.ts
  packages/plasma-b2c/src/components/Tabs/Tabs.config.ts
  packages/plasma-b2c/src/components/Tabs/Tabs.stories.tsx
  packages/plasma-core/src/components/Tabs/Tabs.component-test.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.tsx
  packages/plasma-new-hope/src/components/Tabs/ui/TabItem/TabItem.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Tabs/TabItem.config.ts
  packages/plasma-web/src/components/Tabs/Tabs.config.ts
  packages/plasma-web/src/components/Tabs/Tabs.stories.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-srvc/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-srvc/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): Classnames fixes
  packages/plasma-b2c/src/components/AvatarGroup/AvatarGroup.stories.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar.tokens.ts
  packages/plasma-new-hope/src/components/Avatar/Avatar.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/AvatarGroup/AvatarGroup.stories.tsx
  packages/plasma-web/src/components/AvatarGroup/AvatarGroup.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(b2c, web): Added tests for Avatar and AvatarGroup
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- _size.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- simple.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- with Avatar url.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- with status.snap.png
  cypress/snapshots/b2c/components/AvatarGroup/AvatarGroup.component-test.tsx/plasma-b2c AvatarGroup -- simple.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- _size.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- simple.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- with Avatar url.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- with status.snap.png
  cypress/snapshots/web/components/AvatarGroup/AvatarGroup.component-test.tsx/plasma-web AvatarGroup -- simple.snap.png
  packages/plasma-b2c/src/components/Avatar/Avatar.component-test.tsx
  packages/plasma-b2c/src/components/AvatarGroup/AvatarGroup.component-test.tsx
  packages/plasma-web/src/components/Avatar/Avatar.component-test.tsx
  packages/plasma-web/src/components/AvatarGroup/AvatarGroup.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web, b2c): Added documentation for Avatar and AvatarGroup
  cypress/fixtures/images/avatar.png
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- _size.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- simple.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- with Avatar url.snap.png
  cypress/snapshots/b2c/components/Avatar/Avatar.component-test.tsx/plasma-b2c Avatar -- with status.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- _size.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- simple.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- with Avatar url.snap.png
  cypress/snapshots/web/components/Avatar/Avatar.component-test.tsx/plasma-web Avatar -- with status.snap.png
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Avatar/Avatar.component-test.tsx
  packages/plasma-b2c/src/components/Avatar/Avatar.config.tsx
  packages/plasma-b2c/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar.styles.ts
  packages/plasma-new-hope/src/components/Avatar/Avatar.tokens.ts
  packages/plasma-new-hope/src/components/Avatar/Avatar.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar.types.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Avatar/Avatar.component-test.tsx
  packages/plasma-web/src/components/Avatar/Avatar.config.tsx
  packages/plasma-web/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-web/src/components/Avatar/image.test.png
  website/plasma-web-docs/docs/components/Avatar.mdx
  website/plasma-web-docs/docs/components/AvatarGroup.mdx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-web, plasma-b2c): Populated AvatarGroup into web, b2c
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Avatar/Avatar.ts
  packages/plasma-b2c/src/components/AvatarGroup/AvatarGroup.stories.tsx
  packages/plasma-b2c/src/components/AvatarGroup/AvatarGroup.ts
  packages/plasma-b2c/src/components/AvatarGroup/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-new-hope/src/components/AvatarGroup/AvatarGroup.types.ts
  packages/plasma-new-hope/src/components/AvatarGroup/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Avatar/Avatar.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Avatar/Avatar.ts
  packages/plasma-web/src/components/AvatarGroup/AvatarGroup.stories.tsx
  packages/plasma-web/src/components/AvatarGroup/AvatarGroup.ts
  packages/plasma-web/src/components/AvatarGroup/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

feat(plasma-new-hope): Action icon is removed
  packages/plasma-new-hope/src/components/Avatar/Avatar.styles.ts
  packages/plasma-new-hope/src/components/Avatar/Avatar.tsx
  packages/plasma-new-hope/src/components/Avatar/Avatar.types.ts
  packages/plasma-new-hope/src/components/Avatar/utils/getStatusBackgroundColor.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Avatar/Avatar.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope, web, b2c): Insignificant improvements in Avatar.stories
  packages/plasma-b2c/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-b2c/src/components/Avatar/Avatar.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Avatar/Avatar.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Avatar/Avatar.ts
  packages/plasma-web/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-web/src/components/Avatar/Avatar.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web, plasma-b2c): Populated Avatar into web, b2c
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Avatar/Avatar.config.tsx
  packages/plasma-b2c/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-b2c/src/components/Avatar/Avatar.tsx
  packages/plasma-b2c/src/components/Avatar/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-new-hope/src/components/Avatar/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Avatar/Avatar.config.tsx
  packages/plasma-web/src/components/Avatar/Avatar.stories.tsx
  packages/plasma-web/src/components/Avatar/Avatar.tsx
  packages/plasma-web/src/components/Avatar/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-srvc/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-temple-docs/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-srvc/package-lock.json
Due: prettier --write --parser json

chore: update fonts for storybook
  packages/caldera-online/.storybook/manager-head.html
  packages/caldera-online/.storybook/preview-head.html
  packages/caldera/.storybook/manager-head.html
  packages/caldera/.storybook/preview-head.html
  packages/plasma-asdk/.storybook/manager-head.html
  packages/plasma-asdk/.storybook/preview-head.html
  packages/plasma-b2c/.storybook/manager-head.html
  packages/plasma-b2c/.storybook/preview-head.html
  packages/plasma-new-hope/.storybook/manager-head.html
  packages/plasma-new-hope/.storybook/preview-head.html
  packages/plasma-temple/.storybook/preview-head.html
  packages/plasma-ui/.storybook/manager-head.html
  packages/plasma-ui/.storybook/preview-head.html
  packages/plasma-web/.storybook/manager-head.html
  packages/plasma-web/.storybook/preview-head.html
  packages/sdds-srvc/.storybook/manager-head.html
  packages/sdds-srvc/.storybook/preview-head.html
Due: none

chore: update fonts for cypress
  utils/plasma-cy-utils/lib/CypressHelpers.js
  utils/plasma-cy-utils/src/CypressHelpers.tsx
Due: eslint --fix, prettier --write, stylelint

chore: update fonts for docs
  packages/plasma-temple/.storybook/preview-head.html
  packages/plasma-tokens/README.md
  packages/plasma-ui/src/docs/tokens.md
  utils/plasma-docs-ui/src/components/CodeSandbox.tsx
  website/plasma-ui-docs/docs/design/typography-legacy.mdx
  website/plasma-ui-docs/docs/design/typography.mdx
  website/plasma-ui-docs/src/css/custom.css
  website/plasma-web-docs/docs/design/typography-legacy.mdx
  website/plasma-web-docs/docs/design/typography.mdx
  website/plasma-web-docs/src/css/custom.css
  website/plasma-website/pages/_document.tsx
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

chore: update fonts for theme-builder
  website/plasma-theme-builder/public/index.html
Due: none

chore[sdds-android]: SDDS Android project was created.
  native/sdds-android/.gitignore
  native/sdds-android/LICENCE.txt
  native/sdds-android/README.MD
  native/sdds-android/build.gradle.kts
  native/sdds-android/buildSrc/README.MD
  native/sdds-android/buildSrc/build.gradle.kts
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/Dependencies.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/Plugins.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/SdkConfig.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/Versions.kt
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/conventions/convention.android-app.gradle.kts
  native/sdds-android/buildSrc/src/main/kotlin/buildsrc/conventions/convention.android-lib.gradle.kts
  native/sdds-android/gradle.properties
  native/sdds-android/gradle/wrapper/gradle-wrapper.jar
  native/sdds-android/gradle/wrapper/gradle-wrapper.properties
  native/sdds-android/gradlew
  native/sdds-android/gradlew.bat
  native/sdds-android/plugin_theme_builder/README.MD
  native/sdds-android/plugin_theme_builder/build.gradle.kts
  native/sdds-android/plugin_theme_builder/src/main/kotlin/com/sdds/plugin/themebuilder/ThemeBuilderPlugin.kt
  native/sdds-android/sandbox/README.MD
  native/sdds-android/sandbox/build.gradle.kts
  native/sdds-android/sandbox/src/main/AndroidManifest.xml
  native/sdds-android/sandbox/src/main/res/drawable/ic_launcher_background.xml
  native/sdds-android/sandbox/src/main/res/drawable/ic_launcher_foreground.xml
  native/sdds-android/sandbox/src/main/res/mipmap-anydpi/ic_launcher.xml
  native/sdds-android/sandbox/src/main/res/mipmap-anydpi/ic_launcher_round.xml
  native/sdds-android/sandbox/src/main/res/values/strings.xml
  native/sdds-android/sandbox/src/main/res/values/themes.xml
  native/sdds-android/settings.gradle.kts
  native/sdds-android/uikit-compose/README.MD
  native/sdds-android/uikit-compose/build.gradle.kts
  native/sdds-android/uikit-compose/src/main/AndroidManifest.xml
  native/sdds-android/uikit/README.MD
  native/sdds-android/uikit/build.gradle.kts
  native/sdds-android/uikit/src/main/AndroidManifest.xml
Due: none

feat(plasma-new-hope): Add `Combobox` config for plasma_web
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Combobox/Combobox.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add some improvements for `Select` and `Dropdown` components
  packages/plasma-new-hope/src/components/Button/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Dropdown/ui/DropdownItem/DropdownItem.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.styles.ts
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/hooks/useKeyNavigation.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectChip/SelectChip.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectItem/SelectItem.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectTarget/SelectTarget.styles.ts
  packages/plasma-new-hope/src/components/Select/ui/SelectTarget/SelectTarget.tsx
  packages/plasma-new-hope/src/components/Select/ui/SelectTarget/SelectTarget.types.ts
  packages/plasma-new-hope/src/components/Select/utils/index.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/hooks/index.ts
  packages/plasma-new-hope/src/hooks/useDidMountEffect.ts
  packages/plasma-new-hope/src/hooks/useForceUpdate.ts
  packages/plasma-new-hope/src/hooks/usePreviousValue.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-new-hope): Add `Combobox` config for plasma_b2c
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Combobox/Combobox.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-b2c): Add `Combobox` component
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Combobox/Combobox.config.ts
  packages/plasma-b2c/src/components/Combobox/Combobox.stories.tsx
  packages/plasma-b2c/src/components/Combobox/Combobox.ts
  packages/plasma-b2c/src/components/Combobox/index.ts
  packages/plasma-b2c/src/index.ts
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown

test(plasma-b2c): Add tests and snapshots for `Combobox` component
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- multiple.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- single.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- sizes.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox -- views.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox keyboard navigation -- multiple.snap.png
  cypress/snapshots/b2c/components/Combobox/Combobox.component-test.tsx/plasma-web Combobox keyboard navigation -- single.snap.png
  packages/plasma-b2c/src/components/Combobox/Combobox.component-test.tsx
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web-docs): Add docs for `Combobox` component
  website/plasma-web-docs/docs/components/Combobox.mdx
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
