Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat: remove scale tokens from bButton & ButtonGroup
  packages/caldera-online/src/components/Button/Button.config.ts
  packages/caldera/src/components/Button/Button.config.ts
  packages/plasma-b2c/src/components/Button/Button.config.ts
  packages/plasma-b2c/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Button/Button.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/ButtonGroup/ButtonGroup.config.ts
  packages/plasma-web/src/components/Button/Button.config.ts
  packages/plasma-web/src/components/ButtonGroup/ButtonGroup.config.ts
  packages/sdds-serv/src/components/Button/Button.config.ts
  packages/sdds-serv/src/components/ButtonGroup/ButtonGroup.config.ts
Due: eslint --fix, prettier --write

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

chore: bump manual package-locks
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(sdds-serv): add grid component
  packages/sdds-serv/src/components/Grid/Grid.config.tsx
  packages/sdds-serv/src/components/Grid/Grid.stories.tsx
  packages/sdds-serv/src/components/Grid/Grid.tsx
  packages/sdds-serv/src/components/Grid/index.ts
  packages/sdds-serv/src/index.ts
Due: eslint --fix, prettier --write, stylelint

feat(plasma-web/b2c): add to css build components by exact match
  packages/plasma-b2c/scripts/copy-linaria-components.sh
  packages/plasma-web/scripts/copy-linaria-components.sh
Due: none

docs: regenerate api reports
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-hope/api/plasma-hope.api.md
  packages/plasma-web/api/plasma-web.api.md
  packages/sdds-serv/api/sdds-serv.api.md
Due: prettier --write --parser markdown

docs(sdds-serv-docs): add Grid docs
  website/sdds-serv-docs/docs/components/Grid.mdx
Due: none

feat(plasma-new-hope): add Grid component
  packages/plasma-new-hope/src/components/Grid/Grid.styles.ts
  packages/plasma-new-hope/src/components/Grid/Grid.tokens.ts
  packages/plasma-new-hope/src/components/Grid/Grid.tsx
  packages/plasma-new-hope/src/components/Grid/Grid.types.ts
  packages/plasma-new-hope/src/components/Grid/index.ts
  packages/plasma-new-hope/src/components/Grid/ui/Col/Col.styles.ts
  packages/plasma-new-hope/src/components/Grid/ui/Col/Col.tsx
  packages/plasma-new-hope/src/components/Grid/ui/Col/Col.types.ts
  packages/plasma-new-hope/src/components/Grid/ui/Col/index.ts
  packages/plasma-new-hope/src/components/Grid/ui/Row/Row.styles.ts
  packages/plasma-new-hope/src/components/Grid/ui/Row/Row.tsx
  packages/plasma-new-hope/src/components/Grid/ui/Row/index.ts
  packages/plasma-new-hope/src/components/Grid/ui/index.ts
  packages/plasma-new-hope/src/components/Grid/utils/index.ts
  packages/plasma-new-hope/src/components/Grid/utils/types.ts
  packages/plasma-new-hope/src/components/Grid/variations/_view/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Grid/Grid.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Grid/Grid.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Grid/Grid.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Grid/Grid.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Grid/Grid.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Grid/Grid.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Grid/Grid.config.ts
  packages/plasma-new-hope/src/examples/sds_engineer/components/Grid/Grid.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Grid/Grid.ts
  packages/plasma-new-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

docs(plasma-web-docs): update Grid docs
  website/plasma-web-docs/docs/components/Grid.mdx
Due: none

feat(plasma-hope): remove Grid
  packages/plasma-hope/src/components/Grid/Col.tsx
  packages/plasma-hope/src/components/Grid/Container.tsx
  packages/plasma-hope/src/components/Grid/Grid.component-test.tsx
  packages/plasma-hope/src/components/Grid/Row.tsx
  packages/plasma-hope/src/components/Grid/index.ts
  packages/plasma-hope/src/components/Grid/types.ts
  packages/plasma-hope/src/index.ts
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-web, b2c, new-hope): Added ButtonBase
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/ButtonBase/index.ts
  packages/plasma-b2c/src/index.ts
  packages/plasma-new-hope/src/components/ButtonBase/index.ts
  packages/plasma-new-hope/src/index.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/ButtonBase/index.ts
  packages/plasma-web/src/index.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/caldera-online/CHANGELOG.md
  packages/caldera/CHANGELOG.md
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-core/CHANGELOG.md
  packages/plasma-hope/CHANGELOG.md
  packages/plasma-icons/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-tokens-b2b/CHANGELOG.md
  packages/plasma-tokens-b2c/CHANGELOG.md
  packages/plasma-tokens-web/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
  utils/plasma-cy-utils/CHANGELOG.md
  utils/plasma-sb-utils/CHANGELOG.md
Due: prettier --write --parser markdown

chore: Update package-lock.json files [skip ci]
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

feat(plasma-icons): script to generate android icons
  packages/plasma-icons/.gitignore
  packages/plasma-icons/README.md
  packages/plasma-icons/archives/android-icons.zip
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
  packages/plasma-icons/scripts/generateAndroidArchive.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

ci(unit-test): delete flag `--no-private`
  .github/workflows/required-primary-checks.yml
Due: none

fix(new-hope): linaria sctipt fix
  packages/plasma-b2c/scripts/copy-linaria-components.sh
  packages/plasma-web/scripts/copy-linaria-components.sh
Due: none
