Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.{jsx,tsx}": [
        "stylelint",
    ],
    "*.md": [
        "prettier --write --parser markdown",
        "git add"
    ],
    "*.json": [
        "prettier --write --parser json",
        "git add"
    ]
}

Update versions
  packages/plasma-b2c/package.json
  packages/plasma-web/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-b2c/package-lock.json
  packages/plasma-web/package-lock.json
Due: prettier --write --parser json

chore(plasma-icons): delete unnecessary dep "plasma-core"
  packages/plasma-icons/package-lock.json
  packages/plasma-icons/package.json
Due: prettier --write --parser json

fix(plasma-icons): replace primary var to hardcode value
  packages/plasma-icons/src/old/IconRoot.tsx
  packages/plasma-icons/src/scalable/IconRoot.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-hope/package.json
  packages/plasma-icons/package.json
  packages/plasma-ui/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-icons/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

chore(docs-ui): sync deps version
  utils/plasma-docs-ui/package-lock.json
  utils/plasma-docs-ui/package.json
Due: prettier --write --parser json

ci(unit-test): delete flag `--no-private`
  .github/workflows/required-primary-checks.yml
Due: none

chore(ui-docs): delete unnecessary deps
  website/plasma-ui-docs/package-lock.json
  website/plasma-ui-docs/package.json
Due: prettier --write --parser json

build: update perftool
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update docs private packages package-lock [no ci]
  website/plasma-ui-docs/package-lock.json
  website/plasma-web-docs/package-lock.json
  website/sdds-serv-docs/package-lock.json
Due: prettier --write --parser json

chore: update package-locks [no ci]
  website/plasma-web-docs/package-lock.json
  website/sdds-serv-docs/package-lock.json
Due: prettier --write --parser json

feat(perftest-helpers): support mode analysis
  actions/perftest-helpers/src/modules/sendReport.test.ts
  actions/perftest-helpers/src/modules/sendReport.ts
  actions/perftest-helpers/src/modules/types.ts
  actions/perftest-helpers/src/modules/writeComment.ts
Due: eslint --fix, prettier --write

test: test
  .github/workflows/performance-test-pr.yml
  packages/plasma-ui/src/index.ts
Due: eslint --fix, prettier --write

test: test
  .github/workflows/performance-test-pr.yml
  packages/plasma-ui/src/index.ts
  perftool.config.mts
Due: eslint --fix, prettier --write

chore: init scaffold CLI
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: ignore scaffold templates
  .eslintignore
  .prettierignore
  .stylelintrc.js
Due: eslint --fix, prettier --write

fix: change height for Drawer stories
  packages/plasma-b2c/src/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Drawer/Drawer.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Drawer/Drawer.stories.tsx
  packages/plasma-web/src/components/Drawer/Drawer.stories.tsx
  packages/sdds-serv/src/components/Drawer/Drawer.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/caldera-online/package.json
  packages/caldera/package.json
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-theme-builder/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

fix: fix args for Image stories
  packages/plasma-b2c/src/components/Image/Image.stories.tsx
  packages/plasma-new-hope/src/components/Image/Image.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Image/Image.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Image/Image.stories.tsx
  packages/plasma-new-hope/src/examples/sds_engineer/components/Image/Image.stories.tsx
  packages/plasma-web/src/components/Image/Image.stories.tsx
  packages/sdds-serv/src/components/Image/Image.stories.tsx
Due: eslint --fix, prettier --write, stylelint

chore: bump manual package-locks
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/caldera-online/package-lock.json
  packages/caldera/package-lock.json
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

ci: add retry logic for sync package-lock files
  .github/actions/update-package-lock/action.yml
Due: none

ci: sync package-lock files by workflow_dispatch
  .github/workflows/sync-package-lock-files.yml
Due: none
