Repository salute-developers/plasma: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json

feat(*): add renderFromDate to Calendar & DatePicker
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePicker -- prop renderFromDate.snap.png
  cypress/snapshots/b2c/components/DatePicker/DatePicker.component-test.tsx/plasma-b2c DatePickerRange -- prop renderFromDate.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePicker -- prop renderFromDate.snap.png
  cypress/snapshots/web/components/DatePicker/DatePicker.component-test.tsx/plasma-web DatePickerRange -- prop renderFromDate.snap.png
  packages/plasma-b2c/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-b2c/src/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-giga/src/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.component-test.tsx
  packages/plasma-web/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-cs/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-dfa/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-finportal/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-insol/src/components/DatePicker/DatePicker.stories.tsx
  packages/sdds-serv/src/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat(sdds-insol): add XL size to Range
  packages/sdds-insol/src/components/Range/Range.config.ts
  packages/sdds-insol/src/components/Range/Range.stories.tsx
Due: eslint --fix, prettier --write, stylelint

docs: regenerate api reports
  packages/sdds-insol/api/sdds-insol.api.md
Due: prettier --write --parser markdown

feat(plasma-new-hope): add specific tokens to Range
  packages/plasma-new-hope/src/components/Range/Range.styles.ts
  packages/plasma-new-hope/src/components/Range/Range.tokens.ts
  packages/plasma-new-hope/src/components/Range/Range.tsx
  packages/plasma-new-hope/src/components/Range/variations/_size/base.ts
  packages/plasma-new-hope/src/components/Range/variations/_view/base.ts
Due: eslint --fix, prettier --write, stylelint

fix(*): pagination add onChange prop
  packages/plasma-b2c/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-b2c/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-giga/src/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.tsx
  packages/plasma-new-hope/src/components/Pagination/Pagination.types.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Pagination/Pagination.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Pagination/Pagination.stories.tsx
  packages/plasma-web/src/components/Pagination/Pagination.component-test.tsx
  packages/plasma-web/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-cs/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-cs/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-dfa/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-dfa/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-finportal/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-finportal/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-insol/src/components/Pagination/Pagination.stories.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.component-test.tsx
  packages/sdds-serv/src/components/Pagination/Pagination.stories.tsx
Due: eslint --fix, prettier --write, stylelint

Update versions
  packages/plasma-asdk/package.json
  packages/plasma-b2c/package.json
  packages/plasma-giga/package.json
  packages/plasma-new-hope/package.json
  packages/plasma-web/package.json
  packages/sdds-cs/package.json
  packages/sdds-dfa/package.json
  packages/sdds-finportal/package.json
  packages/sdds-insol/package.json
  packages/sdds-serv/package.json
  utils/plasma-docs-ui/package.json
  website/plasma-b2c-docs/package.json
  website/plasma-giga-docs/package.json
  website/plasma-ui-docs/package.json
  website/plasma-web-docs/package.json
  website/plasma-website/package.json
  website/sdds-cs-docs/package.json
  website/sdds-dfa-docs/package.json
  website/sdds-insol-docs/package.json
  website/sdds-serv-docs/package.json
Due: prettier --write --parser json

Update package-lock.json files
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
Due: prettier --write --parser json

feat(plasma-new-hope): add autoUpdate in FloatingPopover
  packages/plasma-new-hope/src/components/Autocomplete/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Combobox/ComboboxNew/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Dropdown/FloatingPopover.tsx
  packages/plasma-new-hope/src/components/Select/FloatingPopover.tsx
Due: eslint --fix, prettier --write, stylelint

feat(*): Add read only to Select
  packages/plasma-b2c/src/components/Select/Select.config.ts
  packages/plasma-b2c/src/components/Select/Select.stories.tsx
  packages/plasma-giga/src/components/Select/Select.config.ts
  packages/plasma-giga/src/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/components/Select/Select.tokens.ts
  packages/plasma-new-hope/src/components/Select/Select.tsx
  packages/plasma-new-hope/src/components/Select/Select.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/Target.types.ts
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.styles.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.tsx
  packages/plasma-new-hope/src/components/Select/ui/Target/ui/Textfield/Textfield.types.ts
  packages/plasma-new-hope/src/components/TextField/variations/_read-only/base.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Select/Select.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Select/Select.stories.tsx
  packages/plasma-web/src/components/Select/Select.config.ts
  packages/plasma-web/src/components/Select/Select.stories.tsx
  packages/sdds-cs/src/components/Select/Select.config.ts
  packages/sdds-cs/src/components/Select/Select.stories.tsx
  packages/sdds-dfa/src/components/Select/Select.config.ts
  packages/sdds-dfa/src/components/Select/Select.stories.tsx
  packages/sdds-finportal/src/components/Select/Select.config.ts
  packages/sdds-finportal/src/components/Select/Select.stories.tsx
  packages/sdds-insol/src/components/Select/Select.config.ts
  packages/sdds-insol/src/components/Select/Select.stories.tsx
  packages/sdds-serv/src/components/Select/Select.config.ts
  packages/sdds-serv/src/components/Select/Select.stories.tsx
Due: eslint --fix, prettier --write, stylelint

feat: card api preview
  packages/plasma-new-hope/src/components/Card/Card.api.mdx
Due: none

feat(plasma-new-hope): add renderFromDate prop to Calendar
  packages/plasma-new-hope/src/components/Calendar/Calendar.types.ts
  packages/plasma-new-hope/src/components/Calendar/CalendarBase/CalendarBase.tsx
  packages/plasma-new-hope/src/components/Calendar/CalendarDouble/CalendarDouble.tsx
  packages/plasma-new-hope/src/components/Calendar/store/reducer.ts
  packages/plasma-new-hope/src/components/DatePicker/DatePickerBase.types.ts
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDate.tsx
  packages/plasma-new-hope/src/components/DatePicker/RangeDate/RangeDatePopover/RangeDatePopover.tsx
  packages/plasma-new-hope/src/components/DatePicker/SingleDate/SingleDate.tsx
  packages/plasma-new-hope/src/examples/plasma_b2c/components/DatePicker/DatePicker.stories.tsx
  packages/plasma-new-hope/src/examples/plasma_web/components/DatePicker/DatePicker.stories.tsx
Due: eslint --fix, prettier --write, stylelint

ci(deploy): add max_old_space_size for Nodejs
  .github/workflows/documentation-deploy-common.yml
  .github/workflows/documentation-deploy-release-branch.yml
Due: none

feat(*): add set lines to switch description
  packages/plasma-b2c/api/plasma-b2c.api.md
  packages/plasma-b2c/src/components/Switch/Switch.config.ts
  packages/plasma-giga/api/plasma-giga.api.md
  packages/plasma-giga/src/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/components/Switch/Switch.styles.ts
  packages/plasma-new-hope/src/components/Switch/Switch.tokens.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/examples/plasma_b2c/components/Switch/Switch.outline.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.config.ts
  packages/plasma-new-hope/src/examples/plasma_web/components/Switch/Switch.outline.config.ts
  packages/plasma-web/api/plasma-web.api.md
  packages/plasma-web/src/components/Switch/Switch.config.ts
  packages/sdds-cs/api/sdds-cs.api.md
  packages/sdds-cs/src/components/Switch/Switch.config.ts
  packages/sdds-dfa/api/sdds-dfa.api.md
  packages/sdds-dfa/src/components/Switch/Switch.config.ts
  packages/sdds-finportal/api/sdds-finportal.api.md
  packages/sdds-finportal/src/components/Switch/Switch.config.ts
  packages/sdds-insol/api/sdds-insol.api.md
  packages/sdds-insol/src/components/Switch/Switch.config.ts
  packages/sdds-serv/api/sdds-serv.api.md
  packages/sdds-serv/src/components/Switch/Switch.config.ts
Due: eslint --fix, prettier --write, prettier --write --parser markdown

chore: Update package-lock.json files [skip ci]
  packages/plasma-asdk/package-lock.json
  packages/plasma-b2c/package-lock.json
  packages/plasma-core/package-lock.json
  packages/plasma-giga/package-lock.json
  packages/plasma-hope/package-lock.json
  packages/plasma-new-hope/package-lock.json
  packages/plasma-ui/package-lock.json
  packages/plasma-web/package-lock.json
  packages/sdds-cs/package-lock.json
  packages/sdds-dfa/package-lock.json
  packages/sdds-finportal/package-lock.json
  packages/sdds-insol/package-lock.json
  packages/sdds-serv/package-lock.json
  utils/plasma-cy-utils/package-lock.json
  utils/plasma-sb-utils/package-lock.json
Due: prettier --write --parser json

chore: Update CHANGELOG.md [skip ci]
  packages/plasma-asdk/CHANGELOG.md
  packages/plasma-b2c/CHANGELOG.md
  packages/plasma-giga/CHANGELOG.md
  packages/plasma-new-hope/CHANGELOG.md
  packages/plasma-ui/CHANGELOG.md
  packages/plasma-web/CHANGELOG.md
  packages/sdds-cs/CHANGELOG.md
  packages/sdds-dfa/CHANGELOG.md
  packages/sdds-finportal/CHANGELOG.md
  packages/sdds-insol/CHANGELOG.md
  packages/sdds-serv/CHANGELOG.md
Due: prettier --write --parser markdown

ci(teammates): delete member denivladislav [no ci]
  .github/teammates.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
